<div id="chart-filters" ng-show="chartData.filterData && quickFilterInUse">
    <input-button type="icon" ng-click="filtersVisible = !filtersVisible">
        <i class="material-icons" aria-hidden="true" ng-style="{'color': filterActive ? '#e5d16f' : 'black' }">filter_list</i>
    </input-button>

    <div class="row" ng-show="filtersVisible">
        <div ng-repeat="filter in chartData.filterData track by $index" class="col">
            <div ng-if="filter.columnInfo.DataType==5 || filter.columnInfo.SubDataType==5">
                <input-smart type="process"
                             process="{{filter.columnInfo.DataAdditional}}"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             chip="true"
                             portfolio-id="{{filter.selector}}"
                             model="filterData[filter.columnInfo.Name]"
                             manual-save>
                </input-smart>
            </div>
            <div ng-if="filter.columnInfo.DataType==6 || filter.columnInfo.SubDataType==6">
                <input-smart type="multiselect"
                             model="filterData[filter.columnInfo.Name]"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             watch-options="true"
                             options="filter.listData"
                             option-value="item_id"
                             option-name="list_item"
                             manual-save>
                </input-smart>
            </div>
        </div>
    </div>
</div>
<div ng-if="showVisuals" style="text-align:center">
    <ul ng-repeat="row in circularUlData  track by $index" style="text-align:center;grid-template-columns: repeat(7, {{ulWidth}}px);">
        <li><circular-progress ng-if="::hasData(row[0]);" height="200" value="row[0].value1" value2="formatVal2(row[0].value2)" suffix="{{row[0].suffix}}" title="{{row[0].title}}" precision="{{row[0].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
        <li><circular-progress ng-if="::hasData(row[1]);" height="200" value="row[1].value1" value2="formatVal2(row[1].value2)" suffix="{{row[1].suffix}}" title="{{row[1].title}}" precision="{{row[1].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
        <li><circular-progress ng-if="::hasData(row[2]);" height="200" value="row[2].value1" value2="formatVal2(row[2].value2)" suffix="{{row[2].suffix}}" title="{{row[2].title}}" precision="{{row[2].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
        <li><circular-progress ng-if="::hasData(row[3]);" height="200" value="row[3].value1" value2="formatVal2(row[3].value2)" suffix="{{row[3].suffix}}" title="{{row[3].title}}" precision="{{row[3].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
        <li><circular-progress ng-if="::hasData(row[4]);" height="200" value="row[4].value1" value2="formatVal2(row[4].value2)" suffix="{{row[4].suffix}}" title="{{row[4].title}}" precision="{{row[4].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
        <li ng-if="isWide"><circular-progress ng-if="::hasData(row[5]);" height="200" value="row[5].value1" value2="formatVal2(row[5].value2)" suffix="{{row[5].suffix}}" title="{{row[5].title}}" precision="{{row[5].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
        <li ng-if="isWide"><circular-progress ng-if="::hasData(row[6]);" height="200" value="row[6].value1" value2="formatVal2(row[6].value2)" suffix="{{row[6].suffix}}" title="{{row[6].title}}" precision="{{row[6].precision}}" class="flex" font-size="24" style="text-align: center;"></li>
    </ul>
</div>