<div class="title" ng-if="header">{{header}}</div>
<div class="cells">
	<div ng-repeat="cell in value"
	     ng-style="{'width' : cellWidth, 'height': cellHeight, 'background-color': getStatus(cell), 'margin-left': isMonday(cell.Date) && $index > 0 ? '4px' : '0px'}"
	     title="{{getTooltip(cell)}}">
		<div class="monday" ng-if="isMonday(cell.Date) && $index < value.length - 3">Mon {{fd(cell.Date, true)}}</div>
	</div>
</div>
<div class="footer" ng-if="footer">
	<div class="footer-item">
		<div ng-style="{'background-color': getStatus(null,1)}"></div>
		<span translate="QUICK_WEEKEND"></span>
	</div>
	<div class="footer-item">
		<div ng-style="{'background-color': getStatus(null,2)}"></div>
		<span translate="QUICK_VACATION"></span>
	</div>
	<div class="footer-item">
		<div ng-style="{'background-color': getStatus(null,3)}"></div>
		<span>&lt; 75%</span>
	</div>
	<div class="footer-item">
		<div ng-style="{'background-color': getStatus(null,5)}"></div>
		<span>&ge; 75%</span>
	</div>
	<div class="footer-item">
		<div ng-style="{'background-color': getStatus(null,4)}"></div>
		<span>&ge; 100%</span>
	</div>
</div>