<div id="chart-filters" ng-show="zoomInUse || (chartData.filterData && quickFilterInUse)">
	<input-button type="icon" ng-click="filtersVisible = !filtersVisible">
		<i class="material-icons" aria-hidden="true" ng-style="{'color': filterActive ? '#e5d16f' : 'black' }">filter_list</i>
	</input-button>
	<div class="row" ng-show="filtersVisible && zoomInUse">
		<div class="col" ng-show="zoomInUse && dateMode!=1 && dataType == 3">
			<input-smart type="multiselect"
			             model="filterData.yearSelection"
			             modify="true"
			             label="CHART_MIXED_YEAR"
			             on-change="zoomChanged(1)"
			             options="zoomYears"
			             option-value="value"
			             option-name="name"
			             manual-save>
			</input-smart>
		</div>
		<div class="col" ng-show="zoomInUse && dateMode!=1 && dataType == 3 && dateMode != 5">
			<input-smart type="multiselect"
			             model="filterData.secondaryTimeSelection"
			             modify="secondaryTimeSelectionModify"
			             on-change="zoomChanged(2)"
			             label="{{secondaryTimeSelectionTitle}}"
			             watch-options="true"
			             options="zoomLevel2"
			             option-value="value"
			             option-name="name"
			             manual-save>
			</input-smart>
		</div>
		<div style="" ng-show="zoomInUse && dateMode==1">
			<div class="row" style="justify-content: flex-end">
				<div class="col">
					<input-smart
							type="daterange"
							label="Day range"
							model-start="filterData.dayModeStart"
							model-end="filterData.dayModeEnd"
							modify="edit"
							on-change="dayZoomChanged">
					</input-smart>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="filtersVisible">
		<div ng-repeat="filter in chartData.filterData track by $index" class="col">
			<div ng-if="filter.columnInfo.DataType==5 || filter.columnInfo.SubDataType==5">
				<input-smart type="process"
				             process="{{filter.columnInfo.DataAdditional}}"
				             modify="true"
				             on-change="filterChanged"
				             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
				             chip="true"
				             portfolio-id="{{filter.selector}}"
				             model="filterData[filter.columnInfo.Name]"
				             manual-save>
				</input-smart>
			</div>
			<div ng-if="filter.columnInfo.DataType==6 || filter.columnInfo.SubDataType==6">
				<input-smart type="multiselect"
				             model="filterData[filter.columnInfo.Name]"
				             modify="true"
				             on-change="filterChanged"
				             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
				             watch-options="true"
				             options="filter.listData"
				             option-value="item_id"
				             option-name="list_item"
				             manual-save>
				</input-smart>
			</div>
		</div>
	</div>
</div>

<div>
	<canvas id="{{id}}" class="chart-base" chart-type="chartType" chart-colors="mixedColors" chart-data="mixedData"
	        chart-labels="mixedLabels" chart-options="mixedOptions" chart-dataset-override="mixedDatasetOverride"
	        height='{{height}}'></canvas>
</div>
<div class="chart-legend-container" bind-html-compile="legend"></div>
<div ng-show="showTable" style="margin-left: 2px;">
	<table-container>
		<table materialize>
			<!--<thead>-->
			<tr>
				<th>{{tableName}}</th>
				<th style="text-align:right" ng-repeat="label in tableLabels track by $index">{{label}}</th>
			</tr>
			<!--</thead>-->
			<tbody>
			<tr ng-repeat="values in tableData track by $index">
				<td style="background:{{tableCellStyleColor($index)}}">{{categoryNames[$index]}}</td>
				<td style="text-align:right;background:{{tableCellStyleColor($parent.$index)}}" ng-click="openFilteredPortfolio($parent.$index, $index)"
				    ng-repeat="val in values track by $index">
					{{tableFormatter(val, decimalNumbersPerItem[$parent.$index], $parent.$index)}}
				</td>
			</tr>
			</tbody>

		</table>
	</table-container>
</div>