<div id="chart-filters" ng-show="chartData.filterData && quickFilterInUse">
    <input-button type="icon" ng-click="filtersVisible = !filtersVisible">
        <i class="material-icons" aria-hidden="true" ng-style="{'color': filterActive ? '#e5d16f' : 'black' }">filter_list</i>
    </input-button>

    <div class="row" ng-show="filtersVisible">
        <div ng-repeat="filter in chartData.filterData track by $index" class="col">
            <div ng-if="filter.columnInfo.DataType==5 || filter.columnInfo.SubDataType==5">
                <input-smart type="process"
                             process="{{filter.columnInfo.DataAdditional}}"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             chip="true"
                             portfolio-id="{{filter.selector}}"
                             model="filterData[filter.columnInfo.Name]"
                             manual-save>
                </input-smart>
            </div>
            <div ng-if="filter.columnInfo.DataType==6 || filter.columnInfo.SubDataType==6">
                <input-smart type="multiselect"
                             model="filterData[filter.columnInfo.Name]"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             watch-options="true"
                             options="filter.listData"
                             option-value="item_id"
                             option-name="list_item"
                             manual-save>
                </input-smart>
            </div>
        </div>
    </div>
</div>
<div>
    <canvas id="{{id}}" class="chart-base" chart-type="chartType" chart-colors="multiListColors" chart-data="multiListData" chart-series="multiListSeries" chart-labels="multiListLabels" chart-options="multiListOptions" chart-dataset-override="multiListDatasetOverride" height='{{height}}'></canvas>
</div>
<div class="chart-legend-container" bind-html-compile="legend"></div>