<div>
        <canvas id="col" class="chart-bubble" chart-colors="bubbleColors" chart-data="bubbleData" chart-options="bubbleOptions" chart-series="bubbleSeries" chart-labels="bubbleXLabels"></canvas>
</div>