<div id="chart-filters" ng-show="chartData.filterData && quickFilterInUse">
    <input-button type="icon" ng-click="filtersVisible = !filtersVisible">
        <i class="material-icons" aria-hidden="true" ng-style="{'color': filterActive ? '#e5d16f' : 'black' }">filter_list</i>
    </input-button>

    <div class="row" ng-show="filtersVisible">
        <div ng-repeat="filter in chartData.filterData track by $index" class="col">
            <div ng-if="filter.columnInfo.DataType==5 || filter.columnInfo.SubDataType==5">
                <input-smart type="process"
                             process="{{filter.columnInfo.DataAdditional}}"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             chip="true"
                             portfolio-id="{{filter.selector}}"
                             model="filterData[filter.columnInfo.Name]"
                             manual-save>
                </input-smart>
            </div>
            <div ng-if="filter.columnInfo.DataType==6 || filter.columnInfo.SubDataType==6">
                <input-smart type="multiselect"
                             model="filterData[filter.columnInfo.Name]"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             watch-options="true"
                             options="filter.listData"
                             option-value="item_id"
                             option-name="list_item"
                             manual-save>
                </input-smart>
            </div>
        </div>
    </div>
</div>
    <div id="pivotDiv" style="{{::getMaxWidth()}}">
        <table id="{{::tableId}}" class="pivot-table" materialize>
            <thead>
                <tr class="header">
                    <th></th>
                    <th style="{{::formatColumnCell(1,$index,x.item,x);}}" colspan="{{::columnSpanBylevel(1,$index)}}" ng-repeat="x in axisData.xItems1.labels track by $index">
                        <div tooltip="{{::getLabel(1,x)}}" style="overflow: hidden;width:{{::columnWidth}}px" ng-if="xLevel==1">{{::getLabel(1,x)}} </div>
                        <span tooltip="{{::getLabel(1,x)}}" style="overflow: hidden;width:{{::upperColumnWidth(1,$index)}}px;display:inline-block;" ng-if="xLevel!=1">{{::getLabel(1,x)}} </span>
                    </th>
                    <td tooltip="{{::totalSumName}}" class="sum" ng-if="xLevel==1 && yLevelSumInUse==1"><div style="width:{{::columnWidth}}px;overflow: hidden;">{{::totalSumName}}</div></td>
                    <th ng-if="xLevel!=1 && yLevelSumInUse==1"><div style="width:{{::columnWidth}}px;overflow: hidden;"></div></th>
                    <th class="align-center" ng-if="groupSumNames.length>0 && xLevel==2" colspan="{{groupSumNames.length}}">
                        <div class="align-center" tooltip="{{::totalSumName}}" style="overflow: hidden;">{{::totalSumName}}</div>
                    </th>
                <tr class="header" ng-if="axisData.level2XColumns>0">
                    <th><div style="width:{{::columnWidth}}px;overflow: hidden;"></div></th>
                    <th style="{{::formatColumnCell(2,$index,x.item,x.topLevelIndex);}}" colspan="{{::columnSpanBylevel(2,$index)}}" ng-repeat="x in axisData.level2XLabels track by $index">
                        <div style="overflow: hidden;width:{{::columnWidth}}px" tooltip="{{::getLabel(2,x.item)}}" ng-if="xLevel==2">{{::getLabel(2,x.item)}} </div>
                        <span style="overflow: hidden;width:{{::upperColumnWidth(2,$index)}}px;display:inline-block;" tooltip="{{::getLabel(2,x.item)}}" ng-if="xLevel!=2">{{::getLabel(2,x.item)}} </span>
                    </th>
                    <td tooltip="{{::totalSumName}}" style="overflow: hidden;width:{{::columnWidth}}px" class="sum" ng-if="xLevel==2 && yLevelSumInUse==1"><div style="width:{{::columnWidth}}px;overflow: hidden;">{{::totalSumName}}</div></td>
                    <th style="overflow: hidden;width:{{::columnWidth}}px" ng-if="xLevel!=2 && yLevelSumInUse==1"><div style="width:{{::columnWidth}}px;overflow: hidden;"></div></th>
                    <th class="align-center" ng-if="groupSumNames.length>0 && xLevel==3" colspan="{{groupSumNames.length}}">
                        <div class="align-center" tooltip="{{::'CHART_COMMON_SUM' | translate}}" style="overflow: hidden;">{{::'CHART_COMMON_SUM' | translate}}</div>
                    </th>
                    <th ng-repeat="name in groupSumNames track by $index" ng-if="groupSumNames.length>0 && xLevel==2">
                        <div tooltip="{{name}}" style="overflow: hidden;width:{{::columnWidth}}px">{{name}}</div>
                    </th>
                </tr>
                <tr class="header" ng-if="axisData.level3XColumns>0">
                    <th><div style="width:{{::columnWidth}}px;overflow: hidden;"></div></th>
                    <th style="{{::formatColumnCell(3,$index,x.item,x.topLevelIndex);}}" colspan="1" ng-repeat="x in axisData.level3XLabels track by $index">
                        <div tooltip="{{::getLabel(3,x.item)}}" style="overflow: hidden;width:{{::columnWidth}}px" ng-if="xLevel==3">{{::getLabel(3,x.item)}} </div>
                        <span tooltip="{{::getLabel(3,x.item)}}" style="overflow: hidden;width:{{::columnWidth}}px;display:inline-block;" ng-if="xLevel!=3">{{::getLabel(3,x.item)}} </span>
                    </th>
                    <td tooltip="{{::totalSumName}}" class="sum" ng-if="xLevel==3 && yLevelSumInUse==1"><div style="width:{{::columnWidth}}px;overflow: hidden;">{{::totalSumName}}</div></td>
                    <th ng-repeat="name in groupSumNames track by $index" ng-if="groupSumNames.length>0 && xLevel==3">
                        <div tooltip="{{name}}" style="overflow: hidden;width:{{::columnWidth}}px" >{{name}}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="y in axisData.yLabels">
                    <td style="white-space: nowrap" class="title"> <div style="width:{{::maxYLabelWidth}}">{{::y.label}}</div></td>
                    <td style="{{::formatCell(v)}}" ng-click="openPortfolio(v.ids);" ng-repeat="v in y.values track by $index">
                        <div tooltip="{{::setFormat(v.originalValue/v.count)}}" style="font-weight:500;width:{{::columnWidth}}px;overflow: hidden;">{{::setFormat(v.originalValue/v.count)}}</div>
                    </td>
                    <td ng-click="openPortfolio(y.totalIds);" ng-if="yLevelSumInUse==1">
                        <div tooltip="{{::setFormat(y.sum)}}" style="font-weight:500;width:{{::columnWidth}}px;overflow: hidden;">{{::setFormat(y.sum)}}</div>
                    </td>
                    <td ng-repeat="gs in groupSum[$index]" ng-click="openPortfolio(gs.ids);" ng-if="yLevelSumInUse==2 && xLevel>1">
                        <div tooltip="{{::setFormat(gs.value)}}" style="font-weight:500;width:{{::columnWidth}}px;overflow: hidden;">{{::setFormat(gs.value)}}</div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-if="xLevelSumInUse==1">
                    <td class="border-solid title"><div style="width:{{::maxYLabelWidth}}px;overflow: hidden;">{{::totalSumName}}</div></td>
                    <td style="{{::formatSumRowCell($index)}}" ng-click="openPortfolio(sumRowIds[$index]);" class="border-solid" ng-repeat="x in sumRowValues track by $index">
                        <div tooltip="{{::setFormat(x)}}" style="overflow: hidden;width:{{::columnWidth}}px">{{::setFormat(x)}}</div>
                    </td>
                    <td ng-click="openPortfolio(yTotalIds);" class="border-solid" ng-if="yLevelSumInUse==1">
                        <div tooltip="{{::setFormat(yTotalSum)}}" style="width:{{::columnWidth}}px;overflow: hidden;">{{::setFormat(yTotalSum)}}</div>
                    </td>
                    <td ng-repeat="gXs in groupXSum" class="border-solid" ng-click="openPortfolio(gXs.ids);" ng-if="yLevelSumInUse==2 && xLevel>1">
                        <div tooltip="{{::setFormat(gXs.value)}}" style="font-weight:500;width:{{::columnWidth}}px;overflow: hidden;">{{::setFormat(gXs.value)}}</div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
