<div id="chart-filters" ng-show="zoomInUse==1 || showCostCenterFilter || showCompetencyFilter || showQuickFilters">
    <input-button type="icon" ng-click="filtersVisible = !filtersVisible">
        <i class="material-icons" aria-hidden="true" ng-style="{'color': filterActive ? '#e5d16f' : 'black' }">filter_list</i>
    </input-button>
    <div class="row" ng-show="filtersVisible">
        <div ng-show="showCostCenterFilter" class="col" style="width:180px;">
            <input-smart type="multiselect"
                         model="filterData.costCenters"
                         modify="true"
                         placeholder="CHART_RECOURSE_COST_CENTER"
                         watch-options="true"
                         on-change="filterChanged"
                         options="costCenterOptions"
                         option-value="item_id"
                         option-name="{{costCenterNameField}}"
                         minimal="true"
                         manual-save>
            </input-smart>
        </div>
        <div ng-show="showCompetencyFilter" class="col" style="width:180px;">
            <input-smart type="multiselect"
                         model="filterData.competencies"
                         modify="true"
                         placeholder="CHART_RECOURSE_COMPETENCE"
                         watch-options="true"
                         on-change="filterChanged"
                         options="competencyOptions"
                         option-value="item_id"
                         option-name="name"
                         minimal="true"
                         manual-save>
            </input-smart>
        </div>
        <div ng-show="zoomInUse==1" class="col" style="width:140px;margin-right:24px;">
            <input-smart type="multiselect"
                         model="filterData.yearSelection"
                         modify="true"
                         placeholder="CHART_MIXED_YEAR"
                         watch-options="true"
                         on-change="zoomChanged(1)"
                         options="yearArr"
                         option-value="value"
                         option-name="name"
                         minimal="true"
                         manual-save>
            </input-smart>
        </div>
        <div class="col" style="width:140px;" ng-show="dateType!=3 && zoomInUse==1">
            <input-smart type="multiselect"
                         model="filterData.secondaryTimeSelection"
                         modify="true"
                         on-change="zoomChanged(2)"
                         placeholder="{{secondaryTimeSelectionTitle}}"
                         watch-options="true"
                         options="timeLevel2"
                         option-value="value"
                         option-name="name"
                         minimal="true"
                         manual-save>
            </input-smart>
        </div>
    </div>
    <div class="row" ng-show="filtersVisible">
        <div ng-repeat="filter in chartData.filterData track by $index" class="col">
            <div ng-if="filter.columnInfo.DataType==5 || filter.columnInfo.SubDataType==5">
                <input-smart type="process"
                             process="{{filter.columnInfo.DataAdditional}}"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             chip="true"
                             portfolio-id="{{filter.selector}}"
                             model="filterData[filter.columnInfo.Name]"
                             manual-save>
                </input-smart>
            </div>
            <div ng-if="filter.columnInfo.DataType==6 || filter.columnInfo.SubDataType==6">
                <input-smart type="multiselect"
                             model="filterData[filter.columnInfo.Name]"
                             modify="true"
                             on-change="filterChanged"
                             label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
                             watch-options="true"
                             options="filter.listData"
                             option-value="item_id"
                             option-name="list_item"
                             manual-save>
                </input-smart>
            </div>
        </div>
    </div>
</div>
<div>
    <canvas id="{{id}}" class="chart-base" chart-type="chartType" chart-colors="resourceLoadColors" chart-data="resourceLoadData" chart-series="resourceLoadSeries" chart-labels="resourceLoadLabels" chart-options="resourceLoadOptions" chart-dataset-override="resourceLoadDatasetOverride" height='{{height}}'></canvas>
</div>
<div class="chart-legend-container" bind-html-compile="legend"></div>