<div ng-controller="DashboardChartBasicConfigController">

	<tabs modify="false" move="false" ng-if="selections.chartType" style="max-width: 800px">
		<tab label="Data Source">
			<table materialize>
				<tr>
					<th style="width:120px">
						<div translate="OPTION"></div>
					</th>
					<th>
						<div translate="VALUE"></div>
					</th>
					<th>
						<div translate="FIELD"></div>
					</th>
					<th>{{::'DASHBOARD_PIVOT_SHOW_SUM' | translate}}</th>
					<th>{{::'DASHBOARD_PIVOT_SHOW_UNDEFINED' | translate}}</th>
					<th>{{::'DASHBOARD_PIVOT_SHOW_ALL' | translate}}</th>
				</tr>
				<tr>
					<td>{{::'CHART_COMMON_X_AXIS' | translate}}</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.xAxisLevel1"
						                   on-change="axisSelectionChanged(1)"
						                   modify="true"
						                   watch-options="true"
						                   options="pivotXAxisOptions1"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.xAxisLevel1Extra"
						                   modify="true"
						                   watch-options="true"
						                   options="xAxisLevel1ExtraOptions"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.showSumX1"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowUndefinedX1"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowAllItemsX1"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
				</tr>
				<tr ng-show="selections.pivotCommon.xAxisLevel1!=null && selections.pivotCommon.xAxisLevel1.length>0">
					<td>{{::'CHART_COMMON_X_AXIS' | translate}} {{" level 2"}}</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.xAxisLevel2"
						                   on-change="axisSelectionChanged(2)"
						                   modify="true"
						                   watch-options="true"
						                   options="pivotXAxisOptions2"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.xAxisLevel2Extra"
						                   modify="true"
						                   watch-options="true"
						                   options="xAxisLevel2ExtraOptions"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.showSumX2"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowUndefinedX2"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowAllItemsX2"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
				</tr>
				<tr ng-show="selections.pivotCommon.xAxisLevel2!=null && selections.pivotCommon.xAxisLevel2.length>0">
					<td>{{::'CHART_COMMON_X_AXIS' | translate}} {{" level 3"}}</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.xAxisLevel3"
						                   on-change="axisSelectionChanged(3)"
						                   modify="true"
						                   watch-options="true"
						                   options="pivotXAxisOptions3"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.xAxisLevel3Extra"
						                   modify="true"
						                   watch-options="true"
						                   options="xAxisLevel3ExtraOptions"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.showSumX3"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowUndefinedX3"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowAllItemsX3"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
				</tr>
				<tr>
					<td>{{::'CHART_COMMON_Y_AXIS' | translate}}</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.yAxisLevel1"
						                   on-change="axisSelectionChanged(4)"
						                   modify="true"
						                   watch-options="true"
						                   options="pivotYAxisOptions1"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.yAxisLevel1Extra"
						                   modify="true"
						                   watch-options="true"
						                   options="yAxisLevel1ExtraOptions"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.showSumY1"
						                   modify="true"
						                   watch-options="true"
						                   options="specialSumOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowUndefinedY1"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowAllItemsY1"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
				</tr>
				<tr ng-show="selections.pivotCommon.yAxisLevel1!=null && selections.pivotCommon.yAxisLevel1.length>0">
					<td>{{::'CHART_COMMON_Y_AXIS' | translate}} {{::'CHART_COMMON_LEVEL' | translate}} {{" 2"}}</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.yAxisLevel2"
						                   on-change="axisSelectionChanged(5)"
						                   modify="true"
						                   watch-options="true"
						                   options="pivotYAxisOptions2"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.yAxisLevel2Extra"
						                   modify="true"
						                   watch-options="true"
						                   options="yAxisLevel2ExtraOptions"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<!--<input-smart-table type="select"
			model="selections.pivotCommon.showSumY2"
			modify="true"
			watch-options="true"
			options="tableOptions"
			option-value="Value"
			option-name="LanguageTranslation"></input-smart-table>-->
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowUndefinedY2"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowAllItemsY2"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
				</tr>
				<tr ng-show="selections.pivotCommon.yAxisLevel2!=null && selections.pivotCommon.yAxisLevel2.length>0">
					<td>
						{{::'CHART_COMMON_Y_AXIS' | translate }} {{::'CHART_COMMON_LEVEL' | translate}} {{" 3"}}
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.yAxisLevel3"
						                   on-change="axisSelectionChanged(6)"
						                   modify="true"
						                   watch-options="true"
						                   options="pivotYAxisOptions3"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.yAxisLevel3Extra"
						                   modify="true"
						                   watch-options="true"
						                   options="yAxisLevel3ExtraOptions"
						                   unselectable
						                   option-value="Name"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<!--<input-smart-table type="select"
			model="selections.pivotCommon.showSumY3"
			modify="true"
			watch-options="true"
			options="tableOptions"
			option-value="Value"
			option-name="LanguageTranslation"></input-smart-table>-->
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowUndefinedY3"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   model="selections.pivotCommon.ShowAllItemsY3"
						                   modify="true"
						                   watch-options="true"
						                   options="tableOptions"
						                   option-value="Value"
						                   option-name="LanguageTranslation"></input-smart-table>
					</td>
				</tr>
			</table>

			<input-smart type="select"
			             model="selections.pivotCommon.value"
			             modify="true"
			             watch-options="true"
			             options="pivotValueOptions"
			             option-value="Name"
			             option-name="LanguageTranslation"
			             label="DASHBOARD_PIVOT_VALUE"
			></input-smart>

			<input-smart type="select"
			             model="selections.pivotCommon.aggregateType"
			             modify="true"
			             watch-options="true"
			             options="aggregateTypes"
			             option-value="Value"
			             option-name="LanguageTranslation"
			             label="DASHBOARD_PIVOT_AGGREGATE"
			></input-smart>

			<input-smart
					ng-show="selections.pivotCommon.aggregateType == 4"
					type="select"
					model="selections.pivotCommon.cumulativeEnd"
					modify="true"
					watch-options="true"
					unselectable
					options="xAxesAllowedCumulatives"
					option-value="Name"
					option-name="LanguageTranslation"
					label="CHART_MIXED_CUMULATIVE_END_DATE"
			>
			</input-smart>
		</tab>
		<tab label="Common">
			<div class="row" style="width:50%">
				<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
				<table materialize>
					<tr>
						<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
						<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
					</tr>
					<tr ng-repeat="obj in filterTable track by $index">
						<td>
							<input-smart-table type="select"
											   model="filterTable[$index].name"
											   on-change="saveQuickFilters"
											   modify="true"
											   unselectable
											   watch-options="true"
											   options="filterSelectionOptions"
											   option-value="Name"
											   option-name="LanguageTranslation">
							</input-smart-table>
						</td>
						<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
					</tr>
				</table>
			</div>
		</tab>

		<tab label="Styling">

			<input-smart label="CHART_COMMON_NUMBER_OF_DECIMALS" type="number" modify="true"
			             model="selections.pivotCommon.decimalNumber"></input-smart>


			<input-smart type="number" modify="true" label="DASHBOARD_PIVOT_COLUMN_WIDTH"
			             model="selections.pivotCommon.columnWidth"></input-smart>

			<input-smart
					label="CHART_MIXED_IGNORE_ZEROS"
					type="select"
					model="selections.pivotCommon.ignoreZeros"
					modify="true"
					watch-options="true"
					options="tableOptions"
					option-value="Value"
					option-name="LanguageTranslation"></input-smart>

			<input-smart
					label="CHART_MIXED_IGNORE_NULLS"
					type="select"
					model="selections.pivotCommon.ignoreNulls"
					modify="true"
					watch-options="true"
					options="tableOptions"
					option-value="Value"
					option-name="LanguageTranslation"></input-smart>

			<input-smart
					label="CHART_CLICKABLE"
					type="select"
					model="selections.pivotCommon.drillDown"
					modify="true"
					watch-options="true"
					options="tableOptions"
					option-value="Value"
					option-name="LanguageTranslation"></input-smart>

			<input-smart
					label="DASHBOARD_PIVOT_EXCEL_IN_USE"
					type="select"
					model="selections.pivotCommon.excelInUse"
					modify="true"
					watch-options="true"
					options="tableOptions"
					option-value="Value"
					option-name="LanguageTranslation"></input-smart>
				
		</tab>
	</tabs>
</div>
