<div ng-controller="DashboardChartBasicConfigController">
	<tabs modify="false" ng-if="selections.chartType" style="max-width: 800px">
		<tab label="Data Source">
			<div class="row">
				<div class="col-xs-12 col-lg-12" style="width: 100%">
					<div style="display: flex; justify-content: space-between;" ng-show="!selections.groupResults">
						<input-smart ng-show="chartOptions.valueFields.Values"
						             type="select"
						             model="selections.labelField"
						             modify="true"
						             on-change="mainFieldChanged"
						             on-change-parameters="'label'"
						             watch-options="true"
						             options="selectionOptions.listOptions"
						             option-value="Name"
						             option-name="LanguageTranslation"
						             label="DASHBOARD_CHART_HORIZONTAL_FIELD"
						             style="width:49%;"
						></input-smart>
						<input-smart ng-show="labelFieldProperties"
						             type="select"
						             model="selections.labelFieldProperty"
						             modify="true"
						             options="labelFieldProperties"
						             watch-options="true"
						             option-value="Name"
						             option-name="LanguageTranslation"
						             style="width:49%;"
						             label="Field"
						></input-smart>
					</div>

					<div style="display: flex; justify-content: space-between;"
					     ng-show="!selections.groupResults || selections.groupWithFunction.indexOf('sum') > -1">
						<input-smart ng-if="chartOptions.valueFields.Values"
						             type="select"
						             model="selections.valueField"
						             modify="true"
						             on-change="mainFieldChanged"
						             on-change-parameters="'value'"
						             options="selectionOptions.listOptions"
						             watch-options="true"
						             option-value="Name"
						             option-name="LanguageTranslation"
						             style="width:49%;"
						             label="DASHBOARD_CHART_VERTICAL_FIELD"
						></input-smart>
						<input-smart ng-show="valueFieldProperties"
						             type="select"
						             model="selections.valueFieldProperty"
						             modify="true"
						             options="valueFieldProperties"
						             watch-options="true"
						             option-value="Name"
						             option-name="LanguageTranslation"
						             style="width:49%;"
						             label="Field"
						></input-smart>
					</div>

					<div style="display: flex; justify-content: space-between;"
					     ng-show="!selections.groupResults || selections.groupWithFunction.indexOf('sum') > -1">
						<input-smart ng-if="chartOptions.valueFields.Values"
						             type="select"
						             model="selections.value2Field"
						             modify="true"
						             unselectable
						             options="selectionOptions.radiusOptions"
						             watch-options="true"
						             option-value="Name"
						             option-name="LanguageTranslation"
						             label="DASHBOARD_CHART_RADIUS_FIELD"
						             style="width: 49%;"
						></input-smart>
					</div>

					<div style="display: flex; justify-content: space-between;">
						<input-smart ng-show="chartOptions.labelFields.Values"
						             type="select"
						             model="selections.nameField"
						             modify="true"
						             on-change="mainFieldChanged"
						             on-change-parameters="'name'"
						             options="selectionOptions.nameListOptions"
						             watch-options="true"
						             option-value="Name"
						             option-name="LanguageTranslation"
						             label="DASHBOARD_CHART_NAME_FIELD"
						             style="width: 49%"
						></input-smart>
						<input-smart ng-show="nameFieldProperties"
						             type="select"
						             model="selections.nameFieldProperty"
						             modify="true"
						             options="nameFieldProperties"
						             watch-options="true"
						             option-value="Name"
						             option-name="LanguageTranslation" label="Field"
						             style="width: 49%"
						>
						</input-smart>
					</div>
				</div>
			</div>
		</tab>
		<tab label="Common">
			<div>
				<div class="row" style="padding-left:8px;width:60%">
					<input-smart type="translation" model="selections.xAxisLabel" style="width: 70%;"
								 label="DASHBOARD_CHART_X_LABEL"></input-smart>
					<input-smart type="checkbox" model="selections.showXAxisLabel" style="width: 30%;"
								 label="DASHBOARD_CHART_SHOW"></input-smart>
				</div>

				<div class="row" style="padding-left:8px;width:60%">
					<input-smart type="translation" model="selections.yAxisLabel" style="width: 70%;"
								 label="DASHBOARD_CHART_Y_LABEL"></input-smart>
					<input-smart type="checkbox" model="selections.showYAxisLabel" style="width: 30%;"
								 label="DASHBOARD_CHART_SHOW"></input-smart>
				</div>
			</div>
			<div class="row" style="width:50%">
				<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
				<table materialize>
					<tr>
						<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
						<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
					</tr>
					<tr ng-repeat="obj in filterTable track by $index">
						<td>
							<input-smart-table type="select"
											   model="filterTable[$index].name"
											   on-change="saveQuickFilters"
											   modify="true"
											   unselectable
											   watch-options="true"
											   options="filterSelectionOptions"
											   option-value="Name"
											   option-name="LanguageTranslation">
							</input-smart-table>
						</td>
						<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
					</tr>
				</table>
			</div>
		</tab>
		<tab label="Styling">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Custom Scaling</container-header>
					<div style="display: flex; justify-content: space-between;">
						<input-smart type="select"
									 model="selections.use_custom_scale"
									 watch-options="true"
									 modify="true"
									 on-change="mainFieldChanged"
									 on-change-parameters="'value2'"
									 options="selectionOptions.YesNoOption"
									 watch-options="true"
									 option-value="value"
									 option-name="LanguageTranslation"
									 label="CHART_COMMON_USE_CUSTOM_SCALE"
									 style="width: 49%"></input-smart>
						<input-smart ng-show="value2FieldProperties"
									 type="select"
									 model="selections.value2FieldProperty"
									 modify="true"
									 options="value2FieldProperties"
									 watch-options="true"
									 option-value="Name"
									 option-name="LanguageTranslation"
									 label="Field"
									 style="width: 49%">
						</input-smart>
					</div>

					<!--					<div translate="CHART_COMMON_X_AXIS_SCALE" style="margin-top:46px;"-->
					<!--					     ng-show="selections.use_custom_scale==1"></div>-->
					<div style="display: flex; justify-content: space-between;"
						 ng-show="selections.use_custom_scale==1">
						<input-number modify="true" precision="2"
									  model="selections.x_axis_min"
									  label="X-Axis {{::'CHART_COMMON_MIN' |translate}}" style="width: 32%;"></input-number>

						<input-number modify="true" precision="2"
									  model="selections.x_axis_max"
									  label="{{::'CHART_COMMON_MAX' |translate}}" style="width: 32%;"></input-number>

						<input-number modify="true" precision="2"
									  model="selections.x_step_size"
									  label="{{::'CHART_COMMON_STEP_SIZE' |translate}}"
									  style="width: 32%;"></input-number>
					</div>


					<!--					<div translate="CHART_COMMON_Y_AXIS_SCALE" style="margin-top:46px;"-->
					<!--					     ng-show="selections.use_custom_scale==1"></div>-->
					<div style="display: flex; justify-content: space-between;"
						 ng-show="selections.use_custom_scale==1">
						<input-number modify="true" precision="2"
									  model="selections.y_axis_min"
									  label="Y-Axis {{::'CHART_COMMON_MIN' |translate}}" style="width: 32%;"></input-number>

						<input-number modify="true" precision="2"
									  model="selections.y_axis_max"
									  label="{{::'CHART_COMMON_MAX' |translate}}" style="width: 32%;"></input-number>

						<input-number modify="true" precision="2"
									  model="selections.y_step_size"
									  label="{{::'CHART_COMMON_STEP_SIZE' |translate}}"
									  style="width: 32%;"></input-number>
					</div>
					<div>
						<input-smart type="select"
									 model="selections.clickable"
									 modify="true"
									 watch-options="true"
									 options="selectionOptions.YesNoOption"
									 option-value="value"
									 option-name="LanguageTranslation"
									 label="CHART_CLICKABLE">
						</input-smart>
					</div>
					<div ng-show="selections.clickable==1">
						<input-smart type="select"
									 model="selections.clickMode"
									 modify="true"
									 watch-options="true"
									 options="selectionOptions.clickModes"
									 option-value="value"
									 option-name="LanguageTranslation"
									 label="CHART_BUBBLE_CLICK_MODE">
						</input-smart>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<container-header>Auto Scaling</container-header>
					<input-smart type="select"
								 model="selections.autoScale"
								 modify="true"
								 watch-options="true"
								 options="selectionOptions.YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_BUBBLE_AUTO_SCALE">
					</input-smart>
					<input-smart type="select"
								 model="selections.disperse"
								 modify="true"
								 watch-options="true"
								 options="selectionOptions.YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_BUBBLE_DISPERSE">
					</input-smart>
					<container-header style=" margin-top:46px;">Colors & Legend</container-header>
					<div style="display: flex; justify-content: space-between;">
						<input-smart type="select"
									 model="selections.colorList"
									 on-change="colorListChanged"
									 modify="true"
									 watch-options="true"
									 options="selectionOptions.colorListOptions"
									 option-value="Name"
									 unselectable
									 option-name="LanguageTranslation"
									 label="CHART_COMMON_LIST_COLORS"
									 style="width: 49%;">
						</input-smart>
						<input-smart type="select"
									 model="selections.colorListField"
									 modify="true"
									 watch-options="true"
									 options="selectionOptions.colorListFieldOptions"
									 option-value="Name"
									 unselectable
									 option-name="LanguageTranslation"
									 label="Field"
									 style="width: 49%;"></input-smart>
					</div>

					<div style="display: flex; justify-content: space-between;"
						 ng-show="selections.colorList!=null && selections.colorList!=''">
						<input-smart type="select"
									 model="selections.useLegend"
									 modify="true"
									 watch-options="true"
									 options="selectionOptions.YesNoOption"
									 option-value="value"
									 unselectable
									 option-name="LanguageTranslation"
									 label="CHART_BUBBLE_LIST_LEGEND"
									 style="width: 49%;">
						</input-smart>
						<input-smart type="select"
									 model="selections.legendListField"
									 modify="true"
									 watch-options="true"
									 options="selectionOptions.colorListFieldOptions"
									 option-value="Name"
									 unselectable
									 option-name="LanguageTranslation"
									 label="Field"
									 style="width: 49%;"></input-smart>
					</div>
				</div>
			</div>
<!--			<div class="row" >-->
<!--				<div class="col-xs-12 col-lg-6">-->
<!--					-->
<!--				</div>-->
<!--				<div class="col-xs-12 col-lg-6">-->
<!--					<container-header>Threshold</container-header>-->
<!--					-->
<!--				</div>-->
<!--			</div>-->
		</tab>
	</tabs>
</div>
