<div id="chart-filters" ng-show="chartData.filterData && quickFilterInUse">
	<input-button type="icon" ng-click="filtersVisible = !filtersVisible">
		<i class="material-icons" aria-hidden="true" ng-style="{'color': filterActive ? '#e5d16f' : 'black' }">filter_list</i>
	</input-button>

	<div class="row" ng-show="filtersVisible">
		<div ng-repeat="filter in chartData.filterData track by $index" class="col">
			<div ng-if="filter.columnInfo.DataType==5 || filter.columnInfo.SubDataType==5">
				<input-smart type="process"
							 process="{{filter.columnInfo.DataAdditional}}"
							 modify="true"
							 on-change="filterChanged"
							 label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
							 chip="true"
							 portfolio-id="{{filter.selector}}"
							 model="filterData[filter.columnInfo.Name]"
							 manual-save>
				</input-smart>
			</div>
			<div ng-if="filter.columnInfo.DataType==6 || filter.columnInfo.SubDataType==6">
				<input-smart type="multiselect"
							 model="filterData[filter.columnInfo.Name]"
							 modify="true"
							 on-change="filterChanged"
							 label="{{filter.columnInfo.LanguageTranslation[langKey]}}"
							 watch-options="true"
							 options="filter.listData"
							 option-value="item_id"
							 option-name="list_item"
							 manual-save>
				</input-smart>
			</div>
		</div>
	</div>
</div>
<div style="max-height:512px">
	<canvas id="chart-{{data.Id}}-{{chartData.chartType}}"
			class="chart chart-bubble"
			height="{{height}}"
			chart-data="chartData.data.values"
			chart-series="chartData.data.series"
			chart-labels="chartData.data.labels"
			chart-options="chartOptions"
			chart-colors="chartOptions.colors">
	</canvas>
</div>
<div class="chart-legend-container" bind-html-compile="legend" style=""></div>