﻿<div id="financials-directive" class="financials-{{processItemId}}">
    <div ng-if="!read">ACCESS DENIED!</div>

    <table class="main" ng-if="read" materialize table-selected-rows="selectedRows">
        <thead>
            <tr class="title" ng-class="{'one-level-mode':data.one_level_mode}">
                <th colspan="{{data.field_titles.length}}"></th>

                <th class="center border-left" ng-repeat="period in data.periods" colspan="{{period_colspan}}">
                    {{period.title}} <span ng-if="data.scope > 0">{{period.upper_title}}</span>
                </th>
                <th class="center border-left" ng-if="data.show_row_totals==1||data.show_row_totals==3" colspan="{{period_colspan}}">
                    {{'FINANCIALS_YEAR_TOTALS_TITLE' | translate}} {{data.current_year}}
                </th>
                <th class="center border-left" ng-if="data.show_row_totals==2||data.show_row_totals==3" colspan="{{period_colspan}}">
                    {{'FINANCIALS_TOTALS_TITLE' | translate}}
                </th>
                <th class="border-left width-40" ng-if="write&&!data.one_level_mode"></th>
            </tr>
            <tr ng-if="!data.hide_titles" class="title">
                <th ng-if="!data.one_level_mode||(data.one_level_mode&&data.field_titles.length==0)"></th>

                <th ng-repeat="field_title in data.field_titles" style="width:{{field_title.width}}; min-width:{{field_title.width}};">{{field_title.title}}</th>

                <th class="right border-left" ng-repeat-start="period in data.periods" ng-if="read_planned">
                    {{data.planned_title}}
                </th>
                <th class="right" ng-if="read_estimated">{{data.estimated_title}}</th>
                <th class="right" ng-if="read_committed">{{data.committed_title}}</th>
                <th class="right" ng-repeat-end ng-if="read_actual">{{data.actual_title}}</th>

                <th class="right border-left" ng-if="read_planned&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{data.planned_title}}
                </th>
                <th class="right" ng-if="read_estimated&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{data.estimated_title}}
                </th>
                <th class="right" ng-if="read_committed&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{data.committed_title}}
                </th>
                <th class="right" ng-if="read_actual&&(data.show_row_totals==1||data.show_row_totals==3)">{{data.actual_title}}</th>

                <th class="right border-left" ng-if="read_planned&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{data.planned_title}}
                </th>
                <th class="right" ng-if="read_estimated&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{data.estimated_title}}
                </th>
                <th class="right" ng-if="read_committed&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{data.committed_title}}
                </th>
                <th class="right" ng-if="read_actual&&(data.show_row_totals==2||data.show_row_totals==3)">{{data.actual_title}}</th>

                <th class="border-left" ng-if="write&&!data.one_level_mode"></th>
            </tr>
        </thead>
        <tbody ng-repeat="category in data.categories">
            <tr ng-show="!data.one_level_mode" class="category main">
                <td colspan="{{data.field_titles.length + multi_level_mode_colspan}}">{{category.name}}</td>

                <td class="right border-left" ng-repeat-start="period in category.periods" ng-if="read_planned">
                    {{FormatNumber(period.planned_value)}}
                </td>
                <td class="right" ng-if="read_estimated">{{FormatNumber(period.estimated_value)}}</td>
                <td class="right" ng-if="read_committed">{{FormatNumber(period.committed_value)}}</td>
                <td class="right" ng-repeat-end ng-if="read_actual">{{FormatNumber(period.actual_value)}}</td>

                <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(category.year_periods.planned_value)}}
                </td>
                <td class="right" ng-if="read_estimated&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(category.year_periods.estimated_value)}}
                </td>
                <td class="right" ng-if="read_committed&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(category.year_periods.committed_value)}}
                </td>
                <td class="right" ng-if="read_actual&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(category.year_periods.actual_value)}}
                </td>

                <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(category.total_periods.planned_value)}}
                </td>
                <td class="right" ng-if="read_estimated&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(category.total_periods.estimated_value)}}
                </td>
                <td class="right" ng-if="read_committed&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(category.total_periods.committed_value)}}
                </td>
                <td class="right" ng-if="read_actual&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(category.total_periods.actual_value)}}
                </td>

                <td class="border-left" ng-if="write">
                    <input-button type="icon" ng-click="AddRow(category.category_item_id)" tooltip="FINANCIALS_ADD">
                        <i class="material-icons">add</i>
                    </input-button>
                </td>
            </tr>
            <tr ng-repeat="row in category.rows" table-select-row="{'row_item_id': row.row_item_id, 'category_item_id': category.category_item_id}" ng-class="{'hide-checkbox':!delete_row,'one-level-mode':data.one_level_mode}">
                <td ng-show="data.one_level_mode&&data.field_titles.length==0">{{category.name}}</td>

                <td ng-repeat="field in row.fields">
                    <input-smart-table type="{{::data.fields[$index].type}}"
                                       model="field.value"
                                       modify="write && !data.fields[$index].read_only"
                                       label="{{::data.fields[$index].label}}"
                                       on-change="Changed(-1)"
                                       process="{{::data.fields[$index].process}}"
                                       min="{{::data.fields[$index].min}}"
                                       max="{{::data.fields[$index].max}}"
                                       rows="{{::data.fields[$index].rows}}"
                                       precision="{{::data.fields[$index].precision}}"
                                       spellcheck="{{::data.fields[$index].spellcheck}}"
                                       suffix="{{::data.fields[$index].suffix}}"
                                       options="data.fields[$index].list"
                                       option-name="{{::data.fields[$index].option_name}}"
                                       option-value="{{::data.fields[$index].option_value}}"
                                       option-icon="{{::data.fields[$index].option_icon}}"
                                       option-color="{{::data.fields[$index].option_icon_color}}"
                                       ng-attr-singleValue="{{::option.singleValue || undefined}}"
                                       ng-attr-required-field="{{::data.fields[$index].mandatory || undefined}}"
                                       ng-attr-unselectable="{{::data.fields[$index].unselectable || undefined}}"
                                       ng-attr-icon-only="{{::data.fields[$index].show_type || undefined}}"
                                       ng-attr-paren-id="{{::data.fields[$index].parent_id || undefined}}"
                                       ng-attr-date-range="{{::data.fields[$index].date_range || undefined}}"
                                       ng-attr-calendar-connection="{{::data.fields[$index].calendar_connection || undefined}}"
                                       ng-attr-after-months="{{::data.fields[$index].after_months || undefined}}"
                                       ng-attr-before-months="{{::data.fields[$index].before_months || undefined}}"
                                       [model-start]="{{::data.fields[$index].date_range == 'start' ? field.value : undefined}}"
                                       [model-end]="{{::data.fields[$index].date_range == 'end' ? field.value : undefined}}"
                                       [group]="{{::data.fields[$index].date_range.length > 0 ? 'row_' + $index : undefined}}" />
                </td>

                <td class="border-left" ng-repeat-start="period in row.periods" ng-if="read_planned">
                    <input-smart-table type="decimal"
                                       modify="write_planned"
                                       model="period.planned_value"
                                       on-change="Changed(1)" />
                </td>
                <td ng-if="read_estimated">
                    <input-smart-table type="decimal"
                                       modify="write_estimated"
                                       model="period.estimated_value"
                                       on-change="Changed(2)" />
                </td>
                <td ng-if="read_committed">
                    <input-smart-table type="decimal"
                                       modify="write_committed"
                                       model="period.committed_value"
                                       on-change="Changed(3)" />
                </td>
                <td ng-repeat-end ng-if="read_actual">
                    <input-smart-table type="decimal"
                                       modify="write_actual"
                                       model="period.actual_value"
                                       on-change="Changed(4)" />
                </td>

                <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(row.year_periods.planned_value)}}
                </td>
                <td class="right" ng-if="read_estimated&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(row.year_periods.estimated_value)}}
                </td>
                <td class="right" ng-if="read_committed&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(row.year_periods.committed_value)}}
                </td>
                <td class="right" ng-if="read_actual&&(data.show_row_totals==1||data.show_row_totals==3)">
                    {{FormatNumber(row.year_periods.actual_value)}}
                </td>

                <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(row.total_periods.planned_value)}}
                </td>
                <td class="right" ng-if="read_estimated&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(row.total_periods.estimated_value)}}
                </td>
                <td class="right" ng-if="read_committed&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(row.total_periods.committed_value)}}
                </td>
                <td class="right" ng-if="read_actual&&(data.show_row_totals==2||data.show_row_totals==3)">
                    {{FormatNumber(row.total_periods.actual_value)}}
                </td>

                <td class="border-left" ng-if="write&&!data.one_level_mode"></td>
            </tr>
        </tbody>
        <tr class="sum total" ng-if="data.show_column_totals==2||data.show_column_totals==3">
            <td colspan="{{data.field_titles.length + multi_level_mode_colspan}}">{{'FINANCIALS_TOTAL' | translate}}</td>

            <td class="right border-left" ng-repeat-start="period in data.totals" ng-if="read_planned">
                {{FormatNumber(period.planned_value)}}
            </td>
            <td class="right" ng-if="read_estimated">{{FormatNumber(period.estimated_value)}}</td>
            <td class="right" ng-if="read_committed">{{FormatNumber(period.committed_value)}}</td>
            <td class="right" ng-repeat-end ng-if="read_actual">{{FormatNumber(period.actual_value)}}</td>

            <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_totals.planned_value)}}
            </td>
            <td class="right" ng-if="read_estimated&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_totals.estimated_value)}}
            </td>
            <td class="right" ng-if="read_committed&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_totals.committed_value)}}
            </td>
            <td class="right" ng-if="read_actual&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_totals.actual_value)}}
            </td>

            <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.planned_value)}}
            </td>
            <td class="right" ng-if="read_estimated&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.estimated_value)}}
            </td>
            <td class="right" ng-if="read_committed&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.committed_value)}}
            </td>
            <td class="right" ng-if="read_actual&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.actual_value)}}
            </td>

            <td class="border-left" ng-if="write&&!data.one_level_mode"></td>
        </tr>
        <tr class="sum" ng-if="data.show_column_totals==1||data.show_column_totals==3">
            <td colspan="{{data.field_titles.length + multi_level_mode_colspan}}">{{'FINANCIALS_CUMULATIVE' | translate}}</td>

            <td class="right border-left" ng-repeat-start="period in data.cumulatives" ng-if="read_planned">
                {{FormatNumber(period.planned_value)}}
            </td>
            <td class="right" ng-if="read_estimated">{{FormatNumber(period.estimated_value)}}</td>
            <td class="right" ng-if="read_committed">{{FormatNumber(period.committed_value)}}</td>
            <td class="right" ng-repeat-end ng-if="read_actual">{{FormatNumber(period.actual_value)}}</td>

            <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_cumulatives.planned_value)}}
            </td>
            <td class="right" ng-if="read_estimated&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_cumulatives.estimated_value)}}
            </td>
            <td class="right" ng-if="read_committed&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_cumulatives.committed_value)}}
            </td>
            <td class="right" ng-if="read_actual&&(data.show_row_totals==1||data.show_row_totals==3)">
                {{FormatNumber(data.year_cumulatives.actual_value)}}
            </td>

            <td class="right border-left" ng-if="read_planned&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.planned_value)}}
            </td>
            <td class="right" ng-if="read_estimated&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.estimated_value)}}
            </td>
            <td class="right" ng-if="read_committed&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.committed_value)}}
            </td>
            <td class="right" ng-if="read_actual&&(data.show_row_totals==2||data.show_row_totals==3)">
                {{FormatNumber(data.total_totals.actual_value)}}
            </td>

            <td class="border-left" ng-if="write&&!data.one_level_mode"></td>
        </tr>
    </table>
    <div class="last_modified" ng-if="read && data.show_last_modified > 0">
        {{'FINANCIALS_LAST_MODIFIED' | translate}} {{data.last_modified.modified_at_text}} {{data.last_modified.modified_by}}
    </div>
    <div ng-if="read && !hideCharts" ng-repeat="chart in charts" class="{{chart.position}}">
        <input-chart chart-id="chart.chart_id" item-ids="processItemId" archive="{{archiveDate}}" process="process" label="{{chart.name}}" />
    </div>
</div>