body.capture {
  input-process {
    label {
      top: 18px !important;
    }

    input-container {
      height: 24px;
    }

    #input-process-2 {
      display: none;
    }

    .process-add, .process-remove {
      display: none !important;
    }
  }

  meta-helper {
    display: none;
  }

  input-string, input-number, input-select, input-date, input-text, input-process {
    label {
      transform: none !important;
      -webkit-transform: none !important;

      font-size: 0.75rem !important;
    }

    input {
      border-bottom: 1px solid $divider !important;
      box-shadow: none !important;
    }
  }

  input-process.one-process {
    input-container {
      height: 74px;
    }

    label {
      top: 18px !important;
    }
  }


  input-text {
    input-container {
      height: auto !important;
    }

    textarea {
      display: none !important;

      & ~ p {
        display: block !important;
        border-bottom: 1px solid $divider !important;
      }
    }
  }

  input-select, input-date {
    input-container > .material-icons {
      display: none !important;
    }
    input-container > a {
      display: none !important;
    }
  }

  input-file, input-link {
    .dropzone, .btn {
      display: none !important;
    }
  }
}