﻿.frontpage-layout {
  #frontpage-background {
    width: 100%;
    height: 220px;
    max-width: 1424px;
    margin: 0 auto 16px auto;
  }

  #main-container-transition {
    padding: 0;
    margin: 0;
    overflow-y: auto;

    background-size: cover;

    > div {
      margin-left: 0;
      overflow-y: auto;

      > div {
        position: relative;
      }
    }

    .custom-banner {
      background-repeat: no-repeat;
      background-position: left center !important;
    }

    .frontpage-image-left {
      width: 100%;
      max-width: 50%;
      height: 220px;
      background-color: #FFE97C;
      background-position: center bottom;
      background-size: auto;
    }

    .frontpage-text-right {
      max-height: 250px;
      display: flex;
      align-items: center;
      max-width: calc(50% - 114px);
      width: 100%;
      padding: 0 40px;
      line-height: 1.5;
      strong { 
        font-size: 20px;
      }
    }

    .full-banner {
      .frontpage-image-left {
        width: 100%;
        max-width: calc(100% - 32px);
        background-position: center bottom;
        background-size: cover;
      }

      .frontpage-text-right {
        display: none;
      }
    }


    .frontpage-banner {
      margin: -110px auto 16px auto;
      left: 0;
      right: 0;
      max-width: 1424px;

      .frontpage-logo {
        margin: 20px 20px 20px 30px;
        width: 100%;
        height: 55px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
      }

      divider {
        margin-left: 8px;
        width: 100%;
      }

      p {
        width: 100%;
        padding-left: 8px;
      }

      > content {
        //padding-top: 24px;
      }

      #frontpage-banner-portfolio {
        > div > tabs {
          min-height: 174px
        }
      }

      content > div > div > .align-column {
        max-width: 49%;
        margin: 0 8px;
      }

      > div {
        background-color: $primary-200;
      }
    }

    .frontpage-widgets {
      max-width: 1440px;
      margin: 0 auto 10% auto;

      > div {
        margin-bottom: 16px;

        whiteframe {
          height: 100%;
        }
      }
    }

    whiteframe {

      background-color: transparent;
      display: flex;
      flex-direction: column;

      > content {
        padding: 16px;
        flex: 1 0 auto;
        background-color: $primary-0;
        overflow-y: hidden;
      }

      &.additional-banner {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
      }
    }

    .widget-buttons {
      > .background {
        margin: -16px -16px 0 -16px;
        height: 160px;
      }

      > p {
        max-width: 560px;
        margin-top: 8px;
        padding: 16px;
        margin-bottom: 48px;
      }

      > a {
        position: absolute;
        right: 6px;
        bottom: 6px;
        float: right;
      }
    }

    .widget-kpis {
      .kpi-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
      }

      .title {
        font-size: 1rem;
        margin-bottom: 8px;
      }

      .value {
        font-size: 46px;
      }

      ul {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-auto-flow: column;
        margin-left: 32px;
        margin-top: 26px;
        box-sizing: content-box;
      }

      .main-item {
        padding-top: 54px;
        padding-left: 46px;
      }

      .main-item .title {
        font-size: 24px;
        margin-bottom: 2px;
      }

      .main-item .title, .main-item .value {
        color: rgba(0, 0, 0, 0.87);
      }

      > .background {
        margin: -16px -16px 0 -16px;
        height: 160px;
      }

      > p {
        max-width: 560px;
        margin-top: 8px;
        padding: 16px;
      }

      > a {
        position: absolute;
        right: 6px;
        bottom: 6px;
        float: right;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .frontpage-text-right {
      strong {
        font-size:14px!important;
      }
      font-size: 12px;
    }
  }

}
