﻿body {
  background-color: $primary-300;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  color: $text;
  overflow: hidden;

  &:focus {
    outline-color: transparent;
  }

  > scroll-catcher {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 57;
  }

  > launch-screen {

    justify-content: center;
    background-color: $primary-50;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    > img {
      height: 296px;
    }

    &.transition-out {
      opacity: 0;
      -webkit-transition: opacity 600ms;
      transition: opacity 600ms;
    }
  }

  #nav-logo {
    display: flex;
    align-items: center;

    > img {
      left: 24px;
      height: auto;
      width: 88px;
      margin-left: 16px;
    }
  }

  #nav-icons {
    display: flex;

    > div {
      position: relative;
      //height: 52px;
    }

    > .user-contact {
      margin: 0 32px;
    }

    .icon-notification {
      color: $text-white;
      background-color: $red;
      height: 16px;
      width: 16px;
      line-height: 16px;
      right: 4px;
      top: 4px;
    }
  }

  #nav-path {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $text;
    margin-left: 140px;
    line-height: 52px;

    &:hover {
      .sidenav-quick-navigation {
        display: inline-flex;
        padding: 0;
      }
    }

    &.highlight {
      white-space: nowrap;
    }

    + p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 4px;
      line-height: 52px;

      > span {
        border-bottom: 2px solid $primary-200;
      }
    }
  }

  #nav-save {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 52px;
    margin: 0 36px;
  }

  #nav-top {
    display: flex;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 51;
    background-color: $primary-0;
    height: 52px;
    position: relative;
    color: $text;
  }

  #navBarSearch {
    background-color: #fff;
    width: 350px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    max-height: 75px;
    position: absolute;
    z-index: 10;
  }

  .nav-environment {
    background-color: $red;
    color: $text-white;
    position: fixed;
    padding: 3px;
    bottom: 0;
    left: 0;
    min-width: 60px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    width: 258px;
  }

  //#nav-environment {
  //  @include z-depth-1;
  //
  //  top: -42px;
  //  position: absolute;
  //  left: 45%;
  //  background-color: $red;
  //  color: $text-white;
  //  text-transform: uppercase;
  //  height: 52px;
  //  padding: 0 24px 0 16px;
  //  transition: transform $transition-slow;
  //
  //  > i {
  //    color: $icon-white-active;
  //    margin: 0 8px 2px 0;
  //    font-size: 28px;
  //  }
  //
  //  &.visible {
  //    transform: translateY(42px);
  //  }
  //}

  #sidenav-left {
    width: 264px;
    max-width: 264px;
    background-color: $primary-900;
    left: 0;
    letter-spacing: 1px;
    overflow: hidden;

    &.show-dynamic > content {
      transform: translate(-100%);
    }

    > content {
      width: 100%;
      padding-top: 24px;
      height: calc(100% - 24px);
      color: $text-white;
      transition: transform $transition-medium;
    }

    &:not(.sidenav-show) {
      -webkit-transform: translateX(-100%);
      -webkit-transition: -webkit-transform $transition-medium cubic-bezier(0.4, 0.0, 0.6, 1);
      transform: translateX(-100%);
      transition: transform $transition-medium cubic-bezier(0.4, 0.0, 0.6, 1);
    }

    &.sidenav-show {
      -webkit-transform: translateX(0);
      -webkit-transition: -webkit-transform $transition-slow cubic-bezier(0.4, 0.0, 0.6, 1);
      transform: translateX(0);
      transition-property: transform $transition-slow cubic-bezier(0.4, 0.0, 0.6, 1);
    }
  }

  #navigation-menu-static {
    position: absolute;
    left: 0;
    top: 0;
  }

  #navigation-menu-dynamic {
    position: absolute;
    left: 100%;
    top: 0;

    .shroud {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      z-index: 1;
      background-color: $text-disabled;
    }

    .menu-child {
      margin-left: 14px;
    }
  }

  #sidenav-title-static, #sidenav-title-dynamic {
    display: flex;
    text-align: center;
    padding: 0 24px 16px 0;

    > span {
      width: 100%;
    }

    > a {
      position: absolute;
      right: 8px;
      top: 8px;
      margin: 0;
      padding: 8px;
      cursor: pointer;

      &:hover > .material-icons {
        color: $accent-1;
      }
    }

    .material-icons {
      transition: color $transition-fast;
      color: $icon-white-active;
    }

    .close-sidenav {
      left: 0;
      right: auto;
      display: none;
    }
  }

  #sidenav-version {
    position: absolute;
    bottom: 0;
    right: 32px;
    z-index: 1;
    line-height: 22px;
    color: $text-secondary;

    .errors {
      cursor: pointer;
      left: 12px;
      position: relative;
      color: rgb(244, 67, 53);

      span {
        top: -3px;
      }

      i {
        color: rgb(244, 67, 53);
        font-size: 16px;
        position: relative;
        top: 4px;
      }
    }
  }

  #sidenav-home {
    font-size: 0.8125rem;
    padding-left: 16px;
    line-height: 40px;
    color: $text-white;

    &:hover, &.active-tab {
      background-color: $primary-0;
      color: $text;
    }
  }


  sidenav {
    height: calc(100% - 52px);
    max-height: calc(100% - 52px);
    white-space: nowrap;
    position: fixed;
    z-index: 50;
    top: 52px;

    > content {
      padding: 0;
      height: 100%;
      overflow-x: hidden;
      background-color: inherit;
    }
  }

  .sidenav-quick-navigation {
    color: #212121;
    height: 30px;
    width: 264px;
    display: none;
    justify-content: center;
    position: relative;
    top: 6px;

    //> span {
    //  font-size: 13px;
    //  margin-top: 12px;
    //}

    .btn {
      padding: 0;
    }

    i {
      color: #212121;
    }
  }

  #sidenav-user-search {
    display: flex;
    align-items: center;
    margin: 0 8px 8px 0;
    padding: 12px 0 8px 16px;

    > input-string {
      width: 100%;
    }

    > .btn.btn-icon {
      margin-left: 2px;
    }
  }

  #sidenav-right {
    width: 360px;
    max-width: 360px;
    background-color: $primary-0;
    color: $text;
    right: 0;

    content > a {
      position: absolute;
      left: 0;
      margin: 0;
    }

    &:not(.sidenav-show) {
      -webkit-transform: translateX(100%);
      -webkit-transition: -webkit-transform $transition-medium cubic-bezier(0.4, 0.0, 0.6, 1);
      transform: translateX(100%);
      transition: transform $transition-medium cubic-bezier(0.4, 0.0, 0.6, 1);
    }

    &.sidenav-show {
      -webkit-transform: translateX(0);
      -webkit-transition: -webkit-transform $transition-slow cubic-bezier(0.4, 0.0, 0.6, 1);
      transform: translateX(0);
      transition: transform $transition-slow cubic-bezier(0.4, 0.0, 0.6, 1);
    }

    .tab-navigation {
      margin-top: 8px;
    }

    .process-search-result {
      overflow-y: scroll;
      height: calc(100vh - 420px);
    }

    .process-search-result h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 16px;
      margin-top: 16px;
    }

    input-comment > input-container .comment-section {
      max-height: calc(100vh - 232px)
    }
  }

  > div[view] {
    height: 100%;

    > div {
      height: 100%;
    }
  }

  #main-container {
    display: flex;
    height: calc(100% - 52px);
    align-items: stretch;
    background-color: $primary-400;
    max-width: 100%;

    > pusher {
      display: block;
      width: 0;
    }
  }

  #main-container-transition {
    display: flex;
    position: relative;
    flex: 1;
    align-items: stretch;
    padding: 16px 16px 22px 0;
    overflow: hidden;
    background-color: $primary-100;

    .swap-position {
      display: none;
      cursor: pointer;
      overflow: hidden;
      width: 8px;
      height: 52px;
      background-color: $accent-1;
      transition: width $transition-slow;

      &.visible {
        display: block;
      }

      > i {
        padding: 8px;
        line-height: 36px;
        color: $icon-active;
      }

      &:hover {
        width: 40px;
      }
    }

    > tools-catcher {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 22px;
      transition: background-color $transition-slow;
      text-align: center;

      &:hover {
        background-color: $primary-300;
      }

      > i {
        font-size: 22px;
      }
    }

    > div {
      @include z-depth-4;
      flex: 2;
      position: relative;
      margin-left: 16px;
      overflow: hidden;

      &.transition-in {
        transition: transform $transition-slow, opacity $transition-slow, box-shadow 1800ms;
        opacity: 1;
        box-shadow: 0 0 0 0 transparent;

        &.transition-out {
          opacity: 0;
          transform: translateY(24px);
        }
      }

      &.narrower {
        flex: 1;
        flex-basis: 7.5%;
      }

      &.wider {
        flex: 3;
      }

      [view] {
        opacity: 0;
        transition: opacity $transition-slow $transition-fast;

        &.transition-in {
          opacity: 1;
        }
      }

      .advanced-loading-screen {
        position: absolute;
        left: 0;
        padding: 23px 0;
        opacity: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: $primary-0;
        transition: opacity $transition-medium;

        &.transition-out {
          opacity: 0;
        }
      }

      > .loading-screen {
        position: absolute;
        background-color: $primary-0;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity $transition-medium;

        &.transition-out {
          opacity: 0;
        }
      }

      > content-header {
        padding-left: 0;
        transition: background-color $transition-medium;

        &.swap-highlight {
          background-color: $accent-1;
          color: $text;

          .material-icons {
            color: $icon-active;
          }
        }

        > h1 {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-left: 16px;
          font-size: 1.25rem;
        }
      }

      > content {
        padding: 32px 16px 0 16px;
        overflow: auto;
        background-color: $primary-0;
        min-height: calc(100% - 84px);
        height: calc(100% - 84px);
        max-height: calc(100% - 84px);
        min-height: calc(100vh - 174px);
        height: calc(100vh - 174px);
        max-height: calc(100vh - 174px);

        &.backdropped {
          overflow: hidden;
        }

        > content-footbar {
          padding: 0;
        }
      }

      > .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $text-secondary;
        z-index: 51;

        > .view-lock {
          margin-top: 96px;
        }
      }

      > content.view-extended {
        transform: translateX(100%);
        transition: transform $transition-slow, opacity $transition-slow;

        &.transition-in {
          transform: translateX(0);

          ~ content-footbar {
            opacity: 1;
          }
        }

        &.transition-out {
          opacity: 0;
          transform: translateY(24px);

          ~ content-footbar {
            opacity: 0;
          }
        }

        ~ content-footbar {
          opacity: 0;
          transition: opacity $transition-slow;
        }

        > .view-extended-close {
          position: absolute;
          top: 16px;
          right: 24px;
          font-size: 32px;
        }
      }

      > .btn-fab {
        position: absolute;
        right: 8px;
        z-index: 49;
        bottom: 0;
      }
    }
  }

  swipe-detector-left {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38px;
    height: calc(100% - 52px);
  }

  swipe-detector-right {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: calc(100% - 52px);
  }

  tools {
    @include z-depth-1;
    position: absolute;
    z-index: 56;
    bottom: -48px;
    height: 48px;
    right: 0;
    left: 0;
    margin: auto 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: $primary-50;
    padding: 0 24px;

    -webkit-transition: -webkit-transform $transition-slow;
    -webkit-transform: translateY(100%);
    transition: transform $transition-slow ease-out;
    transform: translateY(100%);

    &.slide-up {
      -webkit-transition: -webkit-transform $transition-medium;
      -webkit-transform: translateY(-52px);
      transition: transform $transition-medium;
      transform: translateY(-52px);
    }
  }

  .loading-screen {
    @include no-select;

    padding: 48px 0 32px 0;
  }

  .loading-failure {
    max-width: 1248px;
    margin: 32px 0 16px 0;
    padding: 0 16px;

    > i {
      color: $red;
      margin-bottom: 12px;
      font-size: 48px;
    }

    .url {
      margin-top: 48px;
      margin-bottom: 8px;
    }

    .description {
      padding: 0 16px 0 24px;
    }

    .description, .url {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }
}
