﻿html {
  width: 100%;
  height: 100%;
}

body.login.loaded {
  opacity: 1;
}

body.login {
  opacity: 0;
  transition: opacity 0.75s;
  display: block;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background: $primary-100 url('../images/keto_bg.png') no-repeat fixed left bottom;
  width: 100%;
  height: 100%;

  .keto-logo {
    position: fixed;
    top: 24px;
    left: 64px;
    width: 180px;
  }

  #keto-login {
    @include z-depth-1;
    box-shadow: none;
    right: 10%;
    min-width: 440px;
    max-width: 440px;

    form {
      padding: 32px 32px 0 32px;

      > div {
        height: 223px;
      }
    }

    .align-row {
      box-sizing: border-box;
      width: 100%;
    }
  }

  input-string {
    width: 100%;
    display: block;
  }

  button, a {
    flex: 1;
    border: none;
    font-family: inherit;
  }

  #sso-login {
    @include z-depth-1;

    min-width: 360px;
    max-width: 360px;
    box-shadow:none;
    .align-row {
      width: 296px;
    }
  }

  #add-login {
    @include z-depth-1;

    min-width: 360px;
    max-width: 360px;
    .align-row {
      width: 296px;
    }
    box-shadow:none;
    overflow: hidden;
    height: 420px;
    .align-row {
      width: 296px;
    }
  }

  whiteframe {
    position: absolute;
    overflow: auto;
    top: 25%;
    display: block;
    background-color: $primary-0;
    max-height: 85vh;
    height: 420px;

    .align-row {
      position: absolute;
      padding: 16px 32px;
      bottom: 0;
      left: 0;
    }

    .login-title {
      background-color: $primary-700;
      color: $text-white;
      padding: 16px;
    }

    img {
      margin-left: 32px;
      margin-top: 56px;
      height: 42px;
    }


  }
}

body.login.intra {
  background: $primary-100 url('../images/backgrounds/keto-w-2.svg') no-repeat fixed left bottom;
  background-size: 800px;
}

#add-login {
  line-height: 1.24;
  img {
    margin-left: 0;
    margin-top: 0;
    height: auto;
  }
}

body.login.bc1 {
  #keto-login, #sso-login, #add-login {
    right: 10%;
  }
}

body.login.bc2 {
  #add-login {
    right: calc(10% + 504px);
    ~ #sso-login {
      right: 10%
    }
  }
  #sso-login {
    right: calc(10% + 504px);
    ~ #add-login {
      right: 10%
    }
  }
}
body.login.bc3 {
  #sso-login {
    right: calc(10% + 504px);
  }
  #add-login {
    right: calc(10% + 926px);
  }
}

@media screen and (max-width: 1426px) {
  body.login.bc3 {
    overflow: auto;
    #add-login {
      top: 10px;
      right: 10%;
      width: 864px;
      min-width: 864px;
      max-width: 864px;
    }
    #sso-login, #keto-login {
      top: 440px;
    }
  }
}

@media screen and (max-width: 1024px) {
  body.login.bc1 {
    overflow: auto;

    .keto-logo {
      position: relative;
      left: 24px;
    }

    #keto-login, #sso-login, #add-login {
      top: 128px;
      right: 2.5%!important;
      width: 95%;
      min-width: 95%;
      max-width: 95%;
    }
  }
  body.login.bc2 {
    overflow: auto;

    .keto-logo {
      position: relative;
      left: 24px;
    }

    #keto-login, #sso-login, #add-login {
      top: 440px;
      right: 2.5%!important;
      width: 95%;
      min-width: 95%;
      max-width: 95%;
    }

    #sso-login {
      top: 128px;

      .align-row {
        box-sizing: border-box;
        width: 95%;
      }

      ~ #keto-login {
        top: 648px;
        margin-bottom: 128px;
      }
    }
    #add-login {
      top: 128px;

      .align-row {
        box-sizing: border-box;
        width: 95%;
      }

      ~ #keto-login {
        top: 648px;
        margin-bottom: 128px;
      }

      ~ #sso-login {
        top: 648px;
        margin-bottom: 128px;
      }
    }
  }

  body.login.bc3 {
    overflow: auto;

    .keto-logo {
      position: relative;
      left: 24px;
    }

    #keto-login, #sso-login, #add-login {
      top: 440px;
      right: 2.5%;
      width: 95%;
      min-width: 95%;
      max-width: 95%;
    }

    #add-login {
      top: 0;

      .align-row {
        box-sizing: border-box;
        width: 95%;
      }

      ~ #sso-login {
        top: 444px;
        margin-bottom: 128px;
      }

      ~ #keto-login {
        top: 888px;
        margin-bottom: 128px;
      }
    }
  }
}
