﻿@media screen and (max-width: 1280px) {
  tz-dialog {
    .add-field-dialog {
      .field-description {
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 0;
        min-height: 80px;
        padding: 8px;
        .field-title {
          font-size: 14px;
        }

        .field-desc {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    &.frontpage-layout {
      overflow-y: visible;

      #frontpage-background {
        margin-bottom: 118px;


        > .background {
          display: none !important;
        }

        .align-column {
          &:last-of-type {
            display: none;
          }
        }

        img {
          position: absolute;
          right: 16px;
          top: 16px;
          max-width: 40%;
        }

      }

      #main-container-transition .widget-buttons > .background {
        height: 160px;
      }
    }


    #portfolio-footbar {
      .RMCalendarResolution {
        display: none
      }
    }


    #sidenav-title-static, #sidenav-title-dynamic {
      > a.close-sidenav {
        display: block;
      }
    }

    input-select-menu, datepicker {
      max-width: 100vw;
      margin: auto;
      left: 0 !important;
      right: 0;
    }

    #nav-logo {
      min-width: 88px;

      > img {
        min-width: 88px;
      }
    }

    #nav-icons {
      min-width: 52px;

      > a, .notification {
        display: none;
      }

      > .user-contact {
        margin: 0;

        > .avatar {
          display: none;
        }

        > h3 {
          display: none;
        }
      }
    }

    #nav-save {
      display: none;
    }

    #nav-top {
      .process-progress {
        display: none;
      }

      //> a:last-of-type {
      //  display: none;
      //}
    }

    sidenav {
      height: 100%;
      max-height: 100%;
      z-index: 56;
      width: 60vw;
      max-width: 320px;

      > content {
        height: calc(100% - 36px);
      }
    }

    #sidenav-left {
      top: 0;
    }

    #sidenav-right {
      top: 0;
    }

    #sidenav-user-search {
      padding: 8px 8px 0 8px;

      > .material-icons {
        display: none;
      }

      > input-string {
        margin-left: 0;
      }
    }

    swipe-detector-right, swipe-detector-left {
      display: block;
    }

    #main-container {
      height: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  tz-dialog {
    .add-field-dialog {
      .field-description {
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 0;
        min-height: 100px;
        padding: 8px;
        
        .field-title {
          font-size: 13px;
        }

        .field-desc {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {

  body {
    #nav-path {
      display: none;
    }
  }
}

@media screen and (min-width: 1440px) {
  pusher.sidenav-right-pusher {
    min-width: 360px;
    width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  #main-container > pusher.sidenav-left-pusher {
    min-width: 264px;
    width: 264px;
  }
}

@media only screen and (max-height: 600px) {
  tz-dialog {
    max-width: 100vw;
    height: 100%;
    max-height: 100%;
    width: 100vw;
    top: 24px;

    dialog-background {
      //display: none;
      height: 22px;
      background-image: unset !important;
    }

    dialog-actions {
      bottom: 0;
      position: absolute;
      width: 100%;
      padding-left: 0;
    }
  }
  datepicker {
    width: 100vw !important;
    top: 0 !important;
    max-height: 100% !important;
    height: 100% !important;
    display: flex;

    .actions-section {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left: 0;
      justify-content: end;

      .flex {
        display: none;
      }
    }

    .title-section {
      padding: 12px 12px 16px 12px;
    }
  }

  .mobile-hide {
    display: none !important;
  }

  .mobile-show {
    display: inherit !important;
  }

}

@media only screen and (max-width: 600px) {
  html {
    font-size: 85%;
  }
  .material-icons {
    font-size: 1.65rem !important;
  }
  meta-helper {
    .material-icons {
      font-size: 1.35rem !important;
    }
  }
  datepicker {
    width: 100vw !important;
    top: 0 !important;
    max-height: 100% !important;
    height: 100% !important;

    .actions-section {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left: 0;
    }
  }
  #nav-logo {
    min-width: 76px !important;

    img {
      min-width: 70px !important;
      width: 70px !important;
    }
  }

  tz-dialog {
    max-width: 100vw;
    height: 100%;
    top: 24px;
    max-height: 100%;

    dialog-actions {
      bottom: 0;
      position: absolute;
      width: 100%;
      padding-left: 0;
    }
  }


  .mobile-hide {
    display: none !important;
  }

  .mobile-show {
    display: inherit !important;
  }
}
