﻿<div class="row" style="justify-content: space-around; width: 70%">
	<div class="col" style="min-width:240px;max-width:500px;width:100%">
		<input-smart type="string" model="searchText" placeholder="PROCESS_ELEMENT_SEARCH"
		             on-change="searchBoys"></input-smart>
	</div>
	<div class="col">
		<input-smart style="padding-right: 40px" type="checkbox" model="isTab" on-change="searchBoys"
		             label="TABS"></input-smart>
	</div>
	<div class="col">
		<input-smart style="padding-right: 40px" type="checkbox" model="isContainer" on-change="searchBoys"
		             label="CONTAINER_1"></input-smart>
	</div>
	<div class="col">
		<input-smart type="checkbox" model="isField" style="padding-right: 40px" on-change="searchBoys"
		             label="ITEM_COLUMNS"></input-smart>
	</div>
</div>
<table-container>
	<table materialize ng-if="searchResults.length > 0" style="background-color:transparent">
		<thead>
		<tr>
			<th></th>
			<th>
				<div translate="ELEMENT_TYPE"></div>
			</th>
			<th>
				<div translate="ELEMENT_NAME"></div>
			</th>
			<th>
				<div translate="PARENT_PHASE"></div>
			</th>
			<th>
				<div translate="PARENT_TAB"></div>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="result in searchResults">
			<td style="width: 50px;">
				<input-button type="icon" ng-click="showElement(result);">
					<i class="material-icons" aria-hidden="true">
						launch
					</i>
				</input-button>
			</td>
			<td>
				{{result.Type}}
			</td>
			<td>
				{{result.Translation}}
			</td>
			<td>
				{{result.parentGroupName}}
			</td>
			<td>
				{{result.tabParentName}}
			</td>
		</tr>
		<tr ng-if="searchResults.length == 0">
			<td colspan="3" class="align-center" translate="NO_SEARCH_RESULTS"></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</table-container>

<table-header translate="PROCESS_GROUPS"></table-header>
<table-container>
	<table materialize table-selected-rows="selectedRows">
		<thead>
		<tr>
			<th></th>
			<th></th>
			<th><div translate="LIST_NAME"></div></th>
			<th><div translate="MAINTENANCE_NAME"></div></th>
			<th><div translate="TABS"></div></th>
		</tr>
		</thead>
		<tbody sortable handler=".up-down-button" on-sort="syncOrder">
		<tr sort="group" ng-repeat="group in processGroups" table-select-row="{'id': group.ProcessGroupId, 'index': $index }" ng-if="processGroups.length > 0">
			<td class="icon">
				<input-button type="icon" class="up-down-button" minimal><i class="material-icons" aria-hidden="true">reorder</i></input-button>
			</td>
			<td class="icon">
				<input-button type="icon" ng-click="showGroup(group.ProcessGroupId, group.LanguageTranslation,group.MaintenanceName)">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>
				<input-smart-table type="translation" model="group.LanguageTranslation" on-change="saveIfNotSaving(group)" modify="true"></input-smart-table>
			</td>
			<td>
				<input-smart-table type="string" model="group.MaintenanceName" on-change="saveIfNotSaving(group)" modify="true"></input-smart-table>
			</td>
			<td>
				{{::group.Tabs}}
			</td>
			<td class="icon">
				<input-button type="icon" ng-click="showThisPhaseConditions(group)">
					<i class="material-icons" tooltip="{{::'PHASE_CONDITIONS' | translate}}">visibility</i>
				</input-button>
			</td>
		</tr>
		<tr ng-if="processGroups.length == 0">
			<td colspan="7" class="align-center" translate="NO_PHASES_ADDED"></td>
		</tr>
		</tbody>
	</table>
</table-container>