<div class="flex align-row">
    <div class="flex align-row start">
        <input-button ng-click="deleteConfirm()" ng-if="selectedRows.length > 0"><div translate="DELETE"></div></input-button>
    </div>
    <div class="flex align-row end">
        <input-button ng-click="addNewProcessGroup()"><div translate="ADD_NEW_PHASE"></div></input-button>
    </div>
</div>