﻿<div class="featurette">
	<tabs hide-if-single-tab="true">
		<tab ng-repeat="tab in navigation"
			 label="{{::tab.translation}}"
			 entity="{{::$index}}"
			 id="{{::id}}-{{::$index}}"
			 on-click="loadTab">
		</tab>
	</tabs>
</div>
