﻿<!DOCTYPE html>
<html ng-app="core" class="{{environment}}">

<head> 
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Keto Software</title> 
	
	<!-- www_path -->
	<base href="--VIRTUALDIRECTORY--" /><!-- Replaced at runtime with Virtual Directory -->
	<!--Stylesheet-->
	<link rel="stylesheet" href="css/flag-icon.min.css" />
	<link rel="stylesheet" href="css/flexboxgrid.min.css">
	<link rel="stylesheet" href="css/waves.min.css" />
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/cropper.min.css">
	<link rel="stylesheet" href="css/keto.css">
	<link rel="stylesheet" href="css/customer.css">
	<link rel="stylesheet" href="css/quill.snow.css">

	<script src="lib/libs.js" type="text/javascript"></script>
</head>

<body ng-class="{ 'frontpage-layout': frontpage == true }" class="">
	<launch-screen class="align-column">
		<img src="images/keto_launch.png" alt="Launch screen">
		<loader class="large circle"></loader>
        <div id="loader-error" style="display:none;text-align: center">
            Error occured while loading the application.<br>
            <span class="btn btn-primary background-accent ng-binding" onclick="location.reload();">Retry</span>
        </div>
	</launch-screen>
	
	<script src="css/waves.min.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
	<script src="app.templates.js" type="text/javascript"></script>
	<script src="customer.js" type="text/javascript"></script>
	<script src="customer.templates.js" type="text/javascript"></script>

    <script type="text/javascript">
        window.onerror = function (errorMsg, url, lineNumber) {
            $(".large.circle").hide();
            $("#loader-error").show();
            console.log(errorMsg);
        };
    </script>
</body>
</html>