<div ng-controller="DashboardChartBasicConfigController">
    <span ng-if="selections.chartType">
        <!-- VALUE AND LABEL FIELD SELECTIONS -->
        <table-container>
            <table materialize>
                <thead>
                    <tr>
                        <th><div translate="DASHBOARD_CHART_OPTION"></div></th>
                        <th><div translate="VALUE"></div></th>
                        <th><div translate="FIELD"></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div translate="DASHBOARD_CHART_NAME_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.labelFields.Values"
                                               type="select"
                                               model="selections.nameField"
                                               on-change="mainFieldChanged"
                                               on-change-parameters="'name'"
                                               modify="true"
                                               options="chartOptions.labelFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                        <td>
                            <input-smart-table ng-if="nameFieldProperties"
                                               type="select"
                                               model="selections.nameFieldProperty"
                                               modify="true"
                                               options="nameFieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div translate="DASHBOARD_CHART_VERTICAL_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.valueFields.Values"
                                               type="select"
                                               model="selections.valueField"
                                               on-change="mainFieldChanged"
                                               on-change-parameters="'label'"
                                               modify="true"
                                               options="chartOptions.valueFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                        <td>
                            <input-smart-table ng-if="valueFieldProperties"
                                               type="select"
                                               model="selections.valueFieldProperty"
                                               modify="true"
                                               options="labelFieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                    </tr>
                    <tr ng-show="!selections.groupResults || selections.groupWithFunction.indexOf('sum') > -1">
                        <td>
                            <div translate="DASHBOARD_CHART_RADIUS_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.valueFields.Values"
                                               type="select"
                                               model="selections.value2Field"
                                               on-change="mainFieldChanged"
                                               on-change-parameters="'value2'"
                                               modify="true"
                                               options="chartOptions.valueFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                        <td>
                            <input-smart-table ng-if="value2FieldProperties"
                                               type="select"
                                               model="selections.value2FieldProperty"
                                               modify="true"
                                               options="value2FieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </table-container>
    </span>

</div>
