﻿<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
            <tr>
                <th class="icon">
                    <div translate="SELECT_IN_USE"></div>
                </th>
                <th>
                    <div translate="SELECT_NAME"></div>
                </th>
                <th>
                    <div translate="SELECT_TEMPLATE"></div>
                </th>
                <th>
                    <div translate="SELECT_RECEIVERS"></div>
                </th>
                <th>
                    <div translate="USER_GROUP_RECEIVERS"></div>
                </th>
                <th>
                    <div translate="CONDITION_TYPE"></div>
                </th>
                <th>
                    <div translate="BEFORE_CONDITION"></div>
                </th>
                <th>
                    <div translate="AFTER_CONDITION"></div>
                </th>
                <th>
                    <div translate="VIEW_TO_GO_FROM_LINK"></div>
                </th>
                <th>
                    <div translate="EXECUTE_ACTION"></div>
                </th>
                <th class="icon">
                    <input-button type="icon" ng-click="addNotificationCondition();" ng-show="edit"><i class="material-icons" aria-hidden="true">add</i></input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="notificationCondition in notificationConditions" table-select-row="notificationCondition.NotificationConditionId" ng-if="notificationConditions.length > 0">
                <td>
                    <input-smart-table type="checkbox" model="notificationCondition.InUse" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="translation" model="notificationCondition.LanguageTranslation" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" options="emailTemplates" option-name="Translation" option-value="ItemId" model="notificationCondition.ItemId" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="multiselect" options="itemColumns" option-name="LanguageTranslation" option-value="ItemColumnId" model="notificationCondition.ItemColumnIds" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="multiselect" options="UserGroups" option-name="usergroup_name" option-value="item_id" model="notificationCondition.UserGroupIds" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" options="[{name: 'CONDITION', value: 0}, {name: 'CREATE', value: 1}, {name: 'DELETE', value: 2}]" option-name="name" option-value="value" model="notificationCondition.ConditionType" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" options="conditions" option-name="LanguageTranslation" option-value="ConditionId" model="notificationCondition.BeforeConditionId" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" options="conditions" option-name="LanguageTranslation" option-value="ConditionId" model="notificationCondition.AfterConditionId" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" options="views" option-name="viewName" option-value="viewId" model="notificationCondition.View" on-change="changeValue" on-change-parameters="notificationCondition.NotificationConditionId" modify="true" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" options="actions" option-name="LanguageTranslation" option-value="ProcessActionId" model="notificationCondition.ProcessActionId" on-change-parameters="notificationCondition.NotificationConditionId" on-change="changeValue" modify="true" single-value="true"></input-smart-table>
                </td>
                <td></td>
            </tr>
            <tr ng-if="notificationConditions.length == 0">
                <td colspan="7" class="align-center">{{::'NO_NOTIFICATION_CONDITONS' | translate}}</td>
            </tr>
        </tbody>
    </table>
</table-container>
