<div id="{{::id}}" class="widget-kpis">
	<div class="background" ng-if="!wide">
		<div class="main-item">
			<div class="title">{{mainItem.Title}}</div>
			<div class="value">{{fn(mainItem.Value)}}{{mainItem.Suffix}}</div>
		</div>
	</div>
	<ul ng-if="items && items.length > 0" ng-style="{'grid-template-rows': wide ? 'repeat(1, min-content)' : 'repeat(2, min-content)'}">
		<li class="kpi-items" ng-repeat="item in items">
			<div class="title">{{::item.Title}}</div>
			<div class="value">{{::fn(item.Value)}}{{::item.Suffix}}</div>
		</li>
	</ul>
</div>
