﻿.allocation-legend-footbar {
	display: flex;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 32px;

	.colour-block {
        display: inline-block;
        width: 14px;
        min-width: 8px;
        height: 14px;
        margin: 0 8px 0 16px;
        border-radius: 50px;
		transition: background-color $transition-medium;

		&.inactive + span {
			color: $text-disabled;
		}
	}

	span {
		transition: color $transition-medium;
	}
}

#allocation-backdrop {
	height: 100%;
	display: flex;
	justify-content: center;

	> div {
		justify-content: center;
	}

	.material-icons {
		border: 2px solid $text-white;
		border-radius: 50%;
		font-size: 72px;

		margin-bottom: 16px;
	}

	h1 {
		color: $text-white;
	}
}