﻿.tab > form > div.row > div {
  width: 100%;
  max-width: 912px;
  margin-bottom: 64px;

  &.col-md-6 {
    max-width: 50%;
  }

  > div:not(:first-of-type) container-header {
    margin-top: 48px;
  }
}

.tab {
  .top-container, .bottom-container {
    margin-bottom: 64px;

    .has-help {
      max-width: 1636px;
    }

    input-portfolio, input-matrix, lite-manager {
      max-width: 1600px;
    }

    process-field.hasHelp {
      max-width: 1636px;
    }

  }

  .edit-tab {
    > div {
      border: dashed 3px rgba(0, 0, 0, 0.12);
      padding: 24px;  
    }
  }

  .edit-top, .edit-bottom {
    border: dashed 3px rgba(0, 0, 0, 0.12);
    padding: 24px;
    margin-left: -8px;
    max-width: 1826px;
    margin-bottom: 64px;
  }

}

process-field {
  position: relative;
  display: block;

  &.has-help {
    max-width: 836px;
  }

  > input-select, > input-smart, > input-date, > input-process, > input-file, > input-formula, > input-link {
    margin-right: 36px;
  }
}

input-file, input-link {
  + meta-helper {
    top: 8px;
  }
}

meta-helper {
  position: absolute;
  display: block;
  right: 0;
  top: 30px;
  height: 36px;

  > .btn.btn-icon {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }

  .material-icons {
    font-size: 20px;
    transition: color $transition-medium;
    color: $icon-active;
  }

  &.is-empty .material-icons {
    color: $icon-inactive;
  }
}

@media only screen and (min-width: 64em) {
  .tab .col-md-6 {
    &:first-of-type {
      padding-right: 24px;
    }

    &:last-of-type {
      padding-left: 24px;
    }
  }
}
