#budgetPage {
	.right {
		text-align: right;
	}

	.sum {
		font-weight: 500;
		font-size: 1rem;
	}

	.left-border {
		border-left: 1px solid $divider;
	}

	.year-header {
		font-weight:500;
		font-size: 1.4rem;
	}

	.value-column {
		padding-right: 16px;
	}

	tr.hide-checkbox {
		td {
			input-check {
				visibility: hidden;
			}
		}
	}

	th.icon-column {
		width: 25px;
	}
}
