﻿#businesscase {
    table {
        width: 100%;
    }

    table tr:hover {
        background-color: $primary-0;
    }

    table tr th {
        text-align: right;
    }
}

#businesscase2 {

    table {
        max-width: 896px;
    }

    table a {
        display: inline-block;
        border-radius: 24px;
        height: 24px;
        width: 24px;
        line-height: 24px;
        background-color: $primary-0;
        text-align: center;
        box-sizing: border-box;

        &.active {
            background-color: $accent-1;

        }
      }

    td:first-child {
        width: 35%;
    }

    td:last-child {
        width: 65%;
    }

    th {
        text-align: left;
    }

    thead:not(:first-of-type) h2 {
        padding-top: 48px;
    }

    h2 {
        padding: 0 0 24px 24px;
    }
}

#businesscase3 {
    table {
        table-layout: fixed;
        min-width: 920px;
        max-width: 1920px;
    }

    th:first-of-type {
        width: 25%;
        min-width: 256px;
    }

    th:nth-last-child(-n+3) {
        width: 150px;
    }

}