#page-dashboard {
  h2 {
    padding-bottom: 24px;
  }

  .columns {
    display: none;
  }
}

.dashboard-chart > div {
  padding: 32px;
}

.dashboard-chart > div > div > div, .dashboard-chart > div > div > div > mixed-chart {
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-chart-container > div:not(:last-child) {
  border-bottom: solid 3px #f0f1f4
}

#chart-filters {
  .col {
    width: 220px;
    padding-right: 10px;
  }

  input-process {
    margin-right: 0 !important;
  }

  .btn {
    float: right;
    margin-top: -50px;
  }

  margin-left: 28px;
  margin-bottom: 28px;

}
