﻿#deliverablesFeatureView {
    .deliverablesBox {
        padding: 6px 0 6px 0;
        margin: 6px 0 6px 0;
    }

    .dependenciesBox {
        padding: 6px 0 6px 0;
        margin: 6px 0 6px 0;
    }
}
