﻿#evaluationmatrix {

    table a {
        display: inline-block;
        border-radius: 24px;
        height: 24px;
        width: 24px;
        line-height: 24px;
        text-align: center;
        box-sizing: border-box;
        color: $text-secondary;
        background-color: $primary-0;
        &.active {
            color: $text;
            background-color: $accent-1;
        }

        &:hover {
            color: $text;
        }
    }
}
