div.financials {
	table.main {
		padding-right: 16px;
	}

	tr.main {
		background-color: #f0f0f0;
	}

	tr.total {
		background-color: #ac70ac;

		td {
			color: #fff;
		}
	}

	.name {
		min-width: 140px;
	}

	tr.hide-checkbox > td:first-child > input-check {
		visibility: hidden;
	}

	th {
		height: 28px;
	}

	th.center {
		text-align: center;
	}

	td.right, th.right {
		text-align: right;
	}

	td.border-left, th.border-left {
		border-left: 1px solid rgba(0, 0, 0, 0.12);
	}

	th.width-40 {
		width: 40px !important;
	}

	div.chart_left {
		width: 50%;
		float: left;
	}

	div.chart_right {
		width: 50%;
		float: right;
	}

	div.chart_full {
		clear: both;
	}

	div.last_modified {
		color: rgba(0, 0, 0, 0.54);
		margin-top: -41px;
		margin-left: 20px;
		margin-bottom: 20px;
		font-style: italic;
	}
}