﻿%kanban-drag {
  position: absolute;
  cursor: none;
  z-index: 2;

  td {
    background-color: $primary-100;

    &.backlog {
      width: 192px;
    }
  }
}

%kanban-table {
  border-collapse: separate;
  border-spacing: 0 16px;
  table-layout: fixed;
  width: 100%;
  background-color: $primary-0;
}

%kanban-row {
  tr {
    transition: background-color $transition-medium;
  }

  th {
    vertical-align: middle;
    padding-right: 32px;

    &.backlog {
      width: 192px;
    }

    &.mode1 {
      width: 0px;
    }

    > p {
      max-width: calc(100% - 40px);
      line-height: 40px;
      float: left;
      display: inline;
    }

    > .btn.btn-icon {
      float: right;
      margin: 0;
      display: inline;
    }
  }

  .type1 {
    background-color: $primary-100;

    > td {
      vertical-align: top;
      padding: 16px 0 8px 0;
    }
  }

  .type0 {
    position: relative;
    height: 58px;
    margin-bottom: 8px;
    padding: 16px 48px 48px 16px;
    margin-right: 32px;
    transition: background-color $transition-slow;
    cursor: grab;
    cursor: -webkit-grab;

    > .btn.btn-icon {
      position: absolute;
      top: 0;
      right: 0;
    }

    > .title {
      margin-bottom: 6px;
    }

    > .description {
      height: 62px;
      line-height: 1.02;
    }

    > .avatar-multiple {
      position: absolute;
      bottom: 8px;
    }
  }

  .description {
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  td {
    &.mode1 {
      width: 0px;
    }

    &.backlog {
      padding: 16px 48px 16px 16px;
      position: relative;
      cursor: grab;
      cursor: -webkit-grab;

      > .title {
        line-height: 40px;
      }

      > .description {
        min-height: 68px;
      }

      > .btn.btn-icon {
        position: absolute;
        top: 12px;
        right: 0;
      }
    }

    .placeholder {
      margin-right: 32px;
      height: 126px;
      border: 3px dashed $divider;
      margin-bottom: 8px;
    }
  }
}

body.compactKanban {
    div.placeholder {
      height: 46px;
    }
    div.type0 {
      height: 20px;
      padding: 16px;
      p.description {
        display: none;
      }
      div.avatar-multiple {
        display: none;
      }
    }
}
kanban {
  position: relative;
  display: block;

  .kanbanFloatingHeader {
    @extend %kanban-table;
    @extend %kanban-row;

    position: absolute;
    top: 0;
    background-color: $primary-0;
    z-index: 1;
    transition: box-shadow $transition-slow;
  }

  .kanbanBody {
    @extend %kanban-table;
    @extend %kanban-row;

    .placeholder {
      background: $primary-0;
    }
  }

  .addRow, .empty {
    padding-left: 16px;
    height: 56px;
    line-height: 56px;

    .addNewRow {
      cursor: pointer;
      color: $accent-2;

      &:hover {
        color: $accent-2-opaque;
      }
    }
  }
  table tr td div.limiter {
    font-size: 13px;
    
    span.toggleCards {
      cursor:pointer; 
      text-decoration: underline;
    }
  }
}

.kanbanRowDrag {
  @extend %kanban-table;
  @extend %kanban-row;
  @extend %kanban-drag;

  border-spacing: 0;
}

.kanbanColumnDrag {
  @extend %kanban-table;
  @extend %kanban-row;
  @extend %kanban-drag;

  td, th {
    padding-left: 32px;
  }

  td {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

.kanbanCardDrag {
  padding: 16px 48px 48px 16px;
  position: absolute;
  cursor: none;
  height: 72px;
  z-index: 2;

  > .btn.btn-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  > .avatar-multiple {
    position: absolute;
    bottom: 8px;
  }

  > .description {
    height: 62px;
    line-height: 1.02;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  > .title {
    margin-bottom: 6px;
  }
}

tz-menu {
  div {
    display: inline-block;
    padding: 0;
  }
  .aria-detect {
    display: block;
    padding: 0 16px;
  }
  
  .kCircle {
    display: inline-block;
    cursor: pointer;
    margin: 2px 4px 4px 10px;
  }
} 
