﻿.processProgress {
	text-align: center;
    width: 100%;

    ul {
	    list-style: none;
	    display: table;
        width: 100%;
        table-layout:fixed;
    }
    ul li {
	    display: table-cell;
    }
	
    ul li .active {
	    float: left;
	    height: 38px;
	    background: $accent-1;
	    text-align: center;
	    padding: 16px 0px 0 0px;
	    position: relative;
	    margin: 0 1px 0 -1px; 
	    font-size: 20px;
	    text-decoration: none;
	    color: black;
        width:99%;
    }
    ul li .active:after {
	    content: "";  
	    border-top: 27px solid transparent;
	    border-bottom: 27px solid transparent;
	    border-left: 23px solid $accent-1;
	    position: absolute; 
        right: -22px; 
        top: 0;
	    z-index: 1;
    }

    ul li .inactive {
	    float: left;
	    height: 38px;
	    background: $primary-300;
	    text-align: center;
	    padding: 16px 0px 0 0px;
	    position: relative;
	    margin: 0 1px 0 -1px; 
	    font-size: 20px;
	    text-decoration: none;
	    color: black;
        width:99%;
    }
    ul li .inactive:after {
	    content: "";  
	    border-top: 27px solid transparent;
	    border-bottom: 27px solid transparent;
	    border-left: 23px solid $primary-300;
	    position: absolute; 
        right: -22px; 
        top: 0;
	    z-index: 1;
    }

			
    ul li .active:before, ul li .inactive:before {
	    content: "";  
	    border-top: 27px solid transparent;
	    border-bottom: 27px solid transparent;
	    border-left: 23px solid white;
	    position: absolute; left: 0; top: 0;
    }
	
    ul li:first-child .active, ul li:first-child .inactive {
	    border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    ul li:first-child .active:before, ul li:first-child .inactive:before {
	    display: none; 
    }
				
    ul li:last-child .active, ul li:last-child .inactive {
	    border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    ul li:last-child .active:after, ul li:last-child .inactive:after {
	    display: none; 
    }

    ul li span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}