﻿body.preventSelection {
  @include no-select;

  overflow: hidden;
}

.slack-controller {
  width: 128px;
}

%rowmanager-table {
  table-layout: fixed;
  width: 100%;

  &.margin-group {
    padding-top: 16px;
  }

  .btn.btn-icon.openRow {
    float: left;
    margin: 6px 0 0 0;
  }

  .inlineMenu {
    @include z-depth-1;
    position: absolute;
    background: $primary-600;
    color: $text-white;
    height: 32px;
    overflow: hidden;
    transition: width $transition-medium, opacity $transition-medium $transition-fast;
    opacity: 0;
    z-index: 10;
    padding: 8px 0;

    > a {
      font-weight: 400;
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      display: block;
      float: left;
      transition: color $transition-fast;

      &:hover {
        color: $accent-1;
      }

      &:not(:first-of-type) {
        border-left: 1px solid $text-white
      }
    }
  }

  .hidden {
    display: none;
  }

  .highlight-permanent td {
    background-color: $accent-1 !important;
    transition-property: background-color;
    transition-duration: 0.5s;
  }

  .highlight-permanent-remove td {
    background-color: inherit;
    transition-property: background-color;
    transition-duration: 2s;
  }

  .highlight-bar {
    float: left;
    height: 48px;
    width: 6px;
    position: absolute;

    &.red {
      background-color: $red;
    }

    &.teal {
      background-color: $teal;
    }

    &.purple {
      background-color: $purple;
    }

    &.orange {
      background-color: $orange;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.green {
      background-color: $green;
    }

    &.grey {
      background-color: $primary-400;
    }

    &.cyan {
      background-color: $cyan;
    }
  }

  tr {
    @include no-select;

    cursor: pointer;
    vertical-align: middle;

    &.selected td {
      background-color: $accent-1 !important;
    }

    &.flat-col-group {
      .flat-row-group {
        background-color: #f9f9f9;
        border-top-width: 0;
      }
    }

    &.flat-col-group.first {
      .flat-row-group {
        border-top-width: 1px;
      }
    }

    &.addrow {
      height: 48px;
      line-height: 48px;

      > td {
        padding-left: 24px;
        text-align: left;
        font-size: 13px;

        > span {
          font-size: 13px;
          color: $text;
        }

        .addNewItem {
          cursor: pointer;
          color: $accent-2;

          &:hover {
            color: $accent-2-opaque;
          }
        }
      }
    }

    &.empty {
      display: none;
      height: 48px;
      line-height: 48px;

      > td {
        padding-left: 24px;
        text-align: center;

        > span {
          font-size: 13px;
          color: $text;
        }
      }
    }

    &.cutted {
      color: $primary-400;
      text-decoration: line-through;
    }

    .data-column {
      height: 48px;
      line-height: 48px;
      padding: 0 8px;
    }

    .two-rows {
      padding-top: 0;
      height: 48px;
      width: 100%;
    }

    .td-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .allocation_total {
      width: 75px;
      text-align: right;
      font-size: 12px;
    }

    .allocation_total_th {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        padding-top: 18px;
        padding-right: 6px;
      }
    }

    .first-row, .second-row {
      height: 24px;

      .data-column {
        padding: 0 16px 0 0;
        line-height: 32px;
        height: 24px;
      }
    }

    .first-row {
      font-weight: 500;
    }

    .second-row .data-column {
      line-height: 32px;
      height: 24px;
      padding: 0;
      margin-top: -8px;

      &.organisation div span::after {
        content: ", ";
        white-space: pre;
      }
    }

    &:not(.rowmanager-header) {
      cursor: grab;

      &:hover, &.hover {
        > td {
          background-color: $primary-300;
        }
      }

      &:not(.addRow) {
        &.type2 {
          > td {
            background-color: $primary-100;
          }

          &:hover, &.hover {
            > td {
              background-color: $primary-300;
            }
          }
        }

        &.type21 {
          > td {
            background-color: #f5f9ff;
          }

          &:hover, &.hover {
            > td {
              background-color: #f5f9ff
            }
          }
        }

        &.typea {
          > td {
            background-color: $accent-1;
          }

          &:hover, &.hover {
            > td {
              background-color: $accent-1-hover;
            }
          }
        }
      }
    }

    > td {
      background-color: $primary-0;
      overflow: hidden;
      vertical-align: middle;
      border-top: 1px solid $divider;

      &.flat-group {
        border-top: none;
      }

      .btn.btn-icon {
        margin: 0;

        > i {
          transition: transform $transition-slow;
        }

        &.flip > i {
          transform: rotate(-90deg);
        }
      }

      > div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8125rem;

        &.btn.btn-icon {
          font-size: 24px;
        }

        .avatar-multiple {
          margin-top: 8px;
        }
      }

      &.placeholder div {
        width: 100%;
        height: 42px;
        border: 3px dashed $divider;
        padding-right: 0;
        background-color: $primary-50;
      }
    }

    > th {
      position: relative;
      color: $text-secondary;
      font-size: 0.8125rem;
      text-align: left;

      > div {
        height: 56px;

        &.header-group {
          background-color: whitesmoke;
          z-index: 12;
          position: absolute;
          line-height: 24px;
          height: 24px;
          left: 4px;
          text-align: center;
          top: -16px;
        }
      }
    }
  }

  .rowmanager-header > th {
    &:first-of-type > div {
      //padding-left: 48px;
    }

    > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      //.first-column {
      //  display:inline-block;
      //}
    }

    .openAll.btn.btn-icon {
      float: left;
      margin: 6px 0 0 0;

      > i {
        transition: transform $transition-slow;
      }

      &.flip > i {
        transform: rotate(-90deg);
      }

      &.hide > i {
        display: none;
      }
    }
  }

  &.has-calendar {
    .rmTarget, .rowmanager-header {
      > td, > th {
        &:last-child {
          border-left: 2px solid $divider;
        }
      }
    }
  }
}

lite-manager {
  display: block;
  max-width: 800px;
  width: 100%;
  position: relative;

  .backdrop {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $divider;
  }

  table {
    max-width: 100%;
  }

  row-manager {
    margin: 10px 0 13px 0;
  }

  loader {
    top: 6px;
  }

  h1 {
    padding-top: 10px;

    & ~ row-manager {
      margin: 6px 0;
    }
  }
}

allocation-manager {
  tr {
    &.highlight > td {
      background-color: $accent-1;
    }

    > .allocation-filters {
      z-index: 10;
      height: 256px;
      width: 100%;
      position: relative;
      border-bottom: 1px solid transparent;

      > div {
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: default;
        height: 48px;
        line-height: 48px;
        background-color: $accent-2;
        color: $text-white;
        padding: 0 24px;
        transition: transform $transition-slow;

        > .flip {
          transform: rotate(-90deg);
        }
      }
    }

    &:hover > .allocation-filters {
      cursor: default;
      background-color: $primary-0 !important;
    }

    .calendar-element-date {
      text-align: center;
    }

    /*
    .filters {
        .btn:nth-of-type(2) {
            display: none;
        }

        .row {
            &.columns {
                display: none;
            }

            > h3 {
                padding: 16px 0 0 40px;
            }
        }
    }
    */
  }
}

row-manager, allocation-manager {
  display: block;
  position: relative;

  .rowmanager-floating-header {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 12;
    background: $primary-0;
    transition: box-shadow $transition-slow;
  }

  > table {
    @extend %rowmanager-table;
    border-collapse: separate;

    > div {
      position: absolute;
      top: 0;
      background: $primary-0;
      width: 100%;
      height: inherit;
      z-index: 49;
    }
  }

  .calendarFixedHead {
    position: absolute;
    left: 6px;
    top: 0;
  }

  .users {
    border: 2px dashed transparent;
  }

  .placeholder-user {
    border: 2px dashed $primary-300;
  }

  .calendarWrapper {
    padding-top: 28px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    cursor: grab;
    cursor: -webkit-grab;

    > .calendarAnchor {
      position: absolute;
      height: inherit;

      .leadtime {
        z-index: 10;
        top: 16px;
        height: 16px;
        position: absolute;
        opacity: .5;
        background: $green;
        border-radius: 8px;
      }

      .arrow {
        $edges: 2px solid $primary-600;
        $dashed: 2px dashed $primary-600;

        z-index: 5;
        position: absolute;

        &.hidden {
          display: none;
        }

        &.edgeNES {
          border-top: $edges;
          border-top-right-radius: 3px;
          border-right: $edges;
          border-bottom-right-radius: 3px;
          border-bottom: $edges;
        }

        &.edgeNWS {
          border-top: $edges;
          border-top-left-radius: 3px;
          border-left: $edges;
          border-bottom-left-radius: 3px;
          border-bottom: $edges;
        }

        &.edgeNW {
          border-top-left-radius: 3px;
          border-left: $edges;
          border-top: $edges;
        }

        &.edgeNE {
          border-top-right-radius: 3px;
          border-right: $edges;
          border-top: $edges;
        }

        &.edgeSW {
          border-bottom-left-radius: 3px;
          border-left: $edges;
          border-bottom: $edges;
        }

        &.edgeSE {
          border-bottom-right-radius: 3px;
          border-right: $edges;
          border-bottom: $edges;
        }

        &.edgeE {
          border-right: $edges;
        }

        &.edgeN {
          border-top: $edges;
        }

        &.dottedNES {
          border-top: $dashed;
          border-top-right-radius: 3px;
          border-right: $dashed;
          border-bottom-right-radius: 3px;
          border-bottom: $dashed;
        }

        &.dottedNWS {
          border-top: $dashed;
          border-top-left-radius: 3px;
          border-left: $dashed;
          border-bottom-left-radius: 3px;
          border-bottom: $dashed;
        }

        &.dottedNW {
          border-top-left-radius: 3px;
          border-left: $dashed;
          border-top: $dashed;
        }

        &.dottedNE {
          border-top-right-radius: 3px;
          border-right: $dashed;
          border-top: $dashed;
        }

        &.dottedSW {
          border-bottom-left-radius: 3px;
          border-left: $dashed;
          border-bottom: $dashed;
        }

        &.dottedSE {
          border-bottom-right-radius: 3px;
          border-right: $dashed;
          border-bottom: $dashed;
        }

        &.dottedE {
          border-right: $dashed;
        }

        &.dottedN {
          border-top: $dashed;
        }


        /* ___                      __               __  
          / _ | ___________ _    __/ /  ___ ___ ____/ /__
         / __ |/ __/ __/ _ \ |/|/ / _ \/ -_) _ `/ _  (_-<
        /_/ |_/_/ /_/  \___/__,__/_//_/\__/\_,_/\_,_/__*/
        i {
          z-index: 5;
          position: absolute;
          display: block;
          color: $primary-600;

          &.headNE {
            top: -8px;
            right: -13px;
          }

          &.headNW {
            top: -8px;
            left: -13px;
          }

          &.headSE {
            bottom: -10px;
            right: -13px;
          }

          &.headSW {
            bottom: -9px;
            left: -13px;
          }

          &.rootNE {
            top: -12px;
            right: -12px;
          }

          &.rootNW {
            top: -12px;
            left: -12px;
          }

          &.rootSE {
            bottom: -12px;
            right: -12px;
          }

          &.rootSW {
            bottom: -12px;
            left: -12px;
          }
        }

        &.red {
          border-color: $red !important;
        }

        &.green {
          border-color: $green !important;
        }

        &.critical {
          border-color: $red !important;

          i {
            color: $red !important;
          }
        }
      }

      > .today {
        z-index: 10;
        border-left: 3px solid $red;
        left: 7680px;
      }

      > .today, > .day, > .week, > .month, > .quartal, > .year {
        height: 100%;
        position: absolute;
        top: 0;
        margin-top: 20px;
        color: $text;
        pointer-events: none;
        text-align: left;

        > .upper {
          white-space: nowrap;
          position: absolute;
          top: -36px;
          width: 100%;
        }

        &.is-weekend {
          background-color: $primary-hover;
        }

        > .calendar-element-date {
          position: absolute;
          top: -20px;
          left: 0;
          right: 0;
        }
      }

      > .barTable {
        border-collapse: separate;

        th {
          height: 20px;
          border-top-color: transparent;
        }

        td {
          overflow: visible;
          height: 48px;
          position: relative;
          border-top: 1px solid transparent;

          > .cell {
            position: absolute;
            height: 46px;
            top: 0;
            overflow: hidden;
            border-bottom: 3px solid $text;

            &.request {
              border-bottom-color: $indigo;
            }

            &.addRow {
              border-bottom-color: transparent;
            }

            &.empty {
              border-bottom-color: transparent;
            }

            > .allocation-overflow, .allocation-warning {
              position: relative;
              background-color: $primary-hover;
              width: 100%;
              height: 100%;

              > i {
                position: absolute;
                top: 0;
                right: 0;
              }
            }

            > .allocation-warning > i {
              color: $amber;
            }

            > .allocation-overflow > i {
              color: $red;
            }


            > .allocation-holiday-overflow {
              background-color: $primary-hover;
              height: 46px;
            }

            .allocation-holiday-overflow > i {
              color: $green;
            }

            > .allocation-total {
              font-weight: 500;
              position: absolute;
              text-align: center;
              color: $text;
              width: 100%;
              line-height: 48px;
              z-index: 10;
              top: 0;
            }

            > .allocation-holiday-total {
              font-weight: 500;
              position: absolute;
              text-align: center;
              color: $text;
              width: 100%;
              display: none;
              height: 46px;
              opacity: 0.5;
              line-height: 48px;
              background-color: green;
              z-index: 10;
              top: 0;
            }

            > div.bottomBar {
              position: absolute;
              width: inherit;
            }
          }

          .icon {
            position: absolute;
            top: 2px;
            z-index: 11;
          }

          > .bar {
            z-index: 11;
            top: 16px;
            height: 16px;
            position: absolute;
            opacity: 1;
            overflow: visible;

            &:hover {
              opacity: .6;
            }

            > .w-caret, > .e-caret {
              position: absolute;
              top: -4px;
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-left: 6px solid transparent;
              border-bottom: 6px solid transparent;
            }

            > .w, > .e {
              position: absolute;
              z-index: 11;
              top: -4px;
              width: 16px;
              height: 24px;
            }

            > .w {
              left: -8px;
            }

            > .e {
              right: -8px;
            }

            &.selected {
              border: 1px solid $red;
            }

            &.editable {
              &.task, &.sprint {
                cursor: pointer;
              }

              > .w, > .e {
                cursor: ew-resize;
              }
            }

            &.task {
              background: $green;
              border-radius: 8px;
            }

            &.sprint {
              background: $indigo;
              border-radius: 8px;
            }

            &.process {
              background: $teal;
              border-radius: 8px;
            }

            &.allocation {
              top: 29px;
              border-bottom: 4px solid $green;

              > .w-caret, > .e-caret {
                top: 8px;
                border-left-color: $green;
              }

              > .w-caret {
                left: -1px;
                transform: rotate(135deg);
              }

              > .e-caret {
                right: -1px;
                transform: rotate(45deg);
              }

              > .w, > .e {
                top: 4px;
                height: 16px;
                width: 20px;
              }

              > .w {
                left: -6px;
              }

              > .e {
                right: -6px;
              }

            }

            &.phase {
              top: 16px;
              border-top: 4px solid $primary-600;

              > .w-caret, > .e-caret {
                top: -4px;
                border-left-color: $primary-600;
              }

              > .w-caret {
                left: -1px;
                transform: rotate(-135deg);
              }

              > .e-caret {
                right: -1px;
                transform: rotate(-45deg);
              }
            }

            .icon {
              top: -12px;
              right: -10px;
            }
          }
        }
      }

      .calendarLimitter {
        background-color: $primary-400;
        height: 100%;
        position: absolute;
        top: 0;
        ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: .25;
        z-index: 1;
        display: none;
      }
    }
  }
}

.rmDragged {
  @extend %rowmanager-table;
  @include z-depth-1;

  z-index: 20;
  position: absolute;
  cursor: none;
}

.calendar-control {
  display: flex;
  align-items: center;
  font-size: 0.8175rem;
  color: $text-secondary;

  .RMWarnings {
    color: $alert;
    //display: none;
  }

  > .RMCalendarResolution {
    display: flex;

    > p {
      cursor: default;
      font-size: 0.8175rem;
      margin-right: 14px;
    }
  }

  > .RMCalendarZoomIn, > .RMCalendarZoomOut {
    > .btn.btn-icon {
      margin: 0 2px;
    }

    > p {
      cursor: default;
    }

    &.disabled {
      .material-icons, p {
        color: $text-disabled;
      }
    }
  }
}
