﻿<allocation-manager rows="rows" rules="AMRules" options="AMoptions" portfolio-columns="portfolioColumns" ownercc="ownerCostCenters">
	<row-template type="header">
		<table>
			<tbody>
				<tr class="rowmanager-header">
					<th class="allocation_total_th">
						[primary]
						<span translate="ALLOCATION_TOTAL"></span>
					</th>
				</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="50">
		<table>
			<tbody>
				<tr class="type1">
					<td class="td-flex">
						<div class="two-rows">
							<div class="first-row">[primary]</div>
							<div class="second-row">[status_translation]</div>
						</div>
						[allocation_total]
					</td>
				</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="51">
		<table>
			<tbody>
				<tr class="type2">
					<td class="td-flex">
						<div class="two-rows">
							<div class="first-row">[primary]</div>
							<div class="second-row">[organisation][cost_center]</div>
						</div>
						[allocation_total]
					</td>
				</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="52">
		<table>
			<tbody>
			<tr class="type1">
				<td class="td-flex">
					<div class="two-rows">
						<div class="first-row">[primary]</div>
						<div class="second-row">[status_translation]</div>
					</div>
					[allocation_total]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</allocation-manager>