$alert: rgb(244, 138, 96);
$alert-opaque: rgba(244, 138, 96, .54);
$warn: rgb(243, 189, 63);
$warn-opaque: rgba(243, 189, 63, .54);
$text: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$text-disabled: rgba(0, 0, 0, 0.38);

$text-white: rgba(255, 255, 255, 1);
$text-white-secondary: rgba(255, 255, 255, 0.70);
$text-white-disabled: rgba(255, 255, 255, 0.5);

$icon-active: rgba(0, 0, 0, 0.54);
$icon-inactive: rgba(0, 0, 0, 0.26);
$icon-white-active: rgba(255, 255, 255, 1);
$icon-white-inactive: rgba(255, 255, 255, 0.3);

$divider: rgba(0, 0, 0, .12);
$primary-0: rgb(255, 255, 255);
$primary-50: rgb(250, 250, 250);
$primary-100: rgb(245, 245, 245);
$primary-200: rgb(238, 238, 238);
$primary-300: rgb(224, 224, 224);
$primary-400: rgb(189, 189, 189);
$primary-500: rgb(158, 158, 158);
$primary-600: rgb(117, 117, 117);
$primary-700: rgb(97, 97, 97);
$primary-800: rgb(66, 66, 66);
$primary-900: rgb(33, 33, 33);

$accent-1: rgb(255, 233, 124);
$accent-2: rgb(172, 112, 172);

$accent-1-opaque: rgba(255, 233, 124, .54);
$accent-2-opaque: rgba(172, 112, 172, .54);

$alert-hover: rgb(219, 124, 86);
$accent-1-hover: rgb(229, 209, 111);
$accent-2-hover: rgb(154, 100, 154);
$primary-hover: rgba(158, 158, 158, 0.12);

$alert-disabled: rgb(249, 196, 175);
$accent-1-disabled: rgb(255, 244, 189);
$primary-disabled: rgba(206, 206, 206, 0.26);

$red: rgb(244, 67, 53);
$red-opaque: rgba(244, 67, 53, .54);

$pink: rgb(233, 30, 99);
$pink-opaque: rgba(233, 30, 99, .54);

$purple: rgb(156, 39, 176);
$purple-opaque: rgba(156, 39, 176, .54);

$deepPurple: rgb(103, 58, 183);
$deepPurple-opaque: rgba(103, 58, 183, .54);

$indigo: rgb(63, 81, 181);
$indigo-opaque: rgba(63, 81, 181, .54);

$blue: rgb(33, 150, 243);
$blue-opaque: rgba(33, 150, 243, .54);

$lightBlue: rgb(3, 169, 244);
$lightBlue-opaque: rgba(3, 169, 244, .54);

$cyan: rgb(0, 188, 212);
$cyan-opaque: rgba(0, 188, 212, .54);

$teal: rgb(77, 182, 172);
$teal-opaque: rgba(77, 182, 172, .54);

$green: rgb(76, 175, 80);
$green-opaque: rgba(76, 175, 80, .54);

$lightGreen: rgb(139, 195, 74);
$lightGreen-opaque: rgba(139, 195, 74, .54);

$lime: rgb(205, 220, 57);
$lime-opaque: rgba(205, 220, 57, .54);

$yellow: rgb(255, 235, 59);
$yellow-opaque: rgba(255, 235, 59, .54);

$amber: rgb(255, 193, 7);
$amber-opaque: rgba(255, 193, 7, .54);

$orange: rgb(255, 152, 0);
$orange-opaque: rgba(255, 152, 0, .54);

$brown: rgb(121, 85, 72);
$brown-opaque: rgba(121, 85, 72, .54);

$transition-slow: 300ms;
$transition-medium: 225ms;
$transition-fast: 150ms;
