<span class="flex"></span>
<input-button type="primary"
			  modify="notification[columns.status] == false"
			  ng-if="!published"
			  ng-click="publish()"
			  ng-bind="::'PUBLISH' | translate">
</input-button>
<input-button type="primary"
			  modify="notification[columns.status] == true"
			  ng-if="published"
			  ng-click="unpublish()"
			  ng-bind="::'HIDE_BULLETIN' | translate">
</input-button>