﻿<div class="row">
	<div class="col-xs-12 col-md-5 col-lg-4">
		<input-smart type="date"
					 label="NOTIFICATION_LAST_MODIFICATION_DATE"
					 model="notification[columns.modified]"
					 modify="false">
		</input-smart>
		<input-smart type="user"
					 label="NOTIFICATION_SENDER"
					 model="notification[columns.sender]"
					 modify="false"
					 max="1">
		</input-smart>
		<input-smart type="date"
					 ng-if="::type === 'notification'"
					 modify="hasWriteRights"
					 label="NOTIFICATION_SHOW_STARTING"
					 model="notification['start']"
					 on-change="onChange">
		</input-smart>
		<input-smart type="date"
					 ng-if="::type === 'notification'"
					 modify="hasWriteRights"
					 label="NOTIFICATION_SHOW_UNTIL"
					 model="notification[columns.expiration]"
					 on-change="onChange">
		</input-smart>

		<input-smart type="process"
					 ng-if="::type === 'notification'"
					 process="user_group"
					 modify="hasWriteRights"
					 label="SHOW_FOR_USER_GROUPS"
					 model="notification['user_groups']"
					 on-change="onChange">
		</input-smart>
		<input-smart type="process"
					 ng-if="::type === 'notification'"
					 process="user"
					 modify="hasWriteRights"
					 label="SHOW_FOR_USERS"
					 model="notification['user_item_id']"
					 on-change="onChange">
		</input-smart>

		<input-smart type="checkbox"
					 ng-if="::type === 'email'"
					 modify="hasWriteRights"
					 option-true="1"
					 option-false="0"
					 label="DIGEST_EMAIL"
					 model="notification[columns.digest]"
					 on-change="onChange">
		</input-smart>
		{{digestText}}
		<input-smart type="checkbox"
					 modify="hasWriteRights"
					 ng-if="::type === 'notification'"
					 label="NOTIFICATION_SHOW_LOGIN"
					 option-true="1"
					 option-false="0"
					 model="notification[columns.notify]"
					 on-change="onChange">
		</input-smart>
	</div>

	<div class="col-xs-12 col-md-7 col-lg-8">
		<input-smart type="translation"
					 modify="hasWriteRights"
					 label="NOTIFICATION_NAME"
					 model="notification[columns.name]"
					 on-change="onChange">
		</input-smart>
		<input-smart type="translation"
					 modify="hasWriteRights"
					 label="NOTIFICATION_TITLE"
					 model="notification[columns.title]"
					 on-change="onChange">
		</input-smart>
		<input-smart type="select"
					 single-value
					 label="NOTIFICATION_RICH_LANGUAGE"
					 model="selectedLanguage"
					 options="languages">
		</input-smart>
		<input-rich model="body[selectedLanguage]"
					modify="hasWriteRights"
                    has-image="true"
					on-change="bodyChange">
		</input-rich>
	</div>
</div>
<h3 class="h6" ng-bind="::'AVAILABLE_TAGS' | translate"></h3>
<chip ng-repeat="tag in ::tags" class="simple-margin">
	<chip-name>{{::tag.list_item}}</chip-name>
</chip>