<style>
	table[materialize] {
		margin-bottom: 24px;
	}
</style>


<div ng-repeat="column in columns">
	<div class="flex align-row">
		<div class="flex align-row start">
			<table-header ng-if="ProcessTabId != 0" column="{{column.value}}">{{'COLUMN_' + column.name | translate}}</table-header>
		</div>
		<div class="flex align-row end">
			<input-button ng-click="addContainer(column)"><div translate="NEW_CONTAINER"></div></input-button>
			<input-button ng-click="copyContainer(column,'existing')" ng-if="ProcessTabId != 0"><div translate="EXISTING_CONTAINER"></div></input-button>
			<input-button ng-click="copyContainer(column)" ng-if="ProcessTabId != 0"><div translate="CLONE_CONTAINER"></div></input-button>
		</div>
	</div>

	<div class="tables" sortable parent="{{::$index + 1}}" on-sort="changeOrderContainer"
		 handler=".up-down-button-container" connect=".tables">
		<div ng-repeat="container in containers[column.value]" sort="container">
			<div class="align-row" style="padding-left: 10px;padding-right: 2px; background-color:#eee;">

				<div class="flex align-row start">
					<input-button type="icon" class="up-down-button-container" no-waves><i class="material-icons" aria-hidden="true">reorder</i></input-button>
					<span ng-if="container.ProcessContainer.MaintenanceName.length > 0">{{container.ProcessContainer.LanguageTranslation[userLanguage]}} '{{container.ProcessContainer.MaintenanceName}}'</span>
					<span ng-if="container.ProcessContainer.MaintenanceName.length == 0">{{container.ProcessContainer.LanguageTranslation[userLanguage]}}</span>

					<input-button type="icon" ng-click="changeContainerName(container, column.value, ProcessTabId)">
						<i class="material-icons" aria-hidden="true">edit</i>
					</input-button>
				</div>
				<div class="flex align-row end">

					<input-button type="icon"
								  ng-click="showThisContainerConditions(container.ProcessContainer.ProcessContainerId, container.ProcessContainer.LanguageTranslation);">
						<i class="material-icons" tooltip="{{::'CONTAINER_CONDITIONS' | translate}}">visibility</i>
					</input-button>
				</div>
			</div>
			<table-container>
				<!--table-selected-rows="selectedRows"-->
				<table materialize ng-show="containers[column.value].length > 0"
					   class="ng-hide">
					<thead>
					<tr>
						<th class="icon"></th>
						<th style="min-width: 200px">
							<div translate="SELECT_NAME"></div>
						</th>
						<th style="min-width: 200px">
							<div translate="DATA_TYPE"></div>
						</th>
						<th style="width:50px;">
							<div translate="CONTAINER_COLUMN_HELP_TEXT"></div>
						</th>
						<th style="width:50px;">
							<div translate="CONTAINER_COLUMN_VALIDATION"></div>
						</th>
						<th style="min-width: 100px; width: 100px;">
							<div translate="ITEM_COLUMN_PROPERTIES"></div>
						</th>
						<th style="width: 45px;"><div translate="CHECK_CONDITIONS"></div></th>
						<th class="icon">
							<input-button type="icon"
										  ng-click="addProcessContainerColumn(container.ProcessContainer.ProcessContainerId);">
								<i class="material-icons" aria-hidden="true">add</i>
							</input-button>
						</th>
					</tr>
					</thead>
					<tbody sortable on-sort="changeOrderField"
						   parent="container.ProcessContainer.ProcessContainerId" handler=".up-down-button"
						   connect=".tables table tbody">
					<!--table-select-row="{ProcessContainerId: container.ProcessContainer.ProcessContainerId, 'ProcessContainerColumnId': contColumn.ProcessContainerColumnId, 'type': 'containerColumn' }"-->
					<tr class="container-field ng-hide" sort="contColumn"
						ng-repeat="contColumn in processContainerColumns[container.ProcessContainer.ProcessContainerId]"
						ng-show="processContainerColumns[container.ProcessContainer.ProcessContainerId].length > 0">
						<td class="icon">
							<input-button type="icon" class="up-down-button" no-waves>
								<i class="material-icons" aria-hidden="true">reorder</i>
							</input-button>
						</td>
						<td>
                            {{columnConnector[contColumn.ProcessContainerColumnId].Translation[mylang]}}
						</td>
						<td>
                            {{columnConnector[contColumn.ProcessContainerColumnId].DataTypeName}}
						</td>
						<td>
							<div class="align-row">
							<input-button type="icon"
										  tooltip="{{contColumn.$$toolTip}}"
										  ng-click="editHelpText(contColumn,container.ProcessContainer.ProcessContainerId)">
								<i class="material-icons" aria-hidden="true">live_help</i>
							</input-button>
							</div>
						</td>
						<td>
							<div class="align-row">
								<input-button type="icon"
											  ng-click="editValidation(contColumn, contColumn.Validation, container.ProcessContainer.ProcessContainerId)"
											  ng-if="contColumn.ItemColumn.DataType >= 0">
									<i class="material-icons" aria-hidden="true">check_circle</i>
								</input-button>
								<br/>
								<div style="max-width: 250px;overflow-x: auto;height: 26px;" title="{{getCustomTranslation(contColumn.Label)}}">
									<span ng-if="getCustomTranslation(contColumn.Label) && getCustomTranslation(contColumn.Label) != ''">Alias:</span> {{getCustomTranslation(contColumn.Label)}}
								</div>
							</div>
						</td>
						<td class="icon">
							<input-button type="icon"
										  ng-click="showProperties(contColumn.ItemColumn.ItemColumnId, container.ProcessContainer.ProcessContainerId, column.value, contColumn.ProcessContainerColumnId)"
										  align="center">
								<i class="material-icons" aria-hidden="true">settings</i>
							</input-button>
							<input-button ng-if="contColumn.ItemColumn.DataType == 11" ng-click="showJoin(contColumn.ItemColumn)" type="icon"><i
									class="material-icons" aria-hidden="true">add</i></input-button>
							<input-button ng-if="contColumn.ItemColumn.DataType == 6" ng-click="showList(contColumn.ItemColumn.DataAdditional)" type="icon">
								<i class="material-icons" aria-hidden="true">format_list_numbered</i></input-button>
						</td>
						<td align='center'>
							<input-smart-table
									type="select"
									options="[{'name': 'FALSE', value: 0},{'name': 'TRUE', value: 1}, {'name': 'ALL_VIEWS', value: 2}, {'name': 'ADD_BUTTON_ACTION_4', value: 3}, {'name': 'SOFT_REFRESH', value: 4}]"
									model="contColumn.ItemColumn.CheckConditions"
									modify="!itemColumn.SystemColumn"
									on-change="modifyItemColumn"
									single-value="true"
									on-change-parameters="{ProcessContainerColumn: contColumn}">
									align='center'>
							</input-smart-table>
						</td>
						<td class="icon">
							<input-button ng-click="deleteField(contColumn, container.ProcessContainer.ProcessContainerId, contColumn.ProcessContainerColumnId)" type="icon">
								<i class="material-icons" aria-hidden="true">delete</i>
							</input-button>
						</td>
					</tr>
					<tr ng-if="processContainerColumns[container.ProcessContainer.ProcessContainerId].length == 0">
						<td colspan="8" class="align-center">No container fields added</td>
					</tr>
					</tbody>
				</table>
			</table-container>
			<span style="margin-left:28px;font-weight: 500;" translate="USED_IN" ng-if="container.phases.length > 0"></span>
			<ul style="columns:5;line-height:24px; margin-left:28px;margin-bottom:64px;">
				<li ng-repeat="phase in container.phases | filter: q as results track by $index">{{::phase}}</li>
			</ul>
		</div>
		<table-container>
			<table materialize ng-show="containers[column.value].length == 0" class="ng-hide">
				<tbody>
				<tr>
					<td class="align-row" translate="CONTAINERS_NOT_ADDED"></td>
				</tr>
				</tbody>
			</table>
			<table-container>
	</div>
</div>
