<div class="flex align-row">
	<div class="flex align-row start">
		  Database Name '{{::Column.Name}}', Database Id: {{::Column.ItemColumnId}}
	</div>
    <div class="flex align-row end" ng-if="equationValid === -1 && (Column.DataType == 16 || Column.DataType == 20)">
        <i class="material-icons" style="color:orange;">access_time</i>
    </div>
    <div class="flex align-row end" ng-if="equationValid === 0 && (Column.DataType == 16 || Column.DataType == 20)">
        <i class="material-icons" style="color:red;">cancel</i>
    </div>
    <div class="flex align-row end" ng-if="equationValid === 1 && (Column.DataType == 16 || Column.DataType == 20)">
        <i class="material-icons" style="color:green;">check_circle</i>
    </div>
</div>