<dialog-content>
	<dialog-title>
		<h2>{{::dialogTranslation}}</h2>
	</dialog-title>
	<table-container>
		<table materialize>
			<tr>
				<th>Prop</th>
				<th>{{'THIS_CONTAINER_VALID' | translate}}</th>
				<th>{{'FIELD_DEFAULT_VALID' | translate}}</th>
			</tr>
			<tr>
				<td translate="CONTAINER_COLUMN_READ_ONLY"></td>
				<td>
					<input-smart-table manual-save
									   type="select"
									   model="validation.ReadOnly"
									   single-value
									   options="readOnlyRequired"
									   modify="true"
									   label="CONTAINER_COLUMN_READ_ONLY">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table manual-save
									   type="select"
									   single-value
									   on-change="itemColumnChanged"
									   model="itemColumnValidation.ReadOnly"
									   options="readOnlyRequired"
									   modify="true"
									   label="CONTAINER_COLUMN_READ_ONLY">
					</input-smart-table>
				</td>
			</tr>
			<tr>
				<td translate="CONTAINER_COLUMN_REQUIRED"></td>
				<td>
					<input-smart-table manual-save
									   type="select"
									   single-value
									   options="readOnlyRequired"
									   model="validation.Required"
									   modify="true"
									   label="CONTAINER_COLUMN_REQUIRED">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table manual-save
									   type="select"
									   single-value
									   options="readOnlyRequired"
									   on-change="itemColumnChanged"
									   model="itemColumnValidation.Required"
									   modify="true"
									   label="CONTAINER_COLUMN_REQUIRED">
					</input-smart-table>
				</td>
			</tr>
			<tr>
				<td translate="CUSTOM_LABEL"></td>
				<td>
					<input-smart-table manual-save
									   type="translation"
									   model="label"
									   modify="true"
									   label="CUSTOM_LABEL">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table manual-save
									   type="translation"
									   on-change="itemColumnChanged"
									   model="labelItemColumn"
									   modify="true"
									   label="CUSTOM_LABEL">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="needsMinValidation == true">
				<td translate="MIN"></td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							model="validation.Min"
							modify="true"
							label="MIN"
							ng-show="needsMinValidation == true"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							on-change="itemColumnChanged"
							model="itemColumnValidation.Min"
							modify="true"
							label="MIN"
							ng-show="needsMinValidation == true"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="needsMaxValidation == true">
				<td translate="MAX"></td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							model="validation.Max"
							modify="true"
							label="MAX"
							ng-show="needsMaxValidation == true"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							on-change="itemColumnChanged"
							model="itemColumnValidation.Max"
							modify="true"
							label="MAX"
							ng-show="needsMaxValidation == true"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>

			<tr ng-show="columnDataType== 2  || subDataType == 2">
				<td translate="PRECISION"></td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							model="validation.Precision"
							modify="true"
							label="PRECISION"
							ng-show="columnDataType== 2  || subDataType == 2"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							on-change="itemColumnChanged"
							model="itemColumnValidation.Precision"
							modify="true"
							label="PRECISION"
							ng-show="columnDataType== 2  || subDataType == 2"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>

			<tr ng-show="columnDataType == 1 || subDataType == 1 || columnDataType == 2  || subDataType == 2">
				<td translate="SUFFIX"></td>
				<td>
					<input-smart-table
							manual-save
							type="string"
							model="validation.Suffix"
							modify="true"
							label="SUFFIX"
							ng-show="columnDataType == 1 || subDataType == 1 || columnDataType == 2  || subDataType == 2"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="string"
							on-change="itemColumnChanged"
							model="itemColumnValidation.Suffix"
							modify="true"
							label="SUFFIX"
							ng-show="columnDataType == 1 || subDataType == 1 || columnDataType == 2  || subDataType == 2"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>

			<tr ng-show="columnDataType == 4">
				<td translate="MIN_ROWS"></td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							model="validation.Rows"
							modify="true"
							label="MIN_ROWS"
							ng-show="columnDataType == 4"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							on-change="itemColumnChanged"
							model="itemColumnValidation.Rows"
							modify="true"
							label="MIN_ROWS"
							ng-show="columnDataType == 4"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>

			<tr ng-show="columnDataType == 3">
				<td translate="CONNECTING_DATE_COLUMN"></td>
				<td>
					<input-smart-table
							manual-save
							type="select"
							model="validation.ParentId"
							modify="true"
							label="CONNECTING_DATE_COLUMN"
							options="dateOptions"
							option-name="LanguageTranslation"
							option-value="ItemColumnId"
							ng-show="columnDataType == 3"
							class="ng-hide"
							single-value="true">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="select"
							on-change="itemColumnChanged"
							model="itemColumnValidation.ParentId"
							modify="true"
							label="CONNECTING_DATE_COLUMN"
							options="dateOptions"
							option-name="LanguageTranslation"
							option-value="ItemColumnId"
							ng-show="columnDataType == 3"
							class="ng-hide"
							single-value="true">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="columnDataType == 3">
				<td translate="START_OR_END_DATE"></td>
				<td>
					<input-smart-table
							manual-save
							type="select"
							model="validation.DateRange"
							modify="true"
							label="START_OR_END_DATE"
							options="[{'name': 'Start', 'value':'start'}, {'name': 'End', 'value':'end'}]"
							option-name="name"
							option-value="value"
							unselectable="null"
							ng-show="columnDataType == 3"
							class="ng-hide"
							single-value="true">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="select"
							on-change="itemColumnChanged"
							model="itemColumnValidation.DateRange"
							modify="true"
							label="START_OR_END_DATE"
							options="[{'name': 'Start', 'value':'start'}, {'name': 'End', 'value':'end'}]"
							option-name="name"
							option-value="value"
							unselectable="null"
							ng-show="columnDataType == 3"
							class="ng-hide"
							single-value="true">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="columnDataType == 3">
				<td translate="CALENDAR_CONNECTION"></td>
				<td>
					<input-smart-table
							manual-save
							type="select"
							model="validation.CalendarConnection"
							modify="true"
							label="CALENDAR_CONNECTION"
							options="[{'name': 'Yes', 'value': 1}, {'name': 'No', 'value':0}]"
							option-name="name"
							option-value="value"
							unselectable="null"
							ng-show="columnDataType == 3"
							class="ng-hide"
							single-value="true">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="select"
							on-change="itemColumnChanged"
							model="itemColumnValidation.CalendarConnection"
							modify="true"
							label="CALENDAR_CONNECTION"
							options="[{'name': 'Yes', 'value': 1}, {'name': 'No', 'value':0}]"
							option-name="name"
							option-value="value"
							unselectable="null"
							ng-show="columnDataType == 3"
							class="ng-hide"
							single-value="true">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="columnDataType == 3">
				<td translate="SHOW_BEFORE_MONTHS"></td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							model="validation.BeforeMonths"
							modify="true"
							label="SHOW_BEFORE_MONTHS"
							ng-show="columnDataType == 3"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							on-change="itemColumnChanged"
							model="itemColumnValidation.BeforeMonths"
							modify="true"
							label="SHOW_BEFORE_MONTHS"
							ng-show="columnDataType == 3"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="columnDataType == 3">
				<td translate="SHOW_AFTER_MONTHS"></td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							model="validation.AfterMonths"
							modify="true"
							label="SHOW_AFTER_MONTHS"
							ng-show="columnDataType == 3"
							class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table
							manual-save
							type="integer"
							on-change="itemColumnChanged"
							model="itemColumnValidation.AfterMonths"
							modify="true"
							label="SHOW_AFTER_MONTHS"
							ng-show="columnDataType == 3"
							class="ng-hide">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="columnDataType == 6">
				<td translate="UNSELECTABLE"></td>
				<td>
					<input-smart-table manual-save
									   type="checkbox"
									   model="validation.Unselectable"
									   modify="true"
									   label="UNSELECTABLE"
									   ng-show="columnDataType == 6"
									   class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table manual-save
									   type="checkbox"
									   on-change="itemColumnChanged"
									   model="itemColumnValidation.Unselectable"
									   modify="true"
									   label="UNSELECTABLE"
									   ng-show="columnDataType == 6"
									   class="ng-hide">
					</input-smart-table>
				</td>
			</tr>
			<tr ng-show="columnDataType == 0 || columnDataType == 4 || columnDataType == 12">
				<td translate="SPELL_CHECK"></td>
				<td>
					<input-smart-table manual-save
									   type="checkbox"
									   model="validation.Spellcheck"
									   modify="true"
									   label="SPELL_CHECK"
									   ng-show="columnDataType == 0 || columnDataType == 4 || columnDataType == 12"
									   class="ng-hide">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table manual-save
									   type="checkbox"
									   on-change="itemColumnChanged"
									   model="itemColumnValidation.Spellcheck"
									   modify="true"
									   label="SPELL_CHECK"
									   ng-show="columnDataType == 0 || columnDataType == 4 || columnDataType == 12"
									   class="ng-hide">
					</input-smart-table>
				</td>
			</tr>
			<tr>
				<td ng-show="columnDataType == 22" style="width:33%">{{'ONE_ROW_MATRIX_REQUIRED' | translate }}</td>
				<td ng-show="columnDataType != 22" style="width:33%"></td>
				<td ng-if="columnDataType != 22" style="width:33%"></td>
				<td ng-show="columnDataType == 22">
					<input-smart-table manual-save
									   type="select"
									   single-value
									   options="[{name: 'TRUE', value: true}, {name: 'FALSE', value: false}]"
									   option-name="name"
									   option-value="value"
									   on-change="atLeastOneMandatory"
									   model="oneMandatory"
									   modify="true"
									   label="CONTAINER_COLUMN_REQUIRED">
					</input-smart-table>
				</td>
				<td style="width:33%;text-align: center;">
					<input-button type="primary" style="width:80%" ng-click="backToDefaultValidation()">
						<div>Use these values</div>
					</input-button>
				</td>
			</tr>
		</table>
	</table-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">Cancel</input-button>
	<input-button type="primary" ng-click="save()">Save</input-button>
</dialog-actions>