<dialog-content>
	<dialog-title>
		<h2>{{'HELP_TEXT_EDIT' | translate}}</h2>
	</dialog-title>
	<div class="col-xs-12 col-md-7 col-lg-8">
		<input-smart type="select"
					 single-value
					 label="NOTIFICATION_RICH_LANGUAGE"
					 model="selectedLanguage"
					 options="languages">
		</input-smart>
		<input-rich model="helpText[selectedLanguage]"
					modify="true"
					has-image="true">
		</input-rich>
	</div>
</dialog-content>

<dialog-actions>
	<input-button ng-click="cancel()">Cancel</input-button>
	<input-button type="primary" ng-click="save()">Save</input-button>
</dialog-actions>