﻿<dialog-content>
	<dialog-title>
		<h2>{{'ADD_NEW_FIELD' | translate}}</h2>
	</dialog-title>
	<dialog-container>
		<tabs>
			<tab label="ADD_NEW_FIELD"entity="newItemColumn" on-click="setSettings">
				<div class="add-field-dialog">
					<div class="row stretch">
						<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:10px">
							<input-smart
									manual-save
									type="translation"
									model="LanguageTranslationRaw"
									modify="true"
									label="TITLE_TRANSLATION"
									on-change="changeDialogValue"
									on-change-parameters="'Translation'">
							</input-smart>
						</div>
						<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:48px">
							<input-smart
									manual-save
									type="string"
									model="Variable"
									modify="true"
									label="VARIABLE_NAME"
									on-change="changeDialogValue"
									on-change-parameters="'Variable'">
							</input-smart>

						</div>


						<div class="col" style="margin-top:40px">
							<div ng-if="disabled == 'in_use'"><i class="material-icons" style="color:red;">cancel</i>
							</div>
							<div ng-if="!disabled"><i class="material-icons" style="color:green;">check</i></div>
							<div ng-if="disabled"><i class="material-icons" style="color:white;">check</i></div>
						</div>
					</div>


					<div class="row stretch" style="justify-content: space-evenly;margin-top: 24px;">
						<div ng-repeat="(k,v) in dataDescriptions" class="col field-column">
							<div class="field-column-title"><h2>{{::k | translate}}</h2></div>
							<div ng-click="selectDataType(value.value)"
							     class="col field-description"
							     ng-repeat="value in v"
							     ng-style="{'background-color': DataType != value.value ? 'rgb(229, 229, 229)' : 'rgb(255, 233, 124)'}">
								<span class="field-title">{{value.title | translate}}</span>
								<span class="field-desc">{{value.name | translate}}</span>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab label="ADD_EXISTING_FIELD" on-click="setSettings" entity="existing" hide-tab="{{unLinked == true}}">
				<div>
					<input-smart type="multiselect" model="ItemColumnIds" modify="true" required-field="true" label="ITEM_COLUMN"
					             on-change="changeDialogValue" on-change-parameters="'ItemColumn'"
					             options="ItemColumnsData" option-value="ItemColumnId"
					             option-name="LanguageTranslationRaw">

					</input-smart>
				</div>
			</tab>
			<tab label="{{'ADD_NEW_LIST'|translate}}" on-click="setSettings" entity="list">

				<div class="row stretch">
					<div class="col" style="margin-bottom: 10px; width: 33%; margin-left:10px">
						<input-smart
								manual-save
								type="translation"
								required-field="true"
								model="LanguageTranslationRaw"
								modify="true"
								label="TITLE_TRANSLATION"
								on-change="changeDialogValue"
								on-change-parameters="'Translation'">
						</input-smart>
						<input-smart
								manual-save
								type="select"
								model="DataAdditional"
								required-field="true"
								modify="true"
								label="LIST_OPTIONAL"
								on-change="changeDialogValue"
								on-change-parameters="'DataAdditional'"
								options="Lists"
								single-value="true"
								ng-show="DataType == 6"
								class="ng-hide"
								option-value="ProcessName"
								option-name="LanguageTranslation">
						</input-smart>
					</div>
					<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:45px">
						<input-smart
								manual-save
								type="string"
								model="Variable"
								required-field="true"
								modify="true"
								label="VARIABLE_NAME"
								on-change="changeDialogValue"
								on-change-parameters="'Variable'">
						</input-smart>
					</div>
					<div class="col" style="margin-top:40px">
						<div ng-if="disabled == 'in_use'"><i class="material-icons" style="color:red;">cancel</i></div>
						<div ng-if="!disabled"><i class="material-icons" style="color:green;">check</i></div>
					</div>
				</div>

				<div ng-show="useNewList" style="margin-top:20px">
					<table-header style="padding: 0px; line-height: 100px"
					              ng-bind="::'LIST_INFORMATION' | translate"></table-header>
					<div class="row stretch">
						<div class="col" style="margin-bottom: 10px; width: 33%; margin-left:10px">
							<input-smart
									type="translation"
									model="newListName"
									required-field="true"
									on-change="setVariable"
									label="LIST_NAME">
							</input-smart>
							<div>
								<input-smart
										type="select"
										model="listOrderBy"
										required-field="true"
										options="orderByColumns"
										option-value="Name"
										option-name="LanguageTranslation"
										watch-options="true"
										label="ORDER_BY_COLUMN">
								</input-smart>
							</div>
						</div>
						<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:45px">
							<input-smart
									type="string"
									model="newProcessVariable"
									required-field="true"
									modify="false"
									label="NEW_LIST_VARIABLE">
							</input-smart>
							<input-smart
									type="select"
									options="listTypes"
									watch-options="true"
									required-field="true"
									option-name="list_item"
									option-value="item_id"
									model="listType"
									label="LIST_TYPE">
							</input-smart>
						</div>
						<div class="col" style="margin-top:40px">
							<div ng-show="touched">
								<div ng-if="disabledList == 'in_use'"><i class="material-icons" style="color:red;">cancel</i>
								</div>
								<div ng-if="!disabledList"><i class="material-icons" style="color:green;">check</i>
								</div>
							</div>
						</div>

					</div>
					<input-smart
							type="checkbox"
							model="addItems"
							label="ADD_ITEMS"
					></input-smart>
				</div>
			</tab>
			<tab label="{{'NEW_TABLE'|translate}}" on-click="setSettings" entity="table">

				<div class="row stretch">
					<div class="col" style="margin-bottom: 10px; width: 33%; margin-left:10px">
						<input-smart
								manual-save
								type="translation"
								model="LanguageTranslationRaw"
								modify="true"
								label="TITLE_TRANSLATION"
								required-field="true"
								on-change="changeDialogValue"
								on-change-parameters="'Translation'">
						</input-smart>
						<input-smart
								manual-save
								type="select"
								model="DataAdditional"
								required-field="true"
								modify="true"
								label="SELECT_TYPE_TABLE"
								on-change="changeDialogValue"
								on-change-parameters="'DataAdditional'"
								options="Processes"
								single-value="true"
								ng-show="DataType == 18 || DataType == 21"
								class="ng-hide"
								option-value="ProcessName"
								option-name="LanguageTranslation">
						</input-smart>
					</div>
					<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:45px">
						<input-smart
								manual-save
								type="string"
								model="Variable"
								required-field="true"
								modify="true"
								label="VARIABLE_NAME"
								on-change="changeDialogValue"
								on-change-parameters="'Variable'">
						</input-smart>
					</div>

					<div class="col" style="margin-top:40px">
						<span ng-if="disabled == 'in_use'"><i class="material-icons"
						                                      style="color:red;">cancel</i></span>
						<span ng-if="!disabled"><i class="material-icons" style="color:green;">check</i></span>
					</div>

				</div>

				<div style="margin-top:20px">
					<table-header style="padding: 0px; line-height: 100px"
					              ng-bind="::'TABLE_PROCESS_INFORMATION' | translate"></table-header>
					<div class="row stretch">
						<div class="col" style="margin-bottom: 10px; width: 33%; margin-left:10px">
							<input-smart
									type="translation"
									model="newListName"
									required-field="true"
									on-change="setVariable"
									ng-show="DataAdditional == 'create_new'"
									label="NEW_TABLE_PROCESS_NAME">
							</input-smart>
							<input-smart
									type="select"
									model="tableType"
									required-field="true"
									on-change="setAsAdvancedTable"
									options="[{name:'SIMPLE', value: 1},{name:'ADVANCED', value:2}]"
									label="NEW_TABLE_TYPE">
							</input-smart>
							<input-smart
									type="select"
									required-field="true"
									options="childColumns"
									option-name="LanguageTranslation"
									option-value="ItemColumnId"
									model="selectedChildColumn"
									ng-show="DataAdditional != 'create_new'"
									on-change="setDataTableSettings"
									watch-options="true"
									label="CHILDS_COLUMN"
							></input-smart>
						</div>
						<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:45px">
							<input-smart
									type="string"
									model="newProcessVariable"
									required-field="true"
									ng-show="DataAdditional == 'create_new'"
									label="NEW_PROCESS_VARIABLE">
							</input-smart>
							<input-smart
									type="select"
									options="portfolios"
									required-field="true"
									option-name="LanguageTranslation"
									option-value="ProcessPortfolioId"
									model="selectedPortfolio"
									on-change="setDataTableSettings"
									watch-options="true"
									ng-show="DataAdditional != 'create_new'"
									label="CHILD_PORTFOLIO"
							></input-smart>
						</div>
						<div class="col" style="margin-top:40px">
							<span ng-show="touched">
							<span ng-if="disabledList == 'in_use'"><i class="material-icons"
							                                          style="color:red;">cancel</i></span>
							<span ng-if="!disabledList"><i class="material-icons" style="color:green;">check</i></span>
						</span>
						</div>

					</div>
				</div>
			</tab>
			<tab label="FROM_PARENT" on-click="setSettings" entity="sq">
				<div class="row stretch">
					<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:23px">
						<input-smart
								manual-save
								type="translation"
								model="LanguageTranslationRaw"
								modify="true"
								label="TITLE_TRANSLATION"
								on-change="changeDialogValue"
								required-field="true"
								on-change-parameters="'Translation'">
						</input-smart>
						<input-smart
								type="checkbox"
								model="chooseQuery"
								on-change="clearQuerySettings"
								label="CHOOSE_QUERY">
						</input-smart>
						<input-smart
								type="select"
								options="Processes"
								ng-show="!chooseQuery"
								required-field="true"
								option-name="LanguageTranslation"
								option-value="ProcessName"
								model="selectedParentProcess"
								on-change="getParentColumns"
								label="PARENT_PROCESS"
						></input-smart>

						<input-smart
								type="select"
								ng-show="!chooseQuery"
								options="parentsColumns"
								option-name="LanguageTranslation"
								option-value="ItemColumnId"
								model="selectedParentColumn"
								on-change="setQueryType"
								watch-options="true"
								required-field="true"
								label="PARENTS_COLUMN"
						></input-smart>

					</div>
					<div class="col" style="padding-right: 34px; margin-bottom: 10px; width: 33%; margin-left:45px">
						<input-smart
								manual-save
								type="string"
								model="Variable"
								required-field="true"
								modify="true"
								label="VARIABLE_NAME"
								on-change="changeDialogValue"
								on-change-parameters="'Variable'">
						</input-smart>
						<input-smart
							type="select"
							options="subQueries"
							option-value="Value"
							option-name="TranslationKey"
							model="DataAdditional"
							single-value="true"
							modify="chooseQuery"
							label="DATA_QUERY">
						</input-smart>
						<input-smart
								type="select"
								options="connectingColumns"
								ng-show="!chooseQuery"
								option-name="Name"
								option-value="ItemColumnId"
								model="connectingItemColumn"
								required-field="true"
								label="CONNECTING_COLUMN"
						></input-smart>

						<input-smart
								type="select"
								required-field="true"
								ng-show="DataAdditional == 'GenericNumberAggregateFunction' && !chooseQuery"
								options="aggregates"
								model="operationType"
								on-change="setQueryType"
								label="AGGREGATE"
						></input-smart>
					</div>
					<div class="col" style="margin-top:40px">
						<div ng-if="disabled == 'in_use'"><i class="material-icons" style="color:red;">cancel</i></div>
						<div ng-if="!disabled"><i class="material-icons" style="color:green;">check</i></div>
						<div ng-if="disabled"><i class="material-icons" style="color:white;">check</i></div>
					</div>

				</div>
			</tab>
		</tabs>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<div class="flex align-row" style="margin-left:-1px">
		<input-smart model="required"
					 ng-hide="unLinked == true"
		             type="checkbox"
		             label="CONTAINER_COLUMN_REQUIRED"
		             minimal style="margin-right: 16px;">
		</input-smart>
		<input-smart model="readOnly"
					 ng-hide="unLinked == true"
		             type="checkbox"
		             label="CONTAINER_COLUMN_READ_ONLY"
		             minimal style="margin-right: 16px;">
		</input-smart>
		<input-smart model="useConditions"
					 ng-hide="unLinked == true"
		             type="checkbox"
		             label="IN_CONDITIONS_SHORT"
		             minimal style="margin-right: 16px;">
		</input-smart>
		<div style="margin-left: 25px" ng-show="DataType == 5 || DataType == 22" class="row">
			<input-smart manual-save
			             type="select"
			             model="DataAdditional"
			             label="SELECT_PROCESS"
			             on-change="changeDialogValue"
			             on-change-parameters="'DataAdditional'"
			             options="giveOptions()"
			             single-value="true"
						 placeholder="SELECT_PROCESS"
			             minimal
			             style="width: 15vw;margin-top:5px;"
			             watch-options="true"
						 required-field="true"
			             option-value="ProcessName"
			             option-name="LanguageTranslation">
			</input-smart>
		</div>
	</div>

	<input-button ng-click="cancel()">{{::'CANCEL' | translate}}</input-button>
	<input-button type="primary" ng-click="save()" modify="!disabled && checkInputs()">{{::'SAVE' | translate}}</input-button>
</dialog-actions>

