<style>
    .help {
        font-size: 12px;
        display: block;
        margin-bottom: 24px;
        line-height: 1.24;
    }

    .eqtable tr {
        background-color: #fff !important;
    }

    .eqtext {
        min-width: 250px;
        margin-top: 15px;
        max-width: 250px;
    }

    .eqcontrol {
        min-width: 250px;
    }
</style>
<tabs hide-if-single-tab="true">
	<tab label="FIELD_PROPERTY_TAB_1">
		<input-smart type="translation" model="Column.LanguageTranslationRaw" modify="!Column.SystemColumn"
		             label="FIELD_NAME" on-change="changeProperties"></input-smart>
		<input-smart type="select" model="Column.DataType" single-value="true" modify="!Column.SystemColumn"
		             options="dataType" option-value="value" option-name="name" on-change="changeProperties"
		             label="DATA_TYPE"></input-smart>
		<input-smart type="checkbox" model="Column.InConditions" on-change="changeProperties" modify="true"
		             label="IN_CONDITIONS"></input-smart>
		<br><br>

		<div ng-show="Column.DataType == 1" class="ng-hide">
			<input-smart type="checkbox" model="Column.UseFk" on-change="changeProperties" modify="true"
			             label="FOREING_KEY"></input-smart>
		</div>
		<div ng-show="Column.DataType == 5 || Column.DataType == 6" class="ng-hide">
			<input-smart type="select"
			             model="Column.UseFk"
			             single-value="true"
			             modify="true"
			             options="listFk"
			             option-value="value"
			             option-name="name"
			             on-change="changeProperties"
			             label="FOREING_KEY">
			</input-smart>
		</div>

		<div ng-show="Column.DataType < 5" class="ng-hide">
			<input-smart type="select"
			             model="Column.UniqueCol"
			             single-value="true"
			             modify="true"
			             options="listIndex"
			             option-value="value"
			             option-name="name"
			             on-change="changeProperties"
			             label="UNIQUE">
			</input-smart>
		</div>

		<div ng-show="Column.DataType == 6" class="ng-hide">
			<input-select
					max="1"
					model="Column.ParentSelectType"
					modify="true"
					on-change="changeProperties"
					single-value
					label="{{'PARENT_SELECT_TYPE' | translate}}"
					options="parentSelectTypes">
			</input-select>
		</div>
		<!--List-->
		<div ng-show="Column.DataType == 6" class="ng-hide">
			<input-smart type="select"
			             model="Column.DataAdditional"
			             max="1"
			             single-value="true"
			             modify="true"
			             options="listProcesses"
			             option-value="ProcessName"
			             option-name="LanguageTranslation"
			             label="DATA_LIST"
			             on-change="changeDataAdditional"
			             on-change-parameters="">
			</input-smart>
		</div>
		<div ng-show="(Column.DataType == 5 || Column.DataType == 6) && Column.DataAdditional != Column.DataAdditionalOld && !dataAdditionalChangeConfirmed"
		     class="ng-hide">
			<h2 class="h6">
				Old values will be deleted.
				<input-button type="primary" ng-click="confirmDataAdditionalChange()">{{'MSG_CONFIRM' | translate}}
				</input-button>
			</h2>
		</div>

		<!--If item column interacts with processes-->
		<div ng-show="needsProcess == true && Column.DataType != 22" class="ng-hide">
			<input-smart type="select"
			             model="Column.DataAdditional"
			             max="1"
			             single-value="true"
			             modify="true"
			             options="processes"
			             option-value="ProcessName"
			             option-name="LanguageTranslation"
			             label="DATA_PROCESS"
			             on-change="changeDataAdditional">
			</input-smart>
			<span class="help" translate="FIELD_PROPERTY_INFO_1"></span>
		</div>
		<div ng-show="Column.DataType == 22" class="ng-hide">
			<input-smart type="select"
			             model="Column.DataAdditional"
			             max="1"
			             single-value="true"
			             modify="true"
			             options="matrixProcesses"
			             option-value="ProcessName"
			             option-name="LanguageTranslation"
			             label="DATA_PROCESS"
			             on-change="changeDataAdditional">
			</input-smart>
			<span class="help" translate="FIELD_PROPERTY_INFO_1"></span>
		</div>
		<div ng-show="Column.DataType == 5" class="ng-hide">
			<input-select
					unselectable
					model="Column.LinkProcess"
					on-change="changeProperties"
					max="1"
					single-value="true"
					modify="true"
					type="select"
					options="processes"
					option-value="ProcessName"
					option-name="LanguageTranslation"
					label="Link process">
			</input-select>
			<span class="help" translate="FIELD_PROPERTY_INFO_2"></span>
		</div>
		<div ng-show="Column.DataType == 5 || Column.DataType == 65" class="ng-hide">
			<div ng-if="optionsLoaded">
				<input-select max="1"
				              model="Column.RelativeColumnId"
				              modify="true"
				              on-change="changeProperties"
				              options="relativeParentColumns"
				              option-value="ItemColumnId"
				              option-name="LanguageTranslationRaw"
				              label="{{'RELATIVE_COLUMN' | translate}}"
				              single-value="true"
				              unselectable>
				</input-select>
				<span class="help" translate="FIELD_PROPERTY_INFO_2"></span>
			</div>
		</div>
		<div ng-show="Column.DataType == 8" class="ng-hide">
			<input-smart type="checkbox" model="Column.IgnoreValidation" on-change="changeProperties" modify="true"
			             label="IGNORE_FORM_VALIDATION">
			</input-smart>
			<input-smart type="checkbox" model="Column.SubDataAdditional2"
						 on-change="changeProperties"
						 option-false="false"
						 option-true="true"
						 modify="true"
						 label="DOWNLOAD_BUTTON_COLUMN">
			</input-smart>
			<input-smart type="select"
						 options="templates"
						 option-name="Name"
						 option-value="Name"
						 max="0"
						 model="selectedTemplates"
						 on-change="changeProperties"
						 modify="true"
						 label="ALLOW_THESE_FILES_DOWNLOAD">
			</input-smart>
		</div>

		<!-- Chart-->
		<div ng-show="Column.DataType == 25" class="ng-hide">
			<input-select
					unselectable
					model="Column.selectedChart"
					on-change="changeProperties"
					max="1"
					single-value="true"
					modify="true"
					type="select"
					options="charts"
					option-value="Id"
					option-name="Variable"
					label="{{'CHART_SELECTION' | translate}}">
			</input-select>
		</div>

		<!--Rating-->
		<div ng-show="Column.DataType == 9" class="ng-hide">
			<input-smart type="number"
			             model="Column.ratingAmount"
			             on-change="changeProperties"
			             label="NUMBER_OF_RATINGS"
			             min="0">
			</input-smart>
			<input-smart type="select"
			             model="Column.ratingPlaceholder"
			             unselectable
			             single-value="true"
			             on-change="changeProperties"
			             label="PLACEHOLDER_COLUMN"
			             options="cols"
			             option-name="LanguageTranslation"
			             option-value="Name">
			</input-smart>
			<input-smart type="select"
			             model="Column.ratingTotal"
			             unselectable
			             single-value="true"
			             on-change="changeProperties"
			             label="TOTAL_COLUMN"
			             options="cols"
			             option-name="LanguageTranslation"
			             option-value="Name">
			</input-smart>
			<input-smart type="select"
			             model="$parent.Column.ratingTrueIcon"
			             parent="ParentItemId"
			             self="ItemId"
			             option-icon="Icon"
			             option-name="Variable"
			             option-value="Icon"
			             single-value
			             options="symbols"
			             on-change="changeProperties"
			             label="RATING_TRUE_ICON"
			             unselectable
			             watch-options="true">
			</input-smart>
			<input-smart type="select"
			             model="$parent.Column.ratingFalseIcon"
			             parent="ParentItemId"
			             self="ItemId"
			             option-icon="Icon"
			             option-name="Variable"
			             option-value="Icon"
			             single-value
			             label="RATING_FALSE_ICON"
			             options="symbols"
			             on-change="changeProperties"
			             unselectable
			             watch-options="true">
			</input-smart>
			<input-smart type="select"
			             model="$parent.Column.ratingColor"
			             option-value="name"
			             single-value
			             options="colors"
			             label="RATING_TRUE_COLOR"
			             on-change="changeProperties"
			             unselectable>
			</input-smart>
		</div>

		<!-- Attachments -->
		<div ng-show="Column.DataType == 10" class="ng-hide">
			<input-smart
					label="CROP_ENABLED"
					type="select"
					model="Column.cropEnabled"
					options="crops"
					option-value="value"
					otion-name="name"
					single-value
					on-change="changeProperties"
					modify="true">
			</input-smart>
		</div>
		<div ng-show="Column.DataType == 10" class="ng-hide">
			<input-smart
					label="BIG_THUMBNAILS"
					type="checkbox"
					model="Column.bigThumbNails"
					on-change="changeProperties"
					modify="true">
			</input-smart>
		</div>


		<!--Comment-->
		<div ng-show="Column.DataType == 12" class="ng-hide">
			<input-smart
					label="IS_NOTE"
					type="checkbox"
					model="Column.note"
					on-change="changeProperties"
					modify="true">
			</input-smart>
			<input-smart
					label="SHOW_AS_INFINITE"
					type="checkbox"
					model="Column.infinite"
					on-change="changeProperties"
					modify="true">
			</input-smart>
			<input-smart
					label="PREVENT_ATTACHMENTS"
					type="checkbox"
					model="Column.preventatt"
					on-change="changeProperties"
					modify="true">
			</input-smart>
		</div>

		<!--Javascript equation-->
		<div ng-show="Column.DataType == 14">
			<input-smart type="string"
			             model="Column.DataAdditional"
			             modify="true"
			             label="DATA_FORMULA_ADDITIONAL">

			</input-smart>
		</div>

		<!-- Subquery -->
		<div ng-show="Column.DataType == 16" class="ng-hide">
			<input-smart type="select"
			             model="Column.DataAdditional"
			             max="1"
			             single-value="true"
			             modify="true"
			             options="subQueries"
			             option-value="Value"
			             option-name="TranslationKey"
			             label="DATA_QUERY"
			             on-change="changeDataAdditional"
			             on-change-parameters="">
			</input-smart>

			<input-check modify="true"
			             class="stretch"
			             model="Column.cacheEnabled"
			             label="{{'CACHE_ENABLED' | translate}}"
			             on-change="changeProperties"
			>
			</input-check>
			<span class="help" translate="CACHE_ENABLED_INFO_1"></span>
		</div>

		<!--Description-->

		<div ng-show="Column.DataType == 17">
			<input-check modify="true"
			             class="stretch"
			             model="Column.isAlert"
			             label="{{'FIELD_IS_ALERT' | translate}}"
			             on-change="changeProperties"
			>
			</input-check>
			
			
				<input-rich model="contentLabel[userLanguage]"
				            has-image="true"
				            modify="true"
				            on-change="changeDataAdditional">
				</input-rich>
			
				<input-smart type="select"
				             single-value
				             style="width: 200px"
				             minimal
				             label="NOTIFICATION_RICH_LANGUAGE"
				             model="userLanguage"
				             watch-options="true"
				             options="languages">
				</input-smart>
			


		</div>

		<!--Rich text-->
		<div ng-show="Column.DataType == 23">
			<input-smart type="select"
			             model="Column.DataAdditional2"
			             modify="true"
						 on-change="changeRichOptions"
			             options="[{'name': 'USE_PICTURE', 'value': 'true'}, {'name': 'DONT_USE_PICTURE', 'value': 'false'}]"
			             single-value="true"
			             label="PICTURE_ALLOWANCE">
			</input-smart>

			<input-smart type="select"
			             model="richPortfolioId"
			             modify="true"
			             options="notificationPortfolios"
			             option-name="Variable"
			             on-change="changeRichOptions"
			             option-value="ProcessPortfolioId"
			             unselectable="null"
			             watch-options="true"
			             single-value="true"
			             label="TEMPLATE_PORTFOLIO">
			</input-smart>
		</div>

		<!--Milestone-->
		<div ng-show="Column.DataType == 65" class="ng-hide">
			<div ng-if="optionsLoaded">
				<input-select max="1"
				              model="Column.endDateColumnId"
				              modify="true"
				              options="relativeParentColumns"
				              option-value="ItemColumnId"
				              option-name="Variable"
				              on-change="changeProperties"
				              label="{{'END_DATE_COLUMN' | translate}}"
				              single-value="true"
				              unselectable>
				</input-select>
				<span class="help" translate="FIELD_PROPERTY_INFO_4"></span>
				<input-select max="1"
				              model="Column.milestoneColumnId"
				              modify="true"
				              options="relativeParentColumns"
				              option-value="ItemColumnId"
				              option-name="Variable"
				              on-change="changeProperties"
				              label="{{'MILESTONE_COLUMN' | translate}}"
				              single-value="true"
				              unselectable>
				</input-select>
				<span class="help" translate="FIELD_PROPERTY_INFO_5"></span>
				<input-select max="1"
				              model="Column.descriptionColumnId"
				              modify="true"
				              options="relativeParentColumns"
				              option-value="ItemColumnId"
				              option-name="Variable"
				              on-change="changeProperties"
				              label="{{'DESCRIPTION_COLUMN' | translate}}"
				              single-value="true"
				              unselectable>
				</input-select>
				<span class="help" translate="FIELD_PROPERTY_INFO_6"></span>
				<input-select max="1"
				              model="Column.dependencyColumnId"
				              modify="true"
				              options="relativeParentColumns"
				              option-value="ItemColumnId"
				              option-name="Variable"
				              on-change="changeProperties"
				              label="{{'DEPENDENCY_COLUMN' | translate}}"
				              single-value="true"
				              unselectable>
				</input-select>
				<span class="help" translate="FIELD_PROPERTY_INFO_7"></span>
			</div>
		</div>
	</tab>
	<tab hide-tab="{{!(Column.DataType == 5 || Column.DataType == 6)}}" label="PROCESS_FILTER_COLUMNS">
		<div ng-show="Column.DataType == 5">
			<input-check
					model="Column.advancedFilter"
					modify="true"
					on-change="changeProperties"
					label="{{'USE_ADVANCED_FILTER' | translate}}">
			</input-check>
			<span class="help" translate="FIELD_PROPERTY_INFO_8"></span>
		</div>

		<input-select
				unselectable
				model="Column.fromProcessColumnId"
				on-change="processFilterOptions(Column.fromProcessColumnId, 1)"
				max="1"
				single-value="true"
				modify="true"
				type="select"
				options="filteredCols"
				option-value="ItemColumnId"
				option-name="LanguageTranslation"
				label="{{'THIS_PROCESS_CONNECTOR_IC' | translate}}">
		</input-select>
		<span class="help" translate="FIELD_PROPERTY_INFO_9"></span>


		<input-select
				unselectable
				model="Column.targetProcessName"
				on-change="changeProperties"
				max="1"
				single-value="true"
				modify="true"
				type="select"
				options="processes"
				watch-options="true"
				option-value="ProcessName"
				option-name="LanguageTranslation"
				label="{{'FILTERED_PROCESS_CONNECTOR_PROCESS' | translate}}">
		</input-select>
		<span class="help" translate="FIELD_PROPERTY_INFO_10"></span>

		<input-select
				unselectable
				model="Column.targetProcessColumnId"
				on-change="processFilterOptions(Column.targetProcessColumnId, 2)"
				max="1"
				single-value="true"
				modify="true"
				type="select"
				options="filteredsProcessColumns"
				watch-options="true"
				option-value="ItemColumnId"
				option-name="LanguageTranslation"
				label="{{'FILTERED_PROCESS_CONNECTOR_IC' | translate}}">
		</input-select>
		<span class="help" translate="FIELD_PROPERTY_INFO_11"></span>

		<div ng-show="Column.DataType == 6">
			<input-select
					unselectable
					model="Column.targetListColumn"
					on-change="changeProperties"
					max="1"
					single-value="true"
					modify="true"
					type="select"
					options="listsColumns"
					watch-options="true"
					option-value="Name"
					option-name="Variable"
					label="{{'FILTERED_PROCESS_LIST_COLUMNS' | translate}}">
			</input-select>
			<span class="help" translate="FIELD_PROPERTY_INFO_27"></span>
		</div>
	</tab>
	<tab hide-tab="{{!(Column.DataType == 5 || (Column.DataType == 16 && Column.SubDataType == 5) || (Column.DataType == 20 && Column.SubDataType == 5))}}" label="FIELD_PROPERTY_TAB_2">
		<input-smart
				label="IS_TABLE"
				type="checkbox"
				model="Column.IsTable"
				on-change="changeProperties"
				modify="true">
		</input-smart>
		<span class="help" translate="FIELD_PROPERTY_INFO_12"></span>
		<input-smart
				label="SHOW_ALL"
				type="checkbox"
				model="Column.showAll"
				on-change="changeProperties"
				modify="true">
		</input-smart>
		<span class="help" translate="FIELD_PROPERTY_INFO_13"></span>
	</tab>
	<tab label="FIELD_PROPERTY_TAB_4" hide-tab="{{!(Column.DataType == 21)}}">
		<input-number model="numberOfRMTypes"
		              min="0"
		              label="{{::'RM_NUMBER_OF_TYPES' | translate}}"
		              on-change="updateRMTypes"
		              modify="true">
		</input-number>
		<span class="help" translate="FIELD_PROPERTY_INFO_14"></span>
		<table materialize ng-if="numberOfRMTypes > 0">
			<thead>
			<tr>
				<th translate="RM_TYPE_NAME"></th>
				<th translate="RM_TYPE_VALUE"></th>
				<th translate="RM_TYPE_RULES"></th>
				<th translate="RM_TYPE_DRAGGABLE"></th>
				<th translate="RM_TYPE_ACTIONS_FOR"></th>
				<th translate="DT_CREATION_CONTAINER"></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="t in RMTypes">
				<td>
					<input-smart-table type="translation" modify="true"
					                   class="col-xs-3"
					                   model="t.name"
					                   on-change="updateTypeOptions"
					                   label="{{::'RM_TYPE_NAME' | translate}}">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table type="number" modify="true"
					                   class="col-xs-3"
					                   model="t.type"
					                   on-change="updateTypeOptions"
					                   label="{{::'RM_TYPE_VALUE' | translate}}">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table type="select" modify="true"
					                   max="0"
					                   class="col-xs-3"
					                   model="t.rules"
					                   options="typeOptions"
					                   label="{{::'RM_TYPE_RULES' | translate}}"
					                   on-change="changeProperties"
					                   watch-options>
					</input-smart-table>
				</td>
				<td>
					<input-smart-table modify="true"
					                   class="col-xs-2"
									   type="select"
									   options="draggables"
									   watch-options="true"
									   single-value="true"
					                   label="{{::'RM_TYPE_DRAGGABLE' | translate}}"
					                   on-change="changeProperties"
					                   model="t.draggable">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table type="select" option-name="LanguageTranslation"
					                   class="stretch"
					                   option-value="ProcessActionId"
					                   on-change="changeProperties"
					                   model="t.actionId"
					                   modify="true"
					                   options="actions"
									   unselectable="true"
					                   label="{{::'RM_TYPE_ACTION' | translate}}"
					                   single-value>
					</input-smart-table>
				</td>
				<td>
					<input-smart-table type="select" option-name="LanguageTranslation"
					                   class="stretch"
					                   option-value="ProcessContainerId"
					                   on-change="changeProperties"
					                   model="t.containerId"
					                   modify="true"
					                   options="conts"
									   unselectable="true"
					                   label="{{'DT_CREATION_CONTAINER' | translate}}"
					                   single-value>
					</input-smart-table>
				</td>
			</tr>
			</tbody>
		</table>
	</tab>
	<tab label="PORTFOLIO_OPTIONS"
	     hide-tab="{{!(Column.DataType == 5 || Column.DataType == 18 || Column.DataType == 21 || ((Column.DataType == 16 && Column.SubDataType == 5)) ||((Column.DataType == 20 && Column.SubDataType == 5)))}}">
		<div ng-show="optionsLoaded && Column.DataType == 18 || Column.DataType == 21" class="ng-hide">
			<input-select max="1" ng-show="!(Column.DataType == 16 && Column.SubDataType == 5)"
			              model="Column.portfolioColumnId"
			              modify="true"
			              options="relativePortfolioColumns"
			              watch-options="true"
			              option-value="ItemColumnId"
			              on-change="changeProperties"
			              option-name="LanguageTranslation"
			              label="{{'RELATIVE_COLUMN' | translate}}"
			              single-value="true"
			              unselectable>
			</input-select>
			<span class="help" ng-show="!(Column.DataType == 16 && Column.SubDataType == 5)"
			      translate="FIELD_PROPERTY_INFO_15"></span>

			<div ng-if="optionsLoaded && !(Column.DataType == 16 && Column.SubDataType == 5)">
				<input-select
						max="1"
						model="Column.parentFieldName"
						modify="true"
						options="parentColumns"
						option-value="Name"
						on-change="changeProperties"
						option-name="Variable"
						label="{{'FIELD_NAME_25' | translate}}"
						single-value="true"
						unselectable>
				</input-select>
				<span class="help" translate="FIELD_PROPERTY_INFO_25"></span>
			</div>

			<input-select
					ng-if="Column.DataType == 18"
					option-name="LanguageTranslation"
					option-value="ProcessActionId"
					model="Column.actionId"
					modify="true"
					unselectable="true"
					on-change="changeProperties"
					options="actions"
					label="{{::'PORTFOLIO_ACTION' | translate}}"
					single-value>
			</input-select>
			<span ng-if="Column.DataType == 18" class="help" translate="FIELD_PROPERTY_INFO_16"></span>

			<input-check modify="true"
			             class="stretch"
			             model="Column.useDialog"
			             label="{{'USE_NEW_DIALOG' | translate}}"
			             on-change="changeProperties">
			</input-check>
			<span class="help" translate="FIELD_PROPERTY_INFO_17"></span>

			<input-check modify="true" ng-if="Column.DataType == 18"
			             model="Column.showSum"
			             label="{{'SHOW_SUM_ROW' | translate}}"
			             on-change="changeProperties">
			</input-check>
			<span class="help" ng-if="Column.DataType == 18" translate="FIELD_PROPERTY_INFO_18"></span>

			<input-check modify="true" ng-if="Column.showSum && Column.DataType == 18"
			             model="Column.showSumCumulative"
			             label="{{'SHOW_SUM_ROW_CUMULATIVE' | translate}}"
			             on-change="changeProperties">
			</input-check>

			<input-check modify="true" ng-if="Column.DataType == 18"
			             model="Column.showAddDelete"
			             label="{{'SHOW_ADD_DELETE' | translate}}"
			             on-change="changeProperties">
			</input-check>
			<span ng-if="Column.DataType == 18" class="help" translate="FIELD_PROPERTY_INFO_19"></span>

			<input-check modify="true" ng-if="Column.DataType == 18 || Column.DataType == 21"
			             model="Column.ignoreExcelExport"
			             label="{{'FIELD_NAME_26' | translate}}"
			             on-change="changeProperties">
			</input-check>
			<span ng-if="Column.DataType == 18 || Column.DataType == 21" class="help"
			      translate="FIELD_PROPERTY_INFO_26"></span>
			<input-check modify="true"
						 ng-if="Column.DataType == 21"
						 model="Column.forceAllOpen"
						 label="{{'FORCE_ALL_OPEN' | translate}}"
						 on-change="changeProperties">
			</input-check>
		</div>
		<div ng-if="optionsLoaded && !(Column.DataType == 16 && Column.SubDataType == 5)">
			<input-select
					max="1"
					model="Column.portfolioId"
					modify="true"
					options="portfolios"
					option-value="ProcessPortfolioId"
					on-change="changeProperties"
					option-name="LanguageTranslation"
					label="{{'NAVIGATION_PORTFOLIO' | translate}}"
					single-value="true"
					unselectable>
			</input-select>
			<span class="help" translate="FIELD_PROPERTY_INFO_20"></span>
		</div>
		<div ng-show="Column.DataType == 5 || Column.DataType == 18 || (Column.DataType == 16 && Column.SubDataType == 5) || ((Column.DataType == 20 && Column.SubDataType == 5))"
		     class="ng-hide">
			<input-check model="Column.canOpen"
			             modify="true"
			             on-change="changeProperties"
			             label="{{'ALLOW_FEATURETTE_TO_OPEN' | translate}}">
			</input-check>
			<span class="help" translate="FIELD_PROPERTY_INFO_21"></span>
		</div>
		<input-select max="1"
		              model="Column.openWidth"
		              modify="true"
		              options="[{name: 'VIEW_SPLIT_EVEN', value: 'even'}, {name: 'VIEW_SPLIT_WIDER', value: 'wider'}, {name: 'VIEW_SPLIT_NARROWER', value: 'narrower'}, {name: 'VIEW_SPLIT_FULL', value: 'full'}]"
		              on-change="changeProperties"
		              label="{{'OPEN_SPLIT_WIDTH' | translate}}"
		              single-value
		              unselectable>
		</input-select>
		<span class="help" translate="FIELD_PROPERTY_INFO_22"></span>

		<div ng-if="optionsLoaded && !(Column.DataType == 16 && Column.SubDataType == 5)">
			<input-select
					max="1"
					model="Column.archiveFieldName"
					modify="true"
					options="dateColumns"
					option-value="Name"
					on-change="changeProperties"
					option-name="Variable"
					label="{{'FIELD_NAME_24' | translate}}"
					single-value="true"
					unselectable>
			</input-select>
			<span class="help" translate="FIELD_PROPERTY_INFO_24"></span>
		</div>
	</tab>
	<tab label="FIELD_PROPERTY_TAB_6" hide-tab="{{!(Column.DataType == 8)}}">
		<div class="flex align-row">
			<div class="flex align-row start">
				<input-select style="width:100%" model="Column.ProcessActionId"
				              max="1" watch-options="true"
				              on-change="changeProperties"
				              single-value="true"
				              modify="true"
				              options="processActions"
				              option-value="ProcessActionId"
				              option-name="LanguageTranslation"
				              unselectable
				              label="{{::'SELECT_PROCESS_ACTION' | translate}}">
				</input-select>
			</div>

			<div class="flex align-row start" style="padding-top: 20px;">
				<input-button type="primary" ng-if="!Column.ProcessActionId"
				              ng-click="createNewActionOrDialog('action')">{{'CREATE_NEW_ACTION' | translate}}
				</input-button>
				<input-button type="primary" ng-if="Column.ProcessActionId" ng-click="goToAction(Column)">
					{{'GO_TO_ACTION' | translate}}
				</input-button>
			</div>
		</div>
		<input-select model="Column.submitView"
		              max="1"
		              on-change="changeProperties"
		              single-value="true"
		              modify="true"
		              options="views"
		              label="{{'SELECT_SUBMIT_VIEW' | translate}}"
		              unselectable>
		</input-select>
		<input-select model="Column.openView"
		              max="1"
		              on-change="changeProperties"
		              single-value="true"
		              modify="true"
		              options="views"
		              label="{{'SELECT_OPEN_VIEW' | translate}}"
		              unselectable>
		</input-select>

		<input-select single-value="true"
		              watch-options="true"
		              max="0"
		              model="Column.afterFunctions"
		              modify="true"
		              options="defaultViews"
		              on-change="changeProperties"
		              unselectable
		              label="{{'AFTER_FUNCTIONS' | translate}}">
		</input-select>
	</tab>
	<tab label="FIELD_PROPERTY_TAB_5" hide-tab="{{!(Column.DataType == 8)}}">
		<div class="flex align-row">
			<div class="flex align-row start">
				<input-select single-value="true" style="width:100%"
				              watch-options="true"
				              max="1"
				              model="Column.ProcessDialogId"
				              modify="true"
				              options="processActionDialogs"
				              on-change="changeProperties"
				              option-value="ProcessActionDialogId"
				              unselectable
				              option-name="LanguageTranslation"
				              label="{{'SELECT_PROCESS_ACTION_DIALOG' | translate}}">
				</input-select>
			</div>
			<div class="flex align-row start" style="padding-top: 20px;">
				<input-button type="primary" class="ng-hide" ng-show="!Column.ProcessDialogId"
				              ng-click="createNewActionOrDialog('dialog')">{{'CREATE_NEW_DIALOG' | translate}}
				</input-button>
				<input-button type="primary" class="ng-hide" ng-show="Column.ProcessDialogId"
				              ng-click="goToDialog(Column, 'normal')">{{'GO_TO_DIALOG' | translate}}
				</input-button>
			</div>
		</div>


		<div class="flex align-row">
			<div class="flex align-row start">
				<input-select single-value="true" style="width:100%"
				              watch-options="true"
				              max="1"
				              on-change="changeProperties"
				              model="Column.doneDialog"
				              modify="true"
				              options="processActionDialogs"
				              option-value="ProcessActionDialogId"
				              option-name="LanguageTranslation"
				              label="{{'SELECT_PROCESS_ACTION_DONE_DIALOG' | translate}}"
				              unselectable>
				</input-select>
			</div>
			<div class="flex align-row start" style="padding-top: 20px;">
				<input-button type="primary" class="ng-hide" ng-show="!Column.doneDialog"
				              ng-click="createNewActionOrDialog('donedialog')">{{'CREATE_NEW_DIALOG' | translate}}
				</input-button>
				<input-button type="primary" class="ng-hide" ng-show="Column.doneDialog"
				              ng-click="goToDialog(Column, 'done')">
					{{'GO_TO_DIALOG' | translate}}
				</input-button>
			</div>
		</div>
	</tab>
	<tab label="FIELD_PROPERTY_TAB_2" hide-tab="{{!(Column.DataType == 16 && (!(query | isEmptyObject)))}}">
		<table materialize="" ng-if="optionsLoaded">
			<thead>
			<tr>
				<th translate="SQ_OPTION"></th>
				<th translate="SQ_VALUE"></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="q in query" ng-show="checkSQRowVisibilityCondition(q)">
				<td>{{q.Name.toString().toUpperCase().replace('@', 'SQ_') | translate}}</td>
				<td style="width:43%">
					<div ng-if="q.OptionType==0">
						<input-smart-table type="string"
						                   model="q.Value"
						                   single-value="true"
						                   modify="true"
						                   label="DATA_QUERY"
						                   on-change="changeSubQueryVal"
						                   on-change-parameters="q">
						</input-smart-table>
					</div>
					<div ng-if="q.OptionType==1">
						<input-smart-table type="integer"
						                   model="q.Value"
						                   single-value="true"
						                   modify="true"
						                   label="DATA_QUERY"
						                   on-change="changeSubQueryVal"
						                   on-change-parameters="q">
						</input-smart-table>
					</div>
					<div ng-if="q.OptionType==2">
						<input-smart-table type="decimal"
						                   model="q.Value"
						                   single-value="true"
						                   modify="true"
						                   label="DATA_QUERY"
						                   on-change="changeSubQueryVal"
						                   on-change-parameters="q">
						</input-smart-table>
					</div>
					<div ng-if="q.OptionType==4">
						<input-smart-table type="text"
						                   model="q.Value"
						                   single-value="true"
						                   modify="true"
						                   label="DATA_QUERY"
						                   on-change="changeSubQueryVal"
						                   on-change-parameters="q">
						</input-smart-table>
					</div>
					<div ng-if="q.OptionType==6">
						<input-smart-table type="select"
						                   unselectable
						                   model="q.Value"
						                   max="1"
						                   single-value="true"
						                   modify="true"
						                   options="q.Values"
						                   option-value="{{q.OptionValue}}"
						                   option-name="{{q.OptionTranslation}}"
						                   label="DATA_QUERY"
						                   on-change="changeSubQueryVal"
						                   on-change-parameters="q">
						</input-smart-table>
					</div>
					<div ng-if="q.OptionType==7">
						<input-smart-table type="multiselect"
						                   model="q.Value"
						                   modify="true"
						                   options="q.Values"
						                   option-value="{{q.OptionValue}}"
						                   option-name="{{q.OptionTranslation}}"
						                   label="DATA_QUERY"
						                   on-change="changeSubQueryVal"
						                   on-change-parameters="q">
						</input-smart-table>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</tab>

	<tab label="SEQ_TAB_TITLE" hide-tab="{{!(Column.DataType == 20)}}">
		<div>
			<table materialize class="eqtable">
				<thead>
				<tr>
					<th style="width:50px;" translate="ALIAS"></th>
					<th style="width:250px;" translate="SEQ_OPERATION"></th>
					<th translate="SEQ_PROPERTIES"></th>
					<th class="icon">
						<input-button type="icon" ng-click="addEquation();">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody ng-repeat="e in equations">
				<tr id="{{e.ItemColumnEquationId}}" style="vertical-align:top;background-color:#fff">
					<td>
						{{::e.SqlAlias}}
					</td>
					<td>
						<input-smart-table type="select"
						                   model="e.combinedTypeFunction"
						                   single-value="true"
						                   on-change="prepareSaveEquationsCombined"
						                   on-change-parameters="{save_equation: e}"
						                   options="[
														{value:'0_0', name: 'SEQ_COLUMN_VALUE'},
														{value:'1_0', name: 'SEQ_DIRECT_VALUE'},
														{value:'4_0', name: 'SEQ_EVALUATION_VALUE'},
														{value:'3_0', name: 'SEQ_LIST_VALUE'},
														{value:'0_5', name: 'SEQ_CASE_WHEN'},
														{value:'0_10',name: 'SEQ_CASE_WHEN_LIST'},
														{value:'0_6', name: 'SEQ_NULLIF'},
														{value:'0_7', name: 'SEQ_ISNULL'},
   														{value:'0_8', name: 'SEQ_DATEDIFF'},
														{value:'0_9', name: 'SEQ_DATEDIFF_NOW'},
														{value:'0_11',name: 'SEQ_DATEADD'},
														{value:'0_12',name: 'SEQ_ROUND'},
														{value:'0_1', name: 'SEQ_LEFT'},
														{value:'0_2', name: 'SEQ_RIGHT'},
														{value:'0_3', name: 'SEQ_SUBSTRING'},
														{value:'0_4', name: 'SEQ_LENGTH'},
														{value:'0_13',name: 'SEQ_CONCAT_PROCESS'}
														]">
						</input-smart-table>
						<p class="italic" ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 13 ">
							{{::'SEQ_CONCAT_PROCESS_GUIDE' | translate}}</p>
					</td>
					<td>
						<div class="row" ng-if="(e.ColumnType == 1)">
							<!--DIRECT_VALUE-->
							<div class="col eqtext" translate="SEQ_DIRECT_VALUE_1"></div>
							<div class="col eqcontrol">
								<input-smart-table type="string" model="e.SqlParam1"
								                   on-change="prepareSaveEquationsCombined"
								                   on-change-parameters="{save_equation: e}"></input-smart-table>
							</div>
						</div>
						<div class="row" ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 0 ">
							<!--COLUMN_VALUE-->
							<div class="col eqtext" translate="SEQ_COLUMN_VALUE_1"></div>
							<div class="col eqcontrol">
								<input-smart-table type="select" model="e.combinedId" unselectable single-value="true"
								                   on-change="prepareSaveEquationsCombined"
								                   on-change-parameters="{save_equation: e}" options="EQCombinedCols"
								                   option-name="LanguageTranslation"
								                   option-value="ItemColumnId"></input-smart-table>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 3)">
							<!--LIST_VALUE-->
							<div class="row">
								<div class="col eqtext" translate="SEQ_LIST_VALUE_1"></div>
								<div class="col eqcontrol">
									<input-smart-table unselectable type="select" single-value="true"
									                   model="e.SqlParam1" options="listProcesses"
									                   option-value="ProcessName" option-name="LanguageTranslation"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 2}"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.SqlParam1">
								<div class="col eqtext" translate="SEQ_LIST_VALUE_2"></div>
								<div class="col eqcontrol" ng-if="listOptions[e.ItemColumnEquationId].length">
									<!-- ng-if is so that control is loaded when SEQ_LIST_VALUE_1 is selected, watch options doesn't seem to work then -->
									<input-smart-table unselectable type="multiselect" watch-options="true"
									                   model="e.SqlParam2" options="listOptions[e.ItemColumnEquationId]"
									                   option-value="item_id" option-name="list_item"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 3}"
									                   modify="true"></input-smart-table>
								</div>
								<div class="col eqcontrol" ng-if="!(listOptions[e.ItemColumnEquationId].length)">
									-
								</div>
							</div>
						</div>
						<div class="row" ng-if="(e.ColumnType == 4)">
							<!--SEQ_EVALUATION_VALUE-->
							<div class="col eqtext" translate="SEQ_EVALUATION_VALUE_1"></div>
							<div class="col eqcontrol">
								<input-smart-table type="string" model="e.SqlParam1"
								                   on-change="prepareSaveEquationsCombined"
								                   on-change-parameters="{save_equation: e}"></input-smart-table>
							</div>
						</div>

						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 1 ">
							<!-- LEFT -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_LEFT_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_LEFT_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 2 ">
							<!-- RIGHT -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_RIGHT_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_RIGHT_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 3 ">
							<!-- SUBSTRING -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_SUBSTRING_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_SUBSTRING_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_SUBSTRING_3"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamTwo"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div class="row" ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 4 ">
							<!-- LENGTH -->
							<div class="col eqtext" translate="SEQ_LENGTH_1"></div>
							<div class="col eqcontrol">
								<input-smart-table type="select" model="e.combinedId" unselectable single-value="true"
								                   on-change="prepareSaveEquationsCombined"
								                   on-change-parameters="{save_equation: e, clearParams: 1}"
								                   options="EQCombinedLimitedCols[e.SqlAlias]"
								                   option-name="LanguageTranslation"
								                   option-value="ItemColumnId"></input-smart-table>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 5 ">
							<!-- CASE_WHEN -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedId"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"></input-smart-table>
								</div>
							</div>
							<div class="row">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
							<div class="row">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_3"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamTwo"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 6 ">
							<!-- NULLIF -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_NULLIF_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedCols" option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_NULLIF_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 7 ">
							<!-- ISNULL/COALESCE -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_ISNULL_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedCols" option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_ISNULL_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 8 ">
							<!-- DATEDIFF -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_DATEDIFF_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_DATEDIFF_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedParamOne" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_DATEDIFF_3"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedParamTwo" single-value="true"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"
									                   options="EQCombinedScope"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 9 ">
							<!-- DATEDIFF_NOW -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_DATEDIFF_NOW_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_DATEDIFF_NOW_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedParamOne" single-value="true"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"
									                   options="EQCombinedScope"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 10 ">
							<!-- CASE_WHEN_LIST -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_LIST_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_LIST_2"></div>
								<div class="col eqcontrol" ng-if="listOptions[e.ItemColumnEquationId].length">
									<input-smart-table type="multiselect" model="e.combinedParamOne"
									                   watch-options="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"
									                   options="listOptions[e.ItemColumnEquationId]"
									                   option-name="list_item"
									                   option-value="item_id"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_LIST_3"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamTwo"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_CASE_WHEN_LIST_4"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamThree"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 11 ">
							<!-- DATEADD -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_DATEADD_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_DATEADD_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedParamOne" single-value="true"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"
									                   options="EQCombinedScope"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_DATEADD_3"></div>
								<div class="col eqcontrol">
									<input-smart-table type="string" model="e.combinedParamTwo"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 12 ">
							<!-- ROUND -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_ROUND_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedCols" option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row" ng-show="e.combinedId">
								<div class="col eqtext" translate="SEQ_ROUND_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="integer" model="e.combinedParamOne"
									                   on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"></input-smart-table>
								</div>
							</div>
						</div>
						<div ng-if="(e.ColumnType == 0 || e.ColumnType == 2) && e.SqlFunction === 13 ">
							<!-- SEQ_CONCAT_PROCESS -->
							<div class="row">
								<div class="col eqtext" translate="SEQ_CONCAT_PROCESS_1"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedId" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e, clearParams: 1}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
							<div class="row">
								<div class="col eqtext" translate="SEQ_CONCAT_PROCESS_2"></div>
								<div class="col eqcontrol">
									<input-smart-table type="select" model="e.combinedParamOne" unselectable
									                   single-value="true" on-change="prepareSaveEquationsCombined"
									                   on-change-parameters="{save_equation: e}"
									                   options="EQCombinedLimitedCols[e.SqlAlias]"
									                   option-name="LanguageTranslation"
									                   option-value="ItemColumnId"></input-smart-table>
								</div>
							</div>
						</div>
					</td>
					<td>
						<input-button type="icon" ng-click="equationDelete(e.ItemColumnEquationId)"><i
								class="material-icons" aria-hidden="true">delete</i></input-button>
					</td>
				</tr>
				<tr ng-if="false"><!--debug container-->
					<td></td>
					<td colspan="8">column type: {{e.ColumnType}}, sql function: {{e.SqlFunction}}, equation_id:
						{{e.ItemColumnEquationId}} options loaded: {{listOptionsLoaded[e.ItemColumnEquationId]}}
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div>
			<input-smart type="select"
			             model="Column['DataAdditional2']"
			             single-value="true"
			             on-change-parameters=""
			             on-change="changeDataAdditional"
			             label="DATA_TYPE"
			             options="[{value: 0, name: 'DATA_NVARCHAR'}, {value: 1, name: 'DATA_INT'}, {value: 2, name: 'DATA_FLOAT'}, {value: 3, name: 'DATA_DATE'}, {value: 5, name: 'DATA_PROCESS'}, {value: 6, name: 'DATA_LIST'}, {value: 13, name: 'DATA_DATETIME'}]">
			</input-smart>
		</div>
		<div>
			<div ng-show="Column['DataAdditional2'] == 5 " class="ng-hide">
				<input-smart type="select"
				             model="Column.InputName"
				             max="1"
				             single-value="true"
				             modify="true"
				             options="processes"
				             option-value="ProcessName"
				             option-name="LanguageTranslation"
				             label="DATA_PROCESS"
				             on-change="changeDataAdditional"
				             on-change-parameters="">
				</input-smart>
			</div>
			<div ng-show="Column['DataAdditional2'] == 6" class="ng-hide">
				<input-smart type="select"
				             model="Column.InputName"
				             max="1"
				             single-value="true"
				             modify="true"
				             options="listProcesses"
				             option-value="ProcessName"
				             option-name="LanguageTranslation"
				             label="DATA_LIST"
				             on-change="changeDataAdditional"
				             on-change-parameters="">
				</input-smart>
			</div>
		</div>
		<div>
			<input-smart type="string" model="Column.DataAdditional" label="EQUATION"></input-smart>
		</div>
	</tab>

	<tab label="FIELD_PROPERTY_TAB_2" hide-tab="{{!(Column.DataType == 22)}}">
		<input-select max="1"
		              unselectable
		              model="matrixScoreType"
		              modify="true"
		              options="[{'name': 'SUM', 'value': 1}, {'name': 'EVALUATIONMATRIX_CONFIG_AVERAGE', 'value': 2}, {'name': 'PERCENTAGE_MATRIX', 'value':3}]"
		              option-value="value"
		              option-name="name"
		              on-change="changeMatrixScoreOptions"
		              on-change-parameters="{'Column': Column}"
		              label="{{'MATRIX_COLUMN_SCORE_TYPE' | translate}}"
		              single-value="true">
		</input-select>
		<input-select max="1"
		              unselectable
		              model="matrixScoreColumn"
		              modify="true"
		              options="cols"
		              option-value="ItemColumnId"
		              option-name="LanguageTranslation"
		              on-change="changeMatrixScoreOptions"
		              on-change-parameters="{'Column': Column}"
		              label="{{'MATRIX_COLUMN_ID' | translate}}"
		              single-value="true">
		</input-select>
		<span class="help" translate="FIELD_PROPERTY_INFO_23"></span>
		<input-select max="1"
					  model="hideScore"
					  unselectable
					  modify="true"
					  options="[{name: 'FALSE', value: 0},{name: 'TRUE', value: 1}]"
					  option-value="value"
					  option-name="name"
					  on-change="changeMatrixScoreOptions"
					  on-change-parameters="{'Column': Column}"
					  label="{{'MATRIX_COLUMN_HIDE_SCORE' | translate}}"
					  single-value="true">
		</input-select>
		<input-select max="1"
					  model="hideHeader"
					  unselectable
					  modify="true"
					  options="[{name: 'FALSE', value: 0},{name: 'TRUE', value: 1}]"
					  option-value="value"
					  option-name="name"
					  on-change="changeMatrixScoreOptions"
					  on-change-parameters="{'Column': Column}"
					  label="{{'MATRIX_COLUMN_HIDE_HEADER' | translate}}"
					  single-value="true">
		</input-select>
		<input-select max="1"
		              unselectable
		              model="showComment"
		              modify="true"
		              options="[{name: 'FALSE', value: 0},{name: 'TRUE', value: 1}]"
		              option-value="value"
		              option-name="name"
		              on-change="changeMatrixScoreOptions"
		              on-change-parameters="{'Column': Column}"
		              label="{{'MATRIX_COLUMN_COMMENT' | translate}}"
		              single-value="true">
		</input-select>
		<input-select max="1"
					  unselectable
					  model="showLastModified"
					  modify="true"
					  options="[{name: 'FALSE', value: 0},{name: 'TRUE', value: 1}]"
					  option-value="value"
					  option-name="name"
					  on-change="changeMatrixScoreOptions"
					  on-change-parameters="{'Column': Column}"
					  label="{{'MATRIX_COLUMN_LASTMODIFIED' | translate}}"
					  single-value="true">
		</input-select>
	</tab>

	<!-- LUCENE / INDEXING -->
	<tab label="FIELD_PROPERTY_TAB_3" hide-tab="{{!(Column.DataType < 4)}}">
		<input-smart type="checkbox" model="Column.UseLucene" on-change="changeProperties" modify="true"
		             label="USE_LUCENE"></input-smart>
		<div ng-show="Column.DataType == 5 && Column.UseLucene" class="ng-hide">
			<input-smart label="LUCENE_SCORE" type="decimal" model="Column.luceneScore" on-change="changeProperties"
			             modify="true"></input-smart>
			<input-smart label="LUCENE_MAX_COUNT" type="int" model="Column.luceneMaxCount" on-change="changeProperties"
			             modify="true"></input-smart>
		</div>
	</tab>
</tabs>





