﻿<table-container class="settings-phases">
    <table materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
		<tr>
			<td>
				<input-button type="icon" ng-click="showTabs()">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>
				{{::tabsNotInPhase}}
			</td>
		</tr>

		<tr>
			<td>
				<input-button type="icon" ng-click="showContainers(tabs[0].ProcessTabId, $index)">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>
				{{::tabs[0].Translation}}
			</td>
			<td>
				{{::tabs[0].ProcessTabGroups}}
			</td>
		</tr>
		<tr>
			<td>
				<input-button type="icon" ng-click="goToFields(0,$index)">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>

				{{::fieldsNotInContainer}}
			</td>
			<td>
				{{::tabs[0].ProcessTabGroups}}
			</td>
		</tr>

        </tbody>
    </table>
</table-container>
<div id="notInUseView"></div>
<table-header>
	<div translate="CREATION_CONTAINERS"></div>
</table-header>
<table-container>
	<table materialize table-selected-rows="selectedColumns">
		<thead>
			<tr>
				<th class="icon"></th>
				<th class="icon"></th>
				<th><div translate="SELECT_NAME"></div></th>
				<th><div translate="HEADER_TEXT"></div></th>
				<th class="icon">
					<input-button type="icon" ng-click="addportfolioDialogColumns();" ng-if="edit">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
		</thead>
		<tbody sortable on-sort="syncOrder" handler=".up-down-button">
			<tr sort="container" ng-repeat="container in creationContainers" table-select-row="{ProcessPortfolioDialogId: container.ProcessPortfolioDialogId, index: $index}" ng-if="creationContainers.length > 0">
				<td>
					<input-button type="icon" no-waves class="up-down-button">
						<i class="material-icons" aria-hidden="true">reorder</i>
					</input-button>
				</td>
				<td>
					<input-button type="icon" ng-click="deleteCreationContainer(container.ProcessPortfolioDialogId, $index)">
						<i class="material-icons" aria-hidden="true">delete</i>
					</input-button>
				</td>
				<td>
					<input-smart-table type="select" single-value="true" model="container.ProcessContainerId" options="ProcessContainers" watch-options option-value="ProcessContainerId" option-name="LanguageTranslation" modify="edit" on-change="changeValue" on-change-parameters="{id: container.ProcessContainerId, index: $index, containerId: container.ProcessPortfolioDialogId}"></input-smart-table>
				</td>
				<td>
					<input-smart-table type="translation" model="container.LanguageTranslation" modify="true" on-change="changeValue" on-change-parameters="{id: container.ProcessPortfolioDialogId, index: $index, containerId: container.ProcessPortfolioDialogId}"></input-smart-table>
				</td>
				<td></td>
			</tr>
			<tr ng-if="creationContainers.length == 0">
				<td colspan="9" class="align-center" translate="NO_CREATION_CONTAINERS"></td>
			</tr>
		</tbody>
	</table>
</table-container>

