<tabs>
	<tab ng-repeat="widget in widgets"
		 label="{{::widget.translation}}"
		 hide-tab="{{(widget.DefaultState == 'widget.portfolio' && !hasRows[widget.Params.portfolioId] && widget.Params.hideIfNoRows == 'true')}}"
		 color="{{::widget.Color}}"
		 icon="{{iconValues['frontpage-' + widget.InstanceMenuId]}}"
		 disableicon="{{::widget.DisableIcon}}"
		 on-click="loadWidgetData"
		 entity="{{::widget.InstanceMenuId}}"
		 id="frontpage-{{::widget.InstanceMenuId}}">
	</tab>
</tabs>