﻿<style>
    tz-dialog img {
        width: 100%;
        max-width: 600px;
    }

    #main-container-transition {
        background-image: URL('images/backgrounds/{{::bgImage}}');
    }
</style>
<tz-dialog ng-if="showBulletins.length > 0" class="align-column" style="
		max-width: 700px;
		max-height: 445px;
		display: block;
		padding: 20px;
		margin: 0 auto;
		opacity: 1;
	">
	<dialog-container>
		<dialog-title>
			<h2 class="ellipsis">{{currentBullet.title_variable[localeId]}}</h2>
		</dialog-title>
		<dialog-content style="overflow-y: auto; height: 360px; display:block;">
			<div ng-bind-html="currentBullet.$body"></div>
		</dialog-content>
		<div class="flex align-row end">
			<input-button class="end" type="primary" modify="currentBulletin -1 > 0" ng-click="prevBulletin()">
				{{'PREV_BULLETIN' | translate}}
			</input-button>
			<input-button class="end" type="primary" modify="currentBulletin < showBulletins.length"
			              ng-click="nextBulletin()">{{'NEXT_BULLETIN' | translate}}
			</input-button>
			<input-button class="end" type="primary" ng-click="closeBulletins()">{{'LAYOUT_LINK_CLOSE' | translate}}
			</input-button>
		</div>
	</dialog-container>
</tz-dialog>
<whiteframe class="frontpage-banner" style="margin-top:20px">
	<content ng-if="::showLogoArea" style="padding:0">
		<div class="align-row space-between basic">
			<div class="align-column start align-item-start" style="width:300px;">
				<div class="frontpage-logo" ng-if="::hasCustomerLogo" alt="Customer Logo"
				     style="background-image: url('v1/meta/AttachmentsDownload/{{hasCustomerLogo}}/{{customerLogoThumbnail}}');"></div>
				<div class="frontpage-logo" ng-if="::!hasCustomerLogo" alt="Keto"
				     style="background-image: url('images/logos/keto_logo.svg');"></div>
			</div>

			<div ng-if="edit" class="align-column end">
				<accordion>
					<pane>
						<pane-header ng-bind="::'FRONTPAGE_LOGO_CHANGE' | translate"></pane-header>
						<pane-content>
							<input-file modify="true"
							            parent="frontpage"
							            group="banner"
							            restrictions="logoOptions">
							</input-file>
						</pane-content>
					</pane>
				</accordion>
			</div>
		</div>
	</content>
</whiteframe>

<whiteframe class="frontpage-banner mobile-hide additional-banner" ng-class="{'full-banner': showTextBannerFull}" ng-if="::showTextBanner">
	<content ng-class="welcome.Params.background" style="{{textBannerStyle}}" class="frontpage-image-left">
		<div ng-if="edit" class="align-column end">
			<accordion>
				<pane>
					<pane-header ng-bind="::'FRONTPAGE_IMAGE_CHANGE' | translate"></pane-header>
					<pane-content>
						<input-file modify="true"
						            parent="frontpage"
						            group="textbanner"
						            restrictions="textBannerOptions">
						</input-file>
					</pane-content>
				</pane>
			</accordion>
		</div>
	</content>
	<content class="frontpage-text-right">
		<div>
			<strong>{{welcome.Params.upperDescription}}</strong><br><br>
			{{welcome.Params.lowerDescription}}
		</div>
	</content>
</whiteframe>


<whiteframe class="frontpage-banner" style="margin-top:10px">
	<content id="frontpage-banner-portfolio" ng-if="::showWidgetsBanner && rightsToPorfolios"></content>
	<div class="align-row end" ng-if="edit">
		<input-button type="icon" ng-click="editWelcome()">
			<i class="material-icons" aria-hidden="true">mode_edit</i>
		</input-button>
		<input-button type="icon" ng-click="addWidget()">
			<i class="material-icons" aria-hidden="true">add</i>
		</input-button>
	</div>
</whiteframe>

<div class="row frontpage-widgets">
	<div ng-repeat="widget in widgets | filter: { LinkType: 4 }" class="{{widget.Params.ViewSize}}">
		<whiteframe>
			<content-header>
				<h3>{{widget.translation}}</h3>
				<span class="flex"></span>
				<input-button type="icon"
				              class="white"
				              ng-click="shiftLeft(widget)"
				              no-waves
				              modify="!$first"
				              ng-if="edit">
					<i class="material-icons" aria-hidden="true">chevron_left</i>
				</input-button>
				<input-button type="icon"
				              class="white"
				              ng-click="shiftRight(widget)"
				              no-waves
				              modify="!$last"
				              ng-if="edit">
					<i class="material-icons" aria-hidden="true">chevron_right</i>
				</input-button>
				<input-button type="icon" ng-click="shiftBanner(widget)" no-waves ng-if="edit">
					<i class="material-icons" aria-hidden="true">expand_less</i>
				</input-button>
				<input-button type="icon" ng-click="editWidget(widget)" ng-if="edit">
					<i class="material-icons" aria-hidden="true">mode_edit</i>
				</input-button>
				<input-button type="icon" ng-click="removeWidget(widget)" ng-if="edit">
					<i class="material-icons" aria-hidden="true">close</i>
				</input-button>
			</content-header>
			<content id="{{::widget.id}}">

			</content>
		</whiteframe>
	</div>
</div>