<input-button type="primary" ng-if="selectedLinks.length"
			  ng-click="removeLinks()"
			  modify="selectedLinks.length"
			  ng-bind="::'NAVIGATION_DELETE' | translate">
</input-button>
<input-button modify="selectedLinks.length" ng-if="selectedLinks.length"
			  ng-click="clearSelection()"
			  ng-bind="::'NAVIGATION_CLEAR' | translate">
</input-button>
<span class="flex"></span>
<input-button type="primary"
              ng-click="newGroup()"
              ng-if="::showGroup"
              ng-bind="::'NAVIGATION_NEW_GROUP' | translate">
</input-button>