<accordion multiple id="menu-navigation" sortable parent="'root'" handler=".sort-handler" on-sort="onSort">
	<pane ng-repeat="(index, group) in navigation" sort="group" style="margin-bottom: 24px;">
		<pane-header class="align-row">
			<input-button type="icon" no-waves ng-click="$event.stopPropagation()" style="width:25px;">
				<i class="material-icons sort-handler" aria-hidden="true" >reorder</i>
			</input-button>
			<div ng-click="$event.stopPropagation()">
				<input-smart class="smart-table"
							 type="translation"
							 model="group.LanguageTranslation"
							 on-change="onChange"
							 minimal
							 on-change-parameters="group">
				</input-smart>
			</div>
		</pane-header>
		<pane-content>
			<table materialize table-selected-rows="selectedLinks">
				<thead>
					<tr>
						<th class="icon"></th>
						<th style="width: 64px" ng-bind="::'NAVIGATION_ICON' | translate"></th>
						<th style="width: 25%" ng-bind="::'NAVIGATION_TRANSLATION' | translate"></th>
						<th class="icon" style="width: 64px" ng-bind="::'NAVIGATION_STATES' | translate"></th>
						<th ng-bind="::'NAVIGATION_USERGROUPS' | translate"></th>
						<th class="icon">
							
						</th>
					</tr>
				</thead>
				<tbody sortable on-sort="onSort" connect="#menu-navigation tbody" parent="group" handler=".sort-handler">
					<tr ng-repeat="(index, link) in group.Links" table-select-row="link.InstanceMenuId" sort="link">
						<td class="icon">
							<input-button type="icon" no-waves class="sort-handler">
								<i class="material-icons" aria-hidden="true">reorder</i>
							</input-button>
						</td>
						<td style="width: 64px">
							<input-smart class="smart-table"
										 type="select"
										 single-value
										 icon-only
										 minimal
										 unselectable
										 options="icons"
										 option-name="Variable"
										 option-value="Icon"
										 option-icon="Icon"
										 model="link.Icon"
										 parent="ParentItemId"
										 self="ItemId"
										 on-change="onChange"
										 on-change-parameters="link">
							</input-smart>
						</td>
						<td style="width: 25%">
							<input-smart class="smart-table"
										 type="translation"
										 minimal
										 model="link.LanguageTranslation"
										 on-change="onChange"
										 on-change-parameters="link">
							</input-smart>
						</td>
						<td class="icon" style="width: 64px">
							<input-button type="icon" ng-click="editStates(link)" ng-show="link.UserGroups.length" ng-if="::link.LinkType != 2">
								<i class="material-icons" aria-hidden="true">lock_open</i>
							</input-button>
						</td>
						<td>
							<input-smart class="smart-table"
										 type="multiselect"
										 options="userGroups"
										 minimal
										 model="link.UserGroups"
										 on-change="onChange"
										 on-change-parameters="link">
							</input-smart>
						</td>
						<td class="icon">
							<input-button type="icon" ng-click="configure(link)" ng-if="::isConfigurable(link)">
								<i class="material-icons" aria-hidden="true">settings</i>
							</input-button>
						</td>
					</tr>
					<tr>
						<td colspan="7">
							<div class="align-row">
								<input-smart type="checkbox"
								             minimal
								             model="group.Params.expand"
								             label="{{::'NAVIGATION_LOAD_EXPAND' | translate}}"
								             on-change="onChange"
								             on-change-parameters="group">
								</input-smart>
								<div style="text-align: right; width: 100%">
									<input-button ng-click="newPage(group, $event)">
										{{::'ADD' | translate}} {{::'NAVIGATION_PAGE' | translate}}
									</input-button>
									<input-button ng-click="newPortfolio(group, $event)">
										{{::'ADD' | translate}} {{::'NAVIGATION_PORTFOLIO' | translate}}
									</input-button>
									<input-button ng-click="newProcess(group, $event)">
										{{::'ADD' | translate}} {{::'NAVIGATION_PROCESS' | translate}}
									</input-button>
									<input-button ng-click="removeGroup(group)">
										{{::'REMOVE' | translate}}
									</input-button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</pane-content>
	</pane>
</accordion>