﻿<div class="row" ng-if="targetColumn">
	<div class="col" style="margin-right: 42px;">
		<table materialize style="max-width: 850px;">
			<thead>
			<tr>
				<th class="align-left" translate="ARCHIVE_COL_THEN"></th>
				<th class="align-left" translate="ARCHIVE_COL_TODAY"></th>
				<th class="align-left" translate="ARCHIVE_COL_TYPE"></th>
				<th class="align-right" translate="ARCHIVE_COL_FROM"></th>
				<th class="align-right" translate="ARCHIVE_COL_TO"></th>
				<th class="icon">
					<input-button minimal type="icon" ng-click="selectAdd()">
						<i class="material-icons">add</i>
					</input-button>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="change in changes" ng-class="{'background-accent' : change == selectedChange}">
				<td ng-click="selectChange(change)">{{::change.Value}}</td>
				<td ng-click="selectChange(change)">{{::change.TodaysValue}}</td>
				<td ng-click="selectChange(change)">{{::getType(change.ArchiveType)}}</td>
				<td ng-click="selectChange(change)" style="text-align: right">{{::fd(change.Start)}}</td>
				<td ng-click="selectChange(change)" style="text-align: right"><span ng-if="change.ArchiveType != 0">{{::fd(change.Date)}}</span></td>
				<td class="icon">
					<input-button minimal type="icon" ng-if="change.ArchiveType != 0 && changes.length - 1 != $index" ng-click="removeArchive(change.Date)">
						<i class="material-icons">delete</i>
					</input-button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="col" ng-if="selectedChange && mode == 1" style="margin-top: 42px;">
		<span translate="ARCHIVE_AMEND"></span>
		<input-smart label="ARCHIVE_SELECT" modify="true" model="newValue" type="select" options="options[targetColumn]" watch-options="true" option-name="list_item" option-value="item_id"></input-smart>
		<span translate="ARCHIVE_NOTE"></span>
		
		<br>
		<input-smart type="date" label="ARCHIVE_COL_FROM" model="changeDateFrom"></input-smart>
		<br>
		<input-smart type="date" label="ARCHIVE_COL_TO" model="changeDateTo"></input-smart>
		
		<br>
		<div style="text-align: right">
			<input-button ng-if="newValue.length > 0" type="primary" ng-click="updateArchive(newValue,changeDateFrom,changeDateTo)">{{'CHANGE' | translate}}</input-button>
		</div>
	</div>

	<div class="col" ng-if="mode == 2" style="margin-top: 42px;">
		<span translate="ARCHIVE_ADD"></span> <input-smart type="date" label="ARCHIVE_COL_TO" model="newDate"></input-smart>
		<input-smart label="ARCHIVE_SELECT_NEW" modify="true" model="newValue" type="select" options="options[targetColumn]" watch-options="true" option-name="list_item" option-value="item_id"></input-smart>
		<span translate="ARCHIVE_NOTE"></span>
		<br>
		<div style="text-align: right">
			<input-button ng-if="newValue.length > 0" type="primary" ng-click="addArchive(newDate, newValue)">{{'CHANGE' | translate}}</input-button>
		</div>
	</div>
</div>
<div ng-if="!targetColumn" style="width:100%; text-align: center"><h2 translate="ARCHIVE_CHOOSE"></h2></div>