<span class="flex"></span>
<span translate="ARCHIVE_CHOOSE"></span>&nbsp;&nbsp;<br>
<input-smart style="width:200px" type="select" minimal="true" model="$parent.targetColumn" single-value="true"
             options="$parent.targetColumnOptions" option-name="name" option-value="value"
             on-change="changeTargetColumn()"></input-smart>
