﻿<dialog-content>
	<dialog-background class="{{::background}}" ng-class="::{ conserve: !background }"></dialog-background>
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'USER_NEW_TITLE' | translate"></h2>
	</dialog-title>
	<dialog-container>
		<form name="userForm">
			<div class="row" style="justify-content: space-between">
				<input-smart type="string"
				             modify="true"
				             model="user.login"
				             label="USER_USERNAME"
				             on-change="usernameChanged"
				             required-field style="width:47%">
				</input-smart>
				<input-smart type="string"
				             manual-save
				             model="user.email"
				             label="USER_EMAIL"
				             on-change="fieldChanged"
				             required-field style="width:47%">
				</input-smart>
			</div>
			<div class="row" style="justify-content: space-between">
				<input-smart type="string"
				             manual-save
				             model="user.first_name"
				             label="USER_FIRST_NAME"
				             on-change="fieldChanged"
				             required-field style="width:47%">
				</input-smart>
				<input-smart type="string"
				             manual-save
				             model="user.last_name"
				             label="USER_LAST_NAME"
				             on-change="fieldChanged"
				             required-field style="width:47%">
				</input-smart>
			</div>
			<div class="row" style="justify-content: space-between">
				<input-smart compact="true" type="checkbox" model="useSSOOnly" on-change="fieldChanged" type="checkbox" label="PASSWORD_SSO" style="width:47%"></input-smart>
				<input-smart type="select"
				             manual-save
				             model="user.active"
				             label="USER_ACTIVE"
				             options="activeOptions"
				             single-value
				             on-change="fieldChanged" style="width:47%">
				</input-smart>
			</div>
			<div class="row" style="justify-content: space-between" ng-show="!useSSOOnly"> 
				<input-container style="width:47%">
					<input id="{{::pid}}" type="password" ng-model="user.password" ng-change="passwordChanged()">
					<label for="{{::pid}}" ng-bind="::'USER_PASSWORD_FIRST' | translate"></label>
				</input-container>
				<input-container style="width:47%">
					<input id="{{::rid}}" type="password" ng-model="rPassword" ng-change="passwordChanged()">
					<label for="{{::rid}}" ng-bind="::'USER_PASSWORD_AGAIN' | translate"></label>
				</input-container>
			</div>
		</form>

	</dialog-container>
</dialog-content>
<dialog-actions>
	<div class="flex align-row start">{{getValidation()}}</div>
	<div class="flex align-row end">
		<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
		<input-button type="primary" ng-click="create()" modify="canCreate && getValidation() == ''">
			{{actionText | translate}}
		</input-button>
	</div>
</dialog-actions>