﻿<div ng-class="{ 'no-animation': disableAnimation == 'true' }" ng-cloak>

	<div ng-show="showLoading"
	     style="background-color: rgba(0, 0, 0, 0.38); width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 20;"></div>


	<nav id="nav-top" ng-if="showNav">
		<input-button type="icon" ng-click="toggleLeftNav()">
			<i class="material-icons" aria-hidden="true">menu</i>
		</input-button>
		<a id="nav-logo" class="pointer no-select aria-detect" tabindex="0" ng-click="logoClick()"
		   tooltip="{{::'LAYOUT_GO_FRONTPAGE' | translate}}">
			<img alt="{{::'LAYOUT_GO_FRONTPAGE' | translate}}" src="images/logos/keto_logo.png">
		</a>
		<p id="nav-path" ng-class="{ 'highlight': toolbarPathHL }">
			<span ng-repeat="p in pathParts">
				<span style="padding-left:14px;padding-right:14px;" ng-if="$index != 0">/</span>
				<span tooltip="{{getQuickNavPosition()}} / {{getQuickNavTotal()}}">
					<input-button class="sidenav-quick-navigation" type="icon"
					              ng-if="$index == 1 && hasQuickNavigation() && getQuickNavPosition() != 1"
					              ng-click="switchPortfolioRow('prev')">
						<i class="material-icons" aria-hidden="true">chevron_left</i>
					</input-button>
					<span ng-click="walkThePath(p, $index)" style="cursor: pointer">
						{{p}}
					</span>
					<input-button class="sidenav-quick-navigation" type="icon"
					              ng-if="$index == 1 && hasQuickNavigation() && getQuickNavPosition() != getQuickNavTotal()"
					              ng-click="switchPortfolioRow('next')">
						<i class="material-icons" aria-hidden="true">chevron_right</i>
					</input-button>
				</span>
			</span>
		</p>

		<span class="flex"></span>
		<span class="nav-environment" ng-if="::environmentName">{{::environmentName}}</span>

		<span id="nav-save">
			{{saveTime}}
		</span>
		<div id="nav-icons">
			<input-button type="icon" ng-if="hasDeleteFunction()" ng-click="executeDeleteFunction()">
				<i class="material-icons" aria-hidden="true">delete</i>
			</input-button>
			<input-button type="icon" ng-if="hasConfigureFunction()" tooltip="CONDITION_C_8"
			              ng-click="executeConditionOutcomes()">
				<i class="material-icons" aria-hidden="true">security</i>
			</input-button>
			<input-button type="icon" ng-if="hasConfigureFunction()"
			              ng-click="executeConfigureFunction()">
				<i class="material-icons" aria-hidden="true">settings</i>
			</input-button>
			<input-button class="mobile-hide" type="icon" ng-if="hasDebugFunction()" ng-click="executeDebugFunction()">
				<i class="material-icons" aria-hidden="true">lock</i>
			</input-button>

			<input-button type="icon" ng-if="unreadNotifications.length > 0"
			              ng-click="showNotifications()">
				<i class="material-icons" aria-hidden="true">mail_outline</i>
				<i ng-if="unreadNotifications.length > 0 && unreadNotifications.length < 10" class="icon-notification">{{unreadNotifications.length}}</i>
				<i ng-if="unreadNotifications.length > 0 && unreadNotifications.length >= 10" class="icon-notification">!</i>
			</input-button>

			<div ng-show="openS" id="navBarSearchParent">
				<input-string id="navBarSearchBox" model="$parent.searchItem"
				              placeholder="{{::'LAYOUT_SEARCH' | translate}} {{selector.translation}}"
				              ng-keydown="$event.keyCode == 13 ? searchItemsNavBar() : null"
				              modify="true"
				              style="width:120px;top: 6px;position: relative;"
				              minimal>
				</input-string>
				<div class="two-line dense list" id="navBarSearch" ng-show="searchItem.length > 2"
				     ng-style="{'max-height': searching ? '75px' : '400px' }" style="left:-100px">
					<loader ng-if="searching" style="margin:10px auto;"></loader>
					<div ng-if="!searching" ng-repeat="(process, value) in items" class="process-search-result">
						<accordion>
							<pane>
								<pane-header>{{::process}} ({{value.length}})</pane-header>
								<pane-content style="padding: 0 5px;">
									<div class="list-item" ng-repeat="item in value"
									     draggable-process="{{item.process}}"
									     item-id="{{::item.item_id}}">
										<div class="list-item-text"
										     ng-click="goToProcess(item.process, item.item_id, item)">
													<span class="primary" ng-bind="::item.primary"
													      tooltip="{{::item.primary}}"></span>
											<span class="secondary" ng-bind="::item.secondary"
											      tooltip="{{::item.secondary}}"></span>
										</div>

										<span class="flex"></span>
										<input-button type="icon" ng-click="toggleFavourite(undefined, item)">
											<i class="material-icons"
											   ng-if="!favourites[item.process][item.itemId]">
												favorite_border
											</i>
											<i class="material-icons red" aria-hidden="true"
											   ng-if="favourites[item.process][item.itemId]">
												favorite
											</i>
										</input-button>
									</div>
									<div class="list-link" ng-if="maxRowCount > 25">
										{{searchOverload}}
									</div>
								</pane-content>
							</pane>
						</accordion>
					</div>
				</div>
			</div>
			<input-button type="icon" ng-click="openSearch()">
				<i class="material-icons" aria-hidden="true">search</i>
			</input-button>


			<div ng-if="::!isAnonymous" class="user-contact mobile-hide">
				<avatar-user user="me"></avatar-user>
				<div>
					<div style="font-size:11px; margin-bottom:2px;" ng-if="delegator != ''">{{delegator}} as</div>
					<h3>{{me.primary}}</h3>
				</div>

				<input-button type="icon" ng-click="showUserMenu($event)">
					<i class="material-icons" aria-hidden="true">arrow_drop_down</i>
				</input-button>
			</div>

			<div ng-if="::!isAnonymous" class="user-contact mobile-show">
				<input-button type="icon" ng-click="showUserMenu($event)">
					<i class="material-icons" aria-hidden="true">arrow_drop_down</i>
				</input-button>
			</div>


			<div ng-if="::isAnonymous" class="user-contact">
				<input-button type="primary" ng-click="logout()" ng-bind="::'LAYOUT_LOGIN' | translate"></input-button>
			</div>
		</div>
		<input-button type="icon" ng-click="toggleRightNav()" ng-if="::showRightSidenav">
			<i class="material-icons" aria-hidden="true">menu</i>
		</input-button>
	</nav>
	<sidenav id="sidenav-left" ng-if="showNav">
		<content id="navigation-menu-static">
			<div id="sidenav-title-static" class="aria-detect" tabindex="{{dynamicTabIndex}}"
			     ng-click="showDynamicNavigation()">
				<a ng-if="!staticLock" ng-click="showDynamicNavigation()" class="align-item-end">
					<i class="material-icons" aria-hidden="true">chevron_right</i>
				</a>
				<span class="overline no-select" ng-bind="::'LAYOUT_NAVIGATION' | translate"></span>
				<a ng-click="closeLeftSidenav();" class="close-sidenav align-item-end">
					<i class="material-icons" aria-hidden="true">close</i>
				</a>
			</div>
			<p id="sidenav-home" tabindex="0"
			   class="pointer no-select aria-detect"
			   ng-click="showFrontpage()"
			   ng-bind="::'LAYOUT_HOME' | translate">
			</p>
			<accordion class="contrast" id="navigation-static" control="navigation-static" multiple>
				<pane ng-repeat="(index, navigation) in ::navStaticNavigation"
				      ng-attr-expand="{{navigation.Params.expand || undefined}}"
				      aria-label="{{navigation.LanguageTranslation | translateObject}}">
					<pane-header tabindex="0" class="aria-detect">
						<i class="material-icons white {{::navigation.iconClass}}" aria-hidden="true"
						   ng-bind="::navigation.icon"></i>
						<a class="ellipsis" aria-expanded="false"
						   tooltip="{{::navigation.LanguageTranslation | translateObject}}"
						   ng-bind="::navigation.LanguageTranslation | translateObject"></a>
					</pane-header>
					<pane-content>
						<div ng-repeat="link in ::navigation.Links"
						     tabindex="{{navigation.Params.expand ? '0' : '-1' }}"
						     ng-click="openView(link, $event)"
						     ng-show="link.visible != false"
						     class="no-select pointer aria-detect"
						     ng-class="{ active: link.$$activeLink }"
						     aria-label="{{::link.LanguageTranslation | translateObject}}">
							<i class="material-icons white" aria-hidden="true" ng-bind="::link.icon"></i>
							<span class="ellipsis stretch"
							      ng-bind="::link.LanguageTranslation | translateObject"
							      tooltip="{{::link.LanguageTranslation | translateObject}}">
							</span>
							<input-button type="icon" no-waves minimal ng-click="stick(link, $event)"
							              ng-if="::canBeStickied(link)">
								<i class="material-icons white" aria-hidden="true">star_border</i>
							</input-button>
						</div>
					</pane-content>
				</pane>
				<pane ng-if="navStickyNavigation.length">
					<pane-header ng-bind="::stickyName"></pane-header>
					<pane-content>
						<div ng-repeat="s in navStickyNavigation"
						     class="no-select pointer"
						     ng-click="openSticky(s.Value, $event)" aria-label="{{s.translation}}">
							<i class="material-icons white" aria-hidden="true" ng-bind="::s.Value.icon"></i>
							<span tooltip="{{s.translation}}">
								{{s.translation}}
							</span>
							<input-button type="icon" no-waves minimal ng-click="editSticky(s, $event)"
							              ng-if="::showStickyEdit(s)">
								<i class="material-icons white" aria-hidden="true">edit</i>
							</input-button>
						</div>
					</pane-content>
				</pane>
			</accordion>
		</content>
		<content id="navigation-menu-dynamic">
			<div id="sidenav-title-dynamic"
			     aria-label="{{::'LAYOUT_NAVIGATION_DYNAMIC' | translate}}" class="aria-detect"
			     tabindex="{{dynamicTabIndex}}">
				<a class="align-item-end" ng-click="hideDynamicNavigation()">
					<i class="material-icons" aria-hidden="true">chevron_left</i>
				</a>
				<span ng-click="hideDynamicNavigation()" class="overline no-select"
				      ng-bind="::'LAYOUT_NAVIGATION_DYNAMIC' | translate"></span>
				<a ng-click="closeLeftSidenav()" class="close-sidenav align-item-end">
					<i class="material-icons" aria-hidden="true">close</i>
				</a>
			</div>
		</content>
	</sidenav>

	<section id="main-container">
		<pusher ng-if="showNav"></pusher>
		<div id="main-container-transition">
			<p id="sidenav-version" class="overline align-center">
				<span ng-if="::showVersion">Rel. {{::version}} @ {{::versiondate}}</span>
				<span class="errors" ng-if="errorCount() > 0" ng-click="openErrors()">
					<span>{{errorCount()}}</span>
					<i class="material-icons" aria-hidden="true">bug_report</i>
				</span>
			</p>

		</div>
		<pusher ng-if="showNav"></pusher>

	</section>
	<sidenav id="sidenav-right" ng-show="showNav">
		<content>
			<div class="mobile-show" style="width: 100%;text-align: right;right: 26px;">
				<input-button type="icon" ng-click="forceCloseRightNav();">
					<i class="material-icons">close</i>
				</input-button>
			</div>
			<tabs control="sidenav-tabs" style="margin-top: -8px;">
				<tab label="LAYOUT_SEARCH" entity="search">
					<content>
						<tabs control="sidenav-search" vertical="true" vertical-height="calc(100vh - 136px)"
						      style="height:calc(100vh - 136px);">
							<tab label="{{::selectorTab.name}}" ng-repeat="selectorTab in selectors">
								<input-string model="selectorTab.search"
								              placeholder="{{::'LAYOUT_SEARCH' | translate}} {{selectorTab.translation}}"
								              on-change="searchItems(selectorTab)"
								              modify="true"
								              minimal>
								</input-string>
								<div ng-repeat="(ic, column) in filterOptions[selectorTab.portfolio.ProcessPortfolioId]">
									<input-smart model="filters[selectorTab.portfolio.ProcessPortfolioId][ic]"
									             ng-if="column.data_type != 5"
									             options="column.options"
									             option-value="item_id"
									             option-name="primary"
									             max="0"
									             type="multiselect"
									             modify="true"
									             label="{{::column.label | translate}}"
									             on-change="searchItems(selectorTab)">
									</input-smart>
									<input-smart model="filters[selectorTab.portfolio.ProcessPortfolioId][ic]"
									             ng-if="column.data_type == 5"
									             process="{{column.data_additional}}"
									             modify="true"
									             type="process"
									             label="{{::column.label | translate}}"
									             on-change="searchItems(selectorTab)">
									</input-smart>
								</div>

								<div ng-show="searching" class="align-column simple-margin">
									<loader class="small"></loader>
									<p class="no-select">
										{{::'LAYOUT_SEARCHING' | translate}}...
									</p>
								</div>
								<h3 style="margin-top:36px;" translate="LAYOUT_RESULTS"></h3>
								<divider style="clear:both;"></divider>
								<div class="two-line dense list" ng-hide="searching">
									<div ng-repeat="(process, value) in selectorTab.items"
									     class="process-search-result">
										<div style="padding-left:0;" class="list-item" ng-repeat="item in value"
										     draggable-process="{{item.process}}"
										     ng-show="item.$$hide != true"
											 ng-click="goToProcess(item.process, item.item_id, value)"
										     item-id="{{item.item_id}}">
											<div class="col">
												<input-smart minimal="true" type="checkbox" model="item.$$isSelected"
												             on-change="selectMultipleRows(selectorTab, item, value)">
												</input-smart>
											</div>
											<avatar-user ng-if="::item.process == 'user'" user="item"></avatar-user>
											<div class="list-item-text">
													<span class="primary" ng-bind="::item.primary"
													      tooltip="{{::item.primary}}"></span>
												<span class="secondary" ng-bind="item.secondary"
												      tooltip="{{item.secondary}}"></span>
											</div>
											<span class="flex"></span>
											<input-button type="icon" ng-click="toggleFavourite(selectorTab, item)">
												<i class="material-icons"
												   ng-if="!favourites[item.process][item.itemId] && item.primary != translated">
													favorite_border
												</i>
												<i class="material-icons red" aria-hidden="true"
												   ng-if="favourites[item.process][item.itemId] && item.primary != translated">
													favorite
												</i>

												<i class="material-icons"
												   ng-if="!customFavorite && item.primary == translated">
													favorite_border
												</i>
												<i class="material-icons red" aria-hidden="true"
												   ng-if="customFavorite && item.primary == translated">
													favorite
												</i>
											</input-button>
										</div>
										<div class="list-link"
										     ng-if="value.length >= 25 && (value.length - isCustom) != selectorTab.maxRowCount && selectorTab.maxRowCount != 0">
											<a type="link" ng-click="loadMoreSearchResults(selectorTab)">
												{{::'LOAD_MORE_RESULTS' | translate}} ({{value.length - isCustom}} /
												{{selectorTab.maxRowCount}}
												)
											</a>
										</div>
									</div>

								</div>
								<p class="italic simple-margin align-center no-select"
								   ng-show="!searching && (selectorTab.items | isEmptyObject)"
								   ng-bind="::'LAYOUT_NO_RESULTS' | translate">
								</p>

							</tab>
						</tabs>
					</content>
				</tab>
				<tab label="LAYOUT_FAVOURITES" active entity="favourites">
					<content>
						<tabs control="sidenav-accordion-favourites" vertical="true"
						      vertical-height="calc(100vh - 136px)"
						      style="height:calc(100vh - 136px);">
							<tab label="{{::selector.name}}" ng-repeat="selector in selectors">
								<div class="two-line dense list">
									<div class="list-item" ng-repeat="item in favourites[selector.value]"
									     draggable-process="{{selector.value}}"
									     item-id="{{::item.item_id}}">
										<avatar-user ng-if="::selector.value == 'user'" user="item"></avatar-user>
										<div class="list-item-text"
										     ng-click="goToProcess(item.process, item.item_id, item)">
											<span class="primary" ng-bind="::item.primary"
											      tooltip="{{::item.primary}}"></span>
											<span class="secondary" ng-bind="::item.secondary"
											      tooltip="{{::item.secondary}}"></span>
										</div>
										<span class="flex"></span>
										<input-button type="icon"
										              ng-click="toggleFavourite(undefined, item)">
											<i class="material-icons red" aria-hidden="true">favorite_border</i>
										</input-button>
									</div>
									<p class="italic simple-margin align-center no-select"
									   ng-if="favourites[selector.value] | isEmptyObject"
									   ng-bind="::'LAYOUT_NO_FAVOURITES' | translate">
									</p>
								</div>

							</tab>
						</tabs>
					</content>
				</tab>
				<tab label="LAYOUT_ROUTES" active entity="routes">
					<content>
						<div class="two-line dense list">
							<div class="list-item" ng-repeat="item in routes">
								<div class="list-item-text" ng-click="openRoute(item)">
									<span class="primary">{{::getRouteName(item, true)}}</span>
									<span class="secondary">{{::getRouteName(item, false)}}</span>
								</div>
								<span class="flex"></span>
								<input-button type="icon" ng-click="toggleRouteFavourite(item)">
									<i class="material-icons red" ng-if="!item.fav"
									   aria-hidden="true">star_border</i>
									<i class="material-icons red" ng-if="item.fav" aria-hidden="true">star</i>
								</input-button>
							</div>
							<p class="italic simple-margin align-center no-select" ng-if="routes | isEmptyObject"
							   ng-bind="::'LAYOUT_NO_FAVOURITE_ROUTES' | translate">
							</p>
						</div>
					</content>
				</tab>
				<tab label="LAYOUT_CONVERSATION" entity="conversation" ng-if="::showConversation">
					<content>
						<input-comment self="frontpageConversation" modify="true"></input-comment>
					</content>
				</tab>
			</tabs>
		</content>
	</sidenav>
	<swipe-detector-left ng-swipe-right="toggleLeftNav()"></swipe-detector-left>
</div>
