<table materialize table-selected-rows="selectedLinks">
	<thead>
		<tr>
			<th class="icon"></th>
			<th style="width: 25%" ng-bind="::'NAVIGATION_TRANSLATION' | translate"></th>
			<th ng-bind="::'NAVIGATION_USERGROUPS' | translate"></th>
			<th style="width: 128px" colspan="2" ng-bind="::'NAVIGATION_BANNER' | translate"></th>
		</tr>
	</thead>
	<tbody sortable on-sort="onSort" handler=".sorter">
		<tr ng-repeat="w in widgets" table-select-row="w.InstanceMenuId" sort="w">
			<td class="icon">
				<input-button minimal type="icon" no-waves class="sorter">
					<i class="material-icons" aria-hidden="true">reorder</i>
				</input-button>
			</td>
			<td style="width: 25%">
				<input-smart class="smart-table"
							 type="translation"
							 minimal
							 model="w.LanguageTranslation"
							 on-change="onChange"
							 on-change-parameters="w">
				</input-smart>
			</td>
			<td>
				<input-smart class="smart-table"
							 type="multiselect"
							 options="userGroups"
							 minimal
							 model="w.UserGroups"
							 on-change="onChange"
							 on-change-parameters="w">
				</input-smart>
			</td>
			<td ng-switch="w.LinkType">
				<div ng-switch-when="5">
					<input-button type="icon" ng-click="demote(w)" no-waves>
						<i class="material-icons" aria-hidden="true">expand_more</i>
					</input-button>
				</div>
				<div ng-switch-when="4">
					<input-button type="icon" ng-click="promote(w)" no-waves>
						<i class="material-icons" aria-hidden="true">expand_less</i>
					</input-button>
				</div>
			</td>
			<td class="icon">
				<input-button type="icon" ng-click="editWidget(w)">
					<i class="material-icons" aria-hidden="true">settings</i>
				</input-button>
			</td>
		</tr>
	</tbody>
</table>