﻿<div id="allocation-cell-edit">
	<transition transite="showChat">
		<input-comment process="{{::allocation.process}}" self="{{::allocation.itemId}}" group="allocationRequest" modify="true"></input-comment>
	</transition>
	<input-smart type="string"
				 label="ALLOCATION_ALLOCATION_TITLE"
				 model="allocation.title"
				 on-change="titleChanged">
	</input-smart>
	<input-smart type="string"
				 label="ALLOCATION_ALLOCATION_CURRENT_STATUS"
				 model="currentStatus"
				 modify="false">
	</input-smart>
	<div class="row">
		<input-smart class="col-xs-12 col-md-6" 
		             type="process"
					 label="{{::'ALLOCATION_ALLOCATION_ALLOCATED_TO' | translate}} {{::allocation.parentProcess}}"
					 process="{{::allocation.parentProcess}}"
					 model="allocation.parent"
					 max="1"
					 modify="false">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6" 
					type="select"
					 label="ALLOCATION_COST_CENTER_SELECTION"
					 options="allocation.costCenterOptions"
					 model="allocation.costCenter"
					 option-name="list_item"
					 option-value="item_id"
					 single-value
					 max="1"
					 modify="edit"
					 required
					 on-change="costCenterChanged">
		</input-smart>
	</div>
	
	<div class="row">
		<input-smart class="col-xs-12 col-md-6"
					 type="date"
					 label="ALLOCATION_ALLOCATION_START_DATE"
					 modify="edit"
					 group="allocation-1"
					 on-change="isValid"
					 model-start="allocation.dates.startDate">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6"
					 type="date"
					 label="ALLOCATION_ALLOCATION_END_DATE"
					 modify="edit"
					 on-change="isValid"
					 group="allocation-1"
					 model-end="allocation.dates.endDate">
		</input-smart>
		<div style="font-size: 12px; font-style: italic; margin-left: 12px; color: rgb(244, 138, 96);">{{error}}</div>

	</div>
	<div class="row">
		<input-smart class="col-xs-12 col-md-6"
					 type="decimal"
					 label="ALLOCATION_ALLOCATION_CURRENT_TOTAL_HOURS"
					 model="selectedTotalHours"
					 modify="false">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6"
					 type="integer"
					 label="ALLOCATION_ALLOCATION_CURRENT_AFFECTED_DAYS"
					 model="selectedTotalDays"
					 modify="false">
		</input-smart>
	</div>

	<div class="row" style="margin-top:46px;justify-content: space-between" ng-show="::useCalendar && edit">
	<h4 class="h4" style="padding-left:8px" translate="HIDDEN_INPUT_TITLE"></h4>
		<input-smart
				style="position: absolute;right: 20px;margin-top: -26px;"
				type="checkbox"
				label="USE_FTE"
				model="useFte"
				modify="edit">
		</input-smart>
	</div>
	<div class="row" ng-show="::useCalendar && edit">
		<input-smart class="col-xs-12 col-md-6"
					 type="checkbox"
					 label="ALLOCATION_ALLOCATION_INCLUDE_DAY_OFFS"
					 model="includeNotWorks"
					 on-change="workDays"
					 modify="edit">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6"
					 type="select"
					 options="weekDays"
					 label="ALLOCATION_ALLOCATION_AVOID_DAYS"
					 model="additionalNotWorks"
					 max="0"
					 on-change="workDays"
					 modify="edit">
		</input-smart>
	</div>

	<div class="row" ng-show="edit">
		<input-smart class="col-xs-12 col-md-6"
					 ng-show="!useFte"
					 modify="edit"
					 type="decimal"
					 min="0"
					 label="ALLOCATION_ALLOCATION_SELECTION_TOTAL_HOURS"
					 model="totalHours"
					 on-change="changed"
					 on-change-parameters="'total'">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6"
					 ng-show="useFte"
					 modify="edit"
					 type="decimal"
					 min="0"
					 label="ALLOCATION_ALLOCATION_SELECTION_TOTAL_HOURS_FTE"
					 model="totalHours"
					 on-change="changed"
					 on-change-parameters="'total'">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6"
					 ng-show="!useFte"
					 modify="edit"
					 type="decimal"
					 min="0"
					 label="ALLOCATION_ALLOCATION_SELECTION_PER_DAY"
					 model="perDay"
					 on-change="changed"
					 on-change-parameters="'perDay'">
		</input-smart>
		<input-smart class="col-xs-12 col-md-6"
					 ng-show="useFte"
					 modify="edit"
					 type="decimal"
					 min="0"
					 label="ALLOCATION_ALLOCATION_SELECTION_PER_DAY_FTE"
					 model="perDay"
					 on-change="changed"
					 on-change-parameters="'perDay'">
		</input-smart>
	</div>

</div>