<input-button type="secondary" ng-if="clearButton" ng-click="clearAllocation()" translate="CLEAR"></input-button>

<span class="flex"></span>
<input-button type="secondary" ng-if="resetButton" ng-click="reset()">
	{{resetText}}
</input-button>
<input-button type="warn" ng-if="rejectButton" ng-click="reject()">
	{{rejectText}}
</input-button>
<input-button type="primary" ng-if="sendButton && error == ''" ng-click="send()">
	{{sendText}}
</input-button>
<input-button type="primary" ng-if="approveButton && error == ''" ng-click="approve()">
	{{approveText}}
</input-button>