<dialog-content>
	<dialog-title>
		<h2>{{::tkey}}</h2>
	</dialog-title>
	<table-container>
		<table materialize>
			<thead>
			<tr>
			<th ng-repeat="l in languages">
				{{l.name}}
			</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td ng-repeat="y2 in data">
					<input-smart-table type="string" on-change="changeTranslation" on-change-parameters="y2" model="y2.Translation" placeholder="Translation"></input-smart-table>
				</td>
			</tr>
			</tbody>
		</table>
	</table-container>

</dialog-content>

<dialog-actions>
	<input-button ng-click="cancel()">Cancel</input-button>
	<input-button type="primary" ng-click="save()">Save</input-button>
</dialog-actions>