﻿<tabs>
    <tab entity="1" on-click="checkSelectedTab" label="NAVIGATION_TRANSLATIONS">
        <table-container>
            <table materialize table-selected-rows="selectedRows">
                <thead>
                    <tr>
                        <th>
                            <span>{{'LANGUAGE_VARIABLE' | translate}}</span>
                        </th>
                        <th class="icon">
                            <span>{{'EDIT_INSTANCE_TRANSLATIONS' | translate}}</span>
                        </th>
                        <th ng-repeat="(key,value) in ::data">
                            {{::key}}
                        </th>

                        <th class="icon">
                            <input-button type="icon" minimal ng-click="newEmptyRow();">
                                <i class="material-icons" aria-hidden="true">add</i>
                            </input-button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="languageVariable in languageVariableArray | startFrom: paging.currentPage*paging.size | limitTo:paging.size " table-select-row="languageVariable">
                        <td ng-click="variableChangeDialog(languageVariable)">
                            {{languageVariable}}
                        </td>
                        <td class="icon">
                            <input-button type="icon" minimal ng-click="editProcessTranslation(languageVariable);">
                                <i class="material-icons" aria-hidden="true">translate</i>
                            </input-button>
                        </td>
                        <td ng-repeat="(key, value) in data" style="width: 20%">
                            <input-smart-table type="string" model="data[key][languageVariable]" on-change="saveProcessTranslation" on-change-parameters="[key, languageVariable, data[key][languageVariable]]"></input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </table-container>
    </tab>

    <!-- Process Translations TAB-->
    <tab entity="2" on-click="checkSelectedTab" label="Process Translations">
        <div class="row">
            </div>
            <table-container>
                <table materialize table-selected-rows="selectedRows">
                    <thead>
                        <tr>
                            <th>
                                <span>{{'LANGUAGE_VARIABLE' | translate}}</span>
                            </th>
                            <th ng-repeat="(key,value) in ::variableTranslationPairs">
                                {{::key}}
                            </th>
                            <th class="icon">
                                <input-button type="icon" minimal ng-click="newEmptyRow();">
                                    <i class="material-icons" aria-hidden="true">add</i>
                                </input-button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" plv in processLanguageVariables | startFrom: paging.currentPage*paging.size | limitTo:paging.size " table-select-row="plv">

                            <td ng-click="variableChangeDialog(plv)">
                                {{plv}}
                            </td>
                            <td ng-repeat="(key2, value2) in variableTranslationPairs" style="width: 20%">
                                <input-smart-table on-change-parameters="{ 'langVariable': plv, 'language': key2, 'translation': variableTranslationPairs[key2][plv]}" on-change="changeValue" type="string" model="variableTranslationPairs[key2][plv]"></input-smart-table>

                        </tr>
                    </tbody>
                </table>
            </table-container>
    </tab>
</tabs>