<div class="flex align-row start" style="width: 400px">
    <input-string model="$parent.search" placeholder="Search" modify="true" on-change="$parent.searchChange" minimal style="width: 50%"></input-string>
    <input-smart class="col-xs-6" minimal type="select" single-value="true" model="filterSearch" modify="true" options="processOptions"  style="width: 50%" option-name="LanguageTranslation" option-value="ProcessName" value="processOptions" on-change="processFilter"></input-smart>
</div>
<div class="flex align-row end">
    <table-pager page="paging.currentPage" page-size="paging.size" max="usedArray" on-page-change="onPageChange" on-page-size-change="onPerPageChange"></table-pager>
</div>
