﻿<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">{{::'RM_MODIFY_TITLE' | translate}}</h2>
	</dialog-title>
	<dialog-container>
		<accordion control="rowmanager-edit" multiple>
			
			<pane>
				<pane-header>
					{{::'RM_MODIFY_RESPONSIBLE' | translate}}
				</pane-header>
				<pane-content>
					<input-smart manual-save type="user" label="Search for a user" model="$parent.responsible"></input-smart>
				</pane-content>
			</pane>
			
			<pane>
				<pane-header>
					{{::'RM_MODIFY_CHANGE_START_DATE' | translate}}
				</pane-header>
				<pane-content>
					<input-smart manual-save type="date" model="$parent.startDate" placeholder="START_DATE" modify="true"></input-smart>
				</pane-content>
			</pane>
			<pane>
				<pane-header>
					{{::'RM_MODIFY_CHANGE_END_DATE' | translate}}
				</pane-header>
				<pane-content>
					<input-smart manual-save type="date" model="$parent.endDate" placeholder="END_DATE" modify="true"></input-smart>
				</pane-content>
			</pane>
			<pane>
				<pane-header>
					{{::'RM_MODIFY_CHANGE_FIX_DATE' | translate}}
				</pane-header>
				<pane-content>
					<input-smart manual-save type="integer" model="$parent.moveDays" label="DAYS"></input-smart>
				</pane-content>
			</pane>
			
			<pane>
				<pane-header>
					{{::'RM_MODIFY_EFFORT' | translate}}					
				</pane-header>
				<pane-content>
					<input-smart manual-save type="integer" model="$parent.setEffort" label="Set work hours"></input-smart>
				</pane-content>
			</pane>
			
		</accordion>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">{{::'CANCEL' | translate}}</input-button>
	<input-button type="primary" ng-click="apply()">{{::'APPLY' | translate}}</input-button>
</dialog-actions>
