﻿<tabs>
	<tab label="Non-domain specific configurations" activate>
		<h1 class="h5">
			Common configurations
		</h1>
		<div ng-repeat="(category, cValue) in ::configurations['dynamic']">
			<table-header>
				Configurations for {{::category}}
			</table-header>
			<table-container>
				<table materialize>
					<thead>
						<tr>
							<th>Variable name</th>
							<th style="width: 50%">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(name, nValue) in ::cValue">
							<td>
								<p ng-bind="::name"></p>
							</td>
							<td>
								<input-smart-table type="{{::nValue.format}}"
												   align="left"
												   model="model[category][name]['value']"
												   single-value>
								</input-smart-table>
							</td>
						</tr>
					</tbody>
				</table>
			</table-container>
		</div>
		<h1 class="h5">
			Read-only configurations
		</h1>

		<div ng-repeat="(category, cValue) in ::configurations['static']">
			<table-header>
				Configurations for {{::category}}
			</table-header>
			<table-container>
				<table materialize>
					<thead>
						<tr>
							<th>Variable name</th>
							<th style="width: 50%">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(name, nValue) in ::cValue">
							<td>
								<p ng-bind="::name"></p>
							</td>
							<td>
								<p ng-bind="::nValue.value"></p>
							</td>
						</tr>
					</tbody>
				</table>
			</table-container>
		</div>
	</tab>
	<tab label="Domain specific configurations">
		<h1 class="h5" ng-show="::!(configurations['domain']['default']['dynamic'] | isEmptyObject)">
			Dynamic configurations
		</h1>
		<div ng-repeat="(attribute, aValue) in ::configurations['domain']['default']['dynamic']">
			<table-header ng-bind="::attribute"></table-header>
			<table-container>
				<table materialize class="table three-columns">
					<thead>
						<tr>
							<th>Variable name</th>
							<th style="width: 50%">Value</th>
							<th>Apply to</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(name, nValue) in ::aValue">
							<td>
								<p ng-bind="::name"></p>
							</td>
							<td>
								<input-smart-table type="{{::nValue.format}}"
												   align="left"
												   model="model['domain']['default'][attribute][name]['value']"
												   single-value>
								</input-smart-table>
							</td>
							<td>
								<input-smart class="smart-table"
											 type="select"
											 minimal
											 placeholder="Apply to all"
											 model="model['domain']['default'][attribute][name]['domain']"
											 options="::domains"
											 option-value="name"
											 option-name="name">
								</input-smart>
							</td>
						</tr>
					</tbody>
				</table>
			</table-container>
		</div>
		<h1 class="h5">
			Read-only configurations
		</h1>
		<div ng-repeat="(attribute, aValue) in ::configurations['domain']['default']['static']">
			<table-header ng-bind="::attribute"></table-header>
			<table-container>
				<table materialize>
					<thead>
						<tr>
							<th>Variable name</th>
							<th style="width: 50%">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(name, nValue) in ::aValue">
							<td>
								<p ng-bind="::name"></p>
							</td>
							<td>
								<p ng-bind="::nValue.value"></p>
							</td>
						</tr>
					</tbody>
				</table>
			</table-container>
		</div>
		<div ng-repeat="(domain, dValue) in ::configurations['domain']" ng-if="::domain != 'default'">
			<h1 class="h5">
				Default configurations for domain {{::domain}}
			</h1>
			<h2 class="h6">
				Dynamic configurations
			</h2>
			<div ng-repeat="(attribute, aValue) in ::dValue['dynamic']">
				<table-header ng-bind="::attribute"></table-header>
				<table-container>
					<table materialize table-selected-rows="selectedRows">
						<thead>
							<tr>
								<th>Variable name</th>
								<th style="width: 50%">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr table-select-row="{'domain': domain, 'attribute': attribute, 'name': name}"
								ng-repeat="(name, nValue) in ::aValue">
								<td>
									<p ng-bind="::name"></p>
								</td>
								<td>
									<input-smart-table align="left" type="{{::nValue.format}}"
													   model="model['domain'][domain][attribute][name]">
									</input-smart-table>
								</td>
							</tr>
						</tbody>
					</table>
				</table-container>
			</div>
			<h2 class="h6">
				Read-only configurations
			</h2>
			<div ng-repeat="(attribute, aValue) in ::dValue['static']">
				<table-header ng-bind="::attribute"></table-header>
				<table-container>
					<table materialize>
						<thead>
							<tr>
								<th>Variable name</th>
								<th style="width: 50%">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(name, nValue) in ::aValue">
								<td>
									<p ng-bind="::name"></p>
								</td>
								<td>
									<p ng-bind="::nValue.value"></p>
								</td>
							</tr>
						</tbody>
					</table>
				</table-container>
			</div>
		</div>
	</tab>
</tabs>