﻿<style>
	.simple-padding input-check input-container {
		height: 50px;
	}
</style>
<div class="tab">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <container-header>
                {{::'USER_1_AI' | translate}}
            </container-header>
            <div class="align-column simple-padding">
                <input-smart type="string" required-field="true" modify="edit" label="USER_3_U" class="stretch" model="data.login" on-change="onChange"></input-smart>
                <input-smart required-field="true" single-value="true" type="select" label="USER_4_A" class="stretch" model="data.active" on-change="onChangeActive" options="activeOptions" modify="edit"></input-smart>
                <input-smart required-field="true" type="hidden" label="USER_5_P" class="stretch" model="data.password" on-change="onChange" modify="passwordEdit"></input-smart>
                <input-smart required-field="false" type="checkbox" modify="edit" label="USER_TWOFACTOR_TITLE" class="stretch" model="twofactor.enabled" on-change="onChangeTwoFactor"></input-smart>
	            <input-smart required-field="false" type="checkbox" modify="edit" label="USER_KETOAUTH_TITLE" class="stretch" model="twofactor.ketoAuth" on-change="onChangeKetoAuth"></input-smart>
	            
	            <input-smart required-field="false" type="checkbox" modify="edit" label="USER_INTEGRATION_UPDATE" class="stretch" model="data.integration_update" on-change="onChange"></input-smart>
	            
	            <input-smart type="string" ng-if="twofactor.enabled" modify="false" label="USER_TWOFACTOR_SETUP" class="stretch" model="twofactor.setupCode"></input-smart>
                <img ng-if="twofactor.enabled" ng-src="{{twofactor.setupQdr}}" />
                
	            
	            
	            
            </div>
        </div>
        
        
        <div class="col-xs-12 col-md-6">
            <container-header>
                {{::'USER_2_UG' | translate}}
            </container-header>
            <div class="row simple-padding">
                <input-smart type="checkbox" class="col-xs-6" ng-repeat="group in ::groups" label="{{::group.usergroup_name}}" model="userGroups[group.item_id].selected" on-change="onChangeGroup" on-change-parameters="group.item_id" modify="writeGroup"></input-smart>
            </div>
        </div>
    </div>
</div>