﻿<div class="row">
    <table materialize>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time Range</th>
                <th>View</th>
                <th>Wat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input-smart-table type="date" unselectable on-change="changeValue" model="parameters.startDate"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="parameters.timerange" on-change="changeValue" on-change-parameters="" options="options.timeRanges" option-name="name" option-value="value" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" max="1" model="parameters.view" on-change="changeValue" on-change-parameters="$index" options="options.views" option-name="name" option-value="value" single-value="true" required="false"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" max="1" model="parameters.uniqueViews" on-change="changeValue" on-change-parameters="$index" options="options.uniqueViews" option-name="name" option-value="value" single-value="true"></input-smart-table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="center-align stretch" style="height:150px;padding-bottom:50px;">
            <canvas class="chart chart-bar" chart-data="views" chart-labels="labels" chart-options="chartOptions"></canvas>
        </div>
    </div>
</div>