<div ng-if="!consent" style="margin-top:64px;text-align: center;">
    <div translate="PERFORMANCE_WARN" style="margin:0 auto;width:500px;line-height:1.24"></div>
    <input-button style="margin:0 auto;" ng-click="toggleConsent()" type="warn" ng-bind="::'PERFORMANCE_CONSENT' | translate"></input-button>
</div>
<tabs ng-if="consent">
    <tab label="PERFORMANCE_SQ">
        <div class="backdrop" ng-show="sqLoading" style="text-align: center">
            <loader class="contrast" style="margin:0 auto"></loader>
            {{::'PERFORMANCE_WAIT1' | translate}}
        </div>
        <table materialize style="max-width: 1200px" ng-if="!sqLoading">
            <thead>
            <tr>
                <th translate="DATA_PROCESS"></th>
                <th translate="FIELD"></th>
                <th translate="PERFORMANCE_STATUS" class="icon" style="width:120px"></th>
                <th translate="PERFORMANCE_MS" class="align-right" style="width:120px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in sqColumns">
                <td>{{c.ProcessName | translate}}</td>
                <td>{{c.ColumnName | translate}}</td>
                <td class="icon">
                    <i class="material-icons" style="color:red;" ng-if="status(c.Error, c.Suspicious) == 3">cancel</i>
                    <i class="material-icons" style="color:orange;" ng-if="status(c.Error, c.Suspicious) == 2">help</i>
                    <i class="material-icons" style="color:green;"
                       ng-if="status(c.Error, c.Suspicious) == 1">check_circle</i>
                </td>
                <td class="align-right">{{fn(c.TimeMs)}}</td>
            </tr>
            </tbody>
        </table>
    </tab>
    <tab label="PERFORMANCE_CO">
        <div class="backdrop" ng-show="coLoading" style="text-align: center">
            <loader class="contrast" style="margin:0 auto"></loader>
            {{::'PERFORMANCE_WAIT2' | translate}}
        </div>
        <table materialize style="max-width: 1200px" ng-if="!coLoading">
            <thead>
            <tr>
                <th translate="DATA_PROCESS"></th>
                <th translate="CONDITION"></th>
                <th translate="PERFORMANCE_STATUS" class="icon" style="width:120px"></th>
                <th translate="PERFORMANCE_MS" class="align-right" style="width:120px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in coColumns">
                <td>{{c.ProcessName | translate}}</td>
                <td>{{c.ConditionName | translate}}</td>
                <td class="icon">
                    <i class="material-icons" style="color:red;" ng-if="status(c.Error, c.Suspicious) == 2">cancel</i>
                    <i class="material-icons" style="color:orange;" ng-if="status(c.Error, c.Suspicious) == 3">help</i>
                    <i class="material-icons" style="color:green;"
                       ng-if="status(c.Error, c.Suspicious) == 1">check_circle</i>
                </td>
                <td class="align-right">{{fn(c.TimeMs)}}</td>
            </tr>
            </tbody>
        </table>
    </tab>
</tabs>
