﻿<div class="row">
	

	<table materialize style="width:360px;" class="col">
		<thead>
		<tr>
			<th translate="AUDITLOG_VIEWEDBY"></th>
			<th style="width:120px;" translate="AUDITLOG_VIEWEDON"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in ::users">
			<td>{{::formatUser(row["name"])}}</td>
			<td>{{::formatDate(row["occurence"])}}</td>
		</tr>
		</tbody>
	</table>

	<table materialize style="margin-left:100px; width:600px;" class="col">
		<thead>
		<tr>
			<th translate="AUDITLOG_PROCESS"></th>
			<th style="width:240px;" translate="AUDITLOG_USER"></th>
			<th style="width:120px;" translate="AUDITLOG_DATE"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in ::changes">
			<td>{{::formatProcess(row["LastModifiedProcess"])}}</td>
			<td>{{::formatUser(row["LastModifiedUser"])}}</td>
			<td>{{::formatDate(row["LastModifiedDate"])}}</td>
		</tr>
		</tbody>
	</table>
</div>
<table-container ng-if="!simple">
	<table materialize>
		<thead>
			<tr>
				<th style="width:120px;" translate="AUDITLOG_USER"></th>
				<th style="width:120px;" translate="AUDITLOG_DATE"></th>
				<th style="width:120px;" translate="AUDITLOG_PROCESS"></th>
				<th translate="AUDITLOG_CHANGES"></th>
			</tr> 
		</thead>
		<tbody>
			<tr ng-repeat="row in ::data">
				<td>{{::formatUser(row["archive_user"])}}</td>
				<td>{{::formatDate(row["archive_date"])}}</td>
				<td>{{::formatProcess(row["process"])}}</td>
				<td>
					<ul style="padding-top: 4px;padding-bottom: 4px;line-height: 1.25;">
						<li ng-repeat="change in row.changes">{{::change.Key}}: {{::formatChange(change.Value)}}</li>
					</ul>
				</td>
			</tr>
			
			
			
			<tr ng-if="loading">
				<td colspan="4">
					<loader style="margin:20px auto;"></loader>
				</td>
			</tr>
			<tr ng-if="loading">
				<td colspan="4" style="text-align: center">
					<span translate="AUDITLOG_NOTE"></span> - {{formatProgress(count,status)}}
				</td>
			</tr>
		</tbody>
	</table>
</table-container>

