<div class="row">
	<div ng-repeat="chart in ::charts" class="col-xs-{{::12 / charts.length}}">
		<chart-header ng-bind="::chart.title"></chart-header>
		<canvas class="chart chart-pie"
				chart-click="chart.onClick"
				chart-data="chart.data" chart-labels="chart.labels" chart-colors="chart.colors">
		</canvas>
	</div>
</div>