<div class="flex align-row">
    <div>
	<input-button type="primary" ng-click="addMatrixQuestion()">{{'ADD_MATRIX_QUESTION' | translate}}</input-button>
	<input-button type="primary" ng-click="addMatrixColumn()" ng-if="matrixRows.rows.length">{{'ADD_MATRIX_COLUMN' | translate}}</input-button>
	<input-button type="secondary"  ng-click="setConditions()">{{'CONDITIONS' | translate}}</input-button>
	</div>
</div>
<div style="float: right;" >
	<input-button ng-click="toggleTexts()" ng-show="showToolTips">
		{{'SWITCH_TO_COLUMN_TEXTS' |translate}}
	</input-button>
	<input-button ng-click="toggleTexts()" ng-show="!showToolTips">
		{{'SWITCH_TO_TOOLTIPS' |translate}}
	</input-button>
</div>