<table materialize table-selected-rows="selectedRows">
    <thead>
    <tr>
        <!--        <th></th>-->
        <th style="width: 100px;">{{'MATRIX_ROW_WEIGHTING' | translate}}</th>
        <th>{{'MATRIX_COMMENT_NAME' | translate}}</th>
        <th ng-repeat="column in matrixRows.columns">
                <span style="position: relative; bottom: 10px;" ng-click="$index != 0 ? modifyColumn(column) : setQuestionWidths(column)">
					<i class="material-icons" aria-hidden="true">edit</i>
				</span>
                <span style="display: inline-block;" ng-click="$first" >
					<input-smart-table type="translation" model="column.name" modify="false"></input-smart-table>
                </span>
        </th>
    </tr>
    </thead>
    <tbody sortable handler=".up-down-button" on-sort="syncOrder">
    <tr ng-repeat="row in matrixRows.rows" sort="row">
        <td class="icon">
            <input-button type="icon" modify="edit" no-waves class="up-down-button">
                <i class="material-icons" aria-hidden="true">reorder</i>
            </input-button>
        </td>
        <td class="icon">
            <input-smart-table type="decimal" model="row.weighting" on-change="saveRow"
                               on-change-parameters="row"></input-smart-table>
        </td>
        <td>
            <input-smart-table type="translation" model="row.comment_name" on-change="saveRow"
                               on-change-parameters="row"></input-smart-table>
        </td>
        <td>
            <input-smart-table type="translation" model="row.name" on-change="saveRow"
                               on-change-parameters="row"></input-smart-table>
        </td>

        <td ng-repeat="desc in row.$descriptions">
            <div ng-show="!showToolTips">
                <input-smart-table type="translation" model="desc.name" on-change="saveRow"
                                   on-change-parameters="desc"></input-smart-table>
            </div>
            <div ng-show="showToolTips">
                <input-smart-table type="translation" label="tes" model="desc.tooltip" on-change="saveRow"
                                   on-change-parameters="desc"></input-smart-table>
            </div>
        </td>
        <td class="icon">
            <input-button type="icon" modify="edit" ng-click="deleteRow(row)">
                <i class="material-icons" aria-hidden="true">delete</i>
            </input-button>
        </td>
    </tr>
    </tbody>
</table>




