<transition transite="isVisible" style="margin-top: -24px;margin-bottom: 12px;">
    <tabs style="margin-top:0px;" hide-if-single-tab="minimal || hideIfOneTab">
        <tab ng-if="::hideFilters | isFalse" label="FILTERS">
            <div class="process-progress-bar" ng-if="::portfolioColumns.length && (hideProgress | isFalse)">
                <div ng-repeat="phase in ::combinedPhases"
                     class="progress pointer"
                     ng-class="{ decision: phase.type === 1, grey: !phase.filtered }"
                     tooltip="{{::phase.translation}}"
                     ng-click="phaseChange(phase)">
                    <div ng-bind="::phase.translation" class="no-select poin
                    ter"></div>
                </div>
            </div>

            <div class="row stretch" ng-if="::portfolioColumns.length">
                <div ng-repeat="c in filterCols" class="col-xs-6 col-sm-4 col-lg-3" style="padding-right: 34px">
                    <input-smart ng-if="c.type == 'text'" class="stretch"
                                 type="string"
                                 label="TEXT_SEARCH"
                                 model="filters.text"
                                 manual-save
                                 on-enter="filter()"
                                 on-change="tick">
                    </input-smart>

                    <div class="row" style="justify-content: start" ng-if="c.type == 'timemachine'">
                        <div class="col" style="width:70%;padding-left:8px;">
                            <input-smart type="date" model="filters.archive"
                                         label="ENABLE_TIMEMACHINE"
                                         on-change="saveTimeMachineDate"></input-smart>
                        </div>
                        <div class="col" style="padding-top:28px;">
                            <input-button minimal type="icon" title="{{'SAVE_TIMEMACHINE_FILTER' | translate}}" ng-click="newTimeMachine()" ng-if="::timeMachineEnabled" no-waves>
                                <i class="material-icons" aria-hidden="true">cloud_upload</i>
                            </input-button>
                        </div>
                    </div>

                    <input-smart type="select"
                                 ng-if="c.type == 'timemachine_list'"
                                 watch-options="true"
                                 modify="true"
                                 options="::savedTimeMachines"
                                 option-value="Date"
                                 option-name="Name"
                                 single-value="true"
                                 model="filters.archive"
                                 label="SAVED_TIME_MACHINES"

                                 on-change="saveTimeMachineDate">
                    </input-smart>


                    <input-smart ng-if="c.type == 'select'"
                                 type="{{ ::c.col.dataType == 6 ? 'multiselect' : c.col.dataType}}"
                                 label="{{::c.col.translation}}"
                                 chip
                                 manual-save
                                 model="filters.select[c.col.ItemColumnId]"
                                 options="c.col.dataType == 19 ? tags : options[c.col.ItemColumnId]"
                                 option-value="item_id"
                                 option-name="list_item"
                                 from-filters="true"
                                 option-icon="list_symbol"
                                 option-inuse-all="true"
                                 ng-attr-portfolio-id="{{::c.col.portfolioId || undefined}}"
                                 ng-attr-preload="{{::c.col.preload || undefined}}"
                                 watch-options
                                 option-color="list_symbol_fill"
                                 process="{{::c.col.dataAdditional}}"
                                 on-change="instantTick">
                    </input-smart>
                    <input-smart class="divided-left" ng-if="c.type == 'number'" type="1"
                                 label="{{::'PORTFOLIO_START' | translate}} {{::c.col.translation}}"
                                 manual-save
                                 model="filters.range[c.col.ItemColumnId].start"
                                 on-change="tick">
                    </input-smart>
                    <input-smart class="divided-right" ng-if="c.type == 'number'" type="1"
                                 label="{{::'PORTFOLIO_END' | translate}} {{::c.col.translation}}"
                                 manual-save
                                 model="filters.range[c.col.ItemColumnId].end"
                                 on-change="tick">
                    </input-smart>
                    <input-smart class="divided-left" type="3" ng-if="c.type == 'date'"
                                 label="{{::'PORTFOLIO_START' | translate}} {{::c.col.translation}}"
                                 manual-save
                                 model="filters.dateRange[c.col.ItemColumnId].start"
                                 on-change="tick">
                    </input-smart>
                    <input-smart class="divided-right" type="3" ng-if="c.type == 'date'"
                                 label="{{::'PORTFOLIO_END' | translate}} {{::c.col.translation}}"
                                 manual-save
                                 model="filters.dateRange[c.col.ItemColumnId].end"
                                 on-change="tick">
                    </input-smart>
                    <input-smart class="divided-left" type="13" ng-if="c.type == 'date_time'"
                                 label="{{::'PORTFOLIO_START' | translate}} {{::c.col.translation}}"
                                 manual-save
                                 model="filters.dateRange[c.col.ItemColumnId].start"
                                 on-change="tick">
                    </input-smart>
                    <input-smart class="divided-right" type="13" ng-if="c.type == 'date_time'"
                                 label="{{::'PORTFOLIO_END' | translate}} {{::c.col.translation}}"
                                 manual-save
                                 model="filters.dateRange[c.col.ItemColumnId].end"
                                 on-change="tick">
                    </input-smart>
                </div>
            </div>
        </tab>
        <tab ng-if="hideColumns | isFalse" label="FILTER_COLUMNS">
            <div class="row stretch">
                <input-check class="col-xs-6 col-md-4 col-lg-2"
                             ng-repeat="(key, column) in ::columns"
                             minimal
                             manual-save
                             modify="!$first"
                             model="selectedColumns[column.Name]"
                             label="{{::column.translation}}"
                             on-change="columnChange">
                </input-check>
                <input-checks class="col-xs-6 col-md-4 col-lg-2"
                              ng-repeat="group in ::groupedColumns"
                              minimal
                              manual-save
                              modify="true"
                              options="group.columns"
                              option-name="ItemColumn.translation"
                              option-value="ItemColumn.Name"
                              model="selectedGroupedColumns[group.ProcessPortfolioColumnGroupId]"
                              label="{{::group.LanguageTranslation | translateObject}}"
                              on-change="columnChange">
                </input-checks>
            </div>
        </tab>
        <tab ng-if="hideColumns | isFalse" label="SORT_BY_COLUMNS">
            <div class="row stretch">
                <div class="col-xs-12 col-sm-6 col-lg-3" ng-if="filters.sort.length === 0">
                    <div class="sort-column simple-padding">
                        <div class="sort-column-header align-row">
                            <span class="ellipsis italic" ng-bind="::'DEFAULT_SORT_BY' | translate"></span>
                        </div>
                        <div class="sort-column-content">
                            <input-check minimal label="{{::'DESCENDING' | translate}}"></input-check>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3"
                     ng-repeat="sortColumn in filters.sort track by sortColumn.column">
                    <div class="sort-column simple-padding">
                        <div class="sort-column-header align-row">
								<span class="ellipsis"
                                      ng-bind="::sortTranslations[sortColumn.column]"
                                      tooltip="{{::sortTranslations[sortColumn.column]}}">
								</span>
                            <span class="flex"></span>
                            <input-button type="icon"
                                          minimal
                                          no-waves
                                          modify="!$first"
                                          ng-click="shiftSortLeft($index)"
                                          tooltip="INCREASE_SORT_BY_PRIORITY">
                                <i class="material-icons" aria-hidden="true">keyboard_arrow_left</i>
                            </input-button>
                            <input-button type="icon"
                                          minimal
                                          no-waves
                                          modify="!$last"
                                          ng-click="shiftSortRight($index)"
                                          tooltip="DECREASE_SORT_BY_PRIORITY">
                                <i class="material-icons" aria-hidden="true">keyboard_arrow_right</i>
                            </input-button>
                            <input-button type="icon"
                                          minimal
                                          no-waves
                                          ng-click="removeSort($index)"
                                          tooltip="REMOVE_SORT_BY">
                                <i class="material-icons" aria-hidden="true">close</i>
                            </input-button>
                        </div>
                        <div class="sort-column-content">
                            <input-check modify="true"
                                         minimal
                                         model="sortColumn.order"
                                         option-true="desc"
                                         option-false="asc"
                                         on-change="tick"
                                         label="{{::'DESCENDING' | translate}}">
                            </input-check>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 align-row">
                    <input-button type="icon" tooltip="ADD_SORT_BY" ng-click="addOrder($event)">
                        <i class="material-icons" aria-hidden="true">add_circle_outline</i>
                    </input-button>
                </div>
            </div>
        </tab>
    </tabs>
    <div class="align-row" ng-if="!minimal" style="margin-bottom: 8px;">
        <span class="flex"></span>
        <input-button ng-click="excludeRows()" ng-if="filters.excludeItemIds.length" ng-bind="::'EXCLUDE_ROWS' | translate"></input-button>
        <input-button ng-click="clearFilters()" ng-bind="::'CLEAR' | translate"></input-button>
        <input-button ng-click="saveFilters()"
                      ng-if="::hideSaveButton | isFalse"
                      ng-bind="::'SAVE' | translate">
        </input-button>
        <input-button ng-click="filter()"
                      type="primary"
                      ng-if="::hideFilterButton | isFalse"
                      ng-bind="::'FILTER' | translate">
        </input-button>
    </div>
</transition>
