﻿#navigation-static {
  margin-bottom: 30px;

  pane-header {
    font-size: 0.8125rem;

    &::after {
      top: 8px;
    }

    &:focus {
      color: $accent-1-hover;
    }
  }

  > pane.expanded > pane-header {
    background-color: $primary-0;
    color: $text;

    &::after {
      color: $icon-active;
    }
  }

  content {
    padding: 0;
    position: relative;
    background-color: $primary-800;

    > div > div {
      font-size: 0.8125rem;
      padding-right: 56px;
      padding-left: 44px;
      min-height: 36px;
      line-height: 36px;
      position: relative;
      display: flex;
      transition: color $transition-fast;

      &.active {
        color: $accent-1;
      }

      &:focus {
        color: $accent-1-hover;
      }

      &:hover {
        color: $accent-1 !important;

        > .btn {
          display: block;
        }
      }

      > i {
        position: absolute;
        left: 16px;
        line-height: 36px;
      }
    }

    .btn {
      display: none;
      padding: 0 16px;
      position: absolute;
      top: 10px;
      right: 0;
      height: 20px;
      min-width: 24px;
      width: 24px;

      > i {
        font-size: 18px;
      }
    }
  }
}

#navigation-dynamic {
  margin-bottom: 30px;
  
  > pane-mockup {
    display: block;
    position: relative;

    > pane-header {
      display: flex;

      &::after {
        display: none;
      }

      &.active {
        color: $accent-1;
      }
    }

    &:hover > .btn {
      display: block;
    }
  }

  > pane, pane-mockup {
    background-color: $primary-800;
  }

  > pane.subtitle {
    background-color: #212121;
  }

  pane-sub-header {
    font-size: 0.625rem;
    min-height: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.09375rem;
    line-height: 50px;
    padding-left: 48px;
    color: $text-white;
    transition: color $transition-fast;
  }
  pane-header {
    font-size: 0.8125rem;

    padding-left: 48px;
    color: $text-white;
    transition: color $transition-fast;

    &.aria-detect {
      cursor: pointer;

      &:focus {
        color: $accent-1-hover !important;

        i {
          color: #000 !important;
        }

        i.navigation-back {
          color: #fff !important;
        }
      }
    }

    &:hover {
      color: $accent-1 !important;
      background-color: $primary-800;
    }

    .material-icons {
      position: absolute;
      left: 12px;
      line-height: 40px;
    }

    &::after {
      color: $icon-white-active;
    }
  }

  .process-progress {
    margin-top: 8px;

    &.material-icons {
      font-size: 1rem;
      line-height: 24px;
      color: $text;
    }
  }

  content {
    padding: 0;
    background-color: $primary-700;
    color: $text-white;

    > div > div {
      font-size: 0.8125rem;
      position: relative;
      padding-right: 56px;
      padding-left: 60px;
      height: 36px;
      line-height: 36px;
      display: flex;

      &.active {
        color: $accent-1;
      }

      > .material-icons {
        position: absolute;
        left: 32px;
        line-height: 36px;
      }

      &:hover {
        background-color: $accent-1;
        color: $text !important;

        > .btn {
          display: block;
        }

        > .material-icons {
          color: $icon-active;
        }
      }
    }
  }

  .btn {
    display: none;
    padding: 0 16px;
    position: absolute;
    top: 10px;
    right: 0;
    height: 20px;
    min-width: 24px;
    width: 24px;

    > i {
      font-size: 18px;
    }
  }
}


accordion {
  display: block;

  &.contrast {
    > pane > content {
      color: $text-white;
    }

    pane-header {
      color: $text-white;
      transition: unset;

      .aria-detect {
        cursor: pointer;

        &:focus {
          color: $accent-1-hover !important;

          i {
            color: $icon-active !important;
          }
        }
      }

      &:hover {
        background-color: $primary-0;
        color: $text !important;

        &::after {
          color: $icon-active;
        }
      }

      &::after {
        color: $icon-white-active;
      }
    }
  }

  > pane {
    display: block;
    position: relative;
    overflow: hidden;

    &.expanded {
      > pane-header::after {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
      }

      > content {
        max-height: none;
        opacity: 1;
      }

      .aria-detect {
        cursor: pointer;

        &:focus {
          color: $accent-1-hover !important;

          #navigation-dynamic i {
            color: rgba(0, 0, 0, 0.54) !important;
          }
        }
      }

    }

    > content {
      overflow: hidden;
      background-color: inherit;
      padding: 0 8px 0 16px;
      max-height: 0;
      opacity: 0;
      transition: height $transition-slow, opacity $transition-slow $transition-fast;

      > div {
        overflow: auto;
      }
    }
  }

  pane-header {
    @include no-select;

    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    height: 40px;
    padding: 0 56px 0 16px;
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
    color: $text;
    transition: background-color $transition-fast;

    &:hover {
      background-color: $primary-100;
    }

    &::after {
      @extend .material-icons;
      position: absolute;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -webkit-transition: -webkit-transform $transition-slow;
      transition: transform $transition-slow;
      content: 'chevron_left';
      width: 24px;
      height: 24px;
      padding: 0 16px;
      top: 8px;
      right: 0;
    }
  }
}