﻿.list-link {
  text-align: center;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  font-style: italic;

  a {
    cursor: pointer;
    font-style: normal;
  }

  a:hover {
    text-decoration: underline;
    color: $accent-2;
  }
}


input-hidden, input-number, input-process, input-select, input-date, input-text, input-string, input-comment, input-chip, input-chart {
  input, textarea {
    border: none;
    padding-bottom: 6px;
    border-bottom: 1px solid $divider;
    background-color: transparent;
    margin-bottom: 8px;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: border-bottom $transition-slow, box-shadow $transition-slow;
    transition: border-bottom $transition-slow, box-shadow $transition-slow;

    &:not([readonly]) {
      &:hover {
        border-bottom-color: $text-secondary;
        box-shadow: 0 1px 0 0 $text-secondary;
      }

      &:focus {
        border-bottom: 1px solid $accent-2;
        box-shadow: 0 1px 0 0 $accent-2;
      }

      &.ng-invalid {
        border-bottom: 1px solid $alert;
        box-shadow: 0 1px 0 0 $alert;

        &::-webkit-input-placeholder {
          color: $alert;
        }

        &::-moz-placeholder {
          color: $alert;
        }

        &:-ms-input-placeholder {
          color: $alert;
        }
      }
    }

    &[readonly] {
      border-bottom-style: dashed;

      &.ng-empty {
        cursor: default;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }
    }

    &[required] ~ label:after {
      color: $alert;
      content: ' *';
      display: inline;
    }

    &::-webkit-input-placeholder {
      color: $text-secondary;
    }

    &:-ms-input-placeholder {
      color: $text-secondary;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: $text-secondary;
    }
  }
}

input-check, input-date, input-file, input-link, input-number, input-process, input-radio, input-select,
input-string, input-text, input-rich, input-translation, input-comment, input-chip, input-portfolio, input-rating,
input-matrix, input-hidden, input-chart {
  max-width: 800px;
  display: block;
}

input-date, input-select, input-process {
  > input-container {
    min-width: 72px;
  }
}

input-container {
  display: block;
  position: relative;
  height: 72px;
  min-width: 56px;

  > input, > textarea {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    resize: none;

    &:not([readonly]) {
      &:focus + label {
        color: $accent-2;
        transform: translateY(18px) scale(.75);
        -webkit-transform: translateY(18px) scale(.75);
      }

      &.ng-invalid + label {
        color: $alert;
      }
    }

    &.ng-not-empty + label {
      transform: translate(0, 18px) scale(.75);
      -webkit-transform: translate(0, 18px) scale(.75);
    }
  }

  > label {
    height: 1.125rem;
    width: 100%;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $text-secondary;
    cursor: text;
    z-index: 1;
    position: absolute;
    transform: translateY(41px);
    -webkit-transform: translateY(41px);
    -webkit-transition: transform $transition-slow cubic-bezier(.25, .8, .25, 1), color $transition-slow cubic-bezier(.25, .8, .25, 1);
    transition: transform $transition-slow cubic-bezier(.25, .8, .25, 1), color $transition-slow cubic-bezier(.25, .8, .25, 1);
    transform-origin: left;
  }
}

input-select, input-hidden, input-number, input-string, input-date, input-process, input-chip, input-check {
  &[minimal] > input-container {
    margin: 0;
    height: 44px;
    min-height: 44px;
  }
}

input-select, input-hidden, input-number, input-string, input-date, input-process, input-chip, input-text {
  &[minimal] label {
    display: none;
  }
}

input-radio[minimal] {
  > input-container {
    padding-top: 11px;
    padding-bottom: 13px;

    > div:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }

  label {
    height: 20px;
    line-height: 20px;
    padding-left: 28px;

    &:after {
      content: '';
      height: 20px;
      width: 20px;
    }

    &:before {
      content: '';
      height: 16px;
      width: 16px;
    }
  }
}

input-smart {
  display: block;
}

.pivot-table {
  td {
    &.sum {
      font-weight: 500;
      border-top: 0px;
      //width: 100px;
      height: 40px;
    }

    &.border-solid {
      border-top: solid rgba(0, 0, 0, 0.87) 1px;
      font-weight: 500;
    }

    &.title {
      text-align: left !important;
      width: 300px;
    }

    text-align: right !important;
    font-family: 'Roboto';
  }

  th {
    text-align: right !important;
    font-family: 'Roboto';
    // width: 100px;
  }

  tr {
    &.header {
      th {
        height: 40px !important;
        text-align: center !important;

        div {
          //max-width:100px;
          overflow: hidden;
          text-align: right;
        }
      }
    }
  }
}

.smart-table {
  position: relative;
  display: block;
  width: 100%;
  min-height: 44px;
  overflow: hidden;

  > input-check[minimal] {
    > input-container {
      max-width: 40px;
    }

    label {
      width: 20px;
      padding-left: 0;
      font-size: 0;
    }

    input {
      &.ng-not-empty + label, + label {
        margin-bottom: 0;
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
      }
    }
  }

  > input-hidden, > input-select, > input-date, > input-string, > input-number, > input-translation > input-string {
    &[minimal] input {
      font-size: 0.8125rem;
      border-bottom-color: transparent;
      box-shadow: none;

      &:not([readonly]) {
        &:hover {
          border-bottom-color: $text-secondary;
          box-shadow: 0 1px 0 0 $text-secondary;
        }

        &:focus {
          border-bottom: 1px solid $accent-2;
          box-shadow: 0 1px 0 0 $accent-2;
        }
      }
    }
  }

  > input-text[minimal] {
    textarea {
      box-shadow: none;

      &:hover {
        border-bottom-color: $text-secondary;
        box-shadow: 0 1px 0 0 $text-secondary;
      }

      &:focus {
        border-bottom: 1px solid $accent-2;
        box-shadow: 0 1px 0 0 $accent-2;
      }
    }

    p.body-1 {
      line-height: 1.0156rem;
    }

    textarea, p.body-1 {
      border-bottom-color: transparent;
      font-size: 0.8125rem;
    }

    p.body-1 {
      &.table {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: inline;
        vertical-align: middle;
        padding-top: 2px;
        min-height: 12px;
        padding-bottom: 6px;

        &.modify {
          &:hover {
            border-bottom: solid 2px $text-secondary;
          }
        }
      }
    }
  }

  > input-number {
    input, .input-value {
      text-align: right;
      margin-left: 0px;
    }
  }

  > input-radio label {
    vertical-align: middle;
  }

  &[underline] > input-number[minimal] input {
    border-bottom-color: $divider;
  }

  > input-number[minimal], > input-select[minimal] {
    .input-value {
      font-size: 0.8125rem;
      bottom: 13px;
    }
  }

  > input-select[minimal] {
    .input-value > .material-icons {
      font-size: 19px;
    }

    input {
      font-size: 0;
    }
  }

  > input-date[minimal] {
    .btn.btn-icon {
      bottom: 4px;
    }
  }
}

input[type="password"] {
  border: none;
  padding-bottom: 6px;
  border-bottom: 1px solid $divider;
  background-color: transparent;
  margin-bottom: 8px;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: border-bottom $transition-slow, box-shadow $transition-slow;
  transition: border-bottom $transition-slow, box-shadow $transition-slow;

  &:not([readonly]) {
    &:hover {
      border-bottom-color: $text-secondary;
      box-shadow: 0 1px 0 0 $text-secondary;
    }

    &:focus {
      border-bottom: 1px solid $accent-2;
      box-shadow: 0 1px 0 0 $accent-2;
    }

    &.ng-invalid {
      border-bottom: 1px solid $alert;
      box-shadow: 0 1px 0 0 $alert;

      &::-webkit-input-placeholder {
        color: $alert;
      }

      &::-moz-placeholder {
        color: $alert;
      }

      &:-ms-input-placeholder {
        color: $alert;
      }
    }
  }

  &[readonly] {
    border-bottom-style: dashed;

    &.ng-empty {
      cursor: default;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &[required] ~ label:after {
    color: $alert;
    content: ' *';
    display: inline;
  }

  &::-webkit-input-placeholder {
    color: $text-disabled;
  }

  &:-ms-input-placeholder {
    color: $text-disabled;
  }

  &::-moz-placeholder {
    color: $text-disabled;
    opacity: 1;
  }
}

input-check[minimal] {
  > input-container {
    min-width: 40px;
  }

  label {
    height: 20px;
    padding-left: 30px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
    }

    &:after {
      content: '';
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
    }
  }

  input {
    &.ng-not-empty + label, + label {
      margin-bottom: 0;
      -webkit-transform: translate(10px, 11px);
      transform: translate(10px, 11px);
    }
  }
}

input-hidden {
  > input-container {
    cursor: pointer;

    &.readonly {
      cursor: default;

      > label {
        cursor: default;
      }

      > input[readonly] {
        cursor: default;
        border-bottom-style: dashed;
      }
    }
  }

  input[readonly] {
    border-bottom-style: solid;
  }

  input, label {
    cursor: pointer;
  }
}

input-string, input-text, input-date {
  textarea, input {
    &:not([readonly]):focus ~ validator {
      opacity: 1;
    }

    &.ng-invalid ~ validator {
      color: $alert;
    }
  }

  validator {
    opacity: 0;
    transition: opacity $transition-fast;
    position: absolute;
    right: 0;
    bottom: -8px;
  }
}

input-text {
  textarea {
    white-space: pre-line;
    bottom: 0;
    padding: 0 0 6px 0;
    overflow: auto;

    &[readonly] {
      display: none;

      ~ p {
        display: block;
      }
    }
  }

  &[minimal] {
    p.body-1 {
      padding-top: 10px;
      min-height: 56px;
    }
  }

  p.body-1 {
    cursor: text;
    display: none;
    white-space: pre-line;
    padding-top: 38px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 92px;
    border-bottom: 1px dashed $divider;
  }
}

input-text textarea {
  overflow: hidden;
}

.process-filter-content {
  ~ dialog-actions .legend {
    margin-right: 32px;
    white-space: nowrap;
    overflow: hidden;

    > .colour-block {
      display: inline-block;
      width: 14px;
      min-width: 8px;
      height: 14px;
      margin: 0 8px 0 16px;
      border-radius: 50px;
    }
  }

  .process-filter-area {
    min-height: 264px;
  }

  row-manager {
    .process-progress {
      display: inline-block;
      vertical-align: middle;
    }

    > table .rowmanager-header > th:first-of-type > div {
      padding-left: 16px;
    }

    > table tr td:first-of-type > .data-column {
      padding-left: 16px;
    }
  }

  allocation-manager tr {
    .cell {
      cursor: grab;
    }

    &:not(.rowmanager-header) {
      cursor: pointer;
    }
  }

  .process-filter-controls {
    i {
      transition: color $transition-medium;
    }

    > div {
      margin-top: 53px;
    }
  }

  .process-filter-area {
    overflow: auto;
  }

  .openRow {
    display: none;
  }

  allocation-manager {
    th, td {
      &:first-of-type .data-column {
        padding-left: 16px;
      }
    }
  }
}

input-process {
  .process-add, .process-remove {
    cursor: pointer;

    > i {
      padding: 8px;
    }
  }

  > .readonly {
    .process-add, ~ .list .process-remove, .process-remove {
      display: none;
    }
  }

  &.one-process {
    position: relative;

    > .has-content {
      .process-add {
        display: none;
      }

      > input.ng-not-empty + label {
        transform: translateY(18px) scale(.75);
        -webkit-transform: translateY(18px) scale(.75);
      }
    }

    > input-container.readonly {
      min-height: 72px;
    }

    > .readonly ~ .list.dense.two-line .list-item {
      border-bottom-style: dashed;
    }

    > .list.dense.two-line {
      width: 100%;
      position: absolute;
      bottom: 8px;
      margin: 0;

      > .list-item {
        height: 24px;
        padding: 0 0 4px 0;

        &:hover {
          background-color: inherit;
        }

        i {
          padding: 0 8px 0 0;
        }
      }

      .primary {
        height: 1.0625rem;
        font-size: 1rem;
        margin-bottom: 0;
      }

      .secondary {
        display: none;
      }
    }
  }

  > .backdrop {
    @include z-depth-1;
    max-width: 800px;
    position: absolute;
    display: flex;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $text-disabled;

    > loader {
      margin: auto;
    }
  }

  > .dropzone {
    max-width: 800px;
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $text-disabled
  }

  > .has-content {
    .empty-row {
      display: none;
    }
  }

  &[table] {
    max-width: 800px;

    > div > input {
      display: none;

      &[required] + table {
        th:first-child > div:after {
          content: ' *';
          color: $alert;
        }
      }
    }

    :not(.has-content) > input[required] + table {
      th:first-child > div {
        color: $alert;
      }

      tbody > tr:first-of-type > td {
        border-top-color: $alert;
        box-shadow: 0 -1px 0 0 $alert;
      }
    }

    tr.empty-row td {
      color: $text-secondary;
      cursor: default;
    }

    table {
      overflow-x: auto;
      margin: 6px 0 14px 0;

      th {
        vertical-align: bottom;
        padding-bottom: 6px;
        height: 51px;

        &.process-add {
          padding-bottom: 0;

          > i {
            position: relative;
            top: 4px;
          }
        }

        &:first-of-type {
          min-width: 56px;
          width: 15%;
          padding-bottom: 6px;
        }
      }

      th, td {
        max-width: 112px;

        > div {
          line-height: 1.0625rem;
          width: 100%;
        }

        &.icon {
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }

  > .list {
    max-width: 800px;

    .process-remove {
      padding: 8px;
    }
  }
}

input-container.minimal-chip {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
}

input-chip, input-process[chip] {
  margin-right: 36px;

  input-mockup {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $divider;
    transition: border-bottom 300ms, box-shadow 300ms;
    -webkit-transition: border-bottom 300ms, box-shadow 300ms;
  }

  chip {
    margin: 0 6px 4px 0;
    height: 26px;
    min-width: 14px;
    transition: background $transition-slow;
    padding-right: 8px;

    &.minimal-chip {
      display: inline-block;
      background-color: transparent;
    }

    &:hover {
      background-color: $primary-400;
    }

    > chip-name {
      padding-right: 26px;
      line-height: 26px;
      height: 26px;
      font-size: 0.8125rem;
      overflow-x: hidden;
    }

    > .process-remove, > i.material-icons {
      cursor: pointer;
      position: absolute;
      top: 4px;
      right: 8px;
      font-size: 18px;
    }
  }

  &[minimal] > input-container {
    min-height: 44px;
    height: auto;
    padding: 10px 40px 0 0;

    > input-mockup {
      display: none;
    }

    > .process-add, > i {
      bottom: 4px;
    }

    &.readonly {
      padding-right: 0;
    }
  }

  > .readonly {
    padding-right: 0;

    > input-mockup {
      border-bottom-style: dashed;
      border-bottom-color: $divider;
      box-shadow: none;
    }

    chip-name {
      padding-right: 0;
    }
  }

  :not(.readonly) {
    > .ng-invalid ~ input-mockup {
      border-bottom: 1px solid $alert;
      box-shadow: 0 1px 0 0 $alert;

      &::-webkit-input-placeholder {
        color: $alert;
      }

      &::-moz-placeholder {
        color: $alert;
      }

      &:-ms-input-placeholder {
        color: $alert;
      }

      + label {
        color: $alert;
      }
    }

    > .ng-valid {
      ~ .process-add, ~ i, ~ label {
        &:hover ~ input-mockup {
          border-bottom-color: $text-secondary;
          box-shadow: 0 1px 0 0 $text-secondary;
        }

        &:focus ~ input-mockup {
          border-bottom-color: $accent-2;
          box-shadow: 0 1px 0 0 $accent-2;
        }
      }
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
  }

  > .has-content > label {
    transform: translateY(18px) scale(.75);
  }

  input {
    display: none;
  }

  > input-container {
    min-height: 72px;
    height: auto;
    padding: 34px 40px 7px 0;
    box-sizing: border-box;

    > .process-add, > i {
      display: inline-block;
      position: absolute;
      right: -2px;
      bottom: 3px;
      cursor: pointer;
    }
  }
}

input-chip, input-process {
  position: relative;

  > input-container {
    > input, > label {
      cursor: pointer;
    }

    > input.ng-not-empty {
      color: transparent;

      + label {
        transform: translateY(41px);
        -webkit-transform: translateY(41px);
      }
    }

    > i {
      padding: 8px;
    }
  }

  .readonly {
    > input, > label {
      cursor: text;
    }
  }
}

input-chip {
  > chip > i, > i {
    cursor: pointer;
    padding: 8px;
  }

  .readonly {
    > chip > i, > i {
      display: none;
    }
  }
}

input-radio {
  > input-container {
    padding-top: 37px;
    padding-bottom: 13px;
    height: auto;

    > div:not(:last-of-type) {
      margin-bottom: 22px;
    }
  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    height: 22px;
    line-height: 22px;

    &:before {
      content: "";
      color: transparent;
      display: inline-block;
      -webkit-transition: border $transition-slow;
      transition: border $transition-slow;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      border: 2px solid $primary-500;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: $accent-2;
      -webkit-transition: -webkit-transform $transition-slow, background-color $transition-slow;
      transition: transform $transition-slow, background-color $transition-slow;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }

  input {
    display: none;

    &[readonly] {
      &:checked + label {
        &:before {
          content: "";
          border-color: $primary-400;
        }
      }

      + label {
        color: $text-disabled;
        cursor: default;

        &:before {
          content: "";
          border-style: dashed;
          border-color: $primary-400;
        }

        &:after {
          content: "";
          background-color: $primary-400;
        }
      }
    }

    &:checked + label {
      &:after {
        content: "";
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
      }

      &:before {
        content: "";
        border-color: $accent-2;
      }
    }
  }

  &[minimal] input-container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

input-check {
  input {
    display: none;

    &:not(:focus).ng-valid {
      &[disabled] + label {
        color: $text-disabled;
        cursor: default;
      }

      + label {
        color: $text;
      }
    }

    &.ng-not-empty + label {
      transform: translateY(37px);
    }

    &:checked + label {
      &:after {
        content: "";
        border: solid $primary-0;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:before {
        content: "";
        background-color: $accent-2;
        border-color: $accent-2;
      }
    }

    &.indeterminate + label {
      &:after {
        content: "";
        width: 6px;
        border: solid $primary-500;
        border-width: 0 2px 0 0;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    &:not([disabled]) {
      &:checked + label:hover::before {
        background-color: $accent-2-hover;
      }

      + label:hover {
        &::before {
          background-color: $primary-200;
        }
      }
    }

    &[disabled] {
      &:checked + label {
        &:after {
          content: "";
        }

        &:before {
          content: "";
          background-color: $primary-400;
        }
      }

      + label {
        &:before {
          content: "";
          border-color: $primary-400;
          border-style: dashed;
        }
      }
    }
  }

  label {
    box-sizing: border-box;
    text-align: left;
    width: auto;
    max-width: 100%;
    color: $text;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    height: 22px;
    line-height: 22px;
    transform: translateY(37px);
    -webkit-transform: translateY(37px);

    &:before {
      content: "";
      position: absolute;
      color: transparent;
      display: inline-block;
      -webkit-transition: background-color $transition-slow, border-color $transition-slow;
      transition: background-color $transition-slow, border-color $transition-slow;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      left: 0;
      background-color: transparent;
      border: 2px solid $primary-500;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 7px;
      top: 2px;
      width: 6px;
      height: 12px;
      -webkit-transition: -webkit-transform $transition-slow;
      transition: transform $transition-slow;
    }
  }
}

input-comment {
  &[note] {
    chip {
      position: relative;
      margin-bottom: 12px;
      min-width: 48%;
      max-width: 96%;
      border-radius: 2px;

      &.transition-in {
        background-color: $accent-1;
      }
    }

    &[infinite] {
      .comment-section {
        max-height: none;
      }
    }

    .comment-section {
      min-height: 136px;
      max-height: 520px;
    }

    .chip-input {
      padding: 13px 44px 0 16px;
      background-color: $accent-1;
      width: 48%;

      &.wider {
        width: 80%;
      }

      textarea {
        overflow: auto;
        padding-right: 28px;
        resize: none;
        width: 100%;
        box-sizing: border-box;
      }

      .new-comment {
        position: absolute;
        right: 4px;
        bottom: 4px;
      }
    }

    .comment-date {
      position: absolute;
      top: 6px;
      bottom: auto;
      left: auto;
      right: 6px;
    }

    .is-sender {
      background-color: $primary-300;
      align-self: flex-start;

      .comment-date {
        color: $text;
      }
    }
  }

  > input-container {
    height: auto;
    margin-bottom: 8px;

    &.readonly {
      .comment-section {
        min-height: 103px;
        max-height: 463px;
      }

      h1 ~ .comment-section {
        min-height: 80px;
        max-height: 440px;
      }

      .input-section, .chip-input {
        display: none;
      }
    }
  }

  .empty {
    margin-top: 16px;
  }

  .date {
    margin: 8px 0;
  }

  .comment-file {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: $divider;
  }

  img {
    display: block;
    height: auto;
    width: auto;

    max-height: 512px;
    max-width: 100%;
    border-radius: 2px;

    ~ chip-name {
      margin-top: 8px;
    }
  }

  chip {
    height: auto;
    display: block;
    padding: 6px 12px;
    margin-bottom: 24px;
    max-width: 80%;
    align-self: flex-start;
    transition: background-color 600ms;
    border-radius: 4px;

    chip-name {
      white-space: pre-line;
      cursor: text;
      height: auto;

      > a {
        @include reset-url;
      }
    }

    &.transition-in {
      background-color: $primary-200;
    }
  }

  .remove-comment {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    background-color: $primary-200;
    opacity: 0;
    transition: opacity $transition-fast;

    &.transition-in {
      opacity: 1;
    }
  }

  .is-sender {
    background-color: $accent-1;
    align-self: flex-end;

    .comment-date {
      color: $text;
      right: 8px;
      left: auto;
      text-align: right;
    }
  }

  .comment-section {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 343px;
    overflow-y: auto;
    min-height: 103px;
    padding: 16px 8px 0 8px;
    background-color: $primary-50;
  }

  h1 ~ .comment-section {
    margin-top: 6px;
    min-height: 80px;
    max-height: 392px;
  }

  loader {
    align-self: center;
    margin: 16px 0 0 0;
  }

  .input-section {
    position: relative;
    padding: 13px 16px 0 16px;

    background-color: $primary-200;

    > input {
      padding-right: 28px;
      resize: none;
      width: 100%;
      box-sizing: border-box;
    }

    > .btn {
      position: absolute;
      right: 4px;
      bottom: 4px;
    }
  }

  .comment-date {
    position: absolute;
    bottom: -18px;
    left: 8px;
    min-width: 40px;
  }

  .comment-sender {
    height: 18px;
    line-height: 24px;
  }
}

input-matrix {
  display: block;

  input {
    &[readonly] ~ table > tbody {
      .selected {
        background-color: $primary-300;
      }

      td {
        cursor: default;
      }

      td:not(:first-of-type):not(.selected) {
        color: $text-disabled;
      }
    }

    &:not([readonly]) ~ table > tbody td {
      transition: background-color $transition-fast;

      &:not(:first-of-type):hover {
        background-color: $primary-300;

        &.selected {
          background-color: $accent-1-hover;
        }
      }
    }
  }

  input-container {
    height: auto;
  }

  table[materialize] {
    table-layout: fixed;

    td {
      padding: 8px 16px;

      &:first-of-type {
        cursor: text;
        max-width: 384px;
        width: 30%;
      }
    }
  }

  .selected {
    background-color: $accent-1;
  }
}

input-file, input-link, input-rating, input-comment, input-matrix {
  h1 {
    padding-top: 17px;
  }
}

input-portfolio {
  h1 {
    padding-top: 10px;
  }
}

input-rich {
  h1 {
    padding-top: 14px;
  }
}

input-file, input-link, input-rating, input-portfolio, input-matrix {
  input[required] {
    &.ng-invalid:not([readonly]) ~ h1 {
      color: $alert;
    }

    ~ h1:after {
      color: $alert;
      content: ' *';
      display: inline;
    }
  }
}

.rich-container, input-rich .ql-snow .ql-editor, content-description, tooltip {
  line-height: normal;

  img {
    max-width: 100%;
    max-height: 256px;
  }

  p {
    @extend .body-1;
  }

  li {
    @extend .body-2;
  }

  h3 {
    @extend .subtitle-2;
  }

  h2 {
    @extend .h6;
  }

  li::before {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;
    text-align: left;
    width: auto;
    margin-left: 0;
  }

  ol > li {
    counter-increment: list-num;

    &::before {
      content: counter(list-num, decimal) '. ';
    }
  }

  ul > li {
    &::before {
      content: '\25CF';
    }
  }

  ol, ul {
    padding-left: 1.5em;

    > li {
      padding-left: 0;
    }
  }

  .ql-indent-1 {
    padding-left: 1.5em;
  }

  .ql-indent-2 {
    padding-left: 3em;
  }

  .ql-indent-3 {
    padding-left: 4.5em;
  }

  .ql-indent-4 {
    padding-left: 6em;
  }

  .ql-indent-5 {
    padding-left: 7.5em;
  }

  .ql-indent-6 {
    padding-left: 9em;
  }

  .ql-indent-7 {
    padding-left: 10.5em;
  }

  .ql-indent-8 {
    padding-left: 12em;
  }
}

input-rich {
  .ql-active {
    .ql-stroke, ql-fill, ql-stroke.ql-fill {
      stroke: #555555 !important;
    }
  }

  .ql-stroke, ql-fill, ql-stroke.ql-fill {
    stroke: #929292 !important;
  }

  .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: #929292 !important;
  }

  .quill-container, .rich-container {
    margin-bottom: 8px;
  }

  .ql-snow {

    .ql-picker {
      font-weight: 400;
      color: #929292;
    }

    &.ql-toolbar {
      font-family: 'Roboto', 'Helvetica Neue', sans-serif;
      border: none;
      background-color: $primary-100;

      .ql-active {
        color: $blue;
      }

      .ql-picker-item, .ql-picker-label, .ql-active {
        transition: color $transition-fast;

        &:hover {
          color: $blue;
        }
      }

      .ql-header .ql-picker-item {
        &[data-value="3"]::before {
          @extend .subtitle-2;
        }

        &[data-value="2"]::before {
          @extend .h6;
        }

        &::before {
          @extend .body-1;
        }
      }
    }

    &.ql-container {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      overflow-y: auto;
      border: none;
      border-bottom: 1px solid $divider;
      -webkit-transition: border-bottom $transition-slow, box-shadow $transition-slow;
      transition: border-bottom $transition-slow, box-shadow $transition-slow;

      &:hover {
        border-bottom-color: $text-secondary;
        box-shadow: 0 1px 0 0 $text-secondary;
      }

      &.focused {
        border-bottom: 1px solid $accent-2;
        box-shadow: 0 1px 0 0 $accent-2;
      }
    }
  }

  .ql-editor {
    padding: 16px 8px 6px 8px;
  }

  input-container {
    height: auto;
  }

  .quill-container {
    margin-top: 10px;

    > .quill-editor {
      max-height: 446px;
      min-height: 50px;
    }
  }

  .rich-container {
    margin-top: 38px;
    min-height: 56px;
    padding-bottom: 5px;
    border-bottom: 1px dashed $divider;
  }

  .rich-template {
    position: absolute;
    right: 0;
    top: -2px;
  }

  h1 {
    ~ .rich-container {
      margin-top: 6px;
      max-height: none;
      min-height: 53px;
    }

    ~ .quill-container {
      margin-top: 6px;

      > .quill-editor {
        min-height: 125px;
        max-height: 450px;

        > .ql-editor {
          min-height: 124px;
          max-height: 449px;
        }

        > .ql-tooltip {
          margin-left: 140px;
        }
      }
    }
  }
}

input-file, input-link {
  .dropzone {
    border: 2px dashed $primary-300;
    cursor: pointer;
    margin-top: 6px;
    height: 90px;

    > .circle {
      margin-bottom: 10px;
      background-color: $primary-300;
    }

    i {
      text-align: center;
      color: $icon-active;
      width: 40px;
      line-height: 40px;
      font-size: 1.75rem;
    }
  }

  .list {
    margin-top: 6px;
    padding: 0;

    .primary {
      white-space: normal;
    }

    .list-item {
      background-color: $primary-50;

      &:nth-child(even) {
        background-color: $primary-200;
      }
    }
  }

  file-icon {
    > img, > i {
      min-width: 40px;
      width: 40px;
      min-height: 40px;
      height: 40px;
      border-radius: 50%
    }

    > i.material-icons {
      cursor: default;
      text-align: center;
      line-height: 40px;
    }

    > div {
      border-radius: 50%;
      background-color: $primary-300;
      text-align: center;
      height: 40px;
      width: 40px;
      line-height: 40px;
    }

    > img, > div {
      cursor: pointer;
    }
  }

  > input-container {
    height: auto;
    margin-bottom: 15px;
    min-height: 93px;
  }

  .empty-input {
    height: 48px;
    line-height: 48px;
    font-size: 0.8125rem;
    color: $text-secondary;
    cursor: default;
  }
}

table {
  input-number {
    i {
      &.suffix {
        right: 0;
        line-height: 26px;
      }
    }
  }
}

input-number {
  i {
    cursor: default;
    position: absolute;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    padding: 8px;
    color: $icon-active;
    bottom: 4px;
    z-index: 1;

    &.suffix {
      right: 0;
      width: 26px;
    }
  }

  div {
    &.input-value {
      margin-left: 1px;

      &.align-right {
        margin-left: 0px;
      }
    }

  }

  input {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[readonly] ~ .input-value {
      cursor: text;
    }
  }

  .input-value {
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 15px;
    box-sizing: border-box;
    cursor: text;
    font-size: 1rem;
    height: 19px;
    line-height: 19px;

    &.placeholder {
      color: $text-secondary;
    }
  }

  > input-container.has-suffix {
    input, .input-value {
      padding-right: 40px;
    }
  }
}

input-select, input-date, input-process {
  > input-container {
    > .btn.btn-icon, > i {
      position: absolute;
      right: 0;
      bottom: 4px;
      cursor: pointer;
      z-index: 1;
    }
  }

  .process-add {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 1;
  }

  table {
    .process-add {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 18px;
      cursor: pointer;
      z-index: 1;
    }
  }

  label {
    box-sizing: border-box;
    padding-right: 40px;
  }
}

input-date input {
  padding-right: 40px;
  box-sizing: border-box;

  &[readonly] {
    padding-right: 0;

    ~ .btn-icon {
      display: none;
      padding-right: 0;
    }
  }
}

input-select {
  position: relative;

  input {
    font-size: 0;
    height: 19px;
    line-height: 16px;
    cursor: pointer;

    &[readonly] {
      cursor: default;

      ~ i {
        display: none;
      }

      ~ .input-value {
        padding-right: 0;
        cursor: text;
      }

      + label {
        cursor: text;
      }
    }
  }

  input-container > i {
    padding: 8px;
  }

  label {
    cursor: pointer;
  }

  > input-container:hover > input:not([readonly]).ng-valid {
    border-bottom-style: solid;
    border-bottom-color: $text-secondary;
    box-shadow: 0 1px 0 0 $text-secondary
  }

  .input-value {
    display: inline-block;
    left: 0;
    text-align: left;
    position: absolute;
    width: 100%;
    padding-right: 40px;
    bottom: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    height: 19px;
    line-height: 19px;

    &.placeholder {
      color: $text-secondary;
    }

    > .material-icons {
      vertical-align: middle;
      margin: 0 6px;
      font-size: 19px;
    }

    > .flag-icon {
      @include no-select;

      height: 20px;
      width: 20px;
      margin: 0 2px;
      top: -2px;
      display: inline-block;
    }
  }
}

input-portfolio {
  tbody > tr {
    td > .btn.btn-icon {
      display: none;
    }

    &:hover td > .btn.btn-icon {
      display: block;
    }
  }
}

input-portfolio, input-matrix {
  width: 100%;
  min-height: 108px;
  overflow-x: auto;
  position: relative;

  loader {
    top: 8px;
  }

  .backdrop {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $text-disabled;
  }

  h1 ~ table[materialize] {
    margin: 6px 0 7px 0;
  }

  table[materialize] {
    margin: 10px 0 14px 0;

    td {
      height: 47px;
    }
  }
}

input-translation {
  min-width: 112px;
  position: relative;

  > input-select {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 2;

    > input-container {
      min-width: 24px;
      width: 24px;

      > .material-icons {
        display: none;
      }
    }

    input {
      border-bottom-color: transparent !important;
      box-shadow: none !important;

      &:focus {
        box-shadow: none;
        border-bottom-color: transparent;
      }
    }

    .input-value {
      display: block;
      padding-right: 24px;
      width: 0;
      text-overflow: clip;
    }
  }

  &[minimal] > input-select {
    top: 0;
  }

  > input-string {
    input {
      //padding-left: 32px;
      box-sizing: border-box;
    }

    label {
      transform: translateY(18px) scale(.75);
      -webkit-transform: translateY(18px) scale(.75);
    }
  }
}

input-chart {
  > input-container {
    height: auto;
  }

  max-width: 1600px;

  chart-header {
    display: none;
  }

  + meta-helper {
    top: 20px;
  }
}

dashboard-chart, .dashboard-chart {
  .chart-legend-container {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  ul {
    max-width: 500px;
    margin-left: 6px;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;

    li {
      cursor: pointer;
      margin-bottom: 6px;
      font-size: 13px;
      margin-left: 12px;

      div {
        border-radius: 10px;
        width: 12px;
        height: 12px;
      }

      span {
        left: 20px;
        position: relative;
        top: -12px;
      }
    }
  }
}

input-chart, input-portfolio {
  margin-top: 25px;
  
  validator {
    display: none;
  }
}

.h1 {
  font-weight: 300;
  font-size: 6rem;
  min-height: 6.0625rem;
  letter-spacing: -0.09375rem;
}

.h2 {
  font-weight: 300;
  font-size: 3.75rem;
  min-height: 3.8125rem;
  letter-spacing: -0.03125rem;
}

.h3 {
  font-size: 3rem;
  min-height: 3.0625rem;
}

.h4 {
  font-size: 2.125rem;
  min-height: 2.1875rem;
  letter-spacing: 0.015625rem;
}

.h5 {
  font-size: 1.5rem;
  min-height: 1.5625rem;
}

.h6 {
  font-size: 1.25rem;
  min-height: 1.3125rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
}

.subtitle-1 {
  font-size: 1rem;
  min-height: 1.0625rem;
  letter-spacing: 0.009375rem;
}

input-container > .subtitle-1 {
  color: rgba(0, 0, 0, 0.54);
}

.subtitle-2 {
  font-size: 0.875rem;
  min-height: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.00625rem;
}

.body-1 {
  font-size: 1rem;
  line-height: 1.25rem;
  min-height: 1.0625rem;
  letter-spacing: 0.03125rem;
}

.body-2 {
  font-size: 0.875rem;
  line-height: 1.09375rem;
  min-height: 0.9375rem;
  letter-spacing: 0.015625rem;
}

.caption {
  font-size: 0.75rem;
  min-height: 0.8125rem;
  letter-spacing: 0.025rem;
}

.overline {
  font-size: 0.625rem;
  min-height: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 0.09375rem
}

.btn {
  @include no-select;

  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  min-width: 88px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 8px;
  text-transform: uppercase;
  margin: 6px 8px;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 0.046875rem;
  -webkit-transition: background-color $transition-slow, color $transition-slow;
  transition: background-color $transition-slow, color $transition-slow;

  &[minimal] {
    margin: 0;
  }

  &[disabled] {
    cursor: default;
  }

  &.btn-raised {
    @include z-depth-1;

    &[disabled] {
      background-color: $alert-disabled;
      color: $text-white-disabled;
    }
  }

  &.btn-link {
    color: $text;

    &:not([disabled]):active {
      text-shadow: 0 0 0 $primary-900;
    }

    &:not([disabled]):hover {
      text-decoration: underline;
    }

    &[disabled] {
      color: $text-disabled;
    }
  }

  &.btn-primary {
    background-color: $accent-1;

    &:not([disabled]):hover {
      background-color: $accent-1-hover;
    }

    &[disabled] {
      background-color: $accent-1-disabled;
      color: $text-disabled;
    }
  }

  &.btn-warn {
    background-color: $alert;
    color: $text-white;

    &:not([disabled]):hover {
      background-color: $alert-hover;
    }

    &[disabled] {
      background-color: $alert-disabled;
      color: $text-white-disabled;
    }
  }

  &.btn-secondary {
    color: $text;

    &:not(.btn-raised) {
      background-color: inherit;
    }

    &, &.btn-raised:not([disabled]) {
      &:hover {
        background-color: $primary-hover;
      }
    }

    &[disabled] {
      background-color: $primary-disabled;
      color: $text-disabled;
    }
  }

  &.btn-secondary-warn {
    color: $alert;

    &.waves-effect .waves-ripple {
      background: rgba(244, 138, 96, 0.54);
    }

    &, .btn-raised:not([disabled]) {
      &:hover {
        background-color: $primary-hover;
      }
    }

    &[disabled] {
      background-color: $primary-disabled;
      color: $text-disabled;
    }
  }

  &.btn-icon {
    padding: 8px;
    height: 24px;
    width: 24px;
    min-width: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: transparent;
    margin: 6px;

    &.white {
      > i {
        color: $icon-white-active;
      }

      &[disabled] > i {
        color: $icon-white-inactive;
      }
    }

    &[minimal] {
      margin: 0;
    }

    &[disabled] > i {
      color: $icon-inactive;
    }
  }

  &.btn-fab {
    @include z-depth-2;
    z-index: 1;
    padding: 16px;
    margin: 24px;
    height: 24px;
    min-height: 24px;
    width: 24px;
    min-width: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: $primary-0;
    transition: transform $transition-slow, background-color $transition-slow;
    transform: scale(0);

    &[minimal] {
      padding: 8px;
    }

    &:hover {
      background-color: $primary-200;
    }

    &.transition-in {
      transform: scale(1);
    }
  }

  > click-catcher {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  > loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 4px auto;
  }
}

.user-contact {
  @extend .align-row;
  @extend .center;

  .avatar {
    margin: auto 16px auto auto;
  }
}

toast {
  @include z-depth-1;
  right: 5%;
  top: -48px;
  position: absolute;
  z-index: 56;
  height: 48px;
  max-width: 568px;
  border-radius: 2px;
  padding: 0 16px 0 0;
  background: $primary-800;
  -webkit-transition: -webkit-transform $transition-medium;
  -webkit-transform: translateY(-100%);
  transition: transform $transition-medium;
  transform: translateY(-100%);

  > div {
    width: 16px;
    height: 100%;
    background-color: $primary-300;
  }

  &.slide-down {
    -webkit-transition: -webkit-transform $transition-slow;
    -webkit-transform: translateY(52px);
    transition: transform $transition-slow ease-out;
    transform: translateY(52px);
  }

  > .body-2 {
    padding-left: 16px;
    line-height: 48px;
    height: 100%;
    color: $text-white;
  }

  > a {
    margin-left: 24px;
    text-transform: uppercase;
    color: $accent-1;
  }
}

body > .backdrop {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 55;
  top: 0;
  opacity: 0;
  background: radial-gradient(50% 50%, ellipse closest-corner, $icon-inactive 0%, rgba(0, 0, 0, 0.54) 87%);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, $icon-inactive 0%, rgba(0, 0, 0, 0.54) 87%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, $icon-inactive 0%, rgba(0, 0, 0, 0.54) 87%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, $icon-inactive 0%, rgba(0, 0, 0, 0.54) 87%);
  -webkit-transition: opacity $transition-medium;
  transition: opacity $transition-medium;

  &.transition-in {
    opacity: 1;
  }
}

tz-dialog {
  @include z-depth-2;
  display: block;
  position: fixed;
  border-radius: 2px;
  max-width: 80%;
  width: 640px;
  z-index: 56;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  background-color: $primary-0;
  transition: opacity $transition-medium, transform $transition-medium;
  max-height: 85%;

  &.dialog-small {
    width: 440px;
  }

  &.dialog-large {
    width: 1280px;
  }

  &.transition-in {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    opacity: 1;
  }

  dialog-title {
    display: flex;
    margin-bottom: 5px;
    height: 40px;

    > h2 {
      @extend .h6;
    }
  }

  dialog-background {
    display: block;
    height: 162px;
    margin: 44px -24px 12px -24px;

    &.conserve {
      height: 64px;
      background: none;
    }

    + dialog-title {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 64px;
      line-height: 64px;
      padding: 0 24px;
      box-sizing: border-box;
      background: #616161;
      color: $text-white;
      margin-bottom: 0;
      z-index: 2;

      > h2 {
        font-weight: 400;
      }
    }
  }

  > dialog-content {
    max-height: calc(85vh - 100px);
    overflow: auto;
    display: block;
    padding: 20px 24px 28px 24px;
  }

  dialog-container {
    display: block;

    > p {
      word-break: break-word;
      white-space: pre-wrap;
    }
  }

  .add-field-dialog {
    .field-column {
      width: 20%;
      cursor: pointer;
    } 
    
    .field-column-title {
      margin-left: 11px;
    }
    .field-description {
      margin-top: 8px;
      margin-left: 10px; 
      margin-bottom: 5px;
      min-height: 80px;
      padding: 10px;
      
      .field-title {
        font-size: 16px;
        display: block;
        margin-bottom: 4px;
      }
      .field-desc {
        font-size: 13px;
      }
    }
  }


  .loading-screen {
    height: 33vh;
    justify-content: center;

    > h2 {
      margin-top: 16px;
    }
  }

  > dialog-actions {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
    padding: 8px 0 8px 24px;
    height: 36px;

    .btn {
      margin: 0 8px 0 0;
    }
  }
}


process-menu {
  .list-item-icon {
    margin-right: 16px !important;
  }
}

process-menu, chip-menu {
  display: block;

  .remove-selection {
    padding: 16px;

    &:hover {
      background-color: $accent-1;
    }
  }

  input {
    padding-left: 16px;
    box-sizing: border-box;
  }

  .list-item {
    cursor: pointer;
  }

  .loader {
    overflow: hidden;
  }
}

select-menu {
  display: block;
  min-width: 96px;
  white-space: nowrap;
  transition: height $transition-medium;

  &.has-search {
    > input-string > input-container {
      min-height: 36px;
      max-height: 36px;

      > input {
        padding-left: 16px;
        box-sizing: border-box;
        margin-bottom: 0;
      }
    }

    > .list {
      padding-top: 0;
      top: 37px;
      max-height: 268px;
    }
  }

  .depth > .previous {
    padding-left: 32px;

    > .material-icons {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .has-children {
    &.list-item {
      padding-right: 32px;
    }

    .material-icons {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  > .list {
    position: absolute;
    top: 0;
    max-height: 301px;
    min-width: 96px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    left: 0;
    transition: transform $transition-medium;

    &.shift-left {
      transform: translateX(-100%);
    }

    &.shift-right {
      transform: translateX(100%);
    }

    &.depth .list-item:not(:first-of-type) {
      padding-left: 32px;
    }

    > .list-item {
      position: relative;
      cursor: pointer;
    }
  }

  .global-select {
    font-style: italic;
  }

  .selected {
    background-color: $accent-1 !important;

    &:hover {
      background-color: $accent-1-hover !important;
    }

    &:focus {
      color: #000 !important;
    }
  }

  .disabled {
    color: $text-disabled;
  }

  .flag-icon {
    @include no-select;

    font-size: 20px;
    margin-right: 6px;
  }

  .material-icons {
    height: 40px;
    line-height: 40px;
    margin: 0 6px 0 4px;
  }

  input-check > input-container {
    min-width: 40px;
    height: 22px;

    input:checked + label {
      &:before {
        content: "";
        border-color: $accent-2 !important;
        border-style: solid;
        background-color: $accent-2 !important;
      }
    }

    input + label {
      &:before {
        content: "";
        border-color: $primary-500 !important;
        border-style: solid !important;
      }
    }

    > label {
      transform: none !important;
    }
  }
}

tz-menu, input-select-menu, input-process-menu, input-chip-menu, datepicker {
  display: block;
  position: absolute;
  background: $primary-0;
  padding: 8px 0;
  opacity: 0;
  -webkit-transition: opacity $transition-medium;
  transition: opacity $transition-medium;
  z-index: 57;
  border-radius: 2px;

  .hovered {
    background-color: $accent-1 !important;
  }

  &.transition-in {
    opacity: 1;
  }
}

input-process-menu, input-chip-menu {
  @include z-depth-1;

  max-height: 262px;
  max-width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 192px;
  padding: 0;
}

input-select-menu {
  @include z-depth-1;

  max-width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 192px;
  padding: 0;
}

datepicker {
  @include z-depth-1;
  overflow: hidden !important;
  padding: 0;

  .title-section {
    background-color: $accent-2;
    padding: 24px 24px 20px 24px;

    > .top {
      color: $text-white-secondary;
      margin-bottom: 6px;
    }

    span {
      display: inline-block;
    }

    .small-titles {
      font-size: 13px;
      line-height: 1.24;
    }

    .formatted-date {
      padding-top: 3px;
      padding-bottom: 2px;
    }
  }

  .month-block {
    display: flex;
    position: absolute;
    top: 20px;
    min-height: 312px;
    max-height: 312px;
    left: 0;
    width: 100%;
    transition: transform $transition-slow;

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }

    &.shift-left {
      transform: translateX(-100%);
    }

    &.shift-right {
      transform: translateX(100%);
    }

    > div {
      margin-right: 24px;

      &:first-of-type {
        margin-left: 24px;
      }
    }

    loader {
      margin: auto;
    }
  }

  .actions-section {
    display: flex;
    height: 36px;
    padding: 8px 0 8px 24px;

    .btn {
      margin-right: 8px;
    }
  }

  .content-section {
    position: relative;
    padding-top: 8px;
    min-height: 332px;
    max-height: 332px;
  }

  .week {
    display: flex;
  }

  .week-number {
    width: 24px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: $text-disabled;
    margin-right: 8px;
  }

  .controller {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;

    > div {
      display: flex;
      justify-content: center;
      height: 42px;
      width: 64px;
      background-color: $primary-0;
    }

    > .month-click {
      width: 100%;
      background-color: transparent;
    }
  }

  .day-container {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
  }

  .notWork {
    background-color: $primary-100;
  }

  .dayOff > .day {
    color: $text-secondary;
  }

  .holiday > .day {
    color: $red;
  }

  .today > .day {
    border: 2px solid $accent-2;
    border-radius: 50%;
    line-height: 36px !important;
    height: 36px !important;
  }

  .start-date, .end-date, .gap-date, .circle-date {
    > .day {
      /*border: none;*/
      border-radius: 0;
      line-height: 40px;
      height: 40px;

      background-color: $accent-1;
      transition: background-color $transition-fast;
    }
  }

  .circle-date > .day {
    border-radius: 50%;
  }

  .start-date > .day {
    border-top-left-radius: 50%;
    transition: border-radius $transition-fast;
  }

  .end-date > .day {
    border-bottom-right-radius: 50%;
    transition: border-radius $transition-fast;
  }

  .year-picker, .month-picker {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 24px;
    width: 100%;
    max-width: 568px;
    margin: auto;
    box-sizing: border-box;

    > .year, > .month {
      flex: 0 1 33%;
      margin-top: 8px;
      text-align: center;
      background-color: $primary-0;
      transition: background-color $transition-medium;

      &:hover {
        background-color: $primary-hover;
      }
    }

    > .year {
      height: 56px;
      line-height: 56px;

      &:nth-of-type(8) {
        background-color: $accent-1;

        &:hover {
          background-color: $accent-1-hover;
        }
      }
    }

    > .month {
      height: 72px;
      line-height: 72px;

      &.current {
        background-color: $accent-1;

        &:hover {
          background-color: $accent-1-hover;
        }
      }
    }
  }

  .month-view, .year-picker, .month-picker {
    opacity: 0;

    &.transition-in {
      transition: opacity $transition-slow;
      opacity: 1;
    }
  }

  .time-picker {
    //text-align: center;
  }

  .time-picker input {
    width: 41px;
    border: none;
    border-bottom: 2px solid $primary-0;
    background-color: transparent;
    color: $primary-0;
  }

  .time-picker input:hover {
    //border-bottom-color: rgba(0, 0, 0, 0.54);
    //box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.54);
  }

  .week-day {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 32px;
    color: $text-disabled;

    + .week-day {
      width: 40px;
    }
  }
}

input-checks {
  .control-checkbox {
    .material-icons {
      transition: transform $transition-slow;
      transform: rotate(-90deg);

      &.flip {
        transform: rotate(90deg);
      }
    }
  }

  .checkboxes {
    padding-left: 16px;
  }
}

input-rating {
  .btn.btn-icon {
    margin: 0;
  }

  .material-icons {
    transition: color $transition-fast;
  }

  input[readonly] ~ div {
    .btn {
      cursor: default;
    }
  }

  input-container {
    min-height: 72px;
    height: auto;
    margin-bottom: 12px;
  }

  div {
    margin-top: 6px;
  }

  span {
    padding-left: 8px;
    margin-bottom: 8px;
  }
}

tz-menu {
  @include z-depth-2;
  min-width: 128px;
  max-width: 192px;

  > div {
    font-size: 0.875rem;
    display: block;
    -webkit-transition: background-color $transition-slow;
    transition: background-color $transition-slow;
    text-transform: lowercase;
    padding: 0 16px;
    text-align: left;
    height: 40px;
    line-height: 40px;

    &.disabled {
      color: $text-disabled;
      cursor: default;

      &:hover {
        background-color: inherit;
      }
    }

    &:first-letter {
      text-transform: capitalize;
    }

    &:hover {
      background-color: $accent-1;
    }
  }

  > div {
    display: block;
  }
}

input-dialog {
  @include z-depth-1;
  position: absolute;
  padding: 8px 16px 16px;
  background-color: $primary-50;
  opacity: 0;
  max-width: 640px;
  min-width: 64px;
  -webkit-transition: opacity $transition-slow;
  transition: opacity $transition-slow;
  left: 0;
  z-index: 57;

  &.transition-in {
    opacity: 1;
  }
}

divider {
  display: block;
  height: 2px;
  background-color: $divider;
  margin: 8px 0;

  &.vertical {
    height: auto;
    min-width: 2px;
    width: 2px;
    max-width: 2px;
    align-self: stretch;
    margin: 0 8px;
  }
}

tabs {
  overflow: hidden;
  display: block;
  position: relative;

  &.vertical {
    > div {
      transform-origin: 0 0;
      transform: rotate(90deg);
      position: relative;
      z-index: 999999999;
      left: 352px;
    }

    .navigation-arrow {
      top: 0;
      position: fixed;
      transform-origin: 0 0;
      transform: rotate(90deg);

      &.left {
        right: -25px;
        top: 32px;
        left: auto;
      }

      &.right {
        right: -25px;
        top: calc(100vh - 86px);
      }
    }

    > tab {
      width: calc(100% - 36px);
      margin-top: -42px;
      padding-right: 20px;
    }
  }

  > .tab-navigation {
    color: $text-disabled;
    white-space: nowrap;
    overflow: hidden;
    height: 48px;

    > div.btn.btn-secondary {
      position: relative;
      padding: 0 16px;
      height: 46px;
      line-height: 48px;
      text-transform: none;
      min-width: 90px;
      border-radius: 0;
      color: $text-secondary;
      border-bottom: 2px solid $primary-200;

      .icon-notification {
        background-color: $red;
        color: $text-white;
      }

      &.has-color {
        padding-right: 24px;
      }

      i.left {
        display: inline-block;
        position: relative;
        top: 6px;
        margin-right: 14px;
        visibility: hidden;
      }

      i.right {
        display: inline-block;
        position: relative;
        top: 6px;
        margin-left: 14px;
        visibility: hidden;
      }

      i.remove {
        position: absolute;
        top: 15px;
        font-size: 18px;
        display: none;
      }

      &:hover {
        background-color: $primary-hover;

        i.left {
          visibility: visible;
          color: $text !important;
        }

        i.right {
          visibility: visible;
          color: $text !important;
        }

        i.remove {
          display: inline-block;
          color: $text !important;
        }
      }

      &.active-tab {
        color: $text;
        -webkit-transition: all $transition-slow ease-in;
        transition: all $transition-slow ease-in;
        border-bottom-color: $accent-1;
      }
    }
  }

  .tab-navigation-disabled {
    display: none;
  }

  .create {
    display: inline;
    position: relative;
    top: -8px;
    height: 48px;
    margin-left: 16px;
  }

  .navigation-arrow {
    display: flex;
    position: absolute;
    top: 8px;
    height: 48px;
    -webkit-transition: background-color $transition-slow;
    transition: background-color $transition-slow;


    &:hover {
      background-color: $primary-hover;
    }

    &.left {
      left: 6px
    }

    &.right {
      right: 6px
    }

    > .material-icons {
      line-height: 48px;
    }
  }

  > tab {
    display: none;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    opacity: 0;
    padding: 8px;
    -webkit-transition: opacity $transition-fast;
    transition: opacity $transition-fast;

    &.transition-in {
      opacity: 1;
    }

    > content {
      padding: 0;
      background-color: inherit;
    }
  }
}

.tabs-disabled {
  margin-top: -16px;
}

.list {
  display: block;
  padding: 8px 0;

  .btn-icon {
    margin: 0;
  }

  &.dense {
    padding: 0;

    &.one-line .list-item {
      height: 40px;
    }

    &.two-line .list-item {
      height: 56px;

      &.selected {
        background-color: rgb(255, 233, 124);
        color: black
      }
    }
  }

  .list-item-icon {
    margin-right: 32px;
  }

  .primary {
    font-size: 1rem;
    height: 1.0625rem;
  }

  .secondary {
    color: $text-secondary;
    height: 0.9375rem;
    font-size: 0.875rem
  }

  .primary, .secondary {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  &.one-line {
    .list-item-text {
      width: 100%;
    }

    .list-item {
      height: 48px;

      &:nth-child(even) {
        background-color: $primary-100;

        &:hover {
          background-color: $accent-1;
        }
      }
    }
  }

  &.two-line {
    .list-item {
      height: 64px;
    }

    .list-item-text {
      width: 100%;
    }

    .primary {
      margin-bottom: 3px;
    }
  }

  .list-item {
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;

    &:hover {
      background-color: $accent-1;
    }

    &:hover:focus {
      color: #000 !important;
    }
  }

  .list-item-text {
    @extend .align-column;
    @extend .start;
    overflow: hidden;


    + .list-item-icon {
      margin-right: 0;
    }
  }
}

card {
  @include z-depth-2;
  min-width: 344px;
  max-width: 344px;
  min-height: 96px;
  display: block;
  opacity: 0;
  border-radius: 4px;
  position: absolute;
  background-color: $primary-0;
  transition: opacity $transition-slow;
  z-index: 57;

  &.big {
    min-width: 500px;
    max-width: 500px;
  }

  &.transition-in {
    opacity: 1;
  }

  card-title {
    @extend .h5;
    line-height: 40px;
    min-height: 40px;
    display: block;
  }

  > card-content {
    display: block;
    padding: 16px 16px 8px 16px;
  }

  card-subtitle {
    margin-top: 12px;
    display: block;
  }

  > card-actions {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 36px;
    padding: 0 16px 8px 16px;

    > .btn {
      margin: 0 8px 0 0;
      padding: 0;
    }
  }

  .failure > i {
    color: $red;
    margin-bottom: 12px;
    font-size: 48px;
  }

  loader {
    margin: auto;
  }
}

chip {
  padding: 0 12px;
  height: 32px;
  display: inline-block;
  background-color: $primary-300;
  border-radius: 8px;
  position: relative;

  &.minimal {
    font-size: 10px;
    height: 16px;
    padding: 0 6px;
    margin: 0px 2px;
  }

  chip-name {
    cursor: default;
    display: block;
    line-height: 32px;
    height: 32px;

    &.minimal {
      overflow: auto;
      height: 16px;
      line-height: 16px;
    }
  }
}

table-container {
  display: block;
  width: 100%;
  overflow: auto;
  position: relative;
}

table-header, chart-header {
  @extend .h5;
  display: block;
  height: 64px;
  line-height: 64px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
}

table-container table {
  &.floating-header {
    top: 0;

    > thead {
      background-color: $primary-0;
    }
  }

  &.floating-footer, &.floating-header {
    transition: box-shadow $transition-medium;
    position: absolute;
    z-index: 5;
    table-layout: fixed;
    width: auto;
  }

  &.floating-footer {
    bottom: 0;

    > tfoot {
      background-color: $primary-0;
    }
  }
}

table[materialize] {
  background-color: $primary-0;
  border-collapse: separate;
  width: 100%;
  margin-bottom: 64px;

  &:not(.has-stripes) tbody > tr:hover {
    background-color: $primary-100;
  }

  tr {
    transition: background-color $transition-fast;

    &.indent {
      td, td {
        &:first-of-type {
          padding-left: 40px;
        }
      }
    }

    &.indent-2 {
      td, td {
        &:first-of-type {
          padding-left: 80px;
        }
      }
    }

    &.indent-3 {
      td, td {
        &:first-of-type {
          padding-left: 120px;
        }
      }
    }

    &.indent-4 {
      td, td {
        &:first-of-type {
          padding-left: 160px;
        }
      }
    }
  }

  td {
    cursor: pointer;
    color: $text;
    border-top: 1px solid $divider;
  }

  th {
    color: $text-secondary;
  }

  td, th {
    height: 48px;
    font-size: 0.8125rem;
    text-align: left;
    vertical-align: middle;
    padding: 0 8px;

    &:first-of-type {
      padding: 0 4px 0 16px;
    }

    &.icon {
      min-width: 40px;
      width: 40px;
      max-width: 40px;
    }

    .btn {
      margin: 0;
    }
  }

  tfoot td {
    height: 56px;
  }
}

table-pager {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > span {
    margin-right: 16px;
    font-size: 0.8125rem;
  }

  .smart-table {
    width: 64px;
    margin: 1px 30px 0 8px;
  }

  > .count {
    cursor: default;
    min-width: 64px;
    margin-right: 32px;
  }

  .btn.btn-icon {
    margin: 0 12px;
  }
}

.integration-settings {
  input-smart > input-string > input-container {
    height: 44px !important;
    min-height: 44px !important;

    input {
      font-size: 0.8125rem;
    }
  }
}