<div ng-controller="DashboardChartBasicConfigController">
    <span ng-if="selections.chartType">
        <!-- VALUE AND LABEL FIELD SELECTIONS -->
        <table-container>
            <table materialize>
                <thead>
                    <tr>
                        <th><div translate="DASHBOARD_CHART_OPTION"></div></th>
                        <th><div translate="VALUE"></div></th>
                        <th><div translate="FIELD"></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div translate="DASHBOARD_CHART_GROUP_RESULTS"></div>
                        </td>
                        <td>
                            <input-smart-table type="checkbox"
                                               model="selections.groupResults"
                                               modify="true"
                                               align="center">
                            </input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-show="selections.groupResults">
                        <td>
                            <div translate="DASHBOARD_CHART_SELECT_AGGREGATE_FUNCTION"></div>
                        </td>
                        <td>
                            <input-smart-table type="select"
                                               model="selections.groupWithFunction"
                                               modify="true"
                                               options="groupingFunctionOptions"
                                               option-value="name"
                                               option-name="translation">
                            </input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-show="!selections.groupResults">
                        <td>
                            <div translate="DASHBOARD_CHART_LABEL_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.labelFields.Values"
                                               type="select"
                                               model="selections.labelField"
                                               modify="true"
                                               options="chartOptions.labelFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                        <td>
                            <input-smart-table ng-if="labelFieldProperties"
                                               type="select"
                                               model="selections.labelFieldProperty"
                                               modify="true"
                                               options="labelFieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                    </tr>
                    <tr ng-show="selections.groupResults">
                        <td>
                            <div translate="DASHBOARD_CHART_GROUP_RESULTS_BY_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.groupByFields.Values"
                                               type="select"
                                               model="selections.groupField"
                                               modify="true"
                                               on-change="mainFieldChanged"
                                               on-change-parameters="'group'"
                                               options="chartOptions.groupByFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                        </td>
                        <td>
                            <div ng-if="groupFieldProperties.length > 0">
                                <input-smart-table type="select"
                                               model="selections.groupFieldProperty"
                                               modify="true"
                                               options="groupFieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation"></input-smart-table>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="selections.groupResults">
                        <td>
                            <div translate="DASHBOARD_CHART_SUB_GROUP_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.valueFields.Values"
                                               type="select"
                                               model="selections.subGroupField"
                                               on-change="mainFieldChanged"
                                               on-change-parameters="'subGroup'"
                                               modify="true"
                                               options="chartOptions.valueFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation"
                                               unselectable>
                            </input-smart-table>
                        </td>
                        <td>
                            <input-smart-table ng-if="subGroupFieldProperties"
                                               type="select"
                                               model="selections.subGroupFieldProperty"
                                               modify="true"
                                               options="subGroupFieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                    </tr>
                    <tr ng-show="!selections.groupResults || selections.groupWithFunction.indexOf('sum') > -1">
                        <td>
                            <div translate="DASHBOARD_CHART_VALUE_FIELD"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.valueFields.Values"
                                               type="select"
                                               model="selections.valueField"
                                               on-change="mainFieldChanged"
                                               on-change-parameters="'value'"
                                               modify="true"
                                               options="chartOptions.valueFields.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                        <td>
                            <input-smart-table ng-if="valueFieldProperties"
                                               type="select"
                                               model="selections.valueFieldProperty"
                                               modify="true"
                                               options="valueFieldProperties"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                    </tr>
                    <tr ng-show="!selections.groupResults">
                        <td>
                            <div translate="DASHBOARD_CHART_SHOW_NULLS"></div>
                        </td>
                        <td>
                            <input-smart-table type="checkbox"
                                               model="selections.showNulls"
                                               modify="true"
                                               align="center">
                            </input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div translate="DASHBOARD_CHART_SHOW_LABELS"></div>
                        </td>
                        <td>
                            <input-smart-table type="checkbox"
                                               model="selections.showLabels"
                                               modify="true"
                                               align="center">
                            </input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-if="chartOptions.dateRangeField">
                        <td >
                            <div translate="DASHBOARD_CHART_DATE_RANGE"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.dateRangeField.Values"
                                               type="select"
                                               model="selections.dateRangeField"
                                               modify="true"
                                               options="chartOptions.dateRangeField.Values"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-if="chartOptions.dateRangeField">
                        <td>
                            <div translate="DASHBOARD_CHART_ITEMS_FROM_HISTORY"></div>
                        </td>
                        <td>
                            <input-smart-table ng-if="chartOptions.dateRangeField.Values"
                                               type="integer"
                                               model="selections.historyColumnCount"
                                               modify="true"
                                               max="12"
                                               min="1"
                                               option-value="Name"
                                               option-name="LanguageTranslation">
                            </input-smart-table>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </table-container>
    </span>
</div>
