﻿<table-container>
	<table materialize table-selected-rows="selectedRows">
		<thead>
			<tr>
				<th class="icon"></th>
                <th class="icon"></th>
				<th ng-bind="::'PROCESSES' | translate"></th>
				<th ng-bind="::'NEW_PROCESS_ACTION' | translate"></th>
                <th ng-bind="::'AFTER_NEW_PROCESS_ACTION' | translate"></th>
				<th ng-bind="::'PROCESS_COLOUR' | translate"></th>
				<th ng-if="processType == 4" ng-bind="::'LIST_COMPARE' | translate"></th>
				<th ng-bind="::'RECORDS_PORTFOLIOS' | translate"></th>
				<th class="icon">
					<input-button type="icon" ng-click="addNewProcess()">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="process in processes" table-select-row="process.ProcessName">
				<td class="icon" >
					<input-button type="icon" no-waves ng-click="openProcess(process.ProcessName)">
						<i class="material-icons" aria-hidden="true">launch</i>
					</input-button>
				</td>
                <td class="icon" >
                    <input-button type="icon" no-waves ng-click="openProcessImport(process.ProcessName)">
                        <i class="material-icons" aria-hidden="true">import_export</i>
                    </input-button>
                </td>                
				<td>
					<input-smart-table type="translation"
									   model="process.LanguageTranslation"
									   on-change="onChange"
									   on-change-parameters="process.ProcessName">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table type="select"
									   single-value
									   watch-options="true"
									   unselectable="null"
									   model="process.NewRowActionId"
									   on-change="onChange"
									   on-change-parameters="process.ProcessName"
									   options="actions[process.ProcessName]"
									   option-name="LanguageTranslation"
									   option-value="ProcessActionId">
					</input-smart-table>
				</td>
                <td>
                    <input-smart-table type="select"
                                       single-value
									   unselectable="null"
                                       model="process.AfterNewRowActionId"
                                       on-change="onChange"
                                       on-change-parameters="process.ProcessName"
									   watch-options="true"
                                       options="actions[process.ProcessName]"
                                       option-name="LanguageTranslation"
                                       option-value="ProcessActionId">
                    </input-smart-table>
                </td>
                <td>
					<input-smart-table type="select"
									   single-value
									   model="process.Colour"
									   on-change="onChange"
									   on-change-parameters="process.ProcessName"
									   options="colours"
									   option-value="name">
					</input-smart-table>
				</td>
				<td ng-if="processType == 4">
					<input-smart-table type="select"
									   model="process.Compare"
									   options="compareOptions"
									   option-value="value"
									   option-name="name"
									   on-change="onChange"
									   on-change-parameters="process.ProcessName"
									   single-value="true">
					</input-smart-table>
				</td>
				<td colspan="2">
					{{fNumber(process.PortfolioCount)}} {{::'RECORDS' | translate}}
				</td>
			</tr>
		</tbody>
	</table>
</table-container>
