﻿<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">{{::'ADD_NEW_PROCESS' | translate}}</h2>
	</dialog-title>
	<dialog-container>
		<input-smart type="translation"
					 model="languageTranslation"
					 label="TITLE_TRANSLATION"
					 on-change="translationChange">
		</input-smart>
		<input-smart type="string"
					 manual-save
					 model="variable"
					 label="VARIABLE_NAME"
					 on-change="variableChange">
		</input-smart>
		<div class="align-row">
			<span class="flex"></span>
			<input-button type="primary" ng-click="newWizard()" modify="!disabled" ng-if="processType == 0">{{::'START_WIZARD' | translate}}</input-button>
		</div>
		<div ng-repeat="newPhase in phaseRows" class="align-row">
			<input-smart type="translation"
						 label="PHASE_NAME_WIZARD"
						 class="flex"
						 on-change="arePhasesOk"
						 model="newPhase.LanguageTranslation">
			</input-smart>
			<input-smart type="select"
						 label="PHASE_FEATURES"
						 options="features"
						 option-value="name"
						 style="width: 250px"
						 option-name="translation"
						 on-change="setFeatures"
						 on-change-parameters="newPhase"
						 max="0"
						 model="newPhase.$$thisFeatures">
			</input-smart>
			<input-button type="icon" ng-click="deletePhaseRow($index);">
				<i class="material-icons" aria-hidden="true">delete</i>
			</input-button>
		</div>
		<input-button ng-if="wizardGoing" ng-click="addNewPhase()">{{::'ADD' | translate}}</input-button>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" modify="!wizardExecuting">{{::'CANCEL' | translate}}</input-button>
	<input-button type="primary" ng-click="executeWizardFunctions()" modify="!hasDuplicateTranslation && !listInProgress && !wizardFunctionsInProgress && phasesOk" ng-if="!wizardDisable">{{buttonText | translate}}</input-button>
	<input-button type="primary" ng-click="save()" modify="!disabled" ng-if="!wizardGoing">{{buttonText | translate}}</input-button>
	<input-button type="primary" ng-click="wizardExecution()" modify="!disabled" ng-if="wizardGoing && !wizardExecuting">{{buttonText | translate}}</input-button>
</dialog-actions>
