#menu-navigation {
  margin-bottom: 64px;

  .sort-handler {
    margin-right: 48px;
  }

  pane-header {
    background-color: $primary-100;
    height: 60px;
    padding: 8px;
    line-height: normal;
    &:focus {
      color:$accent-1-hover;
    }
    &::after {
      top: 16px;
      right: 16px;
    }

    > div {
      width: 256px;
    }
  }

  table {
    margin-bottom: 48px;
  }
}