﻿#portfolio-view {
	&, > div, > div > div {
		height: 100%;
	}

	row-manager {
		.sum-row {
			&:hover, &.hovered {
				> td {
					background-color: inherit;
					cursor: default;
				}
			}

			div {
				font-weight: 500;
				//font-size: 1rem;
			}
		}

		.process-progress {
			display: inline-block;
			vertical-align: middle;
		}
		
		.process-milestone {
			line-height: 48px;
		}
	}

	portfolio-group {
		table {
			width: 100%;
			table-layout: fixed;
		}

		thead {
			th {
				&:first-of-type {
					width: 192px;
				}

				width: 256px;
				background-color: $primary-0;

				> div {
					max-width: 240px;
					line-height: 40px;
					height: 40px;
				}
			}
		}

		tbody {
			tr {
				border-bottom: 16px solid $primary-0;
			}

			th, td {
				background-color: $primary-100;
			}

			th {
				padding: 16px 24px 0 16px;

				> div {
					min-height: 116px;
				}
			}

			td {
				padding: 0 3px;
			}
		}

		.card {
			max-width: 240px;
			min-width: 128px;
			min-height: 64px;
			padding: 16px 16px 8px 16px;
			margin: 16px 0 12px 0;
		}

		.card-chips {
			margin-top: 8px;
		}

		chip {
			margin: 4px 6px 0 0;
			height: 26px;

			> chip-name {
				line-height: 26px;
				height: 26px;
				font-size: 0.8125rem;
				cursor: pointer;
				color: $text !important;
			}
		}

		.card-description {
			margin-top: 12px;
			white-space: pre-wrap;
		}
	}

	.prioritized-items {

		.visibility {
			opacity: 0;
			transition: opacity $transition-fast;
		}

		tr:hover {
			.visibility {
				opacity: 1;
			}
		}

		.green {
			color: $green;
		}

		.red {
			color: $red;
		}

		.grey {
			color: $text-disabled;
		}
	}
}

portfolio-filters {
	display: block;

    .divided-left {
      width:48%; display:inline-block;
    }
    .divided-right{
      width:48%; display:inline-block; float: right;
    }
  
    input-process[chip] {
      margin-right: 0px;
    }
  
	.h6 {
		margin-bottom: 8px;
		height: 40px;
		line-height: 40px;
		padding-left: 8px;
		background-color: $primary-200;
	}

	.process-progress-bar {
		margin-bottom: 0;
		.progress:hover {
			background-color: $accent-1-hover;

			&::after {
				border-left-color: $accent-1-hover;
			}
		}

		.grey:hover {
			background-color: $primary-hover;

			&::after {
				border-left-color: $primary-hover;
			}
		}
	}

	.sort-column {
		margin-bottom: 16px;
		background-color: $primary-50;
	}

	.sort-column-header {
		margin-bottom: 8px;
		height: 40px;
	}
}

#portfolio-footbar {
	display: flex;

	.board-legend-footbar {
		align-items: center;
		display: flex;
		line-height: 24px;
		white-space: nowrap;
		overflow: hidden;
		margin-right: 32px;

		> .colour-block {
			display: inline-block;
			width: 8px;
			min-width: 8px;
			height: 24px;
			margin: 0 8px 0 16px;
		}
	}

	.RMCalendarResolution {
		margin-left: 14px;
	}

	.calendar-control {
		display: flex;

		> div {
			align-items: center;
			display: flex
		}
	}
}

