#chart-settings {
  .review {
    width: 150px;
    height: 150px;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center 26px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    cursor: pointer;
  }

  .disabled {
    filter: grayscale(1) opacity(0.3);
    cursor: default;
  }
}