div.user-group-info {
  table {
    margin-bottom: 0px;
  }

  th.states {
    width: 70%;
  }

  content {
    padding-left: 32px;
    padding-right: 0px;
  }
  accordion pane-header::after {
    top:16px;
  }
  .level1 {
    font-size: 16px;

    > pane-header {
      background-color: #EEEEEE;
      height: 56px;
      padding-top: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  
  .level2 {
    > pane-header {
      background-color: #ffffff;
      height: 56px;
      padding-top: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  .level3 {
    > pane-header {
      background-color: #ffffff;
      height: 56px;
      padding-top: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}