.worktime-tracking {
  .highlight {
    background-color: $accent-2 !important;

    td {
      color: $text-white;
    }
  }

  .removed {
    font-style: italic;
  }

  .today {
    background-color: $accent-1;
  }

  .weekend {
    background-color: $primary-100;
  }

  .daterange-title {
    margin-left: 48px;
  }

  .upper-header {
    th {
      padding-top: 16px;
    }
  }

  .lower-header {
    th {
      padding-bottom: 8px;
    }
  }

  .middle-header {
    > th {
      height: 40px;

      div {
        margin: 0 8px;
      }
    }
  }

  .upper-header, .lower-header {
    > th {
      height: 16px;
    }
  }

  .vacation {
    background-color: $primary-200;
  }
  .first-row, .second-row {
    height: 14px;
    overflow: hidden;
  }

  .first-row {
    font-weight: 500;
  }

  .error {
    color: $red;
  }
}

#worktime-backdrop {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .material-icons {
    border: 2px solid $text-white;
    color: $text-white;
    border-radius: 50%;
    font-size: 72px;

    margin-bottom: 16px;
  }

  > h1 {
    font-size: 1.5rem;
    color: $text-white;
  }
}