#WorkTimeReportFeatureOptionsArea {
    padding-left: 0;

    #WorkTimeReportFeatureOptionsAreaChild {
        padding-left: 0;
        opacity: 0;
        -webkit-transition: opacity $transition-fast, height $transition-slow;
        transition: opacity $transition-fast, height $transition-slow;
        overflow: hidden;

        &.transition-in {
            opacity: 1;
        }
    }
}

#WorkTimeReportFeatureDataArea {
    .wtrCaretRow {
        > i {
            transition: transform $transition-slow;
            &.revertRowCaret {
                transform: rotate(180deg);
            }
        }
    }
}

#workload-report {
    .red {
        color: $red;
    }
}