#worktime-approval {
	.highlight {
		background-color: $accent-2;

		td {
			color: $text-white;
		}
	}
	th {
		.btn {
			margin: 0;
		}

		span {
			margin: 0 16px;
		}
	}

	.show-user-week {
		color: $text-white;
	}

	td, th {
		&:first-child {
			width: 120px;
		}

		&:nth-last-child(-n+7) {
			width: 24px;
			text-align: end;
		}
	}

	td {
		.btn {
			display: inline-block;
		}

		&:nth-last-child(-n+2) {
			background-color: $primary-hover;
		}
	}

	tfoot td {
		background-color: $primary-300 !important;
	}
	
	.approved {
		color: $green;
		font-weight: bold;
	}
	
	.rejected {
		color: $red;
		font-weight: bold;
	}
}