.worktime-status {
	.inprogress {
		color: $icon-inactive;
	}
  
    .partial  {
      color: #616161;
    }

	.submitted {
		color: $yellow;
	}
	
	.approved {
		color: $green;
	}
	
	.rejected {
		color: $red;
	}
	
	.save-button {
		display:none;
	}
	
	.filter-button {
		display: none;
	}
	
}