<div class="flex align-row end">
	<table-pager page="paging.currentPage" page-size="paging.size" max="$parent.costCenters.length" on-page-change="onPageChange" on-page-size-change="onPerPageChange"></table-pager>
</div>
