﻿<div class="align-row start">
    <input-button ng-if="selectedRows.length > 0" ng-click="deleteRows()"
                  type="primary"
                  modify="selectedEvents.length"
                  loading="deleting"
                  ng-bind="::'DELETE' | translate">
    </input-button>
</div>
<div class="flex align-row end">
    <table-pager page="paging.currentPage" page-size="paging.size" max="$parent.data.length" on-page-change="onPageChange" on-page-size-change="onPerPageChange"></table-pager>
</div>
