﻿<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
            <tr>
                <th class="icon"></th>
                <th>Name</th>
                <th class="align-right">Avg hour rate</th>
                <th>Cost center</th>
                <th class="icon">
                    <input-button type="icon" ng-click="newCompetency()">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="competency in competencies | startFrom: paging.currentPage*paging.size | limitTo:paging.size" table-select-row="{'item_id': competency.item_id}">
                <td>
                    <input-button type="icon" ng-click="openRow(competency.item_id, competency.name);">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                </td>
                <td>{{competency.name}}</td>
                <td class="align-right">{{competency.avg}}</td>
                <td>
                    <input-smart-table type="process"
                                       model="competency.cost_center"
                                       process="list_cost_center"
                                       modify="false">

                    </input-smart-table>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>