﻿<table-container class="lists">
    <table materialize>
        <thead>
            <tr>
                <th><div translate="LIST_NAME"></div></th>
                <th><div translate="OWNER"></div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="costCenter in costCenters | startFrom: paging.currentPage*paging.size | limitTo:paging.size">
                <td>
                    <input-smart-table type="string" modify="true" model="costCenter.list_item" on-change="changeValue" on-change-parameters="{ item_id: costCenter.item_id }" ></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="user" process="user" model="costCenter.owner" modify="true" on-change="changeValue" on-change-parameters="{ item_id: costCenter.item_id }" placeholder="Search user"></input-smart-table>
                </td>
            </tr>
        </tbody>
    </table>
</table-container>