﻿<table-container class="lists">
    <table materialize table-selected-rows="selectedRows">
        <thead>
            <tr>
                <th><div translate="LIST_NAME"></div></th>
                <th><div translate="OWNER"></div></th>
                <th class="icon">
                    <input-button type="icon" ng-click="addLocation();" ng-show="edit">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="location in data | startFrom: paging.currentPage*paging.size | limitTo:paging.size" table-select-row="{'item_id': location.item_id}">
                <td>
                    <input-smart-table type="string" model="location.list_item" modify="true" on-change="changeValue" on-change-parameters="location.item_id"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="user" process="user" model="location.owner" modify="true" on-change="changeValue" on-change-parameters="location.item_id" placeholder="Search user"></input-smart-table>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>