﻿<input-smart type="string" model="organisation.name" label="Organisation"></input-smart>

<div class="row" style="max-width: 800px;">
    <h2 class="h6" style="margin-top:48px;">Users</h2>
    <span class="flex"></span>
    <div style="margin-top: 48px;">
        <input-button type="icon" ng-click="addnewUser()"><i class="material-icons" aria-hidden="true">add</i></input-button>
    </div>
</div>
<input-smart type="user" model="users" label="Search Users" manual-save="true" on-change="insertUser" on-change-parameters="" ng-if="users"></input-smart>

<h2 class="h6" style="margin-top:48px;">Competencies</h2>
<input-smart type="process" process="competency" model="competencies" modify="false" ng-if="competencies"></input-smart>
