﻿<table-container class="lists">
    <table materialize>
        <thead>
            <tr>
                <th ng-if="functions.length < locations.length">Location/Function</th>
                <th ng-if="functions.length > locations.length">Function/Location</th>
                <th ng-repeat="function in functions" align="center" ng-if="functions.length < locations.length">{{::function.list_item}}</th>
                <th ng-repeat="location in locations" align="center" ng-if="functions.length > locations.length">{{::location.list_item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="location in locations" ng-if="functions.length < locations.length">
                <td>{{::location.list_item}}</td>
                <td ng-repeat="function in functions" class="cost_center" align="center">
                    <input-smart-table id="cost-center-{{::costCenters[location.item_id][function.item_id].item_id}}" type="string" model="costCenters[location.item_id][function.item_id].list_item" modify="true" on-change="changeValue" on-change-parameters="{cost_center_id: costCenters[location.item_id][function.item_id].item_id, location_id: location.item_id, function_id: function.item_id}"></input-smart-table>
                </td>
            </tr>
            <tr ng-repeat="function in functions" ng-if="functions.length > locations.length">
                <td>{{::function.list_item}}</td>
                <td ng-repeat="location in locations" class="cost_center" align="center">
                    <input-smart-table id="cost-center-{{::costCenters[location.item_id][function.item_id].item_id}}" type="string" model="costCenters[location.item_id][function.item_id].list_item" modify="true" on-change="changeValue" on-change-parameters="{cost_center_id: costCenters[location.item_id][function.item_id].item_id, location_id: location.item_id, function_id: function.item_id}"></input-smart-table>
                </td>
            </tr>
        </tbody>
    </table>
</table-container>