﻿<table-header>{{::'HOME' | translate}}</table-header>
<table-container class="lists">
    <table materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th><div translate="LIST_NAME"></div></th>
                <th class="align-right" style="width: 240px"><div translate="NUMBER_OF_USERS"></div></th>
                <th class="align-right" style="width: 240px"><div translate="NUMBER_OF_COMPETENCIES"></div></th>
                <th class="icon"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="home in data.home" ng-class="{'background-accent': $index == selectedIndex && selectedType == 'home'}">
                <td>
                    <input-button type="icon" ng-click="showOrganisation(home.item_id, $index, 'home');">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                </td>
                <td>
                    <input-smart-table type="string" model="home.name" modify="false"></input-smart-table>
                </td>
                <td class="align-right">{{::home.UserCount}}</td>
                <td class="align-right">{{::home.CompetencyCount}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>

<table-header>{{::'SUBCONTRACTORS' | translate}}</table-header>
<table-container class="lists">
    <table materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th><div translate="LIST_NAME"></div></th>
                <th class="align-right" style="width: 240px"><div translate="NUMBER_OF_USERS"></div></th>
                <th class="align-right" style="width: 240px"><div translate="NUMBER_OF_COMPETENCIES"></div></th>
                <th class="icon">
                    <input-button ng-click="addOrganisation('1');" type="icon">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subcontractor in data.subcontractors" ng-class="{'background-accent': $index == selectedIndex && selectedType == 'subcontractor'}">
                <td>
                    <input-button type="icon" ng-click="showOrganisation(subcontractor.item_id, $index, 'subcontractor');">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                </td>
                <td>
                    <input-smart-table type="string" model="subcontractor.name" modify="false"></input-smart-table>
                </td>
                <td class="align-right" style="width: 120px">{{::subcontractor.UserCount}} </td>
                <td class="align-right" style="width: 120px">{{::subcontractor.CompetencyCount}} </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>

<table-header>{{::'PARTNERS' | translate }}</table-header>
<table-container class="lists">
    <table materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th><div translate="LIST_NAME"></div></th>
                <th class="align-right" style="width: 240px"><div translate="NUMBER_OF_USERS"></div></th>
                <th class="align-right" style="width: 240px"><div translate="NUMBER_OF_COMPETENCIES"></div></th>
                <th class="icon">
                    <input-button type="icon" ng-click="addOrganisation('2');">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="partner in data.partners" ng-class="{'background-accent': $index == selectedIndex && selectedType == 'partner'}">
                <td>
                    <input-button type="icon" ng-click="showOrganisation(partner.item_id, $index, 'partner');">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                </td>
                <td>
                    <input-smart-table type="string" model="partner.name" modify="false"></input-smart-table>
                </td>
                <td class="align-right">{{::partner.UserCount}} </td>
                <td class="align-right">{{::partner.CompetencyCount}} </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>
