<div ng-controller="DashboardChartBasicConfigController">
	<tabs modify="true" move="false" create-function="addMultiListRow()" ng-if="selections.chartType"
		  style="max-width: 800px">
		<tab label="Setup" entity="999">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Basic</container-header>
					<input-smart type="select"
								 model="selections.multiListDataCommon.listType"
								 modify="true"
								 options="multiSelections.listTypes"
								 option-value="value"
								 option-name="name"
								 label="MULTI_LIST_CHART_TYPE">
					</input-smart>
					<input-smart type="select"
								 model="selections.multiListDataCommon.reverseOrder"
								 modify="true"
								 options="multiSelections.commonYesNo"
								 option-value="value"
								 option-name="name"
								 label="CHART_MIXED_REVERSE_ORDER">
					</input-smart>


					<input-smart type="select"
								 model="selections.multiListDataCommon.clickable"
								 modify="true"
								 options="multiSelections.commonYesNo"
								 option-value="value"
								 option-name="name"
								 label="CHART_CLICKABLE">
					</input-smart>

					<input-smart type="select"
								 model="selections.multiListDataCommon.showUndefined"
								 modify="true"
								 options="multiSelections.commonYesNo"
								 option-value="value"
								 option-name="name"
								 label="CHART_SHOW_UNDEFINED">
					</input-smart>
				</div>
				<div class="col-xs-12 col-lg-6">
					<container-header>Legend & Style</container-header>
					<input-smart type="select"
								 model="selections.multiListDataCommon.legendList"
								 modify="true"
								 watch-options="true"
								 options="legendListOptions"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="MULTI_LIST_CHART_LEGEND_LIST">
					</input-smart>
					<input-smart type="select"
								 model="selections.multiListDataCommon.horizontalBars"
								 modify="true"
								 watch-options="true"
								 options="multiSelections.commonYesNo"
								 option-value="value"
								 option-name="name"
								 label="CHART_HORIZONTAL_MODE">
					</input-smart>

					<input-smart type="number" label="MULTI_LIST_CHART_PRECISION" modify="true"
								 model="selections.multiListDataCommon.precision"></input-smart>

					<input-smart type="number" label="MULTI_LIST_CHART_BORDER_WIDTH" modify="true"
								 model="selections.multiListDataCommon.borderWidth"></input-smart>

					<input-smart type="select"
								 model="selections.multiListDataCommon.hideHorizontalGridLines"
								 modify="true"
								 watch-options="true"
								 options="multiSelections.commonYesNo"
								 option-value="value"
								 option-name="name"
								 label="CHART_COMMON_HIDE_HORIZONTAL_GRIDLINES">
					</input-smart>

					<input-smart type="select"
								 model="selections.multiListDataCommon.hideVerticalGridLines"
								 modify="true"
								 watch-options="true"
								 options="multiSelections.commonYesNo"
								 option-value="value"
								 option-name="name"
								 label="CHART_COMMON_HIDE_VERTICAL_GRIDLINES">
					</input-smart>
				</div>
			</div>
		</tab>
		<tab label="Common">
			<div>
				<div class="row" style="padding-left:8px;width:60%">
					<input-smart type="translation" model="selections.xAxisLabel" style="width: 70%;"
								 label="DASHBOARD_CHART_X_LABEL"></input-smart>
					<input-smart type="checkbox" model="selections.showXAxisLabel" style="width: 30%;"
								 label="DASHBOARD_CHART_SHOW"></input-smart>
				</div>

				<div class="row" style="padding-left:8px;width:60%">
					<input-smart type="translation" model="selections.yAxisLabel" style="width: 70%;"
								 label="DASHBOARD_CHART_Y_LABEL"></input-smart>
					<input-smart type="checkbox" model="selections.showYAxisLabel" style="width: 30%;"
								 label="DASHBOARD_CHART_SHOW"></input-smart>
				</div>
			</div>
			<div class="row" style="width:50%">
				<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
				<table materialize>
					<tr>
						<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
						<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
					</tr>
					<tr ng-repeat="obj in filterTable track by $index">
						<td>
							<input-smart-table type="select"
											   model="filterTable[$index].name"
											   on-change="saveQuickFilters"
											   modify="true"
											   unselectable
											   watch-options="true"
											   options="filterSelectionOptions"
											   option-value="Name"
											   option-name="LanguageTranslation">
							</input-smart-table>
						</td>
						<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
					</tr>
				</table>
			</div>
		</tab>
		<tab delete-tab="deleteMultiTab" ng-repeat="x in selections.multiListIndexes" entity="{{x + 1}}"
			 label="Data Source {{x + 1}}">

			<input-smart label="CHART_NAME"
						 type="translation"
						 modify="edit"
						 model="selections.multiListData[x].nameField"></input-smart>

			<input-smart label="MULTI_CHART_DATA_SOURCE"
						 type="select"
						 model="selections.multiListData[x].sourceList"
						 modify="true"
						 watch-options="true"
						 options="legendListOptions"
						 option-value="Name"
						 option-name="LanguageTranslation">
			</input-smart>

			<input-smart label="CHART_USE_LIST_COLORS"
						 type="select"
						 model="selections.multiListData[x].listColors"
						 modify="true"
						 options="multiSelections.commonYesNo"
						 option-value="value"
						 option-name="name">
			</input-smart>
		</tab>
	</tabs>
</div>