<dialog-content>
	<dialog-title>
		<h2 class="ellipsis" translate="TAB_TAMPLETER_FILE"></h2>
	</dialog-title>
	<dialog-container>
		<input-smart manual-save
					 type="select"
					 model="templateId"
					 single-value
					 options="templates"
					 option-value="AttachmentId"
					 option-name="Name"
					 label="PORTFOLIO_TEMPLATE">
		</input-smart>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="export()" ng-bind="::'EXPORT' | translate"></input-button>
</dialog-actions>
