<div class="flex align-row">
	<div style="font-size: 12px;">{{'PORTFOLIO_INTEGRATION_REST_URL' | translate}}{{::ProcessPortfolioId}}</div>
	<div class="flex align-row start">
		<input-button ng-click="deleteItems()" ng-if="selectedColumns.length > 0 || selectedActions.length > 0">
			<div translate="DELETE"></div>
		</input-button>
	</div>
	<div class="flex align-row end">
		<input-button ng-click="addColumnGroup()">
			<div translate="CREATE_NEW_PGROUP"></div>
		</input-button>
	</div>
</div>