<dialog-content>
	<dialog-title>
		<h2>{{::'PROCESS_PROGRESS' | translate}}</h2>
	</dialog-title>
	<dialog-container>

		<input-check label="{{::'SHOW_PROCESS_PROGRESS' | translateObject}}" model="showArrows" modify="true"></input-check>
		<div class="row simple-padding">
			<input-check ng-repeat="(key, group) in ::groups"
						 model="selected[key]"
						 minimal
						 class="col-xs-6"
						 modify="showArrows"
						 label="{{::group.LanguageTranslation | translateObject}}">
			</input-check>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">
		{{::'MSG_CANCEL' | translate}}
	</input-button>
	<input-button type="primary" ng-click="save()">
		{{::'SAVE' | translate}}
	</input-button>
</dialog-actions>