<div>
	<input-button ng-show="selectedRows.length > 0" ng-click="deletePortfoliosAndCharts()">
		<div translate="DELETE"></div>
	</input-button>
	<input-button ng-click="copyPortfolio()">
		<div translate="COPY_PORTFOLIO"></div>
	</input-button>
	<input-button ng-click="addProcessPortfolio('portfolios')">
		<div translate="ADD_PORTFOLIO"></div>
	</input-button>
	<input-button ng-click="cloneChart()">
		<div translate="CLONE_CHART"></div>
	</input-button>
</div>