﻿<tabs hide-if-single-tab="true" ng-if="!loading">
	<tab label="SETTINGS_VIEW_FIELD">
		<div sortable handler=".column-group-drag" on-sort="changeOrderColumnGroup">
			<div sort="group" ng-repeat="group in portfolioColumnGroups">
				<table-header class="align-row">
					<input-button type="icon" modify="edit" ng-if="!$first" no-waves class="column-group-drag">
						<i class="material-icons" aria-hidden="true">reorder</i>
					</input-button>
					<span ng-bind="group.LanguageTranslation | translateObject"></span>
					<input-button type="icon" ng-click="editGroup(group)" ng-if="edit && !$first">
						<i class="material-icons" aria-hidden="true" style="font-size:18px;padding-top:4px;">edit</i>
					</input-button>
				</table-header>
				<table-container>
					<table materialize table-selected-rows="selectedColumns">
						<thead>
						<tr>
							<th class="icon"></th>
							<th translate="SELECT_NAME" style="min-width: 130px"></th>
							<th translate="SHORT_NAME" ng-show="showAdv" style="min-width: 70px; max-width: 130px; padding-left:25px"></th>
							<th translate="USE_IN_SELECT_RESULT" ng-show="showAdv" style="width: 150px"></th>
							<th class="ng-hide" ng-show="portfolioType == 'portfolios' && showAdv" translate="SHOW_TYPE" style="width: 125px"></th>
							<th translate="USE_IN_FILTER" ng-show="showChecks" style="width: 75px"></th>
							<th class="ng-hide" ng-show="portfolioType == 'portfolios' && showChecks" translate="IS_DEFAULT" style="width: 75px"></th>
							<th translate="USE_IN_SEARCH" ng-show="showChecks" style="width: 75px"></th>
							<th class="ng-hide" ng-show="portfolioType == 'portfolios' && showChecks" translate="SUM_COLUMN" style="width: 75px"></th>
							<th class="ng-hide align-right" style="width: 75px" ng-show="portfolioType == 'portfolios'" translate="WIDTH"></th>
							<th class="ng-hide align-right" style="width: 75px" ng-show="portfolioType == 'portfolios' && showAdv" translate="PRECISION"></th>
							<th translate="REPORT_COLUMN" style="width: 100px"></th>
							<th class="align-right icon">
								<input-button type="icon"
								              ng-click="addPortfolioColumns(ProcessPortfolioId, group.ProcessPortfolioColumnGroupId);"
								              ng-if="edit">
									<i class="material-icons" aria-hidden="true">add</i>
								</input-button>
							</th>
						</tr>
						</thead>
						<tbody sortable on-sort="syncOrder" class="portfolioColumnGroup" handler=".up-down-button"
						       parent="group" connect=".portfolioColumnGroup">
						<tr sort="column" ng-repeat="column in columnsByGroup[group.ProcessPortfolioColumnGroupId]"
						    table-select-row="{ProcessPortfolioColumnId: column.ProcessPortfolioColumnId, index: $index, ColumnGroup: column.ProcessPortfolioColumnGroupId}"
						    ng-if="portfolioColumns.length > 0">
							<td>
								<input-button type="icon" modify="edit" no-waves class="icon up-down-button">
									<i class="material-icons" aria-hidden="true">reorder</i>
								</input-button>
							</td>
							<td>
								<input-smart-table type="select" model="column.ItemColumn.ItemColumnId"
								                   options="itemColumns" single-value="true" option-value="ItemColumnId"
								                   option-name="Translation" modify="true" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"></input-smart-table>
							</td>
							<td ng-show="showAdv">
								<input-smart-table type="translation" model="column.ShortNameTranslationRaw"
								                   modify="true" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"></input-smart-table>
							</td>
							<td ng-show="showAdv">
								<input-smart-table
										type="select"
										single-value="true"
										model="column.UseInSelectResult"
										modify="true"
										on-change="changeValue"
										on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"
										options="[
								{name: 'default', value: 0}, 
								{name: 'Primary', value: 1}, 
								{name: 'Secondary', value: 2}, 
								{name: 'Start date', value: 3}, 
								{name: 'End date', value: 4}, 
								{name: 'Process progress', value: 5}, 
								{name: 'Sum', value: 6}, 
								{name: 'SumAll', value: 12}, 
								{name: 'Avg', value: 9}, 
								{name: 'Min', value: 10}, 
								{name: 'Max', value: 11}, 
								{name: 'Tertiary', value: 7}, 
								{name: 'Milestone', value: 8}]"
										unselectable="0"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios' && showAdv" class="ng-hide"
							    ng-if="column.ItemColumn.DataType == 6 || (column.ItemColumn.DataType == 20 && column.ItemColumn.DataAdditional2 == 6) || (column.ItemColumn.DataType == 16 && column.ItemColumn.SubDataType == 6)">
								<input-smart-table type="select" model="column.ShowType" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"
								                   option-value="value"
								                   option-name="name"
								                   options="[{value: null, name: 'PLIST_DEFAULT'}, {value: 1, name: 'PLIST_TEXT'}, {value: 2, name: 'PLIST_SYMBOL'}, {value: 3, name: 'PLIST_BOTH'}]"
								                   single-value="true"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios' && showAdv"
							    ng-if="column.ItemColumn.DataType != 6 && !(column.ItemColumn.DataType == 20 && column.ItemColumn.DataAdditional2 == 6) && !(column.ItemColumn.DataType == 16 && column.ItemColumn.SubDataType == 6)">
								{{translateDT(column.ItemColumn.DataType)}}
							</td>
							<td ng-show="showChecks">
								<input-smart-table type="checkbox" model="column.UseInFilter" style="width: 25px"
								                   modify="true" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios' && showChecks" class="ng-hide">
								<input-smart-table type="checkbox" model="column.IsDefault" modify="true"
								                   on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"
								                   align="center"></input-smart-table>
							</td>
							<td ng-show="showChecks">
								<input-smart-table type="checkbox" model="column.UseInSearch" modify="true"
								                   on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"
								                   align="center"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios' && showChecks" class="ng-hide"
							    ng-if="summambleColumns[column.ItemColumn.ItemColumnId]">
								<input-smart-table type="checkbox" model="column.SumColumn" modify="true"
								                   on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"
								                   align="center"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios' && showChecks" class="ng-hide"
							    ng-if="!summambleColumns[column.ItemColumn.ItemColumnId]">
								<input-smart-table type="checkbox" model="column.SumColumn" modify="false"
								                   on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"
								                   align="center"></input-smart-table>
							</td>
							<td class="ng-hide">
								<input-smart-table type="select" single-value="true" model="column.ArchiveItemColumnId"
								                   options="ItemColumns" option-value="ItemColumnId"
								                   option-name="TranslationRaw" modify="true" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios'" class="ng-hide" >
								<input-smart-table type="integer" placeholder="auto" model="column.Width"
								                   style="text-align:left" modify="true" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"></input-smart-table>
							</td>
							<td ng-show="portfolioType == 'portfolios' && showAdv" class="ng-hide">
								<input-smart-table type="integer" placeholder="PRECISION"
								                   model="column.Validation.Precision" style="text-align:left"
								                   modify="true" on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}"></input-smart-table>
							</td>
							<td colspan="2">
								<input-smart-table unselectable="null" type="select" single-value
								                   options="reportColumnTypes" style="width:25px"
								                   model="column.ReportColumn" modify="column.ItemColumn.DataType != 23"
								                   on-change="changeValue"
								                   on-change-parameters="{id: column.ItemColumn.ItemColumnId, index: $index, columnid: column.ProcessPortfolioColumnId}">
								</input-smart-table>
							</td>
						</tr>
						<tr ng-if="portfolioColumns.length == 0">
							<td colspan="10" class="align-center">No portfolio columns added</td>
						</tr>
						</tbody>
					</table>
				</table-container>
			</div>
		</div>
	</tab >
	<tab ng-if="!limited" label="PORTFOLIO_DOWNLOAD_FILES">
		<div>
			<input-file type="file"
						parent="{{::ProcessPortfolioId}}"
						group="portfolioTemplates"
			            label="Report templates"
						placeholder="Browse or drag&drop files"
						modify="true"
						file-types=".docx,.pptx,.xlsx">
			</input-file>
		</div>
		<table-header>{{'DOWNLOAD_SETUP_1' | translate}}</table-header>
		<table-container>
			<table materialize style="max-width:1200px">
				<thead>
				<tr>
					<th>{{'DEBUG_ITEM_COLUMN_NAME' | translate}}</th>
					<th>{{'DOWNLOAD_ROWS_AMOUNT' | translate}}</th>
					<th>{{'TEMPLATE_TAG' | translate}}</th>
					<th>{{'DOWNLOAD_PORTFOLIO_SELECTION' | translate}}</th>
					<th class="align-right icon">{{'INCLUDE_TO_DOWNLOAD' | translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="table in simpleDataTables">
					<td>{{table.LanguageTranslation[userLanguage]}}</td>
					<td>
						<input-smart-table type="number"
						                   model="formattedRows[table.ItemColumnId].Rows"
						                   on-change="saveDownloadOptions"
						                   label="DOWNLOAD_ROWS_AMOUNT">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="string"
						                   model="formattedRows[table.ItemColumnId].TemplateTag"
						                   on-change="saveDownloadOptions"
						                   label="TEMPLATE_TAG">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   options="tableProcessPortfolios[table.DataAdditional]"
						                   model="formattedRows[table.ItemColumnId].PortfolioId"
						                   on-change="saveDownloadOptions"
						                   option-name="LanguageTranslation"
						                   option-value="ProcessPortfolioId"
						                   single-value
						                   label="SELECT_PORTFOLIO">
						</input-smart-table>
					</td>
					<td class="align-right icon">
						<input-smart-table type="checkbox"
						                   model="formattedRows[table.ItemColumnId].Include"
						                   on-change="saveDownloadOptions"
						                   label="INCLUDE_TO_DOWNLOAD">
						</input-smart-table>
					</td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</tab>
	<tab ng-if="!limited" label="PORTFOLIO_ACTIONS">
		<table-header>{{::'PROCESS_ACTIONS' | translate}}</table-header>
		<table-container>
			<table materialize table-selected-rows="selectedActions">
				<thead>
				<tr>
					<th>Button Text</th>
					<th>Action</th>
					<th class="align-right">
						<input-button type="icon" ng-click="addProcessPortfolioAction()">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="portfolioAction in portfolioActions"
				    table-select-row="{'id': portfolioAction.PortfolioActionId, 'type': 'portfolioactions'}">
					<td>
						<input-smart-table minimal type="translation" model="portfolioAction.ButtonName"
						                   on-change="saveProcessPortfolioActions"
						                   on-change-parameters="portfolioAction"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select" model="portfolioAction.ActionId" options="processActions"
						                   single-value="true" on-change="saveProcessPortfolioActions"
						                   on-change-parameters="portfolioAction" option-value="ProcessActionId"
						                   option-name="Variable"></input-smart-table>
					</td>
					<td></td>
				</tr>
				<tr ng-if="!portfolioActions.length">
					<td colspan="5" class="align-center">{{::'NO_PORTFOLIO_ACTIONS' | translate}}</td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</tab>
</tabs>
<loader ng-show="loading"></loader>