﻿<tabs>
	<tab label="PROCESS_PORTFOLIOS">
		<table-header>{{::'PROCESS_PORTFOLIOS' | translate}}</table-header>
		<table-container>
			<table materialize table-selected-rows="selectedRows">
				<thead>
				<tr>
					<th class="icon"></th>
					<th class="icon"></th>
					<th style="width:200px;">{{::'SELECT_NAME' | translate}}</th>
					<th class="icon">{{::'IGNORE_RIGHTS' | translate}}</th>
					<th class="icon">{{::'ENABLE_TIMEMACHINE' | translate}}</th>
					<th class="icon">{{::'SET_PORTFOLIO_STATES' | translate}}</th>
					<th class="icon">{{::'SET_CALENDAR_SETTINGS' | translate}}</th>
					<th class="icon">{{::'SET_PROGRESS_ARROWS' | translate}}</th>
					<th>{{::'RECURSIVE' | translate}}</th>
					<th>{{::'RECURSIVE_FILTER_TYPE' | translate}}</th>
					<th>{{::'ORDER_COLUMN' | translate}}</th>
					<th>{{::'ORDER_DIRECTION' | translate}}</th>
					<th>{{::'PORTFOLIO_DEFAULT_VIEW' | translate}}</th>
					<th class="align-right">{{::'NUMBER_OF_CONDITIONS' | translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="portfolio in portfolios['portfolios']"
				    table-select-row="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}"
				    ng-if="portfolios['portfolios'].length">
					<td>
						<input-button type="icon" ng-click="showPortfolio(portfolio.ProcessPortfolioId, 'portfolios')">
							<i class="material-icons" aria-hidden="true">launch</i>
						</input-button>
					</td>
					<td>
						<input-button type="icon"
						              ng-click="showThisPortfolioConditions(portfolio.ProcessPortfolioId, portfolio.LanguageTranslation)">
							<i class="material-icons" aria-hidden="true">visibility</i>
						</input-button>
					</td>
					<td>
						<input-smart-table type="translation"
						                   model="portfolio.LanguageTranslation"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="checkbox"
						                   model="portfolio.IgnoreRights"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="checkbox"
						                   model="portfolio.TimeMachine"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}">
						</input-smart-table>
					</td>
					<td>
						<input-button type="icon" ng-click="openStateSetDialog(portfolio)">
							<i class="material-icons" aria-hidden="true">open_in_browser</i>
						</input-button>
					</td>
					<td>
						<input-button type="icon" ng-click="modifyCalendars(portfolio)">
							<i class="material-icons" aria-hidden="true">today</i>
						</input-button>
					</td>
					<td>
						<input-button type="icon" ng-click="modifyProgress(portfolio)">
							<i class="material-icons" aria-hidden="true">fast_forward</i>
						</input-button>
					</td>
					<td>
						<input-smart-table type="select"
						                   single-value
						                   model="portfolio.Recursive"
						                   options="itemColumns"
						                   option-name="LanguageTranslationRaw"
						                   option-value="ItemColumnId"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}"
						                   unselectable>
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="select" model="portfolio.RecursiveFilterType" on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}"
						                   option-value="value"
						                   option-name="name"
						                   options="recursiveFilter"
						                   single-value="true"></input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   single-value
						                   unselectable
						                   model="portfolio.OrderItemColumnId"
						                   options="itemColumns"
						                   option-name="LanguageTranslationRaw"
						                   option-value="ItemColumnId"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
						                   single-value
						                   model="portfolio.OrderDirection"
						                   options="orderDirectionOptions"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}"
						                   option-name="name" option-value="value">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="select"
										   options="portfolioViews"
										   single-value
										   model="portfolio.PortfolioDefaultView"
										   modify="true"
										   on-change="changeValue"
										   on-change-parameters="{'id': portfolio.ProcessPortfolioId, 'type': 'portfolios'}"
										   option-name="name"
										   option-value="value">
						</input-smart-table>
					</td>
					<td ng-if="eachPortfoliosConditions[portfolio.ProcessPortfolioId].length != 0" class="align-right">
						{{eachPortfoliosConditions[portfolio.ProcessPortfolioId].length}}
					</td>
					<td ng-if="eachPortfoliosConditions[portfolio.ProcessPortfolioId].length == 0">
						{{'NO_PORTFOLIO_CONDITIONS' | translate}}
					</td>
				</tr>
				<tr ng-if="!portfolios['portfolios'].length">
					<td colspan="14" class="align-center">{{::'NO_PORTFOLIOS_ADDED' | translate}}</td>
				</tr>
				</tbody>
			</table>
		</table-container>

		<table-header>{{::'PROCESS_SELECTS' | translate}}</table-header>
		<table-container>
			<table materialize table-selected-rows="selectedRows">
				<thead>
				<tr>
					<th class="icon"></th>
					<th class="icon"></th>
					<th>{{::'SELECT_NAME' | translate}}</th>
					<th style="width:100px">{{::'SHOW_RIGHT_MENU' | translate}}</th>
					<th style="width:100px">{{::'NUMBER_OF_CONDITIONS' | translate}}</th>
					<th class="align-right icon">
						<input-button type="icon" ng-click="addProcessPortfolio('selects')">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="selects in portfolios['selects']"
				    table-select-row="{'id': selects.ProcessPortfolioId, 'type': 'selects'}"
				    ng-if="portfolios['selects'].length">
					<td>
						<input-button type="icon" ng-click="showPortfolio(selects.ProcessPortfolioId, 'selects')">
							<i class="material-icons" aria-hidden="true">launch</i>
						</input-button>
					</td>
					<td>
						<input-button type="icon"
						              ng-click="showThisPortfolioConditions(selects.ProcessPortfolioId, selects.LanguageTranslation)">
							<i class="material-icons" aria-hidden="true">visibility</i>
						</input-button>
					</td>
					<td>
						<input-smart-table type="translation"
						                   model="selects.LanguageTranslation"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': selects.ProcessPortfolioId, 'type': 'selects'}">
						</input-smart-table>
					</td>
					<td>
						<input-smart-table type="checkbox"
						                   model="selects.ProcessPortfolioType"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': selects.ProcessPortfolioId, 'type': 'selects'}"
						                   option-true="10"
						                   option-false="1">
						</input-smart-table>
					</td>
					<td ng-if="eachPortfoliosConditions[selects.ProcessPortfolioId].length != 0">
						{{eachPortfoliosConditions[selects.ProcessPortfolioId].length}}
					</td>
					<td ng-if="eachPortfoliosConditions[selects.ProcessPortfolioId].length == 0">
						{{'NO_PORTFOLIO_CONDITIONS' | translate}}
					</td>
					<td></td>
				</tr>
				<tr ng-if="!portfolios['selects'].length">
					<td colspan="4" class="align-center">
						{{::'NO_PORTFOLIO_SELECTORS' | translate}}
					</td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</tab>
	<tab label="PROCESS_DASHBOARDS">
		<table-header>{{::'PROCESS_DASHBOARDS' | translate}}</table-header>
		<table-container>
			<table materialize table-selected-rows="selectedRows">
				<thead>
				<tr>
					<th class="icon"></th>
					<th style="width: 50%">{{::'DASHBOARD_NAME' | translate}}</th>
					<th>{{::'PORTFOLIO_NAME' | translate}}</th>
					<th class="align-right">
						<input-button type="icon" ng-click="addDashboard()">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="dashboard in portfolios.dashboards"
				    table-select-row="{'id': dashboard.Id, 'type': 'dashboards'}"
				    ng-if="portfolios.dashboards.length">
					<td>
						<input-button type="icon" ng-click="showDashboard(dashboard)">
							<i class="material-icons" aria-hidden="true">launch</i>
						</input-button>
					</td>
					<td>
						<input-smart-table type="translation"
						                   model="dashboard.LanguageTranslation"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': dashboard.Id, 'type': 'dashboards'}">
						</input-smart-table>
					</td>
					<td colspan="2">
						<input-smart-table type="select"
						                   model="dashboard.ProcessPortfolioId"
						                   single-value
						                   on-change="changeValue"
						                   on-change-parameters="{'id': dashboard.Id, 'type': 'dashboards'}"
						                   options="portfolios.portfolios"
						                   option-value="ProcessPortfolioId"
						                   option-name="LanguageTranslation">
						</input-smart-table>
					</td>
				</tr>
				<tr ng-if="!portfolios.dashboards.length">
					<td colspan="4" class="align-center">
						{{::'NO_PORTFOLIO_DASHBOARDS' | translate}}
					</td>
				</tr>
				</tbody>
			</table>
		</table-container>
		<table-header>{{::'PROCESS_CHARTS' | translate}}</table-header>
		<table-container>
			<table materialize table-selected-rows="selectedRows">
				<thead>
				<tr>
					<th class="icon"></th>
					<th style="width: 50%">{{::'CHART_NAME' | translate}}</th>
					<th>{{::'PORTFOLIO_NAME' | translate}}</th>
					<th class="align-right">
						<input-button type="icon" ng-click="addChart()">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="chart in portfolios.charts"
				    table-select-row="{'id': chart.Id, 'type': 'charts'}"
				    ng-if="portfolios.charts.length">
					<td>
						<input-button type="icon" ng-click="showChart(chart)">
							<i class="material-icons" aria-hidden="true">launch</i>
						</input-button>
					</td>
					<td>
						<input-smart-table type="translation"
						                   model="chart.LanguageTranslation"
						                   on-change="changeValue"
						                   on-change-parameters="{'id': chart.Id, 'type': 'charts'}">
						</input-smart-table>
					</td>
					<td colspan="2">
						<input-smart-table type="select"
						                   model="chart.ProcessPortfolioId"
						                   on-change="changeValue"
						                   single-value
						                   max="1"
						                   on-change-parameters="{'id': chart.Id, 'type': 'charts'}"
						                   options="portfolios.portfolios"
						                   option-value="ProcessPortfolioId"
						                   option-name="LanguageTranslation">
						</input-smart-table>
					</td>
				</tr>
				<tr ng-if="!portfolios.charts.length">
					<td colspan="4" class="align-center">{{::'NO_PORTFOLIO_CHARTS' | translate}}</td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</tab>
</tabs>




