<dialog-content>
	<dialog-title>
		<h2 translate="EDIT_PORTFOLIO_STATES"></h2>
	</dialog-title>
	<dialog-container>

		<form name="portfolioSetDialog">
			<input-smart type="checkbox"
						 manual-save
						 label="USE_DEFAULT_STATE"
						 model="portfolio.UseDefaultState"
						 optionTrue="1"
			             optionFalse="0">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="DEFAULT_STATE"
						 model="portfolio.DefaultState"
						 options="features"
						 option-value="DefaultState"
						 single-value="true"
						 option-name="Feature"
						 modify="true">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="OPEN_SPLIT"
						 model="portfolio.OpenSplit"
						 options="splitOptions"
						 watch-options="true"
						 modify="true"
						 single-value="true">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="OPEN_WIDTH"
						 model="portfolio.OpenWidth"
						 options="widthOptions"
						 watch-options="true"
						 modify="true"
						 single-value="true">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="PROCESS_OPEN_ITEM_COLUMN_ID"
						 model="portfolio.OpenRowItemColumnId"
						 options="idColumns"
						 option-value="ItemColumnId"
						 option-name="LanguageTranslationRaw"
						 single-value="true"
						 modify="true">
			</input-smart>
			<input-smart type="select"
						 label="PROCESS_OPEN_ITEM_PROCESS"
						 model="portfolio.OpenRowProcess"
						 options="processes"
						 single-value="true"
						 modify="true"
						 on-change="changeInsteadProcess">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="PROCESS_OPEN_ITEM_PROCESS_CHILD"
						 model="portfolio.SubDefaultState"
						 options="statesByProcess[portfolio.OpenRowProcess]"
						 single-value="true"
						 modify="true"
						 option-name="Feature"
						 option-value="DefaultState"
						 watch-options="true">
			</input-smart>
			<input-smart type="checkbox"
						 manual-save
						 label="PORTFOLIO_ALSO_CURRENT"
						 model="portfolio.AlsoOpenCurrent"
						 optionTrue="1"
						 optionFalse="0">
			</input-smart>
		</form>
	</dialog-container>
	</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()"><div translate="CANCEL"></div></input-button>
	<input-button type="primary" ng-click="save()"><div translate="SAVE"></div></input-button>
</dialog-actions>