<dialog-content>
	<dialog-title>
		<h2 translate="CLONE_CHART"></h2>
	</dialog-title>
	<dialog-container>

		<input-smart type="select"
					 label="SELECT_FROM_WHAT_PORTFOLIO"
					 model="fromPortfolio"
					 modify="true"
					 options="portfolios"
					 option-value="ProcessPortfolioId"
					 option-name="LanguageTranslation"
					 single-value="true">
		</input-smart>

		<input-smart type="select"
					 label="SELECT_FROM_WHAT_DASHBOARD"
					 model="fromDashboardId"
					 modify="true"
					 options="dashboards[fromPortfolio]"
					 watch-options="true"
					 option-value="Id"
					 option-name="LanguageTranslation"
					 single-value="true">
		</input-smart>

		<input-smart type="select"
					 model="selectedChart"
					 label="SELECT_CHART"
					 modify="true"
					 options="links[fromDashboardId]"
					 option-value="Id"
					 watch-options="true"
					 option-name="Translation"
					 single-value="true">
		</input-smart>

		<input-smart type="select"
					 label="SELECT_TO_WHAT_PORTFOLIO"
					 model="toPortfolio"
					 modify="true"
					 options="portfolios"
					 option-value="ProcessPortfolioId"
					 option-name="LanguageTranslation"
					 single-value="true">
		</input-smart>

		<input-smart type="select"
					 label="SELECT_TO_WHAT_DASHBOARD"
					 model="dashboardId"
					 modify="true"
					 options="dashboards[toPortfolio]"
					 watch-options="true"
					 option-value="Id"
					 option-name="LanguageTranslation"
					 single-value="true">
		</input-smart>

		<input-smart type="translation"
					 label="ENTER_CHART_NAME"
					 model="translation"
					 modify="true">
		</input-smart>

	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()"><div translate="CANCEL"></div></input-button>
	<input-button type="primary" ng-click="clone()"><div translate="CLONE"></div></input-button>
</dialog-actions>