﻿<!-- <div style="height:150px; margin: -32px -16px 14px -16px; border-bottom: solid 1px #ccc; padding:20px 0 18px 0" class="align-row" >
	<circular-progress height="130" value="donePercent" suffix="%" title="Completion" class="flex" style="text-align: center;"></circular-progress>
	<circular-progress height="130" value="doneCount" value2="totalCount" suffix=" pcs" title="Items Complete" class="flex" style="text-align: center;"></circular-progress>
	<circular-progress height="130" value="doneEffort" value2="totalEffort" suffix="h" title="Effort Complete" class="flex" style="text-align: center;"></circular-progress>
</div> -->

<container-header>{{::'BACKLOG_9_CONTENTS' | translate}}</container-header>
<row-manager
        portfolio-id="{{::portfolioId}}" 
        rows="rows"
        rules="rules" 
        options="options"
        id="backlog-feature"
        portfolio-columns="portfolioColumns"
        new-item="newItem">
    <row-template type="header">
        <table>
            <tbody>
                <tr class="rowmanager-header">
                    <!--<th>Backlog item</th>-->
                    <th ng-repeat="col in portfolioColumns">
                        [{{::col.ItemColumn.Name}}]
                    </th>
                </tr>
            </tbody>
        </table>
    </row-template>
    <row-template type="empty">
        <table>
            <tbody>
                <tr class="empty">
                    <td colspan="100%" class="italic"><span translate="GANTT_NEW_ROW"></span>&nbsp;<span class="buttonArea"></span></td>
                </tr>
            </tbody>
        </table>
    </row-template>
    <row-template type="1">
        <table>
            <tbody>
                <tr class="type1">
                    <td ng-repeat="col in portfolioColumns ">
                        [{{::col.ItemColumn.Name}}]
                    </td>
                </tr>
            </tbody>
        </table>
    </row-template>
    </row-manager>

<table-header>{{::'BACKLOG_10_HISTORY' | translate}}</table-header>
    <table-container>
        <table materialize>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Parent</th>
                    <th>Effort</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in backlogHistory" ng-class="{'highlight': $index == selectedTabHighlight}">
                    <td>{{b.title}}</td>
                    <td>{{b.parent_title}}</td>
                    <td>{{b.effort}}</td>
                    <td>
                        <div ng-if="b.task_status==1">Done</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </table-container>
