﻿<div class="worktime-status row" style="justify-content: space-between">

	<div class="col" style="width:70%;">
		<table materialize style="width: 100%; margin-bottom:0;">
			<thead>
			<tr>
				<th class="align-left" colspan="2"></th>
				<th class="align-center" ng-repeat="week in weeks">{{::week.w}}<br>{{::week.d}}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in users">
				<td></td>
				<td class="align-left">Timesheet Status</td>
				<td class="align-center ng-scope" ng-repeat="week in weeks" title="">
					<a ng-click="openTimesheet(week,user.UserItemId)" type="icon">
						<i class="material-icons ng-scope inprogress" aria-hidden="true" ng-class="getStatus(week.w,user.UserItemId)">lens</i>
					</a>
				</td>
			</tr>
			<tr ng-repeat="location in locations" ng-if="locationVisible(location)">
				<td><div style="width:15px; height:15px; border-radius: 15px; background-color: {{ colors[location.item_id].backgroundColor }};"></div></td>
				<td>{{location.list_item}}</td>
				<td class="align-center ng-scope" ng-repeat="week in weeks" title="">
					{{getWeekPercentage(week, location)}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<div class="col" style="width:30%">
		<div style="width:130px; 
		margin: 0px auto;
		font-size: 0.8125rem;
		color: rgba(0, 0, 0, 0.54);
		padding-top: 24px;
		text-align: center;
		padding-bottom: 11px;
		border-bottom: solid 1px rgba(0, 0, 0, 0.125);" >This Week</div>
		
		
		<div style="cursor:pointer; width:130px; margin: 0px auto;padding-top:12px;" ng-click="openCurrentSheet()">
			<circular-progress height="130" 
			                   value="circular.current" 
			                   value2="circular.total" 
			                   suffix="h" 
			                   title="{{circular.title}}" 
			                   >
			</circular-progress>
		</div>
		<div style="width:130px; height: 130px; margin: 0px auto;display:none">
			<canvas class="chart chart-pie"
			        chart-data="thisWeekPercentages"
			        chart-labels="thisWeekLocations"
			        chart-colors="thisWeekColors">
			</canvas>
		</div>		
	</div>


	
	

	
</div>

