﻿<style>
    .pieItem {
	    display:flex;
	    justify-content: start;
	    margin-bottom:8px;
    }
	.pieItem div:first-child {
        margin-right: 12px;
        width: 15px;
        height: 15px;
        border-radius: 20px;
	}
</style>
<tabs initially-selected-entity="{{activeTab}}">
	<tab label="Breakdown by Location" entity="0" on-click="changeActiveTab">
		<div style="height:{{graph.height}};display: flex; justify-content: space-around; align-items: center" ng-click="openCurrentSheet()">
			<div>
				<div ng-repeat="i in pieSeries" class="pieItem">
					<div style="background-color: {{p[$index]}}"></div>
					<div>{{i}}</div>
				</div>
			</div>
			<canvas class="chart-pie"
					height="300"
					chart-data="piedata"
					chart-labels="pieSeries"
					chart-series="pieSeries"
					chart-options="pieOptions"
					chart-colors="p"></canvas>
		</div>
		<div translate="BREAKDOWN_INFO_1"></div>
	</tab>
	<tab label="Breakdown by Activity Type" entity="1" on-click="changeActiveTab">
		<div class="worktime-status">
			<div style="height:{{graph.height}};" ng-click="openCurrentSheet()">
				<canvas class="chart-horizontal-bar" height="{{graph.height}}" chart-data="graph.data" chart-labels="graph.labels" chart-series="graph.series" chart-options="graph.options" chart-dataset-override="override" chart-colors="colours"></canvas>
			</div>
		</div>
		<div translate="BREAKDOWN_INFO_2"></div>
	</tab>
</tabs>