﻿<style xmlns="http://www.w3.org/1999/html">
    .widgetTable td {
        font-size: 32px;
        width: 180px;
        text-align: left;
    }

    .widgetTable th {
        font-size: 12px;
        text-align: left;
    }

    .dashcontent div {
        padding-right: 50px;
        margin-bottom: 45px;
    }

    .dashcontent table {
        margin-top: 90px;
    }
</style>

<div style="background-color: rgba(0,0,0,0.04); width: 100%; height: 128px; margin: 0 0 36px 0;">
	<div class="row" style="justify-content: space-around;padding-top: 16px;">
		<div class="col row">
			<div>
				<i class="material-icons col" aria-hidden="true" style="font-size:98px; color: rgb(76, 175, 80);">people</i>
			</div>
			<div class="col" style="padding-top: 30px;padding-left: 12px; line-height: 1.3">{{"ADMIN_CONFIGURATION_USERS" | translate}}<br>{{formatNumber(loginsOnlineSessions)}}</div>
		</div>
		<div class="col row">
			<div><i class="material-icons" aria-hidden="true" style="font-size:98px; color: rgb(255, 193, 7);">warning</i></div>
			<div class="col" style="padding-top: 30px;padding-left: 12px; line-height: 1.3">{{"ADMIN_CONFIGURATION_ISSUES" | translate}}<br>{{formatNumber(onlineIssues)}}</div>
		</div>
		<div class="col row">
			<div><i class="material-icons" aria-hidden="true" style="font-size:98px; color: rgb(244, 67, 53);">bug_report</i></div>
			<div class="col" style="padding-top: 30px;padding-left: 12px; line-height: 1.3">{{"ADMIN_CONFIGURATION_ERRORS" | translate}}<br>{{formatNumber(onlineErrors)}}</div>
		</div>
	</div>
</div>

<div ng-if="loading" style="width:100vw; height:100vh;position: fixed; background-color: #fff;top: 0;left: 0;z-index: 1000;">
	<loader style="margin: 0 auto; margin-top: 25%"></loader>
</div>


<tabs hide-if-single-tab="true" initially-selected-entity="{{activeTab}}">
	<tab entity="4" ng-if="rights.admin" label="ADMIN_CONSOLE_ADMIN" on-click="changeActiveTab">
		<div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							<input-button ng-click="restart()" type="icon" modify="true" style="width:64px; height: 64px">
								<i class="material-icons" aria-hidden="true" style="font-size:64px; color: rgb(76, 175, 80);">refresh</i>
							</input-button>
						</div>
						<div class="col" style="line-height: 1.3;margin-top: 24px;">
							{{::'ADMIN_CONSOLE_RECYCLE' | translate}}<br>
							{{::'ADMIN_CONSOLE_ONLINE_SESSIONS' | translate}}: {{formatNumber(loginsOnlineSessions)}}
						</div>
					</div>
				</div>
				<div class="col" style="margin-left: 100px">
					<div class="row">
						<div class="col">
							<input-button ng-if="monitorActive==false && rights.availability" type="icon" modify="true" ng-click="createMonitor();" style="width:64px; height: 64px">
								<i class="material-icons" aria-hidden="true" style="font-size:64px; color: rgb(76, 175, 80);">add_to_queue</i>
							</input-button>
							<input-button ng-if="monitorActive==true" type="icon" modify="false" style="width:64px; height: 64px">
								<i class="material-icons" aria-hidden="true" style="font-size:64px; color: red;">personal_video</i>
							</input-button>
						</div>
						<div class="col" style="line-height: 1.3;margin-top: 24px;">
							<span ng-if="monitorActive==false && rights.availability">{{"ADMIN_CONFIGURATION_ADD_UPTIME" | translate}}<br>{{"ADMIN_CONFIGURATION_NOT_UPTIME" | translate}}</span>
							<span ng-if="monitorActive==true">{{"ADMIN_CONFIGURATION_UPTIME" | translate}}<br>{{"ADMIN_CONFIGURATION_UPTIME_ACTIVE" | translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<table-header style="margin-top:64px;">
				<div>{{::'ADMIN_CONFIGURATION_ADHOC_TITLE' | translate}}</div>
			</table-header>
			<table materialize>
				<thead>
				<tr>
					<th>{{"ADMIN_CONFIGURATION_PROBLEM" | translate}}</th>
					<th style="width:75px; text-align: right">{{"ADMIN_CONFIGURATION_AFFECTED" | translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="(key,value) in issues.Adhoc">
					<td>{{getAdhocValue(key, value)}}</td>
					<td style="text-align: right">{{fn(value)}}</td>
				</tr>
				<tr ng-if="issues.Adhoc.length == 0">
					<td colspan="4" style="text-align: center; font-style: italic">{{"ADMIN_CONFIGURATION_NO_ISSUES" | translate}}</td>
				</tr>
				</tbody>
			</table>
			
			
			<table-header style="margin-top:64px;">
				<div>{{::'ADMIN_CONFIGURATION_CONDITIONS_TITLE' | translate}}</div>
			</table-header>
			<table materialize>
				<thead>
				<tr>
					<th style="width: 100px;">{{"ADMIN_CONFIGURATION_ID" | translate}}</th>
					<th style="width: 150px;">{{"ADMIN_CONFIGURATION_PROCESS" | translate}}</th>
					<th style="width: 150px;">{{"ADMIN_CONFIGURATION_FIELD" | translate}}</th>
					<th>{{"ADMIN_CONFIGURATION_PROBLEM" | translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="column in issues.SuspiciousColumns">
					<td>{{column.ItemColumnId}}</td>
					<td>{{column.Process | translate}}</td>
					<td>{{column.Variable | translate}}</td>
					<td>{{column.Exception.Message}}</td>
				</tr>
				<tr ng-if="issues.SuspiciousColumns.length == 0">
					<td colspan="4" style="text-align: center; font-style: italic">{{"ADMIN_CONFIGURATION_NO_ISSUES" | translate}}</td>
				</tr>
				</tbody>
			</table>

			<table-header style="margin-top:64px;">
				<div>{{::'ADMIN_CONFIGURATION_COLUMNS_TITLE' | translate}}</div>
			</table-header>
			<table materialize>
				<thead>
				<tr>
					<th style="width: 100px;">{{"ADMIN_CONFIGURATION_ID" | translate}}</th>
					<th style="width: 150px;">{{"ADMIN_CONFIGURATION_PROCESS" | translate}}</th>
					<th style="width: 150px;">{{"ADMIN_CONFIGURATION_FIELD" | translate}}</th>
					<th>{{"ADMIN_CONFIGURATION_PROBLEM" | translate}}</th>
				</tr>
				</thead>
				<tbody ng-repeat="portfolio in issues.Portfolios">
				<tr>
					<td>{{portfolio.PortfolioId}}</td>
					<td>{{portfolio.Process | translate}}</td>
					<td>{{portfolio.PortfolioName | translate}}</td>
					<td>
						<span ng-if="portfolio.ConditionTestResult == false">{{"ADMIN_CONFIGURATION_CONDITIONS_FAILED" | translate}} {{portfolio.ConditionException.Message}}</span>
						<span ng-if="portfolio.ConditionTestResult == true">{{"ADMIN_CONFIGURATION_CONDITIONS_PASSED" | translate}}</span>
					</td>
				</tr>
				<tr ng-repeat="column in portfolio.PortfolioColumns">
					<td>{{column.ItemColumnId}}</td>
					<td></td>
					<td style="padding-left: 32px;">{{column.Variable | translate}}</td>
					<td>{{column.Exception.Message}}</td>
				</tr>
				</tbody>
				<tbody ng-if="issues.Portfolios.length == 0">
				<tr>
					<td colspan="4" style="text-align: center; font-style: italic">{{"ADMIN_CONFIGURATION_NO_ISSUES" | translate}}</td>
				</tr>
				</tbody>
			</table>

			<table-header ng-show="adDomains.length>0" style="margin-top:64px;">
				<div>{{::'ADMIN_CONSOLE_AZURE_AD_SYNC' | translate}}</div>
			</table-header>

			<div ng-repeat="domain in adDomains">
				<table materialize>
					<thead>
					<tr>
						<th colspan="2">{{::'ADMIN_CONSOLE_DOMAINS' | translate}}</th>
						<th colspan="2">{{::'ADMIN_CONSOLE_LAST_RUN' | translate}}</th>
						<th colspan="2">{{::'ADMIN_CONSOLE_STARTED' | translate}}</th>
						<th colspan="2">{{::'ADMIN_CONSOLE_ENDED' | translate}}</th>
						<th colspan="2"></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td colspan="2">{{domain}}</td>
						<td colspan="2">{{AzureData[$index].result}}</td>
						<td colspan="2">{{AzureData[$index].start}}</td>
						<td colspan="2">{{AzureData[$index].end}}</td>
						<td></td>
					</tr>
					</tbody>
				</table>
				<table materialize>
					<thead>
					<tr>
						<th>{{::'ADMIN_CONSOLE_USERS_ADDED' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_USERS_DISABLED' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_USER_INFO_CHANGED' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_USERS_REACTIVATED' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_AD_GROUPS_ADDED' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_AD_GROUPS_INFO_CHANGED' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_USERS_ADDED_TO_AD_GROUPS' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_USERS_REMOVED_FROM_AD_GROUPS' | translate}}</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{AzureData[$index].usersAdded}}</td>
						<td>{{AzureData[$index].usersDisabled}}</td>
						<td>{{AzureData[$index].userInfoChanged}}</td>
						<td>{{AzureData[$index].usersReactivated}}</td>
						<td>{{AzureData[$index].adGroupsAdded}}</td>
						<td>{{AzureData[$index].adGroupInfoChanged}}</td>
						<td>{{AzureData[$index].usersAddedToAdGroup}}</td>
						<td>{{AzureData[$index].usersRemovedFromAdGroup}}</td>
					</tr>
					<tr ng-show="AzureData[$index].additionalInformation!=''">
						<td colspan="8"><h5>{{::'ADMIN_CONSOLE_ADDITIONAL_INFORMATION' | translate}}</h5></td>
					</tr>
					<tr ng-show="AzureData[$index].additionalInformation!=''">
						<td colspan="8">
							<textarea rows="10" cols="50" style="width:100%; border: none;" readonly>{{AzureData[$index].additionalInformation}}</textarea>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</tab>
	<tab entity="0" ng-if="rights.availability" label="ADMIN_CONSOLE_AVAILABILITY" on-click="changeActiveTab">
		<div class="row dashcontent">
			<div class="col">
				<chart-header>{{::'ADMIN_CONSOLE_INSTANCE_AND_USERS' | translate}}</chart-header>
				<canvas class="chart chart-line"
				        height="400" width="900"
				        chart-data="instanceChartData"
				        chart-labels="instanceChartLabels"
				        chart-options="instanceChartOptions"
				        chart-colors="instanceChartColors"
				        chart-series="instanceChartSeries"
				        chart-dataset-override="instanceChartDatasetOverride">
				</canvas>
			</div>
			<div>
				<table materialize style="margin-top: 30px;">
					<thead>
					<tr>
						<th colspan="3">{{::'ADMIN_CONSOLE_UNIQUE_USERS' | translate}}</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{::'ADMIN_CONSOLE_LAST_356' | translate}}</td>
						<td>{{::'ADMIN_CONSOLE_LAST_30' | translate}}</td>
						<td>{{::'ADMIN_CONSOLE_TODAY' | translate}}</td>
					</tr>
					<tr>
						<td>{{UniquesUsersLast365}}</td>
						<td>{{UniquesUsersLast30}}</td>
						<td>{{UniquesUsersToday}}</td>
					</tr>
					</tbody>
				</table>
				<table materialize style="margin-top: 0;">
					<thead>
					<tr>
						<th colspan="3">{{::'ADMIN_CONSOLE_TOP_ACTIVE_USERS' | translate}}</th>
					</tr>
					</thead>
					<tbody>
					<!--<tr>
					<th>Name</th>
					<th colspan="2">Number of requests</th>
				</tr>-->

					<tr ng-repeat="x in top5Values">
						<td colspan="2">{{x.name}}</td>
						<td colspan="1">{{x.count}}</td>
					</tr>
					</tbody>
				</table>
				<!--<circular-progress height="130" value="UniquesUsersLast365" suffix="" title="Last 365 days" class="flex" font-size="24" style="text-align: center;"></circular-progress>
			<circular-progress height="130" value="UniquesUsersLast30" suffix="" title="Last 30 days" class="flex" font-size="24" style="text-align: center;"></circular-progress>
			<circular-progress height="130" value="UniquesUsersToday" suffix="" title="Today" class="flex" font-size="24" style="text-align: center;"></circular-progress>-->
			</div>
		</div>

		<div class="row dashcontent">
			<div class="col">
				<chart-header ng-show="monitorActive==false">{{::'ADMIN_CONSOLE_INSTANCE_DELAY' | translate}}</chart-header>
				<chart-header ng-show="monitorActive">{{::'ADMIN_CONSOLE_INSTANCE_DELAY_UPTIME' | translate}}</chart-header>
				<canvas class="chart-base"
				        chart-type="chartType"
				        chart-data="occurenceData"
				        chart-labels="occurenceLabels"
				        chart-options="occurenceOptions"
				        chart-series="occurencSeries"
				        chart-colors="occurenceColors"
				        chart-dataset-override="occurenceOverride"
				        height="400" width="900"></canvas>

			</div>
			<div class="col" ng-show="showMonitor">
				<circular-progress height="130" value="last365" suffix="%" title="{{::'ADMIN_CONSOLE_LAST_356' | translate}}" class="flex" font-size="24"
				                   style="text-align: center;"></circular-progress>
				<circular-progress height="130" value="last30" suffix="%" title="{{::'ADMIN_CONSOLE_LAST_30' | translate}}" class="flex" font-size="24"
				                   style="text-align: center;"></circular-progress>
				<circular-progress height="130" value="today" suffix="%" title="{{::'ADMIN_CONSOLE_TODAY' | translate}}" class="flex" font-size="24"
				                   style="text-align: center;"></circular-progress>
			</div>
			<!--<div ng-show="monitorActive">
			<input-button type="warn" modify="true" ng-click="getMonitorData();">Get uptime data</input-button>
		</div>-->
		</div>

		<div ng-if="monitorActive && uptimeTableMode!=-1" style="width:880px">
			<chart-header ng-if="uptimeTableMode == 0">{{::'ADMIN_CONSOLE_UPTIME_LAST_6' | translate}}</chart-header>
			<chart-header ng-if="uptimeTableMode == 1">{{::'ADMIN_CONSOLE_UPTIME_LAST_12' | translate}}</chart-header>
			<table materialize>
				<thead>
				<tr ng-if="uptimeTableMode == 1">
					<th>{{uptimeLabels[0]}}</th>
					<th>{{uptimeLabels[1]}}</th>
					<th>{{uptimeLabels[2]}}</th>
					<th>{{uptimeLabels[3]}}</th>
					<th>{{uptimeLabels[4]}}</th>
					<th>{{uptimeLabels[5]}}</th>
				</tr>
				<tr ng-if="uptimeTableMode == 1">
					<td>{{formatMonitorTableNumbers(uptimeMonths[0])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[1])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[2])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[3])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[4])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[5])}}</td>
				</tr>
				<tr>
					<th>{{uptimeLabels[6]}}</th>
					<th>{{uptimeLabels[7]}}</th>
					<th>{{uptimeLabels[8]}}</th>
					<th>{{uptimeLabels[9]}}</th>
					<th>{{uptimeLabels[10]}}</th>
					<th>{{uptimeLabels[11]}}</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>{{formatMonitorTableNumbers(uptimeMonths[6])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[7])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[8])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[9])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[10])}}</td>
					<td>{{formatMonitorTableNumbers(uptimeMonths[11])}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</tab>
	<tab entity="1" ng-if="rights.userLicensing" label="{{::'ADMIN_CONSOLE_USER_LICENSING' | translate}}" on-click="changeActiveTab">
		<div ng-show="UserLicensingHasContendLoader == true">
			<loader></loader>
			<h2>{{::'LOADING_CONTENT' | translate}}</h2></div>
		<div ng-show="UserLicensingHasContendLoader == false" class="col">
			<chart-header>{{::'ADMIN_CONSOLE_USER_LICENSING' | translate}}</chart-header>
			<canvas class="chart chart-line"
			        height="400" width="900"
			        chart-data="licenceChartData"
			        chart-labels="licenceChartLabels"
			        chart-options="licenceChartOptions"
			        chart-colors="licenceChartColors"
			        chart-series="licenceChartSeries"
			        chart-dataset-override="licenceChartDatasetOverride">
			</canvas>
		</div>
	</tab>
	<tab entity="2" ng-if="rights.performance" label="ADMIN_CONSOLE_PERFORMANCE" on-click="changeActiveTab">
		<div class="row dashcontent">
			<div class="col">
				<chart-header>{{::'ADMIN_CONSOLE_DATABASE_SIZES' | translate}}</chart-header>
				<canvas ng-if="showDataBaseChart" class="chart chart-pie"
				        chart-data="dbData"
				        chart-labels="dbLabels"
				        chart-options="dbOptions"
				        chart-colors="dbColoring"
				        style="margin-top:45px;">
				</canvas>
			</div>

			<div class="col" style="width:548px;">
				<table class="widgetTable">
					<tr>
						<th>{{::'ADMIN_CONSOLE_TOTAL_DB_SIZE' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_ONLINE_SIZE' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_HISTORY_SIZE' | translate}}</th>
					</tr>
					<tr>
						<td>{{formatNumber(dbGrandTotalMB)}}MB</td>
						<td>{{formatNumber(dbOnlineTotalMB)}}MB</td>
						<td>{{formatNumber(dbHistoryTotalMB)}}MB</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<th>{{::'ADMIN_CONSOLE_ROWS_IN_TOTAL' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_ONELINE_ROWS' | translate}}</th>
						<th>{{::'ADMIN_CONSOLE_HISTORY_ROWS' | translate}}</th>
					</tr>
					<tr>
						<td>{{formatNumber(dbGrandTotalRows)}}</td>
						<td>{{formatNumber(dbOnlineTotalRows)}}</td>
						<td>{{formatNumber(dbHistoryTotalRows)}}</td>
					</tr>
				</table>
			</div>
			<div class="col">
				<table-header>{{::'ADMIN_CONSOLE_LARGEST_TABLES' | translate}}</table-header>
				<table materialize style="margin-top:0;">
					<thead>
					<tr>
						<th style="width:200px;">Table</th>
						<th style="width:80px;" class="align-right">Rows</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="r in dbRows" title="{{r.Name}} - {{formatNumber(r.TotalMB)}}MB">
						<td>{{r.Name}}</td>
						<td class="align-right">{{formatNumber(r.Rows)}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</tab>
	<tab entity="3" ng-if="rights.eventLog" label="ADMIN_CONSOLE_EVENT_LOG" on-click="changeActiveTab">
		<table materialize width="100%">
			<thead>
			<tr>
				<th>{{::'ADMIN_CONSOLE_LOG_ID' | translate}}</th>
				<th>{{::'ADMIN_CONSOLE_MESSAGE' | translate}}</th>
				<th>{{::'ADMIN_CONSOLE_STACK_STACE' | translate}}</th>
				<th>{{::'ADMIN_CONSOLE_NAME' | translate}}</th>
				<th>{{::'ADMIN_CONSOLE_LOGIN' | translate}}</th>
				<th>{{::'ADMIN_CONSOLE_OCCURENCE' | translate}}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in logs">
				<td>{{row.instance_log_id}}</td>
				<td>
					<div style="width: 400px;">
						{{row.message}}
					</div>
				</td>
				<td ng-click="expandStack($index)">
					<div style="width: 400px; overflow: visible;">
						{{row.stack | limitTo: 75}}
					</div>
				</td>
				<td>{{row.last_name}} {{row.first_name}}</td>
				<td>{{row.login}}</td>
				<td>{{formatLogDate(row.occurence);}}</td>
			</tr>
			</tbody>
		</table>
	</tab>
</tabs>
