<card-content>
	<card-title class="ellipsis"
				ng-bind="::'HELP_TEXT_EDIT' | translate">
	</card-title>
	<div>
		<input-rich model="translations[userLanguage]"
					has-image="true"
					modify="modify">
		</input-rich>
	</div>
	<card-actions ng-show="::modify">
		<div class="flex align-row" style="justify-content: space-between">
		<div class="start">
			<input-smart type="select"
						 single-value
						 style="width: 200px"
						 minimal
						 label="NOTIFICATION_RICH_LANGUAGE"
						 model="userLanguage"
						 watch-options="true"
						 options="languages">
			</input-smart>
		</div>
		<div class="end">
			<input-button type="primary" ng-click="cancelEdit()" ng-bind="::'CANCEL' | translate"></input-button>
			<input-button type="primary" ng-click="applyHelp()" ng-bind="::'APPLY' | translate"></input-button>
		</div>
		</div>
	</card-actions>
</card-content>


