<div class="row dashboard-chart-container">
	<div ng-repeat="chart in dashboard.Charts" ng-class="::{'col-md-12': chart.json.fullWidth, 'col-md-6': !chart.json.fullWidth}" class="col-xs-12">
		<dashboard-chart
				class="dashboard-chart"
				data="chart"
				process="process">
		</dashboard-chart>
	</div>
</div>