<div class="dropzone ng-hide" ng-show="processOnDrag" droppable-process="onDrop"></div>
<div class="backdrop" ng-show="loading">
    <loader class="contrast"></loader>
</div>
<input-container ng-class="{ readonly: !modify, 'has-content': items.length, 'minimal-chip': minimalChip }">
    <chip ng-class="{'minimal-chip': minimalChip}" ng-repeat="item in items"
          draggable-process="{{::process}}"
          item-id="{{::item.itemId}}"
          ng-dblClick="openProcess(item)"
          tooltip="{{::item.primary}} {{item.secondary ? '-' : ''}} {{::item.secondary}}">
        <chip-name ng-bind="::item.primary"></chip-name>
        <i class="material-icons process-remove" aria-hidden="true" ng-click="removeItem(item.itemId, $event)"
           tooltip="PROCESS_INPUT_REMOVE">
            close
        </i>
    </chip>
    <chip ng-if="minimalChip" ng-show="canAdd()" class="process-add-minimal minimal-chip">
        <chip-name>{{'ADD' | translate}}...</chip-name>
        <i class="material-icons process-remove" aria-hidden="true"
           tooltip="PROCESS_INPUT_ADD">
            add
        </i>
    </chip>
    
    <input id="{{::id}}" ng-required="::requiredField" ng-model="contains" autocomplete="off" ng-readonly="!modify"/>
    <label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
    <div ng-if="!minimalChip" class="process-add" ng-show="canAdd()" tooltip="PROCESS_INPUT_ADD">
        <i class="material-icons" aria-hidden="true">add</i>
    </div>
    <input-mockup></input-mockup>
</input-container>