<card-content>
	<card-title tooltip="{{title}}">{{title}}</card-title>
	<card-subtitle>
		<loader ng-style="{ display: loading && !loadingFailed ? 'block' : 'none' }"></loader>
		<div class="align-column failure no-select" ng-if="loadingFailed">
			<i class="material-icons" aria-hidden="true">error</i>
			<h2 class="h6" ng-bind="::'PROCESS_INPUT_LINK_FAILURE' | translate"></h2>
		</div>
		<input-smart ng-repeat="c in columns"
					 ng-if="!loading"
					 modify="canEdit"
					 model="item[c.Name]"
					 type="{{::c.DataType}}"
					 label="{{::c.LanguageTranslation | translateObject}}"
					 on-change="itemChange">
		</input-smart>
	</card-subtitle>
</card-content>