

<input-string model="search"
			  placeholder="{{::'SEARCH' | translate}} {{::settings.label}}"
			  minimal
			  modify="true"
			  on-change="onSearch">
</input-string>
<div ng-if="::settings.swap" aria-label="{{::'PROCESS_UNSELECT' | translate}}" tabindex="0"
	 class="italic pointer remove-selection no-select aria-detect"
	 ng-click="onSelect()"
	 ng-bind="::'PROCESS_UNSELECT' | translate">
</div>

<div ng-if="noResults && !settings.swap"
	 class="italic align-center simple-margin no-select"
	 ng-bind="::'PROCESS_NO_RESULTS' | translate">
</div>

<div class="list two-line dense" ng-show="items.length">
	<div class="list-item no-select aria-detect menu-item-{{::$index}}" ng-class="{ selected: item.$$isSelected}" aria-label="{{::item.primary}}" tabindex="0" ng-repeat="item in items" ng-click="onSelect(item)">
		<div class="list-item-text" >
			<span tooltip="{{::item.primary}}" class="primary" ng-bind="::item.primary"></span>
			<span tooltip="{{::item.secondary}}" class="secondary" ng-bind="::item.secondary"></span>
		</div>
		<div class="list-item-icon" ng-if="::favourites" ng-click="toggleFavorite(item.itemId, $event)">
			<i class="material-icons red" aria-hidden="true" ng-show="favourites[item.itemId]">favorite</i>
			<i class="material-icons" ng-hide="favourites[item.itemId]">favorite_border </i>
		</div>
	</div>
</div>

<div class="list-link">
	<a type="link" ng-click="loadMoreSearchResults()" ng-if="maxRowCount >= limit && (items.length + modifier != maxRowCount) && maxRowCount != 0">
		{{::'LOAD_MORE_RESULTS' | translate}}  ({{items.length + modifier}} / {{maxRowCount}} )
	</a>
</div>
<div class="list-link" ng-if="useExtendedSearch && (items.length + modifier) == maxRowCount">
	{{::'ALL_LOADED' | translate}} ({{items.length + modifier}} / {{maxRowCount}} )
</div>
<div ng-show="!useExtendedSearch && items.length === limit"
	 class="italic align-center simple-margin no-select"
	 ng-bind="::'PROCESS_SOME_RESULTS_HIDDEN' | translate">
</div>
<div ng-show="searching" class="align-column loader">
	<loader></loader>
</div>