<div class="backdrop" ng-show="loading">
	<loader class="contrast"></loader>
</div>
<div class="dropzone ng-hide" ng-show="processOnDrag" droppable-process="onDrop"></div>
<div ng-class="{ readonly: !modify, 'has-content': items.length }">
	<input ng-required="::requiredField" ng-model="contains"/>
	<table materialize>
		<thead>
		<tr>
			<th style="width:auto;">
				<div ng-bind="::label" tooltip="{{::label}}"></div>
			</th>
			<th ng-repeat="column in linkColumns"
			    ng-style="::{'width': column.DataType == 1 || column.DataType == 2 ? 80 : ''}"
			    ng-class="::{ 'align-right': column.DataType == 1 || column.DataType == 2 }">
				<div ng-bind="::column.LanguageTranslation | translateObject"
				     tooltip="{{::column.LanguageTranslation | translateObject}}"></div>
			</th>
			<th style="position:initial;" class="icon process-add align-right aria-detect" tooltip="PROCESS_INPUT_ADD">
				<a class="material-icons aria-detect" tabindex="0" ng-show="canAdd()" aria-hidden="true">add</a>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in items">
			<td ng-dblclick="openProcess(item)">
				<div class="ellipsis list">
					<span class="primary" style="font-size: inherit" ng-bind="::item.primary" tooltip="{{::item.primary}}"></span>
					<br ng-if="::item.secondary != ''">
					<span class="secondary" style="font-size: inherit" ng-bind="::item.secondary" tooltip="{{::item.secondary}}"></span>
				</div>
			</td>
			<td ng-repeat="column in linkColumns">
				<input-smart-table model="linkData[item.itemId][column.Name]"
				                   options="::getLinkListOptions(listOptions[column.ItemColumnId], item)"
				                   option-name="list_item"
				                   option-icon="list_symbol"
				                   option-color="list_symbol_fill"
				                   option-value="item_id"
				                   type="{{::column.DataType}}"
				                   modify="modify"
				                   placeholder="{{::column.LanguageTranslation | translateObject}}"
				                   on-change="linkProcessChange(column, item)">
				</input-smart-table>
			</td>
			<td style="" class="icon process-remove align-right">
				<a class="material-icons aria-detect" tabindex="0"
				   aria-label="{{ 'PROCESS_INPUT_REMOVE' | translateObject}}" ng-click="removeItem(item.itemId, $event)"
				   tooltip="PROCESS_INPUT_REMOVE">
					close
				</a>
			</td>
		</tr>
		<tr class="empty-row">
			<td colspan="42" ng-if="modify" class="align-center no-select">
				{{::'PROCESS_INPUT_CLICK_ADD' | translate}} {{::label}}
			</td>
			<td colspan="42"
			    class="italic align-center no-select"
			    ng-if="!modify"
			    ng-bind="::'PROCESS_INPUT_EMPTY' | translate">
			</td>
		</tr>
		<tr ng-if="hasLinkNumbers && items.length > 0" style="background-color: #f0f0f0">
			<td translate="LINK_TOTAL"></td>
			<td ng-repeat="column in linkColumns"
			    ng-class="::{ 'align-right': column.DataType == 1 || column.DataType == 2 }">
				{{getLinkSum(column)}}
			</td>
			<td class="icon"></td>
		</tr>
		</tbody>
	</table>
</div>
