﻿<div class="dropzone ng-hide" ng-show="processOnDrag" droppable-process="onDrop"></div>
<div class="backdrop" ng-show="loading">
	<loader class="contrast"></loader>
</div>
<input-container ng-class="{ readonly: !modify, 'has-content': items.length }" role="listbox">
	<input id="{{::id}}" class="aria-detect"
	       ng-required="::requiredField"
	       aria-required="{{::requiredField}}"
	       aria-disabled="{{!modify}}"
	       ng-model="contains"
	       autocomplete="off"
	       placeholder="{{::placeholder}}"
	       ng-dblclick="openProcess(item)"
	       ng-readonly="!modify"
	       aria-label="{{label}}"
	       tabindex="-1"
	/>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<div class="material-icons process-add aria-detect restore-to" aria-label="add item" role="button" tabindex="0" ng-show="canAdd()"
	     tooltip="PROCESS_INPUT_ADD">
		add
	</div>
</input-container>
<div class="two-line dense list">
	<div class="list-item"
	     ng-repeat="item in items"
	     draggable-process="{{::process}}"
	     item-id="{{::item.itemId}}"
	     ng-dblclick="openProcess(item)"
	     aria-label="{{::item.primary}}"
	     role="option"
	>

		<div class="list-item-text">
			<span class="primary" tooltip="{{::item.primary}}" ng-bind="::item.primary"></span>
			<span class="secondary" tooltip="{{::item.secondary}}" ng-bind="::item.secondary"></span>
		</div>
		<span class="flex"></span>
		<div class="material-icons process-remove aria-detect restore-to" aria-label="remove item" tabindex="0"
		     ng-click="determineAction(item.item_id, $event, item.actual_item_id)" tooltip="PROCESS_INPUT_REMOVE">
			<span ng-if="::max !== 1">close</span>
			<span ng-if="::max === 1">autorenew</span>
		</div>
	</div>
</div>