<div class="flex-time flex-time-corrections">
	<table materialize class="time-controls">
		<tr>
			<th>{{::'FLEX_TIME_TRACKING_USER'|translate}}</th>
		</tr>
		<tr>
			<td class="user">
				<input-smart type="user"
							 model="corrections.user_item_id"
							 modify="AdminRights"
							 max="1"
							 on-change="Changed" />
			</td>
		</tr>
	</table>
	<br />
	<table materialize class="time-inputs">
		<tr>
			<th class="day">{{::'FLEX_TIME_TRACKING_DATE'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th class="corrections-work-hours" colspan="4" style="text-align:center;">{{::'FLEX_TIME_TRACKING_WORK_HOURS'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th class="corrections-comment">{{::'FLEX_TIME_TRACKING_COMMENT'|translate}}</th>
			<th class="add" ng-if="AdminRights">
				<div class="btn ng-isolate-scope btn-icon waves-effect waves-circle" ng-click="Add()" type="icon" tabindex="0">
					<i class="material-icons ng-scope" aria-hidden="true">add</i>
				</div>
			</th>
		</tr>
		<tbody ng-repeat="flex_day in corrections.flex_days">
			<tr ng-repeat="flex_row in flex_day.flex_rows">
				<td class="day">{{flex_day.formated_date}}</td>
				<td class="space">&nbsp;</td>
				<td class="balance">{{flex_row.work.hours}}</td>
				<td class="h">h</td>
				<td class="balance">{{flex_row.work.minutes}}</td>
				<td class="m">m</td>
				<td class="space">&nbsp;</td>
				<td class="corrections-comment">{{flex_row.comment}}</td>
				<td class="delete" ng-if="AdminRights">
					<div class="btn ng-isolate-scope btn-icon waves-effect waves-circle" ng-click="Delete(flex_row.flex_row_item_id)" type="icon" tabindex="0">
						<i class="material-icons ng-scope" aria-hidden="true">delete</i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>