<div class="flex-time flex-time-report">
	<table materialize class="time-controls">
		<tr>
			<th>{{::'FLEX_TIME_TRACKING_USER'|translate}}</th>
			<th colspan="3">{{::'FLEX_TIME_TRACKING_YEAR'|translate}}</th>
			<th colspan="3">{{::'FLEX_TIME_TRACKING_MONTH'|translate}}</th>
		</tr>
		<tr>
			<td class="user">
				<input-smart type="user"
							 model="report.user_item_id"
							 modify="AdminRights"
							 max="1"
							 on-change="Changed" />
			</td>
			<td class="arrows" ng-click="PrevYear()" tooltip="{{::'FLEX_TIME_TRACKING_PREV_YEAR'|translate}}">
				<i class="material-icons" aria-hidden="true">chevron_left</i>
			</td>
			<td class="year">
				<input-smart type="select"
							 model="report.year"
							 modify="true"
							 options="report.year_list"
							 option-value="value"
							 option-name="name"
							 watch-options="true"
							 single-value="true"
							 on-change="Changed" />
			</td>
			<td class="arrows" ng-click="NextYear()" tooltip="{{::'FLEX_TIME_TRACKING_NEXT_YEAR'|translate}}">
				<i class="material-icons" aria-hidden="true">chevron_right</i>
			</td>
			<td class="arrows" ng-click="PrevMonth()" tooltip="{{::'FLEX_TIME_TRACKING_PREV_MONTH'|translate}}">
				<i class="material-icons" aria-hidden="true">chevron_left</i>
			</td>
			<td class="month">
				<input-smart type="select"
							 model="report.month"
							 modify="true"
							 options="report.month_list"
							 option-value="value"
							 option-name="name"
							 single-value="true"
							 on-change="Changed" />
			</td>
			<td class="arrows" ng-click="NextMonth()" tooltip="{{::'FLEX_TIME_TRACKING_NEXT_MONTH'|translate}}">
				<i class="material-icons" aria-hidden="true">chevron_right</i>
			</td>
		</tr>
	</table>
	<br />
	<table materialize class="time-inputs">
		<tr>
			<th class="day">{{::'FLEX_TIME_TRACKING_DATE'|translate}}</th>
			<th colspan="4">{{::'FLEX_TIME_TRACKING_BALANCE'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th class="day_hours_diff_report">{{::'FLEX_TIME_TRACKING_DIFFERENCE'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th class="calendar_events">{{::'FLEX_TIME_TRACKING_CALENDAR_EVENTS'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th>&nbsp;</th>
			<th colspan="3" style="width:64px;">{{::'FLEX_TIME_TRACKING_START_TIME'|translate}}</th>
			<th class="dash">&nbsp;</th>
			<th colspan="3" style="width:64px;">{{::'FLEX_TIME_TRACKING_END_TIME'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th colspan="4" style="text-align:center;">{{::'FLEX_TIME_TRACKING_LUNCH_BREAK'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th colspan="4" style="text-align:center;">{{::'FLEX_TIME_TRACKING_WORK_HOURS'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th>{{::'FLEX_TIME_TRACKING_COMMENT'|translate}}</th>
		</tr>
		<tbody ng-repeat="flex_day in report.flex_days">
			<tr ng-repeat="flex_row in flex_day.flex_rows" ng-class="{grey:flex_day.not_work}">
				<td class="day" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">{{flex_day.formated_date}}</td>
				<td class="balance" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">{{flex_day.balance.hours}}</td>
				<td class="h" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">h</td>
				<td class="balance" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">{{flex_day.balance.minutes}}</td>
				<td class="m" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">m</td>
				<td class="space" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">&nbsp;</td>
				<td class="day_hours_diff_report" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}"><div ng-bind-html="GetDiff(flex_day)"></div></td>
				<td class="space" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">&nbsp;</td>
				<td class="calendar_events" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">{{flex_day.calendar_events}}</td>
				<td class="space" ng-if="$first" rowspan="{{flex_day.flex_rows.length}}">&nbsp;</td>
				<td class="special">
					<input-smart type="select"
								 model="flex_row.special"
								 modify="false"
								 options="report.special_list"
								 option-name="name"
								 option-value="value"
								 option-icon="icon"
								 single-value="true"
								 icon-only="true" />
				</td>
				<td class="hours">
					<input-smart type="string"
								 model="flex_row.start.hours"
								 modify="false"
								 placeholder="h" />
				</td>
				<td class="colon">:</td>
				<td class="minutes">
					<input-smart type="string"
								 model="flex_row.start.minutes"
								 modify="false"
								 placeholder="m" />
				</td>
				<td class="dash">-</td>
				<td class="hours">
					<input-smart type="string"
								 model="flex_row.end.hours"
								 modify="false"
								 placeholder="h" />
				</td>
				<td class="colon">:</td>
				<td class="minutes">
					<input-smart type="string"
								 model="flex_row.end.minutes"
								 modify="false"
								 placeholder="m" />
				</td>
				<td class="space">&nbsp;</td>
				<td class="balance">{{flex_row.lunch.hours}}</td>
				<td class="h">h</td>
				<td class="balance">{{flex_row.lunch.minutes}}</td>
				<td class="m">m</td>
				<td class="space">&nbsp;</td>
				<td class="balance">{{flex_row.work.hours}}</td>
				<td class="h">h</td>
				<td class="balance">{{flex_row.work.minutes}}</td>
				<td class="m">m</td>
				<td class="space">&nbsp;</td>
				<td class="report_comment">{{flex_row.comment}}</td>
			</tr>
		</tbody>
	</table>
	<br />
</div>