﻿<input-container ng-class="{ readonly: !modify }">
	<h1 class="subtitle-1" ng-bind="::label" ng-if="::label" tooltip="{{::label}}"></h1>
	<div class="comment-section"
		 ngf-drop="uploadImage($files)"
		 ngf-multiple="true"
		 ngf-drop-disabled="!modify || comment">
		<loader class="small"></loader>
	</div>
	<div class="input-section">
		<input ng-model="comment" ng-keypress="submitComment($event)" ng-readonly="loading" spellcheck="{{::spellcheck}}"/>
		<input-button minimal
					  type="icon"
					  ng-click="submitComment()"
					  modify="!loading"
					  ngf-select="uploadImage($files)"
					  ngf-multiple="true"
					  ngf-select-disabled="!modify || comment"
					  tooltip="COMMENT_INPUT_SEND">
			<i class="material-icons" aria-hidden="true">{{!modify || comment || preventAttachments ? 'send' : 'attach_file'}}</i>
		</input-button>
	</div>
</input-container>