<input-container ng-class="{ readonly: !modify }">
	<h1 class="subtitle-1" ng-bind="::label" ng-if="::label" tooltip="{{::label}}"></h1>
	<div class="comment-section">
		<chip class="chip-input"
			  ng-class="{ wider: rows > 1 }"
			  ngf-drop="uploadImage($files)"
			  ngf-multiple="true"
			  ngf-drop-disabled="!modify || comment">
			<textarea ng-model="comment"
					  rows="{{rows}}"
					  spellcheck="{{::spellcheck}}"
					  ng-focus="onFocus()"
					  ng-blur="onBlur()"
					  ng-readonly="loading"
					  ng-trim="false">
			</textarea>
			<input-button class="new-comment"
						  minimal
						  ng-if="!preventAttachments"
						  modify="!loading"
						  type="icon"
						  ng-click="submitComment()"
						  ngf-select="uploadImage($files)"
						  ngf-multiple="true"
						  ngf-select-disabled="!modify || comment"
						  tooltip="COMMENT_INPUT_SEND">
				<i class="material-icons" aria-hidden="true">{{!modify || comment ? 'send' : 'attach_file'}}</i>
			</input-button>
		</chip>
		<loader class="small"></loader>
	</div>
</input-container>
