<card-content>
	<card-title class="ellipsis"
				ng-bind="::'PROCESS_FILTER_PARENT_PROCESS_EFFORT' | translate">
	</card-title>
	<card-subtitle>
		<input-smart type="integer"
					 label="PROCESS_FILTER_PARENT_PROCESS_EFFORT_NEW"
					 model="effort"
					 min="0"
					 suffix="h">
		</input-smart>
	</card-subtitle>
</card-content>
<card-actions>
	<input-button ng-bind="::'CANCEL' | translate" ng-click="close()"></input-button>
	<input-button type="primary" ng-bind="::'APPLY' | translate" ng-click="apply()"></input-button>
</card-actions>