<dialog-content class="process-filter-content">
	<dialog-title>
		<h2 tooltip="{{::label}}" ng-bind="::label" class="ellipsis"></h2>
		<span class="flex"></span>
		<div ng-if="::showEffortCalculations" class="align-row">
			<span style="margin-right: 4px">
				{{unallocatedEffort}} h
			</span>
			<input-button minimal type="icon" ng-click="changeParentEffort($event)" tooltip="{{unallocatedEffort}} h">
				<i class="material-icons" aria-hidden="true">edit</i>
			</input-button>
		</div>
	</dialog-title>
	<dialog-container class="align-row">
		<div class="process-filter-controls align-column align-item-start">
			<input-button type="icon" ng-click="showRelevant()" ng-if="::showRelevantButton" tooltip="PROCESS_FILTER_RELEVANT">
				<i class="material-icons" ng-class="{ orange: activeFilter === 'relevant' }">
					bubble_chart
				</i>
			</input-button>
			<input-button type="icon" ng-click="showFavorites()" ng-if="::favourites" tooltip="PROCESS_FILTER_FAVOURITES">
				<i class="material-icons" ng-class="{ red: activeFilter === 'favorites' }">
					favorite
				</i>
			</input-button>
			<input-button type="icon" ng-click="showFilters()">
				<i class="material-icons" ng-class="{ orange: activeFilter === 'filter' }" tooltip="PROCESS_FILTER_FILTER">
					filter_list
				</i>
			</input-button>
			<div class="RMCalendarZoomToggle" tooltip="PROCESS_FILTER_CALENDAR_ZOOM" ng-if="::calendarIsShown">
				<div class="RMCalendarZoomOut">
					<input-button ng-click="resolutionModeToggle()" modify="modifyToggle" type="icon">
						<i class="material-icons" aria-hidden="true">zoom_out</i>
					</input-button>
				</div>
			</div>
		</div>
		<divider class="vertical"></divider>
		<div class="process-filter-area flex align-item-start">
			<div ng-show="activeFilter=='filter'">
				<portfolio-filters portfolio-columns="filterColumns"
								   hide-save-button="true"
								   hide-columns="true"
								   is-visible="true"
								   process="{{::process}}"
								   on-click-filter="filter"
				                   minimal="true"
								   portfolio-id="{{::portfolioId}}">
				</portfolio-filters>
			</div>
			<div>
				<div class="align-column simple-margin" ng-show="showLoading">
					<loader></loader>
				</div>
				<div class="align-center italic no-select"
					 style="margin-top: 64px"
					 ng-hide="showLoading || items.length"
					 ng-bind="::'PROCESS_NO_RESULTS' | translate">
				</div>
				
				<div ng-hide="showLoading || items.length === 0">
					<allocation-manager rows="items"
										ng-if="::showAllocationManager"
										options="AMOptions"
										portfolio-id="{{::portfolioId}}"
										portfolio-columns="portfolioColumns">
						<row-template type="header">
							<table>
								<tbody>
								<tr class="rowmanager-header">
									<th ng-repeat="column in ::portfolioColumns">
										[{{::column.ItemColumn.Name}}]
									</th>
								</tr>
								</tbody>
							</table>
						</row-template>
						<row-template type="54">
							<table>
								<tbody>
								<tr>
									<td class="background-accent">
										[{{::portfolioColumns[0].ItemColumn.Name}}]
									</td>
								</tr>
								</tbody>
							</table>
						</row-template>
						<row-template type="default">
							<table>
								<tbody>
								<tr class="type2">
									<td ng-repeat="column in ::portfolioColumns">
										[{{::column.ItemColumn.Name}}]
									</td>
								</tr>
								</tbody>
							</table>
						</row-template>
					</allocation-manager>
					<div ng-if="::!showAllocationManager">
						<row-manager rows="items"
									 ng-if="!showLoading"
									 rules="RMRules"
									 options="AMOptions"
									 portfolio-id="{{::portfolioId}}"
									 portfolio-columns="portfolioColumns">
							<row-template type="header">
								<table>
									<tbody>
									<tr class="rowmanager-header">
										<th ng-repeat="column in ::portfolioColumns">
											[{{::column.ItemColumn.Name}}]
										</th>
									</tr>
									</tbody>
								</table>
							</row-template>
							<row-template type="54">
								<table>
									<tbody>
									<tr>
										<td class="background-accent">
											[{{::column.ItemColumn.Name}}]
										</td>
									</tr>
									</tbody>
								</table>
							</row-template>
							<row-template type="default">
								<table>
									<tbody>
									<tr class="type2">
										<td ng-repeat="column in ::portfolioColumns">
											[{{::column.ItemColumn.Name}}]
										</td>
									</tr>
									</tbody>
								</table>
							</row-template>
						</row-manager>
					</div>
				</div>
				<div ng-hide="activeFilter === 'favorites' || items.length < 50 || showLoading"
					 class="italic align-center simple-margin no-select"
					 ng-bind="::'PROCESS_SOME_RESULTS_HIDDEN' | translate">
				</div>
			</div>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions class="filter-dialog-actions-area">
	<div class="legend align-row no-select" ng-if="::calendarIsShown && showAllocationManager">
		<div class="colour-block background-lightBlue"></div>{{::'PROCESS_FILTER_ALLOCATED' | translate}}
		<div class="colour-block background-red"></div>{{::'PROCESS_FILTER_ALLOCATION_EFFECT' | translate}}
	</div>
	<span class="flex"></span>

	<input-button ng-click="filter()"
	              type="primary"
	              ng-show="activeFilter=='filter'"
	              ng-bind="::'FILTER' | translate">
	</input-button>
	
	<input-button ng-click="close()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="finish()" modify="selectedItemsCount" loading="finishing">
		{{::'CONFIRM' | translate}} ({{selectedItemsCount}})
	</input-button>
</dialog-actions>
