﻿<dialog-content>
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'LAYOUT_LINK_TITLE' | translate"></h2>
	</dialog-title>
	<dialog-container>
		<div class="align-row">
			<p class="align-item-end" style="margin-bottom: 18px" ng-bind="::'LAYOUT_LINK_EXPIRATION' | translate"></p>
			<div class="simple-margin"></div>
			<input-select model="expiration"
						  max="1"
						  options="selectOptions"
						  class="flex"
						  modify="true"
						  single-value>
			</input-select>
		</div>
		<input-string class="ng-hide"
					  ng-show="link"
					  modify="false"
					  model="link"
					  label="LAYOUT_LINK_LINK">
		</input-string>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-show="!link" ng-bind="::'MSG_CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="createLink()" loading="retrievingLink">
		{{btnAction}}
	</input-button>
</dialog-actions>