
<style>
	.blue {
		color: blue
	}
	.hotpink {
		color: hotpink;
	}
	.red {
		color: red
	}
</style>


	<input-smart type="select" model="selectedProcess" modify="true" label="CONDITION_C_5" on-change="getProcessRows" on-change-parameters="{'process': selectedProcess}" options="processes" option-value="ProcessName" option-name="LanguageTranslation">
	</input-smart>
	<input-smart type="select" model="selectedCondition" watch-options="true" label="CONDITION_C_6" on-change="resultNotReady()" modify="true" options="conditions" option-value="ConditionId" option-name="LanguageTranslation">
	</input-smart>
	<input-smart type="select" model="selectedRow" watch-options="true" modify="true" options="processRows" label="CONDITION_C_7" on-change="resultNotReady()" option-value="item_id" option-name="title">
	</input-smart>
	<input-smart type="process" process="user" modify="true" max="1" model="selectedUser" single-value="true" label="CONDITION_C_9">
	</input-smart>

	<div>
			<input-button type="primary" modify="!buttonGreyed" ng-click="showConditionResult()">{{'CONDITION_C_4' | translate}}</input-button>
	</input-button>
	</div>

	<div ng-if="resultReady">
		{{'CONDITION_C_1' | translate}} <span class="red">{{returnConditionTranslation(selectedCondition)}} {{conditionTranslation}}</span> {{'CONDITION_C_2' | translate}} <span class="blue">{{returnRowTranslation(selectedRow)}} {{rowTranslation}}</span> {{'CONDITION_C_3' | translate}}
		<span class="hotpink">{{conditionResult}}</span>
	</div>

