<style>
    .blue {
        color: blue
    }
    .hotpink {
        color: hotpink;
    }
    .red {
        color: red
    }
</style>

<dialog-content>
	<dialog-title>
		<h2>{{::dialogTranslation}}</h2>
	</dialog-title>
	<table-container>
		<table materialize>
			<tr>
				<th style="width: 45%">{{'CONDITION' | translate}}</th>
				<th style="width: 55%">{{'USER' | translate}}</th>
			</tr>
			<tr>
				<td>
					<input-smart
							type="select"
							options="conditions"
							model="condition"
							single-value="true"
							watch-options="true"
							option-name="LanguageTranslation"
							label="CONDITION_C_10"
							option-value="ConditionId">
					</input-smart>
				</td>

				<td>
					<input-smart
							type="process"
							process="user"
							modify="true"
							max="1"
							model="selectedUser"
							single-value="true"
							label="CONDITION_C_9">
					</input-smart>
				</td>
			</tr>
		</table>
	</table-container>
	<div ng-if="resultReady">
			<span>{{string1}}</span>
		    <span class="red">{{string11}}</span>
			<span>{{string2}}</span>
			<span class="blue">{{string21}}</span>
			<span>{{'CONDITION_C_12' | translate}}</span>
			<span ng-if="conditionResult == 'True'" class="green">{{'CONDITION_TRUE' | translate}}</span>
			<span ng-if="conditionResult == 'False'" class="red">{{'CONDITION_FALSE' | translate}}</span>
	</div>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">{{'CLOSE' | translate}}</input-button>
	<input-button type="primary" ng-click="showConditionResult()">{{'CONDITION_C_4' | translate}}</input-button>
</dialog-actions>