﻿<div class="row">
    <div class="col" style="width:48%;min-width:450px;padding-right:45px;">
        <container-header>Import</container-header>
        <input-file type="file" parent="{{process}}" group="Excel" label="Add files for importing here"
                    placeholder="Browse or drag&drop files" modify="true" on-change="filesChanged"></input-file>

        <div ng-if="filesLoaded">
            <input-smart type="select" model="$parent.fileId" max="1" single-value="true" modify="true"
                         options="importFiles"
                         option-value="AttachmentId" option-name="Name" label="Choose file to import"
            ></input-smart>
        </div>
        
        <input-button ng-click="importTemplate('insert')" type="primary">Import new data</input-button>
        <input-button ng-click="importTemplate('update')" type="primary">Import existing data</input-button>


        <div class="list one-line">
            <div ng-repeat="r in importResult" class="list-item">
                {{r}}
            </div>
        </div>
    </div>
    <div class="col" style="min-width:450px">
        <container-header>Export</container-header>
        <input-button ng-click="exportTemplate()" type="primary">Export Empty Template</input-button>
        <input-button ng-click="exportTemplateWithD()" type="primary">{{'EXPORT_EXCEL_WITH_DATA' | translate}}</input-button>
    </div>
</div>