﻿<tabs>
	<tab ng-repeat="(category, cValue) in ::categories" label="Configurations for {{::category}}">
		<div ng-repeat="(process, pValue) in ::cValue">
			<table-header>
				Default configurations
			</table-header>
			<table-container>
				<table materialize>
					<thead>
						<tr>
							<th>Variable name</th>
							<th style="width: 50%">Value</th>
							<th>Apply to</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(name, nValue) in ::pValue">
							<td>
								<p ng-bind="::name"></p>
							</td>
							<td>
								<input-smart-table align="left"
												   type="{{::nValue.format}}"
												   model="model[category]['null'][name]['value']"
												   options="::nValue.options"
												   single-value>
								</input-smart-table>
							<td>
								<input-smart class="smart-table"
											 type="select"
											 minimal
											 placeholder="Apply to all"
											 model="model[category]['null'][name]['process']"
											 options="::processes"
											 single-value>
								</input-smart>
							</td>
						</tr>
					</tbody>
				</table>
			</table-container>

			<div ng-repeat="(process, pValue) in ::model[category]" ng-if="::process != 'null'">
				<table-header>
					Configuration for process {{::process}} only
				</table-header>
				<table-container>
					<table materialize>
						<thead>
							<tr>
								<th>Variable name</th>
								<th style="width: 50%">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(name, nValue) in ::pValue">
								<td>
									<p ng-bind="::name"></p>
								</td>
								<td>
									<input-smart-table align="left"
													   type="{{::nValue.format}}"
													   model="model[category][process][name]['value']"
													   options="::nValue.options"
													   single-value>
									</input-smart-table>
								</td>
							</tr>
						</tbody>
					</table>
				</table-container>
			</div>
		</div>
	</tab>
</tabs>
