﻿<div class="ng-hide" ng-show="showSelection">
	<input-button ng-click="clickSelStop()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button ng-if="hasAtLeastOneCC" ng-click="approveMultiple()" ng-bind="::'ALLOCATION_APPROVE_SELECTED' | translate"></input-button>
	<input-button ng-if="isManager" ng-click="sendMultiple()" ng-bind="::'ALLOCATION_SEND_SELECTED' | translate"></input-button>
</div>
<div ng-show="!hideClearButton">
	<input-button ng-click="clearAllAllocations()">{{'CLEAR_ALL_ALLOCATIONS' | translate}}</input-button>
</div>
<div class="allocation-legend-footbar no-select" ng-show="!showSelection" ng-if="::!autoAccept">
	<div class="align-row pointer no-select" ng-hide="::hideStatus['draft']" ng-click="toggleStatus('draft')">
		<div class="colour-block background-grey"
			 ng-class="{ 'background-grey-opaque inactive': inactiveStatus['draft']}">
		</div>
		<span ng-bind="::'ALLOCATION_DRAFT_STATUS' | translate"></span>
	</div>
	<div class="align-row pointer" ng-hide="::hideStatus['previousDraft']" ng-click="toggleStatus('previousDraft')">
		<div class="colour-block background-cyan"
			 ng-class="{ 'background-cyan-opaque inactive': inactiveStatus['previousDraft']}">
		</div>
		<span ng-bind="::'ALLOCATION_PREVIOUS_DRAFT_STATUS' | translate"></span>
	</div>
	<div class="align-row pointer" ng-hide="::hideStatus['request']" ng-click="toggleStatus('request')">
		<div class="colour-block background-amber"
			 ng-class="{ 'background-amber-opaque inactive': inactiveStatus['request']}">
		</div>
		<span ng-bind="::'ALLOCATION_REQUEST_STATUS' | translate"></span>
	</div>
	<div class="align-row pointer" ng-hide="::hideStatus['reject']" ng-click="toggleStatus('reject')">
		<div class="colour-block background-red"
			 ng-class="{ 'background-red-opaque inactive': inactiveStatus['reject']}">
		</div>
		<span ng-bind="::'ALLOCATION_REJECT_STATUS' | translate"></span>
	</div>
	<div class="align-row pointer" ng-hide="::hideStatus['approve']" ng-click="toggleStatus('approve')">
		<div class="colour-block background-green"
			 ng-class="{ 'background-green-opaque inactive': inactiveStatus['approve']}">
		</div>
		<span ng-bind="::'ALLOCATION_APPROVE_STATUS' | translate"></span>
	</div>
	<div class="align-row" ng-hide="::hideStatus['action']">
		<div class="colour-block background-purple"></div>
		<span ng-bind="::'ALLOCATION_ACTION_STATUS' | translate"></span>
	</div>
	<div class="align-row pointer" ng-hide="::hideStatus['release']" ng-click="toggleStatus('release')">
		<div class="colour-block background-pink"
			 ng-class="{ 'background-pink-opaque inactive': inactiveStatus['release']}">
		</div>
		<span ng-bind="::'ALLOCATION_RELEASED_STATUS' | translate"></span>
	</div>
</div>

<div class="allocation-legend-footbar no-select" ng-if="!showSelection && showDisregardCheck">
	<input-check minimal model="disregardOtherAllocations" modify="true" on-change="reCalc" label="{{::'SUM_OTHER_ALLOCATIONS' | translate}}"></input-check>
</div>
<div class="flex"></div>
<div class="calendar-control">
	<div class="RMCalendarResolution">
		<p ng-bind="::'PORTFOLIO_ND' | translate"></p>
		<p class="modeName">{{modeName}}</p>
	</div>

	<div class="RMCalendarZoomOut">
		<input-button ng-click="calendarZoomOut()" modify="modifyZoomOut" type="icon">
			<i class="material-icons" aria-hidden="true">zoom_out</i>
		</input-button>
	</div>

	<div class="RMCalendarZoomIn">
		<input-button ng-click="calendarZoomIn()" modify="modifyZoomIn" type="icon">
			<i class="material-icons" aria-hidden="true">zoom_in</i>
		</input-button>
	</div>

	<div class="RMCalendarToday">
		<input-button ng-click="calendarToday()" modify="modifyToday" type="icon">
			<i class="material-icons" aria-hidden="true">today</i>
		</input-button>
	</div>
</div>
