﻿<tabs ng-if="!hideFilters">
	<tab label="APPROVAL_USER_FILTERS" ng-if="!hideFilters && portfolioId && portfolioId != 0">
		<portfolio-filters portfolio-columns="userFilterColumns"
		                   is-visible="!hideFilters"
		                   portfolio-id="{{::portfolioId}}"
		                   hide-progress="true"
		                   navigation-menu-id="{{::navigationMenuId}}"
		                   on-change="reloadView()"
		                   on-save="saveFilters()"
		                   hide-columns="true"
		                   hide-if-one-tab="true"
		                   reload-navigation="reloadNavigation()">
		</portfolio-filters>
	</tab>
	
	<tab label="APPROVAL_COMPETENCY_FILTERS" ng-if="!hideFilters2 && portfolioId2 && portfolioId2 != 0">
		<portfolio-filters portfolio-columns="competencyFilterColumns"
		                   is-visible="!hideFilters2"
		                   portfolio-id="{{::portfolioId2}}"
		                   hide-progress="true"
		                   navigation-menu-id="{{::navigationMenuId}}"
		                   on-change="reloadView()"
		                   on-save="saveFilters()"
		                   hide-columns="true"
		                   hide-if-one-tab="true"
		                   reload-navigation="reloadNavigation()">
		</portfolio-filters>
	</tab>
</tabs>

<allocation-manager rows="rows" rules="AMRules" options="AMOptions" portfolio-columns="portfolioColumns" ownercc="ownerCostCenters">
	<!-- Header -->
	<row-template type="header">
		<table>
			<tbody>
			<tr class="rowmanager-header">
				<th class="allocation_total_th">
					[primary]
					<span translate="ALLOCATION_TOTAL"></span>
				</th>
			</tr>
			</tbody>
		</table>
	</row-template>
	
	<!-- Allocation Level -->
	<row-template type="50">
		<table>
			<tbody>
			<tr class="type1">
				<td class="td-flex">
					<div class="two-rows">
						<div class="first-row">[primary]</div>
						<div class="second-row">[status_translation] - [process_translation]</div>
					</div>
					[allocation_total]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	
	<!-- Project Level -->
    <row-template type="52">
        <table>
            <tbody>
            <tr class="type2">
                <td class="td-flex">
                    <div class="two-rows">
                        <div class="first-row">[primary]</div> 
                        <div class="second-row">&nbsp;</div>
                    </div>
                    [allocation_total]
                </td>
            </tr>
            </tbody>
        </table>
    </row-template>

	<!-- User Level -->
	<row-template type="51">
		<table>
			<tbody>
			<tr class="type2">
				<td class="td-flex">
					<div class="two-rows">
						<div class="first-row">[primary]</div>
						<div class="second-row">[competency]</div>
					</div>
					[allocation_total]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</allocation-manager>
