<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">
			{{::'ALLOCATION_SAVED_VIEW' | translate}} {{::title}}
		</h2>
	</dialog-title>
	<dialog-container>
		<input-translation class="stretch"
						   model="name"
						   modify="true"
						   ng-show="listPublic != 3"
						   label="{{::'ALLOCATION_SAVED_VIEW_NAME' | translate}}">
		</input-translation>
		<input-smart type="select"
					 options="visibilityList"
					 option-name="name"
					 option-value="value"
					 label="{{::'PORTFOLIO_VISIBILITY' | translate}}"
					 model="listPublic"
					 single-value="true"
					 on-change="changeVisibility"
					 on-change-parameters="listPublic"
					 required-field="true">
		</input-smart>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'MSG_CANCEL' | translate"></input-button>
	<input-button ng-if="::!isNew" ng-click="deleteSettings()" modify="!(deleting || saving)">
		{{delete | translate}}
	</input-button>
	<input-button type="primary" ng-click="saveSettings()" modify="!(saving || deleting)">
		{{save | translate}}
	</input-button>
</dialog-actions>