<div ng-if="searching" class="align-column"><loader></loader></div>
<portfolio-filters portfolio-columns="filterColumns"
                   is-visible="!hideFilters"
                   portfolio-id="{{::portfolioId}}"
                   hide-progress="true"
                   navigation-menu-id="{{::navigationMenuId}}"
                   on-change="reloadView()"
                   on-save="saveFilters()"
                   hide-columns="true"
                   reload-navigation="reloadNavigation()" ng-if="!hideFilters && portfolioId != 0">
</portfolio-filters>
<allocation-manager ng-show="!searching" rows="rows" order-col="allocation_end_date" order-dir="asc" rules="AMRules" options="AMOptions" portfolio-columns="portfolioColumns">
	<row-template type="header">
		<table>
			<tbody>
				<tr class="rowmanager-header">
					<th class="allocation_total_th">
						[primary]
						<span translate="ALLOCATION_TOTAL"></span>
					</th>
				</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="50">
		<table>
			<tbody>
			<tr class="type1">
				<td class="td-flex">
					<div class="two-rows">
						<div class="first-row">[primary]</div>
						<div class="second-row">[status_translation] - [process_translation]</div>
					</div>
					[allocation_total]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
    <row-template type="52">
        <table>
            <tbody>
            <tr class="type2">
                <td class="td-flex">
                    <div class="two-rows">
                        <div class="first-row">[primary]</div>
                        <div class="second-row">&nbsp;</div>
                    </div>
                    [allocation_total]
                </td>
            </tr>
            </tbody>
        </table>
    </row-template>
	<row-template type="51">
		<table>
			<tbody>
			<tr class="type2">
				<td class="td-flex">
					<div class="two-rows">
						<div class="first-row">[primary]</div>
						<div class="second-row">[organisation][cost_center]</div>
					</div>
					[allocation_total]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</allocation-manager>
