<dialog-content>
	<dialog-title>
		<h2>{{title | translate}}: {{activeTranslation}}</h2>
	</dialog-title>
	<dialog-container>
		<div ng-if="!isPortfolio && checkIfConditions == true">
			<accordion>
				<pane ng-repeat="(state, conditions) in ::conditionTypes">
					<pane-header ng-bind="::state"></pane-header>
					<pane-content>
						<div class="list two-line dense">
							<div ng-repeat="condition in ::conditions" class="list-item">
								{{condition.LanguageTranslation | translateObject}}
								<input-button type="icon" minimal no-waves ng-click="showCondition(condition.ConditionId)">
									<i class="material-icons" aria-hidden="true">open_in_new</i>
								</input-button>
							</div>
						</div>
					</pane-content>
				</pane>
			</accordion>
		</div>
		<div ng-if="isPortfolio && checkIfConditions == true">
			<div class="list two-line dense">
				<div ng-repeat="portfolioCondition in ::portfolioConditions" class="list-item">
					{{portfolioCondition.LanguageTranslation | translateObject}}
					<input-button type="icon" minimal no-waves ng-click="showCondition(portfolioCondition.ConditionId)">
						<i class="material-icons" aria-hidden="true">open_in_new</i>
					</input-button>
				</div>
			</div>
		</div>
		<div ng-if="checkIfConditions == false">
			{{noConditions | translate}}
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button type="primary" ng-click="closeConditionDialog()">{{'LAYOUT_LINK_CLOSE' | translate}}</input-button>
</dialog-actions>
