<div ng-controller="DashboardChartBasicConfigController">
	<tabs modify="false" ng-if="selections.chartType" style="max-width: 800px">
		<tab label="Data Source">
			<input-smart type="checkbox"
						 model="selections.groupResults"
						 modify="true"
						 align="center"
						 label="CHART_PIE_GROUP_RESULTS">
			</input-smart>
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header ng-show="selections.groupResults">Grouping</container-header>
					<input-smart ng-show="selections.groupResults" type="select"
								 model="selections.groupWithFunction"
								 modify="true"
								 options="groupingFunctionOptions"
								 option-value="name"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_SELECT_AGGREGATE_FUNCTION">
					</input-smart>
					<input-smart ng-show="selections.groupResults && chartOptions.groupByFields.Values"
								 type="select"
								 model="selections.groupField"
								 modify="true"
								 watch-options="true"
								 on-change="mainFieldChanged"
								 on-change-parameters="'group'"
								 options="chartOptions.groupByFields.Values"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_GROUP_RESULTS_BY_FIELD"></input-smart>
					<input-smart ng-show="selections.groupResults && groupFieldProperties"
								 type="select"
								 model="selections.groupFieldProperty"
								 modify="true"
								 watch-options="true"
								 options="groupFieldProperties"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_GROUP_RESULTS_BY_FIELD_PROPERTIES">
					</input-smart>
					<container-header ng-show="!selections.groupResults">Values</container-header>
					<input-smart ng-show="!selections.groupResults && chartOptions.labelFields.Values"
								 type="select"
								 model="selections.labelField"
								 modify="true"
								 watch-options="true"
								 options="chartOptions.labelFields.Values"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_LABEL_FIELD">
					</input-smart>
					<input-smart ng-show="!selections.groupResults && labelFieldProperties"
								 type="select"
								 model="selections.labelFieldProperty"
								 modify="true"
								 watch-options="true"
								 options="labelFieldProperties"
								 option-value="Name"
								 option-name="LanguageTranslation" label="CHART_PIE_LABEL_FIELD">
					</input-smart>
					<input-smart ng-show="!selections.groupResults || selections.groupWithFunction.indexOf('sum') > -1 && chartOptions.valueFields.Values"
								 type="select"
								 model="selections.valueField"
								 on-change="mainFieldChanged"
								 on-change-parameters="'value'"
								 modify="true"
								 watch-options="true"
								 options="chartOptions.valueFields.Values"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_VALUE_FIELD">
					</input-smart>
					<input-smart ng-show="!selections.groupResults || selections.groupWithFunction.indexOf('sum') > -1 && valueFieldProperties"
								 type="select"
								 model="selections.valueFieldProperty"
								 modify="true"
								 watch-options="true"
								 options="valueFieldProperties"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_VALUE_FIELD_PROPERTIES">
					</input-smart>
				</div>
				<div class="col-xs-12 col-lg-6">
					<container-header>Other</container-header>
					<input-smart ng-show="!selections.groupResults" type="checkbox"
								 model="selections.showNulls"
								 modify="true"
								 align="center"
								 label="CHART_PIE_SHOW_NULLS">
					</input-smart>
					<input-smart ng-show="chartOptions.dateRangeField && chartOptions.dateRangeField.Values"
								 type="select"
								 model="selections.dateRangeField"
								 modify="true"
								 options="chartOptions.dateRangeField.Values"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="DATE_RANGE">
					</input-smart>
					<input-smart ng-show="chartOptions.dateRangeField && chartOptions.dateRangeField.Values"
								 type="integer"
								 model="selections.historyColumnCount"
								 modify="true"
								 max="12"
								 min="1"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 laabel="ITEMS_FROM_HISTORY">
					</input-smart>
					<input-smart ng-show="selections.groupResults" type="select"
								 model="selections.showUndefined"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_SHOW_UNDEFINED">
					</input-smart>
					<input-smart ng-show="selections.showUndefined==1"
								 type="translation"
								 modify="edit"
								 model="selections.undefinedCustomName"
								 label="CHART_COMMON_UNDEFINED_NAME">
					</input-smart>
					<input-smart label="CHART_CLICKABLE" type="select"
								 model="selections.clickable"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation">
					</input-smart>
					<input-smart type="select"
								 model="selections.ignoreZeros"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation" label="CHART_PIE_IGNORE_ZEROS">
					</input-smart>
				</div>
			</div>
		</tab>
		<tab label="Common">
			<div class="row" style="width:50%">
				<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
				<table materialize>
					<tr>
						<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
						<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
					</tr>
					<tr ng-repeat="obj in filterTable track by $index">
						<td>
							<input-smart-table type="select"
											   model="filterTable[$index].name"
											   on-change="saveQuickFilters"
											   modify="true"
											   unselectable
											   watch-options="true"
											   options="filterSelectionOptions"
											   option-value="Name"
											   option-name="LanguageTranslation">
							</input-smart-table>
						</td>
						<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
					</tr>
				</table>
			</div>
		</tab>
		<tab label="Styling">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header ng-show="selections.groupResults">Form</container-header>
					<input-smart type="select"
								 model="selections.pieType"
								 modify="true"
								 watch-options="true"
								 options="pieTypes"
								 option-value="value"
								 option-name="LanguageTranslation" label="CHART_PIE_TYPE">
					</input-smart>
					<input-smart ng-show="selections.pieType != null && selections.pieType[0]>0"
								 type="number"
								 modify="true"
								 model="selections.cutOutPercentage"
								 label="CHART_PIE_CUT_OUT_PERCENTAGE">
					</input-smart>
					<input-smart ng-show="selections.groupResults" type="select"
								 model="selections.listColors"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_USE_LIST_COLORS">
					</input-smart>
				</div>
				<div class="col-xs-12 col-lg-6">
					<container-header ng-show="selections.groupResults">Order</container-header>
					<input-smart type="select"
								 model="selections.orderType"
								 modify="true"
								 options="orderTypes"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_ORDER_TYPE">
					</input-smart>
					<input-smart ng-show="selections.pieType != null && selections.pieType[0]<2"
								 type="decimal"
								 modify="true"
								 model="selections.rotation"
								 label="CHART_PIE_ROTATION_ANGLE">
					</input-smart>
				</div>
			</div>
			<div class="row" style="margin-top:46px;">
				<div class="col-xs-12 col-lg-6">
					<container-header ng-show="selections.groupResults">Labels & Legend</container-header>
					<input-smart type="select"
								 model="selections.outLabelsInUse"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_USE_OUTLABELS">
					</input-smart>
					<input-smart ng-show="selections.outLabelsInUse==1"
								 type="select"
								 model="selections.showOutIndex"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_OUTLABELS_SHOW_INDEX">
					</input-smart>
					<input-smart ng-show="selections.outLabelsInUse==1"
								 type="select"
								 model="selections.showOutLabel"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_OUTLABELS_SHOW_LABEL">
					</input-smart>
					<input-smart type="select"
								 model="selections.showOutValue"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 ng-show="selections.outLabelsInUse==1"
								 label="CHART_PIE_OUTLABELS_SHOW_VALUE">
					</input-smart>
					<input-smart ng-show="selections.outLabelsInUse==1" type="select"
								 model="selections.showOutPercentage"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_OUTLABELS_SHOW_PERCENTAGE">
					</input-smart>
					<input-smart type="checkbox"
								 model="selections.showLabels"
								 modify="true"
								 align="center"
								 label="CHART_PIE_SHOW_LEGEND">
					</input-smart>
				</div>
				<div class="col-xs-12 col-lg-6">
					<container-header ng-show="selections.groupResults">Threshold</container-header>
					<input-smart type="select"
								 model="selections.thresholdInUse"
								 modify="true"
								 options="YesNoOption"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_GROUP_THRESHOLD">
					</input-smart>

					<input-smart ng-show="selections.thresholdInUse != null && selections.thresholdInUse[0]>0"
								 type="select"
								 model="selections.thresholdType"
								 modify="true"
								 options="thresholdTypes"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_PIE_THRESHOLD_TYPE">
					</input-smart>

					<input-smart type="translation"
								 ng-show="selections.thresholdInUse != null && selections.thresholdInUse[0]>0"
								 modify="edit"
								 model="selections.thresholdName"
								 label="CHART_PIE_THRESHOLD_NAME">
					</input-smart>

					<input-smart ng-show="selections.thresholdInUse != null && selections.thresholdInUse[0]>0"
								 type="decimal"
								 modify="true"
								 model="selections.thresholdValue"
								 label="CHART_PIE_THRESHOLD_VALUE"></input-smart>

					<input-smart ng-show="selections.thresholdInUse != null && selections.thresholdInUse[0]>0"
								 type="select"
								 unselectable
								 model="selections.thresholdColor"
								 modify="true"
								 watch-options="true"
								 options="selections.customColor"
								 option-value="name"
								 option-name="name"
								 label="CHART_PIE_THRESHOLD_COLOR">
					</input-smart>
				</div>
			</div>
		</tab>
	</tabs>
</div>
