<allocation-manager add-allocation="addAllocation"
					rows="rows"
					rules="rules"
					options="options"
					portfolio-columns="portfolioColumns"
					portfolio-id="{{::portfolioId}}">
	<row-template type="header">
		<table>
			<tbody>
			<tr class="rowmanager-header">
				<th ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</th>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="50">
		<table>
			<tbody>
			<tr class="type1">
				<td ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="51">
		<table>
			<tbody>
			<tr class="type2">
				<td ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="1">
		<table>
			<tbody>
			<tr class="type1">
				<td ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="21">
		<table>
			<tbody>
			<tr class="type1">
				<td ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</allocation-manager>