<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Keto Software</title>

	<base href="--VIRTUALDIRECTORY--"/><!-- Replaced at runtime with Virtual Directory -->

	<!-- Angular, jQuery JS -->
	<script src="lib/libs.js"></script>

	<!-- Google Authentication -->
	--GOOGLEAUTHENTICATION1--

	<!-- Material Design CSS -->
	<link rel="stylesheet" href="css/keto.css?rel=80b76c4a9f"/>

	<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="css/keto-ie.css">
	<![endif]-->

	<script type="text/javascript" src="login/basicLogin.js?rel=b7873769ce"></script>
	<script type="text/javascript" src="login/ui/select.js?rel=a2f9153f54"></script>
	<link rel="stylesheet" href="css/waves.min.css"/>
	<script src="css/waves.min.js"></script>
</head>

<body ng-app="login" ng-controller="BasicLoginController" ng-class="{'intra': isIntra()}" class="login {{ boxCount('class'); }} {{ loadingDone }}">
<img ng-if="data.BasicAuthentication != 'True' || hidden" class="keto-logo" src="images/logos/keto_logo.png" ng-click="showAuth()"/>

<whiteframe id="add-login" ng-if="data.addText != ''">
	<h2 class="login-title">{{data.addTitle}}</h2>
	<div style='padding:20px;' ng-bind-html="getHtml(data.addText)"></div>
</whiteframe>

<whiteframe id="sso-login"
            ng-if="data.AzureADAuthentication=='True' || data.SamlAuthentication=='True' || data.GoogleAuthentication=='True'">
	<h2 class="login-title">{{data.LOGIN_SSO_TITLE}}</h2>

	<img ng-if="data.AzureADAuthentication=='True'" src="images/logos/office365_login.png" alt="Office 365 login">
	<img ng-if="data.SamlAuthentication=='True'" src="images/logos/adfs_login.png" alt="ADFS login">
	<img ng-if="data.GoogleAuthentication=='True'" src="images/logos/google.png" alt="Google login">

	<form autocomplete="off">
		<div class="align-row">
			<span class="flex"></span>
			--GOOGLEAUTHENTICATION2--
			<a ng-if="data.AzureADAuthentication=='True' || data.SamlAuthentication=='True'"
			   class="btn btn-primary background-accent" ng-click="ssologin()">{{data.LOGIN_SSO}}</a>
		</div>
	</form>
</whiteframe>

<whiteframe id="keto-login" ng-if="data.BasicAuthentication=='True' && !hidden">
	<h2 class="login-title">{{data.LOGIN_LOGIN}}</h2>
	<img src="images/logos/keto_logo.png" alt="Keto login">
	<form autocomplete="off">
		<input-select modify="modify"
		              label="Domain"
		              ng-model="credentials.domain"
		              options="domains"
		              option-name="name"
		              option-value="domain">

		</input-select>

		<div ng-if="changepassword == 0 && !secondfactor && !ketoauth">
			<input-string>
				<input-container>
					<input id="username" type="text" ng-model="credentials.username">
					<label for="username">{{data.LOGIN_USERNAME}}</label>
				</input-container>
			</input-string>
			<input-string>
				<input-container>
					<input id="password" type="password" ng-model="credentials.password">
					<label for="password">{{data.LOGIN_PASSWORD}}</label>
				</input-container>
			</input-string>
			<div class="align-row" style="justify-content: end;">
				<a class="btn btn-link" ng-if="passwordResetEnabled" ng-click="passwordResetMode(1)">{{data.LOGIN_PASSWORD_FORGOTTEN}}</a>
				<button class="btn btn-primary background-accent " style="max-width:200px;" ng-disabled="disabled" ng-click="disabled || login()">
					{{data.LOGIN_SIGN_IN}}
				</button>
			</div>
		</div>
		<div ng-if="secondfactor">
			<input-string>
				<input-container>
					<input id="factorcode" type="text" ng-model="credentials.twofactorcode" required>
					<label for="factorcode">{{data.LOGIN_FACTORCODE}}</label>
				</input-container>
			</input-string>

			<div class="align-row">
				<a class="btn btn-secondary" ng-disabled="disabled" ng-click="secondfactorCancel()">{{data.LOGIN_CANCEL}}</a>
				<button class="btn btn-primary background-accent" ng-disabled="disabled" ng-click="submitFactorCode()">
					{{data.LOGIN_SIGN_IN_TWOFACTOR}}
				</button>
			</div>
		</div>
		<div ng-if="ketoauth" style="line-height: 1.25;">
			{{data.LOGIN_SIGN_IN_KETOAUTH}}
			<div class="align-row">
				<a class="btn btn-secondary" ng-disabled="disabled" ng-click="ketoAuthCancel()">{{data.LOGIN_CANCEL}}</a>
				<button class="btn btn-primary background-accent" ng-disabled="disabled" ng-click="submitKetoAuth()">
					{{data.LOGIN_SSO}}
				</button>
			</div>
		</div>
		<div ng-if="changepassword == 1" style="line-height: 1.25;">
			{{data.LOGIN_RESET_INFO}}
			<input-string>
				<input-container>
					<input id="resetUsername" type="text" ng-model="credentials.username" required>
					<label for="resetUsername">{{data.LOGIN_USERNAME}}</label>
				</input-container>
			</input-string>
			<div class="align-row">
				<a class="btn btn-secondary" ng-disabled="disabled" ng-click="passwordResetMode(0)">{{data.LOGIN_CANCEL}}</a>
				<button class="btn btn-primary background-accent" ng-disabled="disabled" ng-click="passwordReset(0)">
					{{data.LOGIN_RESET}}
				</button>
			</div>
		</div>
		<div ng-if="changepassword == 2">
			{{data.LOGIN_COMPLEXITY}}
			<input-container>
				<input id="resetPassword" type="password" ng-model="credentials.resetPassword" required>
				<label for="resetPassword">{{data.LOGIN_PASSWORD1}}</label>
			</input-container>
			<input-container>
				<input id="resetRepassword" type="password" ng-model="credentials.resetRepassword" required>
				<label for="resetRepassword">{{data.LOGIN_PASSWORD2}}</label>
			</input-container>
			<div class="align-row">
				<a class="btn btn-secondary" ng-disabled="disabled" ng-click="passwordResetMode(0)">{{data.LOGIN_CANCEL}}</a>
				<button class="btn btn-primary background-accent" ng-disabled="disabled" ng-click="passwordReset(1)">
					{{data.LOGIN_RESET}}
				</button>
			</div>
		</div>
	</form>
</whiteframe>
</body>
</html>