﻿<a class="navigation-arrow no-select left pointer" ng-if="showArrows && showScaffolding" ng-click="shiftRight()">
	<i class="material-icons" aria-hidden="true">chevron_left</i>
</a>


<div class='tab-elements' ng-style="{'width': vertical ? verticalHeight : 'auto'}"
     ng-class="showScaffolding ? 'tab-navigation' : 'tab-navigation-disabled'" ng-cloak>
	<div ng-if="showScaffolding" class="btn btn-secondary aria-detect"
	     minimal
	     tabindex="0"
	     ng-repeat="tab in tabs"
	     ng-click="onClick($event, tab)"
	     id="tabs-navigation-{{::tab.id}}"
	     ng-class="{ 'active-tab': tab.id == activeTab.id, 'has-icon': tab.icon, 'ng-hide': tab.hideTab}"
	     ng-style="{'padding': modify && move ? '0 2px' : ''}">

		<i ng-if="modify && move && tab.id != 0 && $index != firstDisableIndex" class="icon material-icons pointer left"
		   ng-click="moveOrder($index, 'prev')">chevron_left</i>

		<div style="display:inline-block" ng-style="{'padding-left' : $index == firstDisableIndex ? '10px': '', 'margin-right': $index == lastDisableIndex ? '32px' : ''}">
			{{tab.label}}
			<i ng-if="modify && tab.deleteTab && tab.id != 0" class="icon material-icons pointer remove" ng-click="delete(tab)">clear</i>
		</div>

		<div ng-if="tab.disableicon != 'true' && !modify">
			<i ng-if="tab.icon && (!tab.color || !tab.color.length)" class="icon-notification pointer">{{tab.icon}}</i>
			<i ng-if="tab.icon && tab.color != ''" ng-style="{'background-color':tab.color}"
			   class="icon-notification pointer">{{tab.icon}}</i>
		</div>


		<i ng-if="modify && move && tab.id != 0 && $index != lastDisableIndex" class="icon material-icons pointer right"
		   ng-click="moveOrder($index, 'next')">chevron_right</i>

	</div>

	<a class="create no-select pointer" ng-click="create()" ng-if="tabs.length > 0 && modify">
		<i class="material-icons" aria-hidden="true">add</i>
	</a>


	<a class="navigation-arrow no-select right pointer" ng-if="showArrows && showScaffolding && !vertical"
	   ng-click="shiftLeft()">
		<i class="material-icons" aria-hidden="true">chevron_right</i>
	</a>
</div>
<a class="navigation-arrow no-select right pointer" ng-if="showArrows && showScaffolding && vertical"
   ng-click="shiftLeft()">
	<i class="material-icons" aria-hidden="true">chevron_right</i>
</a>