<div ng-controller="DashboardChartBasicConfigController">

	<tabs modify="false" move="false" ng-if="selections.chartType" style="max-width: 800px">
		<tab label="Data Source">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>X-Axis</container-header>
					<input-smart type="select"
								 model="selections.resourceDataCommon.dateType"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadTimeOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_DATE_TYPE">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.zoom"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_X_AXIS_ZOOM">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.showCostCenters"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_RECOURSE_SHOW_COST_CENTER_FILTER">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.showCompetencies"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_RECOURSE_SHOW_COMPETENCY_FILTER">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.useCustomTimeScale"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_RESOURCE_USE_CUSTOM_TIME_SCALE">
					</input-smart>

					<div class="row" style="padding-left:8px;">
						<input-smart ng-show="selections.resourceDataCommon.useCustomTimeScale!=null && selections.resourceDataCommon.useCustomTimeScale==1"
									 type="number" label="CHART_RESOURCE_USE_CUSTOM_TIME_SCALE_BEFORE" modify="true"
									 model="selections.resourceDataCommon.timeBefore" style="width: 48%;"></input-smart>
						&nbsp;
						<input-smart type="number"
									 ng-show="selections.resourceDataCommon.useCustomTimeScale!=null && selections.resourceDataCommon.useCustomTimeScale==1"
									 label="CHART_RESOURCE_USE_CUSTOM_TIME_SCALE_AFTER" modify="true"
									 model="selections.resourceDataCommon.timeAfter" style="width: 48%;"></input-smart>
					</div>
				</div>

				<div class="col-xs-12 col-lg-6">
					<container-header>Data</container-header>
					<input-smart type="select"
								 model="selections.resourceDataCommon.showPlanned"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation" label="CHART_RESOURCE_SHOW_PLANNED">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.showActual"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_RESOURCE_SHOW_ACTUAL">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.showCapacity"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_RESOURCE_SHOW_CAPACITY">
					</input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.showLoad"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_RESOURCE_SHOW_LOAD">
					</input-smart>
				</div>
			</div>
		</tab>
		<tab label="Common">
			<div>
				<div class="row" style="padding-left:8px;width:60%">
					<input-smart type="translation" model="selections.xAxisLabel" style="width: 70%;"
								 label="DASHBOARD_CHART_X_LABEL"></input-smart>
					<input-smart type="checkbox" model="selections.showXAxisLabel" style="width: 30%;"
								 label="DASHBOARD_CHART_SHOW"></input-smart>
				</div>

				<div class="row" style="padding-left:8px;width:60%">
					<input-smart type="translation" model="selections.yAxisLabel" style="width: 70%;"
								 label="DASHBOARD_CHART_Y_LABEL"></input-smart>
					<input-smart type="checkbox" model="selections.showYAxisLabel" style="width: 30%;"
								 label="DASHBOARD_CHART_SHOW"></input-smart>
				</div>
			</div>
			<div class="row" style="width:50%">
				<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
				<table materialize>
					<tr>
						<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
						<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
					</tr>
					<tr ng-repeat="obj in filterTable track by $index">
						<td>
							<input-smart-table type="select"
											   model="filterTable[$index].name"
											   on-change="saveQuickFilters"
											   modify="true"
											   unselectable
											   watch-options="true"
											   options="filterSelectionOptions"
											   option-value="Name"
											   option-name="LanguageTranslation">
							</input-smart-table>
						</td>
						<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
					</tr>
				</table>
			</div>
		</tab>
		<tab label="Styling">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Colours & Style</container-header>

					<div class="row" style="padding-left:8px;"
						 ng-show="selections.resourceDataCommon.showPlanned!=null && selections.resourceDataCommon.showPlanned==1">
						<input-smart type="select"
									 model="selections.resourceDataCommon.plannedType"
									 modify="true"
									 watch-options="true"
									 options="resourceItemTypes"
									 option-value="value"
									 option-name="LanguageTranslation" label="CHART_RESOURCE_PLANNED_TYPE"
									 style="width: 48%;">
						</input-smart>
						&nbsp;
						<input-smart type="select"
									 unselectable
									 model="selections.resourceDataCommon.plannedColor"
									 modify="true"
									 watch-options="true"
									 options="customColor"
									 option-value="name"
									 option-name="name"
									 label="CHART_RESOURCE_PLANNED_COLOR"
									 style="width: 48%;">
						</input-smart>
					</div>

					<div class="row" style="padding-left:8px;"
						 ng-show="selections.resourceDataCommon.showActual!=null && selections.resourceDataCommon.showActual==1">
						<input-smart type="select"
									 model="selections.resourceDataCommon.actualType"
									 modify="true"
									 watch-options="true"
									 options="resourceItemTypes"
									 option-value="value"
									 option-name="LanguageTranslation"
									 label="CHART_RESOURCE_ACTUAL_TYPE"
									 style="width: 48%;">
						</input-smart>
						&nbsp;
						<input-smart type="select"
									 unselectable
									 model="selections.resourceDataCommon.actualColor"
									 modify="true"
									 watch-options="true"
									 options="customColor"
									 option-value="name"
									 option-name="name"
									 label="CHART_RESOURCE_ACTUAL_COLOR"
									 style="width: 48%;">
						</input-smart>
					</div>

					<div class="row" style="padding-left:8px;"
						 ng-show="selections.resourceDataCommon.showCapacity!=null && selections.resourceDataCommon.showCapacity==1">
						<input-smart type="select"
									 model="selections.resourceDataCommon.capacityType"
									 modify="true"
									 watch-options="true"
									 options="resourceItemTypes"
									 option-value="value"
									 option-name="LanguageTranslation"
									 label="CHART_RESOURCE_CAPACITY_TYPE"
									 style="width: 48%;">
						</input-smart>
						&nbsp;
						<input-smart type="select"
									 unselectable
									 model="selections.resourceDataCommon.capacityColor"
									 modify="true"
									 watch-options="true"
									 options="customColor"
									 option-value="name"
									 option-name="name"
									 label="CHART_RESOURCE_CAPACITY_COLOR"
									 style="width: 48%;">
						</input-smart>
					</div>

					<div class="row" style="padding-left:8px;"
						 ng-show="selections.resourceDataCommon.showLoad!=null && selections.resourceDataCommon.showLoad==1">
						<input-smart label="CHART_RESOURCE_LOAD_TYPE"
									 type="select"
									 model="selections.resourceDataCommon.loadType"
									 modify="true"
									 watch-options="true"
									 options="resourceItemTypes"
									 option-value="value"
									 option-name="LanguageTranslation"
									 style="width: 48%;">
						</input-smart>
						&nbsp;
						<input-smart type="select"
									 unselectable
									 model="selections.resourceDataCommon.loadColor"
									 modify="true"
									 watch-options="true"
									 options="customColor"
									 option-value="name"
									 option-name="name"
									 label="CHART_RESOURCE_LOAD_COLOR"
									 style="width: 48%;">
						</input-smart>
					</div>


				</div>

				<div class="col-xs-12 col-lg-6">
					<container-header>Other</container-header>
					<input-smart type="select"
								 model="selections.resourceDataCommon.showLegend"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_SHOW_LEGEND">
					</input-smart>

					<input-smart type="number" label="MULTI_LIST_CHART_PRECISION" modify="true"
								 model="selections.resourceDataCommon.precision"></input-smart>

					<input-smart type="select"
								 model="selections.resourceDataCommon.clickable"
								 modify="true"
								 watch-options="true"
								 options="resourceLoadYesNOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_CLICKABLE">
					</input-smart>
				</div>
			</div>
		</tab>
	</tabs>
</div>