﻿<dialog-content>
	<dialog-title>
		<h2 ng-bind="::title"></h2>
	</dialog-title>
	<dialog-container>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">Cancel</input-button>
	<input-button type="primary" ng-click="apply()">Apply</input-button>
</dialog-actions>
