<container-header ng-if="!deleted && (grid.HideTitle!=1 || inEdit)"
                  tooltip="{{::grid.LanguageTranslation | translateObject}}"
                  class="ellipsis"
                  aria-label="Heading {{grid.LanguageTranslation | translateObject}}"
>
	<span ng-bind="grid.LanguageTranslation | translateObject"></span>
	<input-button type="icon" ng-click="editContainer(grid)" ng-if="!deleted && inEdit">
		<i class="material-icons" aria-hidden="true" style="font-size:18px;padding-top:4px;">edit</i>
	</input-button>
</container-header>
<div class="align-column start" ng-if="!deleted && !inEdit">
	<process-field class="stretch"
	               ng-repeat="field in ::grid.fields"
	               field="field"
	               readonly-ext="readonly"
	               readonly-help="helpReadonly"
	               archive-date="::archiveDate"
	               data="data.Data"
	               on-change="fieldChange"
	               on-list-change="listFieldChange"
	               on-help-change="helpTextChange"
	               on-empty-change="emptyFieldChange"
	               lists="lists"
	               process="{{::process}}"
	               item-id="{{::itemId}}"
	               grids="grids">
	</process-field>
</div>
<div class="align-column start" ng-if="!deleted && inEdit">
	<table-container style="max-width:800px;">
		<table materialize>
			<thead>
			<tr>
				<th class="icon"></th>
				<th>Field</th>
				<th style="width:200px">Data Type</th>
				<th class="icon"></th>
				<th class="icon"></th>
				<th class="icon">
					<input-button type="icon"
					              ng-click="addField(grid);">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
			</thead>
			<tbody sortable on-sort="orderField" parent="grid.Id" handler=".up-down-button">
			<tr ng-repeat="field in grid.fields" sort="field">
				<td class="icon">
					<input-button type="icon" class="up-down-button" no-waves>
						<i class="material-icons" aria-hidden="true">reorder</i>
					</input-button>
				</td>
				<td>{{field.ItemColumn.LanguageTranslation | translateObject}}</td>
				<td>{{TranslateDataType(field.ItemColumn)}}</td>
				<td class="icon">
					<input-button type="icon" ng-click="editValidation(grid, field)">
						<i class="material-icons" aria-hidden="true">check_circle</i>
					</input-button>
				</td> 
				<td class="icon">
					<input-button type="icon"
					              ng-click="editProperties(grid, field)"
					              align="center">
						<i class="material-icons" aria-hidden="true">settings</i>
					</input-button>
				</td>
				<td class="icon">
					<input-button
							ng-click="removeField(grid, field)"
							type="icon">
						<i class="material-icons" aria-hidden="true">delete</i>
					</input-button>
				</td>
			</tr>
			<tr ng-if="grid.fields.length == 0">
				<td colspan="3" class="italic align-center" translate="PORTFOLIO_INPUT_EMPTY"></td>
			</tr>
			</tbody>
		</table>
	</table-container>
</div>