<div ng-controller="DashboardChartBasicConfigController">
	<tabs modify="true" move="false" create-function="addCircular()" ng-if="selections.chartType" style="max-width: 800px">
		<tab entity="1001" label="Common">
			<div class="row" style="width:50%">
				<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
				<table materialize>
					<tr>
						<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
						<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
					</tr>
					<tr ng-repeat="obj in filterTable track by $index">
						<td>
							<input-smart-table type="select"
											   model="filterTable[$index].name"
											   on-change="saveQuickFilters"
											   modify="true"
											   unselectable
											   watch-options="true"
											   options="filterSelectionOptions"
											   option-value="Name"
											   option-name="LanguageTranslation">
							</input-smart-table>
						</td>
						<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
					</tr>
				</table>
			</div>
				</tab>
				<tab ng-repeat="x in selections.circularData track by $index" delete-tab="deleteCircular" label="Data Source {{$index + 1}}" entity="{{$index}}">
					<input-smart type="translation" model="selections.circularData[$index].title"
								 label="CHART_TITLE"></input-smart>
					<input-smart type="select"
								 model="selections.circularData[$index].value1"
								 modify="true"
								 options="circularValueOptions"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_CIRCULAR_VALUE1">
					</input-smart>
					<input-smart type="select"
								 model="selections.circularData[$index].value2"
								 modify="true"
								 unselectable
								 options="circularValueOptions"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_CIRCULAR_VALUE2">
					</input-smart>
					<input-smart type="select"
								 model="selections.circularData[$index].aggregateType"
								 modify="true"
								 watch-options="true"
								 options="aggregateTypes"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_TYPE">
					</input-smart>
					<input-smart modify="true"
								 model="selections.circularData[$index].decimals"
								 label="CHART_MIXED_NUMBER_OF_DECIMALS">
					</input-smart>
					<input-smart type="translation" model="selections.circularData[$index].suffix"
								 label="CHART_CIRCULAR_SUFFIX"></input-smart>
					<input-smart type="select"
								 model="selections.circularData[$index].ignoreNulls"
								 modify="true"
								 watch-options="true"
								 options="tableOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_IGNORE_NULLS">
					</input-smart>
					<input-smart type="select"
								 model="selections.circularData[$index].ignoreZeros"
								 modify="true"
								 watch-options="true"
								 options="tableOptions"
								 option-value="Value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_IGNORE_ZEROS">
					</input-smart>
				</tab>
	</tabs>
</div>
