<div class="flex align-row">
	<div class="flex align-row start">
		<input-button ng-click="deleteList()" ng-if="adminPage" modify="selectedRows.length > 0"><div translate="DELETE"></div></input-button>
		<input-button ng-click="addList()" ng-if="adminPage"><div translate="ADD_LIST"></div></input-button>
	</div>
	<div class="flex align-row end">
		<input-smart placeholder="LIST_TEXT_FILTER" minimal type="string" modify="true" model="$parent.textFilter" on-change="filterLists" style="width: 256px"></input-smart>
		&nbsp;&nbsp;&nbsp;
		<input-smart placeholder="LIST_LIST_FILTER" minimal type="select" unselectable single-value="true" modify="true" model="$parent.selectedFilter" on-change="filterLists" options="processOptions" style="width: 256px" option-value="value" option-name="name"></input-smart>
	</div>
</div>