<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">
			{{::'ADD_LIST_COLUMN' | translate}} {{::title}}
		</h2>
	</dialog-title>
	<dialog-container>
		<input-smart type="translation"
					 model="newColumn.LanguageTranslationRaw"
					 modify="true"
					 required-field="true"
					 label="{{::'MATRIX_COLUMN_NAME' | translate}}">
		</input-smart>
		<input-smart
					 type="select"
					 options="dataTypes"
					 model="newColumn.DataType"
					 modify="true"
					 required-field="true"
					 single-value="true"
					 label="{{::'SELECT_DATATYPE' | translate}}">
		</input-smart>
		<input-smart type="select"
					 options="processes"
					 ng-show="newColumn.DataType == 5"
					 model="newColumn.DataAdditionalProcess"
					 option-name="ProcessName"
					 option-value="ProcessName"
					 modify="true"
					 required-field="true"
					 single-value="true"
					 label="{{::'SELECT_PROCESS' | translate}}">
		</input-smart>
		<input-smart type="select"
					 options="lists"
					 ng-show="newColumn.DataType == 6"
					 model="newColumn.DataAdditionalList"
					 option-name="ProcessName"
					 option-value="ProcessName"
					 modify="true"
					 required-field="true"
					 single-value="true"
					 label="{{::'SELECT_LIST' | translate}}">
		</input-smart>
		<input-smart type="integer"
					 model="newColumn.Max"
					 ng-show="newColumn.DataType == 5 || newColumn.DataType == 6"
					 modify="true"
					 required-field="true"
					 min="0"
					 label="{{::'ADD_LIST_COLUMN_MAX' | translate}}">
		</input-smart>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button id="x" type="primary" ng-click="newListColumnSave()">
		{{::'SAVE' | translate}}
	</input-button>
</dialog-actions>