<div class="flex align-row">
	<div class="flex align-row start" ng-if="RightWrite">
		<input-button ng-click="deleteItems()" ng-if="adminPage" modify="selectedRows.length > 0"><div translate="DELETE"></div></input-button>
		<input-button ng-click="addListItem()" modify="addAllowed"><div translate="ADD_LIST_ITEM"></div></input-button>
		<input-button ng-click="addListColumn()" ng-if="adminPage"><div translate="ADD_LIST_COLUMN"></div></input-button>
	</div>
	<div class="flex align-row end" ng-if="RightWrite">
		<input-smart type="checkbox"
		             minimal="minimal"
		             option-true="1"
		             option-false="0"
		             label="USE_LIST_TONGUEABILITY"
		             ng-show="adminMode"
		             model="multi"
		             on-change="createLanguageColumns"
					 on-change-parameters="multi">
		</input-smart>
		&nbsp;&nbsp;
		<input-smart type="checkbox"
		             minimal="minimal"
		             option-true="1"
		             option-false="0"
		             label="HIDE_SYMBOLS"
		             on-change="toggleIconColumns"
		             model="showSymbol"
		             on-change-parameters="showSymbol">
		</input-smart>
		&nbsp;&nbsp;
		<input-smart type="checkbox"
		             minimal="minimal"
		             option-true="1"
		             option-false="0"
		             label="LIST_USER_GROUPS"
		             on-change="toggleUserGroups"
		             model="showUserGroups"
		             on-change-parameters="showUserGroups">
		</input-smart>
	</div>
</div>