﻿<tabs control="listEditTabs" hide-if-single-tab="true">
    <tab entity="{{tab.value}}" ng-repeat="tab in listViews" label="{{tab.name}}" on-click="pickView">
        <div id="{{tab.viewName}}"></div>
    </tab>
</tabs>