﻿<table materialize table-selected-rows="selectedRows"> 
		<thead>
		<tr>
			<th></th>
			<th style="width: 350px">
				{{::"LIST_NAME" | translate}}
			</th>
			<th style="width: 250px">
				{{::"LIST_PROCESSES" | translate}}
			</th>
			<th>
				{{::"ORDER_BY_COLUMN" | translate}}
			</th>
			<th ng-if="adminPage == true">
				{{::"LIST_TYPE" | translate}}
			</th>
			<th ng-if="adminPage == true">
				{{::"PORTFOLIO_SHOW_TYPE" | translate}}
			</th>
			<th ng-if="adminPage == true" style="width: 100px; min-width: 100px">
				{{::"SELECTOR" | translate}}
			</th>
			<th ng-if="adminPage == true" style="width: 100px">
				{{::"LIST_TYPE" | translate}}
			</th>
			<th style="width: 100px">
				{{::"LIST_COMPARE" | translate}}
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="list in filteredLists"
		    table-select-row="{'index': $index, 'id': list.ProcessName, ListProcesses: list.ListProcesses}"
		    ng-class="{ 'background-accent': $index == selectedIndex }">
			<td class="icon">
				<input-button type="icon" ng-click="editList(list.Process, $index);">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td ng-if="list.Process.isSublist" ng-style="{'padding-left': list.Level * 24 + 'px'}">
				<input-smart-table type="translation"
				                   model="list.Process.LanguageTranslation"
				                   modify="RightWrite"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list }">
				</input-smart-table>

			</td>
			<td ng-if="!list.Process.isSublist">
				<input-smart-table type="translation"
				                   model="list.Process.LanguageTranslation"
				                   modify="RightWrite"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list }">
				</input-smart-table>
			</td>
			<td>
				{{list.Process.ListProcesses}}
			</td>
			<td>
				<input-smart-table type="select"
				                   model="list.Process.ListOrder"
				                   modify="RightWrite"
				                   options="orderBys[list.Process.ProcessName]"
				                   option-name="LanguageTranslation"
				                   option-value="Name"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list}"
				                   single-value="true">
				</input-smart-table>
			</td>
			<td ng-if="adminPage == true">
				<input-smart-table type="select"
				                   model="list.Process.ProcessType"
				                   modify="RightWrite"
				                   options="listTypes"
				                   option-name="name"
				                   option-value="value"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list }"
				                   single-value="true">
				</input-smart-table>
			</td>
			<td ng-if="adminPage == true">
				<input-smart-table type="select"
				                   model="list.Process.PortfolioShowType"
				                   modify="RightWrite"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list }"
				                   option-value="value"
				                   option-name="name"
				                   options="showTypeOptions"
				                   single-value="true">
				</input-smart-table>
			</td>
			<td ng-if="adminPage == true" class="row">
				<div class="col">
					<input-smart-table type="checkbox"
					                   model="list.Process.Selector"
					                   modify="RightWrite"
					                   on-change="setAsSelector"
					                   on-change-parameters="list.Process.Variable">
					</input-smart-table>
				</div>
				<div class="col">
					<input-button ng-if="adminPage == true && list.Process.Selector" type="icon"
					              ng-click="selectorColumns(list.Process.ProcessName, list.Process.ProcessPortfolioId)"
					              style="padding-top: 9px;">
						<i class="material-icons" aria-hidden="true">launch</i>
					</input-button>
				</div>
			</td>
			<!--<td ng-if="adminPage == true && !list.Process.Selector"></td>-->
			<td ng-if="adminPage == true">
				<input-smart-table type="select"
				                   model="list.Process.ListType"
				                   modify="RightWrite"
				                   options="listOptions"
				                   option-value="item_id"
				                   option-name="list_item"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list }"
				                   single-value="true">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table type="select"
				                   model="list.Process.Compare"
				                   modify="RightWrite && adminPage == true"
				                   options="compareOptions"
				                   option-value="value"
				                   option-name="name"
				                   on-change="changeValue"
				                   on-change-parameters="{'index': $index, 'List': list }"
				                   single-value="true">
				</input-smart-table>
			</td>
		</tr>
		</tbody>
	</table>