﻿<table materialize>
	<thead>
		<tr>
			<th class="icon"></th>
			<th>{{::'SUBLIST' | translate}}</th>
			<th class="icon">
				<input-button type="icon" ng-click="addSubList();">
					<i class="material-icons" aria-hidden="true">add</i>
				</input-button>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="sublist in currentSublists">
			<td class="icon">
				<input-button type="icon" ng-click="editList(sublist, $index);">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>
				{{sublist.LanguageTranslation[myLanguage]}}
			</td>
			<td></td>
		</tr>
		<tr ng-if="currentSublists.length == 0">
			<td colspan="5" class="align-center">
				{{'NO_SUBLISTS' | translate}}
			</td>
		</tr>
	</tbody>
</table>