﻿<div ng-if="hasParentList" style="margin-bottom: 48px;padding: 0 0 0 38px">
	<div class="row">
		<div class="col" style="width:256px;margin-right:10px;" ng-repeat="parentProcess in parents | orderBy:'-'">
			<input-smart type="select"
						 model="selectedParents[parentProcess.ProcessName]"
						 options="parentCollection[parentProcess.ProcessName]"
						 option-name="{{parentOptionName}}"
						 option-value="item_id"
						 on-change="changeParentProcess"
						 ng-if="parentCollection[parentProcess.ProcessName].length > 0"
						 watch-options="true"
						 ignore-user-groups="true"
						 on-change-parameters="parentProcess.ProcessName"
						 label="{{parentProcess.ProcessName}}">
			</input-smart>
		</div>
		<div class="col" style="width:256px;margin-right:10px;" ng-if="recursive && itemsRecursive.length > 0">
			<input-smart
					type="select"
					options="itemsRecursive"
					option-name="list_item"
					option-value="item_id"
					option-inuse-all="true"
					label="SELECT_PARENT_ITEM"
					model="$parent.selectedParentListItem"
					restrictions="{'leafOnly': false}"
					single-value="true"
					on-change="getRecursiveSubItems($parent.selectedParentListItem)"
					watch-options="true">
			</input-smart>
		</div>
	</div>
</div>

<div class="col" style="width:256px;margin-right:10px;" ng-if="recursive && isSublist != true">
	<input-smart
			type="select"
			modify="RightWrite"
			options="itemsRecursive"
			option-name="list_item"
			option-value="item_id"
			option-inuse-all="true"
			label="SELECT_PARENT_ITEM"
			model="$parent.selectedParentListItem"
			restrictions="{'leafOnly': false}"
			single-value="true"
			on-change="getRecursiveSubItems($parent.selectedParentListItem)"
			watch-options="true">
	</input-smart>
</div>

<div style="width:100%; overflow-y: auto;" ng-style="{'height': windowHeight}"> 
	<table materialize table-selected-rows="selectedRows" class="nohighlight">
		<thead>
		<tr>
			<th ng-if="orderable == 'order_no'"></th>
			<th ng-repeat="defaultColumn in defaultColumns">
				<div class="row" ng-style="{ 'justify-content': isNumberCol(defaultColumn) ? 'start':'end'}">
					<div class="col">
						<span style="line-height: 40px;" ng-bind="::getTrans(defaultColumn.LanguageTranslationRaw)"></span>
					</div>
					<div class="col">
						<input-button type="icon" ng-if="RightWrite && adminMode" ng-click="editListColumn(defaultColumn)">
							<i class="material-icons" aria-hidden="true">edit</i>
						</input-button>
					</div>
				</div>
			</th>
			<th ng-if="listColumn.Name != 'parent_item_id' && listColumn.Name != 'system_item'"
				ng-repeat="listColumn in listColumns">
				<div class="row" style="justify-content: start;">
					<div class="col">
						<span style="line-height: 40px;" ng-bind="::getTrans(listColumn.LanguageTranslationRaw)"></span>
					</div>
					<div class="col">
						<input-button type="icon" ng-if="RightWrite && adminMode" ng-click="editListColumn(listColumn)">
							<i class="material-icons" aria-hidden="true">edit</i>
						</input-button>
					</div>
				</div>
			</th>
			<th ng-repeat="lastColumn in lastColumns">
				<div class="row" ng-style="{ 'justify-content': isNumberCol(lastColumn) ? 'start':'end'}">
					<div class="col">
						<span style="line-height: 40px;" ng-bind="::getTrans(lastColumn.LanguageTranslationRaw)"></span>
					</div>
					<div class="col">
						<input-button type="icon" ng-if="RightWrite && adminMode" ng-click="editListColumn(lastColumn)">
							<i class="material-icons" aria-hidden="true">edit</i>
						</input-button>
					</div>
				</div>
			</th>
		</tr>
		</thead>
		<tbody sortable handler=".up-down-button" on-sort="syncOrder">
		<tr sort="item" ng-repeat="item in listItems" modify="item.system_item != 1" table-select-row="{'id': item.item_id}"
			ng-if="listItems.length > 0">
			<td class="icon" ng-if="orderable == 'order_no'">
				<input-button ng-if="orderable == 'order_no'" type="icon" no-waves class="up-down-button">
					<i class="material-icons" aria-hidden="true">reorder</i>
				</input-button>
			</td>
			<td ng-repeat="defaultC in defaultColumns" style="min-width:120px;" ng-style="{width: defaultC.Name == 'in_use' ? '140px':''}">
				<div ng-switch="defaultC.Name">
					<div ng-switch-when="list_item">
						<input-smart-table type="string"
										   modify="RightWrite"
										   model="item.list_item"
										   on-change="modifyItems"
										   on-change-parameters="{'index': $index, 'ListItem': item }">
						</input-smart-table>
					</div>
					<div ng-switch-when="list_symbol">
						<input-smart-table type="select"
										   modify="item.system_item != 1 && RightWrite"
										   model="$parent.item[defaultC.Name]"
										   parent="ParentItemId"
										   self="ItemId"
										   option-icon="Icon"
										   option-name="Variable"
										   option-value="Icon"
										   single-value="true"
										   options="symbols"
										   on-change="modifyItems"
										   on-change-parameters="{'ListItem': item }"
										   unselectable="null"
										   watch-options="true">
						</input-smart-table>
					</div>
					<div ng-switch-when="list_symbol_fill">
						<input-smart-table type="select"
										   modify="item.system_item != 1 && RightWrite"
										   model="item.list_symbol_fill"
										   single-value="true"
										   options="symbolColors"
										   option-value="name"
						                   option-color="name"
						                   option-icon="symbol"
										   on-change="modifyItems"
										   on-change-parameters="{'ListItem': item }"
										   unselectable="null">
						</input-smart-table>
					</div>
					<div ng-switch-when="user_group">
						<input-smart-table type="process"
										   modify="item.system_item != 1 && RightWrite"
										   model="item.user_group"
										   process="user_group"
										   on-change="modifyItems"
										   on-change-parameters="{'ListItem': item }"
										   preload="true"
										   portfolio-id="{{ugSelector}}">
						</input-smart-table>
					</div>
					<div ng-switch-default>
						<input-smart-table type="string"
										   model="item[defaultC.Name]"
										   modify="(defaultC.Name != 'system_item') && RightWrite"
										   on-change="modifyItems"
										   on-change-parameters="{'ListItem': item}">
						</input-smart-table>
					</div>
				</div>
			</td>
			<td ng-repeat="columnCell in listColumns" modify="columnCell.Name != 'system_item'"
				ng-if="columnCell.Name != 'parent_item_id' && columnCell.Name != 'system_item'">
				<div ng-if="columnCell.DataType == 0">
					<input-smart-table type="string"
									   model="item[columnCell.Name]"
									   modify="columnCell.Name != 'system_item' && RightWrite"
									   on-change="modifyItems"
									   on-change-parameters="{'ListItem': item}">
					</input-smart-table>
				</div>
				<div ng-if="columnCell.DataType == 1">
					<input-smart-table type="1"
									   model="item[columnCell.Name]"
									   modify="columnCell.Name != 'system_item' && RightWrite"
									   on-change="modifyItems"
									   on-change-parameters="{'ListItem': item}">
					</input-smart-table>
				</div>
				<div ng-if="columnCell.DataType == 2">
					<input-smart-table type="decimal"
									   model="item[columnCell.Name]"
									   modify="columnCell.Name != 'system_item' && RightWrite"
									   on-change="modifyItems"
									   precision="4"
									   on-change-parameters="{'ListItem': item}">
					</input-smart-table>
				</div>
				<div ng-if="columnCell.DataType == 3">
					<input-smart-table type="date"
									   model="item[columnCell.Name]"
									   modify="columnCell.Name != 'system_item' && RightWrite"
									   on-change="modifyItems"
									   on-change-parameters="{'ListItem': item}">
					</input-smart-table>
				</div>
				<div ng-if="columnCell.DataType == 4">
					<input-smart-table type="text"
									   model="item[columnCell.Name]"
									   modify="columnCell.Name != 'system_item' && RightWrite"
									   on-change="modifyItems"
									   on-change-parameters="{'ListItem': item}">
					</input-smart-table>
				</div>
				<div ng-if="columnCell.DataType == 5">
					<input-smart-table type="process"
									   parent="{{::item.item_id}}"
									   link-process="{{::columnCell.LinkProcess}}"
									   modify="RightWrite"
									   parent-process="{{::process}}"
									   process="{{::columnCell.DataAdditional}}"
									   item-column-id="{{::columnCell.ItemColumnId}}"
									   label="{{::columnCell.LanguageTranslation}}"
									   model="processesData[item.item_id][columnCell.ItemColumnId]"
									   on-change="processChange"
									   on-change-parameters="{'item': item, 'itemColumn': columnCell}"
									   max="{{::columnCell.Validation.Max}}">
					</input-smart-table>
				</div>
				<div ng-if="columnCell.DataType == 6">
					<input-smart-table type="select"
									   modify="RightWrite"
									   options="listColumnItems[columnCell.DataAdditional]"
									   option-name="list_item"
									   option-value="item_id"
									   watch-options="true"
									   label="{{::columnCell.LanguageTranslation}}"
									   model="processesData[item.item_id][columnCell.ItemColumnId]"
									   on-change="processChange"
									   on-change-parameters="{'item': item, 'itemColumn': columnCell}"
									   max="{{::columnCell.Validation.Max}}">
					</input-smart-table>
				</div>
			</td>
			<td ng-repeat="lastC in lastColumns" ng-style="{width: lastC.Name == 'in_use' ? '140px':''}">
				<div ng-switch="lastC.Name">
					<div ng-switch-when="in_use">
						<input-smart-table type="select"
										   modify="item.system_item != 1 && RightWrite"
										   model="item.in_use"
										   single-value="true"
										   options="inUseOptions"
										   option-value="value"
										   option-name="name"
										   on-change="modifyItems"
										   on-change-parameters="{'ListItem': item }"
										   unselectable="null">
						</input-smart-table>
					</div>
				</div>
			</td>
		</tr>
		<tr ng-if="listItems.length == 0">
			<td colspan="26" class="align-center">{{'NO_LIST_ITEMS_ADDED' | translate}}</td>
		</tr>
		</tbody>
	</table>
</div>