<span ng-bind="::'ROWS_PER_PAGE' | translate"></span>

<input-smart class="smart-table"
			 type="select"
			 options="[{value: 10}, {value: 25}, {value: 50}, {value: 100}]"
			 option-name="value"
			 single-value
			 manual-save
			 model="pageSize"
			 minimal
             label="{{::'ROWS_PER_PAGE' | translate}}"
			 on-change="pageSizeChange">
</input-smart>
<span class="count">
	{{startRange}} - {{endRange}} / {{max}}
</span>

<input-button type="icon" modify="hasPreviousPage" ng-click="previousPage()" tooltip="PAGER_PREVIOUS_PAGE">
	<i class="material-icons" aria-hidden="true">chevron_left</i>
</input-button>
<input-button type="icon" class="next-page" modify="hasNextPage" ng-click="nextPage()" tooltip="PAGER_NEXT_PAGE">
	<i class="material-icons" aria-hidden="true">chevron_right</i>
</input-button>
<span id="to_first_page" ng-click="pageSizeChange()"></span>