﻿<div class="widget-bulletins">
	<div class="bulletin" ng-repeat="bulletin in bulletins">
		<div class="align-row">
			<div class="align-item-start bulletin-info">
				<div class="body-1 ellipsis" ng-bind="::bulletin.$sender"></div>
				<div class="body-2 ellipsis" ng-bind="::bulletin[columns.modified] | date"></div>
			</div>
			<divider class="vertical"></divider>
			<div class="stretch bulletin-content">
				<h1 class="h5" ng-bind="::bulletin[columns.title] | translateObject"></h1>
				<div class="rich-container" ng-bind-html="bulletin.$body"></div>
			</div>
		</div>
	</div>
	<div style="text-align: center">
		<input-button minimal ng-if="bulletins.length > 0 && bulletinsLeft" ng-click="loadMore()">
	        <span>
	            {{::'LOAD_MORE_BULLETINS' | translate}} ({{bulletinsLeft}})
	        </span>
		</input-button>
		<div ng-if="bulletins.length == 0">
			<span ng-hide="bulletinsLeft" ng-bind="::'NO_MORE_BULLETINS' | translate"></span>
		</div>
	</div>
</div>