<div class="backdrop align-column" ng-show="loading">
	<loader class="contrast"></loader>
</div>
<h1 class="h5" ng-bind="::label" ng-if="::label"></h1>
<row-manager rows="portfolioRows"
			 portfolio-id="{{::portfolioId}}"
			 options="options"
			 rules="rules"
			 ng-if="!loading"
			 portfolio-columns="portfolioColumns"
			 refresh-calculations="true"
			 new-item="newItem">
	<row-template type="addrow">
		<table>
			<tbody>
			<tr class="addrow">
				<td colspan="100%" class="italic"> 
					{{::'LITE_NEW_ROW' | translate}}&nbsp;<span class="buttonArea"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="empty">
		<table>
			<tbody>
			<tr class="empty">
				<td colspan="100%" class="italic">
					<span translate="LAYOUT_NO_RESULTS"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="header">
		<table>
			<tbody>
			<tr class="rowmanager-header">
				<th ng-repeat="col in portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</th>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="default">
		<table>
			<tbody>
			<tr class="type1 aria-detect" tabindex="0">
				<td ng-repeat="col in portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</row-manager>
<loader class="contrast small" style="top: -20px;left: 26px;" ng-if="addingRow"></loader>