﻿<style>
    .classification-cell {
        padding-top: 13px !important;
        vertical-align: top !important;
        font-size: 13px !important;
        line-height: 1.3;
    }

    .classification-cell label {
        font-size: 13px !important;
    }

    .classification-cell input-container {
        padding-top: 0;
    }

    tr:hover {
        background-color: white !important;
    }
</style>
<table-container id="businesscase3">
	<table materialize>
		<thead>
		<tr>
			<th style="width:15%">{{::'BUSINESS_CASE_3_1_P' | translate}}</th>
			<th>{{::'BUSINESS_CASE_3_2_DOTCOACARP' | translate}}</th>
			<th style="width:7%; text-align: left">A</th>
			<th style="width:7%; text-align: left">B</th>
			<th style="width:7%; text-align: left">C</th>
			<th style="width:25%">{{::'WT_COMMENTS' | translate}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="question in QuestionData">
			<td class="classification-cell">{{::question.name}}</td>
			<td class="classification-cell" style="padding-top: 3px!important;">
				<input-smart modify="writeRight" ng-repeat="check in question.checks" type="checkbox" minimal on-change="setChanged"
							 on-change-parameters="check" model="check.value" label="{{check.name}}"></input-smart>
			</td>
			<td class="classification-cell">
				<input-smart type="radio" modify="writeRight" model="question.choice" on-change="setChanged" on-change-parameters="question"
							 options="[{value: question.choice1, name: question.choice1_label}]"
							 group="{{::question.id}}"></input-smart>
			</td>
			<td class="classification-cell">
				<input-smart type="radio" modify="writeRight" model="question.choice" on-change="setChanged" on-change-parameters="question"
							 options="[{value: question.choice2, name: question.choice2_label}]"
							 group="{{::question.id}}"></input-smart>
			</td>
			<td class="classification-cell">
				<input-smart type="radio" modify="writeRight" model="question.choice" on-change="setChanged" on-change-parameters="question"
							 options="[{value: question.choice3, name: question.choice3_label}]"
							 group="{{::question.id}}"></input-smart>
			</td>
			<td class="classification-cell">
				<input-smart-table type="text" model="question.comments" modify="writeRight" on-change="setChanged"
								   on-change-parameters="question" group="{{::question.id}}"></input-smart-table>
			</td>
		</tr>
		<tr style="background-color:rgb(172, 112, 172) !important;">
			<td style="color: white">
				{{::'BUSINESS_CASE_3_6_NOSPMC' | translate}}
			</td>
			<td style="color: white">
			</td>
			<td style="color: white">
				{{question_A}}
			</td>
			<td style="color: white">
				{{question_B}}
			</td>
			<td style="color: white">
				{{question_C}}
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</table-container>
<div ng-if="hasAttachedColumn">
	{{columnTitle}}
	<process-field field="selectedColumn"
				   readonly-help="true"
				   readonly-ext="!writeRight"
				   process="{{::process}}"
				   data="data"
				   on-list-change="dataChanged()"
				   on-change="dataChanged()"
				   lists="listItems"
				   opener-item-id="openerItemId">
	</process-field>
</div>
<div ng-if="hasAttachedColumn2">
	{{columnTitle2}}
	<process-field field="selectedColumn2"
				   readonly-help="true"
				   readonly-ext="!writeRight"
				   process="{{::process}}"
				   data="data"
				   on-list-change="dataChanged()"
				   on-change="dataChanged()"
				   lists="listItems"
				   opener-item-id="openerItemId">
	</process-field>
</div>
<div ng-if="hasAttachedColumn3">
	{{columnTitle3}}
	<process-field field="selectedColumn3"
				   readonly-help="true"
				   readonly-ext="!writeRight"
				   process="{{::process}}"
				   data="data"
				   on-list-change="dataChanged()"
				   on-change="dataChanged()"
				   lists="listItems"
				   opener-item-id="openerItemId">
	</process-field>
</div>