<div class="row" style="max-width: 1920px;">
	<div class="col-xs-12">
		<div class="box">
            <div class="btn"> <span translate="YEAR"></span> </div>
			<input-button type="icon" ng-click="changeYear('-')" modify="allowYearChange" tooltip="ALLOCATION_PREV_YEAR"><i class="material-icons" aria-hidden="true">chevron_left</i></input-button>
			<div class="btn"> <span>{{year}}</span> </div>
			<input-button type="icon" ng-click="changeYear('+')" modify="allowYearChange" tooltip="ALLOCATION_NEXT_YEAR"><i class="material-icons" aria-hidden="true">chevron_right</i></input-button>

            <div class="btn" ng-if="dateMode == 1"> <span translate="QUARTER"></span> </div>
            <input-button ng-if="dateMode == 1" type="icon" ng-click="changeQuarter('-')" modify="allowYearChange" tooltip="ALLOCATION_PREV_QUARTAL"><i class="material-icons" aria-hidden="true">chevron_left</i></input-button>
            <div class="btn" ng-if="dateMode == 1"> <span>{{quarter}}</span> </div>
            <input-button ng-if="dateMode == 1" type="icon" ng-click="changeQuarter('+')" modify="allowYearChange" tooltip="ALLOCATION_NEXT_QUARTAL"><i class="material-icons" aria-hidden="true">chevron_right</i></input-button>
        </div>
	</div>
</div>
<div style="max-width: 1920px;">
	<table materialize>
		<thead>
			<tr>
                <th class="icon">
                    <input-smart-table type="checkbox" model="selectedRowsAll" on-change="selectAllRows" />
                </th>
                <th style="min-width: {{titleWidth}}px; width: {{titleWidth}}px; max-width: {{titleWidth}}px;">{{'ALLOCATION_TITLE' | translate}}</th>
				<th ng-if="usermode == 0 || usermode == 2" style="min-width: {{competencyWidth}}px; width: {{competencyWidth}}px; max-width: {{competencyWidth}}px;">{{'ALLOCATION_COMPETENCY' | translate}}</th>
                <th ng-if="usermode == 1 || usermode == 2" style="min-width: {{competencyWidth}}px; width: {{competencyWidth}}px; max-width: {{competencyWidth}}px;">{{'ALLOCATION_USER' | translate}}</th>
                <th ng-if="workCategories.length > 0" style="min-width: {{workCategoryWidth}}px; width: {{workCategoryWidth}}px; max-width: {{workCategoryWidth}}px;">{{'WORK_CATEGORY' | translate}}</th>
				<th ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px !important;" class="align-right">
					{{value}}
				</th>
				<th ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_YEAR' | translate}}</th>
                <th ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}</th>
            </tr>
		</thead>
        <tbody>
            <tr ng-repeat="row in rows[year]">
                <td class="icon">
                    <input-smart-table type="checkbox" model="selectedRows[row.item_id]" />
                </td>
                <td>
                    <input-smart-table type="string" modify="true" model="row.title" on-change="changeAllocation" on-change-parameters="row" />
                </td>
                <td ng-if="usermode == 0">
                    <input-smart-table type="process" process="competency" modify="true" model="row.resource_item_id" single-value="true" min="1" max="1" on-change="changeAllocation" on-change-parameters="row" />
                </td>
                <td ng-if="usermode == 1">
                    <input-smart-table type="process" process="user" modify="true" model="row.resource_item_id" single-value="true" min="1" max="1" on-change="changeAllocation" on-change-parameters="row" />
                </td>
                <td ng-if="workCategories.length > 0">
                    <input-smart-table type="select" model="row.work_category_item_id" label="Work Category" on-change="changeAllocation" on-change-parameters="row" options="workCategories" single-value="true" option-value="item_id" option-name="list_item" unselectable />
                </td>
                <td ng-repeat="(key, value) in months" class="align-right">
                    <input-smart-table type="decimal" modify="workingDaysInMonth[row.user_item_id][year][value]>0&&value>lock_month" model="row['month'][value]" min="0" align="right" on-change="calculateMonthTotal" on-change-parameters="{ item_id: row.item_id, months: row.month, user_item_id: row.user_item_id, year: year }" style="min-width: 60px; width: 60px; max-width: 60px;" />
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(totals['item'][year][row.item_id])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['itemYearTotals'][row.item_id])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['itemTotals'][row.item_id])}}</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}:</td>
                <td ng-if="workCategories.length > 0"></td>
                <td></td>
                <td ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px;" class="align-right">
                    <b>{{formatNumber(totals['total'][year][value])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(totals['total'][year]['total'])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['itemYearTotals'][0])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['itemTotals'][0])}}</b>
                </td>
            </tr>
        </tbody>
	</table>

    <table ng-if="ShowWorkCategoryTotals && workCategories.length > 0" materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th style="min-width: {{titleWidth}}px; width: {{titleWidth}}px; max-width: {{titleWidth}}px;">{{'WORK_CATEGORY' | translate}} {{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}</th>
                <th style="min-width: {{competencyWidth}}px; width: {{competencyWidth}}px; max-width: {{competencyWidth}}px;"></th>
                <th style="min-width: {{workCategoryWidth}}px; width: {{workCategoryWidth}}px; max-width: {{workCategoryWidth}}px;"></th>
                <th ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px !important;" class="align-right">
                    {{value}}
                </th>
                <th ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_YEAR' | translate}}</th>
                <th ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workCategory in workCategoriesSelected">
                <td></td>
                <td>{{workCategoriesDict[workCategory].list_item}}</td>
                <td></td>
                <td></td>
                <td ng-repeat="(key, value) in months" class="align-right">
                    {{workCategoryTotals2[workCategory][value]}}
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(workCategoryTotals[workCategory])}}</bng-if="dateMode>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['categoryYearTotals'][workCategory])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['categoryTotals'][workCategory])}}</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}:</td>
                <td></td>
                <td></td>
                <td ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px;" class="align-right">
                    <b>{{formatNumber(totals['total2'][year][value])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(totals['total2'][year]['total'])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['categoryYearTotals'][0])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['categoryTotals'][0])}}</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>