﻿<div class="stretch align-left">
    <input-button type="primary" ng-if="hasSelectedRows()" ng-click="deleteAllocation()" translate="ALLOCATION_SIMPLE_DELETE"></input-button>
    <input-button type="primary" ng-if="hasSelectedRows() && allowMove == 1" ng-click="moveAllocation()" translate="ALLOCATION_SIMPLE_MOVE"></input-button>
</div>