﻿<div class="flex align-row end">
	<div>Filter&nbsp;&nbsp;</div>
	<input-smart type="select"
	             manual-save
	             model="$parent.selectedProcess"
	             label="Process"
	             options="processes"
	             option-value="ProcessName"
	             option-name="Variable"
	             single-value
	             minimal="minimal"
	             on-change="processChanged"
	             style="width:200px"
	             unselectable="true"
	>
	</input-smart>
</div>