﻿<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">Review Records Restored</h2>
	</dialog-title>
	<dialog-container>
		The following records, would be restored by this action.
		<div class="align-row">
			<table materialize>
				<thead>
				<tr>
					<th style="width:80px">Item Id</th>
					<th style="width:120px">Process</th>
					<th>Identifier</th>
					<th class="icon">State</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="r in items" tooltip="{{lastChange(r)}}">
					<td>{{::r.ItemId}}</td>
					<td>{{::r.Process | translate}}</td>
					<td>{{::r.Identifier}} <span style="font-size:10px;" ng-if="r.Error"><br>{{r.ErrorMessage}}</span></td>
					<td class="icon" ng-if="!simulated && !r.Error"><i class="material-icons" style="color: rgb(255, 193, 7);" aria-hidden="true" >help</i></td>
					<td class="icon" ng-if="!r.Error && simulated"><i class="material-icons" style="color: rgb(76, 175, 80);" aria-hidden="true" >check_circle</i></td>
					<td class="icon" ng-if="r.Error"><i class="material-icons" style="color: rgb(244, 67, 53);" aria-hidden="true">error</i></td>
				</tr>
				</tbody>
			</table>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'MSG_CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="simulate()" ng-if="!simulating && !hasErrors && !simulated">
		Simulate
	</input-button>
	<input-button type="primary" ng-click="restore()" ng-if="simulated && !hasErrors && !restoring">
		Restore
	</input-button>
	<loader class="tiny" ng-if="simulating || restoring" style="padding:0;margin: 0; margin-right:32px;"></loader>
</dialog-actions>