﻿<table-container >
    <table materialize>
        <thead>
        <tr>
	        <th>Process</th>
	        <th>Identifier</th>
	        <th>Deleted By</th>
            <th>Deleted On</th>
	        <th>Archive Id</th>
	        <th>Item Id</th>
	        <th class="icon">Restore</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in recycled">
	        <td>{{::r.Process | translate}}</td>
	        <td><span ng-repeat="i in r.Identifiers track by $index">{{::i}}&nbsp;</span></td>
	        <td>{{::r.user}}</td>
	        <td>{{::fd(r.DeletedDate)}}</td>
	        <td>{{::r.ArchiveId}}</td>
	        <td>{{::r.ItemId}}</td>
            <td class="icon">
                <input-button ng-if="loading == 0" type="icon" minimal ng-click="restoreItem(r.ItemId, r.ArchiveId)">
                    <i class="material-icons" aria-hidden="true">
                        restore
                    </i>
                </input-button>
	            <loader class="tiny" ng-if="loading == r.ItemId" style="padding:0;margin: 0; margin-right:6px;"></loader>
            </td>
        </tr>
        </tbody>
    </table>
</table-container>