<div id="worktime-approval">
	<table materialize>
		<thead>
		<tr>
			<th colspan="3"></th>
			<th colspan="7">
				<div class="align-row center">
					<input-button type="icon" minimal ng-click="back()">
						<i class="material-icons" aria-hidden="true">chevron_left</i>
					</input-button>
					<span>{{formattedDateRange.from}} - {{formattedDateRange.to}}</span>
					<input-button type="icon" minimal ng-click="forward()">
						<i class="material-icons" aria-hidden="true">chevron_right</i>
					</input-button>
				</div>
			</th>
		</tr>
		<tr>
			<th></th>
			<th>Name</th>
			<th></th>
			<th ng-repeat="day in weekDays">{{::day}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="rowitem in rowitems" ng-class="{'highlight': rowitem.header}">
			<td ng-if="rowitem.header">
				<input-button minimal type="icon" ng-click="showUser(rowitem)" ng-if="rowitem.user_item_id">
					<i class="material-icons white" aria-hidden="true" >open_in_new</i>
				</input-button>
			</td>
			<td ng-if="rowitem.header" colspan="2"><div>{{rowitem.user_name}}</div></td>
			<td ng-if="rowitem.header" ng-repeat="day in dates">{{totalHours['waiting'][day.key]}}</td>
			<td ng-if="!rowitem.header">
				<input-button minimal type="icon" ng-click="changeStatus(rowitem, 'approve')">
						<i class="material-icons approved" aria-hidden="true"  ng-if="rowitem.approvable">check</i>
				</input-button>
				<input-button minimal type="icon" ng-click="changeStatus(rowitem, 'reject')">
					<i class="material-icons rejected" aria-hidden="true"  ng-if="rowitem.rejectable">clear</i>
				</input-button>
				<input-button minimal type="icon" ng-click="changeStatus(rowitem, 'revert')">
					<i class="material-icons revertable" aria-hidden="true" ng-if="rowitem.revertable">replay</i>
				</input-button>
			</td>
			<td ng-if="!rowitem.header" tooltip=""><!-- todo: row header needed --></td>
			<td ng-if="!rowitem.header">
			</td>
			<td ng-if="!rowitem.header" ng-repeat="day in rowitem.dates track by $index" ng-click="dayClicked(day, rowitem, 'cell')">
				<div class="stretch" style="height: 100%; display: inline" ng-class="{'approved': day.line_manager_status === 2, 'rejected': day.line_manager_status === 3}">
					{{day.hours}}
				</div>
			</td>
		</tr>

		</tbody>
	</table>
</div>