<div class="worktime-status">
	<portfolio-filters portfolio-columns="portfolioColumns"
					   is-visible="showPortfolioFilters"
					   portfolio-id="{{::portfolioId}}"
					   hide-progress="true"
					   navigation-menu-id="{{::navigationMenuId}}"
					   on-change="getRows"
					   hide-columns="true"
					   reload-navigation="reloadNavigation()"
					   ng-if="!portfolioFilterHidden">
	</portfolio-filters>
	<table-container>
	<table materialize>
		<thead>
			<tr>
				<th class="icon" ng-if="rights.email && !isWidget">
					<input-smart-table type="checkbox"
									   model="$parent.emailSelectionsAll"
									   on-change="selectUser">
					</input-smart-table>
				</th>
				<th class="align-left" translate="WORKINGTIME_TRACKING_TABLE_USER"></th>
				<th class="align-left" translate="WORKINGTIME_TRACKING_TABLE_LM"></th>
				<th class="align-center" table-dynamic ng-repeat="week in weeks">{{::week.w}}<br>{{::week.d}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users" ng-if="getVisibility(user.UserItemId)">
				<td class="icon" ng-if="rights.email && !isWidget">
					<input-smart-table type="checkbox"
									   model="$parent.$parent.emailSelections[user.UserItemId]">
					</input-smart-table>
				</td>
				<td class="align-left">{{user.Name}}</td>
				<td class="align-left">{{user.LineManager}}</td>
				<td class="align-center" ng-repeat="week in weeks" title="{{::getTitle(week,user.UserItemId)}}">
					<input-button type="icon" ng-click="openTimesheet(week, user.UserItemId)"><i class="material-icons" ng-class="getStatus(week.w, user.UserItemId)">lens</i></input-button>
				</td>
			</tr>
		</tbody>
	</table>
	</table-container>
</div>