<dialog-content id="worktime-tracking-breakdown-dialog">
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'WORKINGTIME_TRACKING_BREAKDOWN_EDIT' | translate: {taskName: selected.taskName}"></h2>
	</dialog-title>
	<dialog-container>
		<div ng-if="selected">
			<table materialize class="striped">
				<thead>
				<tr>
					<th colspan="2" ng-bind="::'WORKINGTIME_TRACKING_BREAKDOWN_TYPE' | translate"></th>
					<th class="icon">
						<input-button ng-if="::data.edit" type="icon" ng-click="addRow()">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in selected.breakdownHours" ng-if="!row.deleted">
					<td colspan="2">
						<div class="align-row">
							<input-smart-table
									manual-save
									type="select"
									options="data.breakdownTypes"
									single-value
									model="row.ListItemId"
									option-value="item_id"
									option-name="list_item"
									max="1"
									modify="data.edit">
							</input-smart-table>
						</div>
					</td>
					<td>
						<input-button type="icon" ng-if="::data.edit" ng-click="showRowMenu(row, $event)">
							<i class="material-icons" ng-style="{ color: requireComment && !row.Comment ? redColor : undefined}">
								more_vert
							</i>
						</input-button>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr class="background-lightGrey">
					<td ng-bind="::'WORKINGTIME_TRACKING_TASK_HOURS_DAILY' | translate"></td>
					<td ng-if="::hasHours()" colspan="{{::additionalHoursInUse ? 1 : 2}}" class="align-right icon">
						{{taskTotal}}
					</td>
					<td ng-if="::additionalHoursInUse" colspan="{{::hasHours() ? 1 : 2}}" class="align-right icon">
						{{taskAdditionalTotal}}
					</td>
				</tr>
				<tr class="background-lightGrey">
					<td ng-bind="::'WORKINGTIME_TRACKING_TOTAL_HOURS_DAILY' | translate"></td>
					<td ng-if="::hasHours()" colspan="{{::additionalHoursInUse ? 1 : 2}}" class="align-right icon">
						{{hourTotal}}
					</td>
					<td ng-if="::additionalHoursInUse" colspan="{{::hasHours() ? 1 : 2}}" class="align-right icon">
						{{additionalHourTotal}}
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="align-right icon"
						ng-if="::hasHours()"
						colspan="{{::additionalHoursInUse ? 1 : 2}}"
						ng-bind="::'WORKINGTIME_TRACKING_BREAKDOWN_VALUE' | translate">
					</td>
					<td class="align-right icon"
						ng-if="::additionalHoursInUse"
						colspan="{{::hasHours() ? 1: 2}}"
						ng-bind="::'WORKINGTIME_TRACKING_ADDITIONAL_HOURS' | translate">
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button ng-if="::data.edit"
				  type="primary"
				  ng-click="saveBreakdown()"
				  modify="canSave()"
				  ng-bind="::'SAVE' | translate">
	</input-button>
</dialog-actions>