<style>
    .task-hours input, .task-hours .input-value {
        cursor: pointer !important;
    }
    .printing .material-icons {
        visibility: hidden;
    }
</style>
<div class="worktime-tracking" ng-class="{'printing':printing}">
	<table-header ng-show="printing">
		{{selectedUserName}}
		<div style="display:inline; font-size: 12px;">
			&nbsp;&nbsp;&nbsp;
				<span>{{::'WORKINGTIME_TRACKING_TOTAL_HOURS_WEEKLY' | translate}}&nbsp;</span>
				<span ng-class="{'error': data.weeklyHoursError}">{{data.weeklyTotal}}</span>&nbsp;
				{{::'WORKINGTIME_TRACKING_TOTAL_HOURS_OUT_OF' | translate}}&nbsp;{{weeklyHours}}
				<span ng-if="isHourApprovalInUse && validation.length">&nbsp;
					<span class="error" ng-repeat="msg in validation">
					<span ng-if="!$first">,&nbsp;</span>{{msg | translate}}</span>
				</span>
			&nbsp;&nbsp;&nbsp;
				<span ng-if="data.sheetStatusMessage">{{data.sheetStatusMessage}}</span>
		</div>
	</table-header>
	<table-container style="max-width: 1600px;">
		<table materialize class="has-stripes">
			<thead>
			<tr ng-if="!isMobile" class="upper-header">
				<th class="icon"></th>
				<th colspan="2">
					<div class="daterange-title" ng-bind="::'TIMESHEET_RANGE' | translate"></div>
				</th>
				<th colspan="{{col.colSpan}}"
				    class="align-center"
				    ng-class="data.datesForColumns[$index].class"
				    table-dynamic
				    ng-repeat="col in ::weekDays">
					<div>
						{{data.datesForColumns[$index].date}}
					</div>
					<br/>
					<div class="subtitle-2" ng-bind="::col.value"></div>
				</th>
			</tr>
			<tr ng-swipe-left="back()" ng-swipe-right="forward()" class="middle-header">
				<th class="icon"></th>
				<th colspan="2">
					<div class="align-row start">
						<input-button minimal type="icon" ng-click="back()" ng-if="!rights.jump">
							<i class="material-icons" aria-hidden="true">chevron_left</i>
						</input-button>

						<div class="subtitle-2">
							{{formattedDateRange.from}}
						</div>
						<div class="subtitle-2" ng-if="!isMobile">
							{{formattedDateRange.to}}
						</div>

						<input-button minimal type="icon" ng-click="forward()" ng-if="!rights.jump">
							<i class="material-icons" aria-hidden="true">chevron_right</i>
						</input-button>
					</div>
				</th>
				<th style="width: 56px"
				    class="align-right"
				    ng-class="data.dateValueColumns[$index].class"
				    table-dynamic
				    ng-repeat="col in ::splitWeekDays track by $index">
					<span ng-bind="::col.variable | translate" class="caption"></span>
				</th>
			</tr>
			<tr ng-if="!isMobile" class="lower-header">
				<th colspan="3"></th>
				<th class="align-right {{column.class}}"
				    table-dynamic
				    ng-repeat="column in data.dateValueColumns track by $index"
				    ng-class="{'vacation': calendars[column.date] || vacations[column.date2][0] === false}">
					<span ng-class="{'error': data.sumOfAll[column.date].error[column.field]}">
						{{data.sumOfAll[column.date][column.field]}}
					</span>
				</th>
			</tr>
			</thead>
			<tbody>
			<!-- Task hours -->
			<tr class="background-accent-2">
				<td ng-click="toggleAll()">
					<i class="material-icons" title="Expand All" style="margin-left: 8px;" ng-if="!allOpen()">add</i>
					<i class="material-icons" title="Collapse All" style="margin-left: 8px;"
					   ng-if="allOpen()">remove</i>
				</td>
				<td colspan="2" ng-bind="::'WORKINGTIME_TRACKING_MY_TASKS' | translate"></td>
				<td class="align-right" ng-repeat="column in data.dateValueColumns track by $index">
					{{data.totalHours['task'][column.date][column.field]}}
				</td>
			</tr>
			<tr ng-repeat="task in data.myTasks" class="task-hours" ng-class="::{'background-lightGrey' : task.header}">
				<!-- OWNER GROUPING HEADERS -->
				<td ng-if="::task.header" class="icon" ng-click="toggleTaskGroup(task)">
					<input-button type="icon">
						<i class="material-icons" ng-if="collapsedGroups[task.itemId]">&#xE315;</i>
						<i class="material-icons" ng-if="!collapsedGroups[task.itemId]">&#xE313;</i>
					</input-button>
				</td>
				<td colspan="2" ng-if="::task.header" tooltip="{{::task.ownerTitle}} - {{::task.ownerSecondary}}">
					<div style="float:left;margin-top: 10px;width: calc(100% - 33px);">
						<div class="first-row">{{::task.ownerTitle}}</div>
						<div class="second-row">{{::task.ownerSecondary}}</div>
					</div>
					<div style="float: right; margin-top: 6px; width:20px;margin-right: 12px">
						<input-button type="icon" ng-click="openAnalysis(task, 1)">
							<i class="material-icons" style="font-size:18px;">open_in_new</i>
						</input-button>
					</div>
				</td>

				<td class="align-right"
				    ng-repeat="column in data.dateValueColumns track by $index"
				    ng-if="::task.header">
					{{data.totalProjectHours[task.title][column.date][column.field]}}
				</td>

				<!-- TASK ROWS -->
				<td class="icon" ng-if="!task.header && !collapsedGroups[task.owner_item_id]">
					<input-button ng-click="removeTask(task)" type="icon" ng-show="taskRemovable(task)">
						<i class="material-icons" aria-hidden="true">delete</i>
					</input-button>
					<input-button type="icon" no-waves aria-hidden="true" modify="false"
					              title="{{::'REMOVE_TASK_ILLEGAL' | translate}}" ng-show="!taskRemovable(task)">
						<i class="material-icons" aria-hidden="true" style="color:#ccc">delete</i>
					</input-button>
				</td>
				<td colspan="2"
				    tooltip="{{::task.title}} - {{::task.titleSecondary}} {{::task.myTask !== 1 ? '(' + ('WORKINGTIME_TRACKING_NOT_MINE' | translate) + ')' : ''}} {{::task.deleted === 0 ? '' : ' (' + ('WORKINGTIME_TRACKING_REMOVED' | translate) + ')'}}"
				    style="min-width: 140px;"
				    ng-if="!task.header && !collapsedGroups[task.owner_item_id]"
				    ng-click="editTaskOnDialog(task, $event)">
					
					<div ng-show="isTaskLocked(task, data.dateValueColumns)" style="float:left;width: calc(100% - 20px); margin-top: 9px">
						<div class="first-row" style="font-weight: normal">{{::task.title}}
							{{::task.approval_required === 1 ? '*' : ''}}
							{{::task.myTask !== 1 ? '(' + ('WORKINGTIME_TRACKING_NOT_MINE' | translate) + ')' : ''}}
							{{::task.deleted === 0 ? '' : ' (' + ('WORKINGTIME_TRACKING_REMOVED' | translate) + ')'}}
						</div>
						<div class="second-row" ng-if="::task.titleSecondary != ''">{{::task.titleSecondary}}</div>
					</div>

					<div ng-show="!isTaskLocked(task, data.dateValueColumns)" style="float:left;width: calc(100% - 20px); margin-top: 18px">
						<div class="first-row" style="font-weight: normal">{{::task.title}}
							{{::task.approval_required === 1 ? '*' : ''}}
							{{::task.myTask !== 1 ? '(' + ('WORKINGTIME_TRACKING_NOT_MINE' | translate) + ')' : ''}}
							{{::task.deleted === 0 ? '' : ' (' + ('WORKINGTIME_TRACKING_REMOVED' | translate) + ')'}}
						</div>
						<div class="second-row" ng-if="::task.titleSecondary != ''">{{::task.titleSecondary}}</div>
					</div>


					<div style="float: right; margin-top: 6px; width:20px;">
						<i class="material-icons" style="font-size:18px;"
						   ng-if="!isTaskLocked(task, data.dateValueColumns)"
						  title="{{::taskLockTitle(task)}}">lock</i>

						<div style="float: right; width:20px; margin-right: 12px">
							<input-button type="icon" ng-click="openAnalysis(task, 2)">
								<i class="material-icons" style="font-size:18px;">open_in_new</i>
							</input-button>
						</div>

					</div>
				</td>
				<td ng-repeat="column in data.dateValueColumns track by $index"
				    ng-class="{'vacation': calendars[column.date] || vacations[column.date2][0] === false}"
				    class="{{::column.class}}"
				    ng-if="!task.header && !collapsedGroups[task.owner_item_id]">
					<div ng-if="hourbreakdownIsOn && ((column.field === 'hours' && isWeekDay(column.date2)) || column.field !== 'hours')"
					     ng-click="clicked(task.process, task.task_item_id, column)">
						<input-smart-table
								type="decimal"
								modify="data.edit && isTaskEnabledOnThisDay(task, column) && task.deleted == 0 && !printing"
								placeholder=""
								min="0"
								underline
								precision="2"
								max="24"
								model="data.hours[task.process][task.task_item_id][column.date][column.field]">
						</input-smart-table>
					</div>
					<span ng-if="!hourbreakdownIsOn">
						<input-smart-table
								type="decimal"
								modify="data.edit && isTaskEnabledOnThisDay(task, column) && !printing"
								placeholder=""
								min="0"
								underline
								max="24"
								step="0.25"
								on-change="hoursChanged"
								on-change-parameters="{
									taskId: task.task_item_id,
									column: column,
									process: task.process }"
								model="data.hours[task.process][task.task_item_id][column.date][column.field]">
						</input-smart-table>
					</span>
				</td>
			</tr>
			<!-- Basic hours -->
			<tr class="background-darkGrey" ng-show="data.basicTasks.length">
				<td></td>
				<td colspan="2" ng-bind="::'WORKINGTIME_TRACKING_BASIC_HOURS' | translate"></td>
				<td class="align-right"
				    ng-repeat="column in data.dateValueColumns track by $index"
				    ng-class="{'vacation': calendars[column.date] || vacations[column.date2][0] === false}">
					{{data.totalHours['worktime_tracking_basic_tasks'][column.date][column.field]}}
				</td>
			</tr>
			<tr ng-repeat="basicTask in data.basicTasks">
				<td></td>
				<td colspan="2" tooltip="{{::basicTask.list_item}}"
				    style="min-width: 140px;"
				    ng-click="editTaskOnDialog(basicTask, $event, true)">
					{{::basicTask.list_item}}{{::basicTask.approval_required == 1 ? '*' : ''}}
					({{basicTask.TotalHours}}h)
				</td>
				<td ng-repeat="column in data.dateValueColumns track by $index" class="{{::column.class}}"
				    ng-class="{'vacation': (vacations[column.date2][0] === false)}">
					<input-smart-table
							ng-if="::column.field === 'hours' && isWeekDay(column.date2)"
							precision="2"
							step="0.25"
							type="decimal"
							underline
							modify="isBasicHourEditableOnThisDay(data.edit, column) && !printing"
							min="0"
							placeholder=""
							max="24"
							on-change="hoursChanged"
							on-change-parameters="{
								taskId: basicTask.item_id,
								column: column,
								process: 'worktime_tracking_basic_tasks'}"
							model="data.hours['worktime_tracking_basic_tasks'][basicTask.item_id][column.date][column.field]">
					</input-smart-table>
				</td>
			</tr>
			</tbody>
		</table>
		
	</table-container>

	
	
</div>

