<dialog-content id="worktime-tracking-breakdown-dialog">
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'WORKINGTIME_TRACKING_BREAKDOWN_EDIT' | translate: {taskName: selected.taskName}"></h2>
	</dialog-title>
	<dialog-container>
		<div ng-if="selected">
			<table materialize>
				<thead>
				<tr>
					<th ng-bind="::'WORKINGTIME_TRACKING_BREAKDOWN_TYPE' | translate"></th>
					<th ng-if="::commentMode" ng-style="::{ width: commentMode === 1 ? '64px' : '96px' }"
						ng-bind="::'WORKINGTIME_TRACKING_YOUR_COMMENT' | translate">
					</th>
					<th ng-if="::hasHours()"
						style="width: 64px" class="align-right"
						ng-bind="::'WORKINGTIME_TRACKING_BREAKDOWN_VALUE' | translate">
					</th>
					<th ng-if="::additionalHoursInUse"
						class="align-right"
						style="width: 64px"
						ng-bind="::'WORKINGTIME_TRACKING_ADDITIONAL_HOURS' | translate">
					</th>
					<th class="icon">
						<input-button ng-if="::modify" type="icon" ng-click="addRow()">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in selected.breakdownHours" ng-if="!row.deleted">
					<td>
						<input-smart-table
								manual-save
								type="select"
								placeholder="WORKINGTIME_TRACKING_SELECT_ACTIVITY_TYPE"
								options="data.breakdownTypes"
								single-value="true"
								model="row.ListItemId"
								option-value="item_id"
								option-name="list_item"
								modify="modify">
						</input-smart-table>
					</td>
					<td ng-if="commentMode === 2">
						<input-smart-table type="select"
										   manual-save
										   model="row.CommentListItemId"
										   ng-attr-unselectable="{{::!requireComment || undefined}}"
										   ng-attr-required-field="{{::requireComment || undefined}}"
										   options="commentOptions"
										   option-name="list_item"
										   option-value="item_id"
										   single-value
										   modify="modify">
						</input-smart-table>
					</td>
					<td ng-if="commentMode === 1">
						<input-button type="icon" no-waves ng-click="editComment($event, row)" tooltip="{{row.Comment}}">
							<i class="material-icons" ng-style="{ color: requireComment && !row.Comment ? redColor : undefined}">
								comment
							</i>
						</input-button>
					</td>
					<td ng-if="hasHours()">
						<input-smart-table
								manual-save
								type="decimal"
								underline
								precision="2"
								step="0.25"
								modify="modify"
								min="0"
								max="24"
								model="row.Hours"
								placeholder="WORKINGTIME_TRACKING_BREAKDOWN_VALUE"
								on-change="breakdownHoursChanged">
						</input-smart-table>
					</td>
					<td ng-if="additionalHoursInUse">
						<input-smart-table
								type="decimal"
								manual-save
								underline
								precision="2"
								step="0.25"
								modify="modify"
								min="0"
								max="24"
								placeholder="WORKINGTIME_TRACKING_ADDITIONAL_HOURS"
								model="row.AdditionalHours"
								on-change="breakdownHoursChanged">
						</input-smart-table>
					</td>
					<td class="icon">
						<input-button ng-if="modify"
									  type="icon"
									  ng-click="deleteRow(row)">
							<i class="material-icons" aria-hidden="true">clear</i>
						</input-button>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr class="background-lightGrey">
					<td ng-bind="::'WORKINGTIME_TRACKING_TOTAL_HOURS_TASK' | translate"></td>
					<td ng-if="::commentMode"></td>
					<td ng-if="::hasHours()" class="align-right">
						{{taskTotal}}
					</td>
					<td ng-if="::additionalHoursInUse" class="align-right">
						{{taskAdditionalTotal}}
					</td>
					<td></td>
				</tr>
				<tr class="background-lightGrey">
					<td ng-bind="::'WORKINGTIME_TRACKING_TOTAL_HOURS_DAILY' | translate"></td>
					<td ng-if="::commentMode"></td>
					<td ng-if="::hasHours()" class="align-right">
						{{hourTotal}}
					</td>
					<td ng-if="::additionalHoursInUse" class="align-right">
						{{additionalHourTotal}}
					</td>
					<td></td>
				</tr>
				<tr class="background-lightGrey">
					<td ng-bind="::'WORKINGTIME_TRACKING_TOTAL_HOURS_WEEKLY' | translate"></td>
					<td ng-if="::commentMode"></td>
					<td ng-if="::additionalHoursInUse" class="align-right">
						{{weeklyTotalAfterChanges}}
					</td>
					<td ng-if="::hasHours()" class="align-right">
						<span ng-if="!additionalHoursInUse">
							{{weeklyTotalAfterChanges}}
						</span>
					</td>
					<td></td>
				</tr>
				</tfoot>
			</table>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button ng-if="::modify"
				  type="primary"
				  ng-click="saveBreakdown()"
				  modify="canSave()"
				  ng-bind="::'SAVE' | translate">
	</input-button>
</dialog-actions>