<div class="flex align-row worktime-tracking" ng-if="::!isMobile">
	<span>
		{{::'WORKINGTIME_TRACKING_TOTAL_HOURS_WEEKLY' | translate}}&nbsp;
	</span>
	<span ng-class="{'error': data.weeklyHoursError}">{{data.weeklyTotal}}</span>&nbsp;{{::'WORKINGTIME_TRACKING_TOTAL_HOURS_OUT_OF'|translate}}&nbsp;{{weeklyHours}}
	<span ng-if="isHourApprovalInUse && validation.length">
		&nbsp;
		<span class="error" ng-repeat="msg in validation">
			<span ng-if="!$first">,&nbsp;</span>{{msg | translate}}
		</span>
	</span>
</div>

<div class="flex align-row end" ng-if="::isHourApprovalInUse && !isMobile">
	<div ng-if="!rights.jump" style="margin-right: 60px;" ng-bind="::'WORKINGTIME_TRACKING_REQUIRE_INFO' | translate"></div>
	<input-button type="warn"
				  ng-if="rights.admin && (data.weekRights.isDecided || data.weekRights.partiallySubmitted)"
				  ng-click="revert()"
				  ng-bind="::'REVERT' | translate">
	</input-button>

	<input-button type="warn"
	              ng-if="
	                partialSubmissionsInUse && 
	                data.isSubmitted == false && 
	                (!rights.jump && data.canConfirmPartial && data.weekRights.partiallySubmitted == false) || (rights.admin && data.canConfirmPartial && data.weekRights.partiallySubmitted == false)
					&& (!rights.jump && data.weekRights.isSubmitted && data.weekRights.canReject && data.weekRights.isDecided == false)
"
	              
	              ng-click="submit(true)"
	              ng-bind="::'PARTIAL' | translate">
	</input-button>
	<input-button type="primary"
				  ng-if="(!rights.jump && data.canConfirm) || (rights.admin && data.canConfirm)"
				  ng-click="submit(false)"
				  ng-bind="::'SUBMIT' | translate">
	</input-button>
	
	<span ng-if="data.sheetStatusMessage">{{data.sheetStatusMessage}}</span>

	<input-button type="warn"
				  ng-if="rights.jump && data.weekRights.isSubmitted && data.weekRights.canReject && data.weekRights.isDecided == false"
				  ng-click="reject()"
				  ng-bind="::'REJECT' | translate">
	</input-button>
 
	<input-button type="primary"
				  ng-if="rights.jump && data.weekRights.isSubmitted && data.weekRights.canApprove && data.weekRights.isDecided == false"
				  ng-click="approve()"
				  ng-bind="::'APPROVE' | translate">
	</input-button>
</div>

<div class="flex align-row end" ng-if="::isHourApprovalInUse && isMobile">
	<menu options="buttonOptions" ng-if="buttonOptions.length > 1"></menu>
	<input-button ng-if="buttonOptions.length === 1"
				  type="{{::buttonOptions[0].type}}"
				  ng-click="buttonOptions[0].onClick()"
				  ng-bind="::buttonOptions[0].name">
	</input-button>
</div>