<card-content>
	<card-title ng-bind="::title" ng-if="::title"></card-title>
	<card-subtitle>
		<input-smart
				label="WORKINGTIME_TRACKING_YOUR_COMMENT"
				rows="3"
				ng-if="::config.commentMode === 1"
				ng-attr-required-field="{{::config.requireComment || undefined}}"
				manual-save
				type="text"
				model="row.Comment"
				modify="config.edit">
		</input-smart>
		<input-smart
				label="WORKINGTIME_TRACKING_YOUR_COMMENT"
				ng-if="::config.commentMode === 2"
				manual-save
				type="select"
				model="row.CommentListItemId"
				ng-attr-unselectable="{{::!config.requireComment || undefined}}"
				ng-attr-required-field="{{::config.requireComment || undefined}}"
				options="config.commentOptions"
				option-name="list_item"
				option-value="item_id"
				single-value
				modify="config.edit">
		</input-smart>
		<input-smart
				manual-save
				ng-if="::config.showHours"
				type="decimal"
				precision="2"
				step="0.25"
				modify="config.edit"
				min="0"
				max="24"
				model="row.Hours"
				label="WORKINGTIME_TRACKING_BREAKDOWN_VALUE"
				on-change="breakdownChange">
		</input-smart>
		<input-smart
				manual-save
				ng-if="::config.showAdditional"
				type="decimal"
				precision="2"
				step="0.25"
				modify="config.edit"
				min="0"
				max="24"
				label="WORKINGTIME_TRACKING_ADDITIONAL_HOURS"
				model="row.AdditionalHours"
				on-change="breakdownChange">
		</input-smart>
	</card-subtitle>
</card-content>
<card-actions>
	<input-button ng-click="closeCard()" ng-bind="::'CLOSE' | translate"></input-button>
</card-actions>