<div class="worktime-status align-row">
	<input-button minimal type="icon"><i class="material-icons inprogress" aria-hidden="true" >lens</i></input-button> <span translate="TIMESHEET_STATUS_0"></span>
	<input-button minimal type="icon" ng-if="::showStatus05()"><i ng-if="::showStatus05()" class="material-icons partial" aria-hidden="true" >lens</i></input-button> <span ng-if="::showStatus05()" translate="TIMESHEET_STATUS_01"></span>
	<input-button minimal type="icon" ng-if="::showStatus1()">
		<i ng-if="::showStatus1()" class="material-icons submitted" aria-hidden="true" >lens</i>
	</input-button> <span ng-if="::showStatus1()" translate="TIMESHEET_STATUS_1"></span>
	<input-button minimal type="icon"><i class="material-icons approved" aria-hidden="true">lens</i></input-button> <span translate="TIMESHEET_STATUS_2"></span>
</div>
<div class="flex align-row end">
	<input-button modify="edit" type="primary" ng-if="rights.rebaseAll" ng-click="rebaseAllTimesheets()" translate="TIMESHEET_STATUS_APPROVE_ALL"></input-button>
	<input-button modify="edit" type="primary" ng-if="rights.rebase" ng-click="rebaseTimesheets()" translate="TIMESHEET_STATUS_APPROVE"></input-button>
	<input-button modify="edit" type="primary" ng-if="rights.email" ng-click="sendEmail()" translate="TIMESHEET_STATUS_REMIND"></input-button>
	<input-select minimal style="width:150px; margin-left:50px;" options="userFilterOptions" max="1" option-name="name" option-value="value" single-value="true" model="selections.selectValue" modify="true" on-change="changeScope"></input-select>
	<input-select minimal style="width:250px; margin-left:50px;" options="statusFilterOptions" max="1" option-name="name" option-value="value" single-value="true" model="selections.filterValue" modify="true" on-change="filterRows"></input-select>
</div>