﻿<input-container role="listbox" aria-label="{{::label}}">
	<input id="{{::id}}"
	       ng-readonly="!modify"
	       ng-model="contains"
	       autocomplete="off"
	       ng-required="::requiredField"
	       aria-required="{{::requiredField}}"
	       aria-disabled="{{!modify}}"
	       class="aria-detect"
	/>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<div class="input-value ellipsis"></div>
	<i class="material-icons" aria-hidden="true">arrow_drop_down</i>
</input-container>