<input-string model="search"
              ng-show="opened"
              placeholder="{{'MAILLOG_SEARCH' | translate}}"
              modify="true"
              on-change="doSearch"
              on-change-parameters="{fromPaging: false, fromText: true}"
              minimal
              style="width: 50%">
</input-string>
<input-button ng-show="opened" type="primary" ng-click="clearFilters()">
    {{'LOG_CLEAR_FILTERS' | translate}}
</input-button>

<table-container>
    <table materialize>
        <thead>
        <tr>
            <th style="width: 33%">{{'MAIL_SUBJECT' | translate}}</th>
            <th>{{'MAIL_CONTENT' | translate}}</th>
            <th>{{'RECIPIENTS' | translate}}</th>
            <th class="align-right">{{'SENT_ON' | translate}}</th>
            <th>{{'MAIL_STATUS' | translate}}</th>
            <th>{{'MAIL_ERROR_MESSAGE' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data | limitTo:paging.size">
            <td style="width: 33%">
                <div style="width: 500px; overflow: hidden" >
                    {{row["Subject"]}}
                </div>
            </td>
            <td>{{row["TranslatedBody"]}}</td>
            <td>{{row["Recipients"]}}</td>
            <td class="align-right">{{getFormattedDateTime(row["SentOn"])}}</td>
            <td>{{GetStatus(row["Status"])}}</td>
            <td>{{row["ErrorMessage"]}}</td>
        </tr>
        </tbody>
    </table>
</table-container>


<div class="flex align-row end">
    <table-pager page="paging.currentPage"
                 page-size="paging.size"
                 max="paging.max"
                 on-page-change="onPageChange"
                 on-page-size-change="onPerPageChange">
    </table-pager>
</div>