﻿<dialog-content>
	<dialog-title ng-show="!uploading">
		<h2 class="ellipsis" ng-bind="::'FILE_INPUT_ATTACHMENT_TRIM' | translate"></h2>
		<span class="flex"></span>
		<h2>{{index + 1}}/{{::total}}</h2>
	</dialog-title>
	<dialog-container>
		<div class="loading-screen align-column" ng-show="uploading">
			<loader></loader>
			<h2 class="h6" ng-bind="::'FILE_INPUT_UPLOAD_FILES' | translate"></h2>
		</div>

		<cropper ng-show="!uploading"
				 file="file"
				 crop="cropData"
				 initial-crop="cropInitial"
				 cropped-image="cropImage"
				 restrictions="cropRestrictions">
		</cropper>
		<input-string ng-show="!uploading"
					  model="name"
					  label="{{::'FILE_INPUT_ATTACHMENT_NAME' | translate}}"
					  modify="true">
		</input-string>

	</dialog-container>
</dialog-content>
<dialog-actions ng-show="!uploading">
	<input-button ng-click="cancel()" ng-bind="::'MSG_CANCEL' | translate"></input-button>
	<input-button ng-click="prev()"
				  modify="index > 0"
				  ng-bind="::'FILE_INPUT_ATTACHMENT_PREVIOUS' | translate">
	</input-button>
	<input-button type="primary" ng-click="next()">
		<span ng-show="isAllProcessed()" ng-bind="::'FILE_INPUT_ATTACHMENT_UPLOAD' | translate"></span>
		<span ng-show="!isAllProcessed()" ng-bind="::'FILE_INPUT_ATTACHMENT_NEXT' | translate"></span>
	</input-button>
</dialog-actions>