﻿<input-container>
	<input ng-required="::requiredField" ng-model="contains" ng-readonly="!modify||!checkMax()" class="ng-hide" />
	<h1 class="subtitle-1" ng-bind="::label" tooltip="{{::label}}"></h1>
	<div class="dropzone align-column no-select"
		 ng-if="modify&&checkMax()"
	     ng-show="attachments.length < max || max === 0"
	     ngf-max-files="maxSelections"
	     ngf-select="uploadFiles($files)"
	     ngf-drop="uploadFiles($files)"
	     ngf-multiple="multiSelect"
		 ngf-pattern="fileTypes"
		 accept="{{fileTypes}}">

		<div style="padding-top:12px;"></div>
		<div class="circle circle-large aria-detect" tabindex="0" aria-label="{{::label}} {{::'FILE_INPUT_ATTACHMENT_DD' | translate}}">
			<i class="material-icons" aria-hidden="true">attach_file</i>
		</div>
		<div style="padding-bottom: 4px;">
			<p class="italic" ng-bind="::'FILE_INPUT_ATTACHMENT_DD' | translate"></p>
		</div>
	</div>


<table style="width: 100%" ng-if="bigThumbNails">
	<tr style="width: 25%!important; float:left;" ng-repeat="thumbAttch in thumbnailAttachments">
		<td>
			<file-icon class="list-item-icon"></file-icon>
			<span class="flex"></span>
		</td>
	</tr>
</table>
	<div class="one-line list">
		<div ng-repeat="attachment in attachments" class="list-item">
			<file-icon class="list-item-icon"></file-icon>
			<div class="list-item-text">
				<span class="primary" tooltip="{{::attachment.Name}}" ng-bind="::attachment.Name"></span>
			</div>
			<span class="flex"></span>
			<input-button ng-if="modify" type="icon" ng-click="removeAttachment(attachment, $index)" tooltip="FILE_INPUT_REMOVE">
				<i class="material-icons" aria-hidden="true">delete</i>
			</input-button>
		</div>
	</div>
	<div ng-if="attachments.length==0&&thumbnailAttachments.length==0" class="empty-input italic align-left no-select">
		<span tooltip="{{::'FILE_INPUT_EMPTY' | translate}}" ng-bind="::'FILE_INPUT_EMPTY' | translate"></span>
	</div>
</input-container>