<div>
	<content bind-html-compile="videoContent"></content>
	<input-button ng-click="close()">
		{{'CLOSE' | translate}}
	</input-button>
	<input-button ng-click="download()">
		{{'DOWNLOAD' | translate}}
	</input-button>
</div>