﻿<dialog-content>
	<dialog-container class="align-center">
		<img class="pointer" ng-click="showImage()" ng-src="v1/meta/AttachmentsDownload/{{::attachmentId}}/0{{archiveDate}}" style="max-width: 100%; max-height: 100%" />
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="close()" ng-bind="::'CLOSE' | translate"></input-button>
	<input-button ng-click="showImage()" ng-bind="::'OPEN' | translate"></input-button>
</dialog-actions>