<input-check label="{{::'GROUP_BY_TASKS' | translate}}"
			 minimal
			 model="$parent.groupByTask"
			 on-change="groupingChanged"
			 modify="true">
</input-check>
&nbsp;
&nbsp;
<input-check label="{{::'SHOW_PHASES_ANALYSIS' | translate}}"
			 minimal
			 model="$parent.showPhases"
			 modify="true">
</input-check>
&nbsp;
&nbsp;
<input-check label="{{::'SHOW_PHASES_USERS' | translate}}"
             minimal
             model="$parent.showUsers"
             modify="true">
</input-check>
<span class="flex"></span>
<input-select minimal
			  style="width: 168px"
			  options="calendarResolutions"
			  max="1"
			  single-value
			  model="$parent.selectedCalendarResolution"
			  modify="true"
			  on-change="resolutionChanged">
</input-select>
