﻿<div class="simple-margin row space-between middle-xs around-xs">
	<canvas class="chart-bar"
	        width="896"
	        height="400"
	        chart-data="barChartData"
	        chart-labels="barChartLabels"
	        chart-options="barChartOptions"
	        chart-dataset-override="barChartOverride"
	        chart-colors="barChartColors">
	</canvas>
	<div class="align-column">
		<circular-progress height="150" value="spRelation.plannedRatio" suffix="%" title="{{::spRelation.plannedTitle}}"></circular-progress>
		<div class="align-column simple-margin" style="min-width: 256px">
			<div class="align-row space-between stretch body-2">
				<div style="display: flex;">
					<div style="width:10px; height:10px; background-color: #ac70ac;margin-right: 10px;margin-top: 3px;"></div>
					<div translate="HOURACCUMULATION_SPENT"></div>
				</div>
				<div>
					{{reportTotalHours}} h
				</div>
			</div>
			<divider class="stretch"></divider>
			<div class="align-row space-between stretch body-2">
				<div style="display: flex;">
					<div style="width:10px; height:10px; background-color: #eeeeee;margin-right: 10px;margin-top: 3px;"></div>
					<div translate="HOURACCUMULATION_HOURS"></div>
				</div>
				<div>
					{{spRelation.total}} h
				</div>
			</div>
			<div class="align-row space-between stretch body-2" style="max-width: 280px;padding-top:20px;">
				<span ng-bind-html="HOUR_ACCUMULATION_PLANNED_INFO"></span>
			</div>
		</div>
	</div>
	<div class="align-column" ng-if="!!compareColumn && sbRelation.total != -1">
		<circular-progress height="150" value="sbRelation.plannedRatio" suffix="%" title="{{::sbRelation.plannedTitle}}"></circular-progress>
		<div class="align-column simple-margin" style="min-width: 256px">
			<div class="align-row space-between stretch body-2">
				<div style="display: flex;">
					<div style="width:10px; height:10px; background-color: #ac70ac;margin-right: 10px;margin-top: 3px;"></div>
					<div translate="HOURACCUMULATION_SPENT"></div>
				</div>
				<div>
					{{reportTotalHours}} h
				</div>
			</div>
			<divider class="stretch"></divider>
			<div class="align-row space-between stretch body-2">
				<div style="display: flex;">
					<div style="width:10px; height:10px; background-color: #eeeeee;margin-right: 10px;margin-top: 3px;"></div>
					<div translate="HOURACCUMULATION_BUDGET"></div>
				</div>
				<div>
					{{budgetTotal}} h
				</div>
			</div>
			<div class="align-row space-between stretch body-2" style="max-width: 280px;padding-top:20px;">
				<span ng-bind-html="HOUR_ACCUMULATION_BUDGET_INFO"></span>
			</div>
		</div>
	</div>
</div>
<table-container ng-if="!loading">
	<table materialize>
		<thead>
		<tr>
			<th style="min-width: 256px">
				{{::'HOURACCUMULATION_RESOURCE' | translate }} / {{::'HOURACCUMULATION_TASK' | translate}}
			</th>
			<th class="align-right" ng-bind="::'HOURACCUMULATION_VS' | translate"></th>
			<th class="align-right" ng-bind="::'HOURACCUMULATION_SPENT_SHORT' | translate"></th>
			<th ng-repeat="column in columns" table-dynamic class="align-right" style="min-width: 64px">
				<div class="subtitle-2" ng-bind="::column.year"></div>
				{{::column.name}}
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in reportRows" ng-show="((showPhases && showUsers) || (showPhases && !showUsers && row.type!='user')) || (!showPhases && !row.phase)" ng-class="::{
		'background-darkGrey': row.phase && row.level == 0,
		'background-lightGrey': 
		(!row.phase && groupByTask && row.type == 'task' && row.level == 0) || 
		(groupByTask && !showPhases && row.type != 'user') ||
		(!groupByTask && row.type != 'user'),  
		'indent': (row.level > 0 && showPhases) || (!groupByTask && row.type != 'task') || (groupByTask && !showPhases && row.type == 'user'),
		'indent-2': row.level == 2 && showPhases,
		'indent-3': row.level == 3 && showPhases,
		}">
			<td>{{::row.name}}<span style="font-style: italic" ng-if="(!groupByTask && row.deleted && row.type=='user') || (groupByTask && row.deleted && row.type!='user')" >&nbsp;(<span translate="WORKINGTIME_TRACKING_REMOVED"></span>)</span>
			<div ng-if="showSecondary == 1">{{row.$$secondary}}</div>
			</td>
			<td class="align-right">{{fn(row.vs)}}</td>
			<td class="align-right">{{fn(row.total)}}</td>
			<td ng-repeat="column in ::row.columns track by $index" class="align-right">{{::fn(column)}}</td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="background-accent-2">
			<td ng-bind="::'HOURACCUMULATION_TOTAL' | translate"></td>
			<td class="align-right">{{reportVSHours}}</td>
			<td class="align-right">{{reportTotalHours}}</td>
			<td ng-repeat="column in columns" class="align-right">{{fn(column.total)}}</td>
		</tr>
		</tfoot>
	</table>
</table-container>