﻿<div class="flex-time flex-time-directive">
	<table materialize class="time-week">
		<tr class="low">
			<td ng-repeat="day in flexDay.week" ng-class="{row1:true,today:day,not_work:day.not_work,holiday:day.holiday}" ng-click="ChangeDay(day)" title="{{day.calendar_events}}">
				<div ng-class="{row1:true,today1:day.today,selected:day.selected}">{{day.week_day}}<i ng-if="day.calendar_events!=''" class="material-icons" aria-hidden="true">priority_high</i></div>
			</td>
		</tr>
		<tr class="low">
			<td ng-repeat="day in flexDay.week" ng-class="{row2:true,today:day.today,not_work:day.not_work,holiday:day.holiday}" ng-click="ChangeDay(day)" title="{{day.calendar_events}}">
				<div ng-class="{row2:true,today2:day.today,selected:day.selected}">{{day.day}}</div>
			</td>
		</tr>
		<tr class="high">
			<td ng-repeat="day in flexDay.week" ng-class="{row3:true,today:day.today,not_work:day.not_work,holiday:day.holiday}" ng-click="ChangeDay(day)">
				<div ng-class="{row3:true,today3:day.today,selected:day.selected}">
					<div>
						<i ng-if="day.sick_leave" class="material-icons" aria-hidden="true" title="{{::'FLEX_TIME_TRACKING_SPECIAL_SICK_LEAVE'|translate}}">local_hospital</i>
						<i ng-if="day.balance_free" class="material-icons" aria-hidden="true" title="{{::'FLEX_TIME_TRACKING_SPECIAL_BALANCE_FREE'|translate}}">restore</i>
						<i ng-if="day.correction_row" class="material-icons" aria-hidden="true" title="{{::'FLEX_TIME_TRACKING_CORRECTION_ROW'|translate}}">build</i>
					</div>
					<div>{{ParseWeekWorkHours(day.day_hours)}}</div>
					<div>{{GetWeekWorkHoursSpace(day.day_hours)}}</div>
					<div>{{GetIconsSpace(day.day_hours,day.sick_leave||day.balance_free||day.correction_row)}}</div>
				</div>
			</td>
		</tr>
	</table>
	<table materialize class="time-controls">
		<tr>
			<td class="arrows" ng-click="PrevMonth()" tooltip="{{::'FLEX_TIME_TRACKING_PREV_MONTH'|translate}}">
				<i class="material-icons" aria-hidden="true" style="margin-right:-20px;">chevron_left</i>
				<i class="material-icons" aria-hidden="true">chevron_left</i>
				<i class="material-icons" aria-hidden="true" style="margin-left:-20px;">chevron_left</i>
			</td>
			<td class="arrows" ng-click="PrevWeek()" tooltip="{{::'FLEX_TIME_TRACKING_PREV_WEEK'|translate}}">
				<i class="material-icons" aria-hidden="true" style="margin-right:-20px;">chevron_left</i>
				<i class="material-icons" aria-hidden="true">chevron_left</i>
			</td>
			<td class="arrows" ng-click="PrevDay()" tooltip="{{::'FLEX_TIME_TRACKING_PREV_DAY'|translate}}">
				<i class="material-icons" aria-hidden="true">chevron_left</i>
			</td>
			<td class="date">
				<input-smart type="date"
							 model="selected_date"
							 modify="true"
							 on-change="DayChanged()" />
			</td>
			<td class="arrows" ng-click="NextDay()" tooltip="{{::'FLEX_TIME_TRACKING_NEXT_DAY'|translate}}">
				<i class="material-icons" aria-hidden="true">chevron_right</i>
			</td>
			<td class="arrows" ng-click="NextWeek()" tooltip="{{::'FLEX_TIME_TRACKING_NEXT_WEEK'|translate}}">
				<i class="material-icons" aria-hidden="true" style="margin-right:-20px;">chevron_right</i>
				<i class="material-icons" aria-hidden="true">chevron_right</i>
			</td>
			<td class="arrows" ng-click="NextMonth()" tooltip="{{::'FLEX_TIME_TRACKING_NEXT_MONTH'|translate}}">
				<i class="material-icons" aria-hidden="true" style="margin-right:-20px;">chevron_right</i>
				<i class="material-icons" aria-hidden="true">chevron_right</i>
				<i class="material-icons" aria-hidden="true" style="margin-left:-20px;">chevron_right</i>
			</td>
		</tr>
	</table>
	<table materialize class="time-inputs">
		<tr>
			<th>&nbsp;</th>
			<th colspan="3" style="width:64px;">{{::'FLEX_TIME_TRACKING_START_TIME'|translate}}</th>
			<th class="dash">&nbsp;</th>
			<th colspan="3" style="width:64px;">{{::'FLEX_TIME_TRACKING_END_TIME'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th colspan="4" style="text-align:center;">{{::'FLEX_TIME_TRACKING_LUNCH_BREAK'|translate}}</th>
			<th class="space">&nbsp;</th>
			<th colspan="4" style="text-align:center;">{{::'FLEX_TIME_TRACKING_WORK_HOURS'|translate}}</th>
			<th colspan="3">&nbsp;</th>
		</tr>
		<tr ng-repeat-start="flex_row in flexDay.flex_rows" ng-class="{grey:flex_row.special>0}" ng-if="flex_row.type==0">
			<td class="reporting_special">
				<input-smart type="select"
							 model="flex_row.special"
							 modify="true"
							 options="flexDay.special_list"
							 option-name="name"
							 option-value="value"
							 option-icon="icon"
							 single-value="true"
							 icon-only="true"
							 on-change="SpecialChanged" />
			</td>
			<td class="hours" ng-class="{order_conflict:flex_row.order_conflict,start_conflict:flex_row.start_conflict}">
				<input-smart type="string"
							 model="flex_row.start.hours"
							 modify="true"
							 placeholder="h"
							 ng-keyup="ParseHours(flex_row.start, flex_row, true, false)" />
			</td>
			<td class="colon" ng-class="{order_conflict:flex_row.order_conflict,start_conflict:flex_row.start_conflict}">:</td>
			<td class="minutes" ng-class="{order_conflict:flex_row.order_conflict,start_conflict:flex_row.start_conflict}">
				<input-smart type="string"
							 model="flex_row.start.minutes"
							 modify="true"
							 placeholder="m"
							 ng-keyup="ParseMinutes(flex_row.start, flex_row, true)" />
			</td>
			<td class="dash" ng-class="{order_conflict:flex_row.order_conflict}">-</td>
			<td class="hours" ng-class="{order_conflict:flex_row.order_conflict,end_conflict:flex_row.end_conflict}">
				<input-smart type="string"
							 model="flex_row.end.hours"
							 modify="true"
							 placeholder="h"
							 ng-keyup="ParseHours(flex_row.end, flex_row, true, true)" />
			</td>
			<td class="colon" ng-class="{order_conflict:flex_row.order_conflict,end_conflict:flex_row.end_conflict}">:</td>
			<td class="minutes" ng-class="{order_conflict:flex_row.order_conflict,end_conflict:flex_row.end_conflict}">
				<input-smart type="string"
							 model="flex_row.end.minutes"
							 modify="true"
							 placeholder="m"
							 ng-keyup="ParseMinutes(flex_row.end, flex_row, true)" />
			</td>
			<td class="space">&nbsp;</td>
			<td class="lunch-hours" ng-class="{lunch_conflict:flex_row.lunch_conflict}">
				<input-smart type="string"
							 model="flex_row.lunch.hours"
							 modify="true"
							 placeholder="h"
							 ng-keyup="ParseHours(flex_row.lunch, flex_row, false, false)" />
			</td>
			<td class="h" ng-class="{lunch_conflict:flex_row.lunch_conflict}">h</td>
			<td class="lunch-minutes" ng-class="{lunch_conflict:flex_row.lunch_conflict}">
				<input-smart type="string"
							 model="flex_row.lunch.minutes"
							 modify="true"
							 placeholder="m"
							 ng-keyup="ParseMinutes(flex_row.lunch, flex_row, false)" />
			</td>
			<td class="m" ng-class="{lunch_conflict:flex_row.lunch_conflict}">m</td>
			<td class="space">&nbsp;</td>
			<td class="work-hours">
				<input-smart type="string"
							 model="flex_row.work.hours"
							 modify="false"
							 placeholder="h" />
			</td>
			<td class="h">h</td>
			<td class="work-minutes">
				<input-smart type="string"
							 model="flex_row.work.minutes"
							 modify="false"
							 placeholder="m" />
			</td>
			<td class="m">m</td>
			<td class="space">&nbsp;</td>
			<td class="comment" ng-click="flex_row.show_comment=!flex_row.show_comment"><i class="material-icons" aria-hidden="true">{{flex_row.comment_icon}}</i></td>
			<td class="delete" ng-if="!flex_row.new_row">
				<div class="btn ng-isolate-scope btn-icon waves-effect waves-circle" ng-click="Delete(flex_row.flex_row_item_id)" type="icon" tabindex="0">
					<i class="material-icons ng-scope" aria-hidden="true">delete</i>
				</div>
			</td>
			<td class="add" ng-if="flex_row.new_row">
				<input-button type="primary" ng-click="Add()" modify="adding == 0">{{::'ADD'|translate}}</input-button>
			</td>
		</tr>
		<tr class="correction" ng-if="flex_row.type==1">
			<td colspan="14" class="title">{{::'FLEX_TIME_TRACKING_CORRECTION_ROW'|translate}}</td>
			<td class="work-hours">
				<input-smart type="string"
							 model="flex_row.work.hours"
							 modify="false"
							 placeholder="h" />
			</td>
			<td class="h">h</td>
			<td class="work-minutes">
				<input-smart type="string"
							 model="flex_row.work.minutes"
							 modify="false"
							 placeholder="m" />
			</td>
			<td class="m">m</td>
			<td class="space">&nbsp;</td>
			<td class="comment" ng-click="flex_row.show_comment=!flex_row.show_comment"><i class="material-icons" aria-hidden="true">{{flex_row.comment_icon}}</i></td>
			<td>&nbsp;</td>
		</tr>
		<tr ng-repeat-end ng-show="flex_row.show_comment" class="comment">
			<td colspan="21">
				<input-smart type="text"
							 model="flex_row.comment"
							 modify="flex_row.type==0"
							 rows="7"
							 label="{{::'FLEX_TIME_TRACKING_COMMENT'|translate}}"
							 ng-keyup="CommentChanged(flex_row)" />
			</td>
		</tr>
		<tr>
			<td colspan="9" class="balance-total"></td>
			<td colspan="9" class="day_hours"></td>
			<td>&nbsp;</td>
			<td colspan="2" class="day_hours_diff"></td>
		</tr>
	</table>
</div>