<tabs>
	<tab ng-repeat="portfolio in portfolios"
		 label="{{::portfolio.translation | translateObject}}"
		 on-click="loadPortfolio"
		 entity="{{::$index}}"
		 id="{{::id}}-{{::$index}}">
	</tab>
</tabs>