﻿<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
            <tr>
                <th>Type</th>
                <th>Process</th>
                <th>View for link</th>
                <th>Column / param for link</th>
                <th class="icon">
                    <input-button type="icon" ng-click="addNotificationTags()">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows" table-select-row="{'item_id': row.item_id, 'index': $index }">
                <td>
                    <input-smart-table type="select" single-value="true" model="row.tag_type" options="[{value: 0, name: 'PROCESS' },{value: 1, name: 'TODAY' },{value: 2, name: 'FULLLINK' }, {value: 3, name: 'CUSTOMLINK' }, {value: 4, name: 'PARENTLINK' }, {value: 5, name: 'USER_COLUMN' },  {value: 6, name: 'SENDER_COLUMN' }]" option-name="name" option-value="value" modify="true" on-change="changeValue" on-change-parameters="row">
                    </input-smart-table>
                </td>
                <td>
                    <div ng-if="row.tag_type == 0">
                        <input-smart-table type="select" single-value="true" model="row.process_name" options="processes" option-name="LanguageTranslation" option-value="ProcessName" modify="true" on-change="changeProcess" on-change-parameters="row">
                        </input-smart-table>
                    </div>
                </td>
                <td>
                    <div ng-if="row.tag_type == 3 || row.tag_type == 4">
                    <input-smart-table type="string" model="row.view_state" on-change="changeValue" on-change-parameters="row" class="ng-hide">
                    </input-smart-table>
                    </div>
                </td>
                <td>
                    <div ng-if="(row.tag_type == 0 || row.tag_type == 5 || row.tag_type == 6) && row.process_name.length > 0">
                    <input-smart-table type="select" watch-options="true" single-value="true" model="row.item_column_id" options="columnsSortedByProcess[row.process_name]" option-name="LanguageTranslation" option-value="ItemColumnId" modify="true" on-change="changeValue" on-change-parameters="{'item_id': row.item_id}" ></input-smart-table>
                    </div>
                    <div ng-if="row.tag_type == 3 || row.tag_type == 4">
                    <input-smart-table type="string" model="row.link_param" on-change="changeValue" on-change-parameters="row">
                    </input-smart-table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>

