﻿<div class="notifications">
    <table-container>
        <table materialize>
            <thead>
                <tr>
                    <th class="icon"></th>
                    <th translate="NOTIFICATION_TAGS"></th>
                    <th class="icon">
                        <input-button type="icon" ng-click="addNewTag()">
                            <i class="material-icons" aria-hidden="true">add</i>
                        </input-button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows">
                    <td>
                        <input-button type="icon" ng-click="editRow(row['item_id'], row['list_item'])">
                            <i class="material-icons" aria-hidden="true">launch</i>
                        </input-button>
                    </td>
                    <td>
						<input-smart-table type="string" model="row.list_item" modify="edit" on-change="changeValue" on-change-parameters="{'id': row.item_id}"></input-smart-table></td>
                    <td>
	                    <input-button type="icon" ng-click="deleteTag(row['item_id'], $index)">
		                    <i class="material-icons" aria-hidden="true">delete</i>
	                    </input-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table-container>
</div>
