<table-container>
	<table materialize>
		<thead>
			<tr>
				<th class="icon"></th>
				<th ng-bind="::'CALENDAR_NAME' | translate"></th>
				<th ng-bind="::'NUMBER_OF_USERS' | translate"></th>
				<th ng-bind="::'DESCRIPTION' | translate"></th>
				<th class="icon">
					<input-button type="icon" ng-click="addCalendar();">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="calendar in calendars">
				<td>
					<input-button type="icon" no-waves ng-click="showCalendar(calendar.CalendarId);">
						<i class="material-icons" aria-hidden="true">launch</i>
					</input-button>
				</td>
				<td ng-bind="::calendar.CalendarName"></td>
				<td ng-bind="::calendar.UserCount"></td>
				<td ng-bind="::calendar.Description"></td>
				<td>
					<input-button type="icon" ng-click="deleteCalendar(calendar.CalendarId)">
						<i class="material-icons" aria-hidden="true">delete</i>
					</input-button>
				</td>
			</tr>
		</tbody>
	</table>
</table-container>
<input-button class="stretch"
			  ng-if="!moreIsShown"
			  ng-click="showUserCalendars()"
			  ng-bind="::'CALENDAR_SHOW_USER_CALENDARS' | translate">
</input-button>