﻿<div class="row">
	<div class="col-xs-12 col-lg-6">
		<div class="row">
			<input-smart class="col-xs-6 col-lg-12"
			             max="1"
			             type="user"
			             model="[calendar.ItemId]"
			             modify="false"
			             label="CALENDAR_OWNER"
			             ng-if="::!isBaseCalendar">
			</input-smart>
			<input-smart class="col-xs-6 col-lg-12"
			             type="string"
			             model="calendar.CalendarName"
			             modify="write"
			             on-change="calendarChanged"
			             label="CALENDAR_NAME">
			</input-smart>

			<input-smart class="col-xs-6 col-lg-12"
			             type="select"
			             ng-if="::!isBaseCalendar"
			             modify="::!isBaseCalendar && write"
			             model="calendar.ParentCalendarId"
			             options="calendars"
			             option-value="CalendarId"
			             option-name="CalendarName"
			             label="BASE_CALENDAR"
			             on-change="calendarChanged"
			             single-value="true"
			             on-change-parameters="{reload: true}">
			</input-smart>
			<input-smart class="col-xs-6 col-lg-12"
			             type="string"
			             modify="write"
			             model="calendar.Description"
			             on-change="calendarChanged"
			             label="DESCRIPTION">
			</input-smart>
		</div>
	</div>
	<div class="col-xs-12 col-lg-6">
		<div class="row">
			<div class="col-xs-6">
				<div class="align-row">
					<container-header class="col-xs-7" ng-bind="::'CALENDAR_MY_CALENDAR' | translate"></container-header>
					<menu class="align-item-end" options="weekendsOptions" ng-if="::!calendar.BaseCalendar && write"></menu>
				</div>
				<input-smart type="checkbox"
				             minimal
				             modify="!lockWeekends"
				             manual-save
				             ng-repeat="d in ::weekendsLooper"
				             model="weekends[d.model]"
				             option-false="1"
				             option-true="0"
				             on-change="recalculateWeeklyHours"
				             label="{{::d.label}}">
				</input-smart>
				<div class="align-row">
					<input-smart class="col-xs-7"
					             type="decimal"
					             manual-save
					             modify="!lockWorkHours"
					             model="userWorkHours"
					             label="CALENDAR_WORK_HOURS">
					</input-smart>
					<menu class="align-item-end" options="workHoursOptions" ng-if="::!calendar.BaseCalendar && write"></menu>
				</div>
				<div class="align-row">
					<input-smart class="col-xs-7"
					             type="decimal"
					             manual-save
					             modify="!lockTimesheetHours"
					             model="userTimesheetHours"
					             on-change="recalculateWeeklyHours"
					             label="CALENDAR_TIMESHEET_HOURS">
					</input-smart>
					<menu class="align-item-end" options="timesheetHoursOptions" ng-if="::!calendar.BaseCalendar && write"></menu>
				</div>
				<div class="align-row">
					<input-smart class="col-xs-7"
					             type="decimal"
					             manual-save
					             modify="lockWeeklyHours >= 0"
					             model="userWeeklyHours"
					             label="CALENDAR_WEEKLY_HOURS">
					</input-smart>
					<menu class="align-item-end" options="weeklyHoursOptions" ng-if="write"></menu>
				</div>
			</div>
			<div class="col-xs-6" ng-if="::!isBaseCalendar">
				<container-header ng-bind="::'CALENDAR_BASE_CALENDAR' | translate"></container-header>
				<input-smart class="stretch"
				             type="checkbox"
				             minimal
				             modify="false"
				             manual-save
				             ng-repeat="d in ::weekendsLooper"
				             model="parentWeekends[d.model]"
				             option-false="1"
				             option-true="0"
				             label="{{::d.label}}">
				</input-smart>
				<input-smart class="col-xs-7"
				             manual-save
				             type="decimal"
				             model="parentCalendar.WorkHours"
				             modify="false"
				             label="CALENDAR_WORK_HOURS">
				</input-smart>
				<input-smart class="col-xs-7"
				             manual-save
				             type="decimal"
				             model="parentCalendar.TimesheetHours"
				             modify="false"
				             label="CALENDAR_TIMESHEET_HOURS">
				</input-smart>
			</div>
		</div>
		<div class="align-row end" ng-if="write">
			<input-button type="primary" ng-click="saveWeekends()" ng-bind="::'CALENDAR_CHANGE' | translate"></input-button>
		</div>
	</div>
</div>
<divider></divider>
<table-header ng-bind="::'CALENDAR_SELECT_YEAR' | translate"></table-header>
<table materialize style="width:auto !important;">
	<tr>
		<th style="width:24px; text-align:center;" ng-click="prevYear()" tooltip="{{::'CALENDAR_PREV_YEAR'|translate}}">
			<i class="material-icons" aria-hidden="true">chevron_left</i>
		</th>
		<th style="width:55px; text-align:center;">
			<container-header style="display:block; padding-right:0px;">{{selectedYear}}</container-header>
		</th>
		<th style="width:24px; text-align:center;" ng-click="nextYear()" tooltip="{{::'CALENDAR_NEXT_YEAR'|translate}}">
			<i class="material-icons" aria-hidden="true">chevron_right</i>
		</th>
	</tr>
</table>
<div class="row">
	<div class="col-xs-12 col-lg-6">
		<table-header ng-bind="::'CALENDAR_VACATIONS' | translate"></table-header>
		<table materialize table-selected-rows="selectedEvents">
			<thead>
			<tr>
				<th style="width: 50%" ng-bind="::'CALENDAR_VACATION_NAME' | translate"></th>
				<th ng-bind="::'CALENDAR_DATE' | translate"></th>
				<th class="icon" ng-if="addVacationRight">
					<input-button type="icon" ng-click="addVacation()">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="vacation in vacations" table-select-row="vacation.CalendarEventId" modify="!vacation.isNew && !vacation.isParent && !vacation.isReadOnly && addVacationRight">
				<td>
					<input-smart-table type="string"
					                   manual-save
					                   model="vacation.Name"
					                   modify="!vacation.isParent && !vacation.isReadOnly && addVacationRight"
					                   on-change="eventChanged"
					                   on-change-parameters="vacation.CalendarEventId">
					</input-smart-table>
				</td>
				<td colspan="2" style="display:flex">
					<input-smart-table type="date"
					                   manual-save
					                   modify="!vacation.isParent && !vacation.isReadOnly && addVacationRight"
					                   model-start="vacation.EventStart"
                                       group="{{vacation.CalendarEventId}}"
					                   on-change="eventChanged"
					                   on-change-parameters="vacation.CalendarEventId">
					</input-smart-table>
					<div class="calendar-date-hyphen">̶̶</div>
                    <input-smart-table type="date"
                                       manual-save
                                       modify="!vacation.isParent && !vacation.isReadOnly && addVacationRight"
                                       model-end="vacation.EventEnd"
									   group="{{vacation.CalendarEventId}}"
                                       on-change="eventChanged"
                                       on-change-parameters="vacation.CalendarEventId">
                    </input-smart-table>
				</td>
			</tr>
			<tr ng-if="!vacations.length">
				<td colspan="4" class="align-center no-select" ng-bind="::'CALENDAR_EMPTY_ROW' | translate"></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-lg-6">
		<table-header ng-bind="::'CALENDAR_WORK_DAYS' | translate"></table-header>
		<table-container>
			<table materialize table-selected-rows="selectedEvents">
				<thead>
				<tr>
					<th style="width: 50%" ng-bind="::'CALENDAR_WORK_DAY_NAME' | translate"></th>
					<th ng-bind="::'CALENDAR_DATE' | translate"></th>
					<th class="icon">
						<input-button type="icon" ng-click="addWorkDay()" ng-if="addWorkDayRight">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="workDay in workDays"
				    table-select-row="workDay.CalendarEventId"
				    modify="!workDay.isNew && !workDay.isParent && !workDay.isReadOnly && addWorkDayRight">
					<td>
						<input-smart-table type="string"
						                   manual-save
						                   modify="!workDay.isParent && !workDay.isReadOnly && addWorkDayRight"
						                   model="workDay.Name"
						                   on-change="eventChanged"
						                   on-change-parameters="workDay.CalendarEventId">
						</input-smart-table>
					</td>
					<td colspan="2">
						<input-smart-table type="date"
						                   manual-save
						                   modify="!workDay.isParent && !workDay.isReadOnly && addWorkDayRight"
						                   model="workDay.EventStart"
						                   on-change="eventChanged"
						                   on-change-parameters="workDay.CalendarEventId">
						</input-smart-table>
					</td>
				</tr>
				<tr ng-if="!workDays.length">
					<td colspan="4" class="align-center no-select" ng-bind="::'CALENDAR_EMPTY_ROW' | translate"></td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-lg-6">
		<table-header ng-bind="::'CALENDAR_NATIONAL_HOLIDAYS' | translate"></table-header>
		<table-container>
			<table materialize table-selected-rows="selectedEvents">
				<thead>
				<tr>
					<th style="width: 50%" ng-bind="::'CALENDAR_NATIONAL_HOLIDAY_NAME' | translate"></th>
					<th ng-bind="::'CALENDAR_DATE' | translate"></th>
					<th class="icon">
						<input-button type="icon" ng-click="addNationalHoliday()" ng-if="::calendar.BaseCalendar && write">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="nationalHoliday in nationalHolidays"
				    table-select-row="nationalHoliday.CalendarEventId"
				    modify="calendar.BaseCalendar && !nationalHoliday.isNew &&!nationalHoliday.isReadOnly">
					<td>
						<input-smart-table type="string"
						                   manual-save
						                   modify="calendar.BaseCalendar && !nationalHoliday.isReadOnly"
						                   model="nationalHoliday.Name"
						                   on-change="eventChanged"
						                   on-change-parameters="nationalHoliday.CalendarEventId">
						</input-smart-table>
					</td>
					<td colspan="2">
						<input-smart-table type="date"
						                   manual-save
						                   modify="calendar.BaseCalendar && !nationalHoliday.isReadOnly"
						                   model="nationalHoliday.EventStart"
						                   on-change="eventChanged"
						                   on-change-parameters="nationalHoliday.CalendarEventId">
						</input-smart-table>
					</td>
				</tr>
				<tr ng-if="!nationalHolidays.length">
					<td colspan="4" class="align-center no-select" ng-bind="::'CALENDAR_EMPTY_ROW' | translate"></td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</div>

	<div class="col-xs-12 col-lg-6">
		<table-header ng-bind="::'CALENDAR_STATIC_HOLIDAYS' | translate"></table-header>
		<table-container>
			<table materialize table-selected-rows="selectedEvents">
				<thead>
				<tr>
					<th class="icon"></th>
					<th style="width: 50%" ng-bind="::'CALENDAR_STATIC_HOLIDAY_NAME' | translate"></th>
					<th ng-bind="::'CALENDAR_DATE' | translate"></th>
					<th class="icon" ng-if="::calendar.BaseCalendar && write">
						<input-button type="icon" ng-click="addStaticHoliday()">
							<i class="material-icons" aria-hidden="true">add</i>
						</input-button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="holiday in staticHolidays"
					table-select-row="'s_'+holiday.CalendarStaticHolidayId"
					modify="calendar.BaseCalendar && !holiday.isNew &&!holiday.isReadOnly">
					<td class="icon"></td>
					<td>
						<input-smart-table type="string"
						                   manual-save
						                   modify="calendar.BaseCalendar && !holiday.isReadOnly"
						                   model="holiday.Name"
						                   on-change="staticHolidayChanged"
						                   on-change-parameters="holiday.CalendarStaticHolidayId">
						</input-smart-table>
					</td>
					<td colspan="2">
						<input-smart-table type="select"
						                   options="monthDateOptions"
						                   parent="parent"
						                   manual-save
						                   self="value"
						                   single-value
						                   modify="calendar.BaseCalendar && !holiday.isReadOnly"
						                   model="holiday.date"
						                   on-change="staticHolidayChanged"
						                   on-change-parameters="holiday.CalendarStaticHolidayId">
						</input-smart-table>
					</td>
				</tr>
				<tr ng-if="!staticHolidays.length">
					<td colspan="4" class="align-center no-select" ng-bind="::'CALENDAR_EMPTY_ROW' | translate"></td>
				</tr>
				</tbody>
			</table>
		</table-container>
	</div>
</div>
