<div class="align-row start">
	<input-button ng-click="deleteSelections()"
				  type="primary"
				  modify="selectedEvents.length"
				  loading="deleting"
				  ng-bind="::'DELETE' | translate">
	</input-button>
	<input-button ng-click="clearSelections()"
				  modify="selectedEvents.length"
				  ng-bind="::'CLEAR' | translate">
	</input-button>
</div>