<style>
	.colour-block {
		display: inline-block;
		width: 8px;
		min-width: 8px;
		height: 24px;
		margin: 0 8px 0 16px;
	}

	.colour-block-selected div {
        background-color:#ccc;
	}

    .colour-block-selected span {
		color:#ccc;
    }
</style>
<div class="allocation-legend-footbar no-select">
<div class="flex align-row">
	<div class="flex align-row start">
		<input-button ng-click="deleteCondition()" ng-if="selectedRows.length > 0"><div translate="DELETE"></div></input-button>
		<input-button ng-click="changeGroupName()" ng-if="selectedGroupId > 0"><div translate="CHANGE_CONDITION_GROUP"></div></input-button>
		<input-button ng-click="addCondition(selectedGroupId)"><div translate="ADD_CONDITION"></div></input-button>
		<div class="align-row pointer no-select" ng-click="toggleConditions('phase')" ng-class="{ 'colour-block-selected': inactiveStatus['phase']}">
			<div class="colour-block background-deepPurple" ></div>
			<span ng-bind="::'PHASE' | translate"></span>
		</div>

		<div class="align-row pointer no-select" ng-click="toggleConditions('tab')" ng-class="{ 'colour-block-selected': inactiveStatus['tab']}">
			<div class="colour-block background-blue"></div>
			<span ng-bind="::'TAB' | translate"></span>
		</div>

		<div class="align-row pointer no-select" ng-click="toggleConditions('container')" ng-class="{ 'colour-block-selected': inactiveStatus['container']}">
			<div class="colour-block background-cyan"></div>
			<span ng-bind="::'CONDITION_CONTAINERS' | translate"></span>
		</div>

		<div class="align-row pointer no-select" ng-click="toggleConditions('portfolio')" ng-class="{ 'colour-block-selected': inactiveStatus['portfolio']}">
			<div class="colour-block background-green"></div>
			<span ng-bind="::'PAGE_PORTFOLIO' | translate"></span>
		</div>

		<div class="align-row pointer no-select" ng-click="toggleConditions('user_group')" ng-class="{ 'colour-block-selected': inactiveStatus['user_group']}">
			<div class="colour-block background-red"></div>
			<span ng-bind="::'USER_2_UG' | translate"></span>
		</div>
	</div>
	</div>
</div>
	<div class="flex align-row end" style="position: relative">
		  <input-button ng-click="conditionSortDialog()" ng-show="!sortMode"><div translate="SORT_CONDITIONS"></div></input-button>
		  <input-button ng-click="clearSortConditions()" ng-show="sortMode"><div translate="CLEAR_SORT_CONDITIONS"></div></input-button>
		<div style="width: 300px">
			<input-smart-table
					type="string"
					model="$parent.searchText"
					placeholder="SEARCH_CONDITIONS"
					tooltip="SEARCH_CONDITIONS"
					on-change="searchConditions"
			></input-smart-table>
		</div>
		<!--  <input-button ng-click="copyCondition()"><div translate="COPY_CONDITION"></div></input-button>
		  <input-button ng-click="moveCondition()"><div translate="MOVE_CONDITION"></div></input-button>
		  <input-button ng-click="addNewGroup()"><div translate="ADD_NEW_CONDITION_GROUP"></div></input-button>-->
	</div>


