﻿<dialog-content>
	<dialog-title>
		<h2 translate="EDIT_CONDITION"></h2>
	</dialog-title>
	<dialog-container>
		<form name="conditionDialog">
			<input-smart type="select"
						 manual-save
						 model="conditionItemType"
						 modify="true"
						 required-field="true"
						 label="CONDITION_TYPE"
						 on-change="changeValueType"
						 on-change-parameters="{'ConditionType': conditionItem.ConditionTypeId}"
						 options="conditionTypes"
						 option-value="ConditionTypeId"
						 option-name="ConditionTypeName"
						 single-value="true">
			</input-smart>
			<div ng-if="conditionItem.ConditionTypeId == 1">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ItemColumnId"
							 modify="true"
							 required-field="true"
							 label="FIELD"
							 on-change="changeValue"
							 on-change-parameters="{'itemColumnId': conditionItem.Condition.ItemColumnId, 'index': $index, parent_index: $parent.$index, 'type': 'condition'}"
							 options="itemColumns"
							 option-value="ItemColumnId"
							 option-name="TranslationWithType"
							 single-value="true">
				</input-smart>
				<div ng-if="listOptions[conditionItem.Condition.ItemColumnId]">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ComparisonTypeId"
								 modify="true"
								 required-field="true"
								 label="OPERATOR"
								 on-change="changeValue"
								 options="[{value: 3, name: '='}, {value: 6, name: '!'}]"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.Value"
								 required-field="true"
								 label="VALUE"
								 on-change="changeValue"
								 watch-options="true"
								 option-value="item_id"
								 option-name="list_item"
								 options="list[conditionItem.Condition.ItemColumnId]"
								 modify="true"
								 ng-if="list[conditionItem.Condition.ItemColumnId]"
								 max="0">
					</input-smart>
				</div>
                <div ng-if="varcharOptions[conditionItem.Condition.ItemColumnId]">
                    <input-smart type="select"
								 manual-save
                                 model="conditionItem.Condition.ComparisonTypeId"
                                 modify="true"
                                 required-field="true"
                                 label="OPERATOR"
                                 on-change="changeValue"
                                 options="[{value: 3, name: '='}, {value: 6, name: '!'}, {value: 7, name: 'Contains'}, {value: 8, name: 'StartsWith'}]"
                                 option-value="value"
                                 option-name="name"
                                 single-value="true">
                    </input-smart>
                    <input-smart type="select"
								 manual-save
                                 model="conditionItem.Condition.Value"
                                 required-field="true"
                                 label="VALUE"
                                 on-change="changeValue"
                                 watch-options="true"
                                 option-value="item_id"
                                 option-name="list_item"
                                 options="list[conditionItem.Condition.ItemColumnId]"
                                 modify="true"
                                 ng-if="list[conditionItem.Condition.ItemColumnId]"
                                 single-value="true">
                    </input-smart>
                </div>
				<div ng-if="!listOptions[conditionItem.Condition.ItemColumnId] && !varcharOptions[conditionItem.Condition.ItemColumnId] && !subqueryListOptions[conditionItem.Condition.ItemColumnId]">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ComparisonTypeId"
								 modify="true"
								 required-field="true"
								 label="OPERATOR"
								 on-change="changeValue"
								 options="comparisonOptions"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
				</div>
                <div ng-if="subqueryListOptions[conditionItem.Condition.ItemColumnId]">
                    <input-smart type="select"
                                 manual-save
                                 model="conditionItem.Condition.ComparisonTypeId"
                                 modify="true"
                                 required-field="true"
                                 label="OPERATOR"
                                 on-change="changeValue"
                                 options="[{value: 3, name: '='}, {value: 6, name: '!'}]"
                                 option-value="value"
                                 option-name="name"
                                 single-value="true">
                    </input-smart>
                    <input-smart type="select"
                                 manual-save
                                 model="conditionItem.Condition.Value"
                                 required-field="true"
                                 label="VALUE"
                                 on-change="changeValue"
                                 watch-options="true"
                                 option-value="item_id"
                                 option-name="list_item"
                                 options="list[conditionItem.Condition.ItemColumnId]"
                                 modify="true"
                                 ng-if="list[conditionItem.Condition.ItemColumnId]"
                                 max="0">
                    </input-smart>
                </div>                 
				<div ng-if="!listOptions[conditionItem.Condition.ItemColumnId] && !isDate && !subqueryListOptions[conditionItem.Condition.ItemColumnId]">
					<input-smart type="string"
								 manual-save
								 model="conditionItem.Condition.Value"
								 required-field="true"
								 label="VALUE"
								 on-change="changeValue"
								 modify="true">
					</input-smart>
				</div>
			</div>
			<div ng-if="conditionItem.ConditionTypeId == 2">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ConditionId"
							 modify="true"
							 required-field="true"
							 label="EXISTING_CONDITION"
							 on-change="changeValue"
							 options="existingConditions"
							 option-value="ConditionId"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ComparisonTypeId"
							 modify="true"
							 required-field="true"
							 label="OPERATOR"
							 on-change="changeValue"
							 options="[{value: 3, name: '='}]"
							 option-value="value"
							 option-name="name"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.Value"
							 required-field="true"
							 label="VALUE"
							 on-change="changeValue"
							 options="booleanOptions"
							 option-value="value"
							 option-name="name"
							 modify="true"
							 single-value="true">
				</input-smart>
			</div>
			<div ng-if="conditionItem.ConditionTypeId == 3">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ItemColumnId"
							 modify="true"
							 required-field="true"
							 label="FIELD"
							 on-change="changeValue"
							 on-change-parameters="{'itemColumnId': conditionItem.Condition.ItemColumnId, cond: conditionItem, 'index': $index, parent_index: $parent.$index, 'type': 'condition', 'userConditionColumnChanged': true }"
							 options="itemColumns"
							 option-value="ItemColumnId"
							 option-name="TranslationWithType"
							 single-value="true">
				</input-smart>
				<div ng-if="processOptions[conditionItem.Condition.ItemColumnId]">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.UserColumnTypeId"
								 required-field="true"
								 modify="true"
								 label="USER_COLUMN_TYPE"
								 on-change="changeValue"
								 options="processOptionsOptions"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
				</div>
				<!--<div ng-if="listOptions[conditionItem.Condition.ItemColumnId]">
					<input-smart type="select"
								 model="conditionItem.Condition.UserColumnId"
								 modify="true"
								 required-field="true"
								 label="LIST_USER_COLUMN"
								 on-change="changeValue"
								 options="listUserColumns[conditionItem.Condition.ItemColumnId]"
								 option-value="ItemColumnId"
								 option-name="Translation"
								 single-value="true"
								 ng-if="conditionItem.Condition.ItemColumnId">
					</input-smart>
				</div>-->
				<div ng-if="userProcess == 'user'">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.UserColumnTypeId"
								 required-field="true"
								 modify="true"
								 label="USER_COLUMN_TYPE"
								 on-change="changeValue"
								 options="allUserItemOptions"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
				</div>
				<div ng-if="userProcess != 'user' && !processOptions[conditionItem.Condition.ItemColumnId]">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.UserColumnTypeId"
								 required-field="true"
								 modify="true"
								 label="USER_COLUMN_TYPE"
								 on-change="changeValue"
								 options="oneUserItemOption"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
				</div>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ComparisonTypeId"
							 modify="true"
							 required-field="true"
							 label="OPERATOR"
							 on-change="changeValue"
							 options="[{value: 3, name: '='}]"
							 option-value="value"
							 option-name="name"
							 single-value="true">
				</input-smart>
				<div ng-if="conditionItem.Condition.UserColumnTypeId == 1">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.UserColumnId"
								 modify="true"
								 required-field="true"
								 label="User Process field"
								 watch-options="true"
								 on-change="changeValue"
								 options="matchingUserList"
								 option-value="ItemColumnId"
								 option-name="LanguageTranslation"
								 single-value="true">
					</input-smart>
				</div>
			</div>
			<div ng-if="conditionItem.ConditionTypeId == 4">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ParentItemColumnId"
							 modify="true"
							 required-field="true"
							 label="PARENT_FIELD"
							 on-change="changeValue"
							 options="itemColumns"
							 option-value="ItemColumnId"
							 option-name="TranslationWithType"
							 single-value="true">
				</input-smart>
				<div >
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ItemColumnId"
								 modify="true"
								 required-field="true"
								 label="FIELD"
								 on-change="changeValue"
								 on-change-parameters="{'itemColumnId': conditionItem.Condition.ItemColumnId, 'index': $index, parent_index: $parent.$index, 'type': 'condition'}"
								 options="itemColumns"
								 option-value="ItemColumnId"
								 option-name="TranslationWithType"
								 single-value="true">
					</input-smart>
					<div ng-if="listOptions[conditionItem.Condition.ItemColumnId] || varcharOptions[conditionItem.Condition.ItemColumnId] ">
						<input-smart type="select"
									 manual-save
									 model="conditionItem.Condition.ComparisonTypeId"
									 modify="true"
									 required-field="true"
									 label="OPERATOR"
									 on-change="changeValue"
									 options="[{value: 3, name: '='}, {value: 6, name: '!'}]"
									 option-value="value"
									 option-name="name"
									 single-value="true">
						</input-smart>
						<input-smart type="select"
									 manual-save
									 model="conditionItem.Condition.Value"
									 required-field="true"
									 label="VALUE"
									 on-change="changeValue"
									 option-value="item_id"
									 option-name="list_item"
									 options="list[conditionItem.Condition.ItemColumnId]"
									 modify="true"
									 ng-if="list[conditionItem.Condition.ItemColumnId]"
									 single-value="true">
						</input-smart>
					</div>
					<div ng-if="!listOptions[conditionItem.Condition.ItemColumnId] && !varcharOptions[conditionItem.Condition.ItemColumnId]">
						<input-smart type="select"
									 manual-save
									 model="conditionItem.Condition.ComparisonTypeId"
									 modify="true"
									 required-field="true"
									 label="OPERATOR"
									 on-change="changeValue"
									 options="comparisonOptions"
									 option-value="value"
									 option-name="name"
									 single-value="true">
						</input-smart>
					</div>
					<div ng-if="!listOptions[conditionItem.Condition.ItemColumnId] && !isDate">
						<input-smart type="string"
									 manual-save
									 model="conditionItem.Condition.Value"
									 required-field="true"
									 label="VALUE"
									 on-change="changeValue"
									 modify="true">
						</input-smart>
					</div>
				</div>				
				
			</div>
			<div ng-if="conditionItem.ConditionTypeId == 5">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.Process"
							 modify="true"
							 required-field="true"
							 label="Subprocess"
							 on-change="changeValue"
							 on-change-parameters="{'process': conditionItem.Condition.Process}"
							 options="processSubprocesses"
							 option-value="Process"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ItemColumnId"
							 modify="true"
							 required-field="true"
							 label="Item column 2"
							 on-change="changeValue"
							 options="itemColumnsParent[conditionItem.Condition.Process]"
							 option-value="ItemColumnId"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.UserColumnTypeId"
							 required-field="true"
							 modify="true"
							 label="USER_COLUMN_TYPE"
							 on-change="changeValue"
							 options="allUserItemOptions"
							 option-value="value"
							 option-name="name"
							 single-value="true">
				</input-smart>
			</div>
			<div ng-if="conditionItem.ConditionTypeId == 6">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ItemColumnId"
							 modify="true"
							 required-field="true"
							 label="FIELD"
							 on-change="changeValue"
							 on-change-parameters="{'itemColumnId': conditionItem.Condition.ItemColumnId, 'index': $index, parent_index: $parent.$index, 'type': 'condition'}"
							 options="itemColumns"
							 option-value="ItemColumnId"
							 option-name="TranslationWithType"
							 single-value="true">
				</input-smart>
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ComparisonTypeId"
								 modify="true"
								 required-field="true"
								 label="OPERATOR"
								 on-change="changeValue"
								 options="[{value: 3, name: '='}, {value: 6, name: '!'}]"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.UserColumnTypeId"
							 required-field="true"
							 modify="true"
							 label="USER_COLUMN_TYPE"
							 on-change="changeValue"
							 options="oneUserItemOption"
							 option-value="value"
							 option-name="name"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.UserColumnId"
							 modify="true"
							 required-field="true"
							 label="FIELD"
							 on-change="changeValue"
							 on-change-parameters="{'itemColumnId': conditionItem.Condition.ItemColumnId, 'index': $index, parent_index: $parent.$index, 'type': 'condition'}"
							 options="matchingUserList"
							 option-value="ItemColumnId"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				</div>
				<div ng-if="conditionItem.ConditionTypeId == 7">
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ItemColumnId"
								 modify="true"
								 required-field="true"
								 label="VACATION_START_DATE"
								 on-change="changeValue"
								 options="dateColumns"
								 option-value="ItemColumnId"
								 option-name="LanguageTranslation"
								 single-value="true">
					</input-smart>
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ItemColumnId2"
								 modify="!isCurrentDate"
								 label="VACATION_END_DATE"
								 on-change="changeValue"
								 options="dateColumns"
								 option-value="ItemColumnId"
								 option-name="LanguageTranslation"
								 single-value="true">
					</input-smart>
					<input-smart type="checkbox"
								 model="$parent.isCurrentDate"
								 modify="true"
								 label="USE_CURRENT_DATE"
								 on-change-parameters="conditionItem.Condition"
								 on-change="setCurrentDate">
					</input-smart>
					<input-smart type="select"
								 manual-save
								 model="conditionItem.Condition.ComparisonTypeId"
								 modify="true"
								 required-field="true"
								 label="OPERATOR"
								 on-change="changeValue"
								 options="comparisonOptions"
								 option-value="value"
								 option-name="name"
								 single-value="true">
					</input-smart>
					<input-smart type="string"
								 manual-save
								 model="conditionItem.Condition.Value"
								 required-field="true"
								 label="DATE_DIFF_VALUE"
								 on-change="changeValue"
								 modify="true">
					</input-smart>
				</div>
				<div ng-if="isDate && conditionItem.ConditionTypeId != 7">
					<input-smart type="date"
								 manual-save
								 model="conditionItem.Condition.Value"
								 modify="true"
								 required-field="true"
								 label="VALUE"
								 on-change="changeValue"
								 single-value="true">
					</input-smart>
				</div>
			<div ng-if="conditionItem.ConditionTypeId == 8">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ParentProcess"
							 modify="true"
							 required-field="true"
							 label="LINK_PROCESS"
							 on-change="getParentConditions"
							 options="processes"
							 option-value="ProcessName"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.LinkColumnId"
							 modify="true"
							 required-field="true"
							 label="LINK_COLUMN"
							 options="linkColumns"
							 watch-options="true"
							 option-value="ItemColumnId"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.ConditionId"
							 modify="true"
							 required-field="true"
							 label="PARENT_PROCESS_EXISTING_CONDITION"
							 on-change="changeValue"
							 options="parentConditions"
							 watch-options="true"
							 option-value="ConditionId"
							 option-name="LanguageTranslation"
							 single-value="true">
				</input-smart>
				<input-smart type="select"
							 manual-save
							 model="conditionItem.Condition.Value"
							 required-field="true"
							 label="VALUE"
							 on-change="changeValue"
							 options="booleanOptions"
							 option-value="value"
							 option-name="name"
							 modify="true"
							 single-value="true">
				</input-smart>
			</div>
			<div ng-if="index != 0">
				<input-smart type="select"
							 manual-save
							 model="conditionItem.OperatorId"
							 label="RELATION_TO_NEXT_COND"
							 modify="true"
							 required-field="true"
							 on-change="changeValue"
							 options="operatorNames"
							 option-value="OperatorId"
							 option-name="OperatorName"
							 single-value="true">
				</input-smart>
			</div>
			</form>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel(index, conditionItem)">Cancel</input-button>
	<input-button type="primary" modify="conditionDialog.$valid" ng-click="saveConditionFields()">Ok</input-button>
</dialog-actions>