<div class="flex align-row">
	<div class="flex align-row start">
<span ng-click="evaluateCondition()" style="cursor: pointer" tooltip="{{evaluationText}} {{activeResult.name}}">
	<div class="flex align-row end" ng-if="activeResult.value == 2">
        <i class="material-icons" style="color:grey;">playlist_play</i>
    </div>
    <div class="flex align-row end" ng-if="activeResult.value == 0">
        <i class="material-icons" style="color:red;">cancel</i>
    </div>
    <div class="flex align-row end" ng-if="activeResult.value == 1">
        <i class="material-icons" style="color:green;">check_circle</i>
    </div>
</span>
	</div>
	<div class="flex align-row start">
		<input-button ng-if="selectedFields.length > 0" ng-click="deleteConditionFields()">
			<div translate="DELETE"></div>
		</input-button>
	</div>
	<div class="flex align-row end">
		<input-button ng-click="addCondition()">
			<div translate="ADD_CONDITION_GROUP"></div>
		</input-button>
	</div>
</div>