﻿<div ng-if="searchText.length < 3 && !sortMode && !footBarSearch">
<tabs control="groupTabs" style="margin-bottom: 50px;" modify="true" move="true" create-function="addNewGroup()" first-disable-index="1" last-disable-index="{{thisProcessGroups.length - 1}}">
	<tab entity="{{group.ConditionGroupId}}" ng-repeat="group in thisProcessGroups track by $index" order-no="{{group.OrderNo}}" tab-save="orderSave" label="{{group.CurrentTranslation}}" on-click="deleteButtonAllow">
		<table-container>
			<table materialize table-selected-rows="selectedRows" condition_group_id="{{group.ConditionGroupId}}" style="margin-bottom: 32px;">
				<thead>
					<tr>
						<th class="icon"></th>
						<th style="min-width: 25%;" ><div translate="SELECT_NAME"></div></th>
						<th><div translate="SELECT_FEATURE"></div></th>
						<th><div translate="SELECT_STATE"></div></th>
						<th colspan="2"><div translate="PROCESS_RESTRICTIONS"></div></th>
                        <th class="align-center" colspan="2"><div translate="PROCESS_LOGIC"></div></th>
					</tr>
				</thead>
				<tbody sortable parent="group" on-sort="sortCondition" handler=".up-down-button">
					<tr sort="condition" ng-repeat="condition in conditions[group.ConditionGroupId] track by $index" label="condition.LanguageTranslation" table-select-row="{'id': condition.ConditionId, 'index': $index, ConditionGroupId: group.ConditionGroupId }" id="{{condition.ConditionId}}" index="{{$index}}" parent_index="{{group.ConditionGroupId}}" ng-disabled="!edit" ng-class="{'background-accent': $index == selectedCondition}" ng-if="conditions[group.ConditionGroupId].length > 0">
						<td class="icon">
							<input-button type="icon" class="up-down-button" minimal><i class="material-icons" aria-hidden="true">reorder</i></input-button>
						</td>
						<td>
							<input-smart-table type="translation" model="condition.LanguageTranslation" on-change="changeValue" on-change-parameters="{ConditionId: condition.ConditionId, ConditionGroupId: group.ConditionGroupId}" modify="true"></input-smart-table>
						</td>
						<td>
							<input-smart-table type="multiselect" model="condition.Features" modify="true" on-change="changeFeatureValue" on-change-parameters="{ConditionId: condition.ConditionId, index: $index, features: condition.Features, ConditionGroupId: group.ConditionGroupId}" options="features" option-value="name" option-name="translation">
							</input-smart-table>
						</td>
						<td>
							<input-smart-table watch-options="true" type="multiselect" model="condition.States" modify="true" on-change="changeValue" on-change-parameters="{ConditionId: condition.ConditionId, ConditionGroupId: group.ConditionGroupId}" options="conditionStates[condition.ConditionId]" option-name="translation" option-value="stateName" ng-if="conditionStates[condition.ConditionId].length > 0">
							</input-smart-table>
						</td>
						<td class="icon">
							<input-button type="icon" ng-click="openDialog(conditionId, condition, $index, $parent.$index, group.ConditionGroupId)">
								<i class="material-icons" aria-hidden="true">
									settings
								</i>
							</input-button>
						</td>
						<td>
                            <div class="card-chips">
	                            <chip class="minimal background-deepPurple" ng-repeat="groupId in condition.ProcessGroupIds">
		                            <chip-name class="minimal" tooltip="{{parseComma(groupTranslationIdMatches[groupId],$index,condition.ProcessGroupIds.length)}}">{{parseComma(groupTranslationIdMatches[groupId],$index,condition.ProcessGroupIds.length)}}</chip-name>
	                            </chip>
	                            <chip class="minimal background-blue" ng-repeat="tabId in condition.ProcessTabIds">
		                            <chip-name class="minimal" tooltip="{{parseComma(tabTranslationIdMatches[tabId],$index,condition.ProcessTabIds.length)}}">{{parseComma(tabTranslationIdMatches[tabId],$index,condition.ProcessTabIds.length)}}</chip-name>
	                            </chip>
                                <chip class="minimal background-cyan" ng-repeat="containerId in condition.ProcessContainerIds">
                                    <chip-name class="minimal" tooltip=" {{parseComma(containerTranslationIdMatches[containerId],$index,condition.ProcessContainerIds.length)}}">{{parseComma(containerTranslationIdMatches[containerId],$index,condition.ProcessContainerIds.length)}}</chip-name>
                                </chip>
	                            <chip class="minimal background-green" ng-repeat="portfolioId in condition.ProcessPortfolioIds">
		                            <chip-name class="minimal" tooltip=" {{parseComma(portfolioTranslationIdMatches[portfolioId],$index,condition.ProcessPortfolioIds.length)}}">{{parseComma(portfolioTranslationIdMatches[portfolioId],$index,condition.ProcessPortfolioIds.length)}}</chip-name>
	                            </chip>
	                            <chip class="minimal background-red" ng-repeat="userGroupId in condition.ItemIds">
		                            <chip-name class="minimal" tooltip=" {{parseComma(userGroupTranslationIdMatches[userGroupId],$index,condition.ItemIds.length)}}">{{parseComma(userGroupTranslationIdMatches[userGroupId],$index,condition.ItemIds.length)}}</chip-name>
	                            </chip>
                            </div>
						</td>
                        <td class="icon">
                            <input-button type="icon" minimal ng-click="showCondition(condition, condition.ConditionId, group.ConditionGroupId, condition.LanguageTranslation)">
                                <i class="material-icons" aria-hidden="true">
                                    settings_input_composite
                                </i>
                            </input-button>
                        </td>
						<td class="icon">
							<input-button type="icon" ng-click="toggleCondition(condition, group.ConditionGroupId)">
								<i class="material-icons" ng-if="!condition.Disabled">flash_on</i>
								<i class="material-icons" ng-if="condition.Disabled">flash_off</i>
							</input-button>
						</td>
					</tr>
					<tr ng-if="!conditions[group.ConditionGroupId] || conditions[group.ConditionGroupId].length == 0">
						<td colspan="10" class="align-center">No conditions added</td>
					</tr>
				</tbody>
			</table>
		</table-container>
	</tab>
</tabs>
</div>
<div ng-if="sortMode && !alphaSearch">
	<tabs control="groupTabs" style="margin-bottom: 50px;" modify="true" move="false" first-disable-index="1" last-disable-index="{{thisProcessGroups.length - 1}}">
		<tab entity="{{group.ConditionGroupId}}" ng-repeat="(key, value) in manualSortedGroups track by $index" order-no="{{group.OrderNo}}" tab-save="orderSave" label="{{::giveCustomGroupName(key)}}" on-click="deleteButtonAllow">
			<table-container>
				<table materialize table-selected-rows="selectedRows" condition_group_id="{{group.ConditionGroupId}}" style="margin-bottom: 32px;">
					<thead>
					<tr>
						<th style="min-width: 25%;" ><div translate="SELECT_NAME"></div></th>
						<th><div translate="SELECT_FEATURE"></div></th>
						<th><div translate="SELECT_STATE"></div></th>
						<th colspan="2"><div translate="PROCESS_RESTRICTIONS"></div></th>
						<th class="align-center" colspan="2"><div translate="PROCESS_LOGIC"></div></th>
					</tr>
					</thead>
					<tbody>
					<tr sort="condition" ng-repeat="condition in manualSortedGroups[key] track by $index" label="condition.LanguageTranslation" table-select-row="{'id': condition.ConditionId, 'index': $index, ConditionGroupId: group.ConditionGroupId }" id="{{condition.ConditionId}}" index="{{$index}}" parent_index="{{group.ConditionGroupId}}" ng-disabled="!edit" ng-class="{'background-accent': $index == selectedCondition}" >
						<td>
							<input-smart-table type="translation" model="condition.LanguageTranslation" on-change="changeValue" on-change-parameters="{ConditionId: condition.ConditionId, ConditionGroupId: condition.ConditionGroupId}" modify="true"></input-smart-table>
						</td>
						<td>
							<input-smart-table type="multiselect" model="condition.Features" modify="true" on-change="changeFeatureValue" on-change-parameters="{ConditionId: condition.ConditionId, index: $index, features: condition.Features, ConditionGroupId: condition.ConditionGroupId}" options="features" option-value="name" option-name="translation">
							</input-smart-table>
						</td>
						<td>
							<input-smart-table watch-options="true" type="multiselect" model="condition.States" modify="true" on-change="changeValue" on-change-parameters="{ConditionId: condition.ConditionId, ConditionGroupId: condition.ConditionGroupId}" options="conditionStates[condition.ConditionId]" option-name="translation" option-value="stateName" ng-if="conditionStates[condition.ConditionId].length > 0">
							</input-smart-table>
						</td>
						<td class="icon">
							<input-button type="icon" ng-click="openDialog(conditionId, condition, $index, $parent.$index, group.ConditionGroupId)">
								<i class="material-icons" aria-hidden="true">
									settings
								</i>
							</input-button>
						</td>
						<td>
							<div class="card-chips">
								<chip class="minimal background-deepPurple" ng-repeat="groupId in condition.ProcessGroupIds">
									<chip-name class="minimal" tooltip="{{parseComma(groupTranslationIdMatches[groupId],$index,condition.ProcessGroupIds.length)}}">{{parseComma(groupTranslationIdMatches[groupId],$index,condition.ProcessGroupIds.length)}}</chip-name>
								</chip>
								<chip class="minimal background-blue" ng-repeat="tabId in condition.ProcessTabIds">
									<chip-name class="minimal" tooltip="{{parseComma(tabTranslationIdMatches[tabId],$index,condition.ProcessTabIds.length)}}">{{parseComma(tabTranslationIdMatches[tabId],$index,condition.ProcessTabIds.length)}}</chip-name>
								</chip>
								<chip class="minimal background-cyan" ng-repeat="containerId in condition.ProcessContainerIds">
									<chip-name class="minimal" tooltip=" {{parseComma(containerTranslationIdMatches[containerId],$index,condition.ProcessContainerIds.length)}}">{{parseComma(containerTranslationIdMatches[containerId],$index,condition.ProcessContainerIds.length)}}</chip-name>
								</chip>
								<chip class="minimal background-green" ng-repeat="portfolioId in condition.ProcessPortfolioIds">
									<chip-name class="minimal" tooltip=" {{parseComma(portfolioTranslationIdMatches[portfolioId],$index,condition.ProcessPortfolioIds.length)}}">{{parseComma(portfolioTranslationIdMatches[portfolioId],$index,condition.ProcessPortfolioIds.length)}}</chip-name>
								</chip>
								<chip class="minimal background-red" ng-repeat="userGroupId in condition.ItemIds">
									<chip-name class="minimal" tooltip=" {{parseComma(userGroupTranslationIdMatches[userGroupId],$index,condition.ItemIds.length)}}">{{parseComma(userGroupTranslationIdMatches[userGroupId],$index,condition.ItemIds.length)}}</chip-name>
								</chip>
							</div>
						</td>
						<td class="icon">
							<input-button type="icon" minimal ng-click="showCondition(condition, condition.ConditionId, condition.ConditionGroupId, condition.LanguageTranslation)">
								<i class="material-icons" aria-hidden="true">
									settings_input_composite
								</i>
							</input-button>
						</td>
						<td class="icon">
							<input-button type="icon" ng-click="toggleCondition(condition, condition.ConditionGroupId)">
								<i class="material-icons" ng-if="!condition.Disabled">flash_on</i>
								<i class="material-icons" ng-if="condition.Disabled">flash_off</i>
							</input-button>
						</td>
					</tr>

					</tbody>
				</table>
			</table-container>
		</tab>
	</tabs>
</div>



<div ng-if="searchText.length > 2 || footBarSearch || alphaSearch">
	<table-container>
		<table materialize table-selected-rows="selectedRows" condition_group_id="{{group.ConditionGroupId}}" style="margin-bottom: 32px;">
			<thead>
			<tr>

				<th style="min-width: 200px;"><div translate="SELECT_NAME"></div></th>
				<th style="min-width: 200px;"><div translate="CONDITION_GROUP_NAME"></div></th>
				<th style="min-width: 150px;"><div translate="SELECT_FEATURE"></div></th>
				<th style="min-width: 150px;"><div translate="SELECT_STATE"></div></th>
				<th colspan="2"><div translate="PROCESS_RESTRICTIONS"></div></th>
				<th class="align-center" colspan="2"><div translate="PROCESS_LOGIC"></div></th>
			</tr>
			</thead>
			<tbody sortable parent="group" on-sort="sortCondition" handler=".up-down-button">
			<tr sort="condition" ng-repeat="condition in searchResults track by $index" label="condition.LanguageTranslation" table-select-row="{'id': condition.ConditionId, 'index': $index, ConditionGroupId: group.ConditionGroupId }" id="{{condition.ConditionId}}" index="{{$index}}" parent_index="{{group.ConditionGroupId}}" ng-disabled="!edit" ng-class="{'background-accent': $index == selectedCondition}">
				<td>
					<input-smart-table type="translation" model="condition.LanguageTranslation" on-change="changeValue" on-change-parameters="{ConditionId: condition.ConditionId, ConditionGroupId: condition.ConditionGroupId}" modify="true"></input-smart-table>
				</td>
				<td>
					{{conditionGroupsByName[condition.ConditionGroupId]}}
				</td>
				<td>
					<input-smart-table type="multiselect" model="condition.Features" modify="true" on-change="changeFeatureValue" on-change-parameters="{ConditionId: condition.ConditionId, index: $index, features: condition.Features, ConditionGroupId: condition.ConditionGroupId}" options="features" option-value="name" option-name="translation">
					</input-smart-table>
				</td>
				<td>
					<input-smart-table watch-options="true" type="multiselect" model="condition.States" modify="true" on-change="changeValue" on-change-parameters="{ConditionId: condition.ConditionId, ConditionGroupId: condition.ConditionGroupId}" options="conditionStates[condition.ConditionId]" option-name="translation" option-value="stateName" ng-if="conditionStates[condition.ConditionId].length > 0">
					</input-smart-table>
				</td>
				<td class="icon">
					<input-button type="icon" ng-click="openDialog(conditionId, condition, $index, $parent.$index, condition.ConditionGroupId)">
						<i class="material-icons" aria-hidden="true">
							settings
						</i>
					</input-button>
				</td>
				<td>
					<div class="card-chips">
						<chip class="minimal background-deepPurple" ng-repeat="groupId in condition.ProcessGroupIds">
							<chip-name class="minimal" tooltip="{{parseComma(groupTranslationIdMatches[groupId],$index,condition.ProcessGroupIds.length)}}">{{parseComma(groupTranslationIdMatches[groupId],$index,condition.ProcessGroupIds.length)}}</chip-name>
						</chip>
						<chip class="minimal background-blue" ng-repeat="tabId in condition.ProcessTabIds">
							<chip-name class="minimal" tooltip="{{parseComma(tabTranslationIdMatches[tabId],$index,condition.ProcessTabIds.length)}}">{{parseComma(tabTranslationIdMatches[tabId],$index,condition.ProcessTabIds.length)}}</chip-name>
						</chip>
						<chip class="minimal background-cyan" ng-repeat="containerId in condition.ProcessContainerIds">
							<chip-name class="minimal" tooltip=" {{parseComma(containerTranslationIdMatches[containerId],$index,condition.ProcessContainerIds.length)}}">{{parseComma(containerTranslationIdMatches[containerId],$index,condition.ProcessContainerIds.length)}}</chip-name>
						</chip>
						<chip class="minimal background-green" ng-repeat="portfolioId in condition.ProcessPortfolioIds">
							<chip-name class="minimal" tooltip=" {{parseComma(portfolioTranslationIdMatches[portfolioId],$index,condition.ProcessPortfolioIds.length)}}">{{parseComma(portfolioTranslationIdMatches[portfolioId],$index,condition.ProcessPortfolioIds.length)}}</chip-name>
						</chip>
						<chip class="minimal background-red" ng-repeat="userGroupId in condition.ItemIds">
							<chip-name class="minimal" tooltip=" {{parseComma(userGroupTranslationIdMatches[userGroupId],$index,condition.ItemIds.length)}}">{{parseComma(userGroupTranslationIdMatches[userGroupId],$index,condition.ItemIds.length)}}</chip-name>
						</chip>
					</div>
				</td>
				<td class="icon">
					<input-button type="icon" minimal ng-click="showCondition(condition, condition.ConditionId, condition.ConditionGroupId, condition.LanguageTranslation)">
						<i class="material-icons" aria-hidden="true">
							settings_input_composite
						</i>
					</input-button>
				</td>
				<td class="icon">
					<input-button type="icon" ng-click="toggleCondition(condition, condition.ConditionGroupId)">
						<i class="material-icons" ng-if="!condition.Disabled">flash_on</i>
						<i class="material-icons" ng-if="condition.Disabled">flash_off</i>
					</input-button>
				</td>
				</tr>
			</tbody>
		</table>
	</table-container>
</div>

<div class="settings-condition tables" ng-repeat="group in conditionGroups"></div>
