﻿<dialog-content>
	<dialog-title>
		<h2 translate="EDIT_CONDITION"></h2>
	</dialog-title>
	<dialog-container>
		<form name="conditionRestrictionDialog">
			<input-smart type="select"
						 manual-save
						 label="CONDITION_SELECT_PHASES"
						 model="condition.ProcessGroupIds"
						 options="processGroups"
						 option-value="ProcessGroupId"
						 watch-options="true"
						 option-name="MaintenanceName"
						 on-change="handlePhaseStuff"
						 modify="true"
						 max="0">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="CONDITION_SELECT_TABS"
						 model="condition.ProcessTabIds"
						 options="tabsForPhases"
						 option-value="ProcessTabId"
						 watch-options="true"	
						 option-name="MaintenanceName"			
						 modify="true"
						 on-change="clearContainersForNewTabs"
						 max="0">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="CONDITION_SELECT_CONTAINERS"
						 model="condition.ProcessContainerIds"
						 options="containersForTabs"
						 option-value="ProcessContainerId"
						 option-name="MaintenanceName"
						 watch-options="true"				
						 modify="true"
						 max="0">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="CONDITION_SELECT_PORTFOLIOS"
						 model="condition.ProcessPortfolioIds"
						 options="processPortfolios"
						 option-value="ProcessPortfolioId"
						 option-name="LanguageTranslation"
						 modify="true"
						 max="0">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="CONDITION_SELECT_USERGROUPS"
						 model="condition.ItemIds"
						 options="userGroups"
						 option-value="item_id"
						 option-name="usergroup_name"			
						 modify="true"
						 max="0">
			</input-smart>
		</form>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()"><div translate="CANCEL"></input-button>
	<input-button type="primary" modify="conditionRestrictionDialog.$valid" ng-click="saveRestrictions(condition)"><div translate="SAVE"></div></input-button>
</dialog-actions>