﻿<style>
	.blue {
		color: #3f51b5
	}
	.green {
		color: #4caf50
	}
	.black {
		color: black
	}
	.red {
		color: #f44335
	}
	.hotpink {
		color:#9c27b0;
	}
	.card {
		background-color: #eee; 
		padding:10px; 
		margin:10px;
		font-size:0.8125rem;
		line-height:1.25;
	}
	.card .title {
		font-weight: 500;
	}
</style>

<table-container>
	<div ng-if="!condition.ConditionJSON" style="text-align: center; line-height: 1.25; margin-bottom: 48px;">
		<span translate="CONDITION_ZERO_INFO1"></span>
		<br>
		<span translate="CONDITION_ZERO_INFO2"></span>
		<br>
		<span translate="CONDITION_ZERO_INFO3"></span>&nbsp;<span class="green" translate="CONDITION_TRUE"></span>
	</div>
	<div ng-repeat="(groupIndex, conditionGroup) in condition.ConditionJSON">
	<div style="width:300px; margin:0px auto;margin-bottom:32px" ng-if="!$first">
		<input-smart-table type="select" model="conditionGroup.OperatorId" modify="true" on-change="changeValue" options="groupOperators" option-value="OperatorId" option-name="OperatorName" single-value="true"></input-smart-table>
	</div>
	<table materialize table-selected-rows="selectedFields" style="margin-bottom:18px;">
		<thead>
			<tr>
				<th colspan="2" ><div translate="CONDITION_OUTCOME"></div></th>
				
				<th class="icon">
					<input-button type="icon" ng-click="addOperation(conditionGroup.OperationGroup.Operations, $index)">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="!conditionGroup.OperationGroup.Operations.length">
				<td></td>
				<td colspan="3">
					<div translate="NO_CONDITION_DEFINED"></div>
				</td>
			</tr>
			<tr ng-repeat="operation in conditionGroup.OperationGroup.Operations" table-select-row="{'id': operation.Condition.ItemColumnId, 'parent_index': groupIndex, 'index': $index }" id="{{conditionGroup.OperationGroup.Operations}}">
				<td class="icon">
					<span ng-if="!$first">
						{{operatorNames[operation.OperatorId]}}
					</span>
				</td>
				<td>
					<span class="black">
						{{conditionTexts[operation.ConditionTypeId]}}
					</span>
					<span class="blue">
						<span ng-if="operation.ConditionTypeId === 1 || (operation.ConditionTypeId === 3 && !listOptions[operation.Condition.ItemColumnId])">
							{{::getItemColumnTranslation(operation.Condition.ItemColumnId)}}
						</span>
						<span ng-if="operation.ConditionTypeId === 3 && listOptions[operation.Condition.ItemColumnId]">
							{{::getItemColumnTranslation(operation.Condition.ItemColumnId)}}
							<span class="red">
								{{::getSublistTranslation(operation.Condition.UserColumnId, operation.Condition.ItemColumnId)}}
							</span>
				
						</span>
						<span ng-if="operation.ConditionTypeId === 2">
							{{::getConditionTranslation(operation.Condition.ConditionId)}}
						</span>
							<span ng-if="operation.ConditionTypeId === 8 ">
							{{getParentConditionTranslation(operation.Condition.ConditionId, operation.Condition.ParentProcess)}}
								<span class="black">
									{{::'THROUGH' | translate}}
								</span>
								<span class="hotpink">
									{{::getItemColumnTranslation(operation.Condition.LinkColumnId)}}
								</span>
						</span>
						<span ng-if="operation.ConditionTypeId === 6">
							{{::getItemColumnTranslation(operation.Condition.ItemColumnId)}}
						</span>
						<span ng-if="operation.ConditionTypeId === 7">
							{{::getDateColumnTranslation(operation.Condition.ItemColumnId)}}
							<span class="black" translate="AND"></span>		
							{{::getDateColumnTranslation(operation.Condition.ItemColumnId2)}}
						</span>
					</span>
					<span class="green" ng-if="operation.Condition.ComparisonTypeId">
						<span translate="CONDITION_IS"></span> {{comparisonTypes[operation.Condition.ComparisonTypeId]}}
					</span>
					<span class="blue">
						<span ng-if="operation.ConditionTypeId == 1 && (listOptions[operation.Condition.ItemColumnId] == 6 || listOptions[operation.Condition.ItemColumnId] == 16) ">
							{{::getNameOfListValue(operation)}}
						</span>
						<span ng-if="operation.ConditionTypeId == 1 && (subqueryListOptions[operation.Condition.ItemColumnId] == 6 || subqueryListOptions[operation.Condition.ItemColumnId] == 16)">
							{{::getNameOfListValue(operation)}}
					</span>
						<span ng-if="operation.ConditionTypeId == 2 || operation.ConditionTypeId == 4 || operation.ConditionTypeId == 7 || operation.ConditionTypeId == 1 || operation.ConditionTypeId == 8">
						{{ ::getIdOfListValue(operation.Condition.Value) }}
						</span>
					</span>
					<span ng-if="operation.Condition.UserColumnTypeId === 2" class="blue">
						<span translate="SIGNED_IN_USER"></span>
					</span>
					<span ng-if="operation.Condition.UserColumnTypeId === 1 && !listOptions[operation.Condition.ItemColumnId]" class="black">
						{{'VALUE_OF_USER_FIELD' | translate}}
					</span>
					<span ng-if="operation.Condition.UserColumnTypeId === 1 && listOptions[operation.Condition.ItemColumnId]" class="blue">
						<span class="black">
							Value in user's field
						</span>
					</span>
					<span class="blue">
						{{::getUserColumnTranslation(operation.Condition.UserColumnId)}}
					</span>
				</td>
				<td>
					<input-button type="icon" ng-click="openDialog(conditionId, condition, $index, $parent.$index, conditionGroupId)">
						<i class="material-icons" aria-hidden="true">
							launch
						</i>
					</input-button>
				</td>
			</tr>
			<tr>
				<td class="icon">
					<input-button type="icon" ng-click="disableConditionGroup(conditionGroup, $index)">
						<i class="material-icons" ng-if="!conditionGroup.Disabled">flash_on</i>
						<i class="material-icons" ng-if="conditionGroup.Disabled">flash_off</i>
					</input-button>
				</td>
				
				<td colspan="2">
					<div ng-if="!conditionGroup.Disabled" translate="CONDITION_GROUP_ENABLED"></div>
					<div ng-if="conditionGroup.Disabled" translate="CONDITION_GROUP_DISABLED"></div>
				</td>
				<td class="icon">
					<input-button type="icon" ng-click="deleteCondition(conditionGroup)"><i class="material-icons" aria-hidden="true">delete</i></input-button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</table-container>

<div style="text-align: left; line-height: 1.25; margin-top:24px; margin-left: 48px;">
	<span translate="CONDITION_SELECTIONS"></span>
</div>
<div class="row stretch" style="justify-content: space-evenly">
	<div class="card col-xs-12 col-sm-6 col-lg-3">
		<span class="title">{{'SELECT_STATE' | translate}}</span><br>
		<span ng-if="condition.States.length == 0">No selections</span>
		<span ng-if="condition.States.length > 0" ng-repeat="state in condition.States">{{::parseComma(state, $index, condition.States.length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3">
		<span class="title">{{'PHASES_IN_CONDITION' | translate}}</span><br>
		<span ng-if="condition.ProcessGroupIds.length == 0">No selections</span>
		<span ng-if="condition.ProcessGroupIds.length > 0" ng-repeat="phaseId in condition.ProcessGroupIds">{{::parseComma(translations['Phases'][phaseId], $index, condition.ProcessGroupIds.length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3">
		<span class="title">{{'TABS_IN_CONDITION' | translate}}</span><br>
		<span ng-if="condition.ProcessTabIds.length == 0">No selections</span>
		<span ng-if="condition.ProcessTabIds.length > 0" ng-repeat="tabId in condition.ProcessTabIds">{{::parseComma(conditionTabTranslations[tabId], $index, condition.ProcessTabsIds.length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3">
		<span class="title">{{'CONTAINERS_IN_CONDITION' | translate}}</span><br>
		<span ng-if="condition.ProcessContainerIds.length == 0">No selections</span>
		<span ng-if="condition.ProcessContainerIds.length > 0" ng-repeat="containerId in condition.ProcessContainerIds">{{::parseComma(conditionContainerTranslations[containerId], $index, condition.ProcessContainerIds.length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3">
		<span class="title">{{'UGS_IN_CONDITION' | translate}}</span><br>
		<span ng-if="condition.ItemIds.length == 0">No selections</span>
		<span ng-if="condition.ItemIds.length > 0" ng-repeat="conditionUserGroup in condition.ItemIds">{{::parseComma(translations['UserGroups'][conditionUserGroup], $index, condition.ItemIds.length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3">
		<span class="title">{{'PORTFOLIOS_IN_CONDITION' | translate}}</span><br>
		<span ng-if="condition.ProcessPortfolioIds.length == 0">No selections</span>
		<span ng-if="condition.ProcessPortfolioIds.length > 0" ng-repeat="portfolio in condition.ProcessPortfolioIds">{{::parseComma(translations['Portfolios'][portfolio], $index, condition.ProcessPortfolioIds.length)}}</span>
	</div>
</div>


<div style="text-align: left; line-height: 1.25; margin-top:24px; margin-left: 48px;">
	<span translate="CONDITION_RELATIONS"></span>
</div>
<div class="row stretch" style="justify-content: space-evenly;">
	<div class="card col-xs-12 col-sm-6 col-lg-3" style="background-color: #bdbdbd">
		<span class="title">{{'EXISTING_CONDITIONS' | translate}}</span><br>
		<span ng-if="conditionUsages[1].length == 0">{{'NO_EXISTING_CONDITIONS' | translate}}</span>
		<span ng-if="conditionUsages[1].length > 0" ng-repeat="existingCondition in conditionUsages[1]">{{::parseComma(giveConditionName(existingCondition.OwnerElementId, ""), $index, conditionUsages[1].length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3" style="background-color: #bdbdbd">
		<span class="title">{{'PARENT_EXISTING_CONDITIONS' | translate}}</span><br>
		<span ng-if="conditionUsages[2].length == 0">{{'NO_PARENT_EXISTING_CONDITIONS' | translate}}</span>
		<span ng-if="conditionUsages[2].length > 0" ng-repeat="parentExtCond in conditionUsages[2]">{{::parseComma(giveConditionName(parentExtCond.OwnerElementParentId, parentExtCond.OwnerElementParentProcess), $index, conditionUsages[2].length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3" style="background-color: #bdbdbd">
		<span class="title">{{'PROCESS_ACTIONS' | translate}}</span><br>
		<span ng-if="conditionUsages[3].length == 0">{{'NO_CONDITION_ACTIONS' | translate}}</span>
		<span ng-if="conditionUsages[3].length > 0" ng-repeat="action in conditionUsages[3]">{{::parseComma(giveActionName(action.OwnerElementId), $index, conditionUsages[3].length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3" style="background-color: #bdbdbd">
		<span class="title">{{'CONDITION_ACTION_ROWS' | translate}}</span><br>
		<span ng-if="conditionUsages[4].length == 0">{{'NO_CONDITION_ACTION_ROWS' | translate}}</span>
		<span ng-if="conditionUsages[4].length > 0" ng-repeat="par in conditionUsages[4]">{{::parseComma(giveActionName(par.OwnerElementParentId), $index, conditionUsages[4].length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3" style="background-color: #bdbdbd">
		<span class="title">{{'NOTIFICATION_CONDITIONS' | translate}}</span><br>
		<span ng-if="conditionUsages[5].length == 0">{{'NO_NOTIFICATION_CONDITIONS' | translate}}</span>
		<span ng-if="conditionUsages[5].length > 0" ng-repeat="notiCondition in conditionUsages[5]">{{::parseComma(giveNotificationConditionName(notiCondition.OwnerElementId), $index, conditionUsages[5].length)}}</span>
	</div>

	<div class="card col-xs-12 col-sm-6 col-lg-3" style="background-color: white">

	</div>


</div>