﻿<input-container>
    <h1 class="h5" ng-bind="::label" tooltip="{{::label}}"></h1>
    <div ng-if="chart!=null">
        <dashboard-chart data="chart" process="process" in-meta="inMeta" options="options"></dashboard-chart>
    </div>
</input-container>