﻿<input-container>
	<input id="{{::id}}"
		   type="checkbox"
		   ng-disabled="!modify"
		   ng-model="checked"
		   ng-change="inputChanged()"
		   ng-class="{indeterminate: model === optionIndeterminate}">
	<label for="{{::id}}" class="no-select" ng-bind="::label" tooltip="{{::label}}"></label>
</input-container>