<input-container>
	<input ng-required="::requiredField" class="ng-hide" ng-model="contains" ng-readonly="!modify" />
	<h1 class="subtitle-1" ng-bind="::label" tooltip="{{::label}}"></h1>
	<div class="dropzone align-column no-select"
		 ng-if="modify"
		 ng-show="links.length < max || max === 0"
		 ng-click="addLink()">
		<div style="padding-top:12px;"></div>
		<div class="circle circle-large aria-detect" tabindex="0" aria-label="{{::label}} {{::'LINK_INPUT_ADD_LINK' | translate}}">
			<i class="material-icons" aria-hidden="true">insert_link</i>
		</div>
		<div style="padding-bottom: 4px;">
			<p class="italic" ng-bind="::'LINK_INPUT_ADD_LINK' | translate"></p>
		</div>
	</div>

	<div class="one-line list">
		<div ng-repeat="link in links" class="list-item">
			<input-button type="icon" ng-click="goToUrl(link)" class="list-item-icon" tooltip="LINK_INPUT_OPEN">
				<i class="material-icons" aria-hidden="true">open_in_new</i>
			</input-button>
			<div class="list-item-text">
				<p class="primary" tooltip="{{::link.Url}}" ng-bind="::link.Name"></p>
			</div>
			<span class="flex"></span>
			<input-button ng-if="modify" type="icon" ng-click="removeLink(link)" tooltip="LINK_INPUT_REMOVE">
				<i class="material-icons" aria-hidden="true">delete</i>
			</input-button>
		</div>
	</div>
	<div ng-if="!(modify || links.length)" class="empty-input italic align-left no-select">
		<span tooltip="{{::'LINK_INPUT_EMPTY' | translate}}" ng-bind="::'LINK_INPUT_EMPTY' | translate"></span>
	</div>
</input-container>