<div class="backdrop align-column" ng-if="loading">
	<loader class="contrast"></loader>
</div>
<input ng-required="::requiredField" ng-model="contains" ng-readonly="!modify" class="ng-hide" />
<h1 class="subtitle-1" ng-bind="::label" ng-if="::label" tooltip="{{::label}}"></h1>
<table materialize ng-if="!loading" class="has-stripes {{::id}}">
	<thead ng-show="!hideHeader">
	<tr ng-show="!hideHeader">
		<th ng-repeat="column in ::matrix.columns"
		    ng-bind="::column.name"
			ng-style="{'width': column.temp_custom_width != null ? column.temp_custom_width + '%' : (100 / (matrix.columns.length + 1)) + '%'}"
		    ng-class="::{'align-center': !$first && !showComment}"
		    tooltip="{{::column.name}}">
		</th>
		<th ng-show="showLastModified" style="text-align:left" ng-style="{'width': '20%', 'min-width': '100px'}">
			{{'LAST_MODIFIED_BY' | translate}}
		</th>
	</tr>
	<tr ng-show="hideHeader">
		<th ng-repeat="column in ::matrix.columns">
		</th>
		<th ng-show="showLastModified" style="text-align:left">
			{{'LAST_MODIFIED_BY' | translate}}
		</th>
	</tr>
	</thead>
	<tbody ng-repeat="row in ::matrix.rows">
	<tr>
		<td ng-bind="::row.name" tooltip="{{::row.name}}" class="body-1"></td>
		<td ng-repeat="cell in ::row.$descriptions"
		    ng-click="cellClick(cell, row)"
		    ng-class="{ selected: cell.selected, 'align-center': !showComment}"
		    ng-bind="::cell.name"
		    class="body-2"
		    ng-required="::requiredField"
		    tooltip="{{cell.tooltip}}">
		</td>
		<td ng-if="showLastModified" class="body-1" style="cursor: default; background-color: white; text-align: left">
			{{userNames[row.$$archive_userid]}}<br>
			{{formatDateTime(row.$$archive_start)}}
		</td>
	</tr>
	<tr ng-if="::showComment">
		<td ng-if="row.comment_name != null" style="border-bottom: none;height: 120px;max-height: 120px;">
			{{::row.comment_name}}
		</td>
		<td style="border-bottom: none;height: 120px;max-height: 120px;background-color:white!important" colspan="{{::matrix.columns.length - 1 + (showLastModified ? 1 : 0) + (row.comment_name != null ? 0 : 1)}}">
			<input-smart-table type="text" model="row.comments" spellcheck="true" modify="modify" on-change="updateComment" placeholder="TEXT_AREA_EMPTY" on-change-parameters="row"></input-smart-table>
		</td>
	</tr>
	<tr ng-if="::showComment">
		<td colspan="{{matrix.columns.length + (showLastModified ? 1 : 0)}}" style="border-bottom: solid 1px #c0c0c0; border-top:none">
			&nbsp;
		</td>
	</tr>

	</tbody>
	<tfoot>
	<tr ng-if="::showScore && !hideScore">
		<td>{{scoreColumnTranslation}}</td>
		<td colspan="{{::matrix.columns.length - 1}}" class="align-left subtitle-1">
			{{totalScore}} <span ng-if="scoreType == 3">%</span>
		</td>
	</tr>
	</tfoot>
</table>