﻿<input-container ng-class="::{'has-suffix': suffix}">
	<input id="{{::id}}"
		   ng-readonly="!modify"
		   type="text"
		   ng-blur="onBlur()"
		   name="number"
		   ng-model="initialModel"
		   placeholder="{{placeholderValue}}"
		   ng-required="::requiredField"
		   aria-disabled="{{!modify}}"
		   aria-required="{{::requiredField}}"
		   ng-focus="onFocus()"
	       ng-change="initialModelChanged()"
		   step="{{::step}}"
		   autocomplete="off"
		   tooltip="{{initialModel}}"/>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<div class="input-value ellipsis" tooltip="{{formatModel}}" ng-hide="hideFormat">{{formatModel}}</div>
	<i class="ellipsis suffix" ng-if="::suffix" ng-bind="::suffix"></i>
</input-container>