<div class="backdrop align-column" ng-show="loading">
	<loader class="contrast"></loader>
</div>
<input ng-required="::requiredField" aria-disabled="{{!modify}}" aria-required="{{::requiredField}}" ng-model="contains"
       class="ng-hide"/>
<h1 class="h5" ng-bind="::label" ng-if="::label" tooltip="{{::label}}"></h1>
<table materialize>
	<thead>
	<tr>
		<th class="icon" ng-if="::openable"></th>
		<th ng-repeat="column in portfolioColumns"
		    ng-style="::{ width: column.width}"
			ng-show="column.$$reportColumn == 0"
		    ng-class="::{ 'align-right': column.alignRight }"
		    ng-click="sortByColumn(column)"
		    table-dynamic>
			<div tooltip="{{::column.translation | translateObject}}">{{::column.translation | translateObject}}<span
					style="color:#f48a60;" ng-if="column.Validation.Required && requiredField">&nbsp;*</span></div>
		</th>
		<th class="icon" ng-if="modify && showAddDelete">
			<input-button type="icon" ng-click="addRow()" class="aria-detect" loading="adding" aria-label="add"
			              tooltip="PORTFOLIO_INPUT_ADD">
				<i class="material-icons" aria-hidden="true">add</i>
			</input-button>
		</th>
	</tr>
	</thead>
	<tbody ng-if="!loading">
	<tr ng-repeat="row in portfolioRows">
		<td class="icon" ng-if="::openable">
			<input-button type="icon" class="aria-detect" ng-click="openRow(row)"
			              tooltip="PORTFOLIO_INPUT_OPEN">
				<i class="material-icons" aria-hidden="true">launch</i>
			</input-button>
		</td>
		<td ng-repeat="column in ::portfolioColumns" ng-show="column.$$reportColumn == 0">
			<div class="ellipsis" ng-class="::{ 'align-right': column.alignRight}">
				<span ng-if="column.dataType == 13">{{::formatDateTime(row[column.Name])}}</span>
				<input-smart-table type="{{::column.dataType}}"
				                   model="row[column.Name]"
				                   modify="!column.readOnly && modify"
				                   options="listOptions[row.item_id][column.DataAdditional]"
				                   watch-options="true"
				                   option-name="list_item"
				                   option-value="item_id"
				                   da="column.DataAdditional2"
				                   required-field="{{requiredField && column.Validation.Required}}"
				                   parent="{{::row.item_id}}"
				                   parent-process="{{::row.process}}"
				                   option-icon="list_symbol"
				                   label="{{::column.Name}}"
				                   option-color="list_symbol_fill"
				                   process="{{::column.DataAdditional}}"
				                   on-change="inputChanged"
				                   max="{{::column.Validation.Max}}"
								   min="{{::column.Validation.Min}}"
				                   ng-attr-unselectable="{{::column.Validation.Unselectable ? 'true' : undefined}}"
				                   ng-attr-icon-only="{{::column.ShowType == 2 ? 'icon-only' : undefined}}"
				                   on-change-parameters="{row: row, col: column}"
				                   ng-if="column.dataType != 13"
				>
				</input-smart-table>
			</div>
		</td>
		<td class="icon" ng-if="modify && showAddDelete">
			<input-button type="icon" aria-label="remove" ng-click="removeRow(row.item_id)"
			              tooltip="PORTFOLIO_INPUT_REMOVE">
				<i class="material-icons" aria-hidden="true">close</i>
			</input-button>
		</td>
	</tr>
	<tr class="empty-row" ng-if="!portfolioRows.length">
		<td colspan="42" ng-if="modify && showAddDelete" class="align-center no-select">
			{{::'PORTFOLIO_INPUT_CLICK_ADD' | translate}} {{::label}}
		</td>
		<td colspan="42"
		    class="italic align-center no-select"
		    ng-if="!modify"
		    ng-bind="::'PORTFOLIO_INPUT_EMPTY' | translate">
		</td>
	</tr>
	</tbody>
	<tfoot ng-if="::showSumRow">
	<tr ng-if="!loading">
		<td ng-if="::openable"></td>
		<td ng-repeat="column in ::portfolioColumns" class="align-right h6">
			<!--	{{sumFooter[column.Name]}}-->
			{{returnSum(column.Name)}}
		</td>
		<td ng-if="modify && showAddDelete"></td>
	</tr>
	</tfoot>
</table>