﻿<input-container>
	<div ng-repeat="option in ::options">
		<input type="radio"
			   name="{{::group}}"
			   id="{{::id}}-{{::$index}}"
			   ng-readonly="!modify"
			   ng-model="$parent.model"
			   ng-value="::option[value]"
			   ng-required="::requiredField"
			   aria-required="{{::requiredField}}"
			   aria-disabled="{{!modify}}"
			   ng-change="inputChanged()" />
		<label for="{{::id}}-{{::$index}}"
			   class="no-select"
			   ng-bind="::option[name] | translateObject"
			   ng-click="labelClick($event)"
			   tooltip="{{::option[name] | translateObject}}">
		</label>
	</div>
</input-container>