<input-container>
	<input ng-required="::requiredField" ng-model="model" ng-readonly="!modify" class="ng-hide" />
	<h1 class="subtitle-1" ng-bind="::label" tooltip="{{::label}}"></h1>
	<div class="align-row" tooltip="{{text}}">
		<input-button type="icon"
					  ng-repeat="r in ::ratings"
					  no-waves
					  ng-click="r.select()"
					  ng-mouseenter="onEnter(r)"
					  ng-mouseleave="onLeave(r)">
			<i class="material-icons" ng-style="{ color: r.color }">{{r.icon}}</i>
		</input-button>
	</div>
	<span class="caption" tooltip="{{text}}">{{text}}</span>
</input-container>