<input-container>
	<h1 class="subtitle-1" ng-bind="::label" tooltip="{{::label}}"></h1>
	<div class="rich-template">
		<input-button type="icon" no-waves ng-if="templates && templates.length > 0"
		              ng-click="showTemplates()"
		              tooltip="SELECT_TEMPLATE">
			<i class="material-icons" aria-hidden="true">layers</i>
		</input-button>			
	</div>
	<div ng-show="modify" class="quill-container">
		<div class="quill-editor"></div>
	</div>
	<div class="rich-container" ng-hide="modify" ng-bind-html="model.html"></div>
</input-container>