﻿<input-container>
	<input id="{{::id}}"
		   ng-readonly="!modify"
		   ng-model="model"
           ng-class="{'ng-invalid': invalid}"
		   spellcheck="{{::spellcheck}}"
		   ng-model-options="{ allowInvalid: true }"
		   ng-attr-maxlength="{{::max || undefined}}"
		   placeholder="{{placeholderValue}}"
		   ng-change="inputChanged()"
		   autocomplete="off"
	       aria-required="{{::requiredField}}"
	       aria-disabled="{{!modify}}"
		   ng-required="::requiredField"
           ng-blur="onBlurFunction()"
           ng-focus="onFocusFunction()"
	       tabindex="{{::tabindex}}"
           aria-label="{{::label}}"
		   tooltip="{{model}}"/>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<validator class="overline no-select" ng-if="max && !invalid">
		{{model.length}} / {{::max}}
	</validator>
    <validator class="overline no-select" ng-if="invalid" translate="UNIQUE_ITEM_ERROR"></validator>
</input-container>