﻿<input-container>
	<textarea id="{{::id}}"
			  ng-readonly="!modify"
			  ng-model="model"
			  ng-model-options="{ allowInvalid: true }"
			  ng-attr-placeholder="{{placeholderValue}}"
			  autocomplete="off"
			  ng-attr-maxlength="{{::max || undefined}}"
			  spellcheck="{{::spellcheck}}"
			  ng-change="inputChanged()"
			  ng-required="::requiredField"
			  aria-required="{{::requiredField}}"
			  aria-disabled="{{!modify}}"
			  ng-trim="false"
              ng-blur="onBlur()"
              ng-focus="onFocus()"
              aria-label="{{::label}}"
    ></textarea>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<p class="body-1">{{model}}</p>
	<validator class="overline no-select" ng-if="::max">{{model.length}} / {{::max}}</validator>
</input-container>