﻿<input-container ng-click="editTable()" style="display:flex;flex-direction: column;" ng-style="{'height': getRowHeight(),'line-height': getRowHeight(), 'min-height': getRowHeight()}">
	<textarea id="{{::id}}"
              ng-readonly="!modify || !tableEdit"
              ng-model="model"
              ng-model-options="{ allowInvalid: true }"
              ng-attr-placeholder="{{::placeholderValue}}"
              autocomplete="off"
              ng-attr-maxlength="{{::max || undefined}}"
              spellcheck="{{::spellcheck}}"
              ng-change="inputChanged()"
              ng-required="::requiredField"
              aria-required="{{::requiredField}}"
              aria-disabled="{{!modify}}"
              ng-trim="false"
              aria-label="{{::label}}"
    ></textarea>
	
	<span ng-show="!tableEdit && model != '' && model != null" title="{{model}}">{{model}}</span>
    <p class="body-1 table" ng-class="{'modify': modify}" ng-show="!tableEdit && (!model || model == '' )" style="color:rgba(0, 0, 0, 0.54);" translate="TEXT_AREA_EMPTY"></p>
</input-container>