﻿<dialog-content>
    <dialog-background ng-class="::background"></dialog-background>
    <dialog-title>
        <h2 ng-bind="::title" class="ellipsis"></h2>
    </dialog-title>
    <dialog-container ng-bind="::message" class="body-1"></dialog-container>
    <div ng-if="dialogType == 1" class="tab">
        <form name="f.dialogForm">
        <process-field ng-repeat="field in inputs[0]"
                       field="field"
                       readonly-help="true"
                       item-id="{{::itemId}}"
                       process="{{::process}}"
                       data="data.Data"
                       on-list-change="listChange"
                       on-change="formIsValid()"
                       dialog="true"
                       lists="lists"
                       opener-item-id="openerItemId">
        </process-field>
        </form>
    </div>
</dialog-content>

<dialog-actions>
    <input-button ng-click="cancel()" ng-bind="::secondary || 'CANCEL' | translate" ng-if="!actionOn"></input-button>
    <input-button type="primary" ng-click="primaryButton()" ng-if="!actionOn" modify="canModifyForm()" ng-bind="::primary"></input-button>
    <loader class="tiny" ng-if="actionOn" style="top: -13px; margin-right: 12px"></loader>
</dialog-actions>




