﻿<div >
    <div ng-if="isLoaded">
        <row-manager rows="rows" portfolio-id="{{::portfolioId}}" parent-item-id="0" rules="rules" options="options"
                     portfolio-columns="portfolioColumns" id="baseline-feature">
            <row-template type="header">
                <table>
                    <tbody>
                    <tr class="rowmanager-header">
                        <th ng-repeat="col in portfolioColumns">
                            [{{::col.ItemColumn.Name}}]
                        </th>
                    </tr>
                    </tbody>
                </table>
            </row-template>
            <row-template type="empty">
                <table>
                    <tbody>
                    <tr class="empty">
                        <td colspan="100%" class="italic">
                            {{::'RISKS_CN' | translate}} <span class="buttonArea"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </row-template>
            <row-template type="30">
                <table>
                    <tbody>
                    <tr>
                        <td ng-repeat="col in portfolioColumns">
                            [{{::col.ItemColumn.Name}}]
                        </td>
                    </tr>
                    </tbody>
                </table>
            </row-template>
            <row-template type="31">
                <table>
                    <tbody>
                    <tr class="typea">
                        <td ng-repeat="col in portfolioColumns">
                            [{{::col.ItemColumn.Name}}]
                        </td>
                    </tr>
                    </tbody>
                </table>
            </row-template>            
        </row-manager>
    </div>
</div>