﻿<!--<table-header><h2 translate="BUTTONS"></h2></table-header>-->
<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
            <tr>
                <th class="icon"></th>
                <th>{{::'DATA_BUTTON' | translate}}</th>
                <th class="icon">
                    <input-button type="icon" ng-click="addButton();">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody sortable on-sort="syncOrder" handler=".up-down-button">
            <tr sort="button" ng-repeat="button in tabButtons" table-select-row="{ProcessTabColumnId: button.ProcessTabColumnId}">
                <td>
                    <input-button type="icon" class="up-down-button" no-waves><i class="material-icons" aria-hidden="true">reorder</i></input-button>
                </td>
                <td>
                    <input-smart-table type="select" modify="true" model="button.ItemColumnId" on-change="changeValue" on-change-parameters="{ProcessTabColumnId: button.ProcessTabColumnId, ItemColumnId: button.ItemColumnId}" options="buttons" option-name="TranslationRaw" option-value="ItemColumnId" single-value="true">
                    </input-smart-table>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>