﻿<table-header>Phase Properties</table-header>
<input-smart label="Decision Phase" style="width:200px;" type="select" model="Group.Type" modify="edit" on-change="typeChanged" options="type" option-name="name" option-value="value" single-value="true"></input-smart>


<table-header translate="PHASE_MENU_ORDER"></table-header>
<table-container>
    <table materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th>{{::'PHASE_MENU_ORDER' | translate}}</th>
                <th style="width: 100px">{{::'TYPE' | translate}}</th>
                <th>{{::'ICON' | translate}}</th>
                <th>{{::'SELECT_PORTFOLIO_TEMPLATER' | translate}}</th>
            </tr>
        </thead>
        <tbody sortable on-sort="syncOrder" handler=".up-down-button">
            <tr ng-repeat="phase in ProcessGroupTabs" sort="phase">
                <td>
                    <input-button type="icon" class="up-down-button" no-waves><i class="material-icons" aria-hidden="true">reorder</i></input-button>
                </td>
                <td>
                    <div ng-if="::phase.Type == 0" translate="{{phase.Variable}}"></div>
	                <div ng-if="::phase.Type == 1" translate="{{featureName(phase.Variable)}}"></div>
                </td>
                <td>
                    <span ng-if="::phase.Type == 0">Tab</span>
                    <span ng-if="::phase.Type == 1">Feature</span>
                </td>
                <td>
                    <input-smart-table type="select" model="phase.Icon" parent="ParentItemId" self="ItemId" option-icon="Icon" option-name="Variable" option-value="Icon" single-value="true" options="symbols" modify="true" on-change="changedIcon">
                    </input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="phase.TemplatePortfolioId" option-name="Variable" option-value="ProcessPortfolioId" single-value="true" options="portfolios" modify="true" on-change="changedIcon">
                    </input-smart-table>
                </td>
            </tr>
        </tbody>
    </table>
</table-container>
