﻿<table-container>
    <table materialize table-selected-rows="selectedRows" class="settings-actions">
        <thead>
            <tr>
                <th class="icon"></th>
                
				<th class="icon"></th>
                <th style="width: 200px;"><div translate="PROCESS_GROUP_NAME"></div></th>
				<th style="width: 200px;"><div translate="MAINTENANCE_NAME"></div></th>
                <!--<th style="width: 64px"><div translate="DECISION"></div></th>-->
	            
	            <th style="width: 300px"><div translate="SELECT_FEATURE"></div></th>
				<th style="width: 1000px;"><div translate="TABS"></div></th>
	            <th class="icon">{{::'ORDER' | translate}}</th>
                <th class="align-right">
                    <input-button type="icon" ng-click="addNewProcessGroup()" ng-show="edit" class="ng-hide">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody sortable handler=".up-down-button" on-sort="syncOrder">
            <tr sort="processGroup" ng-repeat="processGroup in processGroups" table-select-row="{'id': processGroup.ProcessGroupId, 'index': $index }" ng-if="processGroups.length > 0">
                <td class="icon">
                    <input-button type="icon" class="up-down-button" no-waves>
                        <i class="material-icons" aria-hidden="true">reorder</i>
                    </input-button>
                </td>

                <td class="icon">
                    <input-button type="icon" ng-click="showGroup(processGroup.ProcessGroupId, processGroup.LanguageTranslation,processGroup.MaintenanceName)">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                </td>
                <td>
                    <input-smart-table type="translation" model="processGroup.LanguageTranslation" on-change="changeValue" on-change-parameters="$index" translation="true" modify="edit"></input-smart-table>
                </td>
				<td>
					<input-smart-table type="string" model="processGroup.MaintenanceName" on-change="changeValue" on-change-parameters="$index" translation="true" modify="edit"></input-smart-table>
				</td>
                <!--<td>-->
                    <!--<input-smart-table type="select" model="processGroup.Type" modify="edit" on-change="changeValue" on-change-parameters="$index" options="type" option-name="name" option-value="value" single-value="true"></input-smart-table>-->
                <!--</td>-->


	            <td>
		            <input-smart-table type="multiselect" model="processGroup.Features" modify="edit" on-change="changeValue" on-change-parameters="$index" options="features" option-value="name" option-name="translation"></input-smart-table>
	            </td>
                <td>
                    {{::processGroup.Tabs}}
                </td>
	            <td class="icon">
		            <input-button type="icon" ng-click="changeMenuOrder(processGroup)">
			            <i class="material-icons" aria-hidden="true">format_list_numbered</i>
		            </input-button>
	            </td>
	            <td class="icon">
		            <input-button type="icon" ng-click="showThisPhaseConditions(processGroup)">
			            <i class="material-icons" tooltip="{{::'PHASE_CONDITIONS' | translate}}">visibility</i>
		            </input-button>
	            </td>
            </tr>
            <tr ng-if="processGroups.length == 0">
                <td colspan="7" class="align-center" translate="NO_PHASES_ADDED"></td>
            </tr>
			
        </tbody>
    </table>
</table-container>

<table-header translate="FEATURE_CONFIGURATION"></table-header>
<table-container>
    <table materialize style="max-width: 900px;">
        <thead>
            <tr>
				<th></th>
                <th>Feature</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="feature in configureFeatures">
				<td>
				<input-button type="icon" ng-click="showFeatureConditions(feature)">
					<i class="material-icons" tooltip="{{::'PHASE_CONDITIONS' | translate}}">visibility</i>
				</input-button>
				</td>
                <td>
                    {{featureName(feature.name)}}
                </td>
                <td style="width: 64px">
                    <input-button type="secondary" ng-click="editConfiguration(feature)">
                        <span translate="EDIT"></span>
                    </input-button>
                </td>
            </tr>
        </tbody>
    </table>
</table-container>
