﻿<table-container class="settings-phases">
    <table materialize table-selected-rows="selectedTab">
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="icon"></th>
				
                <th style="width: 200px">{{'PROCESS_TAB_NAME' | translate}}</th>
				<th>{{::'PROCESS_TAB_BACKGROUND' | translate}}</th>
				<th>{{::'MAINTENANCE_NAME' |  translate}}</th>
                <th>{{::'USED_IN' | translate}}</th>
			<!--	<th>{{::'TAB_TAG' | translate}}</th>-->
                <th>{{::'TYPE' | translate}}</th>
                <th>{{::'ICON' | translate}}</th>
                <th>{{::'SELECT_PORTFOLIO_TEMPLATER' | translate}}</th>
	            <th class="icon"></th>
            </tr>
        </thead>
        <tbody sortable on-sort="changeOrderGroupTab" handler=".up-down-button-tab">
            <tr watch-options="true" ng-repeat="tab in tabsAndFeaturesInOrder" table-select-row="{'ProcessGroupTabId': tab.ProcessGroupTabId, 'ProcessTabId': tab.ProcessTab.ProcessTabId, 'Type': tab.Type, 'Index': $index}" sort="tab" ng-class="{'background-accent': $index == selectedTabHighlight}">
                <td class="icon">
                    <input-button type="icon" class="up-down-button-tab" no-waves modify="edit"><i class="material-icons" aria-hidden="true">reorder</i></input-button>
                </td>
				
                <td class="icon">
                    <input-button ng-if="tab.Type == 0" type="icon" ng-click="changeTab(tab.ProcessTab.ProcessTabId, $index, tab.ProcessGroup.ProcessGroupId)">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                    <input-button ng-if="tab.Type == 1 && tab.$$showConfiguration" type="icon" ng-click="editConfiguration(tab.DefaultState)">
                        <i class="material-icons" aria-hidden="true">launch</i>
                    </input-button>
                </td>
                <td>
                    <input-smart-table type="translation" modify="true" ng-if="tab.Type != 1" model="tab.Translation" on-change="changeGroupTabValue" on-change-parameters="{ProcessTabId: tab.ProcessTab.ProcessTabId}" minimal="false" placeholder="{{'PROCESS_TAB_NAME' | translate}}">
                    </input-smart-table>
                    <input-smart-table ng-if="tab.Type == 1" type="translation" modify="true" model="tab.LanguageTranslation" on-change="changeCustomName" on-change-parameters="{Variable: tab.Variable, LanguageTranslation: tab.LanguageTranslation}" minimal="false"></input-smart-table>
                </td>
				<td>
					<input-smart-table ng-if="tab.Type == 0" type="select" options="backgrounds" single-value option-value="name" unselectable="null" model="tab.ProcessTab.Background" on-change="changeGroupTabValue" on-change-parameters="{ProcessTabId: tab.ProcessTab.ProcessTabId, Type: 0}"></input-smart-table>
                    <div ng-if="tab.Type == 1"></div>
				</td>
				<td>
					<input-smart-table ng-if="tab.Type == 0" type="string" modify="true" model="tab.ProcessTab.MaintenanceName" on-change="changeGroupTabValue" on-change-parameters="{ProcessTabId: tab.ProcessTab.ProcessTabId, Type: 0}" minimal="false"></input-smart-table>
                    <div ng-if="tab.Type == 1"></div>
				</td>
                <td>
                    <span>{{::tab.ProcessTabGroups}}</span>
                </td>
			<!--	<td>
					<input-smart-table ng-if="tab.Type == 0" type="string" modify="true" model="tab.Tag" on-change="changeGroupTabValue" on-change-parameters="{ProcessTabId: tab.ProcessTab.ProcessTabId}" minimal="false" placeholder="{{'TAB_TAG_NAME' | translate}}">
                        <div ng-if="tab.Type == 1"></div>
				</td>-->
                <td>
                    <div ng-if="tab.Type == 1">{{'FEATURE' | translate}}</div>
                        <div ng-if="tab.Type == 0">{{'TAB' | translate}}</div>
                </td>
                <td>
                    <input-smart-table type="select" model="tab.Icon" option-icon="Icon" option-name="Variable" option-value="Icon" single-value="true" options="symbols" modify="true" on-change="saveNavigationLevel">
                    </input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" unselectable="true" model="tab.TemplatePortfolioId" option-name="Variable" option-value="ProcessPortfolioId" single-value="true" options="portfolios" modify="true" on-change="saveNavigationLevel">
                    </input-smart-table>
                </td>
	            <td class="icon">
		            <input-button type="icon" ng-click="showThisTabConditions(tab)">
			            <i class="material-icons" tooltip="{{::'TAB_CONDITIONS' | translate}}">visibility</i>
		            </input-button>
	            </td>
            </tr>
            <tr ng-if="tabsAndFeaturesInOrder.length == 0">
                <td colspan="7" class="align-center" translate="NO_TABS_ADDED"></td>
            </tr>
        </tbody>
    </table>
</table-container>
<div id="containersView-{{ProcessTabId}}"></div>
