<div class="flex align-row">
	<div class="flex align-row start">
		<input-button ng-click="deleteTabs()" ng-if="selectedTab.length > 0"><div translate="DELETE"></div></input-button>
	</div>
	<div class="flex align-row end">
		<input-button ng-click="addFeatures()"><div translate="ADD_FEATURES"></div></input-button>
		<input-button ng-click="addNewTab()"><div translate="ADD_NEW_TAB"></div></input-button>
		<input-button ng-click="copyTabSave()"><div translate="EXISTING_TAB"></div></input-button>
	</div>
</div>