﻿<dialog-content>
    <dialog-title>
        <h2><div translate="ADD_NEW_FIELD"></div></h2>
    </dialog-title>

    <dialog-container>
        <div ng-show="!addNewButton" class="ng-hide">
            <input-smart manual-save type="select" options="buttons" model="data.ItemColumnId" option-name="TranslationRaw" option-value="ItemColumnId" single-value="true" on-change="changeDialogValue" on-change-parameters=""></input-smart>
        </div>

        <div ng-show="addNewButton" class="ng-hide">
            <input-smart manual-save type="translation" model="data.LanguageTranslationRaw" modify="true" label="TITLE_TRANSLATION" on-change="changeDialogValue" on-change-parameters="'Translation'"></input-smart>
            <input-smart  manual-save type="string" model="data.Variable" modify="true" label="VARIABLE_NAME" on-change="changeDialogValue" on-change-parameters="'Variable'"></input-smart>
            <h2 class="h6" style="margin-top:32px;" translate="ACTION_DIALOG"></h2>
            <input-select single-value="true" max="1" model="data.ProcessDialogId" modify="true" options="processActionDialogs" option-value="ProcessActionDialogId" option-name="Name" label="Open this dialog when button is pressed">
            </input-select>

            <h2 class="h6" style="margin-top:32px;" translate="PROCESS_ACTION"></h2>
            <input-select model="data.ProcessActionId" max="1" single-value="true" modify="true" options="processActions" option-value="ProcessActionId" option-name="LanguageTranslation" label="Execute this action when affirmative choise (primary button) is selected from the dialog"></input-select>

            <h2 class="h6" style="margin-top:32px;" translate="PROCESS_VIEWS"></h2>
            <input-select model="data.submitView" max="1" single-value="true" modify="true" options="views" label="Go to this state after executing chosen action" unselectable on-change="changeDialogValue" on-change-parameters="'Views'"></input-select>
            <input-select model="data.openView" max="1" single-value="true" modify="true" options="views" label="Open the process in this state after it is visited subsequently" unselectable="true" on-change="changeDialogValue" on-change-parameters="'Views'"></input-select>

            <div ng-if="disabled == 'in_use'"><i class="material-icons" style="color:red;">cancel</i><span translate="ALREADY_IN_USE"></span></div>
            <div ng-if="!disabled"><i class="material-icons" style="color:green;">check</i><span translate="VARIABLE_OK"></span></div>
        </div>

        <input-smart manual-save type="checkbox" model="addNewButton" label="Add new button" on-change="changeCheckbox" on-change-parameters=""></input-smart>
    </dialog-container>

    
</dialog-content>
<dialog-actions>
    <input-button ng-click="cancel()">Cancel</input-button>
    <input-button type="primary" ng-click="save()" modify="!disabled">Save</input-button>
</dialog-actions>