﻿<dialog-content>
    <dialog-title>
        <h2><div translate="COPY_EXISTING_TAB"></div></h2>
    </dialog-title>

    <dialog-container>
            <input-smart manual-save type="select" label="COPY_FROM_TAB" model="ProcessTabId" options="ProcessGroupTabs" option-value="ProcessTabId" option-name="MaintenanceName" single-value="true" on-change="changeValue" on-change-parameters=""></input-smart>
            <input-smart manual-save type="translation" model="LanguageTranslation" modify="true" placeholder="NEW_TAB_TRANSLATION" ng-show="clone" class="ng-hide" on-change="changeValue" on-change-parameters=""></input-smart>
            <input-smart manual-save type="checkbox" model="clone" modify="true" label="CLONE_TAB" on-change="changeValue" on-change-parameters=""></input-smart>
    </dialog-container>

    
</dialog-content>
<dialog-actions>
    <input-button ng-click="cancel()">{{'CANCEL' | translate}}</input-button>
    <input-button type="primary" ng-click="save()" modify="!disabled">{{'SAVE' | translate}}</input-button>
</dialog-actions>