﻿<div id="{{::id}}" class="widget-buttons">
	<div class="background"></div>
	<p class="body-1 frontpage-text-right" ng-bind="::description | translateObject"></p>
	<input-button type="primary" ng-click="onClick()" ng-bind="::text | translateObject"></input-button>
</div>