<table materialize>
	<thead>
	<tr>
		<th ng-repeat="column in ::portfolioColumns" ng-bind="::column.ItemColumn.LanguageTranslation | translateObject"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in ::portfolioRows" ng-click="openRow(row)">
		<td ng-repeat="column in ::portfolioColumns" ng-bind="::row[column.ItemColumn.Name]"></td>
	</tr>
	</tbody>
</table>