﻿<div class="financials financials-feature">
    <div ng-show="loading" style="background-color: rgba(0, 0, 0, 0.38); width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 20;"></div>
    <div style="display: flex; justify-content: space-between;">
        <input-button ng-click="Move(-12)" tooltip="FINANCIALS_PREV_YEAR">
            &#60; {{ 'FINANCIALS_PREV_YEAR' | translate}}
        </input-button>
        <div style="display: flex;" ng-if="scope > 0">
            <input-button ng-click="Move(-move)" tooltip="{{prev_tooltip}}">
                &#60; {{prev_tooltip | translate}}
            </input-button>
            <input-button ng-click="Move(move)" tooltip="{{next_tooltip}}">
                {{next_tooltip | translate}} &#62;
            </input-button>
        </div>
        <input-button ng-click="Move(12)" tooltip="FINANCIALS_NEXT_YEAR">
            {{ 'FINANCIALS_NEXT_YEAR' | translate}} &#62;
        </input-button>
    </div>

    <financials process-item-id="processItemId"
                process-group-id="processGroupId"
                archive-date="archiveDate"
                states="states"
                process="process"
                selected-rows="selected_rows"
                show-footer="ShowFooter"
                init="Init"
                loading="loading">
    </financials>
</div>