<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">
			{{::'PORTFOLIO_SETTINGS' | translate}} {{::title}}
		</h2>
	</dialog-title>
	<dialog-container>
		<input-smart ng-if="listPublic != 3"
					 class="stretch"
					 type="translation"
					 model="name"
					 modify="true"
					 on-change="changeName"
					 on-change-parameters="name"
					 required-field="true"
					 label="{{::'PORTFOLIO_CONFIGURATION_TITLE' | translate}}">
		</input-smart>
		<input-smart type="select"
					 options="visibilityList"
					 option-name="name"
					 option-value="value"
					 label="{{::'PORTFOLIO_VISIBILITY' | translate}}"
					 model="listPublic"
					 single-value="true"
					 on-change="changeVisibility"
					 on-change-parameters="listPublic"
					 required-field="true"
					 ng-if="showPublic">
		</input-smart>
		<input-smart type="select"
					 max="0"
					 ng-if="listPublic == 2"
					 options="upc"
					 option-name="LanguageTranslation"
					 option-value="ItemColumnId"
					 label="{{::'LAYOUT_FILTERS' | translate}}"
					 required-field="true"
					 model="selectedFilterColumns"
					 on-change="setFilterColumns">
		</input-smart>
        <input-smart type="select"
                     ng-if="listPublic == 4"
                     max="0"
                     options="userGroups"
                     option-name="usergroup_name"
                     option-value="item_id"
                     watch-options="true"
                     label="{{::'LAYOUT_FILTERS' | translate}}"
					 required-field="true"
                     model="userGroupSelections">
        </input-smart>
		<div ng-repeat="f in filterColumns_">
			<input-smart type="process"
						 ng-if="f.DataType == 5"
						 max="0"
						 process="{{f.DataAdditional}}"
						 label="{{f.LanguageTranslationRaw | translateObject}}"
						 required-field="true"
						 model="selections[f.ItemColumnId]">
			</input-smart>
			<input-smart type="select"
						 ng-if="f.DataType == 6 && listPublic == 2"
						 max="0"
						 options="listItemCollection[f.DataAdditional]"
						 option-name="list_item"
						 option-value="item_id"
						 watch-options="true"
						 label="{{f.LanguageTranslationRaw | translateObject}}"
						 required-field="true"
						 model="selections[f.ItemColumnId]">
			</input-smart>
		</div>
		<container-header ng-if="notUnique"
						  ng-bind="::'PORTFOLIO_CONFIGURATION_CONFLICTS' | translate"></container-header>
		<div class="list one-line" ng-if="notUnique">
			<div ng-repeat="c in clashes" class="list-item">
				<div class="list-item-text">
					<span class="primary" ng-bind="::c"></span>
				</div>
			</div>
		</div>
		<div>
			<input-smart type="select"
						 options="portfolioViews"
						 label="PORTFOLIO_DEFAULT_VIEW"
						 single-value="true"
						 model="defaultView">
			</input-smart>
		</div>

		<div ng-show="defaultView == 69">
			<input-smart type="select"
						 options="dashboards"
						 label="DASHBOARD"
						 option-name="Variable"
						 required-field="true"
						 option-value="Id"
						 single-value="true"
						 model="dashboard">
			</input-smart>
		</div>


		<div>
			<input-smart type="string"
						 modify="false"
						 label="PORTFOLIO_CREATED_BY"
						 model="creator">
			</input-smart>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button ng-if="::!isNew" ng-click="deleteSettings()" modify="!(deleting || saving)">
		{{delete | translate}}
	</input-button>
	<input-button type="primary" ng-if="::!isNew" ng-click="replaceSettings()" modify="listPublic == 3 || (checkInputs() && !(saving || deleting)) || showDefault">
		{{'REPLACE_FILTERS' | translate}}
	</input-button>
	<input-button type="primary" ng-click="saveSettings()" modify="listPublic == 3 || (checkInputs() && !(saving || deleting))">
		{{save | translate}}
	</input-button>
</dialog-actions>