<div class="workload-status">
	<portfolio-filters portfolio-columns="portfolioColumns"
					   is-visible="showFilter"
					   portfolio-id="{{::portfolioId}}"
					   hide-progress="true"
					   navigation-menu-id="{{::navigationMenuId}}"
					   on-change="getRows"
					   hide-columns="true"
					   on-save="filterSave()"
                       hide-save-button="false"
					   >
	</portfolio-filters>
	<loader style="margin:20px auto;" ng-if="loading"></loader>


	<div ng-if="!loading && selections.selectedMode==4">
		<div style="width:1100px; margin-bottom: 45px;">
		<canvas class="chart-bar"
		        height="400" width="700"
		        chart-data="competencyData"
		        chart-labels="competencyLabels"
		        chart-options="competencyOptions"
		        chart-colors="competencyColoring"
		        chart-series="competencySeries"
				chart-dataset-override="competencyOverride">
		</canvas>
		</div>


		<chart-header>Competency Utilisation</chart-header>

			<table materialize style="margin-bottom:0">
				<thead>
				<tr>
					<th class="icon"></th>
					<th class="align-left">Competency</th>
					<th class="align-center" ng-repeat="week in weeks">{{::week.y}}<br>{{::week.d}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="comp in competencyResponseLabels">
					<td class="icon">
						<input-smart-table type="checkbox" model="competencySelections[comp.ItemId]" modify="true" on-change="changeSelectedCompetencies(comp.ItemId)"></input-smart-table>
					</td>
					<td class="align-left"><div style="display:inline-block;margin-right:4px;width:10px; height:10px; background-color: {{ getCompColor($index) }};"></div>{{comp.Name}}</td>
					<td class="align-center" style="width:64px;" ng-repeat="week in weeks">
						<horizontal-progress style="margin:0px auto" title="{{getCompTitle(comp.ItemId,week.y,week.m)}}" height="20" width="64"
						                     value="getCompValue(1,comp.ItemId,week.y,week.m)"
						                     value2="getCompValue(2,comp.ItemId,week.y,week.m)">
						</horizontal-progress>
					</td>
				</tr>
				</tbody>
			</table>
		<br>
		<br>
	</div>

	<table materialize ng-if="!loading && (selections.selectedMode < 4 || selections.selectedMode == 5 || selections.selectedMode == 11)">
		<thead>
			<tr>

				<th class="align-left">User</th>
				<th ng-if="additionalColumnNames.length > 0" class="align-left">{{additionalColumnNames[0].translation}}</th>
				<th ng-if="additionalColumnNames.length > 0" class="align-left">{{additionalColumnNames[1].translation}}</th>
				<th class="align-center" ng-repeat="week in weeks">{{::week.y}}<br>{{::week.d}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td class="align-left">{{user.Name}}</td>
				<td ng-if="additionalColumnNames.length > 0" class="align-left" style="width: 200px" ng-repeat="col in additionalColumnNames">
					<div ng-if="additionalColumnNames[$index].datatype == 5 || additionalColumnNames[$index].datatype == 6">
						{{user['$$translatedProperty' + ($index + 1)]}}
					</div>
					<div ng-if="additionalColumnNames[$index].datatype != 6 && additionalColumnNames[$index].datatype != 5">
						{{user['$$property' + ($index + 1)]}}
					</div>
				</td>
				<td ng-if="additionalColumnNames.length ==1"></td>
				<td class="align-center" style="width:64px;" ng-repeat="week in weeks">
					<horizontal-progress style="margin:0px auto" title="{{getTitle(week,user.UserItemId)}}" height="20" width="64" value="getValue(1,week,user.UserItemId)" value2="getValue(2,week,user.UserItemId)"></horizontal-progress>
				</td>

			</tr>
		</tbody>
	</table>

    <input-button type="primary" ng-if="!loading && canLoadMore && selections.selectedMode != 4" ng-click="loadMore()" ng-bind="::'BULLETINS_SM' | translate" style="margin: 0 auto;display: block;width: 200px;"></input-button>
	<br>
    <br>
    <br>

</div>