<div id="workload-report">
	<div class="row">
		<div class="col-md-4  col-xs-12">
			<div class="row">
				<div class="col-xs-5">
					<!--
					<date-input ng-model="selections.from"
					            modify="true"
					            label="WORKLOAD_REPORT_FROM"
					            type="date">
					</date-input>
					-->
				</div>
				<div class="col-xs-5">
					<!--
					<date-input ng-model="selections.to"
					            modify="true"
					            label="WORKLOAD_REPORT_TO"
					            type="date">
					</date-input>
					-->
				</div>
				<div class="col-xs-12">
					<input-smart
							type="select"
							model="selections.resolution"
							max="1"
							options="options.resolutions"
							class="flex"
							modify="true"
							option-value="Value"
							option-name="Variable"
							single-value="true"
							label="WORKLOAD_REPORT_RESOLUTION">
					</input-smart>
				</div>
				<div class="col-xs-12">
					<input-smart
							type="select"
							model="selections.mode"
							max="1"
							options="options.modes"
							modify="true"
							option-value="Value"
							option-name="Variable"
							single-value="true"
							label="WORKLOAD_REPORT_MODE">
					</input-smart>
				</div>

				<div ng-if="selections.mode==='ResourceApproval'"
				     class="col-xs-12">
					<input-smart
							type="select"
							model="selections.competencies"
							options="options.competencies"
							modify="true"
							option-value="item_id"
							option-name="name"
							label="WORKLOAD_REPORT_COMPETENCY">
					</input-smart>
				</div>
				<div ng-if="selections.mode==='ResourceApproval'"
				     class="col-xs-12">
					<input-smart
							type="select"
							model="selections.costCenter"
							options="options.costCenters"
							modify="true"
							option-value="item_id"
							option-name="list_item"
							label="WORKLOAD_REPORT_COST_CENTER">
					</input-smart>
				</div>

				<div ng-if="selections.mode !== 'ResourceApproval'"
				     class="col-xs-12">
					<input-smart
							type="select"
							model="selections.process"
							max="1"
							options="options.processes"
							modify="true"
							option-name="LanguageTranslation"
							option-value="ProcessName"
							single-value="true"
							on-change="processSelected"
							label="WORKLOAD_REPORT_PROCESS">
					</input-smart>
				</div>
				<div ng-if="itemColumns && selections.mode !== 'ResourceApproval'"
				     class="col-xs-12">
					<input-smart
								type="select"
								unselectable
								model="selections.processColumn"
								max="1"
								options="itemColumns"
								option-name="LanguageTranslation"
								option-value="Name"
								label="COLUMN"
								modify="true"
								single-value="true">
					</input-smart>

				</div>
				<div class="col-xs-8">
					<div class="error red" ng-repeat="error in formErrors">
						{{error}}
					</div>
				</div>
				<div class="col-xs-4 align-right">
					<input-button ng-click="updateChart()">Refresh</input-button>
				</div>

			</div>
		</div>
		<div class="col-md-offset-1 col-md-6 col-xs-12">
			<workload-report-chart selections="selections" refresh="refreshChart"></workload-report-chart>
		</div>
	</div>

	<!--
	TODO: Specs needed for organization filtering (is it by requester or resource) | By resource is the answer (not by requester)
	<input-select ng-model="selections.organizations"
	              options="options.organizations"
	              class="flex"
	              modify="true"
	              option-value="item_id"
	              option-name="name"
	              label="Organization">
	</input-select>
	-->
</div>
