<div class="flex align-row start" ng-if="selections.selectedMode < 4 || selections.selectedMode == 11">
	<input-button minimal type="icon"><i class="material-icons" style="color:#FFE97C">lens</i></input-button>
	<span ng-if="selections.selectedMode==1" translate="WORK_LOAD_STATUS_INFO_1"></span>
	<span ng-if="selections.selectedMode==11" translate="WORK_LOAD_STATUS_INFO_1"></span>
	<span ng-if="selections.selectedMode==2" translate="WORK_LOAD_STATUS_INFO_2"></span>
	<span ng-if="selections.selectedMode==3" translate="WORK_LOAD_STATUS_INFO_3"></span>
	

	<input-button minimal type="icon" ng-if="selections.selectedMode!=3"><i class="material-icons" style="color:rgb(244, 67, 53)">lens</i></input-button>
	<span ng-if="selections.selectedMode==1" translate="WORK_LOAD_STATUS_INFO_4"></span>
	<span ng-if="selections.selectedMode==11" translate="WORK_LOAD_STATUS_INFO_4"></span>
	<span ng-if="selections.selectedMode==2" translate="WORK_LOAD_STATUS_INFO_5"></span>

	<input-button minimal type="icon"><i class="material-icons" style="color:#E0E0E0">lens</i></input-button>
	<span ng-if="selections.selectedMode==1" translate="WORK_LOAD_STATUS_INFO_6"></span>
	<span ng-if="selections.selectedMode==11" translate="WORK_LOAD_STATUS_INFO_6"></span>
	<span ng-if="selections.selectedMode==2" translate="WORK_LOAD_STATUS_INFO_7"></span>
	<span ng-if="selections.selectedMode==3" translate="WORK_LOAD_STATUS_INFO_8"></span>
</div>

<div class="flex" ng-if="selections.selectedMode < 4 || selections.selectedMode == 11">
	<span ng-if="selections.selectedMode==1" translate="WORK_LOAD_STATUS_INFO_9"></span>
	<span ng-if="selections.selectedMode==11" translate="WORK_LOAD_STATUS_INFO_12"></span>
	<span ng-if="selections.selectedMode==2" translate="WORK_LOAD_STATUS_INFO_10"></span>
	<span ng-if="selections.selectedMode==3" translate="WORK_LOAD_STATUS_INFO_11"></span>
</div>



<div class="flex align-row end">
	<input-select 
			minimal 
			style="width:250px; margin-left:0px;" 
			options="modeOptions" 
			max="1" 
			option-name="name" 
			option-value="value" 
			single-value="true" 
			model="selections.selectedMode" 
			modify="true" 
			on-change="changeMode">
	</input-select>
</div>