﻿<dialog-content class="widget-dialog">
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'WIDGET_EDIT_WE' | translate"></h2>
	</dialog-title>
	<dialog-container>
		<input-smart manual-save type="translation" model="widget.LanguageTranslation"
		             label="WIDGET_EDIT_T"></input-smart>
		<input-smart ng-repeat="(name, option) in options"
		             type="{{::option.type}}"
		             watch-options
		             ng-attr-single-value="{{::option.singleValue || undefined}}"
		             ng-if="option.visible"
		             modify="option.modify"
		             model="widget.Params[name]"
		             manual-save
		             label="{{::option.label}}"
		             self="{{::option.optionSelf}}"
		             parent="{{::option.optionParent}}"
		             options="option.options"
		             option-name="{{::option.optionName}}"
		             option-value="{{::option.optionValue}}"
		             on-change="onChange"
		             on-change-parameters="name">
		</input-smart>
		<input-smart type="select"
		             manual-save
		             model="widget.Params.ViewSize"
		             single-value
		             label="WIDGET_EDIT_FOHS"
		             options="screenOption">
		</input-smart>
		<input-smart type="number"
		             manual-save
		             model="widget.Params.Delay"
		             label="WIDGET_EDIT_MS"
		>
		</input-smart>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="save()" ng-bind="::'SAVE' | translate"></input-button>
</dialog-actions>