﻿<dialog-content class="widget-dialog">
	<div class="ng-hide" ng-show="!showSetup">
		<dialog-title>
			<h2 class="ellipsis" ng-bind="::'WIDGET_VIEW_SW' | translate"></h2>
		</dialog-title>
		<dialog-container>
			<tabs>
				<tab label="WIDGET_VIEW_SW2" activate>
					<div class="one-line dense list">
						<div class="list-item pointer no-select"
							 ng-repeat="widget in systemWidgets"
							 ng-click="selectWidget(widget)"
							 ng-class="{ 'background-accent' : widget == selectedWidget }">
							<div class="list-item-text">
								<span class="primary"
									  tooltip="{{::widget.params.translation}}"
									  ng-bind="::widget.params.translation">
								</span>
							</div>
						</div>
					</div>
				</tab>
				<tab label="WIDGET_VIEW_CW" >
					<div class="one-line dense list">
						<div class="list-item pointer no-select"
						     ng-repeat="widget in customerWidgets"
						     ng-click="selectWidget(widget)"
						     ng-class="{ 'background-accent': widget == selectedWidget }">
							<div class="list-item-text">
								<span class="primary"
								      tooltip="{{::widget.params.name | translate}}"
								      ng-bind="::widget.params.name | translate">
								</span>
							</div>
						</div>
					</div>
				</tab>
			</tabs>
		</dialog-container>
	</div>

	<div class="ng-hide" ng-show="showSetup">
		<dialog-title>
			<h2 class="ellipsis" ng-bind="::'WIDGET_VIEW_WS' | translate"></h2>
		</dialog-title>
		<dialog-container>
			<input-smart type="translation" model="title" label="WIDGET_VIEW_T"></input-smart>
			<input-smart ng-repeat="(name, option) in options"
						 type="{{::option.type}}"
						 manual-save
						 watch-options
						 ng-attr-single-value="{{::option.singleValue || undefined}}"
						 ng-if="option.visible"
						 modify="option.modify"
						 model="params[name]"
						 label="{{::option.label}}"
						 self="{{::option.optionSelf}}"
						 parent="{{::option.optionParent}}"
						 options="option.options"
						 option-name="{{::option.optionName}}"
						 option-value="{{::option.optionValue}}"
						 on-change="onChange"
						 on-change-parameters="name">
			</input-smart>
			<input-smart type="select"
						 model="size"
						 manual-save
						 single-value
						 label="WIDGET_VIEW_FOHS"
						 options="screenOption">
			</input-smart>
		</dialog-container>
	</div>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button ng-click="back()" modify="showSetup" ng-bind="::'WIDGET_VIEW_BACK' | translate"></input-button>
	<input-button type="primary"
				  modify="widgetSelected()"
				  ng-click="setup()">
		{{nextText}}
	</input-button>
</dialog-actions>