﻿<dialog-content>
	<dialog-title>
		<h2>{{::'ADD_NEW_UNION' | translate}}</h2>
	</dialog-title>
	<dialog-container>
		<input-smart type="translation"
					 model="languageTranslation"
					 label="TITLE_TRANSLATION"
					 on-change="translationChange">
		</input-smart>
		<input-smart type="string"
					 manual-save
					 model="variable"
					 label="VARIABLE_NAME"
					 on-change="variableChange">
		</input-smart>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">{{::'CANCEL' | translate}}</input-button>
	<input-button type="primary" ng-click="save()" modify="allowed">{{"ADD" | translate}}</input-button>
</dialog-actions>
