﻿<table-header>{{::'INSTANCE_UNION_PROCESSES' | translate}}</table-header>
<table-container>
	<table materialize>
		<thead>
		<tr>
			<th>{{::'INSTANCE_UNION_PROCESS' | translate}}</th>
			<th>Portfolio</th>
			<th></th>
			<th class="icon">
				<input-button type="icon" minimal ng-click="addUnionProcess()">
					<i class="material-icons" aria-hidden="true">
						add
					</i>
				</input-button>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="p in unionProcesses">
			<td>
				{{processDict[p.Process].LanguageTranslation | translateObject}}
			</td>
			<td>
				<input-smart-table type="select"
				                   options="portfolios[p.Process]"
				                   option-value="ProcessPortfolioId"
				                   option-name="Variable"
				                   single-value
				                   unselectable
				                   model="p.PortfolioId"
				                   on-change="changeProcess(p)"
				                   ></input-smart-table>
			</td>
			<td>
				<span ng-if="$index == 0">{{'UNION_DESC1' |  translate}} </span>
				<span>{{'UNION_DESC2' |  translate}}</span>
			</td>
			<td class="icon">
				<input-button type="icon" minimal ng-click="deleteUnionProcess(p.InstanceUnionProcessId)">
					<i class="material-icons" aria-hidden="true">
						delete
					</i>
				</input-button>
			</td>
		</tr>
		<tr ng-if="unionProcesses.length == 0"><td colspan="4" style="text-align: center">{{'UNION_NO_PROCESSES' | translate}}</td></tr>
		</tbody>
	</table>
</table-container>

<table-header>{{::'INSTANCE_UNION_COLUMNS' | translate}}</table-header>
<table-container>
	<table materialize>
		<thead>
		<tr>
			<th style="width:25%">Name</th>
			<th ng-if="unionProcesses.length == 0" style="width:70%"></th>
			<th ng-if="unionProcesses.length != 0" ng-style="{'width':(70 / unionProcesses.length) + '%'}" ng-repeat="p in unionProcesses">{{processDict[p.Process].LanguageTranslation | translateObject}}</th>
			<th class="icon" style="width:5%">
				<input-button type="icon" minimal ng-click="addUnionRow()" ng-show="checkTableVisibilities() == true">
					<i class="material-icons" aria-hidden="true">
						add
					</i>
				</input-button>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-if="unionRows.length > 0" ng-repeat="ur in unionRows">
			<td>
				<input-smart-table type="translation" model="ur.Name"></input-smart-table>
			</td>
			<td ng-repeat="p in unionProcesses">
				<div ng-if="$index == 0">
					<input-smart-table type="select"
					                   options="itemColumns[p.PortfolioId]"
					                   option-value="ItemColumnId"
					                   option-name="LanguageTranslation"
									   watch-options="true"
					                   single-value
					                   unselectable
					                   model="columnUnions[ur.InstanceUnionRowId][p.InstanceUnionProcessId]"
					                   on-change="changeColumn"
					                   on-change-parameters="$index"></input-smart-table>
				</div>
				<div ng-if="$index > 0 && optionsInitialized">
					<div ng-if="allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataType == 5 || allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataType == 6">
						<input-smart-table type="select"
						                   options="types[p.PortfolioId][allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataType][allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataAdditional]"
						                   option-value="ItemColumnId"
						                   option-name="LanguageTranslation"
						                   single-value
						                   unselectable
										   watch-options="true"
						                   model="columnUnions[ur.InstanceUnionRowId][p.InstanceUnionProcessId]"
						                   on-change="changeColumn"
						                   on-change-parameters="$index"></input-smart-table>
					</div>
					<div ng-if="allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataType != 5 && allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataType != 6">
						<input-smart-table type="select"
						                   options="types[p.PortfolioId][allCols[columnUnions[ur.InstanceUnionRowId][unionProcesses[0].InstanceUnionProcessId]].DataType]"
						                   option-value="ItemColumnId"
						                   option-name="LanguageTranslation"
										   watch-options="true"
						                   single-value
						                   unselectable
						                   model="columnUnions[ur.InstanceUnionRowId][p.InstanceUnionProcessId]"
						                   on-change="changeColumn"
						                   on-change-parameters="$index"></input-smart-table>

					</div>
				</div>
			</td>
			<td class="icon">
				<input-button type="icon" minimal ng-click="deleteUnionRow(ur.InstanceUnionRowId)">
					<i class="material-icons" aria-hidden="true">
						delete
					</i>
				</input-button>
			</td>
		</tr>
		<tr ng-if="unionRows.length == 0"><td colspan="4" style="text-align: center">{{'UNION_NO_COLUMNS_MAPPED' | translate}}</td></tr>
		</tbody>
	</table>
</table-container>

<table-header>{{::'INSTANCE_UNION_PORTFOLIOS' | translate}}</table-header>
<table-container>
	<table materialize>
		<thead>
		<tr>
			<th>Portfolio</th>
			<th class="icon">
				<input-button type="icon" minimal ng-click="addUnionPortfolio()">
					<i class="material-icons" aria-hidden="true">
						add
					</i>
				</input-button>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="up in unionPortfolios">
			<td ng-click="showPortfolio(up.ProcessPortfolioId)">
				{{up.LanguageTranslation | translateObject}}
			</td>
			<td class="icon">
				<input-button type="icon" minimal ng-click="deleteUnionPortfolio(up.ProcessPortfolioId)">
					<i class="material-icons" aria-hidden="true">
						delete
					</i>
				</input-button>
			</td>
		</tr>
		<tr ng-if="unionPortfolios.length == 0"><td colspan="4" style="text-align: center">{{'UNION_NO_PORTFOLIOS' |translate}}</td></tr>
		</tbody>
	</table>
</table-container>