﻿<table-container >
    <table materialize>
        <thead>
        <tr>
            <th >{{::'INSTANCE_UNION_NAME' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="u in unions">
            <td class="icon">
                <input-button type="icon" minimal ng-click="showUnion($index, u)">
                    <i class="material-icons" aria-hidden="true">
                        launch
                    </i>
                </input-button>
            </td>
            <td>
                <input-smart-table type="translation" modify="edit" model="u.LanguageTranslation" on-change="changeValue" on-change-parameters="{'InstanceUnionId': u.InstanceUnionId}" ></input-smart-table>
            </td>
            <td class="icon">
                <input-button type="icon" minimal ng-click="deleteUnion($index, u.InstanceUnionId)">
                    <i class="material-icons" aria-hidden="true">
                        delete
                    </i>
                </input-button>
            </td>
        </tr>
        </tbody>
    </table>
</table-container>