﻿<dialog-content>
	<dialog-background class="{{::background}}" ng-class="::{ conserve: !background }"></dialog-background>
	<dialog-title>
		<h2 class="ellipsis">
			{{texts[index]}}
		</h2>
	</dialog-title>
	<dialog-container>
		<div ng-if="::steps.length > 1" class="process-progress-bar">
			<div ng-repeat="step in steps"
				 class="progress"
				 style="text-transform: uppercase"
				 ng-class="{ decision: step.decision, grey: step.inactive, hidden: step.hidden }">
				<span ng-hide="step.hidden">{{::'NEW_DIALOG_STEP' | translate}} {{step.index}}</span>
				<span ng-show="step.hidden">...</span>
			</div>
		</div>
		<form name="newProcessForm">
			<process-field ng-repeat="field in inputs[index]"
						   field="field"
						   readonly-help="true"
						   process="{{::process}}"
						   data="data.Data"
						   on-list-change="listChange"
						   lists="lists"
						   opener-item-id="openerItemId">
			</process-field>
		</form>
		<div ng-if="::copyModel">
			<div ng-if="::copyModelFromPortfolio && modelCopyInputType == 0">
				<table materialize>
					<thead>
					<tr>
						<th colspan="2" ng-bind="::'MODEL_COPY' | translate"></th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in ::rows" >
							<td class="icon">
								<input-smart-table type="checkbox"
												   model="selections[row.item_id]"
												   on-change="modelChange"
												   manual-save
												   on-change-parameters="row.item_id">
								</input-smart-table>
							</td>
							<td ng-repeat="col in ::portfolioColumns" ng-bind="::row[col.ItemColumn.Name]"></td>
						</tr>
					</tbody>
				</table>
			</div>
            <div ng-if="::modelCopyInputType == 1">
                <div ng-if="::modelPortfolioId == 0">
                    <input-process label="{{::'MODEL_COPY_FROM' | translate}}"
                                   parent-process="{{::process}}"
                                   process="{{::modelProcess}}"
                                   modify="true"
                                   model="copyFromId"
                                   max="1" >
					</input-process>
                </div>
                <div ng-if="::modelPortfolioId > 0">
                    <input-process label="{{::'MODEL_COPY_FROM' | translate}}"
                                   parent-process="{{::process}}"
                                   process="{{::modelProcess}}"
                                   modify="true"
                                   model="copyFromId"
                                   portfolio-id="{{::modelPortfolioId}}"
                                   max="1" 
                                   preload="true">
					</input-process>
                </div>
            </div>
			<div class="row">
				<input-smart class="col-xs-12 col-md-6"
							 type="date"
							 manual-save
							 model="data.Data['copy_date']"
							 label="MODEL_COPY_DATE_1">
				</input-smart>
                <input-smart ng-if="copyModelEndDate" class="col-xs-12 col-md-6"
                             type="date"
                             manual-save
                             model="data.Data['copy_date_2']"
                             label="MODEL_COPY_DATE_2">
				</input-smart>
			</div>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button ng-if="::inputs.length > 1"
				  type="secondary"
				  ng-click="previousPage()"
				  modify="index !== 0"
				  ng-bind="::'PREVIOUS' | translate">
	</input-button>
	<input-button type="primary"
				  ng-click="nextPage()"
				  modify="isValidForm()"
				  loading="creating">
		{{nextButtonText | translate}}
	</input-button>
</dialog-actions>