.widget-bulletins {
	.bulletin {
		margin-bottom: 32px;
	}

	h1 {
		margin: 8px 0 16px 0;
	}

	.rich-container {
		padding: 16px;
		background-color: $primary-50;
	}

	.bulletin-info {
		margin-top: 8px;
		min-width: 128px;
		width: 128px;
		max-width: 128px;
	}

	divider.vertical {
		margin: 0 16px;
	}

}