@mixin z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

@mixin z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@mixin z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

@mixin z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)
}

@mixin z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)
}

@mixin reset-url {
  color: $blue;
  text-decoration: none;

  &:visited {
    color: $deepPurple;
  }

  &:active {
    text-shadow: 0 0 0 $primary-900;
  }

  &:hover {
    text-decoration: underline;
  }
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

@mixin colorsClass($color) {
  &, &.material-icons {
    color: $color;
  }
}

@mixin backgroundColorsClass($background, $text, $icon) {
  background-color: $background;

  > td, & {
    color: $text !important;
  }

  .material-icons {
    color: $icon;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}


.icon-notification {
  position: absolute;
  background-color: $red;
  top: 4px;
  right: 4px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 0.651rem;
  border-radius: 50px;
  text-align: center;
}

body.grabbing, body.grabbing * {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important;
}

body.grab, body.grab * {
  cursor: grab !important;
  cursor: -webkit-grab !important;
}

body.w-resize, body.w-resize * {
  cursor: ew-resize !important;
}

body.drag, body.drag * {
  cursor: none;
}

.blur-background {
  filter: blur(2px);
}

[dragging-process] {
  @include z-depth-2;
  padding: 8px;
  background-color: $primary-100;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  border-radius: 16px;
  display: inline-block;
  white-space: nowrap;
  z-index: 54;
}

[draggable-process] {
  cursor: -webkit-grab;
  cursor: grab;
}

.circle {
  height: 32px;
  min-height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 50%;

  &.circle-small {
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
  }

  &.circle-large {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
  }
}

.avatar {
  @include no-select;

  cursor: pointer;
  position: relative;
  float: left;
  background-color: $primary-300;
  margin-right: 16px;

  > .card-opener {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    background-color: $text-disabled;
    transition: opacity $transition-slow;
    opacity: 0;

    > i {
      line-height: 40px;
    }
  }

  &:hover > .card-opener {
    opacity: 1;
  }

  &.avatar-smaller {
    margin-right: 12px;

    &.avatar-text {
      font-size: 0.875rem;
      line-height: 32px;
    }

    > .card-opener > i {
      font-size: 1.25rem;
      line-height: 32px;
    }
  }

  &.avatar-small {
    margin-right: 8px;

    &.avatar-text {
      font-size: 0.8125rem;
      line-height: 24px;
    }

    > .card-opener > i {
      font-size: 1rem;
      line-height: 24px;
    }
  }
}

.avatar-multiple {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  overflow: hidden;
  text-align: right;

  .avatar-multiple-more {
    position: absolute;
    right: 0;
    top: 0;
  }

  .avatar {
    display: inline-block;
    float: right;

    &.avatar-smaller {
      margin-right: 8px;
    }
  }
}

.user-card {
  card-subtitle {
    display: inline-block;
  }

}

.avatar-text {
  font-weight: 300;
  font-size: 1rem;
  background-color: $primary-400;
  color: $text-white;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.process-progress-bar {
  @include no-select;

  margin-bottom: 16px;
  display: flex;

  > .progress {
    max-width: 256px;
    position: relative;
    flex: 1;
    padding: 16px 8px 16px 40px;
    margin-left: 6px;
    transition: background-color $transition-fast;
    background-color: $accent-1;
    min-height: 16px;

    > * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: default;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -24px;
      width: 0;
      height: 0;

      border-top: 24px solid transparent;
      border-bottom: 24px solid transparent;
      border-left: 24px solid $accent-1;
      transition: border-left-color $transition-fast;
      z-index: 1
    }

    &:last-of-type {
      margin-right: 24px
    }

    &:first-of-type {
      margin-left: 0;
      padding-left: 16px;
    }

    &:not(:first-of-type)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;

      border-top: 24px solid transparent;
      border-bottom: 24px solid transparent;
      border-left: 24px solid $primary-0;
    }

    &.hidden, &.decision {
      flex: 0.25;
      max-width: 96px;
    }

    &.decision {
      background-color: $accent-2;
      color: $text-white;

      &::after {
        border-left-color: $accent-2;
      }
    }

    &.grey {
      background-color: $primary-300;
      color: $text;

      &::after {
        border-left-color: $primary-300;
      }
    }
  }
}

.overflow-x {
  overflow-x: auto;
  width: 100%;
}

.overflow-y {
  overflow-y: auto;
  height: 100%;
}

.process-progress {
  background-color: $primary-300;

  &.material-icons {
    line-height: 32px;
    width: 32px;
    font-size: 1.5rem;
    text-align: center;
    cursor: default;
    color: $icon-white-active;

    &.circle-small {
      line-height: 24px;
      width: 24px;
    }

    &.write, &.active, &.red, &.accent-1, &.accent-2, &.yellow, &.green, &.black {
      color: $icon-white-active;
    }
  }

  &.write {
    background-color: $accent-1-opaque;
  }

  &.active {
    background-color: $accent-1;
  }

  &.accent-1 {
    background-color: $accent-1;
  }

  &.accent-2 {
    background-color: $accent-2;
  }

  &.green {
    background-color: $green;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.red {
    background-color: $red;
  }

  &.black {
    background-color: $primary-900;
  }
}

.no-animation * {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

content-header {
  display: flex;
  background-color: $primary-700;
  color: $text-white;
  line-height: 52px;
  height: 52px;
  max-height: 52px;
  min-height: 52px;
  padding: 0 8px 0 16px;

  .material-icons {
    color: $icon-white-active
  }
}

content-background {
  display: block;
  height: 158px;
  margin: -32px -16px 32px -16px;
}

content-notification {
  @include z-depth-2;

  position: absolute;
  display: block;
  min-width: 192px;
  max-width: 30%;
  bottom: 0;
  z-index: 2;
  border-radius: 2px;
  background-color: $primary-800;
  transform: translateY(24px);
  color: $text-white;
  opacity: 0;
  transition: opacity $transition-slow, transform $transition-slow;

  > content-notification-content {
    display: block;
    padding: 20px 48px 20px 16px;
  }

  > .close-notification {
    position: absolute;
    top: 0;
    right: 0;

    > i {
      color: $icon-white-active;
    }
  }

  &.transition-in {
    transform: translateY(0);
    opacity: 1;
  }
}

content-description {
  @extend .body-1;

  display: block;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 16px;

  max-width: 800px;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  &.alert {
    color: rgb(244, 67, 53);
    border-left: 5px solid rgb(244, 67, 53);
    padding-left: 10px;
  }

  > a {
    @include reset-url;
  }
}

content {
  display: block;
  position: relative;
  color: $text;
  background-color: $primary-50;
  padding: 8px;
}

content-footbar-pusher {
  display: block;
  height: 58px;
  width: 100%;
}

content-footbar {
  display: block;
  background-color: $primary-0;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;

  > divider {
    margin: 0;
  }

  > div {
    @extend .align-row;
    @extend .space-between;
    height: 56px;
    padding: 0 16px;
  }

  &.floating-footbar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

container-header {
  @extend content-header;
  @extend .h5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  color: $text;
  padding-left: 0;

  .material-icons {
    color: $icon-active;
  }
}

.process-value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  > i {
    vertical-align: middle;
    margin: 0 4px 4px 0;
    font-size: 1rem;

    &:not(:first-child) {
      margin-left: 4px;
    }
  }

  > span {
    line-height: 29px;
  }
}

tooltip {
  @include z-depth-2;

  white-space: pre-wrap;
  border-radius: 2px;
  cursor: default;
  padding: 8px;
  display: block;
  position: absolute;
  background-color: $primary-50;
  color: $text;
  z-index: 60;
  opacity: 0;
  transition: opacity $transition-fast;
  max-width: 460px;

  &.transition-in {
    opacity: 1;
  }
}

whiteframe {
  background-color: $primary-50;
  width: 100%;
}

.white {
  color: $text-white;

  &.material-icons {
    color: $icon-white-active;
  }
}

.pointer {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 500;
}

.flex {
  flex: 1;
}

.align-row {
  display: flex;
  align-items: center;

  &.stretch {
    align-items: stretch;
  }

  &.start {
    justify-content: flex-start
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.space-around {
    justify-content: space-around
  }

  &.space-between {
    justify-content: space-between;
  }
}

.align-column {
  display: flex;
  align-items: center;
  flex-direction: column;

  &.start {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }

  &.stretch {
    align-items: stretch;
  }

  &.end {
    align-items: flex-end;
  }
}

.align-item-start {
  align-self: flex-start;
}

.align-item-center {
  align-self: center;
}

.align-item-end {
  align-self: flex-end;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.simple-padding {
  padding: 8px;
}

.simple-margin {
  margin: 16px;
}

.capitalize {
  text-transform: uppercase;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  @include z-depth-1;
}

.z-depth-2 {
  @include z-depth-2;
}

.z-depth-3 {
  @include z-depth-3;
}

.z-depth-4 {
  @include z-depth-4;
}

.z-depth-5 {
  @include z-depth-5;
}

.no-select {
  @include no-select;
}

.stretch {
  box-sizing: border-box;
  width: 100%;
}

.accent-1 {
  @include colorsClass($accent-1);
}

.accent-1-opaque {
  @include colorsClass($accent-1-opaque);
}

.accent-2 {
  @include colorsClass($accent-2);
}

.accent-2-opaque {
  @include colorsClass($accent-2-opaque);
}

.warn {
  @include colorsClass($warn);
}

.warn-opaque {
  @include colorsClass($warn-opaque);
}

.alert {
  @include colorsClass($alert);
}

.alert-opaque {
  @include colorsClass($alert-opaque);
}

.red {
  @include colorsClass($red);
}

.red-opaque {
  @include colorsClass($red-opaque);
}

.pink {
  @include colorsClass($pink);
}

.pink-opaque {
  @include colorsClass($pink-opaque);
}

.purple {
  @include colorsClass($purple);
}

.purple-opaque {
  @include colorsClass($purple-opaque);
}

.deepPurple {
  @include colorsClass($deepPurple);
}

.deepPurple-opaque {
  @include colorsClass($deepPurple-opaque);
}

.indigo {
  @include colorsClass($indigo);
}

.indigo-opaque {
  @include colorsClass($indigo-opaque);
}

.blue {
  @include colorsClass($blue);
}

.blue-opaque {
  @include colorsClass($blue-opaque);
}

.lightBlue {
  @include colorsClass($lightBlue);
}

.lightBlue-opaque {
  @include colorsClass($lightBlue-opaque);
}

.cyan {
  @include colorsClass($cyan);
}

.cyan-opaque {
  @include colorsClass($cyan-opaque);
}

.teal {
  @include colorsClass($teal);
}

.teal-opaque {
  @include colorsClass($teal-opaque);
}

.green {
  @include colorsClass($green);
}

.green-opaque {
  @include colorsClass($green-opaque);
}

.lightGreen {
  @include colorsClass($lightGreen);
}

.lightGreen-opaque {
  @include colorsClass($lightGreen-opaque);
}

.lime {
  @include colorsClass($lime);
}

.lime-opaque {
  @include colorsClass($lime-opaque);
}

.yellow {
  @include colorsClass($yellow);
}

.yellow-opaque {
  @include colorsClass($yellow-opaque);
}

.amber {
  @include colorsClass($amber);
}

.amber-opaque {
  @include colorsClass($amber-opaque);
}

.orange {
  @include colorsClass($orange);
}

.orange-opaque {
  @include colorsClass($orange-opaque);
}

.brown {
  @include colorsClass($brown);
}

.brown-opaque {
  @include colorsClass($brown-opaque);
}

.background-red {
  @include backgroundColorsClass($red, $text-white, $icon-white-active);
}

.background-red-opaque {
  @include backgroundColorsClass($red-opaque, $text-white, $icon-white-active);
}

.background-pink {
  @include backgroundColorsClass($pink, $text-white, $icon-white-active);
}

.background-pink-opaque {
  @include backgroundColorsClass($pink-opaque, $text-white, $icon-white-active);
}

.background-purple {
  @include backgroundColorsClass($purple, $text-white, $icon-white-active);
}

.background-purple-opaque {
  @include backgroundColorsClass($purple-opaque, $text-white, $icon-white-active);
}

.background-deepPurple {
  @include backgroundColorsClass($deepPurple, $text-white, $icon-white-active);
}

.background-deepPurple-opaque {
  @include backgroundColorsClass($deepPurple-opaque, $text-white, $icon-white-active);
}

.background-indigo {
  @include backgroundColorsClass($indigo, $text-white, $icon-white-active);
}

.background-indigo-opaque {
  @include backgroundColorsClass($indigo-opaque, $text-white, $icon-white-active);
}

.background-blue {
  @include backgroundColorsClass($blue, $text-white, $icon-white-active);
}

.background-blue-opaque {
  @include backgroundColorsClass($blue-opaque, $text, $icon-active);
}

.background-lightBlue {
  @include backgroundColorsClass($lightBlue, $text-white, $icon-white-active);
}

.background-lightBlue-opaque {
  @include backgroundColorsClass($lightBlue-opaque, $text, $icon-active);
}

.background-cyan {
  @include backgroundColorsClass($cyan, $text-white, $icon-white-active);
}

.background-cyan-opaque {
  @include backgroundColorsClass($cyan-opaque, $text, $icon-active);
}

.background-teal {
  @include backgroundColorsClass($teal, $text-white, $icon-white-active);
}

.background-teal-opaque {
  @include backgroundColorsClass($teal-opaque, $text, $icon-active);
}

.background-green {
  @include backgroundColorsClass($green, $text-white, $icon-white-active);
}

.background-green-opaque {
  @include backgroundColorsClass($green-opaque, $text, $icon-active);
}

.background-lightGreen {
  @include backgroundColorsClass($lightGreen, $text, $icon-active);
}

.background-lightGreen-opaque {
  @include backgroundColorsClass($lightGreen-opaque, $text, $icon-active);
}

.background-lime {
  @include backgroundColorsClass($lime, $text, $icon-active);
}

.background-lime-opaque {
  @include backgroundColorsClass($lime-opaque, $text, $icon-active);
}

.background-yellow {
  @include backgroundColorsClass($yellow, $text, $icon-active);
}

.background-yellow-opaque {
  @include backgroundColorsClass($yellow-opaque, $text, $icon-active);
}

.background-amber {
  @include backgroundColorsClass($amber, $text, $icon-active);
}

.background-amber-opaque {
  @include backgroundColorsClass($amber-opaque, $text, $icon-active);
}

.background-orange {
  @include backgroundColorsClass($orange, $text-white, $icon-white-active);
}

.background-orange-opaque {
  @include backgroundColorsClass($orange-opaque, $text, $icon-active);
}

.background-brown {
  @include backgroundColorsClass($brown, $text-white, $icon-white-active);
}

.background-brown-opaque {
  @include backgroundColorsClass($brown-opaque, $text, $icon-active);
}

.background-lightGrey {
  @include backgroundColorsClass($primary-200, $text, $icon-active);
}

.background-grey {
  @include backgroundColorsClass($primary-400, $text, $icon-active);
}

.background-darkGrey {
  @include backgroundColorsClass($primary-600, $text-white, $icon-white-active);
}

.background-accent {
  @include backgroundColorsClass($accent-1, $text, $icon-active);
}

.background-accent-opaque {
  @include backgroundColorsClass($accent-1-opaque, $text, $icon-active);
}

.background-accent-2 {
  @include backgroundColorsClass($accent-2, $text-white, $icon-white-active);
}

.background-accent-2-opaque {
  @include backgroundColorsClass($accent-2-opaque, $text, $icon-active);
}

.background-warn {
  @include backgroundColorsClass($warn, $text, $icon-active);
}

.background-warn-opaque {
  @include backgroundColorsClass($warn-opaque, $text, $icon-active);
}

.background-alert {
  @include backgroundColorsClass($alert, $text-white, $icon-white-active);
}

.background-alert-opaque {
  @include backgroundColorsClass($alert-opaque, $text, $icon-active);
}

loader {
  @include no-select;

  margin: 16px;
  display: block;
  border: 5px solid $primary-200;
  position: relative;
  -webkit-animation: spin 4496ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: spin 4496ms cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

  &.contrast {
    border-color: $primary-600;

    .outer {
      &.outer-top {
        border-top-color: $primary-50;
        animation: top-spinner-contrast 2504ms ease infinite;
        -webkit-animation: top-spinner-contrast 2504ms ease infinite;
      }

      &.outer-right {
        border-right-color: $primary-50;
        animation: right-spinner-contrast 2504ms ease infinite;
        -webkit-animation: right-spinner-contrast 2504ms ease infinite;
      }

      &.outer-bottom {
        border-bottom-color: $primary-50;
        animation: bottom-spinner-contrast 2504ms ease infinite;
        -webkit-animation: bottom-spinner-contrast 2504ms ease infinite;
      }

      &.outer-left {
        border-left-color: $primary-50;
        animation: left-spinner-contrast 2504ms ease infinite;
        -webkit-animation: left-spinner-contrast 2504ms ease infinite;
      }
    }
  }

  &.simple {
    animation-duration: 1314ms;
    -webkit-animation-duration: 1314ms;

    .outer {
      &.outer-top {
        border-top-color: $primary-600;
        animation: none;
        -webkit-animation: none;
      }

      &.outer-right {
        border-right-color: $primary-300;
        animation: none;
        -webkit-animation: none;
      }

      &.outer-bottom {
        border-bottom-color: $primary-600;
        animation: none;
        -webkit-animation: none;
      }

      &.outer-left {
        border-left-color: $primary-300;
        animation: none;
        -webkit-animation: none;
      }
    }
  }

  &.tiny {
    border-width: 3px;

    .outer {
      width: 24px;
      height: 24px;
      border-width: 3px;
      right: -3px;

      &.outer-top {
        border-top-width: 3px;
      }

      &.outer-right {
        border-right-width: 3px;
      }

      &.outer-bottom {
        border-bottom-width: 3px;
      }

      &.outer-left {
        border-left-width: 3px;
      }
    }
  }

  &.small {
    border-width: 4px;

    .outer {
      width: 32px;
      height: 32px;
      border-width: 4px;
      right: -4px;

      &.outer-top {
        border-top-width: 4px;
      }

      &.outer-right {
        border-right-width: 4px;
      }

      &.outer-bottom {
        border-bottom-width: 4px;
      }

      &.outer-left {
        border-left-width: 4px;
      }
    }
  }

  &.large {
    width: 56px;
    height: 56px;
    min-height: 56px;
    min-width: 56px;
    border-width: 7px;

    .outer {
      width: 56px;
      height: 56px;
      border-width: 7px;
      right: -7px;

      &.outer-top {
        border-top-width: 7px;
      }

      &.outer-right {
        border-right-width: 7px;
      }

      &.outer-bottom {
        border-bottom-width: 7px;
      }

      &.outer-left {
        border-left-width: 7px;
      }
    }
  }

  .outer {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid transparent;


    &.outer-top {
      border-top: 5px solid $primary-500;
      animation: top-spinner 2504ms ease infinite;
      -webkit-animation: top-spinner 2504ms ease infinite;
    }

    &.outer-right {
      border-right: 5px solid $primary-500;
      animation: right-spinner 2504ms ease infinite;
      -webkit-animation: right-spinner 2504ms ease infinite;
    }

    &.outer-bottom {
      border-bottom: 5px solid $primary-500;
      animation: bottom-spinner 2504ms ease infinite;
      -webkit-animation: bottom-spinner 2504ms ease infinite;
    }

    &.outer-left {
      border-left: 5px solid $primary-500;
      animation: left-spinner 2504ms ease infinite;
      -webkit-animation: left-spinner 2504ms ease infinite;
    }
  }
}

transition {
  display: none;
  opacity: 0;
  -webkit-transition: opacity $transition-fast;
  transition: opacity $transition-fast;
  overflow: hidden;

  &.transition-in {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes top-spinner {
  0%, 12.5%, 62.5%, 100% {
    opacity: 0;
  }

  25%, 37.5%, 50% {
    opacity: 1;
  }

  25% {
    border-top-color: $accent-1;
  }

  12.5%, 37.5% {
    border-top-color: $primary-500;
  }
}

@-webkit-keyframes top-spinner {
  0%, 12.5%, 62.5%, 100% {
    opacity: 0;
  }

  25%, 37.5%, 50% {
    opacity: 1;
  }

  25% {
    border-top-color: $accent-1;
  }

  12.5%, 37.5% {
    border-top-color: $primary-500;
  }
}

@keyframes right-spinner {
  0%, 25%, 75%, 100% {
    opacity: 0;
  }

  37.5%, 50%, 62.5% {
    opacity: 1;
  }

  37.5% {
    border-right-color: $accent-1;
  }

  25%, 50% {
    border-right-color: $primary-500;
  }
}

@-webkit-keyframes right-spinner {
  0%, 25%, 75%, 100% {
    opacity: 0;
  }

  37.5%, 50%, 62.5% {
    opacity: 1;
  }

  37.5% {
    border-right-color: $accent-1;
  }

  25%, 50% {
    border-right-color: $primary-500;
  }
}

@keyframes bottom-spinner {
  0%, 37.5%, 87.5%, 100% {
    opacity: 0;
  }

  50%, 62.5%, 75% {
    opacity: 1;
  }

  50% {
    border-bottom-color: $accent-1;
  }

  37.5%, 62.5% {
    border-bottom-color: $primary-500;
  }
}


@-webkit-keyframes bottom-spinner {
  0%, 37.5%, 87.5%, 100% {
    opacity: 0;
  }

  50%, 62.5%, 75% {
    opacity: 1;
  }

  50% {
    border-bottom-color: $accent-1;
  }

  37.5%, 62.5% {
    border-bottom-color: $primary-500;
  }
}

@keyframes left-spinner {
  0%, 50%, 100% {
    border-left-color: $primary-500;
    opacity: 0;
  }

  62.5%, 75%, 87.5% {
    opacity: 1;
  }

  62.5%, 75%, 87.5% {
    border-left-color: $accent-1;
  }
}


@-webkit-keyframes left-spinner {
  0%, 50%, 100% {
    border-left-color: $primary-500;
    opacity: 0;
  }

  62.5%, 75%, 87.5% {
    opacity: 1;
  }

  62.5%, 75%, 87.5% {
    border-left-color: $accent-1;
  }
}

@keyframes top-spinner-contrast {
  0%, 12.5%, 62.5%, 100% {
    opacity: 0;
  }

  25%, 37.5%, 50% {
    opacity: 1;
  }

  25% {
    border-top-color: $accent-1;
  }

  12.5%, 37.5% {
    border-top-color: $primary-50;
  }
}

@-webkit-keyframes top-spinner-contrast {
  0%, 12.5%, 62.5%, 100% {
    opacity: 0;
  }

  25%, 37.5%, 50% {
    opacity: 1;
  }

  25% {
    border-top-color: $accent-1;
  }

  12.5%, 37.5% {
    border-top-color: $primary-50;
  }
}

@keyframes right-spinner-contrast {
  0%, 25%, 75%, 100% {
    opacity: 0;
  }

  37.5%, 50%, 62.5% {
    opacity: 1;
  }

  37.5% {
    border-right-color: $accent-1;
  }

  25%, 50% {
    border-right-color: $primary-50;
  }
}

@-webkit-keyframes right-spinner-contrast {
  0%, 25%, 75%, 100% {
    opacity: 0;
  }

  37.5%, 50%, 62.5% {
    opacity: 1;
  }

  37.5% {
    border-right-color: $accent-1;
  }

  25%, 50% {
    border-right-color: $primary-50;
  }
}

@keyframes bottom-spinner-contrast {
  0%, 37.5%, 87.5%, 100% {
    opacity: 0;
  }

  50%, 62.5%, 75% {
    opacity: 1;
  }

  50% {
    border-bottom-color: $accent-1;
  }

  37.5%, 62.5% {
    border-bottom-color: $primary-50;
  }
}


@-webkit-keyframes bottom-spinner-contrast {
  0%, 37.5%, 87.5%, 100% {
    opacity: 0;
  }

  50%, 62.5%, 75% {
    opacity: 1;
  }

  50% {
    border-bottom-color: $accent-1;
  }

  37.5%, 62.5% {
    border-bottom-color: $primary-50;
  }
}

@keyframes left-spinner-contrast {
  0%, 50%, 100% {
    border-left-color: $primary-50;
    opacity: 0;
  }

  62.5%, 75%, 87.5% {
    opacity: 1;
  }

  62.5%, 75%, 87.5% {
    border-left-color: $accent-1;
  }
}


@-webkit-keyframes left-spinner-contrast {
  0%, 50%, 100% {
    border-left-color: $primary-50;
    opacity: 0;
  }

  62.5%, 75%, 87.5% {
    opacity: 1;
  }

  62.5%, 75%, 87.5% {
    border-left-color: $accent-1;
  }
}

div.calendar-date-hyphen {
  padding-top: 14px;
  padding-left: 5px;
  padding-right: 15px;
}
.mobile-hide {
  display: inherit;
}
.mobile-show {
  display: none;
}
