﻿@import 'layout/reset';
@import 'common';
@import 'materialize/accordion';
@import 'materialize/materialize';
@import 'materialize/materialIcons';
@import 'layout/frontpage';
@import 'layout/login';
@import 'layout/layout';
@import 'layout/capture';
@import 'layout/mobile';
@import 'directives/circular-directive';
@import 'directives/circular-visualization';
@import 'directives/horizontal-directive';
@import 'directives/tree-hierarchy-directive';
@import 'directives/board';
@import 'directives/inputs';
@import 'features/allocation';
@import 'features/rowmanager';
@import 'features/kanban';
@import 'features/businesscase';
@import 'features/processprogress';
@import 'features/dashboard';
@import 'features/deliverables';
@import 'features/projecthourapproval';
@import 'features/evaluationmatrix.scss';
@import 'features/budget';
@import 'features/tab';
@import 'features/financials';
@import 'pages/worktimetracking';
@import 'pages/worktimeapproval';
@import 'pages/worktimestatus';
@import 'pages/worktimereport';
@import 'pages/page-template';
@import 'pages/navigation';
@import 'pages/portfolios';
@import 'pages/simpleallocations';
@import 'pages/userGroupInfo';
@import 'pages/chart-settings';
@import 'widgets/bulletins';

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Roboto-Italic.ttf') format('truetype'),
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype'),
}

.background-keto-1 {
  background: url(../images/backgrounds/keto-1.svg) no-repeat center center;
  background-color: #FFE97C;
  background-size: cover;
}

.background-keto-w-1 {
  background: url(../images/backgrounds/keto-w-1.svg) no-repeat center center;
  background-color: #fff;
  background-size: 100% 85%;
}

.background-keto-w-2 {
  background: url(../images/backgrounds/keto-w-2.svg) no-repeat center center;
  background-color: #fff;
  background-size: 100% 75%;
}

.background-keto-w-3 {
  background: url(../images/backgrounds/keto-w-3.svg) no-repeat center center;
  background-color: #fff;
  background-size: 100% 75%;
}

.background-keto-w-4 {
  background: url(../images/backgrounds/keto-w-4.svg) no-repeat center center;
  background-color: #fff;
  background-size: 100% 65%;
}

.background-keto-w-5 {
  background: url(../images/backgrounds/keto-w-5.svg) no-repeat center center;
  background-color: #fff;
  background-size: 100% 85%;
}

.background-keto-w-6 {
  background: url(../images/backgrounds/keto-w-6.svg) no-repeat center center;
  background-color: #fff;
  background-size: 100% 80%;
}

.background-keto-y-1 {
  background: url(../images/backgrounds/keto-y-1.svg) no-repeat;
  background-color: #FFE97C;
  background-position-y: bottom;
  background-position-x: 90%;
}

.background-keto-y-2 {
  background: url(../images/backgrounds/keto-y-2.svg) no-repeat;
  background-color: #FFE97C;
  background-position-y: bottom;
  background-position-x: 90%;
}

.background-keto-y-3 {
  background: url(../images/backgrounds/keto-y-3.svg) no-repeat;
  background-color: #FFE97C;
  background-position-y: bottom;
    background-position-x: 64px;
}

.aria-detect {
  cursor: pointer;

  &:focus {
    color: $accent-1-hover !important;

    i {
      color: $accent-1-hover !important;
    }

    tr {
      color: $accent-1 !important;
      background-color: $accent-1-hover !important;
    }
  }
}


.btn {
  &.aria-detect {
    &:focus {
      color: #000 !important;
      background-color: $accent-1-hover !important;

      i {
        color: #000 !important;
      }
    }
  }
}

tabs {
  .btn {
    &.aria-detect {
      &:focus {
        color: #000 !important;
        background-color: $accent-1-hover !important;

        i {
          color: #fff !important;
        }
      }
    }
  }

  &.aria-detect {
    &:focus {
      color: #000 !important;
      background-color: $accent-1-hover !important;
    }
  }
}
