<div ng-repeat="(category, items) in requestItemsByCategory">
    <h1 class="h5">
        <input-button type="raised" ng-click="visibleCategories[category] = !visibleCategories[category]">
            Category: {{category}}
        </input-button>
    </h1>
    <div ng-show="visibleCategories[category]">
        <div ng-if="sequences[category]">
            <table-header>Sequences</table-header>
            <table materialize>
                <thead>
                    <tr>
                        <th>Send</th>
                        <th>Sequence Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(name, sequence) in sequences[category]">
                        <td>
                            <input-button type="icon" ng-click="runSequence(category, name);">
                                <i class="material-icons" aria-hidden="true">send</i>
                            </input-button>
                        </td>
                        <td>
                            {{ name }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table-header>Stored Variables</table-header>
        <table materialize>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(name, variable) in variables[category]">
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{variable}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table-header>Requests</table-header>
        <table materialize>
            <thead>
                <tr>
                    <th>Send</th>
                    <th>Request Name</th>
                    <th>Status</th>
                    <th>Errors</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in items">
                    <td>
                        <input-button type="icon" ng-click="sendRequest(item);">
                            <i class='material-icons'>send</i>
                        </input-button>
                    </td>
                    <td>
                        <a href="" ng-click="item.expanded = !item.expanded">{{item.title}}</a>
                    </td>
                    <td>
                        <div ng-repeat="response in item.responses">
                            <a href="" ng-click="response.$$expanded = !response.$$expanded">
                                Status: {{response.status}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="response in item.responses">
                            <span ng-repeat="error in response.$$errors">
                                {{ error.message }}<br/>
                            </span>
                            <p ng-if="response.$$expanded">
                                {{response.data}}
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
