<div class="financials financials-page">
	<portfolio-filters ng-show="showFilters"
					   portfolio-columns="filterColumns"
					   is-visible="showFilters"
					   portfolio-id="{{portfolioId}}"
					   process="{{process}}"
					   hide-progress="true"
					   on-click-filter="filter"
					   on-change="filter()"
					   navigation-menu-id="{{navigationMenuId}}"
					   on-save="saveFilters()"
					   hide-columns="true"
					   reload-navigation="reloadNavigation()">
	</portfolio-filters>

	<loader ng-if="Loading()" style="margin: 0 auto; margin-top: 100px"></loader>
	<div style="display: flex; justify-content: space-between;" ng-if="pros.length > 0 && !Loading()">
		<input-button ng-click="Move(-12)" tooltip="FINANCIALS_PREV_YEAR">
			&#60; {{'FINANCIALS_PREV_YEAR' | translate}}
		</input-button>
		<div style="display: flex;" ng-if="scope > 0">
			<input-button ng-click="Move(-move)" tooltip="{{prev_tooltip}}">
				&#60; {{prev_tooltip | translate}}
			</input-button>
			<input-button ng-click="Move(move)" tooltip="{{next_tooltip}}">
				{{next_tooltip | translate}} &#62;
			</input-button>
		</div>
		<input-button ng-click="Move(12)" tooltip="FINANCIALS_NEXT_YEAR">
			{{'FINANCIALS_NEXT_YEAR' | translate}} &#62;
		</input-button>
	</div>

	<div ng-repeat="pro in pros" style="margin-top:100px" ng-show="!Loading()">
		<span class="h5">{{pro.name}}</span>
		<financials process-item-id="pro.processItemId"
					process-group-id="pro.processGroupId"
					archive-date="archiveDate"
					states="pro.states"
					process="process"
					selected-rows="pro.selected_rows"
					show-footer="ShowFooter"
					init="Init"
					loading="pro.loading"
					hide-charts="true"
					style="margin-top:16px;">
		</financials>
	</div>

	<div ng-if="pros.length == 0 && !Loading()" style="margin-top: 86px; text-align: center;">
		<span class="h5">{{'FINANCIALS_PAGE_NO_DATA' | translate}}</span>
	</div>
</div>