<input-container ng-class="{ 'has-content': model.length, 'readonly': !modify }">
	<chip ng-repeat="chip in model" tooltip="{{::chip}}">
		<chip-name ng-bind="::chip"></chip-name>
		<i class="material-icons" ng-click="removeChip($index)" tooltip="CHIP_INPUT_REMOVE">close</i>
	</chip>
	<input id="{{::id}}"
		   ng-model="contains"
		   ng-readonly="!modify"
		   autocomplete="off"
	       aria-disabled="{{!modify}}"
		   aria-required="{{::requiredField}}"
		   ng-required="::requiredField"/>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<i class="material-icons" aria-hidden="true">add</i>
	<input-mockup></input-mockup>
</input-container>