<input-string model="search"
			  placeholder="{{::'SEARCH' | translate}}"
			  minimal
			  modify="true"
			  on-enter="onSelect(search)"
			  on-change="onChange">
</input-string>
<div class="list one-line dense" ng-show="chips.length">
	<div class="list-item menu-item-{{::$index}}" ng-repeat="chip in chips" ng-click="onSelect(chip)">
		<div class="list-item-text">
			<span tooltip="{{::chip}}" class="primary" ng-bind="::chip"></span>
		</div>
	</div>
</div>