<card-content class="user-card">
	<div class="align-column" ng-if="loading">
		<loader></loader>
	</div>
	<div ng-if="user">
		<card-title ng-bind="user.primary"></card-title>
		<div ng-bind="user.secondary"></div>
		<br><br>
		<horizontal-cells ng-if="showRes" style="width:100%" header="{{'QUICK_NEXT_2_WEEKS' | translate}}" footer="true" value="user.cells"></horizontal-cells>
	</div>
	<div ng-if="users" ng-repeat="user in users">
		<div><horizontal-cells ng-if="showRes" header="{{::user.primary}}" style="width:100%" value="user.cells"></horizontal-cells></div>
	</div>
</card-content>