﻿<dialog-content>
	<dialog-title>
		<h2 class="ellipsis">
			{{::'HIDDEN_INPUT_TITLE' | translate}} {{::dialogLabel}}
		</h2>
	</dialog-title>
	<dialog-container>
		<input-container>
			<input id="{{::pid}}" type="password" ng-model="dialogModel.passwd">
			<label for="{{::pid}}">{{::'HIDDEN_INPUT_ENTER' | translate}} {{::dialogLabel}}</label>
		</input-container>
		<input-container ng-show="dialogModel.passwd && dialogModel.passwd.length > 0">
			<input id="{{::rid}}" type="password" ng-model="dialogModel.rPasswd">
			<label for="{{::rid}}">{{::'HIDDEN_INPUT_REENTER' | translate}} {{::dialogLabel}}</label>
		</input-container>
		<p style="line-height: 1.4; font-size: 12px;" translate="PASSWORD_REMOVE"></p>
	</dialog-container>
	
</dialog-content>
<dialog-actions class="align-row">
	<div class="flex align-row start">{{getValidation()}}</div>
	<div class="flex align-row end">
		
		<input-button ng-click="cancel()" ng-bind="::'MSG_CANCEL' | translate"></input-button>
		<input-button ng-click="remove()" type="warn" ng-bind="::'REMOVE' | translate"></input-button>
		<input-button type="primary"
					  modify="!disabled()"
					  ng-click="save()"
					  ng-bind="::'HIDDEN_INPUT_SAVE' | translate">
		</input-button>
	</div>
</dialog-actions>
