﻿<input-container ng-class="{ readonly: !modify}">
	<input id="{{::id}}"
		   ng-click="openDialog()"
		   readonly
		   type="password"
		   ng-model="model"
		   placeholder="{{::placeholder}}"
		   ng-required="::requiredField">
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
</input-container>