﻿<table materialize>
	<thead>
		<tr>
			<th ng-bind="::'ALLOCATION_REQUEST' | translate"></th>
			<th ng-bind="::'REQUESTED_RESOURCE' | translate"></th>
			<th ng-bind="::'FROM' | translate"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="competency in ::approvableRequests" ng-click="openRow(competency)">
			<td ng-bind="::competency.title"></td>
			<td ng-if="::competency.resource_type === 'user' || !competency.resource_type">
				{{::competency.last_name}} {{::competency.first_name}}
			</td>
			<td ng-if="::competency.resource_type  === 'competency'" ng-bind="::competency.name"></td>
			<td>
				{{translations[competency.process_item_id] ? translations[competency.process_item_id] + ' - ' : ''}}
				{{competency.owner_name ? competency.owner_name : ''}}
				{{competency.task_name ? ' - ' + competency.task_name : ''}}
			</td>
		</tr>
	</tbody>
</table>