﻿<allocation-manager rows="tasks" rules="AMRules" options="AMOptions" portfolio-columns="portfolioColumns">
	<row-template type="header">
		<table>
			<tbody>
			<tr class="rowmanager-header">
				<th ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</th>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="51">
		<table>
			<tbody>
			<tr class="type2">
				<td ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
    <row-template type="52">
        <table>
            <tbody>
            <tr class="type2">
                <td ng-repeat="col in ::portfolioColumns">
                    [{{::col.ItemColumn.Name}}]
                </td>
            </tr>
            </tbody>
        </table>
    </row-template>
	<row-template type="default">
		<table>
			<tbody>
			<tr class="type1">
				<td ng-repeat="col in ::portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</allocation-manager>