<div class="flex"></div>
<div class="calendar-control">
	<div class="RMCalendarResolution">
		<p ng-bind="::'PORTFOLIO_ND' | translate"></p>
		<p class="modeName">{{modeName}}</p>
	</div>

	<div class="RMCalendarZoomOut">
		<input-button ng-click="calendarZoomOut()" modify="modifyZoomOut" type="icon">
			<i class="material-icons" aria-hidden="true">zoom_out</i>
		</input-button>
	</div>

	<div class="RMCalendarZoomIn">
		<input-button ng-click="calendarZoomIn()" modify="modifyZoomIn" type="icon">
			<i class="material-icons" aria-hidden="true">zoom_in</i>
		</input-button>
	</div>

	<div class="RMCalendarToday">
		<input-button ng-click="calendarToday()" modify="modifyToday" type="icon">
			<i class="material-icons" aria-hidden="true">today</i>
		</input-button>
	</div>
</div>