<div class="control-checkbox align-row">
	<input-check modify="modify"
				 class="stretch"
				 label="{{::label}}"
				 minimal
				 on-change="toggleAll"
				 model="allSelected">
	</input-check>
	<input-button type="icon" ng-click="toggleChecks()" minimal tooltip="CHECKBOXES_INPUT_TOGGLE">
		<i class="material-icons" aria-hidden="true" ng-class="{'flip': showChecks}">chevron_left</i>
	</input-button>
</div>
<transition transite="showChecks" class="checkboxes">
	<input-check modify="modify"
				 minimal
				 ng-repeat="c in ::checkboxes"
				 label="{{::c.name}}"
				 on-change="c.onSelect"
				 model="c.selected">
	</input-check>
</transition>