<input-string model="model[activeLanguage]"
			  placeholder="{{::placeholder}}"
			  label="{{::label}}"
			  modify="modify"
              on-blur="onBlurText()"
              on-focus="onFocusText()"
			  on-change="inputChanged">
</input-string>
<input-select modify="true"
              options="languages"
              option-value="Name"
              option-name="Translation"
              model="activeLanguage"
              max="1"
              single-value
              ng-show="showFlag"
              minimal
              option-flag="Flag">
</input-select>