<table materialize table-selected-rows="selectedLinks">
	<thead>
		<tr>
			<th style="width: 25%" ng-bind="::'NAVIGATION_TRANSLATION' | translate"></th>
			<th class="icon" style="width: 64px" ng-bind="::'NAVIGATION_STATES' | translate"></th>
			<th colspan="2" ng-bind="::'NAVIGATION_USERGROUPS' | translate"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="link in group.Links" table-select-row="link.InstanceMenuId">
			<td style="width: 25%">
				<input-smart class="smart-table"
							 type="translation"
							 minimal
							 model="link.LanguageTranslation"
							 on-change="onChange"
							 on-change-parameters="link">
				</input-smart>
			</td>
			<td class="icon" style="width: 64px">
				<input-button type="icon" ng-click="editStates(link)" ng-show="link.UserGroups.length">
					<i class="material-icons" aria-hidden="true">lock_open</i>
				</input-button>
			</td>
			<td>
				<input-smart class="smart-table"
							 type="multiselect"
							 options="userGroups"
							 minimal
							 model="link.UserGroups"
							 on-change="onChange"
							 on-change-parameters="link">
				</input-smart>
			</td>
			<td class="icon">
				<input-button type="icon" ng-click="configure(link)" ng-if="::isConfigurable(link)">
					<i class="material-icons" aria-hidden="true">settings</i>
				</input-button>
			</td>
		</tr>
		<tr>
			<td colspan="7">
				<input-button ng-click="newGlobal($event)">
					+{{::'NAVIGATION_GLOBAL' | translate}}
				</input-button>
			</td>
		</tr>
	</tbody>
</table>