﻿<div ng-show="filterVisibility">
	<input-number model="idSearch"
				  label="{{'LOG_ID_SEARCH' | translate}}"
				  modify="true"
				  on-change="doSearch"
				  on-change-parameters="{fromPaging: false, fromText: true}"
				  style="width:50%">
	</input-number>
	<input-string model="search"
				  label="{{'LOG_SEARCH' | translate}}"
				  modify="true"
				  on-change="doSearch"
				  on-change-parameters="{fromPaging: false, fromText: true}"
				  style="width:50%">
	</input-string>
	<input-smart type="process"
				 process="user"
				 max="1"
				 label="SELECT_LOG_USER"
				 model="userForSearch"
				 on-change="doSearch">
	</input-smart>
	<input-smart type="select"
				 options="logCategories"
				 unselectable
				 max="1"
				 single-value
				 label="LOG_CATEGORY"
				 model="logCategory"
				 on-change="doSearch">
	</input-smart>
	<input-smart type="select"
				 options="logTypes"
				 unselectable
				 max="1"
				 single-value
				 label="LOG_TYPE"
				 model="logType"
				 on-change="doSearch">
	</input-smart>
	<input-smart type="select"
				 options="logSeverities"
				 unselectable
				 max="1"
				 single-value
				 label="LOG_SEVERITY"
				 model="logSeverity"
				 on-change="doSearch">
	</input-smart>
	<input-smart
			type="daterange"
			model-start="startOccu"
			model-end="endOccu"
			label="OCCURENCE_RANGE"
			on-change="doSearch">
	</input-smart>

	<input-button type="primary" ng-click="clearFilters()">
		{{'LOG_CLEAR_FILTERS' | translate}}
	</input-button>
</div>

<table-container>
	<table materialize>
		<thead>
			<tr>
				<th ng-click="selectOrderByColumn('instance_log_id')">{{'LOG_ID' | translate}}</th>
				<th ng-click="selectOrderByColumn('log_category')">{{'LOG_CATEGORY' | translate}}</th>
				<th ng-click="selectOrderByColumn('log_type')">{{'LOG_TYPE' | translate}}</th>
				<th ng-click="selectOrderByColumn('log_severity')">{{'LOG_SEVERITY' | translate}}</th>
				<th style="width:25%;">{{'LOG_MESSAGE' | translate}}</th>
				<th ng-if="stackRight" style="width:25%;">{{'STACK_TRACE' | translate}}</th>
				<th ng-click="selectOrderByColumn('last_name')">{{'USER_LAST_NAME' | translate}}</th>
				<th ng-click="selectOrderByColumn('first_name')">{{'USER_FIRST_NAME' | translate}}</th>
				<th ng-click="selectOrderByColumn('login')">{{'LAYOUT_LOGIN' | translate}}</th>
				<th class="align-right" ng-click="selectOrderByColumn('occurence')">{{'OCCURENCE' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in data | limitTo:paging.size">
				<td>{{row["InstanceLogId"]}}</td>
				<td>{{getLogCategory(row["LogCategory"])}}</td>
				<td>{{getLogType(row["LogType"])}}</td>
				<td>{{logSeveritiesC[row["LogSeverity"]]}}</td>
				<td style="width:25%;" ng-click="expandMessage($index)">
					<div style="overflow:visible; word-break:break-all;">
						{{row["Message"] | limitTo: 100}}<span ng-if="row['Message'].length>100">...</span>
					</div>
				</td>
				<td ng-if="stackRight" style="width:25%;" ng-click="expandStack($index)">
					<div style="overflow:visible; word-break:break-all;">
						{{row["Stack"] | limitTo: 100}}<span ng-if="row['Stack'].length>100">...</span>
					</div>
				</td>
				<td>{{row["LastName"]}}</td>
				<td>{{row["FirstName"]}}</td>
				<td>{{row["Login"]}}</td>
				<td class="align-right">{{getOccurenceFunc($index)}}</td>
			</tr>
		</tbody>
	</table>
</table-container>

<div class="flex align-row end">
	<table-pager page="paging.currentPage"
				 page-size="paging.size"
				 max="paging.max"
				 on-page-change="onPageChange"
				 on-page-size-change="onPerPageChange">
	</table-pager>
</div>