<dialog-content>
	<dialog-background class="{{::background}}" ng-class="::{ conserve: !background }"></dialog-background>
	<dialog-title>
		<h2 class="ellipsis" ng-if="undreadNotifications.length > 0">{{notification[columns.title] | translateObject}}</h2>
		<h2 class="ellipsis" ng-if="undreadNotifications.length == 0" ng-bind="::'NO_UNREAD_MESSAGES' | translate"></h2>
	</dialog-title>
	<dialog-container>
		<div class="align-center simple-margin no-select italic"
		     ng-hide="notification"
		     ng-bind="::'NO_UNREAD_MESSAGES' | translate">
		</div>
		<div class="rich-container simple-padding" ng-bind-html="notification.$body"></div>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<div class="align-row start" ng-if="undreadNotifications.length > 0">
		<input-button type="icon" minimal ng-click="prev()">
			<i class="material-icons" aria-hidden="true">chevron_left</i>
		</input-button>
		{{currentNotification}} / {{undreadNotifications.length}}
		<input-button type="icon" minimal ng-click="next()">
			<i class="material-icons" aria-hidden="true">chevron_right</i>
		</input-button>
	</div>
	<div class="flex"></div>
	<div class="align-row end">
		<input-button ng-click="close()" ng-bind="::'LAYOUT_LINK_CLOSE' | translate"></input-button>
		<input-button ng-click="read()"
		              type="primary"
		              modify="notification"
		              ng-if="undreadNotifications.length"
		              ng-bind="::'MARK_READ' | translate">
		</input-button>
	</div>
</dialog-actions>
