<card-content>
	<card-title ng-bind="::title"></card-title>
	<card-subtitle>
		<div ng-show="!translationStep">
			<input-select max="0"
						  model="selected"
						  options="options"
						  option-name="{{::name}}"
						  option-value="{{::value}}"
						  label="{{::label | translate}}"
						  on-change="onSelectChange"
						  modify="true">
			</input-select>
		</div>
		<div ng-show="translationStep">
			<input-translation ng-repeat="l in links"
							   model="l.LanguageTranslation"
							   label="{{::l.name}}"
							   modify="true"
							   on-change="onTranslationChange">
			</input-translation>
		</div>
	</card-subtitle>
</card-content>
<card-actions>
	<input-button ng-click="cancel()" ng-bind="::'NAVIGATION_CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="next()" modify="continue">
		{{nextButton}}
	</input-button>
</card-actions>