<dialog-content>
	<dialog-container>
		<div class="process-progress-bar">
			<div ng-repeat="(i, p) in phases"
				 class="progress"
				 ng-class="{ decision: i == index, grey: i > index }"
				 ng-bind="::p.name | translate">
			</div>
		</div>
		<input-select ng-show="!index"
					  on-change="onChange"
					  ng-repeat="i in ::inputs"
					  options="i.options"
					  option-name="{{::i.name}}"
					  option-value="{{::i.value}}"
					  model="i.model"
					  modify="true"
					  max="0"
					  label="{{::i.label | translate}}">
		</input-select>
		<accordion ng-show="index">
			<pane expand>
				<pane-header ng-bind="::'NAVIGATION_TRANSLATIONS' | translate"></pane-header>
				<pane-content>
					<input-translation model="p.LanguageTranslation"
									   ng-repeat="p in onEdit"
									   label="{{::p.name}}"
									   on-change="onChange"
									   modify="true">
					</input-translation>
				</pane-content>
			</pane>
			<pane>
				<pane-header ng-bind="::'NAVIGATION_ICONS' | translate"></pane-header>
				<pane-content>
					<input-select ng-repeat="p in onEdit"
								  single-value
								  unselectable
								  options="icons"
								  option-name="Variable"
								  option-value="Icon"
								  option-icon="Icon"
								  model="p.Icon"
								  label="{{::p.name}}"
								  parent="ParentItemId"
								  self="ItemId"
								  modify="true">
					</input-select>
				</pane-content>
			</pane>
			<pane>
				<pane-header ng-bind="::'NAVIGATION_USERGROUPS' | translate"></pane-header>
				<pane-content>
					<input-select max="0"
								  ng-repeat="p in onEdit"
								  options="userGroups"
								  model="p.UserGroups"
								  label="{{::p.name}}"
								  modify="true">
					</input-select>
				</pane-content>
			</pane>
		</accordion>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()" ng-bind="::'NAVIGATION_CANCEL' | translate"></input-button>
	<input-button ng-click="back()" modify="return" ng-bind="::'NAVIGATION_BACK' | translate"></input-button>
	<input-button type="primary" ng-click="next()" modify="continue">
		{{nextButton}}
	</input-button>
</dialog-actions>
