<dialog-content>
	<dialog-container>
		<div ng-repeat="g in ::link.UserGroups">
			<input-select model="link.UserGroupStates[g]"
						  max="0"
						  modify="true"
						  options="states"
			              option-name="name"
			              option-value="value"
						  on-change="statesChanged"
						  on-change-parameters="link.UserGroupStates[g]"
						  label="{{::userGroups[g]}}">
			</input-select>
		</div>
	</dialog-container>
</dialog-content>
<dialog-actions class="align-row">
	<input-button type="icon" ng-click="lock = !lock">
		<i class="material-icons" ng-show="!lock">lock_open</i>
		<i class="material-icons" ng-show="lock">lock</i>
	</input-button>
	<input-button ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button type="primary" ng-click="save()" modify="isActive" ng-bind="::'SAVE' | translate"></input-button>
</dialog-actions>
