<div ng-repeat="(server_name, application) in allServers">
<table-header>{{server_name}}</table-header>
<table-container>
	<table materialize>
		<thead>
		<tr>
			<th>{{'APPLICATION' | translate}}</th>
			<th>{{'VERSION' | translate}}</th>
			<th>{{'RELEASE_DATE' | translate}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="value in application">
			<td>
				{{value.ApplicationName}}
			</td>
			<td>
				{{value.VersionNumber}}
			</td>
			<td>
				{{value.ReleaseDate}}
			</td>
		</tr>
		</tbody>
	</table>
</table-container>
</div>

