<dialog-content>
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'FEATURE_CONFIGURE' | translate"></h2>
	</dialog-title>
	<dialog-container>
		<tabs>
			<tab label="{{::tab}}" ng-repeat="(tab, options) in ::tabs">
				<div class="align-row" ng-repeat="(name, option) in options">
					<input-smart type="{{::option.type}}"
								 class="stretch"
								 ng-attr-single-value="{{::option.singleValue || undefined}}"
								 ng-if="option.visible"
								 modify="option.modify"
								 watch-options
								 model="params[name]"
								 label="{{::option.label}}"
								 options="option.options"
								 on-change="onChange"
								 on-change-parameters="name"
								 self="{{::option.optionSelf}}"
								 parent="{{::option.optionParent}}"
								 option-value="{{::option.optionValue}}"
								 option-name="{{::option.optionName}}"
								 unselectable
								 single-value="{{::option.singleValue || undefined}}"
								 min="{{::option.min}}"
								 max="{{::option.max}}"
								 rows="{{::option.rows}}"
								 precision="{{::option.precision}}">
					</input-smart>
					<i class="material-icons simple-margin align-item-end no-select" aria-hidden="true"
					   style="cursor: default"
					   ng-if="::option.help"
					   tooltip="{{::option.help}}">
						help_outline
					</i>
				</div>
			</tab>
		</tabs>
		<input-smart type="select"
					 ng-if="::!processDefined"
					 on-change="processChange"
					 option-name="LanguageTranslation"
					 option-value="ProcessName"
					 model="process"
					 single-value
					 label="FEATURE_CONFIGURE_SPECIFIC_PROCESS"
					 options="processes">
		</input-smart>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="close()" ng-bind="::'CLOSE' | translate"></input-button>
	<input-button type="primary"
				  modify="proceed"
				  ng-click="finish()"
				  ng-bind="::'FINISH' | translate">
	</input-button>
</dialog-actions>