<dialog-content>
	<dialog-container>
		<div ng-if="tabs.length == 0 && !createNew">
			{{'NO_HELPS_ADDED' | translate}}<br>
            <div>
                <input-button type="primary" style="align-self: flex-start" ng-click="showCreateNew()" ng-if="adminButton && !createNew">
					{{'CREATE_NEW_HELP' | translate}}</input-button>
            </div>
		</div>
		<div ng-if="createNew">
			<div>
				<input-smart ng-if="adminMode"
							 type="translation"
							 label="HELP_TEXT_NAME"
							 model="helpers['0'].LanguageTranslationName">
				</input-smart>
			</div>
			<div>
			<input-smart type="select"
						 single-value
						 label="NOTIFICATION_RICH_LANGUAGE"
						 model="$parent.ul"
						 on-change="initLanguage"
						 watch-options="true"
						 options="languages">
			</input-smart>
			</div>
			<div ng-if="adminMode">
				<input-rich model="helpers['0'].DescVariable[ul]"
							has-image="true"
							modify="true">
				</input-rich>
			</div>
			<div>
				<input-smart ng-if="adminMode" type="select" option-name="Name" option-value="Value" single-value="true" options="[{Name: 'Video + text', Value: 0}, {Name: 'Only text', Value: 1}]" on-change="checkInputs" label="MediaType" model="helpers['0'].MediaType">
				</input-smart>
			</div>
			<div>
				<input-smart ng-if="adminMode && helpers['0'].MediaType == 0" type="text" on-change="checkInputs" label="VIDEO" model="helpers['0'].VideoLink">
				</input-smart>
			</div>
		</div>
		<tabs create-function="showCreateNew()" modify="adminMode && edit" move="true" first-disable-index="0" last-disable-index="{{tabs.length -1}}">
			<tab ng-repeat="tab in tabs" label="{{::!checkNameTranslation(tab.instanceHelperId) ? helpers[tab.instanceHelperId].LanguageTranslationName[ul] : helpers[tab.instanceHelperId].NameVariable | translate}}" on-click="addButtonAllow" order-no="{{tab.OrderNo}}" delete-tab="deleteTab" tab-save="helperSave" ng-if="!createNew" entity="{{tab.instanceHelperId}}">
				<div>
					<input-smart ng-if="adminMode && !showVideo" type="translation" on-change="modifyHelp(tab)" label="HELP_TEXT_NAME" modify="edit" model="helpers[tab.instanceHelperId].LanguageTranslationName"></input-smart>
				</div>
				<div>
					<div ng-if="adminMode && !showVideo">
						<div>
							<input-smart type="select"
										 single-value
										 label="NOTIFICATION_RICH_LANGUAGE"
										 model="ul"
										 watch-options="true"
										 options="languages">
							</input-smart>
						</div>
						<input-rich model="helpers[tab.instanceHelperId].DescVariable[ul]"
									has-image="true"
									modify="edit"
									on-change="modifyHelp(tab)">
						</input-rich>
					</div>
				</div>
				<div>
					<input-smart ng-if="adminMode && !showVideo" type="select" modify="edit" option-name="Name" option-value="Value" single-value="true" options="[{Name: 'Video + text', Value: 0}, {Name: 'Only text', Value: 1}]" on-change="modifyHelp(tab)" label="MediaType" model="helpers[tab.instanceHelperId].MediaType"></input-smart>
				</div>
				<div>
					<input-smart ng-if="adminMode && helpers[tab.instanceHelperId].MediaType == 0 && !showVideo" type="string" on-change="modifyHelp(tab)" label="VIDEO" modify="edit" model="helpers[tab.instanceHelperId].VideoLink"></input-smart>
				</div>
				<video width="100%" height="300" controls="controls" ng-if="helpers[tab.instanceHelperId].VideoLink && helpers[tab.instanceHelperId].VideoLink.length > 0 && !edit">
					<source src="{{helpers[tab.instanceHelperId].VideoLink}}" type="video/mp4">
				</video>
				<div class="rich-container" ng-bind-html="tab.content" ng-if="!edit">
				</div>

			</tab>
		</tabs>
	</dialog-container>
	<div style="display:flex;">
		<input-button type="primary" ng-click="cancelCreation()" ng-if="adminButton && createNew">{{'CANCEL' | translate}}</input-button>
		<input-button type="primary" ng-click="addNewHelp()" ng-if="adminMode && createNew">{{'SAVE_NEW_HELP' | translate}}</input-button>

	</div>
</dialog-content>

<dialog-actions>
	<input-smart model="doNotShow"
				 type="checkbox"
				 label="HELP_DO_NO_SHOW_AGAIN"
				 minimal style="margin-right: 16px;">
	</input-smart>
    <div>
        <input-button type="primary" ng-click="editHelp()" ng-if="adminButton && !edit && !createNew && tabs.length != 0">
			{{'EDIT_HELP' | translate}}</input-button>
    </div>
    <div>
        <input-button type="primary" ng-click="editHelp()" modify="!createNew" ng-if="adminButton && edit">{{'STOP_EDIT_HELP' | translate}}</input-button>
    </div>
	<input-button type="primary" ng-click="close()" ng-if="!edit">
		{{'OK_GOT_IT' | translate}}
	</input-button>
</dialog-actions>

