<table-container>
	<table materialize table-selected-rows="selectedRows">
		<thead>
		<tr>
			<th style="width:150px">{{'HTTPREQUEST_NAME' | translate}}</th>
			<th style="width: 25%">{{'LINK_INPUT_LINK' | translate}}</th>
			<th style="width: 25%">Header</th>
			<th style="width: 25%">Body</th>
			<th>{{'HTTP_VERB' | translate}}</th>
			<th class="icon">
				<input-button type="icon" ng-click="createHttpRequest()">
					<i class="material-icons" aria-hidden="true">add</i>
				</input-button>
			</th>
			<th style="width: 100px">{{::"LIST_COMPARE" | translate}}</th>
		</tr>
		</thead>
		<tbody>
		<tr table-select-row="request.item_id" ng-repeat="request in requests"
		    label="condition.LanguageTranslation" index="{{$index}}" ng-if="requests.length > 0">
			<td>
				<input-smart-table
						type="translation"
						model="request.name_variable"
						modify="true"
						on-change="modifyRequest(request)">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table
						type="text"
						model="request.httprequest_url"
						modify="true"
						on-change="modifyRequest(request)">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table
						type="text"
						model="request.httprequest_header"
						modify="true"
						on-change="modifyRequest(request)">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table
						type="text"
						model="request.httprequest_body"
						modify="true"
						on-change="modifyRequest(request)">
				</input-smart-table>
			</td>
			<td colspan="2">
				<input-smart-table
						type="select"
						single-value="true"
						options="requestTypes"
						option-name="name"
						option-value="value"
						model="request.httprequest_type"
						modify="true"
						on-change="modifyRequest(request)">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table 
						type="select"
						model="request.compare"
						options="compareOptions"
						option-value="value"
						option-name="name"
						on-change="modifyRequest(request)"
						single-value="true">
				</input-smart-table>
			</td>
		</tr>

		<tr ng-if="requests.length == 0">
			<td colspan="7" class="align-center">No requests added</td>
		</tr>
		</tbody>
	</table>
</table-container>