<div class="flex align-row">
<div class="flex align-row start">
    <input-button ng-click="deleteRequestWarn()" ng-if="selectedRows.length > 0"><div translate="DELETE"></div></input-button>
</div>
</div>