﻿<input-select model="$parent.$parent.archiveDate"
			  ng-if="::archives.length"
			  minimal
			  modify="true"
			  on-change="archiveChange"
			  options="archives"
			  option-value="archive_start"
			  option-name="archive_start_formatted"
			  placeholder="{{::'HISTORY' | translate}}"
			  single-value
			  max="1"
			  style="width: 256px">
</input-select>
<div class="flex"></div>
<div ng-repeat="grid in ::grids['3']">
	<input-button ng-repeat="button in ::grid.fields"
				  type="primary"
				  ng-click="buttonClick(button)"
				  modify="hasContainerWriteRight(grid.Id) && formIsValid(button.ItemColumn) && !button.ReadOnly && !inEdit"
				  ng-bind="::button.ItemColumn.LanguageTranslation | translateObject"
				  loading="button.Clicked">
	</input-button>
</div>