﻿<div class="tab">
	<content-background ng-if="::background" ng-class="::background"></content-background>
	<form name="tabForm">
		<!-- Top: 4 -->
		<div ng-class="{'edit-top': inEdit && grids['4'].length > 0}">
			<div class="stretch top-container" ng-repeat="grid in grids['4']">
				<process-grid></process-grid>
			</div>
			<div ng-if="inEdit" ng-class="{'edit-tab-empty edit-top': !grids['4'] || grids['4'].length == 0}">
				<input-button ng-click="addContainer(4)">
					<div translate="NEW_CONTAINER"></div>
				</input-button>
				<input-button ng-click="copyContainer(4)">
					<div translate="EXISTING_CONTAINER"></div>
				</input-button>
			</div>
		</div>
		
		<!-- Left: 1 & Right: 2 -->
		<div class="row" ng-class="{'edit-tab': inEdit }">
			<div ng-class="panels[sides]">
				<div ng-repeat="grid in ::grids['1']">
					<process-grid></process-grid>
				</div>
				<div ng-if="inEdit">
					<input-button ng-click="addContainer(1)">
						<div translate="NEW_CONTAINER"></div>
					</input-button>
					<input-button ng-click="copyContainer(1)">
						<div translate="EXISTING_CONTAINER"></div>
					</input-button>
				</div>
			</div>
			<div ng-class="panels[sides]" style="border-left: none;">
				<div ng-repeat="grid in ::grids['2']">
					<process-grid></process-grid>
				</div>
				<div ng-if="inEdit">
					<input-button ng-click="addContainer(2)">
						<div translate="NEW_CONTAINER"></div>
					</input-button>
					<input-button ng-click="copyContainer(2)">
						<div translate="EXISTING_CONTAINER"></div>
					</input-button>
				</div>
			</div>
		</div> 

		<!-- Bottom: 5 -->
		<div ng-class="{'edit-bottom': inEdit && grids['5'].length > 0}">
			<div class="stretch bottom-container" ng-repeat="grid in ::grids['5']">
				<process-grid></process-grid>
			</div>
			<div ng-if="inEdit" ng-class="{'edit-tab-empty edit-bottom': !grids['5'] || grids['5'].length == 0}">
				<input-button ng-click="addContainer(5)">
					<div translate="NEW_CONTAINER"></div>
				</input-button>
				<input-button ng-click="copyContainer(5)">
					<div translate="EXISTING_CONTAINER"></div>
				</input-button>
			</div>
		</div>

	</form>
</div>