<div class="user-group-info">
	<accordion control="ug" multiple init-open="{{initOpen}}">
		<pane entity="ug_{{userGroup.itemId}}" class="level1" ng-repeat="userGroup in userGroups">
			<pane-header >{{userGroup.name}}</pane-header>
			<pane-content>
				<accordion control="cat" multiple>
					<pane entity="cat_{{userGroup.itemId}}_{{category.type}}}" class="level2" ng-repeat="category in userGroup.categories">
						<pane-header >{{category.name | translate}}</pane-header>
						<pane-content>
							<accordion control="pro" multiple>
								<pane entity="pro_{{userGroup.itemId}}_{{category.type}}_{{process.ID}}}" class="level3" ng-repeat="process in category.processes">
									<pane-header >{{process.name | translate}}</pane-header>
									<pane-content>
										<table materialize>
											<thead>
												<tr>
													<th>{{titles[category.type].value | translate}}</th>
													<th ng-if="category.type == 0 || category.type == 2" class="states">{{"USER_GROUP_INFO_STATES" | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in process.items">
													<td>{{item.name | translate}}<span ng-if="item.name && item.sub_name"> - </span>{{item.sub_name | translateObject}}</td>
													<td ng-if="category.type == 0 || category.type == 2">{{::parseStates(item.states)}}</td>
												</tr>
											</tbody>
										</table>
									</pane-content>
								</pane>
							</accordion>
						</pane-content>
					</pane>
				</accordion>
			</pane-content>
		</pane>
	</accordion>
</div>