<div class="flex align-row start">
	<input-button type="primary" ng-click="compare('','')" modify="edit && ready">{{::'IC_COMPARE' | translate}}</input-button>
</div>
<div class="flex align-row end">
	<input-button type="primary" ng-click="deploy()" modify="edit && ready">{{::'IC_DEPLOY' | translate}}</input-button>
</div>