<input-button type="icon" no-waves
              ng-click="showAttachment(attachment,archiveDate)"
			  modify="!isDraft"
			  tooltip="FILE_INPUT_SHOW">
	<i class="material-icons" aria-hidden="true">image</i>
</input-button>