<img ng-if="!bigThumbNails" ng-src="v1/meta/AttachmentsDownload/{{::attachment.AttachmentId}}/3{{archiveDate}}"
	 tooltip="FILE_INPUT_SHOW"
	 alt="{{attachment.Name}}"
	 ng-click="showAttachment(attachment,archiveDate)">

<div ng-if="bigThumbNails" title="{{::thumbAttch.Name}}" ng-click="showAttachment(thumbAttch,archiveDate)" ng-mouseenter="enter(thumbAttch)" ng-mouseleave="leave(thumbAttch)" style="background-color: transparent; margin-top: 20px;margin-left:10px; padding-right: 10px; display: block; width:160px; height: 160px; border-radius: 0px; background-size:contain; background-repeat:no-repeat; background-image:url('v1/meta/AttachmentsDownload/{{::thumbAttch.AttachmentId}}/1{{archiveDate}}');">
	<div ng-if="modify && activeMouse[thumbAttch.AttachmentId]" style="margin-top:10px;float:right;margin-right:10px">
			<i class="material-icons" aria-hidden="true" style="background-color:lightgray; border-radius:50%" ng-click="removeAttachment(thumbAttch); $event.stopPropagation()" tooltip="FILE_INPUT_REMOVE" >delete</i>
	</div>
</div>
