<!--<div ng-bind="::attachment.mime"
	 tooltip="FILE_INPUT_SHOW"
	 class="subtitle-2"
	 modify="!isDraft"
	 ng-click="downloadAttachment(attachment)">
</div>-->

<input-button type="icon" no-waves
			  ng-click="downloadAttachment(attachment)"
			  modify="!isDraft"
			  tooltip="FILE_INPUT_DOWNLOAD">
	<i class="material-icons" aria-hidden="true">description</i>
</input-button>

