﻿<div id="WorkTimeReportFeatureOptionsArea" class="row" ng-show="showOptions">
    <div id="WorkTimeReportFeatureOptionsAreaChild" class="col-xs-12" ng-class="{'transition-in': showOptions}" >
        <div class="row" style="padding-left:8px;">
            <div class="col-xs-12">
                <div class="row" style="max-height:380px; overflow-y:auto;">
                    <div class="col-xs-4">
                        <h2 class="h6">{{'WORKTIME_REPORT_11_RO' | translate}}</h2>
                        <div style="padding-left:8px;">
                            <input-smart type="select" modify="editOptions" model="valueReportProcess" options="listSelectProcess.SelectProcess" option-value="process" option-name="processTranslation" label="WORKTIME_REPORT_27_WTRT" on-change="reportTargetChanged" on-change-parameters="valueReportProcess"></input-smart>
                            <input-smart type="select" modify="editOptions" model="valueSelectReportResolution" options="listSelectReportResolution.SelectReportResolution" option-value="value" option-name="list_item" label="WORKTIME_REPORT_1_SRR"></input-smart>
                            <input-smart type="daterange" label="WORKTIME_REPORT_2_ST" settings="{ prev: 2 }" model-start="optionStartDate" model-end="optionEndDate" modify="editOptions" on-change="validateTimeFrameOptions"></input-smart>
                            <input-smart type="select" modify="editOptions" model="valueGrouping" options="listGrouping.SelectGrouping" option-value="value" option-name="list_item" label="WORKTIME_REPORT_3_G"></input-smart>
                            <input-smart type="select" modify="editOptions" model="valueScope" options="listScope.SelectScope" option-value="value" option-name="list_item" label="WORKTIME_REPORT_4_S"></input-smart>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h2 class="h6">{{'WORKTIME_REPORT_8_SU' | translate}}</h2>
                        <div style="padding-left:8px;">
                            <input-smart type="process" process="user" model="optionsUsers" modify="editOptions" label="WORKTIME_REPORT_39_U"></input-smart>
                        </div>
                    </div>
                    <div class="col-xs-4" ng-show="SearchProcessName.length > 0">
                        <h2 class="h6">{{'WORKTIME_REPORT_9_SRR' | translate}} {{processSelectHeader}}</h2>
                        <div style="padding-left:8px;" ng-repeat="processes in listSelectProcess.SelectProcess">
                            <input-smart type="process" process="{{::processes.process}}" label="{{::processes.process}}" model="optionsProcesses" modify="editOptions" ng-if="processes.process == SearchProcessName"></input-smart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="align-right">
                    <div ng-switch="!editOptions">
                        <div ng-switch-when="false"><input-button type="primary" ng-click="openReport()" modify="SearchProcessName.length > 0 && targetProcessNameColumn.length > 0">{{::'WORKTIME_REPORT_6_OR' | translate}}</input-button></div>
                        <div ng-switch-when="true"><input-button type="primary" ng-click="closeReport()">{{::'WORKTIME_REPORT_23_CR' | translate}}</input-button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="reportCreated == false && loading == true" class="loading-screen align-column" style="padding-top:0px;">
    <!--0px offsets the element to default content -element loader position-->
    <loader></loader>
    <h2 class="h6">{{::'LOADING_CONTENT' | translate}}</h2>
</div>
<div id="WorkTimeReportFeatureDataArea" class="row" ng-show="reportCreated && loading == false && dataFound == true" style="max-width:100%; overflow-x:hidden;">
    <!--report parameter headers start-->
    <div class="col-xs-12">
        <h2 class="h6">{{reportStartDate}} - {{reportEndDate}}</h2>
    </div>
    <div ng-switch="reportUsers.length > 0" class="col-xs-12">
        <h2 class="h6" ng-switch-when="true" style="margin-top: 40px;">{{::'WORKTIME_REPORT_30_SU' |translate}}</h2>
        <input-smart type="user" process="user" model="reportUsers" modify="false" ng-switch-when="true" chip></input-smart>
        <h2 class="h6" ng-switch-when="false" style="margin-top: 40px;">{{::'WORKTIME_REPORT_31_AU' |translate}}</h2>
    </div>
    <div ng-switch="reportProcesses.length > 0" class="col-xs-12">
        <h2 class="h6" style="margin-top: 40px;" ng-switch-when="true">{{::'WORKTIME_REPORT_38_T' | translate}}: {{::'WORKTIME_REPORT_29_S' | translate}} {{processSelectHeader}}</h2>
        <input-smart type="process" ng-switch-when="true" process="{{::SearchProcessName}}" model="reportProcesses" modify="false" chip></input-smart>
        <h2 class="h6" style="margin-top: 40px;" ng-switch-when="false">{{::'WORKTIME_REPORT_38_T' | translate}}: {{processSelectHeader}}</h2>
    </div>
    <div id="WtrTableArea" style="margin-top:40px; max-width:100%; overflow-x:auto;" ng-switch="reportResolutionType" work-Time-Report-Directive>
        <table materialize ng-switch-when="days">
            <!--Day report data header starts-->
            <thead>
                <tr>
                    <th style="text-align:left; min-width:100px; white-space:nowrap;"></th>
                    <th style="width:20px; white-space:nowrap; text-align:right;" ng-repeat="dateheader1 in dateHeaders">
                        {{dateheader1.dayName}}
                    </th>
                    <th style="white-space:nowrap; width:20px;" class="align-left"></th>
                </tr>
                <tr>
                    <th style="min-width:100px; white-space:nowrap;" ng-style="{'padding-left': (scopeIsTask || userGrouping) ? '30px' : '24px'}" class="align-left">{{reportRowHeader}}</th>
                    <th style="width:20px; white-space:nowrap;" ng-repeat="dateheader2 in dateHeaders" class="align-right">
                        {{dateheader2.date}}
                    </th>
                    <th style="white-space:nowrap; width:20px;" class="align-left">{{::'WORKTIME_REPORT_22_S' | translate}}</th>
                </tr>
            </thead>
            <!--day report data starts-->
            <tbody>
                <tr ng-repeat="(rowKey, rowValue) in reportRows" ng-switch="rowValue.row_type" ng-show="rowValue.caret_val || rowValue.row_type == 1 || rowValue.ignoreCaretVal == true">
                    <td class="wtrCaretRow" style="white-space:nowrap;" ng-switch-when="1" ng-click="toggleUserRows(reportRows[$index])">
                        <i class="material-icons" ng-class="{revertRowCaret:rowValue.revert}">expand_more</i> {{rowValue.responsible_name}}
                    </td>
                    <td class="wtrCaretRow" style="white-space:nowrap;" ng-switch-when="2" ng-click="toggleOwnerRows(rowValue, 1)" ng-style="{'padding-left': (rowValue.hasParentRow == true) ? '75px' : '24px'}">
                        <i class="material-icons" ng-class="{revertRowCaret:rowValue.revert}" ng-show="rowValue.hasRows">expand_more</i> {{rowValue.owner_name}}
                    </td>
                    <td style="white-space:nowrap;" ng-switch-when="3" ng-style="{'padding-left': (userGrouping && scopeIsTask) ? '126px' : '75px'}">
                        {{rowValue.task_name}}
                    </td>
                    <td style="white-space:nowrap; text-align:right;" ng-repeat="(hourKey,hourValue) in rowValue.days_and_hours">
                        {{hourValue.hours}}
                    </td> 
                    <td style="white-space:nowrap;" class="align-right">
                        {{rowValue.hours_sum}} {{::hourIndicator}}
                    </td>
                </tr>
                <tr>
                    <td style="white-space:nowrap;" ng-style="{'padding-left': (scopeIsTask || userGrouping) ? '30px' : '24px'}">{{::'WORKTIME_REPORT_22_S' | translate}}</td>
                    <td ng-repeat="dateCol in dateHeaders" style="text-align:right; white-space:nowrap;">
                        {{dateCol.hourSum}} {{::hourIndicator}}
                    </td>
                    <td style="white-space:nowrap;" class="align-right">{{TotalHours}} {{::hourIndicator}}</td>
                </tr>
            </tbody>
        </table>
        <table materialize ng-switch-when="weeks">
            <!--Week report data header starts-->
            <thead>
                <tr>
                    <th style="text-align:left; min-width:100px; white-space:nowrap;"></th>
                    <th style="width:20px; white-space:nowrap;" ng-repeat="row1 in dateHeaders" class="align-right">
                        {{row1.year}}
                    </th>
                    <th style="white-space:nowrap; width:20px;" class="align-left"></th>
                </tr>
                <tr>
                    <th style="min-width:100px; white-space:nowrap;" ng-style="{'padding-left': (scopeIsTask || userGrouping) ? '30px' : '24px'}" class="align-left">{{reportRowHeader}}</th>
                    <th style="width:20px; white-space:nowrap;" ng-repeat="row2 in dateHeaders" class="align-right">
                        {{row2.week}}
                    </th>
                    <th style="white-space:nowrap; width:20px;" class="align-left">{{::'WORKTIME_REPORT_22_S' | translate}}</th>
                </tr>
            </thead>
            <!--week report data starts-->
            <tbody>
                <tr ng-repeat="(rowKey, rowValue) in reportRows" ng-switch="rowValue.row_type" ng-show="rowValue.caret_val || rowValue.row_type == 1 || rowValue.ignoreCaretVal == true">
                    <td class="wtrCaretRow" style="white-space:nowrap;" ng-switch-when="1" ng-click="toggleUserRows(reportRows[$index])">
                        <i class="material-icons" ng-class="{revertRowCaret:rowValue.revert}">expand_more</i> {{rowValue.responsible_name}}
                    </td>
                    <td class="wtrCaretRow" style="white-space:nowrap;" ng-switch-when="2" ng-click="toggleOwnerRows(rowValue, 1)" ng-style="{'padding-left': (rowValue.hasParentRow == true) ? '75px' : '24px'}">
                        <i class="material-icons" ng-class="{revertRowCaret:rowValue.revert}" ng-show="rowValue.hasRows">expand_more</i> {{rowValue.owner_name}}
                    </td>
                    <td style="white-space:nowrap;" ng-switch-when="3" ng-style="{'padding-left': (userGrouping && scopeIsTask) ? '126px' : '75px'}">
                        {{rowValue.task_name}}
                    </td>
                    <td style="white-space:nowrap;" ng-repeat="(hourKey,hourValue) in rowValue.weeks_and_hours" class="align-right">
                        {{hourValue.hours}}
                    </td>
                    <td style="white-space:nowrap;" class="align-right">
                        {{rowValue.hours_sum}} {{::hourIndicator}}
                    </td>
                </tr>
                <tr>
                    <td style="white-space:nowrap;" ng-style="{'padding-left': (scopeIsTask || userGrouping) ? '30px' : '24px'}">{{::'WORKTIME_REPORT_22_S' | translate}}</td>
                    <td ng-repeat="weekCol in dateHeaders" style="white-space:nowrap;" class="align-right">
                        {{weekCol.hourSum}} {{::hourIndicator}}
                    </td>
                    <td style="white-space:nowrap;" class="align-right">{{TotalHours}} {{::hourIndicator}}</td>
                </tr>
            </tbody>
        </table>
        <table materialize ng-switch-when="months">
            <!--Month report data header starts-->
            <thead>
                <tr>
                    <th style="min-width:100px; white-space:nowrap;" class="align-left"></th>
                    <th style="width:20px; white-space:nowrap;" ng-repeat="row1 in dateHeaders" class="align-right">
                        {{row1.year}}
                    </th>
                    <th style="white-space:nowrap; width:20px;" class="align-left"></th>
                </tr>
                <tr>
                    <th style="min-width:100px; white-space:nowrap;" ng-style="{'padding-left': (scopeIsTask || userGrouping) ? '30px' : '24px'}" class="align-left">{{reportRowHeader}}</th>
                    <th style="width:20px; white-space:nowrap;" ng-repeat="row2 in dateHeaders" class="align-right">
                        {{row2.month}}
                    </th>
                    <th style="white-space:nowrap; width:20px;" class="align-left">{{::'WORKTIME_REPORT_22_S' | translate}}</th>
                </tr>
            </thead>
            <!--Month report data starts-->
            <tbody>
                <tr ng-repeat="(rowKey, rowValue) in reportRows" ng-switch="rowValue.row_type" ng-show="rowValue.caret_val || rowValue.row_type == 1 || rowValue.ignoreCaretVal == true">
                    <td class="wtrCaretRow" style="white-space:nowrap;" ng-switch-when="1" ng-click="toggleUserRows(reportRows[$index])">
                        <i class="material-icons" ng-class="{revertRowCaret:rowValue.revert}">expand_more</i> {{rowValue.responsible_name}}
                    </td>
                    <td class="wtrCaretRow" style="white-space:nowrap;" ng-switch-when="2" ng-click="toggleOwnerRows(rowValue, 1)" ng-style="{'padding-left': (rowValue.hasParentRow == true) ? '75px' : '24px'}">
                        <i class="material-icons" ng-class="{revertRowCaret:rowValue.revert}" ng-show="rowValue.hasRows">expand_more</i> {{rowValue.owner_name}}
                    </td>
                    <td style="white-space:nowrap;" ng-switch-when="3" ng-style="{'padding-left': (userGrouping && scopeIsTask) ? '126px' : '75px'}">
                        {{rowValue.task_name}}
                    </td>
                    <td style="white-space:nowrap;" ng-repeat="(hourKey,hourValue) in rowValue.months_and_hours" class="align-right">
                        {{hourValue.hours}}
                    </td>
                    <td style="white-space:nowrap;" class="align-right">
                        {{rowValue.hours_sum}} {{::hourIndicator}}
                    </td>
                </tr>
                <tr>
                    <td style="white-space:nowrap;" ng-style="{'padding-left': (scopeIsTask || userGrouping) ? '30px' : '24px'}">{{::'WORKTIME_REPORT_22_S' | translate}}</td>
                    <td ng-repeat="monthCol in dateHeaders" style="white-space:nowrap;" class="align-right">
                        {{monthCol.hourSum}} {{::hourIndicator}}
                    </td>
                    <td style="white-space:nowrap;" class="align-right">{{TotalHours}} {{::hourIndicator}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
<!--no data view-->
<div class="col-xs-12" ng-show="dataFound == false && loading == false && reportCreated == true">
    <h2 class="h6">{{::'WORKTIME_REPORT_24_DFRWNFTAWDRO' | translate}}</h2>
</div>