﻿<div class="integration-settings">
    <table-container >
        <table materialize table-selected-rows="selectedRows">
            <thead>
            <tr>
                <th style="width:50px;"></th>
                <th style="min-width: 300px; width: 300px;"><div translate="INTEGRATION_PAGE_KEY"></div></th>
                <th><div translate="USER"></div></th>
                <th style="width:50px;"><input-button type="icon" ng-click="addKey();" ng-show="edit"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="key in keys | limitTo: query.limit: (query.page - 1) * query.limit" table-select-row="{'index': $index, 'id': key.instance_integration_key_id}" ng-class="{'highlight': $index == selectedIndex}">
                <td style="width:50px;">
                    <input-button type="icon" ng-click="showTokens(key, $index);" ng-show="key.key">
                        <i class="material-icons" aria-hidden="true">
                            launch
                        </i>
                    </input-button>
                </td>
                <td>
                    <input-smart type="string" model="key.key" modify="edit" unique="integration_token,0,{{key.instance_integration_key_id}}" on-change="changeValue" on-change-parameters="{'id': key.instance_integration_key_id}"></input-smart>
                </td>
                <td>
                    <input-smart-table class="col-xs-12 col-md-6 col-lg-4" type="user" single-value="true" max="1" label="User" model="key.userArr" placeholder="Search for a user" modify="edit"  on-change="changeValue" on-change-parameters="{'id': key.instance_integration_key_id}"></input-smart-table>
                </td>
                <td style="width:50px;"></td>
            </tr>
            </tbody>
        </table>
    </table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 25]" md-page="query.page" md-total="{{processes.length}}" md-on-paginate="processes" md-page-select></md-table-pagination>

    <div ng-if="keySelected">
        <table-header>{{activeKey}}</table-header>
        <table-container >
            <table materialize table-selected-rows="selectedRows2">
                <thead>
                <tr>
                    <th style="min-width: 300px; width: 300px;"><div translate="INTEGRATION_PAGE_VALID"></div></th>
                    <th><div translate="INTEGRATION_PAGE_TOKEN"></div></th>
                    <th style="width:50px;"><input-button type="icon" ng-click="addToken();" ng-show="edit"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="token in tokens" table-select-row="{'index': $index, 'id': token.instance_integration_token_id}" ng-class="{'highlight': $index == selectedIndex}">
                    <td>
                        <input-smart-table type="datetime" model="token.valid_until" modify="edit" on-change="changeValue2" on-change-parameters="{'id': token.instance_integration_token_id}"></input-smart-table>
                    </td>
                    <td>
                        {{token.token}}
                    </td>
                    <td style="width:50px;"></td>
                </tr>
                </tbody>
            </table>
        </table-container>
    </div>
</div>