<div class="flex align-row">

	<div class="flex align-row start">

		<div style="margin-top:5px; margin-right:10px">
			<input-button
					type="primary"
					ng-click="addGroup()">
				{{'ADD_PROCESS_GROUP' | translate}}
			</input-button>
		</div>

		{{'SELECT_INSTANCE_DEFAULT_WWWPATH' | translate}}&nbsp;&nbsp;&nbsp;
		<input-smart type="string"
					 model="$parent.instanceDefaults.WwwPath"
					 placeholder="SELECT_INSTANCE_DEFAULT_WWWPATH"
					 on-change="changeDefaultUser" minimal style="width:300px;">
		</input-smart>

	</div>


	<div class="flex align-row end">
		{{'SELECT_INSTANCE_DEFAULT_USER' | translate}}&nbsp;&nbsp;&nbsp;
		<input-smart type="process"
		             max="1"
		             model="$parent.instanceDefaults.InstanceDefaultUser"
		             process="user"
		             placeholder="SELECT_INSTANCE_DEFAULT_USER"
		             on-change="changeDefaultUser" minimal style="width:300px;">
		</input-smart>
	</div>
</div>