<div sortable handler=".column-group-drag" on-sort="changeOrderColumnGroup">
	<div sort="group" ng-repeat="group in groups">
		<table-header class="align-row" ng-mouseover="group.visibleButtons = true;" ng-mouseleave="group.visibleButtons = false;">
			<span ng-bind="group.Translation | translateObject"></span>

			<input-button ng-if="edit && !$first" type="icon" ng-show="group.visibleButtons" ng-click="toggleDisableGroup(group)">
				<i class="material-icons" ng-if="group.Disabled == 0">flash_on</i>
				<i class="material-icons" ng-if="group.Disabled == 1">flash_off</i>
			</input-button>
			<input-button ng-click="forceExecuteGroup(group)" ng-show="group.visibleButtons" type="icon" ng-if="edit && !$first" tooltip="FORCE_EXECUTE">
				<i class="material-icons" aria-hidden="true" style="color:rgb(76, 175, 80)">play_circle_filled</i>
			</input-button>
			<input-button type="icon" ng-click="editTimeSettings(group)" ng-show="group.visibleButtons" ng-if="edit && !$first">
				<i class="material-icons" aria-hidden="true" style="font-size:18px;padding-top:4px;">edit</i>
			</input-button>

		</table-header>
		<table materialize>
			<thead>
			<tr>
				<th class="icon"></th>

				<th style="width: 25%">
					<div translate="TASK"></div>
				</th>
				<th>
					<div translate="WHEN"></div>
				</th>
				<th>
					<div translate="TIME"></div>
				</th>
				<th>
					<div translate="DAY_OF_WEEK"></div>
				</th>
				<th style="width:25%">
					<div translate="NICKNAME"></div>
				</th>

				<!--				<th class="icon"></th>-->


				<th></th>
				<th class="icon"></th>
				<th class="icon"></th>
				<th class="icon"></th>
				<th style="width: 5%">
					{{::"LIST_COMPARE" | translate}}
				</th>
				<th class="icon">
					<input-button type="icon" ng-click="addBackgroundProcess($index, group.GroupId)">
						<i class="material-icons" aria-hidden="true">add</i>
					</input-button>
				</th>
			</tr>
			</thead>
			<tbody sortable on-sort="onSort">
			<tr sort="bgp" ng-repeat="bgp in group.Schedules" ng-mouseover="bgp.showActions = true" ng-mouseleave="bgp.showActions = false">
				<td class="icon">
					<input-button type="icon">
						<i class="material-icons" aria-hidden="true">reorder</i>
					</input-button>
				</td>
				<td>
					<input-smart-table type="select"
					                   options="types"
					                   on-change="edit(bgp)"
					                   model="bgp.Name"
					                   option-name="$$translatedName"
					                   option-value="Name"
					                   single-value="true">
					</input-smart-table>
				</td>
				<td ng-if="group.GroupId == 0">
					<input-smart-table type="select"
					                   options="timeSlotOptions"
					                   option-name="name"
					                   option-value="value"
					                   on-change="edit(bgp)"
					                   model="timeSlots[bgp.ScheduleId].Slot"
					                   single-value="true">
					</input-smart-table>
				</td>
				<td ng-if="group.GroupId != 0">
					<input-smart-table type="select"
					                   options="timeSlotOptions"
					                   option-name="name"
					                   option-value="value"
					                   on-change="edit(bgp)"
					                   modify="false"
					                   model="groupTimeSlots[group.GroupId].Slot"
					                   single-value="true">
					</input-smart-table>
				</td>
				<td ng-if="group.GroupId == 0">
					<input-smart-table type="select"
					                   options="timeOptions"
					                   on-change="edit(bgp)"
					                   model="timeSlots[bgp.ScheduleId].Time"
					                   single-value="true">
					</input-smart-table>
				</td>

				<td ng-if="group.GroupId != 0">
					<input-smart-table type="select"
					                   options="timeOptions"
					                   on-change="edit(bgp)"
					                   modify="false"
					                   model="groupTimeSlots[group.GroupId].Time"
					                   single-value="true">
					</input-smart-table>
				</td>


				<td ng-if="bgp.ScheduleOptions.Slot == 2 && group.GroupId == 0">
					<input-smart-table type="select"
					                   option-name="name"
					                   option-value="value"
					                   options="weekDays"
					                   on-change="edit(bgp)"
					                   model="timeSlots[bgp.ScheduleId].Weekday"
					                   single-value="true">
					</input-smart-table>
				</td>

				<td ng-if="group.ScheduleOptions.Slot == 2 && group.GroupId != 0">
					<input-smart-table type="select"
					                   option-name="name"
					                   option-value="value"
					                   options="weekDays"
					                   on-change="edit(bgp)"
					                   modify="false"
					                   model="groupTimeSlots[group.GroupId].Weekday"
					                   single-value="true">
					</input-smart-table>
				</td>
				<td ng-if="bgp.ScheduleOptions.Slot != 2 && group.GroupId == 0 "></td>
				<td ng-if="group.ScheduleOptions.Slot != 2 && group.GroupId != 0 "></td>
				<td>
					<input-smart-table type="string"
					                   on-change="edit(bgp)"
					                   model="bgp.Nickname">
					</input-smart-table>
				</td>

				
				
				
				<td class="icon">
					<input-button type="icon" ng-click="toggleDisable(bgp)" ng-show="bgp.showActions">
						<i class="material-icons" ng-if="bgp.Disabled == 0">flash_on</i>
						<i class="material-icons" ng-if="bgp.Disabled == 1">flash_off</i>
					</input-button>
				</td>
				<td class="icon">
					<input-button ng-click="forceExecute(bgp)" type="icon" tooltip="FORCE_EXECUTE" ng-show="bgp.showActions">
						<i class="material-icons" aria-hidden="true" style="color:rgb(76, 175, 80)">play_circle_filled</i>
					</input-button>
				</td>
				<td class="icon">
					<input-button ng-click="toggleLogs(bgp, $index)" type="icon" tooltip="SHOW_LOGS" ng-show="bgp.showActions">
						<i class="material-icons" aria-hidden="true">assignment</i>
					</input-button>
				</td>
				<td class="icon" ng-if="bgp.$$configurable == true">
					<input-button ng-click="editConfig(bgp)" type="icon" tooltip="EDIT_CONFIG" ng-show="bgp.showActions">
						<i class="material-icons" aria-hidden="true">settings</i>
					</input-button>
				</td>
				<td ng-if="bgp.$$configurable == false ||!bgp.$$configurable"></td>



				<td>
					<input-smart-table type="select"
					                   model="bgp.Compare"
					                   options="compareOptions"
					                   option-value="value"
					                   option-name="name"
					                   on-change="edit(bgp)"
					                   single-value="true">
					</input-smart-table>
				</td>
				
				<td class="icon">
					<input-button ng-click="deleteBackgroundProcess(bgp, $index, group)" type="icon" tooltip="DELETE">
						<i class="material-icons" aria-hidden="true">delete</i>
					</input-button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>