<dialog-content>
	<dialog-title>
		<h2>{{'EDIT_BACKGROUND_PROCESS_TIME' | translate}}</h2>
	</dialog-title>
	<div>
		<input-smart type="translation"
					 label="GROUP_NAME"
					 model="group.Translation">
		</input-smart>
		<input-smart type="select"
					 single-value
					 label="WHEN"
					 model="group.ScheduleOptions.Slot"
					 options="timeSlotOptions">
		</input-smart>
		<input-smart type="select"
					 single-value
					 label="TIME"
					 model="group.ScheduleOptions.Time"
					 options="timeOptions">
		</input-smart>
		<input-smart type="select"
					 single-value
					 label="DAY_OF_WEEK"
					 model="group.ScheduleOptions.Weekday"
					 ng-show="group.ScheduleOptions.Slot == 2"
					 unselectable="true"
					 options="weekDays">
		</input-smart>

	</div>


</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">{{'CANCEL' | translate}}</input-button>
	<input-button type="warn" ng-click="delete()">
		{{'DELETE' | translate}}
	</input-button>
	<input-button type="primary" ng-click="save()">
		{{'SAVE' | translate}}
	</input-button>
</dialog-actions>