<dialog-content>
	<dialog-title>
		<h2>{{headerText}}</h2>
	</dialog-title>
	<dialog-container>
		<table materialize>
			<thead>
			<tr>
				<th ng-bind="::'DATA_DATE' | translate"></th>
				<th ng-bind="::'OUTCOME' | translate"></th>
				<th ng-bind="::'ADMIN_CONSOLE_MESSAGE' | translate"></th>
				<th ng-bind="::'USER' | translate"></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="log in logs">
				<td>
					{{::formatDate(log.Date)}}
				</td>
				<td>{{outcomes[log.Outcome]}}</td>
				<td>
					{{log.Info.Message}}
				</td>
				<td>
					{{log.Info.User.FirstName}} {{log.Info.User.LastName}}
				</td>
			</tr>
			</tbody>
		</table>


	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">{{::'CLOSE' | translate}}</input-button>
</dialog-actions>

