<dialog-content>
	<dialog-title>
		<h2>{{'EDIT_BACKGROUND_PROCESS_CONFIG' | translate}}</h2>
	</dialog-title>

	<div ng-if="thisValue.ConfigValues.length == 0">{{'NO_INSTANCE_CONFIGURATIONS' | translate}}</div>

	<div ng-if="showLangugeSelection">
		{{'NOTIFICATION_RICH_LANGUAGE' | translate}}
		<input-smart type="select"
					 single-value
					 style="width: 200px"
					 minimal
					 label="NOTIFICATION_RICH_LANGUAGE"
					 on-change="initializeUserLanguage()"
					 model="$parent.userLanguage"
					 watch-options="true"
					 options="languages">
		</input-smart>
	</div>
	<div ng-repeat="c in thisValue.ConfigValues">
		<!--List-->
		<input-smart
				ng-if="c.OptionType == 6"
				type="6"
				label="{{::c.Name}}"
				tooltip="{{c.Name}}"
				model="confCollection[c.Name]"
				options="returnOptionValues(c)"
				option-value="{{c.OptionValue}}"
				option-name="{{c.OptionTranslation}}"
				option-inuse-all="true"
				single-value="true"
				watch-options>
		</input-smart>

		<!--Number-->
		<input-smart
				ng-if="c.OptionType == 1 || c.OptionType == 2"
				type="{{c.OptionType}}"
				label="{{::c.Name}}"
				tooltip="{{c.Name}}"
				model="confCollection[c.Name]">
		</input-smart>

		<!--String-->
		<input-smart
				ng-if="c.OptionType == 0 || c.OptionType == 4"
				type="{{c.OptionType}}"
				label="{{::c.Name}}"
				tooltip="{{c.Name}}"
				model="confCollection[c.Name]">
		</input-smart>

		<!--Translation-->
		<input-smart
				ng-if="c.OptionType == 8 && c.IgnoreRichText == true"
				type="translation"
				label="{{::c.Name}}"
				tooltip="{{c.Name}}"
				model="confCollection[c.Name]">
		</input-smart>

		<div ng-if="c.OptionType == 8 && c.IgnoreRichText == false">
		<input-rich model="confCollection[c.Name][userLanguage]"
					has-image="false"
					modify="true">
		</input-rich>
		</div>
		<div>
			{{c.HelpText | translate}}
		</div>
	</div>

</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()">{{'CANCEL' | translate}}</input-button>
	<input-button type="primary" ng-click="buildConfig()" ng-show="thisValue.ConfigValues.length > 0">
		{{'SAVE' | translate}}
	</input-button>
</dialog-actions>