<div class="row">
	<div class="svg-container col">
		<style>
			div.tooltip {
				position: absolute;
				text-align: left;
				width: auto;
				height: auto;
				padding: 8px;
				font: 12px sans-serif;
				background: #0a2538;
				border: #0a2538 1px solid;
				border-radius: 0px;
				pointer-events: none;
				color: white;
			}
			path {
				stroke: #fff;
			}
		</style>
	</div>
	<div class="col">
		<circular-progress value="100" suffix="%" title="A" height="200"></circular-progress>
		<circular-progress value="100" suffix="%" title="B" height="200"></circular-progress>
	</div>
	<br style="clear:both;">
</div>