<div class="portfolio-priorization">
	<div class="row" ng-show="settingsVisible"
	     style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);margin-bottom: 64px;padding-bottom: 46px;">
		<div class="col-md-3 col-xs-12">
			<input-select model="selections.nameColumn"
			              options="itemColumns"
			              option-name="translation"
			              option-value="Name"
			              modify="true"
			              single-value
			              on-change="selectionsChanged"
			              on-change-parameters="true"
			              label="{{::'PRIORIZATION_SETUP_NAME' | translate}}">
			</input-select>

			<input-select model="selections.valueFields"
			              options="numberColumns"
			              option-name="translation"
			              option-value="Name"
			              modify="true"
			              on-change="selectionsChanged"
			              on-change-parameters="true"
			              max="3"
			              allselectable="false"
			              label="{{::'PRIORIZATION_SETUP_VALUE' | translate }}">
			</input-select>

			<input-smart type="select"
			             modify="true"
			             model="selectedAddCharts"
			             options="availableAddCharts"
			             option-value="Id"
			             option-name="Variable"
			             label="{{::'PRIORIZATION_ADDITIONAL_CHARTS' | translate}}"
			             on-change="selectionsChanged"
			             unselectable="true"
			             max="5"
			             watch-options="true">
			</input-smart>
			<input-smart type="checkbox"
			             modify="true"
			             model="useOffsetDays"
			             on-change="selectionsChanged"
			             label="{{::'PRIORIZATION_INCLUDE_OFFSET' | translate}}  ({{::'PRIORIZATION_OFFSET_INTERVAL_'+offsetInterval.toUpperCase()|translate}})"
			             minimal>
			</input-smart>
			<input-smart type="checkbox"
			             modify="true"
			             model="useGraphPos"
			             on-change="selectionsChanged"
			             label="{{::'PRIORIZATION_SETUP_GRAPHPOS' | translate}}  ({{::'PRIORIZATION_SETUP_GRAPHPOS_ALTERNATIVE' | translate}})"
			             minimal>
			</input-smart>

		</div>
		<table-container class="col-md-offset-1 col-md-8 col-xs-12" style="min-width: 700px; max-width: 1024px">
			<table materialize>
				<thead>
				<tr>
					<th class="icon"></th>
					<th>{{::'LIST_NAME' | translate}}</th>
					<th class="align-right" style="width: 140px;">{{::'CUMULATIVE_LIMIT' | translate}}</th>
					<th class="align-right" style="width: 140px;">
							<span ng-if="selections.operatorsForColumns[valueField.Name].sortDescending">
								{{::'LIMIT_MIN_TO_MAX' | translate}}
							</span>
						<span ng-if="!selections.operatorsForColumns[valueField.Name].sortDescending">
								{{::'LIMIT_MAX_TO_MIN' | translate}}
							</span>
					</th>
					<th style="width: 140px;">{{::'SORT' | translate}}</th>
				</tr>
				</thead>
				<tbody sortable on-sort="syncOrder" handler=".up-down-button">
				<tr sort="valueField" ng-repeat="valueField in valueColumns track by $index">
					<td class="icon">
						<input-button type="icon" class="up-down-button" no-waves>
							<i class="material-icons" aria-hidden="true">reorder</i>
						</input-button>
					</td>
					<td>
						{{valueField.translation}}
					</td>
					<td style="width: 140px;">
						<input-smart-table type="decimal"
						                   model="selections.operatorsForColumns[valueField.Name].cumulativeSumLimit"
						                   manual-save
						                   on-change="selectionsChanged">
						</input-smart-table>
					</td>
					<td style="width: 140px;">
						<input-smart-table type="decimal"
						                   model="selections.operatorsForColumns[valueField.Name].limit"
						                   manual-save
						                   on-change="selectionsChanged">
						</input-smart-table>
					</td>
					<td style="width: 140px;">
						<input-smart-table type="select"
						                   model="selections.operatorsForColumns[valueField.Name].sortBy"
						                   options="sortOptions"
						                   manual-save
						                   single-value
						                   unselectable
						                   max="1"
						                   on-change="selectionsChanged">
						</input-smart-table>
					</td>
				</tr>
				</tbody>
			</table>
		</table-container>
		<div style="width:100%">
			<input-button type="primary" style="float:right; z-index: 10" ng-if="settingsVisible"
			              ng-click="toggleSettings()">
				{{'CLOSE' | translate}}
			</input-button>
		</div>
	</div>
	<div style="position:absolute;right:20px;" ng-if="!settingsVisible">
		<input-button type="primary" ng-click="toggleSettings()" style="z-index: 10">
			{{'SETTINGS' | translate}}
		</input-button>
	</div>

	<div class="row" style="justify-content: space-between;">
		<div ng-if="displayMode==='below'" style="max-width: 100%;" class="col-xs-12">
			<h1 class="h5" translate="PRIORIZATION"></h1>
			<table-container style="margin-top:18px;">
				<table materialize class="prioritized-items">
					<thead>
					<tr>
						<th class="icon"></th>
						<th class="icon">{{::'INDEX' | translate}}</th>
						<th ng-repeat="column in visibleColumns track by $index" table-dynamic
						    ng-style="{'text-align': $index == 0 ? 'left' : 'right'}">
							{{column.translation}}
						</th>
						<th class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							{{::'PRIORIZATION_OFFSET_TITLE' | translate}}
							({{::'PRIORIZATION_OFFSET_INTERVAL_' + offsetInterval.toUpperCase() | translate}})
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="row in itemsThatCutTheLimit track by $index">
						<td>
							<input-button type="icon" ng-click="hideRow(row)" class="visibility">
								<i class="material-icons" aria-hidden="true">
									visibility_off
								</i>
							</input-button>
						</td>
						<td class="icon">
							{{row.$index}}
						</td>
						<td ng-repeat="column in visibleColumns track by $index"
						    ng-style="{'text-align': $index == 0 ? 'left' : 'right'}">
							<span class="portfolio-comparison"
							      ng-class="{'green':filtered}">{{formatNumber(row, column)}}</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							<input-smart-table type="integer"
							                   modify="true"
							                   model="offsets[row.actual_item_id]"
							                   manual-save
							                   on-change="selectionsChanged(true)">
							</input-smart-table>
						</td>
					</tr>
					<tr ng-repeat="row in itemsThatDontCutTheLimit track by $index">
						<td>
							<input-button type="icon" ng-click="hideRow(row)" class="visibility">
								<i class="material-icons" aria-hidden="true">
									visibility_off
								</i>
							</input-button>
						</td>
						<td>
							{{row.$index}}
						</td>
						<td ng-repeat="column in visibleColumns track by $index"
						    ng-style="{'text-align': $index == 0 ? 'left' : 'right'}">
							<span class="portfolio-comparison red">{{formatNumber(row, column)}}</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							<input-smart-table type="integer"
							                   modify="true"
							                   model="offsets[row.actual_item_id]"
							                   manual-save
							                   on-change="selectionsChanged(true)">
							</input-smart-table>
						</td>
					</tr>
					<tr ng-repeat="row in itemsThatAreHidden track by $index">
						<td>
							<input-button type="icon" ng-click="showRow(row)" class="visibility">
								<i class="material-icons" aria-hidden="true">
									visibility
								</i>
							</input-button>
						</td>
						<td>
							{{row.$index}}
						</td>
						<td ng-repeat="column in visibleColumns track by $index"
						    ng-style="{'text-align': $index == 0 ? 'left' : 'right'}">
							<span class="portfolio-comparison grey">{{formatNumber(row, column)}}</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							{{offsets[row.actual_item_id]}}
						</td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="2">
							<input-button type="primary" ng-if="showClearHiddens()" ng-click="clearHiddens()">
								{{'CLEAR' | translate}}
							</input-button>
						</td>
						<td style="text-align: left">
							<div class="align-row">
								<div style="width: 128px;">
									<input-smart-table type="select"
									                   model="selections.operator"
									                   options="operators"
									                   option-name="variable"
									                   option-value="name"
									                   on-change="selectionsChanged"
									                   manual-save
									                   single-value>
									</input-smart-table>
								</div>
							</div>
						</td>
						<td ng-repeat="column in valueColumns track by $index" table-dynamic style="text-align: right">
								<span ng-show="valuesForSelected[column.Name] || valuesForSelected[column.Name] === 0">
									{{formatNumber(valuesForSelected, column)}}
								</span><br>
							<span ng-if="formatNumber(valuesForSelected, column) != formatNumber(values, column)">
									/ {{formatNumber(values, column)}}
								</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1">
							<input-button type="primary" ng-if="showClearOffsets()" ng-click="clearOffsets()">
								{{'CLEAR' | translate}}
							</input-button>
						</td>
					</tr>
					</tfoot>
				</table>
			</table-container>
		</div>
		<div ng-if="displayMode==='split'" style="max-width: 48%;" class="col-xs-6">
			<h1 class="h5" translate="PRIORIZATION"></h1>
			<table-container>
				<table materialize class="prioritized-items">
					<thead>
					<tr>
						<th class="icon"></th>
						<th class="icon">{{::'INDEX' | translate}}</th>
						<th ng-repeat="column in visibleColumns track by $index" table-dynamic>
							{{column.translation}}
						</th>
						<th class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							{{::'PRIORIZATION_OFFSET_TITLE' | translate}}
							({{::'PRIORIZATION_OFFSET_INTERVAL_' + offsetInterval.toUpperCase() | translate}})
						</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="row in itemsThatCutTheLimit track by $index">
						<td>
							<input-button type="icon" ng-click="hideRow(row)" class="visibility">
								<i class="material-icons" aria-hidden="true">
									visibility_off
								</i>
							</input-button>
						</td>
						<td class="icon">
							{{row.$index}}
						</td>
						<td ng-repeat="column in visibleColumns track by $index">
							<span class="portfolio-comparison"
							      ng-class="{'green':filtered}">{{formatNumber(row, column)}}</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							<input-smart-table type="integer"
							                   modify="true"
							                   model="offsets[row.actual_item_id]"
							                   manual-save
							                   on-change="selectionsChanged(true)">
							</input-smart-table>
						</td>
					</tr>
					<tr ng-repeat="row in itemsThatDontCutTheLimit track by $index">
						<td>
							<input-button type="icon" ng-click="hideRow(row)" class="visibility">
								<i class="material-icons" aria-hidden="true">
									visibility_off
								</i>
							</input-button>
						</td>
						<td>
							{{row.$index}}
						</td>
						<td ng-repeat="column in visibleColumns track by $index">
							<span class="portfolio-comparison red">{{formatNumber(row, column)}}</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							<input-smart-table type="integer"
							                   modify="true"
							                   model="offsets[row.actual_item_id]"
							                   manual-save
							                   on-change="selectionsChanged(true)">
							</input-smart-table>
						</td>
					</tr>
					<tr ng-repeat="row in itemsThatAreHidden track by $index">
						<td>
							<input-button type="icon" ng-click="showRow(row)" class="visibility">
								<i class="material-icons" aria-hidden="true">
									visibility
								</i>
							</input-button>
						</td>
						<td>
							{{row.$index}}
						</td>
						<td ng-repeat="column in visibleColumns track by $index">
							<span class="portfolio-comparison grey">{{formatNumber(row, column)}}</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1" table-dynamic>
							{{offsets[row.actual_item_id]}}
						</td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="2">
							<input-button type="primary" ng-if="showClearHiddens()" ng-click="clearHiddens()">
								{{'CLEAR' | translate}}
							</input-button>
						</td>
						<td>
							<div class="align-row">
								<div style="width: 128px;">
									<input-smart-table type="select"
									                   model="selections.operator"
									                   options="operators"
									                   option-name="variable"
									                   option-value="name"
									                   on-change="selectionsChanged"
									                   manual-save
									                   single-value>
									</input-smart-table>
								</div>
							</div>
						</td>
						<td ng-repeat="column in valueColumns track by $index" table-dynamic>
							<span ng-show="valuesForSelected[column.Name] || valuesForSelected[column.Name] === 0">
									{{formatNumber(valuesForSelected, column)}}
								</span><br>
							<span ng-if="formatNumber(valuesForSelected, column) != formatNumber(values, column)">
									/ {{formatNumber(values, column)}}
							</span>
						</td>
						<td class="align-right" ng-if="useOffsetDays == 1">
							<input-button type="primary" ng-if="showClearOffsets()" ng-click="clearOffsets()">
								{{'CLEAR' | translate}}
							</input-button>
						</td>
					</tr>
					</tfoot>
				</table>
			</table-container>
		</div>
		<div ng-if="displayMode==='below'" style="max-width: 100%;" class="col-xs-12">
			<div style="height:384px;margin-bottom:64px;margin-top:8px;" ng-if="chartsAvailable"
			     class="dashboard-chart">
				<h1 class="h5" translate="PRIORIZATION_COMPARISON"></h1>
				<canvas id="prio-bar-chart" class="chart chart-bar"
				        chart-data="barChart.data"
				        chart-labels="barChart.labels"
				        chart-series="barChart.series"
				        chart-options="barChart.options"
				        chart-colors="fullColors"
				        chart-dataset-override="barChart.datasetOverride">
				</canvas>
				<div class="chart-legend-container" bind-html-compile="legend"></div>
			</div>

			<div style="height: 384px;margin-bottom:64px; margin-top: 124px;" ng-if="showBubbleChart">
				<canvas class="chart chart-bubble"
				        chart-data="bubbleChart.data"
				        chart-labels="bubbleChart.labels"
				        chart-series="bubbleChart.series"
				        chart-options="bubbleChart.options"
				        chart-colors="fullColors"
				        chart-dataset-override="bubbleChart.datasetOverride">
				</canvas>
			</div>

			<div ng-repeat="chart in additionalCharts" style="margin-bottom:64px; margin-top:124px;">
				<input-chart chart-id="chart.chart_id" item-ids="chart.selected_item_ids" process="chart.process"
				             label="{{chart.chart_name | translate}}" options="chart.options"/>
			</div>
		</div>
		<div ng-if="displayMode==='split'" style="max-width: 48%;" class="col-xs-6">
			<div style="height:384px;margin-bottom:64px;margin-top:8px;" ng-if="chartsAvailable"
			     class="dashboard-chart">
				<h1 class="h5" translate="PRIORIZATION_COMPARISON"></h1>
				<canvas id="prio-bar-chart" class="chart chart-bar"
				        chart-data="barChart.data"
				        chart-labels="barChart.labels"
				        chart-series="barChart.series"
				        chart-options="barChart.options"
				        chart-colors="fullColors"
				        chart-dataset-override="barChart.datasetOverride">
				</canvas>
				<div class="chart-legend-container" bind-html-compile="legend"></div>
			</div>

			<div style="height: 384px;margin-bottom:64px; margin-top: 124px;" ng-if="showBubbleChart">
				<canvas class="chart chart-bubble"
				        chart-data="bubbleChart.data"
				        chart-labels="bubbleChart.labels"
				        chart-series="bubbleChart.series"
				        chart-options="bubbleChart.options"
				        chart-colors="fullColors"
				        chart-dataset-override="bubbleChart.datasetOverride">
				</canvas>
			</div>

			<div ng-repeat="chart in additionalCharts" style="margin-bottom:64px; margin-top:124px;">
				<input-chart chart-id="chart.chart_id" item-ids="chart.selected_item_ids" process="chart.process"
				             label="{{chart.chart_name | translate}}" options="chart.options"/>
			</div>
		</div>
	</div>
</div> 