<table-container>
<table>
	<thead>
	<tr>
		<th ng-if="::cardVertical"></th>
		<th ng-repeat="column in columns" ng-if="isColVisible(column)">
			<div class="subtitle-2 no-select align-center ellipsis"
				 ng-bind="::column.primary"
				 tooltip="{{::column.primary}}">
			</div>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rows" ng-if="isRowVisible(row)">
		<th ng-if="::cardVertical"
			class="subtitle-2 no-select align-left">
			<div ng-bind="::row.primary" tooltip="{{::row.primary}}"></div>
		</th>
		<td ng-repeat="(key, column) in columns" ng-if="isColVisible(column)">
			<div class="card pointer no-select"
				 ng-repeat="card in row.columns[key]"
				 ng-class="card.PortfolioGroupColor"
				 ng-click="cardClick(card)">
				<div class="card-title ellipsis" tooltip="{{card.PortfolioGroupTitle}}">
					{{card.PortfolioGroupTitle}}
				</div>
				<div class="card-description caption" tooltip="{{card.PortfolioGroupDescription}}">
					{{card.PortfolioGroupDescription}}
				</div>
				<div class="card-chips">
					<chip ng-repeat="chip in card.PortfolioGroupChips">
						<chip-name tooltip="{{chip}}">{{chip}}</chip-name>
					</chip>
				</div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
</table-container>