<dialog-content>
	<dialog-title>
		<h2 class="ellipsis" ng-bind="::'IMPORT_PORTFOLIO_DATA_EXCEL' | translate"></h2>
	</dialog-title>
	<dialog-container>
		<input-file type="file"
					parent="{{process}}"
					group="{{group}}"
					label="{{'ADD_FILES_IMPORT' | translate}}"
					placeholder="ADD_FILES_IMPORT"
					modify="true"
					on-change="filesChanged"
					multi-select="false"
					skip-dialog="true"
					file-types=".xls,.xlsx">
		</input-file>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<div style="margin-right: 100px" ng-if="!loading">{{statustext}}</div>
	<input-button ng-click="cancel()" ng-if="!loading && !loaded">{{'MSG_CANCEL' | translate}}</input-button>
	<input-button ng-click="cancel()" ng-if="loaded">{{'OK' | translate}}</input-button>
	<input-button ng-click="exportData()" ng-if="!loading">{{'IMPORT_DATA' | translate}}</input-button>
	<div style="margin-right: 25px" ng-if="loading">{{statustext}}</div>
</dialog-actions>