﻿<table-header translate="UNUSED_ITEMS"></table-header>
<table-container>
	<table materialize>
		<thead>
		<tr>
			<th class="icon"></th>
			<th ng-bind="::key['NAME'] | translateObject"></th>
			<th ng-bind="::key['TITLE'] | translateObject"></th>
			<th class="icon" ng-if="::hasWriteRights">
				<input-button type="icon" ng-click="addRow()" loading="adding">
					<i class="material-icons" aria-hidden="true">add</i>
				</input-button>
			</th>

		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="unUsedNotification in unUsedNotifications | orderBy: '$$tempName'">
			<td>
				<input-button type="icon" ng-click="editRow(unUsedNotification)">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>{{unUsedNotification["name_variable"] | translateObject}}</td>
			<td>{{unUsedNotification["title_variable"] | translateObject}}</td>
			<td class="icon" ng-if="::hasWriteRights">
				<input-button type="icon" ng-click="removeRow(unUsedNotification.item_id, 2)">
					<i class="material-icons" aria-hidden="true">clear</i>
				</input-button>
			</td>

		</tr>
		</tbody>
	</table>
</table-container>


<table-header>{{header.title | translate}}</table-header>
<table-container>
	<table materialize>
		<thead>
			<tr>
				<th class="icon"></th>
				<th ng-bind="::key['NAME'] | translateObject"></th>
				<th> {{'USED_IN_ACTIONS' | translate}}</th>
				<th> {{'USED_IN_NOTIFICATION_CONDITION' | translate}}</th>
				<th ng-bind="::key['TITLE'] | translateObject"></th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="notification in notifications | orderBy: '$$tempName'" >
				<td>
					<input-button type="icon" ng-click="editRow(notification)">
						<i class="material-icons" aria-hidden="true">launch</i>
					</input-button>
				</td>
				<td>{{notification["name_variable"] | translateObject}}</td>
				<td>
					<span ng-click="goToView(action.ProcessActionId, action.Process, 0, action.Translation)" ng-repeat="action in actionConnections[notification.item_id]">
						{{action.Translation}}, &nbsp;
					</span>
				</td>
				<td>
					<span ng-click="goToView(0, notiC.Process, 1)" ng-repeat="notiC in notiCondConnections[notification.item_id]">
						{{notiC.Translation}}, &nbsp;
					</span>
				</td>
				<td>{{notification["title_variable"] | translateObject}}</td>
				<td class="icon" ng-if="::hasWriteRights">
					<input-button type="icon" ng-click="removeRow(notification.item_id)">
						<i class="material-icons" aria-hidden="true">clear</i>
					</input-button>
				</td>
			</tr>
		</tbody>
	</table>
</table-container>

