﻿<tabs>
	<tab label="VIEW_ACTIONS">
			<table header>			
			</table>
			<table materialize>
				<thead>	
					<tr>
						<th>{{'ACTION_NAME' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="action in actionRelations">
						<td>{{action.action_translation}}</td>
						<td>
							<input-button type="icon" ng-click="showAction(action.process_action_id, action.action_translation)">
								<i class="material-icons" aria-hidden="true">
									launch
								</i>
							</input-button>
						</td>
					</tr>
					<tr ng-if="actionRelations.length == 0">
						<td colspan="3" class="align-center" translate="NO_RELATED_ACTIONS"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</tab>
	<tab label="SETTINGS_VIEW_CONDITIONS">
		<table header>
		</table>
		<table materialize>
			<thead>
				<tr>
					<th>{{'CONDITION_NAME' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="condition in conditionRelations.data">
					<td>{{condition.LanguageTranslation | translateObject}}</td>
					<td>
						<input-button type="icon" ng-click="showCondition(condition)">
							<i class="material-icons" aria-hidden="true">
								launch
							</i>
						</input-button>			
					</td>
				</tr>
				<tr ng-if="conditionRelations.data.length == 0">
					<td colspan="3" class="align-center" translate="NO_RELATED_CONDITIONS"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</tab>
</tabs>
