﻿<table-header><div translate="PORTFOLIO_JOIN_COLUMNS"></div></table-header>
<table-container>
    <table materialize table-selected-rows="selectedColumns">
        <thead>
            <tr>
                <th><div translate="PARENT_COLUMN_TYPE"></div></th>
                <th><div translate="PARENT_ITEM_COLUMN_ID"></div></th>
                <th><div translate="PARENT_ADDITIONAL_JOIN"></div></th>
                <th><div translate="DATE_OFFSET"></div></th>
                <th><div translate="DATE_COMPARISON"></div></th>
                <th><div translate="SUB_COLUMN_TYPE"></div></th>
                <th><div translate="SUB_ITEM_COLUMN_ID"></div></th>
                <th><div translate="SUB_ADDITIONAL_JOIN"></div></th>
                <th><div translate="DATE_OFFSET"></div></th>
                <th><div translate="DATE_COMPARISON"></div></th>
                <th class="icon">
                    <input-button type="icon" ng-click="addPortfolioJoinColumns(ProcessPortfolioJoinId);">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </input-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="column in portfolioJoinColumns" table-select-row="{id: column.ItemColumnJoinId}">
                <td>
                    <input-smart-table type="select" model="column.ParentColumnType" options="ParentColumnType" option-value="type" option-name="name" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.ParentItemColumnId" options="parentColumns" option-value="ItemColumnId" option-name="TranslationRaw" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.ParentAdditionalJoin.type" options="dateTypes" option-value="type" option-name="name" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.ParentAdditionalJoin.offset" options="dateOffsets" option-value="offset" option-name="offset" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.ParentAdditionalJoin.comparisonTypeId" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" options="[{value: 1, name: '<'},{value: 2, name: '<='},{value: 3, name: '='},{value: 4, name: '>'},{value: 5, name: '>='},{value: 6, name: '!'}]" option-value="value" option-name="name" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.SubColumnType" options="[{type: 0, name: 'ITEM_ID'},{ type: 1, name: 'COLUMN'}, { type: 2, name: 'DATE'}]" option-value="type" option-name="name" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.SubItemColumnId" options="subColumns" option-value="ItemColumnId" option-name="Name" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.SubAdditionalJoin.type" options="dateTypes" option-value="type" option-name="name" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.SubAdditionalJoin.offset" options="dateOffsets" option-value="offset" option-name="offset" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" single-value="true"></input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select" model="column.SubAdditionalJoin.comparisonTypeId" modify="edit" on-change="changeValue" on-change-parameters="{id: column.ItemColumnJoinId, index: $index, column: column}" options="[{value: 1, name: '<'},{value: 2, name: '<='},{value: 3, name: '='},{value: 4, name: '>'},{value: 5, name: '>='},{value: 6, name: '!'}]" option-value="value" option-name="name" single-value="true"></input-smart-table>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</table-container>
