﻿<div class="row" style="margin-top: 64px;">
    <input-button ng-click="addContainer()"><div translate="NEW_CONTAINER"></div></input-button>
</div>
<div ng-repeat="column in columns">
    <divider></divider>
    <table-header ng-if="ProcessTabId != 0" column="{{::column.value}}">{{column.name}} {{::'COLUMN' | translate}}</table-header>
    <div class="tables" sortable parent="{{::$index + 1}}" on-sort="changeOrderContainer" handler=".up-down-button-container" connect=".tables">
        <div ng-repeat="container in containers[column.value]" sort=container>
            <div class="align-row" style="padding-left: 10px; background-color:#e5e5e5;">
                <input-button type="icon" class="up-down-button-container" no-waves>
                    <i class="material-icons" aria-hidden="true">reorder</i>
                </input-button>
				{{container.ProcessContainer.LanguageTranslation | translateObject}}
               
                    <input-button type="icon" ng-click="changeContainerName(container, column.value)">
						<i class="material-icons" aria-hidden="true">edit</i>
                    </input-button>
                <!--<span>{{::'USED_IN' | translate}}: {{container.phases}}</span>-->
                <span class="flex"></span>
                <input-button ng-click="deleteProcessContainer(container.ProcessContainer.ProcessContainerId)" ng-if="ProcessTabId == 0 && container.ProcessContainer.ProcessContainerId > 0">
                    <div translate="REMOVE_CONTAINER_PERMANENT"></div>
                </input-button>
                <input-button ng-click="deleteProcessContainerFromTab(container.ProcessTabContainerId, column.value)" ng-if="ProcessTabId > 0 && container.ProcessContainer.ProcessContainerId > 0">
                    <div translate="REMOVE_CONTAINER"></div>
                </input-button>
            </div>
            <table-container>
                <table materialize ng-show="containers[column.value].length > 0" class="ng-hide">
                    <thead>
                        <tr>
                            <th><div translate="ITEM_COLUMN_NAME"></div></th>
							<th></th>
							<th><div>{{'DEBUG_ITEM_COLUMN_PROPERTIES' | translate}}</div></th>	
                            <th><div translate="DATA_TYPE"></div></th>
							<th><div translate="ITEM_COLUMN_RELATIONS"></div></th>
                            <th style="width: 80px"><div translate="PROPERTIES"></div></th>
                            <th class="icon"><div translate="SYSTEM_COLUMN"></div></th>
                            <th class="icon"><div translate="CHECK_CONDITIONS"></div></th>
                            <th class="icon"><div translate="STATUS_COLUMNS"></div></th>
                            <th class="icon">
                                <input-button type="icon" ng-click="addItemColumn(container.ProcessContainer.ProcessContainerId);">
                                    <i class="material-icons" aria-hidden="true">add</i>
                                </input-button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itemColumn in itemColumns[container.ProcessContainer.ProcessContainerId]" id="{{container.ProcessContainer.ProcessContainerId}}">
                            <td>
                                <input-smart-table type="translation" model="itemColumn.LanguageTranslationRaw" modify="!itemColumn.SystemColumn" on-change="changeValue" on-change-parameters="{'ProcessContainerId': container.ProcessContainer.ProcessContainerId, 'ItemColumnId': itemColumn.ItemColumnId, 'type': 'fields'}"></input-smart-table>
                            </td>
							<td></td>
							<td>
								<div class="align-row">
									<br />{{'DEBUG_ITEM_COLUMN_NAME' | translate}}: "{{itemColumn.Name}}"
									<br />{{'DEBUG_ITEM_COLUMN_ID' | translate}}: "{{itemColumn.ItemColumnId}}"
								</div>
							</td>
							<td>
                                <input-smart-table type="select" model="itemColumn.DataType" single-value="true" on-change="changeValue" on-change-parameters="{'ProcessContainerId': container.ProcessContainer.ProcessContainerId, 'ItemColumnId': itemColumn.ItemColumnId, 'type': 'fields'}" modify="!itemColumn.SystemColumn" options="dataType" option-value="value" option-name="name"></input-smart-table>
                            </td>
							<td class="icon">
								<input-button type="icon"
											  ng-click="showRelations(itemColumn.ItemColumnId, itemColumn.LanguageTranslationRaw)"
											  align="center">
									<i class="material-icons" aria-hidden="true">device_hub</i>
								</input-button>
							</td>
                            <td>
                                <div class="align-row">
                                    <div ng-if="itemColumn.DataType == 11">
                                        <input-button ng-click="showJoin(itemColumn)" type="icon"><i class="material-icons" aria-hidden="true">add</i></input-button>
                                    </div>

                                    <input-button type="icon" ng-click="showProperties(itemColumn, container.ProcessContainer.ProcessContainerId, column.value)">
										<i class="material-icons" aria-hidden="true">settings</i>
                                    </input-button>
                                </div>
                            </td>
                            <td>
                                <input-smart-table type="checkbox" model="itemColumn.SystemColumn" modify="true" on-change="changeValue" on-change-parameters="{'ProcessContainerId': container.ProcessContainer.ProcessContainerId, 'ItemColumnId': itemColumn.ItemColumnId, 'type': 'fields'}" align='center'>
                                </input-smart-table>
                            </td>                            
                            <td>
                                <input-smart-table type="select" model="itemColumn.CheckConditions" options="[{name: 'NO', value: 0},{name: 'YES', value: 1}, {name: 'ALL_VIEWS', value: 2}]" modify="!itemColumn.SystemColumn" on-change="changeValue" single-value="true" on-change-parameters="{'ProcessContainerId': container.ProcessContainer.ProcessContainerId, 'ItemColumnId': itemColumn.ItemColumnId, 'type': 'fields'}" align='center'>
                                </input-smart-table>
                            </td>
                            <td>
                                <input-smart-table type="checkbox" model="itemColumn.StatusColumn" modify="!itemColumn.SystemColumn" on-change="changeValue" on-change-parameters="{'ProcessContainerId': container.ProcessContainer.ProcessContainerId, 'ItemColumnId': itemColumn.ItemColumnId, 'type': 'fields'}" align='center'>
                                </input-smart-table>
                            </td>
							<td class="icon">
								<input-button ng-click="deleteItemColumnCompletely(itemColumn.ItemColumnId)" type="icon">
									<i class="material-icons" aria-hidden="true">delete</i>
								</input-button>
							</td>
                        </tr>
                    </tbody>
                </table>
            </table-container>
        </div>
    </div>
</div>
