﻿<div id="portfolio-footbar" class="stretch">
	<div class="ng-hide" ng-show="showSelection">
		<input-button ng-click="clickSelStop()">{{::'CANCEL' | translate}}</input-button>
		<input-button ng-repeat="action in portfolioActions" ng-click="executeAction(action.ActionId)">{{getActionName(action.ButtonName)}}</input-button>
		<input-button ng-click="excludeSelected()">{{::'EXCLUDE' | translate}}</input-button>
	</div>

	<div ng-if="visualMode === 5 || visualMode === 7" class="board-legend-footbar no-select">
		<div class="colour-block"
			 ng-repeat-start="block in ::colorBlocks[visualMode === 5 ? 'board' : 'group']"
			 ng-class="::block.background">
		</div>
		<span ng-repeat-end ng-bind="::block.translation"></span>
	</div>

	<div ng-if="$parent.showExport">
		<input-button ng-click="importExcel()">

			{{'IMPORT' | translate}}
		</input-button>
		<input-button ng-click="exportExcel()">
			{{'EXPORT' | translate}}
		</input-button>
	</div>


	<div class="allocation-legend-footbar no-select" ng-show="visualMode === 8" ng-if="::!autoAccept">
		<div class="align-row pointer no-select" ng-hide="::hideStatus['draft']" ng-click="toggleStatus('draft')">
			<div class="colour-block background-grey"
				 ng-class="{ 'background-grey-opaque inactive': inactiveStatus['draft']}">
			</div>
			<span ng-bind="::'ALLOCATION_DRAFT_STATUS' | translate"></span>
		</div>
		<div class="align-row pointer" ng-hide="::hideStatus['previousDraft']" ng-click="toggleStatus('previousDraft')">
			<div class="colour-block background-cyan"
				 ng-class="{ 'background-cyan-opaque inactive': inactiveStatus['previousDraft']}">
			</div>
			<span ng-bind="::'ALLOCATION_PREVIOUS_DRAFT_STATUS' | translate"></span>
		</div>
		<div class="align-row pointer" ng-hide="::hideStatus['request']" ng-click="toggleStatus('request')">
			<div class="colour-block background-amber"
				 ng-class="{ 'background-amber-opaque inactive': inactiveStatus['request']}">
			</div>
			<span ng-bind="::'ALLOCATION_REQUEST_STATUS' | translate"></span>
		</div>
		<div class="align-row pointer" ng-hide="::hideStatus['reject']" ng-click="toggleStatus('reject')">
			<div class="colour-block background-red"
				 ng-class="{ 'background-red-opaque inactive': inactiveStatus['reject']}">
			</div>
			<span ng-bind="::'ALLOCATION_REJECT_STATUS' | translate"></span>
		</div>
		<div class="align-row pointer" ng-hide="::hideStatus['approve']" ng-click="toggleStatus('approve')">
			<div class="colour-block background-green"
				 ng-class="{ 'background-green-opaque inactive': inactiveStatus['approve']}">
			</div>
			<span ng-bind="::'ALLOCATION_APPROVE_STATUS' | translate"></span>
		</div>
		<div class="align-row" ng-hide="::hideStatus['action']">
			<div class="colour-block background-purple"></div>
			<span ng-bind="::'ALLOCATION_ACTION_STATUS' | translate"></span>
		</div>
		<div class="align-row pointer" ng-hide="::hideStatus['release']" ng-click="toggleStatus('release')">
			<div class="colour-block background-pink"
				 ng-class="{ 'background-pink-opaque inactive': inactiveStatus['release']}">
			</div>
			<span ng-bind="::'ALLOCATION_RELEASED_STATUS' | translate"></span>
		</div>
	</div>

	<div class="flex"></div>
	<table-pager max="totalRows"
				 page-size="query.limit"
				 page="query.page"
				 on-page-change="onPageChange"
				 on-page-size-change="onPerPageChange">
	</table-pager>
	<div ng-show="showCalendar" class="calendar-control">
		<div class="RMCalendarResolution" ng-show="visualMode === 1">
			<p ng-bind="::'PORTFOLIO_ND' | translate"></p>
			<p class="modeName">{{modeName}}</p>
		</div>

		<div class="RMCalendarZoomOut" ng-click="calendarOut()">
			<input-button ng-click="calendarZoomOut()" modify="modifyZoomOut || visualMode == 8" type="icon">
				<i class="material-icons" aria-hidden="true">zoom_out</i>
			</input-button>
		</div>
		<div class="RMCalendarZoomIn" ng-click="calendarIn()">
			<input-button ng-click="calendarZoomIn()" modify="modifyZoomIn || visualMode == 8" type="icon">
				<i class="material-icons" aria-hidden="true">zoom_in</i>
			</input-button>
		</div>

		<div class="RMCalendarToday" ng-if="visualMode != 8">
			<input-button ng-click="calendarToday()" modify="modifyToday" type="icon">
				<i class="material-icons" aria-hidden="true">today</i>
			</input-button>
		</div>
		<div class="RMCalendarToday" ng-if="visualMode == 8">
			<input-button ng-click="calendarTodays()" type="icon">
				<i class="material-icons" aria-hidden="true">today</i>
			</input-button>
		</div>

		
	</div>
</div>