<div id="portfolio-view">
	<portfolio-filters portfolio-columns="portfolioColumns"
	                   portfolio-list-filter-values="filterListValues"
	                   portfolio-column-groups="portfolioColumnGroups"
	                   process="{{::options.process}}"
	                   is-visible="showFilters"
	                   portfolio-id="{{::portfolioId}}"
	                   process-progress="processGroups"
	                   hide-progress="hideProcessProgress"
	                   show-archive="showArchive"
	                   on-change="getRows"
					   hide-columns="visualMode == 8"
	                   navigation-menu-id="{{::navigationMenuId}}"
	                   reload-navigation="reloadNavigation()"
	                   excluded="excludedItemIds"
	>
	</portfolio-filters>
	<div ng-if="visualMode == 6" style="height:auto;">
		<portfolio-sundial portfolio-id="{{::portfolioId}}"
		                   rows="portfolioRows"
		                   processes="portfolioProcesses"
		                   on-change="getRows">
		</portfolio-sundial>
	</div>
	<div ng-if="!ready" class="align-column">
		<loader></loader>
	</div>
	<tz-dialog ng-if="actionsExecuting" class="align-column" style="
		width: 300px;
		height: 50px;
		padding: 20px;
		margin: 0 auto;
		padding-top: 50px;
		opacity: 1;
	">
		<div><span translate="ACTION"></span> <span>{{curentActionExecution}}</span> / <span>{{totalActionExecution}}</span></div>
	</tz-dialog>
	<div ng-if="ready">
		<row-manager id="portfolio-feature"
		             rows="rows"
		             portfolio-id="{{::portfolioId}}"
		             parent-item-id="0"
		             rules="rules"
		             options="options"
		             portfolio-columns="portfolioColumns"
		             refresh-calculations="true"
		             ng-if="visualMode === 1 || visualMode === 6 || visualMode === 0">
			<group-template type="header-group">
				<div ng-repeat="col in ::$parent.portfolioColumnGroups" groupid="{{::col.ProcessPortfolioColumnGroupId}}">
					{{::col.LanguageTranslation | translateObject}}
				</div>
			</group-template>
			<row-template type="header">
				<table>
					<tbody>
					<tr class="rowmanager-header">
						<th ng-repeat="col in ::portfolioColumns">
							[{{::col.ItemColumn.Name}}]
						</th>
					</tr>
					</tbody>
				</table>
			</row-template>
			<row-template type="empty">
				<table>
					<tbody>
					<tr class="empty">
						<td colspan="100%" class="italic">
							<span translate="LAYOUT_NO_RESULTS"></span>
						</td>
					</tr>
					</tbody>
				</table>
			</row-template>
			<row-template type="4">
				<table>
					<tbody>
					<tr class="sum-row">
						<td ng-repeat="col in ::portfolioColumns">
							[{{::col.ItemColumn.Name}}]
						</td>
					</tr>
					</tbody>
				</table>
			</row-template>
			<row-template type="default">
				<table>
					<tbody>
					<tr tabindex="0" class="aria-detect">
						<td ng-repeat="col in ::portfolioColumns" ng-class="{'flat-row-group': col.flat}" role="cell">
							 [{{::col.ItemColumn.Name}}]
						</td>
					</tr>
					</tbody>
				</table>
			</row-template>

		</row-manager>
		<portfolio-allocation ng-if="visualMode === 8" rows="rows" process="allocProcess" start-date="calendarDates.s" end-date="calendarDates.e" cost-center="{{costCenterItemColumnId}}" active-settings="activeSettings"></portfolio-allocation>
		<div ng-if="::false">
			<portfolio-dependencies portfolio-id="portfolioId" rows="{{::PortfolioRows}}"></portfolio-dependencies>
		</div>
		<div ng-if="::false">
			<portfolio-proportions portfolio-id="portfolioId" rows="{{::PortfolioRows}}"></portfolio-proportions>
		</div>
		<div ng-if="visualMode == 4">
			<portfolio-prioritization process="{{::options.process}}"
			                          portfolio-id="{{::portfolioId}}"
			                          rows="portfolioRows"
			                          columns="portfolioColumns"
									  stateparams="StateParameters">
			</portfolio-prioritization>
		</div>
		<div ng-if="visualMode === 5">
			<board cards="cardRows"
			       card-title="PortfolioBoardTitle"
			       card-description="PortfolioBoardDescription"
			       card-date="{{::boardDate}}"
			       card-chips="PortfolioBoardChips"
			       card-color="PortfolioBoardColor"
			       on-click="cardClick"
			       options="boardOptions">
			</board>
		</div>
		<div ng-if="visualMode === 7">
			<portfolio-group cards="portfolioRows"
			                 card-title="groupTitleColumn"
			                 card-horizontal="groupHorizontalColumn"
			                 card-vertical="groupVerticalColumn"
			                 card-description="groupDescriptionColumn"
			                 card-chips="groupChipColumn"
			                 card-color="groupColorColumn"
			                 on-click="cardClick">
			</portfolio-group>
		</div>
		<div ng-if="visualMode == 69" class="row dashboard-chart-container">
			<div ng-repeat="chart in dashb.ActualCharts" ng-class="::{'col-md-12': chart.json.fullWidth, 'col-md-6': !chart.json.fullWidth}" class="col-xs-12">
				<dashboard-chart
						class="dashboard-chart"
						data="chart"
						process="chartProcess">
				</dashboard-chart>
			</div>
		</div>
	</div>
</div>