<div class="flex align-row end">
    <div ng-if="!configurations.Enabled">
        <input-button ng-click="toggleConfigurations(true)" no-waves class="up-down-button">
            <div translate="Enable"></div>
        </input-button>
    </div>
    <div ng-if=" configurations.Enabled">
    <input-button ng-click="toggleConfigurations(false)" no-waves class="up-down-button">
        <div translate="Disable"></div>
    </input-button>
    </div>
    <input-button ng-click="changeValue()" no-waves class="up-down-button">
        <div translate="SAVE"></div>
    </input-button>
</div>