﻿<style>
    ul {list-style: circle; margin: 20px 0;}
    li {margin-left: 30px;}
</style>
<div class="row">
    <div class="col" style="margin-right:60px; margin-bottom: 80px;" ng-if="configurations.Enabled">
        <container-header>{{"O365_STEP1" |translate}} </container-header>
        <p style="max-width: 600px; line-height:1.25">{{"O365_ENABLED_TEXT" | translate}}</p>
        <input-smart type="string"
                     model="configurations.LoginUrl"
                     minimal="true"
                     label="{{'O365_' + key.toString().toUpperCase()}}"
        >
        </input-smart>

        <container-header style="margin-top: 80px;">{{"O365_STEP2" |translate}} </container-header>
        <p>{{"O365_ENABLED_TEXT_2" | translate}}</p>
        
        <div ng-repeat="(key, value) in configurations">
            <input-smart ng-if="key!='Enabled' && key!='LoginUrl'"
                         type="string"
                         model="configurations[key]"
                         modify="true"
                         on-change=""
                         label="{{'O365_' + key.toString().toUpperCase()}}">
            </input-smart>
        </div>
    </div>
    <div class="col">
        <div ng-if="configurations.Enabled">
            <container-header>{{"O365_EMAIL" | translate}}</container-header>
            <div style="width: 500px; background-color:#f0f0f0;line-height: 1.25; padding: 20px;" ng-bind-html="getEmailText()">
            </div>
        </div>
    </div>
</div>

<div ng-if="!configurations.Enabled">
    <div>{{"O365_DISABLE_TEXT" | translate}}</div>
</div>
