<dialog-content>
    <dialog-title>
        <h2 class="ellipsis">{{::'GANTT_COPY_MODEL' | translate}}</h2>
    </dialog-title>
    <dialog-container>
        <table materialize>
            <thead>
            <tr>
                <th class="icon"></th>
                <th ng-repeat="column in ::portfolioColumns">
                    {{::column.ItemColumn.LanguageTranslation | translateObject}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ::portfolioRows">
                <td>
                    <input-check minimal
                                 modify="allowSelect || selectedRows[row.item_id]"
                                 model="selectedRows[row.item_id]"
                                 on-change="selectRow"
                                 on-change-parameters="row.item_id">
                    </input-check>
                </td>
                <td ng-repeat="column in ::portfolioColumns">
                    {{::row[column.ItemColumn.Name]}}
                </td>
            </tr>
            </tbody>
        </table>
        <table style="width:400px;">
            <tr>
                <th class="align-left">{{::'GANTT_COPY_START_DATE' | translate}}</th>
                <th style="width:32px;"></th>
                <th class="align-left">{{::'GANTT_COPY_END_DATE' | translate}}&nbsp;{{::'GANTT_COPY_OPTIONAL' | translate}}</th>
            </tr>
            <tr>
                <td>
                    <input-date model="data['copy_start_date']"
                                modify="true"
                                on-change="dateChanged"
                                label="{{::'GANTT_COPY_START_DATE' | translate}}"
                                minimal="true">
                    </input-date>
                </td>
                <td class="align-center"></td>
                <td>
                    <input-date model="data['copy_end_date']"
                                modify="true"
                                on-change="dateChanged"
                                label="{{::'GANTT_COPY_END_DATE' | translate}}"
                                minimal="true">
                    </input-date>
                </td>
            </tr>
        </table>


        <!--
		<input-check model="overwrite"
					 modify="true"
					 label="{{::'COPY_OVERWRITE' | translate}}">
		</input-check>
		-->
    </dialog-container>
</dialog-content>
<dialog-actions>
    <input-button ng-click="cancel()">{{::'CANCEL' | translate}}</input-button>
    <input-button type="primary" ng-click="copy()" modify="canCopy" loading="copying">
        {{::'COPY' | translate}}
    </input-button>
</dialog-actions>
