<style>
	#gantt-feature th:not(:last-child) {
		overflow: hidden;
	}
</style>
<portfolio-filters portfolio-columns="portfolioColumns"
                   process="{{::options.process}}"
                   is-visible="showFilters"
                   hide-filters="true"
                   hide-filter-button="true"
                   hide-save-button="true"
                   portfolio-id="{{::portfolioId}}">
</portfolio-filters>

<div ng-show="loading" style="background-color: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;">
</div>

<row-manager rows="rows"
             portfolio-id="{{::portfolioId}}"
             rules="rules"
             options="options"
             portfolio-columns="portfolioColumns"
             id="gantt-feature"
             new-item="newItem">
	<row-template type="header">
		<table>
			<tbody>
			<tr class="rowmanager-header">
				<th ng-repeat="col in portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</th>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="empty">
		<table>
			<tbody>
			<tr class="empty">
				<td colspan="100%" class="italic">
					<span translate="PORTFOLIO_INPUT_EMPTY"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="addrow">
		<table>
			<tbody>
			<tr class="addrow">
				<td colspan="100%" class="italic" style="text-align: left; color: black;">
					<span translate="GANTT_NEW_ROW"></span>&nbsp;<span class="buttonArea"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="1">
		<table>
			<tbody>
			<tr class="type1">
				<td ng-repeat="col in portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="2">
		<table>
			<tbody>
			<tr class="type2">
				<td ng-repeat="col in portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
	<row-template type="21">
		<table>
			<tbody>
			<tr class="type21">
				<td ng-repeat="col in portfolioColumns">
					[{{::col.ItemColumn.Name}}]
				</td>
			</tr>
			</tbody>
		</table>
	</row-template>
</row-manager>