﻿<div class="ng-hide" ng-show="showSelection">
	<input-button ng-click="clickSelStop()">{{::'CANCEL' | translate}}</input-button>
	<input-button ng-click="clickSelCopy()" modify="modifySelection">{{::'COPY' | translate}}</input-button>
	<input-button ng-click="clickSelCut()" modify="modifySelection">{{::'CUT' | translate}}</input-button>
	<input-button ng-click="clickSelDel()" modify="modifySelection">{{::'DELETE' | translate}}</input-button>
	<input-button ng-click="clickSelModify()" modify="modifySelection">{{::'MODIFY' | translate}}</input-button>
</div>
<div class="ng-hide" ng-hide="showSelection">
	<div class="RMlock">
		<input-button type="icon">
			<i class="material-icons" aria-hidden="true">lock_open</i>
		</input-button>
	</div>
</div>
<div class="allocation-legend-footbar" ng-hide="showSelection" ng-if="::showAllocationDescription">
	<div class="colour-block background-grey"></div>{{::'ALLOCATION_DRAFT_STATUS' | translate}}
	<div class="colour-block background-cyan"></div>{{::'ALLOCATION_PREVIOUS_DRAFT_STATUS' | translate}}
	<div class="colour-block background-amber"></div>{{::'ALLOCATION_REQUEST_STATUS' | translate}}
	<div class="colour-block background-red"></div>{{::'ALLOCATION_REJECT_STATUS' | translate}}
	<div class="colour-block background-green"></div>{{::'ALLOCATION_APPROVE_STATUS' | translate}}
	<div class="colour-block background-purple"></div>{{::'ALLOCATION_ACTION_STATUS' | translate}}
</div>
<div class="flex"></div>
<div class="calendar-control">
	<div class="RMCalendarResolution">
		<p>{{::'PORTFOLIO_ND' | translate}}</p>
		<p class="modeName">{{modeName}}</p>
	</div>

	<div class="RMCalendarZoomOut">
		<input-button ng-click="calendarZoomOut()" modify="modifyZoomOut" type="icon"><i class="material-icons" aria-hidden="true">zoom_out</i></input-button>
	</div>

	<div class="RMCalendarZoomIn">
		<input-button ng-click="calendarZoomIn()" modify="modifyZoomIn" type="icon"><i class="material-icons" aria-hidden="true">zoom_in</i></input-button>
	</div>

	<div class="RMCalendarToday">
		<input-button ng-click="calendarToday()" modify="modifyToday" type="icon"><i class="material-icons" aria-hidden="true">today</i></input-button>
	</div>
	<divider class="vertical"></divider>
	<div  style="width:24px">		
		<i ng-show="calendarWarning" class="RMWarnings material-icons" title="{{ 'GANTT_LINK_ERROR' | translate}}">warning</i>
	</div>
</div>
<input-smart class="slack-controller" manual-save placeholder="GANTT_SLACK_OPTIONS" type="multiselect" options="slackOptions" minimal model="selectedSlacks" on-change="slackChange"></input-smart>
