﻿<input-container>
	<input id="{{::id}}"
	       tooltip="{{userModel}}"
	       ng-model="userModel"
	       type="text"
	       placeholder="{{::placeholder}}"
	       autocomplete="off"
	       ng-pattern="::pattern"
	       aria-required="{{::requiredField}}"
	       aria-disabled="{{!modify}}"
	       ng-required="::requiredField"
	       ng-change="validateDate()"
	       ng-blur="blurred()"
	       tabindex="{{::tabindex}}"
	       ng-readonly="!modify"/>
	<label for="{{::id}}" ng-bind="::label" tooltip="{{::label}}"></label>
	<input-button type="icon" class="aria-detect" minimal ng-click="openDatepicker($event)" tooltip="DATE_INPUT_OPEN">
		<i class="material-icons" aria-hidden="true">date_range</i>
	</input-button>
	<validator class="overline no-select">
		{{::dateStyle}}
	</validator>
</input-container>
