<div class="title-section no-select">
	<div class="top h5">
		<span ng-click="showYearPicker()" class="pointer ellipsis" tooltip="DATE_INPUT_SHOW_YEARS">
			{{startYear}} {{endYear}}
		</span>
	</div>
	<div class="bottom white subtitle-1" style="display:flex;">
		<div ng-click="closePickers()" tooltip="{{startDates}} {{endDates}}" class="stretch pointer ellipsis">
			<div class="small-titles">
				<span>{{::'CLICK_DATES_BELOW' | translate}}</span>

				
				<span ng-if="!settings.dateRange">{{::('CALENDAR_DATE' | translate).toLowerCase()}}</span>
				<span ng-if="settings.dateRange && lastSet == 'e'">{{::('ARTICLE_A' | translate)}} {{::('TASK_START_DATE' | translate).toLowerCase()}}</span>
				<span ng-if="settings.dateRange && lastSet == 's'">{{::('ARTICLE_AN' | translate)}} {{::('TASK_END_DATE' | translate).toLowerCase()}}</span>
			</div>
			<span ng-if="errorText == ''" class="formatted-date"
			      ng-style="{'border-bottom': lastSet == 'e' ? 'solid 2px white' : ''}">{{startDates}}</span>
			<span ng-if="errorText == ''" class="formatted-date"
			      ng-style="{'border-bottom': lastSet == 's' ? 'solid 2px white' : ''}">{{endDates}}</span>
			<div ng-if="errorText != ''">{{errorText}}</div>
		</div>
		<div ng-if="model.time">
			<div class="small-titles" translate="TIME"></div>
			<div class="time-picker">
				<input id="timePicker"
				       tooltip="{{timeValue}}"
				       ng-model="timeValue"
				       type="text"
				       autocomplete="off"
				       ng-pattern="::timePattern"
				       ng-change="validateTime(timeValue)"
				       ng-blur="blurredTime(timeValue)"
				       tabindex="0"
				       ng-readonly="false"/>
			</div>
		</div>
	</div>
</div>
<div class="content-section">
	<div class="month-view transition-in">
		<div class="controller" ng-swipe-left="nextMonth()" ng-swipe-right="previousMonth()">
			<div>
				<input-button minimal type="icon" ng-click="previousMonth()" tooltip="DATE_INPUT_PREVIOUS_MONTH">
					<i class="material-icons" aria-hidden="true">chevron_left</i>
				</input-button>
			</div>
			<div class="month-click pointer" ng-click="showMonthPicker()" tooltip="DATE_INPUT_SHOW_MONTHS"></div>
			<div>
				<input-button minimal type="icon" ng-click="nextMonth()" tooltip="DATE_INPUT_NEXT_MONTH">
					<i class="material-icons" aria-hidden="true">chevron_right</i>
				</input-button>
			</div>
		</div>
	</div>
	<div class="year-picker">
		<div ng-repeat="year in yearList" class="year pointer no-select" ng-click="setYear(year)"
		     ng-bind="::year"></div>
	</div>
	<div class="month-picker">
		<div ng-repeat="month in ::months"
		     class="month pointer no-select"
		     ng-class="{ current: currentMonth == $index }"
		     ng-click="setMonth($index)"
		     ng-bind="::month">
		</div>
	</div>
</div>

<div class="actions-section">
	<input-button minimal ng-click="today()" ng-bind="::'TODAY' | translate"></input-button>
	<span class="flex"></span>
	<input-button minimal ng-click="cancel()" ng-bind="::'CANCEL' | translate"></input-button>
	<input-button minimal type="primary" ng-click="setDate()" ng-bind="::'OK' | translate"></input-button>
</div>