<!-- CHART TYPE SELECTIONS -->
<div id="chart-settings">
	<div class="row" ng-if="!selections.chartType || changing">
		<div ng-repeat="chart in ::previews" class="review" ng-class="{'disabled': !chart.enabled}"
		     style="background-image: URL('images/previews/{{::chart.img}}');" ng-click="choosePreview(chart)">
			{{::chart.title}}
		</div>
	</div>
	<input-button ng-if="oldType != null && changing" type="primary" ng-click="cancelChange();">
		{{'CANCEL' | translate}}
	</input-button>


	<div ng-if="selections.chartType && !changing">
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<div class="row" style="max-width: 800px; justify-content: space-between; padding-left: 16px;">
					<input-smart type="translation"
					             label="Name"
					             model="chart.LanguageTranslation"
					             on-change="chartNameChanged"
					             on-change-parameters="{'id': chart.Id, 'type': 'charts'}"
					             translation="true"
					             modify="edit"
					             style="width:80%"
					>
					</input-smart>
					<input-button translate="CHANGE" type="primary" ng-click="changeType()"
					              style="margin-top:30px; margin-right:0;"></input-button>
				</div>
				<div class="row" style="max-width: 800px; justify-content: space-between; padding-left: 16px;">
					<input-smart type="multiselect"
					             model="selections.baseColor"
					             label="Color Scheme"
					             modify="true"
					             options="colours"
					             option-value="Name"
					             ng-show="selections.chartType!='resourceLoad'"
					             option-name="Name" style="width:80%">
					</input-smart>


					<input-smart type="checkbox"
					             model="selections.fullWidth"
					             label="DASHBOARD_OPTIONS_FULL_WIDTH"
					             modify="true">
					</input-smart>
				</div>

				<div ng-include="chartFieldConfiguration.templateUrl" style="margin-top: 64px;"></div>
			</div>
			<div class="col-md-12 col-lg-6">
				<div>
					<dashboard-chart data="chart" process="process"></dashboard-chart>
				</div>
			</div>
		</div>


	</div>
</div>