<!-- CHART TYPE SELECTIONS -->
<table-header><div translate="PROCESS_DASHBOARDS_SETUP"></div></table-header>
<div class="row">
    <div class="col-xs-6">
        <input-smart type="translation"
                     label="NAME"
                     model="dashboard.LanguageTranslation"
                     on-change="dashboardNameChanged"
                     on-change-parameters="{'id': dashboard.Id, 'type': 'dashboards'}"
                     translation="true"
                     modify="edit">
        </input-smart>
        <input-smart type="multiselect"
                     label="PROCESS_DASHBOARDS_CHARTS"
                     model="chartsSelected"
                     on-change="chartSelectionChanged"
                     options="charts"
                     option-name="LanguageTranslation"
                     option-value="Id"
                     modify="edit">
        </input-smart>
        <input-smart type="multiselect"
                     label="USER_GROUPS"
                     model="dashboard.AllowedUserGroups"
                     on-change="chartSelectionChanged"
                     options="userGroups"
                     option-name="usergroup_name"
                     option-value="item_id"
                     modify="edit">
        </input-smart>
        <table-header>{{::'CHART_LINKED_CHARTS' | translate}}</table-header>
        <table-container>
            <table materialize>
                <thead>
                    <tr>
                        <th>{{'HIDE_CHART_IN_DASHBOARD' | translate}}</th>
                        <th><div>{{::'CHART_LINK_PROCESS' | translate}}</div></th>
                        <th><div>{{::'CHART_LINK_SOURCE_PROCESS_FIELD' | translate}}</div></th>
                        <th><div>{{::'CHART_LINK_LINK_PROCESS_FIELD' | translate}}</div></th>
                        <th><div>{{::'CHART_LINK_CHART_SELECTION' | translate}}</div></th>
                        <th><div>{{::'CHART_LINK_PORTFOLIO_MODE' | translate}}</div></th>
                        <th class="icon"><input-button type="icon" ng-click="addLinkRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in linkData">
                    {{$index}}
                    <tr>
                        <td>
                            <input-smart class="smart-table ng-scope ng-isolate-scope" minimal = "" chip = "minimal"
                                         type="checkbox"
                                         modify="edit"
                                         manual-save
                                         on-change="toggleHide"
                                         model="linkData[$index].hide"
                                         option-false="0"
                                         option-true="1"
                                         label="{{::d.label}}">
                            </input-smart>
                        </td>
                        <td>
                            <input-smart class="smart-table ng-scope ng-isolate-scope" minimal = "" chip = "minimal"
                                         type="select"
                                               model="linkData[$index].link_process"
                                               option-name="LanguageTranslation"
                                               option-value="ProcessName"
                                               watch-options="true"
                                               on-change="linkProcessChanged($index)"
                                               options="processes"
                                               modify="edit">
                            </input-smart>
                        </td>
                        <td>
                            <input-smart class="smart-table ng-scope ng-isolate-scope" minimal = "" chip = "minimal"
                                         type="select"
                                               model="linkData[$index].source_field"
                                               option-name="LanguageTranslation"
                                               option-value="Name"
                                               watch-options="true"
                                               options="processColumns"
                                               modify="edit">
                            </input-smart>
                        </td>
                        <td>
                            <input-smart class="smart-table ng-scope ng-isolate-scope" minimal = "" chip = "minimal"
                                         type="select"
                                         model="linkData[$index].link_process_field"
                                         option-name="LanguageTranslation"
                                         option-value="Name"
                                         watch-options="true"
                                         options="linkedFieldOptions[$index]"
                                         modify="edit">
                            </input-smart>
                        </td>
                        <td>
                            <input-smart class="smart-table ng-scope ng-isolate-scope" minimal = "" chip = "minimal"
                                         type="multiselect"
                                         model="linkData[$index].chart_ids"
                                         option-name="LanguageTranslation"
                                         option-value="Id"
                                         watch-options="true"
                                         on-change="LinkChartSelectionChanged($index)"
                                         options="linkedChartOptions[$index]"
                                         modify="edit">
                            </input-smart>
                        </td>
                        <td>
                            <input-smart class="smart-table ng-scope ng-isolate-scope" minimal = "" chip = "minimal"
                                         type="select"
                                         model="linkData[$index].portfolio_mode"
                                         option-name="LanguageTranslation"
                                         option-value="Value"
                                         watch-options="true"
                                         options="linkedChartPortfolioModes"
                                         modify="edit">
                            </input-smart>
                        </td>
                        <td class="icon"><input-button type="icon" ng-click="deleteLinkRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
                    </tr>                   
                </tbody>
            </table>
        </table-container>
        <table-header translate="DASHBOARD_ORDERING_LIST"></table-header>
        <table-container>
            <table materialize class="settings-actions">
                <thead>
                    <tr>
                        <th class="icon"></th>
                        <th><div translate="CHART_NAME"></div></th>
                    </tr>
                </thead>
                <tbody sortable on-sort="syncOrder" handler=".up-down-button">
                    <tr ng-repeat="chart in dashboard.Charts" ng-if="chartsSelected.length > 0" sort="chart">
                        <td>
                            <input-button type="icon" class="up-down-button" no-waves>
                                <i class="material-icons" aria-hidden="true">reorder</i>
                            </input-button>
                        </td>
                        <td>
                            {{ chart.LanguageTranslation | translateObject }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </table-container>
    </div>
    <div class="col-xs-6">
        <div ng-repeat="chart in dashboard.Charts | orderBy: 'OrderNo'">
            <dashboard-chart data="chart" process="process">
            </dashboard-chart>
        </div>
    </div>
</div>
