<table-header><div translate="PROCESS_DASHBOARDS_SETUP"></div></table-header>
<table-container>
    <table materialize>
        <thead>
            <tr>
                <th><div translate="SELECT_NAME"></div></th>
				<th><div translate="CHART_TYPE"></div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input-smart-table type="translation"
                                       
                                       model="dashboard.LanguageTranslation"
                                       on-change="dashboardChanged"
                                       on-change-parameters="{'id': dashboard.Id, 'type': 'dashboards'}"
                                       translation="true"
                                       modify="edit">
                    </input-smart-table>
                </td>
                <td>
                    <input-smart-table type="select"
                                       max="1"
                                       model="dashboard.$$parsedJson.chartType"
                                       options="chartTypes"
                                       option-value="Value"
                                       option-name="Name"
                                       modify="edit"
                                       on-change="chartTypeChanged">
                    </input-smart-table>
                </td>
            </tr>
        </tbody>
    </table>
</table-container>
<table-container ng-if="chartOptions">
    <table materialize>
        <thead>
            <tr>
                <th><div translate="OPTION"></div></th>
                <th><div translate="VALUE"></div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="chartOption in chartOptions">
                <td>
                    {{chartOption.TranslationKey}}
                </td>
                <td>
                    <input-smart-table ng-if="!chartOption.Multiple"
                                       type="select"
                                       model="dashboard.$$parsedJson[chartOption.PropertyName]"
                                       modify="true"
                                       on-change="dashboardChanged"
                                       on-change-parameters="{'id': dashboard.Id, 'type': 'dashboards'}"
                                       options="chartOption.Values"
                                       option-value="Name"
                                       option-name="LanguageTranslation">
                    </input-smart-table>
                    <input-smart-table ng-if="chartOption.Multiple"
                                       type="multiselect"
                                       ng-init="dashboard.$$parsedJson[chartOption.PropertyName] = []"
                                       model="dashboard.$$parsedJson[chartOption.PropertyName]"
                                       modify="true"
                                       on-change="dashboardChanged"
                                       on-change-parameters="{'id': dashboard.Id, 'type': 'dashboards'}"
                                       options="chartOption.Values"
                                       option-value="Name"
                                       option-name="LanguageTranslation">
                    </input-smart-table>
                </td>
            </tr>
        </tbody>
    </table>
</table-container>
