﻿<kanban 
		parent-item-id="{{::rowId}}"
		options="options"
		rows="rows"
		new-item="newItem">
	<kanban-template type="empty">
		<span ng-if="options.mode != 1" translate="KANBAN_NEW_ROW"></span>&nbsp;<span class="buttonArea"></span>		
	</kanban-template>
</kanban>
