<div class="flex align-row end">
	<input-button ng-click="exportAll()"><div translate="REST_DOCUMENTATION_EXPORT_ALL"></div></input-button>
	<input-button ng-click="export()"><div translate="REST_DOCUMENTATION_EXPORT"></div></input-button>
	<!--<input-button ng-click="print()"><div translate="REST_DOCUMENTATION_PRINT"></div></input-button>-->
</div>