﻿<style>
    .rest-header {
        padding: 10px;
        width: 160px;
    }

    .rest-value {
        padding: 10px;
        background-color: whitesmoke;
        width: 600px;
        font-family: Consolas, "courier new";
        font-size: 14px;
        white-space: pre;
    }

    .rest-desc {
        padding: 10px;
        margin-bottom: 32px;
        width: 800px;
        line-height: 22px;
    }
</style>
<tabs class="rest-doc">
	<tab ng-repeat="item in restData.item[0].item" label="{{::item.name}}">

		<div class="rest-desc">{{::item.request.description}}</div>

		<div style="display: flex;">
			<div class="rest-header" translate="REST_DOCUMENTATION_METHOD"></div>
			<div class="rest-value">{{::item.request.method}}</div>
		</div>

		<div style="display: flex;margin-bottom: 32px;">
			<div class="rest-header" translate="REST_DOCUMENTATION_URL"></div>
			<div class="rest-value">{{::item.request.url.raw}}</div>
		</div>
		
		<div style="display: flex; " ng-repeat="header in item.request.header">
			<div class="rest-header"><span translate="REST_DOCUMENTATION_HEADER" ng-if="$index == 0"></span></div>
			<div class="rest-value">{{::header.key}}: {{::header.value}}</div>
		</div>

		<div style="display: flex; margin-top: 32px;" ng-if="item.request.body">
			<div class="rest-header" translate="REST_DOCUMENTATION_BODY"></div>
			<div class="rest-value">{{::ParseJson(item.request.body.raw)}}</div>
		</div>
	</tab>
</tabs>