<table-container>
	<table materialize>
		<thead>
		<tr>
			<th class="icon"></th>
			<th style="width: 50%">{{'CURRENCY_NAME' | translate}}</th>
			<th style="width: 50%">{{'CURRENCY_ABBR' | translate}}</th>
			<th style="width: 50%">{{'EXCHANGE_RATE' | translate}}</th>
			<th class="icon">
				<input-button type="icon" ng-click="addCurrency();">
					<i class="material-icons" aria-hidden="true">add</i>
				</input-button>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="currency in currencies">
			<td>
				<input-button ng-show="currency.Abbreviation != 'eur'" type="icon" ng-click="deleteCurrency(currency)">
					<i class="material-icons" aria-hidden="true">delete</i>
				</input-button>
			</td>
			<td>
				<input-smart-table
						type="translation"
						modify="currency.Abbreviation != 'eur'"
						on-change="saveCurrency(currency.CurrencyId, $index)"
						model="currency.Translations">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table
						type="string"
						modify="currency.Abbreviation != 'eur'"
						on-change="saveCurrency(currency.CurrencyId, $index)"
						model="currency.Abbreviation">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table
						type="decimal"
						modify="currency.Abbreviation != 'eur'"
						on-change="saveCurrency(currency.CurrencyId, $index)"
						precision="6"
						model="currency.CurrentExchangeRate">
				</input-smart-table>
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</table-container>
