<!--
<div class="flex align-row">
	<div class="flex align-row end">
		{{'SELECT_INSTANCE_DEFAULT_CURRENCY' | translate}}&nbsp;&nbsp;&nbsp;
		<input-smart type="select"
					 max="1"
					 options="listItems"
					 option-value="item_id"
					 option-name="list_item"
					 single-value="true"
					 model="$parent.instanceDefaults.DefaultCurrency"
					 placeholder="SELECT_INSTANCE_DEFAULT_CURRENCY"
					 on-change="changeDefaultCurrency" minimal style="width:300px;">
		</input-smart>
	</div>
</div>-->
