<div class="row page-simple-allocations" style="max-width: 1920px;">
    <div class="col-xs-12">
        <div class="box" style="float:left;">
            <div class="btn"><span translate="YEAR"></span></div>
            <input-button type="icon" ng-click="changeYear('-')" modify="allowYearChange" tooltip="ALLOCATION_PREV_YEAR"><i class="material-icons" aria-hidden="true">chevron_left</i></input-button>
            <div class="btn"><span>{{year}}</span></div>
            <input-button type="icon" ng-click="changeYear('+')" modify="allowYearChange" tooltip="ALLOCATION_NEXT_YEAR"><i class="material-icons" aria-hidden="true">chevron_right</i></input-button>

            <div class="btn" ng-if="dateMode == 1"><span translate="QUARTER"></span></div>
            <input-button ng-if="dateMode == 1" type="icon" ng-click="changeQuarter('-')" modify="allowYearChange" tooltip="ALLOCATION_PREV_QUARTAL"><i class="material-icons" aria-hidden="true">chevron_left</i></input-button>
            <div class="btn" ng-if="dateMode == 1"><span>{{quarter}}</span></div>
            <input-button ng-if="dateMode == 1" type="icon" ng-click="changeQuarter('+')" modify="allowYearChange" tooltip="ALLOCATION_NEXT_QUARTAL"><i class="material-icons" aria-hidden="true">chevron_right</i></input-button>
        </div>
    </div>
</div>
<div ng-repeat="(resource_id, resource) in rows[year]" style="max-width: 1920px;">
	<table materialize style="margin-bottom: 30px !important;">
		<thead>
            <tr>
                <th style="padding-left:6px;">
                    <input-button ng-if="WriteRights" type="icon" ng-click="addAllocation(resource_id)" modify="true" tooltip="ALLOCATION_SIMPLE_ADD"><i class="material-icons" aria-hidden="true">add</i></input-button>
                </th>
                <th ng-if="usermode == 0" class="resource_name">
                    {{resource_name[resource_id]}}
                </th>
                <th ng-if="usermode == 1" class="resource_name">
                    {{resource_name[resource_id]}}
                </th>
                <th>
                    <input-button ng-if="AdminRights" type="icon" ng-click="delResource(resource_id)" modify="true" tooltip="{{del_resource_tooltip}}"><i class="material-icons" aria-hidden="true">close</i></input-button>
                </th>
                <th ng-if="workCategories.length > 0"></th>
                <th ng-repeat="(key, value) in months"></th>
                <th ng-if="sumMode == 0 || sumMode == 2"></th>
                <th ng-if="sumMode == 0 || sumMode == 1"></th>
            </tr>
            <tr>
                <th class="icon">
                    <input-smart-table type="checkbox" ng-if="checkBoxVisible(true)" model="selectedRowsAll[resource_id]" on-change="selectAllRows" on-change-parameters="resource_id" />
                </th>
                <th style="min-width: {{processWidth}}px; width: {{processWidth}}px; max-width: {{processWidth}}px;">{{parentProcessTitle}}</th>
                <th style="min-width: {{titleWidth}}px; width: {{titleWidth}}px; max-width: {{titleWidth}}px;">{{'ALLOCATION_TITLE' | translate}}</th>
                <th ng-if="workCategories.length > 0" style="min-width: {{workCategoryWidth}}px; width: {{workCategoryWidth}}px; max-width: {{workCategoryWidth}}px;">{{'WORK_CATEGORY' | translate}}</th>
                <th ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px !important;" class="align-right">
                    {{value}}
                </th>
                <th ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_YEAR' | translate}}</th>
                <th ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}</th>
            </tr>
		</thead>
        <tbody>
            <tr ng-repeat="row in resource">
                <td class="icon" style="text-align:center;">
                    <input-smart-table type="checkbox" ng-if="checkBoxVisible(row.edit)" model="selectedRows[resource_id][row.item_id]" />
                </td>
                <td>
                    {{::process_name[row.process_item_id]}}
                </td>
                <td>
                    <input-smart-table type="string" modify="row.edit && WriteRights" model="row.title" on-change="changeAllocation" on-change-parameters="row" />
                </td>
                <td ng-if="workCategories.length > 0">
                    <input-smart-table type="select" model="row.work_category_item_id" modify="row.edit && WriteRights" label="Work Category" on-change="changeAllocation" on-change-parameters="row" options="workCategories" single-value="true" option-value="item_id" option-name="list_item" unselectable />
                </td>
                <td ng-repeat="(key, value) in months" class="align-right">
                    <input-smart-table type="decimal" modify="row.edit && WriteRights && workingDaysInMonth[row.user_item_id][year][value]>0&&value>lock_month" model="row['month'][value]" min="0" align="right" on-change="calculateMonthTotal" on-change-parameters="{ item_id: row.item_id, months: row.month, user_item_id: row.user_item_id }" style="min-width: 60px; width: 60px; max-width: 60px;" />
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(totals[resource_id]['item'][year][row.item_id])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['itemYearTotals_' + resource_id][row.item_id])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['itemTotals_' + resource_id][row.item_id])}}</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}:</td>
                <td></td>
                <td ng-if="workCategories.length > 0"></td>
                <td ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px;" class="align-right">
                    <b>{{formatNumber(totals[resource_id]['total'][year][value])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(totals[resource_id]['total'][year]['total'])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['itemYearTotals_' + resource_id][0])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['itemTotals_' + resource_id][0])}}</b>
                </td>
            </tr>
        </tbody>
	</table>

    <table ng-if="ShowWorkCategoryTotals && workCategories.length > 0" materialize>
        <thead>
            <tr>
                <th class="icon"></th>
                <th style="min-width: {{processWidth}}px; width: {{processWidth}}px; max-width: {{processWidth}}px;">{{'WORK_CATEGORY' | translate}} {{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}</th>
                <th style="min-width: {{titleWidth}}px; width: {{titleWidth}}px; max-width: {{titleWidth}}px;"></th>
                <th style="min-width: {{workCategoryWidth}}px; width: {{workCategoryWidth}}px; max-width: {{workCategoryWidth}}px;"></th>
                <th ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px !important;" class="align-right">
                    {{value}}
                </th>
                <th ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_YEAR' | translate}}</th>
                <th ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workCategory in workCategoriesSelected[resource_id]">
                <td></td>
                <td>{{workCategoriesDict[workCategory].list_item}}</td>
                <td></td>
                <td></td>
                <td ng-repeat="(key, value) in months" class="align-right">
                    {{workCategoryTotals2[resource_id][workCategory][value]}}
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(workCategoryTotals[resource_id][workCategory])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['categoryYearTotals_' + resource_id][workCategory])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['categoryTotals_' + resource_id][workCategory])}}</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{'SIMPLE_ALLOCATION_TOTAL_ALL' | translate}}:</td>
                <td></td>
                <td></td>
                <td ng-repeat="(key, value) in months" style="min-width: 60px; width: 60px; max-width: 60px;" class="align-right">
                    <b>{{formatNumber(totals[resource_id]['total2'][year][value])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 2" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b ng-if="dateMode == 0">{{formatNumber(totals[resource_id]['total2'][year]['total'])}}</b>
                    <b ng-if="dateMode == 1">{{formatNumber(sums['categoryYearTotals_' + resource_id][0])}}</b>
                </td>
                <td ng-if="sumMode == 0 || sumMode == 1" style="min-width: 60px; width: 60px; max-width: 100px;" class="align-right">
                    <b>{{formatNumber(sums['categoryTotals_' + resource_id][0])}}</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>