﻿<div class="stretch align-left">
<div class="stretch align-left">
    <input-button type="primary" ng-if="hasSelectedRows() && DeleteRights" ng-click="deleteAllocation()" translate="ALLOCATION_SIMPLE_DELETE"></input-button>
    <input-button type="primary" ng-if="hasSelectedRows() && WriteRights && allowMove > 0" ng-click="moveAllocation()" translate="ALLOCATION_SIMPLE_MOVE"></input-button>
</div>