<div ng-controller="DashboardChartBasicConfigController">
	<tabs modify="true" move="false" create-function="addMixedRow()" ng-if="selections.chartType && selections.mixedDataCommon"
		  style="max-width: 800px">
		<tab entity="1000" label="X-Axis">
			<input-smart ng-if="chartOptions.valueFields.Values"
						 type="select"
						 unselectable
						 model="selections.mixedDataCommon.xaxis"
						 on-change="xAxisSourceChanged"
						 on-change-parameters="'label'"
						 modify="true"
						 watch-options="true"
						 options="xAxesAllowed"
						 option-value="Name"
						 option-name="LanguageTranslation"
						 label="Data source for the x-axis"></input-smart>
			<!--			             label="CHART_COMMON_X_AXIS"-->
			<!-- X-Axis is a list -->
			<input-smart ng-show="showExtraListFields" type="select"
						 model="selections.mixedDataCommon.showAllListItems"
						 modify="true"
						 watch-options="true"
						 options="mixedSelections.tableOptions"
						 option-value="value"
						 option-name="LanguageTranslation"
						 label="Show all list's items on the x-axis even if there is no data found for them">
			</input-smart>
			<!--			label="CHART_MIXED_SHOW_ALL_LIST_ITEMS"-->
			<input-smart ng-show="showExtraListFields" type="select"
						 model="selections.mixedDataCommon.showUndefined"
						 modify="true"
						 watch-options="true"
						 options="mixedSelections.tableOptions"
						 option-value="value"
						 option-name="LanguageTranslation"
						 label="Show items that do not have any of the list's values selected as their own item">
			</input-smart>
			<!--			label="CHART_SHOW_UNDEFINED"-->

			<input-smart ng-show="showIgnoreEmpties" type="select"
						 model="selections.mixedDataCommon.ignoreEmpties"
						 modify="true"
						 watch-options="true"
						 options="mixedSelections.tableOptions"
						 option-value="value"
						 option-name="LanguageTranslation"
						 label="CHART_MIXED_IGNORE_LABELS_WITH_NO_VALUES">
			</input-smart>
			<!--			label="CHART_MIXED_IGNORE_LABELS_WITH_NO_VALUES"-->

			<input-smart ng-show="getmixedDataPropertyLength()<2 && selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection' && showExtraListFields"
						 type="select"
						 model="selections.mixedDataCommon.listColors"
						 modify="true"
						 options="mixedSelections.tableOptions"
						 option-value="value"
						 option-name="LanguageTranslation"
						 label="CHART_USE_LIST_COLORS">
			</input-smart>

			<!-- X-Axis is a date / datetime -->
			<input-smart ng-show="showExtraDateFields"
						 type="select"
						 model="selections.mixedDataCommon.dateType"
						 modify="true"
						 watch-options="true"
						 options="mixedSelections.dateTypes"
						 option-value="value"
						 option-name="LanguageTranslation"
						 label="CHART_MIXED_DATE_TYPE">
			</input-smart>

			<input-smart ng-show="showExtraDateFields"
						 type="select"
						 model="selections.mixedDataCommon.zoom"
						 modify="true"
						 watch-options="true"
						 options="mixedSelections.zoomSelections"
						 option-value="value"
						 option-name="LanguageTranslation"
						 label="CHART_MIXED_X_AXIS_ZOOM">
			</input-smart>
			<input-smart ng-show="showExtraDateFields && chartOptions.valueFields.Values"
						 type="select"
						 model="selections.mixedDataCommon.cumulativeEnd"
						 modify="true"
						 unselectable
						 watch-options="true"
						 options="xAxesAllowedCumulatives"
						 option-value="Name"
						 option-name="LanguageTranslation"
						 label="CHART_MIXED_CUMULATIVE_END_DATE">
			</input-smart>
			<input-smart ng-show="showExtraDateFields"
						 type="date"
						 modify="true"
						 model="selections.mixedDataCommon.absoluteStart"
						 label="CHART_MIXED_START_DATE">
			</input-smart>
			<input-smart ng-show="showExtraDateFields"
						 type="date"
						 modify="true"
						 model="selections.mixedDataCommon.absoluteEnd"
						 label="CHART_MIXED_END_DATE">
			</input-smart>
		</tab>
		<tab entity="1001" label="Common">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Common</container-header>
					<input-smart type="select"
								 model="selections.mixedDataCommon.useListMode"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_USE_LIST_MODE"></input-smart>
					<input-smart type="select"
								 model="selections.mixedDataCommon.clickable"
								 modify="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_CLICKABLE">
					</input-smart>

					<div class="row" style="padding-left:8px;">
						<input-smart type="translation" model="selections.xAxisLabel" style="width: 70%;"
									 label="DASHBOARD_CHART_X_LABEL"></input-smart>
						<input-smart type="checkbox" model="selections.showXAxisLabel" style="width: 30%;"
									 label="DASHBOARD_CHART_SHOW"></input-smart>
					</div>

					<div class="row" style="padding-left:8px;">
						<input-smart type="translation" model="selections.yAxisLabel" style="width: 70%;"
									 label="DASHBOARD_CHART_Y_LABEL"></input-smart>
						<input-smart type="checkbox" model="selections.showYAxisLabel" style="width: 30%;"
									 label="DASHBOARD_CHART_SHOW"></input-smart>
					</div>
					<br />
					<div class="row">
						<container-header ng-bind="::'CHART_COMMON_QUICK_FILTERS' | translate"></container-header>
						<table materialize>
							<tr>
								<th ng-bind="::'CHART_COMMON_QUICK_FILTER_FIELD_NAME' | translate"></th>
								<th class="icon"><input-button type="icon" ng-click="addFilterRow()" loading="adding"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
							</tr>
							<tr ng-repeat="obj in filterTable track by $index">
								<td>
									<input-smart-table type="select"
												 model="filterTable[$index].name"
												 on-change="saveQuickFilters"
												 modify="true"
												 unselectable
												 watch-options="true"
												 options="filterSelectionOptions"
												 option-value="Name"
												 option-name="LanguageTranslation">
									</input-smart-table>
								</td>
								<td class="icon"><input-button type="icon" ng-click="deleteFilterRow($index)" loading="adding"><i class="material-icons" aria-hidden="true">delete</i></input-button></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="col-xs-12 col-lg-6">
					<container-header>Data Table</container-header>
					<input-smart type="select"
								 model="selections.mixedDataCommon.showTable"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_SHOW_TABLE">
					</input-smart>

					<input-smart ng-show="selections.mixedDataCommon.showTable==1"
								 type="translation"
								 modify="edit"
								 model="selections.mixedDataCommon.tableName"
								 label="CHART_MIXED_TABLE_NAME">
					</input-smart>
					<input-smart ng-show="selections.mixedDataCommon.showTable==1"
								 type="select"
								 model="selections.mixedDataCommon.showTableXSum"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_TABLE_X_SUM">
					</input-smart>

					<input-smart ng-show="selections.mixedDataCommon.showTable==1"
								 type="select"
								 model="selections.mixedDataCommon.showTableYSum"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_TABLE_Y_SUM">
					</input-smart>
					<input-smart ng-show="selections.mixedDataCommon.showTable==1"
								 type="select"
								 model="selections.mixedDataCommon.sumMode"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.modesLite"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_TABLE_SUM_MODES">
					</input-smart>
				</div>
			</div>
		</tab>
		<tab entity="1002" label="Styling">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Grid</container-header>
					<input-smart type="select"
								 model="selections.mixedDataCommon.hideHorizontalGridLines"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_HIDE_HORIZONTAL_GRIDLINES">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedDataCommon.hideVerticalGridLines"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_HIDE_VERTICAL_GRIDLINES">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedDataCommon.horizontalBars"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_HORIZONTAL_BAR_MODE">
					</input-smart>
				</div>
				<div class="col-xs-12 col-lg-6">
					<container-header>Tooltips & Legend</container-header>
					<input-smart type="select"
								 model="selections.mixedDataCommon.showLegend"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.legendOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_SHOW_LEGEND">
					</input-smart>

					<input-smart type="translation"
								 modify="edit"
								 model="selections.mixedDataCommon.amountPrefix"
								 label="CHART_MIXED_TOOLTIP_SUFFIX">
					</input-smart>

					<input-smart type="select"
								 model="selections.mixedDataCommon.toolTipSum"
								 modify="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_TOOLTIP_SUM">
					</input-smart>

					<input-smart type="select"
								 model="selections.mixedDataCommon.showNearest"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_USE_TOOLTIP_SHOW_ONLY_SELECTED">
					</input-smart>
				</div>
			</div>
			<div class="row" ng-show="selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection'">
				<div class="col-xs-12 col-lg-6">
					<container-header>Gradient</container-header>
					<input-smart ng-show="selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection'"
								 type="select"
								 model="selections.mixedDataCommon.gradientMode"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="Use gradient coloring">
					</input-smart>
					<!--			label="CHART_MIXED_GRADIENT_MODE"-->

					<input-smart ng-show="(selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection') && selections.mixedDataCommon.gradientMode==1"
								 type="select"
								 model="selections.mixedDataCommon.gradientOrder"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.gradientOrder"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_GRADIENT_COLOR_ORDER">
					</input-smart>

					<input-smart ng-show="(selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection') && selections.mixedDataCommon.gradientMode==1"
								 type="select"
								 model="selections.mixedDataCommon.gradientPointers"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.gradientPointers"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_GRADIENT_POINTERS">
					</input-smart>
					<input-smart ng-show="(selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection') && selections.mixedDataCommon.gradientMode==1"
								 modify="true"
								 type="decimal"
								 model="selections.mixedDataCommon.gradientBarPercentage"
								 label="CHART_MIXED_GRADIENT_BAR_WIDTH_PERCENTAGE">
					</input-smart>
				</div>
			</div>
		</tab>
		<tab entity="1003" label="Data Source" ng-if="selections.mixedDataCommon.useListMode == 1">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Data Source</container-header>
					<input-smart ng-show="chartOptions.valueFields.Values"
								 type="select"
								 model="selections.mixedListData.dataSource"
								 on-change="mainFieldChanged"
								 on-change-parameters="'label'"
								 modify="true"
								 unselectable
								 watch-options="true"
								 options="dataSourceAllowed"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_DATA_SOURCE"></input-smart>
					<input-smart ng-show="chartOptions.valueFields.Values" type="select"
								 model="selections.mixedListData.selectedList"
								 on-change="mainFieldChanged"
								 on-change-parameters="'label'"
								 modify="true"
								 unselectable
								 watch-options="true"
								 options="dataSourceList"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_DATA_LIST_SELECTION"></input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.useCount"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_USE_COUNT_BY_LIST_SELECTION">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.mode"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.modes"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_MODE">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.autoStack"
								 modify="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_AUTO_STACK">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.ignoreNulls"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_IGNORE_NULLS">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.ignoreZeros"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_IGNORE_ZEROS">
					</input-smart>
					<input-smart modify="true"
								 model="selections.mixedListData.decimalNumber"
								 label="CHART_MIXED_NUMBER_OF_DECIMALS">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.reverseOrder"
								 modify="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_REVERSE_ORDER">
					</input-smart>
				</div>

				<div class="col-xs-12 col-lg-6">
					<container-header>Style</container-header>
					<input-smart type="select"
								 model="selections.mixedListData.type"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.types"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_TYPE">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.fillType"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.lineFillTypes"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_FILL_TYPE">
					</input-smart>
					<input-smart ng-show="selections.mixedListData.type==1"
								 type="select"
								 model="selections.mixedListData.lineGraphicStyle"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.lineGraphicStyles"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_LINE_STYLE">
					</input-smart>
					<input-smart ng-show="selections.mixedListData.type==1"
								 type="select"
								 model="selections.mixedListData.linePointStyle"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.linePointStyles"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_LINE_MARKER_STYLE">
					</input-smart>
					<input-smart type="number"
								 ng-show="selections.mixedListData.type==1"
								 modify="true"
								 label="CHART_MIXED_LINE_MARKER_SIZE"
								 model="selections.mixedListData.markerSize">
					</input-smart>
					<input-smart type="select"
								 model="selections.mixedListData.listColors"
								 modify="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_USE_LIST_COLORS">
					</input-smart>
				</div>
			</div>

		</tab>
		<tab delete-tab="deleteTab" ng-repeat="x in selections.mixedIndexes" entity="{{x + 1}}"
			 label="Data Source {{x + 1}}" ng-if="selections.mixedDataCommon.useListMode != 1">
			<input-smart type="translation"
						 modify="edit"
						 model="selections.mixedData[x].nameField"
						 label="CHART_COMMON_NAME">
			</input-smart>
			<br><br>
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<container-header>Data Source</container-header>
					<input-smart ng-show="chartOptions.valueFields.Values"
								 type="select"
								 model="selections.mixedData[x].dataSource"
								 on-change="mainFieldChanged"
								 on-change-parameters="'label'"
								 modify="true"
								 unselectable
								 watch-options="true"
								 options="dataSourceAllowed"
								 option-value="Name"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_DATA_SOURCE"></input-smart>
					<input-smart ng-show="(selections.mixedDataCommon.gradientMode!=1 && (selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection')) || (selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection')"
								 type="select"
								 model="selections.mixedData[x].mode"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.modes"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_MODE">
					</input-smart>
					<input-smart ng-show="(selections.mixedDataCommon.gradientMode!=1 && (selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection')) || (selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection')"
								 type="select"
								 model="selections.mixedData[x].useCount"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_USE_COUNT">
					</input-smart>

					<input-smart type="number"
								 modify="true"
								 model="selections.mixedData[x].decimalNumber"
								 label="CHART_MIXED_NUMBER_OF_DECIMALS">
					</input-smart>
					<input-smart type="number"
								 ng-show="(selections.mixedDataCommon.gradientMode!=1 && (selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection')) || (selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection')"
								 modify="true"
								 model="selections.mixedData[x].stack"
								 label="CHART_MIXED_STACK_NUMBER">
					</input-smart>
					<input-smart ng-show="selections.mixedDataCommon.gradientMode!=1 && (selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection')"
								 type="translation"
								 modify="edit"
								 model="selections.mixedData[x].stackName"
								 label="CHART_MIXED_STACK_NAME">
					</input-smart>
					<input-smart type="number"
								 modify="true"
								 model="selections.mixedData[x].drawNumber"
								 label="CHART_MIXED_DRAW_ORDER_NUMBER"></input-smart>
					<input-smart type="select"
								 model="selections.mixedData[x].ignoreNulls"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_IGNORE_NULLS">
					</input-smart>

					<input-smart type="select"
								 model="selections.mixedData[x].ignoreZeros"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.tableOptions"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_IGNORE_ZEROS">
					</input-smart>

				</div>

				<div class="col-xs-12 col-lg-6">
					<container-header>Style</container-header>
					<input-smart ng-show="selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection'"
								 type="select"
								 model="selections.mixedData[x].type"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.types"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_COMMON_TYPE">
					</input-smart>

					<input-smart ng-show="selections.mixedData[x].type==1 && selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection'"
								 type="select"
								 model="selections.mixedData[x].lineGraphicStyle"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.lineGraphicStyles"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_LINE_STYLE">
					</input-smart>
					<input-smart ng-show="selections.mixedData[x].type==1 && selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection'"
								 type="select"
								 model="selections.mixedData[x].linePointStyle"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.linePointStyles"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_LINE_MARKER_STYLE">
					</input-smart>

					<input-smart type="number"
								 ng-show="selections.mixedData[x].type==1 && selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection'"
								 modify="true"
								 model="selections.mixedData[x].markerSize"
								 label="CHART_MIXED_LINE_MARKER_SIZE">
					</input-smart>

					<input-smart ng-show="(selections.mixedDataCommon.gradientMode!=1 && (selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection')) || (selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection')"
								 type="select"
								 model="selections.mixedData[x].lineFillType"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.lineFillTypes"
								 option-value="value"
								 option-name="LanguageTranslation"
								 label="CHART_MIXED_FILL_TYPE">
					</input-smart>
					<input-smart ng-show="(selections.mixedDataCommon.gradientMode!=1 && (selections.mixedDataCommon.xaxis==null || selections.mixedDataCommon.xaxis==0 || selections.mixedDataCommon.xaxis=='noSelection')) || (selections.mixedDataCommon.xaxis!=null && selections.mixedDataCommon.xaxis!=0 && selections.mixedDataCommon.xaxis!='noSelection')"
								 type="select"
								 unselectable
								 model="selections.mixedData[x].customColor"
								 modify="true"
								 watch-options="true"
								 options="mixedSelections.customColor"
								 option-color="name"
								 option-icon="symbol"
								 option-value="name"
								 option-name="name"
								 label="CHART_MIXED_COLOR">
					</input-smart>


				</div>
			</div>


		</tab>
	</tabs>
</div>
