<table-header translate="TABS_NOT_IN_PHASE"></table-header>
<table-container class="settings-phases">
	<table materialize>
		<thead>
		<tr>
			<th class="icon"></th>
			<th class="icon"></th>
			<th>{{::'PROCESS_TAB_NAME' | translate}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="tab in tabsNotInPhase" ng-class="{'background-accent': $index == selectedTabHighlight}" ng-if="tab.ProcessTabId != 0">
			<td>
				<input-button type="icon" ng-click="deleteTab(tab.ProcessTabId, $index)">
					<i class="material-icons" aria-hidden="true">delete</i>
				</input-button>
			</td>
			<td>
				<input-button type="icon" ng-click="showContainers(tab.ProcessTabId, $index)">
					<i class="material-icons" aria-hidden="true">launch</i>
				</input-button>
			</td>
			<td>
				<input-smart-table type="translation" modify="true" model="tab.LanguageTranslation" on-change="changeTabTranslation" on-change-parameters="{ProcessTabId: tab.ProcessTabId}" placeholder="{{::'PROCESS_TAB_NAME' | translate}}">
				</input-smart-table>
			</td>

		</tr>
		</tbody>
	</table>
</table-container>
<div id="containersView-{{ProcessTabId}}"></div>

