<dialog-content>
	<dialog-title>
		<h2 translate="EDIT_MAIL_SPLIT_STATES"></h2>
	</dialog-title>

	<div>
		{{::'NOTIFY_SPLIT_VIEW' | translate}}
	</div>

	<dialog-container>
		<form name="portfolioSetDialog">
			<input-smart type="checkbox"
						 manual-save
						 label="USE_DEFAULT_STATE"
						 model="actionRow.ActionRowEmailViewOptions.UseDefaultState"
						 optionTrue="1"
						 optionFalse="0">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="OPEN_SPLIT"
						 model="actionRow.ActionRowEmailViewOptions.OpenSplit"
						 options="splitOptions"
						 watch-options="true"
						 modify="true"
						 single-value="true">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="OPEN_WIDTH"
						 model="actionRow.ActionRowEmailViewOptions.OpenWidth"
						 options="widthOptions"
						 watch-options="true"
						 modify="true"
						 single-value="true">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="PROCESS_OPEN_ITEM_COLUMN_ID"
						 model="actionRow.ActionRowEmailViewOptions.OpenRowItemColumnId"
						 options="idInputs"
						 option-value="ItemColumnId"
						 option-name="LanguageTranslationRaw"
						 single-value="true"
						 modify="true">
			</input-smart>
			<input-smart type="select"
						 label="PROCESS_OPEN_ITEM_PROCESS"
						 model="actionRow.ActionRowEmailViewOptions.OpenRowProcess"
						 options="processes"
						 option-value="ProcessName"
						 option-name="ProcessName"
						 single-value="true"
						 modify="true"
						 on-change="changeInsteadProcess()">
			</input-smart>
			<input-smart type="select"
						 manual-save
						 label="PROCESS_OPEN_ITEM_PROCESS_CHILD"
						 model="actionRow.ActionRowEmailViewOptions.SubDefaultState"
						 options="statesByProcess[actionRow.ActionRowEmailViewOptions.OpenRowProcess]"
						 single-value="true"
						 modify="true"
						 option-name="Feature"
						 option-value="DefaultState"
						 watch-options="true">
			</input-smart>
			<input-smart type="checkbox"
						 manual-save
						 label="PORTFOLIO_ALSO_CURRENT"
						 model="actionRow.ActionRowEmailViewOptions.AlsoOpenCurrent"
						 optionTrue="1"
						 optionFalse="0">
			</input-smart>
		</form>
	</dialog-container>
</dialog-content>
<dialog-actions>
	<input-button ng-click="cancel()"><div translate="CANCEL"></div></input-button>
	<input-button type="primary" ng-click="save()"><div translate="SAVE"></div></input-button>
</dialog-actions>