<dialog-content>
    <dialog-title>
        <h3>{{'ACTIONS_GROUP_EDIT' | translate}}</h3>
    </dialog-title>
    <dialog-container>
        <!--Translation-->
        <div>
            <input-smart
                    type="translation"
                    label="{{'ACTIONS_GROUP_NAME' | translate}}"
                    model="editGroupData.LanguageTranslation">
            </input-smart>
        </div>
        <!--Group type-->
        <div>
            <input-smart
                    type="select"
                    name="Type"
                    label="{{'ACTIONS_GROUP_TYPE' | translate}}"
                    options="createOptions"
                    option-name="Name"
                    option-value="Value"
                    on-change="setGroupOption"
                    model="editGroupData.Type"
                    single-value="true"
                    required="true">
            </input-smart>
        </div>
        <!--Process to create-->
        <div ng-if="editGroupData.Type == 2">
            <input-smart type="select"
                         name="ProcessInGroup"
                         label="{{'ACTIONS_PROCESS' | translate}}"
                         options="createGroupProcesses"
                         option-value="ProcessName"
                         option-name="ProcessName"
                         single-value="true"
                         model="editGroupData.ProcessInGroup"
                         required="true">
            </input-smart>
        </div>
    </dialog-container>
</dialog-content>
<dialog-actions>
    <input-button
            type="warn"
            text="{{'DELETE' | translate}}"
            ng-click="deleteGroup(editGroupData.ProcessActionGroupId)"
            modify="delete">
        {{'DELETE' | translate}}
    </input-button>
    <input-button
            type="primary"
            text="{{'SAVE' | translate}}"
            ng-click="saveEdit()"
            modify="create">
        {{'SAVE' | translate}}
    </input-button>
    <input-button
            type="secondary"
            text="{{'DISCARD' | translate}}"
            ng-click="discardChanges()"
            modify="discard">
        {{'DISCARD' | translate}}
    </input-button>
</dialog-actions>