﻿<dialog-content>
    <dialog-title>
        <h2>{{::button}}</h2>
    </dialog-title>
    <dialog-container>
        <div ng-repeat="language in languages" style="margin-bottom: 48px;">
            <h2 class="h6">{{language.name}}</h2>
            <input-smart type="string" modify="true" model="translations[language.value].TitleTranslation" label="Dialog title" on-change="changeTranslation" on-change-parameters="{'language': language.value}"></input-smart>
            <input-smart type="text" modify="true" model="translations[language.value].TextTranslation" label="Dialog text" on-change="changeTranslation" on-change-parameters="{'language': language.value}"></input-smart>
            <input-smart type="string" modify="true" model="translations[language.value].SecondaryButtonTranslation" label="Secondary button text" ng-show="params.dialogType == 2 || params.dialogType == 4" class="ng-hide" on-change="changeTranslation" on-change-parameters="{'language': language.value}"></input-smart>
            <input-smart type="string" modify="true" model="translations[language.value].PrimaryButtonTranslation" label="Primary button text" on-change="changeTranslation" on-change-parameters="{'language': language.value}"></input-smart>
        </div>
    </dialog-container>
    <h2 class="h6">Select container</h2>
    <dialog-container ng-if="params.dialogType == 4">
        <input-smart type="select" options="processContainers" single-value="true" option-value="ProcessContainerId" option-name="LanguageTranslation" model="dialog.ProcessContainerId" on-change="changeContainer"></input-smart>
    </dialog-container>
</dialog-content>
