﻿<table-header translate="UNUSED_ACTIONS"></table-header>
<table-container>
<table materialize table-selected-rows="selectedRows">
	<thead>
		<tr>
			<th></th>
			<th><div translate="LIST_NAME"></div></th>
			<th colspan="2">{{"TEXT_TO_ACTION_LOG" | translate}}</th>
			<th>{{"ADD_TO_ACTION_HISTORY_FROM" | translate}}</th>
            <th><div translate="CONDITION"></div></th>
            <th style="width:50px;"><input-button type="icon" ng-click="addAction();"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in unUsedActions" table-select-row="{'index': $index, 'ProcessActionId': row.ProcessActionId, 'table': 1}">
			<td style="width: 50px;">
				<input-button type="icon" ng-click="showActionNew(row.ProcessActionId, $index, row.LanguageTranslation);">
					<i class="material-icons" aria-hidden="true">
						launch
					</i>
				</input-button>
				
			</td>

			<td>
				<input-smart-table type="translation" model="row.LanguageTranslation" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: row.ProcessActionId, table: 1}" modify="true"></input-smart-table>
			</td>
			<td class="icon">
				<input-smart-table type="checkbox"
				                   model="row.UseActionHistory"
				                   on-change="changeValue" on-change-parameters="{index: $index, process_action_id: row.ProcessActionId, table: 1}"
				                   >
				</input-smart-table>
			</td>
			<td>
				<input-smart-table type="translation"
								   model="row.ActionHistoryText"
								   on-change="changeValue"
								   on-change-parameters="{index: $index, process_action_id: row.ProcessActionId, table: 1}"
								   modify="true">
				</input-smart-table>
			</td>
			<td>
				<input-smart-table type="select" single-value unselectable model="row.ActionHistoryItemColumnId" options="itemColumns" option-value="ItemColumnId" option-name="Variable" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: row.ProcessActionId, table: 1}" modify="true"></input-smart-table>
			</td>
			<td colspan="2">
                <input-smart-table type="select" single-value unselectable model="row.ConditionId" options="ProcessConditions" option-value="ConditionId" option-name="LanguageTranslation" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: row.ProcessActionId, table: 1}" modify="true"></input-smart-table>
            </td>
		</tr>
		<tr ng-if="unUsedActions.length == 0">
			<td colspan="7" class="align-center" translate="NO_PROCESS_ACTIONS"></td>
		</tr>
	</tbody>
</table>
</table-container>
<table-header translate="PROCESS_ACTIONS"></table-header>
<table-container>
	<table materialize table-selected-rows="selectedRows">
		<thead>
			<tr>
				<th></th>
				<th><div translate="LIST_NAME"></div></th>
				<th colspan="2">{{"TEXT_TO_ACTION_LOG" | translate}}</th>
				<th>{{"ADD_TO_ACTION_HISTORY_FROM" | translate}}</th>
                <th><div translate="CONDITION"></div></th>
                <th>{{'USED_IN_BUTTONS' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Item in usedActions" table-select-row="{'index': $index, 'ProcessActionId': Item.ProcessActionId, 'table': 2}">
				<td style="width: 50px;">
					<input-button type="icon" ng-click="showActionNew(Item.ProcessActionId, $index, Item.LanguageTranslation);">
						<i class="material-icons" aria-hidden="true">
							launch
						</i>
					</input-button>
				</td>
				<td>
					<input-smart-table type="translation" model="Item.LanguageTranslation" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: Item.ProcessActionId, table: 2}" modify="true"></input-smart-table>
				</td>
				<td class="icon">
					<input-smart-table type="checkbox"
					                   model="Item.UseActionHistory"
					                   on-change="changeValue" on-change-parameters="{index: $index, process_action_id: Item.ProcessActionId, table: 2}"
					>
					</input-smart-table>
				</td>
				<td>
					<input-smart-table type="translation" model="Item.ActionHistoryText" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: Item.ProcessActionId, table: 2}" modify="true"></input-smart-table>
				</td>
				<td>
					<input-smart-table type="select" single-value unselectable model="Item.ActionHistoryItemColumnId" options="itemColumns" option-value="ItemColumnId" option-name="Variable" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: Item.ProcessActionId, table: 2}" modify="true"></input-smart-table>
				</td>					
                <td>
                    <input-smart-table type="select" single-value unselectable model="Item.ConditionId" options="ProcessConditions" option-value="ConditionId" option-name="LanguageTranslation" on-change="changeValue" on-change-parameters="{index: $index, process_action_id: Item.ProcessActionId, table: 2}" modify="true"></input-smart-table>
                </td>
				<td>
					<span ng-repeat="button in Item.Buttons track by $index">
						<span ng-repeat="(key,value) in button">
							<span>{{value}},</span>
						</span>			
					</span>
				</td>
			</tr>
			<tr ng-if="Items.length == 0">
				<td colspan="7" class="align-center" translate="NO_PROCESS_ACTIONS"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</table-container>
<table-header translate="SUBMIT_DIALOG_ACTIONS"></table-header>
<table-container>
	<table materialize table-selected-rows="selectedDialogRows">
		<thead>
			<tr>
				<th style="min-width:50px; width:50px;"></th>
				<th><div translate="LIST_NAME"></div></th>
				<th><div translate="TYPE"></div></th>
				<th style="min-width:50px; width:50px;"><input-button type="icon" ng-click="addActionDialog();"><i class="material-icons" aria-hidden="true">add</i></input-button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="dialog in dialogs" ng-class="{'background-accent': $index == selectedDialog}" table-select-row="{'index': $index, 'ProcessActionDialogId': dialog.ProcessActionDialogId}">
				<td>
					<input-button type="icon" ng-click="changeDialogText(dialog.ProcessActionDialogId, $index, dialog.Type, dialog.LanguageTranslation)">
						<i class="material-icons" aria-hidden="true">
							launch
						</i>
					</input-button>
				</td>
				<td>
					<input-smart-table type="translation" model="dialog.LanguageTranslation" on-change="changeDialogValue" on-change-parameters="{index: $index, ProcessActionDialogId: dialog.ProcessActionDialogId}" modify="true"></input-smart-table>
				</td>
				<td>
					<input-smart-table type="select" model="dialog.Type" on-change="changeDialogValue" on-change-parameters="{index: $index, ProcessActionDialogId: dialog.ProcessActionDialogId}" modify="true" options="dialogOptions" option-value="value" option-name="name" single-value="true"></input-smart-table>
				</td>
				<td style="width:50px;"></td>
			</tr>
			<tr ng-if="dialogs.length == 0">
				<td colspan="3" class="align-center" translate="NO_DIALOG_ACTIONS"></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</table-container>

