﻿<dialog-content>
    <dialog-title>
        <h3>{{'ACTIONS_GROUP_CREATION' | translate}}</h3>
    </dialog-title>
    <dialog-container>
        <!--Translation-->
        <div>
            <input-smart
                    type="translation"
                    label="{{'ACTIONS_GROUP_NAME' | translate}}"
                    model="LanguageTranslation">
            </input-smart>
        </div>
        <!--Group type-->
        <div ng-if="LanguageTranslation[localeId] != undefined && LanguageTranslation[localeId] != '' ">
            <input-smart
                    type="select"
                    name="groupType"
                    label="{{'ACTIONS_GROUP_TYPE' | translate}}"
                    options="createOptions"
                    on-change="setGroupOption"
                    model="$parent.Type"
                    required="true">
            </input-smart>
        </div>
        <!--Process to create-->
        <div ng-if="Type == 'Create'">
            <input-smart type="select"
                         name="processInGroup"
                         label="{{'ACTIONS_PROCESS' | translate}}"
                         options="createGroupProcesses"
                         option-value="ProcessName"
                         option-name="ProcessName"
                         model="$parent.gProcess"
                         required="true">
            </input-smart>
        </div>
    </dialog-container>
</dialog-content>
<dialog-actions>
    <input-button
            type="secondary"
            text="{{'DISCARD' | translate}}"
            ng-click="close()"
            modify="cancel">
            {{'DISCARD' | translate}}
    </input-button>
    <input-button
            type="primary"
            text="{{'SAVE' | translate}}"
            ng-click="save()"
            modify="create">
            {{'SAVE' | translate}}
    </input-button>
</dialog-actions>