<div class="flex align-row">
    <div class="flex align-row start">
        {{'ACTIONS_ACTION_ID' | translate}} {{ProcessActionId}}
    </div>
    <div class="flex align-row end">
        <input-button type="primary" modify="true" ng-click="createNewGroup()">{{'ACTIONS_NEW_ACTION_GROUP' | translate}}</input-button>
    </div>
    <div>
        <input-button type="primary" modify="selectedRows.length > 0" ng-click="deleteRow(selectedRows)">{{'ACTIONS_DELETE_SELECTED_ROWS' | translate}}</input-button>
    </div>
</div>