<style>
    .outerDiv {
        display: flex;
        padding-left: 15px;
        flex-direction: row;
        width: calc(100% - 30px);
        background-color: white;
        border-bottom: solid 1px lightgray;
    }

    .outerDiv input-smart {
        padding: 0;
        width: 100%;
    }

    .outerDiv input-smart {
        margin-right: 42px;
    }

    .innerDiv {
        display: flex;
        justify-content: start;
        flex-direction: row;
        width: 100%;
    }

    .innerContents {
        display: flex;
        justify-content: start;
        width: 100%;
        background-color: white;
    }
</style>


<table-header translate="PROCESS_ACTIONS"></table-header>

<div ng-if="processActionGroups.length == 0" style="margin-bottom:50px">
    <header>{{'ACTIONS_NO_GROUPS_SET' | translate}}</header>
</div>
<!-- Action Containers -->
<div class="tables" sortable parent="{{::$index + 1}}" on-sort="syncOrder" handler=".column-group-drag"
     connect=".tables">
    <div style="margin-bottom: 24px;" on-sort="syncOrder" ng-repeat="groups in processActionGroups | orderBy:'OrderNo'"
         sort=groups>
        <div style="display: flex; background-color: #eee;">
            <div class="flex align-row start" style="width: calc(100% - 100px);">
                <input-button type="icon" modify="edit" no-waves class="column-group-drag">
                    <i class="material-icons" aria-hidden="true">reorder</i>
                </input-button>
                <div>
                    {{groups.LanguageTranslation[userLanguage]}}
                </div>
                <div ng-if="groups.Type == 2"
                     style="width: 200px; padding-left: 20px; padding-right: 10px; margin-top: 6px;">
                    <input-smart
                            type="select"
                            minimal
                            options="createGroupProcesses"
                            option-value="ProcessName"
                            option-name="ProcessName"
                            model="groups.ProcessInGroup"
                            single-value="true"
                            on-change="changeCreateGroupData"
                            on-change-parameters="{LanguageTranslation : groups.LanguageTranslation, group : groups}">
                    </input-smart>
                </div>

                <input-button type="icon" ng-click="editGroup(groups)">
                    <i class="material-icons" aria-hidden="true">edit</i>
                </input-button>
                <!--                    Process Selection Underneath -->
            </div>
            <div class="flex align-row end">
                <!--                        Add new Row button here-->
                <input-button type="icon"
                              ng-click="addNewActionRow(groups.ProcessActionGroupId, groups.Type, groups.ProcessInGroup)">
                    <i class="material-icons" aria-hidden="true">add</i>
                </input-button>
            </div>
        </div>
        <div sortable handler=".column-row-drag">
            <div class="outerDiv" on-sort="syncOrder"
                 ng-repeat="tableRow in refinedActionGroupsWithRows[groups.ProcessActionGroupId] | orderBy:'OrderNo'">
                <div>
                    <input-check
                            modify="isNotFirstCreateColumn(groups, $index)"
                            model="$scope.selectedRows"
                            on-change="selectRow"
                            on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}">
                    </input-check>
                </div>
                <div class="outerDiv" style="border-bottom: none;">
                    <div style="width:175px;margin-right: 42px;">
                        <!--Process Action Type selection here -->
                        <input-smart class="process-input"
                                     type="select"
                                     single-value="true"
                                     options="ActionOptionsCollection[groups.Type]"
                                     option-value="value"
                                     option-name="name"
                                     modify="isNotFirstCreateColumn(groups, $index)"
                                     model="tableRow.ProcessActionType"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId,  processInGroup: groups.ProcessInGroup}"
                                     on-change="changeType"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_PROCESS_ACTION_TYPE' | translate}}">
                        </input-smart>
                    </div>
                    <!-- IF clauses start here -->
                    <div class="innerDiv" ng-if="tableRow.ProcessActionType == 0">
                        <!-- SET ANY VALUE DIV -->
                        <div class="innerContents">
                            <input-smart class="process-input"
                                         type="select"
                                         max="1"
                                         options="itemColumnsByActionType[tableRow.ProcessActionType]"
                                         option-value="ItemColumnId"
                                         option-name="Translation"
                                         modify="!isReadOnly"
                                         model="tableRow.ItemColumnId"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                         on-change="changeIc"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_FIELD' | translate}}">
                            </input-smart>
                        </div>
                        <div class="innerContents"
                             ng-if="(tableRow.$$DataType != 3 && tableRow.$$DataType != 5 && tableRow.$$DataType != 6 && tableRow.$$DataType != 13 && tableRow.$$DataType != 15 && tableRow.$$DataType != 16 && tableRow.$$DataType != 20) && tableRow.ItemColumnId != currentStateId && tableRow.ProcessActionType == 0">
                            <!--Basic ones -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[3]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                        <div class="innerContents"
                             ng-if="tableRow.$$DataType == 3 || tableRow.$$DataType == 13 && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9)">
                            <!--For dates, link?-->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[1]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart> 
                            <div ng-if="tableRow.ValueType == 3">
                                <input-smart type="select"
                                             modify="!isReadOnly"
                                             options="userColumnsByDataType[tableRow.$$DataType]"
                                             option-value="ItemColumnId"
                                             option-name="Name"
                                             model="tableRow.UserItemColumnId"
                                             on-change="changeValue"
                                             on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                             single-value="true"
                                             label="{{'ACTIONS_SET_CURRENT_USER_VALUE' | translate}}">
                                </input-smart>
                            </div>
                        </div>
                        <div class="innerContents"
                             ng-if="tableRow.$$DataType == 6 && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9)">
                            <!--WHEN LIST -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[3]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                        <div class="innerContents"
                             ng-if="tableRow.$$DataType == 5 && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9 && tableRow.ItemColumnId != currentStateId)">
                            <!--WHEN PROCESS -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[2]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                    </div>


                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 6 && tableRow.ValueType == 0 && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9 && tableRow.ProcessActionType != 8)">
                        <!--For lists-->
                        <input-smart type="select"
                                     max="1"
                                     options="listOptions[tableRow.ProcessActionRowId]"
                                     option-value="item_id"
                                     option-name="list_item"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="changeValue"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_LIST_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="(tableRow.$$DataType == 0 || tableRow.$$DataType == 4) && tableRow.ProcessActionType == 0 && tableRow.ItemColumnId != currentStateId && tableRow.ValueType == 0">
                        <!--Set STR / Long Text || VALUE TO SET-->
                        <input-smart type="string"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_TEXT_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.ValueType == 3 && tableRow.$$DataType != 6">
                        <input-smart type="select"
                                     modify="!isReadOnly"
                                     options="userColumnsByDataType[tableRow.$$DataType]"
                                     option-value="ItemColumnId"
                                     option-name="Name"
                                     model="tableRow.UserItemColumnId"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     single-value="true"
                                     label="{{'ACTIONS_SET_CURRENT_USER_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.ValueType == 3 && tableRow.$$DataType == 6">
                        <input-smart type="select"
                                     modify="!isReadOnly"
                                     options="validListColumnsByName[tableRow.$$DataAdditional]"
                                     option-value="ItemColumnId"
                                     option-name="Name"
                                     model="tableRow.UserItemColumnId"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     single-value="true"
                                     label="{{'ACTIONS_SET_CURRENT_USER_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="(tableRow.$$DataType == 1 && tableRow.ValueType == 0 && tableRow.ProcessActionType == 0)">
                        <!--Set INT || VALUE TO SET-->
                        <input-smart type="integer"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_INT_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 2 && tableRow.ValueType == 0 && tableRow.ProcessActionType == 0">
                        <!--Set FLOAT || VALUE TO SET-->
                        <input-smart type="float"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_FLOAT_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.ProcessActionType == 0 && tableRow.$$DataType == 5 && tableRow.ValueType == 0">
                        <!--Set Process || VALUE TO SET-->
                        <input-smart type="process"
                                     process="{{ItemColumnsOptions[tableRow.ItemColumnId].DataAdditional}}"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_PROCESS_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="(tableRow.$$DataType == 13 || tableRow.$$DataType == 3) && tableRow.ProcessActionType == 0 && tableRow.ValueType == 0">
                        <!--Set DATE || VALUE TO SET-->
                        <input-smart type="date"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index,  tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_DATE_FIELD' | translate}}">
                        </input-smart>
                    </div>

                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 15 && tableRow.ValueType == 0">
                        <!--Set LINK || VALUE TO SET-->
                        <input-smart
                                type="string"
                                model="tableRow.Value2"
                                on-change="changeValue"
                                on-change-parameters="{index: $index, ProcessActionRowId: tableRow.ProcessActionRowId}"
                                modify="true"
                                label="{{'ACTIONS_SET_URL' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 0 && tableRow.ItemColumnId == currentStateId && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9)">
                        <!--                                    SET Current_State field-->
                        <input-smart type="select"
                                     model="tableRow.Value"
                                     options="currentStateOptions"
                                     option-name="viewName"
                                     option-value="viewId"
                                     on-change="changeValue"
                                     single-value
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     modify="true"
                                     label="{{'ACTIONS_SET_VIEW' | translate}}">
                        </input-smart>
                    </div>
                </div>
                <div class="innerDiv" ng-if="tableRow.ProcessActionType == 1">
                    <!--show only increase-->
                    <div class="innerContents">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByActionType[tableRow.ProcessActionType]"
                                     option-value="ItemColumnId"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.ItemColumnId"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="changeIc"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 1 && tableRowItemColumnId != currentStateId">
                        <!--Set INT || VALUE TO SET-->
                        <input-smart type="integer"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_INCREMENT_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 2 && tableRow.ItemColumnId != currentStateId">
                        <!--Set FLOAT || VALUE TO SET-->
                        <input-smart type="float"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_INCREMENT_VALUE' | translate}}">
                        </input-smart>
                    </div>
                </div>
                <div class="innerDiv" ng-if="tableRow.ProcessActionType == 2">
                    <!--                                show only Decrease settings-->
                    <div class="innerContents">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByActionType[tableRow.ProcessActionType]"
                                     option-value="ItemColumnId"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.ItemColumnId"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="changeIc"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 1 && tableRow.ItemColumnId != currentStateId ">
                        <!--Set INT || VALUE TO SET-->
                        <input-smart type="integer"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_DECREMENT_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 2 && tableRow.ItemColumnId != currentStateId">
                        <!--Set FLOAT || VALUE TO SET-->
                        <input-smart type="float"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_DECREMENT_VALUE' | translate}}">
                        </input-smart>
                    </div>
                </div>
                <div class="innerDiv"
                     ng-if="tableRow.ProcessActionType == 9">
                    <!--show only COPY settings-->
                    <div class="innerContents">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByActionType[tableRow.ProcessActionType]"
                                     option-value="ItemColumnId"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.ItemColumnId"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="clearTarget"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_SOURCE_FIELD' | translate}}">
                        </input-smart>
                        <div ng-if="tableRow.ItemColumnId != null && (tableRow.$$DataType == 16 || tableRow.$$DataType == 20)">
                            <input-smart
                                    class="process-input"
                                    type="select"
                                    max="1"
                                    options="itemColumnsByActionType[tableRow.ProcessActionType]"
                                    option-value="Name"
                                    option-name="Translation"
                                    modify="!isReadOnly"
                                    model="tableRow.Value"
                                    on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                    on-change="changeValue"
                                    single-value="true"
                                    watch-options="true"
                                    label="{{'ACTIONS_SET_TARGET_FIELD' | translate}}">
                            </input-smart>
                        </div>
                        <div ng-if="tableRow.ItemColumnId != null && (tableRow.$$DataType != 16 && tableRow.$$DataType != 20)">
                            <input-smart
                                    class="process-input"
                                    type="select"
                                    max="1"
                                    options="findValidItemColumns(tableRow.$$DataType)"
                                    option-value="Name"
                                    option-name="Translation"
                                    modify="!isReadOnly"
                                    model="tableRow.Value"
                                    on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                    on-change="changeValue"
                                    single-value="true"
                                    watch-options="true"
                                    label="{{'ACTIONS_SET_TARGET_FIELD' | translate}}">
                            </input-smart>
                        </div>
                    </div>
                </div>
                <div class="innerDiv" ng-if="groups.Type == 2 && tableRow.ProcessActionType == 3">
                    <!--CREATE NEW PROCESS RECORD-->
                    <div class="innerContents">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="createGroupProcesses"
                                     option-value="ProcessName"
                                     option-name="ProcessName"
                                     modify="false"
                                     model="tableRow.Value"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="changeIc"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_PROCESS_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents" ng-if="tableRow.ProcessActionType == 3">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="selectedLinkColumns"
                                     option-value="ItemColumnId"
                                     option-name="Name"
                                     modify="!isReadOnly"
                                     model="tableRow.LinkItemColumnId"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, linkColumn: true}"
                                     on-change="changeIc"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_LINK_COLUMN' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.$$DataType == 6 && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9) ">
                        <!--WHEN LIST -->
                        <input-smart type="select"
                                     max="1"
                                     options="ActionValueOptions[3]"
                                     option-value="valueType"
                                     option-name="name"
                                     modify="!isReadOnly"
                                     model="tableRow.ValueType"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                     on-change="changeValue"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_TYPE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.ItemColumnId != null && tableRow.$$DataType == 5 && (tableRow.ProcessActionType != 4 && tableRow.ProcessActionType != 9)">
                        <!--WHEN PROCESS -->
                        <input-smart type="select"
                                     max="1"
                                     options="ActionValueOptions[4]"
                                     option-value="valueType"
                                     option-name="name"
                                     modify="!isReadOnly"
                                     model="tableRow.ValueType"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                     on-change="changeValue"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_TYPE' | translate}}">
                        </input-smart>
                        <div ng-if="tableRow.ValueType == 3">
                            <input-smart type="select"
                                         modify="!isReadOnly"
                                         options="userColumnsByDataType[tableRow.$$DataType]"
                                         option-value="ItemColumnId"
                                         option-name="Name"
                                         model="tableRow.UserItemColumnId"
                                         on-change="changeValue"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                         single-value="true"
                                         label="{{'ACTIONS_SET_CURRENT_USER_VALUE' | translate}}">
                            </input-smart>
                        </div>
                    </div>
                </div>


                <div class="innerDiv" ng-if="groups.Type == 2 && tableRow.ProcessActionType == 4">
                    <!--COPY FROM PARENT'S FIELD-->
                    <div class="innerContents">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByActionType[tableRow.ProcessActionType]"
                                     option-value="ItemColumnId"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.ItemColumnId"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupData: groups}"
                                     on-change="changeIc"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_PARENT_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <!--Target field takes the model (.Value)-->
                    <!--Target field is list-->
                    <div class="innerContents" ng-if="tableRow.ItemColumnId != null && tableRow.$$DataType == 6">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByProcess[groups.ProcessInGroup]"
                                     option-value="Name"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="changeValue"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_TARGET_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <!--                                Other Target field types-->
                    <div class="innerContents" ng-if="tableRow.ItemColumnId != null && tableRow.$$DataType != 6">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByProcess[groups.ProcessInGroup] "
                                     option-value="Name"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     on-change="changeValue"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_TARGET_FIELD' | translate}}">
                        </input-smart>
                    </div>
                </div>

                <div class="innerDiv" ng-if="groups.Type == 2 && tableRow.ProcessActionType == 8">
                    <!--SET VALUE IN NEW PROCESS-->
                    <div class="innerContents">
                        <input-smart class="process-input"
                                     type="select"
                                     max="1"
                                     options="itemColumnsByProcess[groups.ProcessInGroup]"
                                     option-value="ItemColumnId"
                                     option-name="Translation"
                                     modify="!isReadOnly"
                                     model="tableRow.ItemColumnId"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, group: groups}"
                                     on-change="changeIc"
                                     single-value="true"
                                     watch-options="true"
                                     label="{{'ACTIONS_SET_THIS_FIELD' | translate}}">
                        </input-smart>
                        <div class="innerContents"
                             ng-if="tableRow.$$DataType == 3 || tableRow.$$DataType == 13">
                            <!--TYPE FOR DATE -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[1]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                        <div class="innerContents"
                             ng-if="tableRow.$$DataType == 6">
                            <!--TYPE FOR LIST -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[3]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                        <div class="innerContents"
                             ng-if="tableRow.$$DataType == 5">
                            <!--TYPE FOR PROCESS -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[2]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                        <div ng-if="tableRow.$$DataType != 6 && tableRow.$$DataType != 5 && tableRow.$$DataType != 3 && tableRow.$$DataType != 13">
                            <!--TYPE FOR BASIC ONES -->
                            <input-smart type="select"
                                         max="1"
                                         options="ActionValueOptions[3]"
                                         option-value="valueType"
                                         option-name="name"
                                         modify="!isReadOnly"
                                         model="tableRow.ValueType"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId, groupType: groups.Type, processInGroup: groups.ProcessInGroup}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_TYPE' | translate}}">
                            </input-smart>
                        </div>
                        <div ng-if="tableRow.ValueType == 3">
                            <input-smart type="select"
                                         modify="!isReadOnly"
                                         options="userColumnsByDataType[tableRow.$$DataType]"
                                         option-value="ItemColumnId"
                                         option-name="Name"
                                         model="tableRow.UserItemColumnId"
                                         on-change="changeValue"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                         single-value="true"
                                         label="{{'ACTIONS_SET_CURRENT_USER_VALUE' | translate}}">
                            </input-smart>
                        </div>

                        <div class="innerContents"
                             ng-if="tableRow.ValueType == 0 && tableRow.$$DataType == 6">
                            <input-smart class="process-input"
                                         type="select"
                                         max="1"
                                         options="listOptions[tableRow.ProcessActionRowId]"
                                         option-value="item_id"
                                         option-name="list_item"
                                         modify="!isReadOnly"
                                         model="tableRow.Value"
                                         on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                         on-change="changeValue"
                                         single-value="true"
                                         watch-options="true"
                                         label="{{'ACTIONS_SET_LIST_VALUE' | translate}}">
                            </input-smart>
                        </div>
                    </div>
                    <div class="innerContents"
                         ng-if="(tableRow.$$DataType == 0 || tableRow.$$DataType == 4 ) && tableRow.ItemColumnId != currentStateId && tableRow.ValueType == 0  && tableRow.ProcessActionType == 8">
                        <!--Set STR / Long Text || VALUE TO SET-->
                        <input-smart type="string"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_TEXT_FIELD' | translate}}">
                        </input-smart>

                    </div>
                    <div class="innerContents"
                         ng-if="(tableRow.$$DataType == 1) && tableRow.ValueType == 0 && tableRow.ProcessActionType == 8">
                        <!--Set INT || VALUE TO SET-->
                        <input-smart type="integer"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_INT_FIELD' | translate}}">
                        </input-smart>

                    </div>
                    <div class="innerContents" ng-if="tableRow.$$DataType == 2 && tableRow.ValueType == 0">
                        <!--Set FLOAT || VALUE TO SET-->
                        <input-smart type="float"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_FLOAT_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="tableRow.ProcessActionType == 2 && tableRow.$$DataType == 5 && tableRow.ValueType == 0">
                        <!--Set Process || VALUE TO SET-->
                        <input-smart type="process"
                                     process="{{ItemColumnsOptions[tableRow.ItemColumnId].DataAdditional}}"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_PROCESS_VALUE' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents"
                         ng-if="(tableRow.$$DataType == 13 || tableRow.$$DataType == 3) && tableRow.ValueType == 0">
                        <!--Set DATE || VALUE TO SET-->
                        <input-smart type="date"
                                     modify="!isReadOnly"
                                     model="tableRow.Value"
                                     on-change="changeValue"
                                     on-change-parameters="{index: $index, tableRow: tableRow, groupId: groups.ProcessActionGroupId}"
                                     label="{{'ACTIONS_SET_DATE_FIELD' | translate}}">
                        </input-smart>
                    </div>
                    <div class="innerContents" ng-if="tableRow.$$DataType == 15">
                        <!--Set LINK || VALUE TO SET-->
                        <input-smart
                                type="string"
                                model="tableRow.Value2"
                                on-change="changeValue"
                                on-change-parameters="{index: $index, ProcessActionRowId: tableRow.ProcessActionRowId}"
                                modify="true"
                                label="{{'ACTIONS_SET_URL' | translate}}"
                        ></input-smart>
                    </div>
                </div>
                <div class="innerDiv">
                    <div class="innerContents" ng-if="tableRow.ProcessActionType != 3">
                        <input-smart
                                type="select"
                                single-value
                                unselectable
                                model="tableRow.ConditionId"
                                options="processConditions"
                                option-value="ConditionId"
                                option-name="LanguageTranslation"
                                on-change="changeValue"
                                on-change-parameters="{index: $index, tableRow: tableRow, ProcessActionRowId: tableRow.ProcessActionRowId}"
                                label="{{'ACTIONS_SET_CONDITION' | translate}}"
                                modify="true"
                                style="max-width: 200px; margin-left: auto;">
                        </input-smart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<table-header translate="MAIL_ACTIONS"></table-header>
<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
        <tr>
            <th style="width: 100px;">
                <div translate="PROCESS_ACTION_TYPE"></div>
            </th>
            <th class="align-left">
                <div translate="MAIL_TEMPLATE"></div>
            </th>
            <th>
                <div translate="RECEIVER"></div>
            </th>
            <th>
                <div translate="LIST_PROCESS"></div>
            </th>
            <th>
                <div translate="LIST_COLUMN"></div>
            </th>
            <th>
                <div translate="USER_GROUP_RECEIVER"></div>
            </th>
            <th>
                <div translate="VIEW_TO_GO_FROM_LINK"></div>
            </th>
            <th class="icon" style="margin-left: 10px">
                <div translate="SPLIT_OPTIONS"></div>
            </th>
            <th>
                <div translate="ACTIONS_SET_CONDITION"></div>
            </th>
            <th>
                <div translate="SEND_TYPE"></div>
            </th>

            <th>
                <div translate="EXCLUDE_SENDER"></div>
            </th>
            <th class="icon">
                <input-button type="icon" ng-click="addProcessAction(2);">
                    <i class="material-icons" aria-hidden="true">add</i>
                </input-button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in ungroupedRows" ng-show="ungroupedRows.length > 0 && action.ProcessActionType == 5"
            table-select-row="{'index': $index, 'ProcessActionRowId': action.ProcessActionRowId, 'Ungrouped': true}">
            <td>
                <input-smart-table width="500px" type="select" model="action.ProcessActionType" on-change="changeType"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId, ItemColumnId: action.ItemColumnId, oldValue: action.ProcessActionType}"
                                   modify="true" options="mailAction" option-name="name" option-value="value"
                                   single-value="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" options="emailTemplates" option-name="Translation"
                                   option-value="ItemId" model="action.Value" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true" single-value="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="multiselect" options="EmailItemColumns" option-name="LanguageTranslation"
                                   option-value="ItemColumnId" model="action.ItemColumnIds"
                                   on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" options="listItemColumns" option-name="LanguageTranslation"
                                   option-value="ItemColumnId" model="action.ListProcess" on-change="getListColumns"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId, ListProcess: action.ListProcess}"
                                   modify="true" single-value></input-smart-table>
            </td>

            <td>
                <input-smart-table type="select" options="listCols[action.ProcessActionRowId]" watch-options="true"
                                   option-name="LanguageTranslation" option-value="ItemColumnId"
                                   model="action.ListItemColumnIds" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true"></input-smart-table>
            </td>

            <td>
                <input-smart-table type="multiselect" options="UserGroups" option-name="usergroup_name"
                                   option-value="item_id" model="action.UserGroupIds" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" options="views" option-name="viewName" option-value="viewId"
                                   model="action.Value3" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true" single-value="true"></input-smart-table>
            </td>
            <td>
                <input-button type="icon" ng-click="openStateSetDialog(action, $index);">
                    <i class="material-icons" aria-hidden="true">launch</i>
                </input-button>
            </td>
            <td>
                <input-smart-table type="select" single-value unselectable model="action.ConditionId"
                                   options="processConditions" option-value="ConditionId"
                                   option-name="LanguageTranslation" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" single-value unselectable model="action.NotificationType"
                                   options="notificationTypes" option-value="Type" option-name="Name"
                                   on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true">
                </input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" single-value unselectable model="action.ExcludeSender"
                                   options="[{'Name': 'No', 'Value': 0}, {Name: 'Yes', 'Value': 1}]"
                                   option-name="Name"
                                   option-value="Value"
                                   on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true">
                </input-smart-table>
            </td>
            <td></td>
        </tr>
        <tr ng-if="ungroupedRows.length == 0">
            <td colspan="10" class="align-center">{{'NO_PROCESS_ACTIONS' | translate}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</table-container>

<table-header translate="HTTP_ACTIONS"></table-header>
<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
        <tr>
            <th style="width: 100px;">
                <div translate="PROCESS_ACTION_TYPE"></div>
            </th>
            <th class="align-left">
                <div translate="HTTP_TEMPLATE"></div>
            </th>
            <th class="align-left">
                <div translate="HTTP_RESPONSE_PARSER"></div>
            </th>
            <th>
                <div translate="ACTIONS_SET_CONDITION"></div>
            </th>

            <th class="icon">
                <input-button type="icon" ng-click="addProcessAction(3);">
                    <i class="material-icons" aria-hidden="true">add</i>
                </input-button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in ungroupedRows" ng-if="ungroupedRows.length > 0 && action.ProcessActionType == 11"
            table-select-row="{'index': $index, 'ProcessActionRowId': action.ProcessActionRowId, 'Ungrouped': true}">
            <td>
                <input-smart-table type="select" model="action.ProcessActionType" on-change="changeType"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId, ItemColumnId: action.ItemColumnId, oldValue: action.ProcessActionType}"
                                   options="httpAction" option-name="name" option-value="value"
                                   single-value="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" options="httpTemplates" option-name="Translation" option-value="ItemId"
                                   model="action.Value" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   single-value="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" options="httpParsers" model="action.Value2"
                                   on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   single-value="true" unselectable></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" single-value unselectable model="action.ConditionId"
                                   options="processConditions" option-value="ConditionId"
                                   option-name="LanguageTranslation" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"></input-smart-table>
            </td>
            <td></td>
        </tr>
        <tr ng-if="ungroupedRows.length == 0">
            <td colspan="6" class="align-center">{{::'NO_PROCESS_ACTIONS' | translate}}</td>
        </tr>
        </tbody>
    </table>
</table-container>

<table-header translate="PROCESS_CUSTOM_ACTIONS"></table-header>
<table-container>
    <table materialize table-selected-rows="selectedRows">
        <thead>
        <tr>
            <th style="width: 100px;">
                <div translate="PROCESS_ACTION_TYPE"></div>
            </th>
            <th class="align-left">
                <div translate="CUSTOM_ACTION"></div>
            </th>
            <th class="align-left">
                <div translate="CUSTOM_ACTION_OPTION_1"></div>
            </th>
            <th class="align-left">
                <div translate="CUSTOM_ACTION_OPTION_2"></div>
            </th>
            <th>
                <div translate="ACTIONS_SET_CONDITION"></div>
            </th>

            <th class="icon">
                <input-button type="icon" ng-click="addProcessAction(4);">
                    <i class="material-icons" aria-hidden="true">add</i>
                </input-button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in ungroupedRows" ng-if="ungroupedRows.length > 0 && action.ProcessActionType == 12"
            table-select-row="{'index': $index, 'ProcessActionRowId': action.ProcessActionRowId, 'Ungrouped': true}">
            <td>
                <input-smart-table type="select" model="action.ProcessActionType" on-change="changeType"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId, ItemColumnId: action.ItemColumnId, oldValue: action.ProcessActionType}"
                                   options="customAction" option-name="name" option-value="value"
                                   single-value="true"></input-smart-table>
            </td>
            <td>
                <input-smart-table type="select" options="customActions" option-name="LanguageTranslation"
                                   option-value="ItemId" model="action.Value" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId, type: 'exe'}"
                                   single-value="true"></input-smart-table>
            </td>
            <td>
                <div>
                    <input-smart-table type="select" options="customActionOptions[action.Value][1]"
                                       model="action.Value2" on-change="changeValueNonGroup"
                                       on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                       single-value="true" unselectable option-name="Variable"
                                       option-value="Value"></input-smart-table>

                </div>
            </td>
            <td>
                <div>
                    <input-smart-table type="select" options="customActionOptions[action.Value][2]"
                                       model="action.Value3" on-change="changeValueNonGroup"
                                       on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                       single-value="true" unselectable option-name="Variable"
                                       option-value="Value"></input-smart-table>

                </div>
            </td>
            <td>
                <input-smart-table type="select" single-value unselectable model="action.ConditionId"
                                   options="processConditions" option-value="ConditionId"
                                   option-name="LanguageTranslation" on-change="changeValueNonGroup"
                                   on-change-parameters="{index: $index, ProcessActionRowId: action.ProcessActionRowId}"
                                   modify="true"></input-smart-table>
            </td>
            <td></td>
        </tr>
        <tr ng-if="ungroupedRows.length == 0">
            <td colspan="7" class="align-center">{{::'NO_PROCESS_ACTIONS' | translate}}</td>
        </tr>
        </tbody>
    </table>

