
<div class="row">
	<div class="col-xs-12 col-lg-6">
<!--		<input-smart type="select" model="process" label="PROCESS" options="processes" option-name="ProcessName" option-value="ProcessName" on-change="changeProcess"></input-smart>-->
		<input-string model="conf.path" label="URL" modify="!loading"></input-string>
		<input-text model="conf.payload" label="PAYLOAD" rows="10" modify="!loading"></input-text>

		<div class="align-row">
			<input-button modify="saveable" ng-click="!save()">SAVE</input-button>
			<input-button type="primary" modify="!loading" ng-click="delete()">DELETE</input-button>
			<input-button type="primary" modify="!loading" ng-click="put()">PUT</input-button>
			<input-button type="primary" modify="!loading" ng-click="post()">POST</input-button>
			<input-button type="primary" modify="!loading" ng-click="get()">GET</input-button>
		</div>
	</div>

	<div class="col-xs-12 col-lg-6">
		<div class="align-column">
			<loader ng-show="loading"></loader>
		</div>
		<div class="stretch" ng-show="result && !loading">
			<h1 class="h5" style="margin-bottom: 32px">
				{{result.status}} - {{result.statusText}}
			</h1>

			<table materialize>
				<tr ng-repeat="(key, config) in result.config">
					<td style="width: 25%">
						<h2 class="body-1">{{key}}</h2>
					</td>
					<td>
						<h2>{{config}}</h2>
					</td>
				</tr>
			</table>

			<h1 class="h5" style="margin-bottom: 32px">
				Response
			</h1>
			<table materialize>
				<thead>
					<tr>
						<th>
							Key
						</th>
						<th>
							Value
						</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="(key, value) in result.data">
					<td style="width: 25%">
						<h2 class="body-1">{{key}}</h2>
					</td>
					<td>
						<h2>{{value}}</h2>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>