board {
	display: block;
	position: relative;
	width: 100%;
	min-height: 256px;
	height: 100%;
	overflow-x: hidden;
	cursor: grab;
	cursor: -webkit-grab;

	.header {
		height: 40px;
		line-height: 40px;
	}

	.sub-headers {
		margin-bottom: 8px;

		> div {
			display: inline-block;
		}
	}

	.board-header {
		position: absolute;
		top: 0;
		z-index: 5;
		background-color: $primary-0;

		&, > .column-block {
			transition: box-shadow $transition-medium;
		}
	}

	.card-pointer {
		position: absolute;
		top: 0;

		> .pointer {
			width: 8px;
			height: 8px;
			border-radius: 4px;
		}

		> .line {
			height: 8px;
			width: 2px;
			margin-left: 3px;
			background-color: $text;
		}
	}

	.board-content {
		padding-top: 64px;
		height: 100%;
		background-color: $primary-0;

		> .column-block {
			overflow: hidden;
			padding-bottom: 128px;
		}
	}

	.column-block {
		background-color: $primary-0;
		padding: 0 3px;

		&.striped {
			background-color: $primary-100;
		}
	}

	.board-card {
		position: relative;
		padding-top: 16px;
		margin-bottom: 12px;
		flex-shrink: 0;
	}

	.card-content {
		min-height: 64px;
		padding: 16px 16px 8px 16px;
	}

	.card-description {
		white-space: pre-wrap;
		margin-top: 12px;
	}

	.card-chips {
		margin-top: 8px;
	}

	chip {
		margin: 4px 6px 0 0;
		height: 26px;

		> chip-name {
			line-height: 26px;
			height: 26px;
			font-size: 0.8125rem;
			cursor: grab;
			cursor: -webkit-grab;
			color: $text !important;
		}
	}
}