.cropper-modal {
	background-color: $primary-0;
}

.cropper-line, .cropper-point {
	background-color: $text;
}

.cropper-view-box {
	outline-color: $text;
}

cropper {
	display: block;

	> img {
		max-width: 100%;
		max-height: 55vh;
	}
}

div.flex-time-directive {
	width: 672px;
}

div.flex-time-report {
	width: 1600px;
}

div.flex-time-corrections {
	width: 1015px;
}

div.flex-time {
	tr:hover {
		background-color: transparent !important;
	}

	table.time-week {
		width: auto;
		margin-bottom: 0px;

		td {
			border-top: 0px;
			text-align: center;
			cursor: pointer !important;
			width: 79px;
		}

		td:first-child {
			padding-left: 15px;
			padding-right: 8px;
		}

		tr.low > td:first-child:not(.today) {
			width: 115px !important;
		}

		tr.low > td:first-child.today {
			width: 111px !important;
		}

		tr.low > td.today:not(.today) {
			width: 111px !important;
		}

		tr.low > td.today {
			width: 107px !important;
		}

		tr.low > td {
			height: 24px;

			i.material-icons {
				font-size: 16px;
				display: contents;
			}
		}

		tr.high > td:first-child:not(.today) {
			width: 115px !important;
		}

		tr.high > td:first-child.today {
			width: 111px !important;
		}

		tr.high > td.today:not(.today) {
			width: 111px !important;
		}

		tr.high > td.today {
			width: 107px !important;
		}

		tr.high > td {
			height: 36px;

			i.material-icons {
				font-size: 16px;
			}
		}

		td.row1, td.row2, td.row3 {
			padding: 0px;
		}

		td > div.row1 {
			height: 36px;
			line-height: 36px;
			border-top-left-radius: 36px;
			border-top-right-radius: 36px;
		}

		td > div.row2 {
			height: 36px;
			line-height: 36px;
		}

		td > div.row3 {
			height: auto;
			line-height: 37px;
			border-bottom-left-radius: 36px;
			border-bottom-right-radius: 36px;
		}

		td > div.today1 {
			border-top: 2px solid $accent-2;
			border-left: 2px solid $accent-2;
			border-right: 2px solid $accent-2;
			height: 34px !important;
			line-height: 32px !important;
		}

		td > div.today2 {
			border-left: 2px solid $accent-2;
			border-right: 2px solid $accent-2;
		}

		td > div.today3 {
			border-left: 2px solid $accent-2;
			border-right: 2px solid $accent-2;
			border-bottom: 2px solid $accent-2;
			line-height: 35px !important;
		}

		td.not_work {
			background-color: $primary-100;
		}

		td > div.selected {
			background-color: $accent-1 !important;
			cursor: default !important;
		}

		td.holiday, td.holiday i {
			color: $red;
		}
	}

	table.time-controls {
		width: auto;
		margin: 0px auto;

		td {
			border-top: 0px;
		}

		td.arrows {
			cursor: pointer !important;
			padding: 0px;
			width: 40px;
		}

		td.date {
			width: 125px;
			padding-right: 18px;
		}

		input-smart {
			margin-top: -23px;
		}

		input-container {
			height: 50px;
			margin-top: 22px;
		}

		td.user {
			width: 250px;
		}

		td.year {
			width: 80px;
		}

		td.month {
			width: 120px;
		}
	}

	table.time-inputs {
		width: auto;
		margin-bottom: 0px;

		th.day {
			width: 130px;
		}

		td.day {
			width: 130px;
			padding-top: 5px;
			font-family: 'Roboto', 'Helvetica Neue', sans-serif;
			font-size: 1rem;
		}

		td.hours {
			padding-left: 4px;
			padding-right: 4px;

			input {
				width: 30px;
				text-align: right;
			}

			div.input-value {
				width: 30px;
				text-align: right;
				margin-left: 0px !important;
				padding-right: 1px;
			}

			input-container {
				min-width: 30px;
				height: 52px;
			}
		}

		td.minutes {
			padding-left: 4px;
			padding-right: 4px;

			input {
				width: 30px;
			}

			div.input-value {
				width: 30px;
				margin-left: 0px !important;
				padding-left: 1px;
			}

			input-container {
				min-width: 30px;
				height: 52px;
			}
		}

		td.lunch-hours, td.lunch-minutes, td.work-hours, td.work-minutes {
			padding-left: 4px;
			padding-right: 4px;

			input {
				width: 25px;
				text-align: right;
			}

			div.input-value {
				width: 25px;
				text-align: right;
				margin-left: 0px !important;
				padding-right: 1px;
			}

			input-container {
				min-width: 30px;
				height: 52px;
			}
		}

		td.colon {
			width: 3px;
			padding: 0px;
			padding-top: 5px;
		}

		td.dash {
			width: 4px;
			padding: 0px;
			padding-top: 5px;
			padding-left: 8px;
		}

		td.h, td.m {
			width: 4px;
			padding: 0px;
			padding-top: 5px;
			padding-left: 4px;
		}

		td.space, th.space {
			width: 20px;
		}

		td.delete, th.add {
			width: 24px;
			text-align: right;
			padding: 0px;
			padding-top: 6px;
		}

		td.add {
			padding-top: 8px;

			div.btn {
				min-width: 0px;
			}
		}

		td.start_conflict, td.start_conflict input, td.end_conflict, td.end_conflict input, td.order_conflict, td.order_conflict input, td.lunch_conflict, td.lunch_conflict input {
			color: $red;
		}

		td.day_hours {
			text-align: right;
		}

		th.day_hours_diff_report {
			width: 80px;
		}

		td.day_hours_diff_report {
			width: 80px;
			padding-top: 5px;
			font-size: 1rem;

			span {
				font-size: 0.8125rem;
			}
		}

		th.calendar_events {
			width: 150px;
		}

		td.calendar_events {
			width: 150px;
			padding-top: 18px;
			padding-bottom: 14px;
			font-family: 'Roboto', 'Helvetica Neue', sans-serif;
			font-size: 1rem;
			white-space: pre-wrap;
			word-wrap: anywhere;
		}

		td.balance, td.balance-total, td.day_hours, td.day_hours_diff {
			padding: 0px;
			font-size: 1rem;

			span {
				font-size: 0.8125rem;
			}
		}

		td.balance {
			width: 25px;
			padding-top: 5px;
			padding-left: 4px;
			padding-right: 4px;
			text-align: right;
			font-family: 'Roboto', 'Helvetica Neue', sans-serif;
			font-size: 1rem;
		}

		td.balance-total {
			padding-left: 16px;
		}

		td.comment {
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 9px;
			cursor: pointer !important;
		}

		tr.grey td {
			background-color: $primary-100;
		}

		tr.correction {
			background-color: $primary-300 !important;

			td.title {
				font-size: 1rem;
				padding-top: 18px;
			}
		}

		tr.comment {
			p {
				border-bottom: 1px solid transparent !important;
			}
		}

		td.report_comment {
			width: 650px;
			padding-top: 18px;
			padding-bottom: 14px;
			font-family: 'Roboto', 'Helvetica Neue', sans-serif;
			font-size: 1rem;
			white-space: pre-wrap;
			word-wrap: anywhere;
		}

		th.corrections-work-hours {
			width: 80px;
		}

		th.corrections-comment {
			width: 650px;
		}

		td.corrections-comment {
			width: 650px;
			padding-top: 18px;
			padding-bottom: 14px;
			font-family: 'Roboto', 'Helvetica Neue', sans-serif;
			font-size: 1rem;
			white-space: pre-wrap;
			word-wrap: anywhere;
		}

		td.special {
			width: 31px;
			padding-left: 8px;
			padding-right: 8px;

			input-container {
				min-width: 19px;
				height: 52px;
			}
		}

		td.reporting_special {
			input-container {
				height: 52px;
			}
		}
	}

	td {
		cursor: default !important;
	}

	input[readonly] {
		border-bottom: 1px solid transparent !important;
	}
}