﻿circular-visualization {
    ul {
        max-width: 100%;
        margin-left: 6px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 300px);

        li {
            width: 200px;
            height: 200px;
        }
    }
}
