horizontal-cells {
  .title {
    font-size: 14px;
  }

  .cells, .footer, .footer-item {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;

    .monday {
      font-size: 11px;
      position: absolute;
      background-color: transparent;
      padding-top: 16px;
      padding-left: 2px;
      margin-left: 0;
      margin-top: 0;
      border: none;
    }
  }


  .footer, .footer-item {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    font-size: 11px;
    justify-content: space-evenly;
    span {
      padding-left:2px;
    }
  }

  .cells div {
    border: solid 1px white;
  }

  .footer-item div {
    width: 10px;
    height: 10px;
  }
  
  .footer {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}