.tree-hierarchy {

  .node:hover {
    fill: $accent-2;
    font-size: 12px;
  }
  .node circle {
    fill: $primary-300;
    stroke: $primary-300;
    stroke-width: 2px;
  }
  .node circle:hover {
    stroke: $accent-2;
    fill: $accent-2;
  }
  .node {
    cursor: pointer;
  }
  .node text {
    font-size: 12px;
  }
  .link {
    fill: none;
    stroke: $primary-300;
    stroke-width: 1px;
  }

  .node--leaf {
    fill: $accent-1;
  }
  .label {
    font-size: 12px;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  .label, .node--root, .node--leaf {
    pointer-events: none;
  }
  circle:hover {
    stroke: $accent-2;
    stroke-width: 2px;
  }
  /*
  #tooltip {
    pointer-events: none;
  }
  #tooltip.hidden {
    display: none;
  }
  #tooltip p {
    margin: 0;
  }
  */
  .svg-container {
    width: 100%;
    overflow: hidden;
    //text-align: center;
  }
}